Repository gradle/gradle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gradle/bt-developer-productivity, @gradle/bt-product-operations, @gradle/bt-isolated-projects-project, @gradle/bt-docs-reviewers, @gradle/bt-architecture-council, @gradle/bt-cortex, @gradle/bt-tide, @gradle/bt-declarative-gradle-project, @gradle/dv-integrations-team, @gradle/bt-build-scan, @gradle/dv-testing-team, @gradle/bt-jvm

.github/CODEOWNERS:

## GitHub docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
##
## CODEOWNERS style rules:
## 1. Prefer team ownership over individual user ownership.
## 2. GBT-related team should be listed first.
## 3. Try to keep paths alphabetically sorted within visual groups.
## 4. List individual owners last.
##

# Build infrastructure
.teamcity/                                  @gradle/bt-developer-productivity
.github/                                    @gradle/bt-developer-productivity @gradle/bt-product-operations # This might need to be more finegrained in the future
/build-logic/                               @gradle/bt-developer-productivity
/build-logic-commons/                       @gradle/bt-developer-productivity
/build-logic-settings/                      @gradle/bt-developer-productivity
/build.gradle*                              @gradle/bt-developer-productivity
/settings.gradle*                           @gradle/bt-developer-productivity
gradle/shared-with-buildSrc/                @gradle/bt-developer-productivity
packaging/internal-build-reports/           @gradle/bt-developer-productivity
testing/distributions-basics/               @gradle/bt-developer-productivity
testing/distributions-core/                 @gradle/bt-developer-productivity
testing/internal-architecture-testing/      @gradle/bt-developer-productivity
testing/internal-integ-testing/             @gradle/bt-developer-productivity
testing/internal-performance-testing/       @gradle/bt-developer-productivity
testing/internal-testing/                   @gradle/bt-developer-productivity
testing/precondition-tester                 @gradle/bt-developer-productivity

# Release coordination
packaging/core-platform/                        @gradle/bt-product-operations
packaging/distributions-dependencies/           @gradle/bt-product-operations
packaging/distributions-full/                   @gradle/bt-product-operations
packaging/public-api                            @gradle/bt-product-operations
testing/performance/                            @gradle/bt-developer-productivity
testing/smoke-test/                             @gradle/bt-product-operations
testing/smoke-test/src/**/*IsolatedProjects*    @gradle/bt-product-operations @gradle/bt-isolated-projects-project
testing/soak/                                   @gradle/bt-developer-productivity
testing/distributions-integ-tests               @gradle/bt-developer-productivity
testing/public-api-tests                        @gradle/bt-developer-productivity
testing/integ-test/
version.txt
released-versions.json

# Dev setup
.idea                                   @gradle/bt-developer-productivity
.editorconfig                           @gradle/bt-developer-productivity
.gitignore                              @gradle/bt-developer-productivity
.gitattributes                          @gradle/bt-developer-productivity
gradle/                                 @gradle/bt-developer-productivity
gradle/wrapper                          # @gradle/bt-developer-productivity no need for coderewiews for wrapper
gradlew                                 @gradle/bt-developer-productivity
gradlew.bat                             @gradle/bt-developer-productivity
gradle.properties                       @gradle/bt-developer-productivity
gradle/detekt.yml                       @gradle/bt-developer-productivity
.mailmap
images/
.github/ISSUE_TEMPLATE                  @gradle/bt-product-operations
LICENSE                                 @gradle/bt-product-operations
*.md                                    @gradle/bt-product-operations @gradle/bt-docs-reviewers
contributing/                           @gradle/bt-product-operations @gradle/bt-docs-reviewers

# Cross-cutting architecture checks and decisions
.github/CODEOWNERS                          @gradle/bt-architecture-council
architecture/                               @gradle/bt-architecture-council
testing/architecture-test                   @gradle/bt-architecture-council

# These files change frequently, and changes to them don't need to automatically alert the architecture council
testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt

# Core automation platform (core/configuration)
platforms/core-configuration/               @gradle/bt-cortex
testing/smoke-ide-test/                     @gradle/bt-cortex
subprojects/composite-builds                @gradle/bt-cortex

# Core automation platform (Kotlin DSL)
build-logic/kotlin-dsl/                                     @gradle/bt-tide
build-logic/kotlin-dsl-shared-runtime/                      @gradle/bt-tide
platforms/core-configuration/kotlin-dsl/                    @gradle/bt-tide
platforms/core-configuration/kotlin-dsl-integ-tests/        @gradle/bt-tide
platforms/core-configuration/kotlin-dsl-plugins/            @gradle/bt-tide
platforms/core-configuration/kotlin-dsl-provider-plugins/   @gradle/bt-tide
platforms/core-configuration/kotlin-dsl-tooling-builders/   @gradle/bt-tide
platforms/core-configuration/kotlin-dsl-tooling-models/     @gradle/bt-tide

# Core automation platform (Declarative DSL)
platforms/core-configuration/declarative-dsl-api/                   @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-core/                  @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-evaluator/             @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-provider/              @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-tooling-builders/      @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-tooling-models/        @gradle/bt-declarative-gradle-project
platforms/core-configuration/declarative-dsl-internal-utils/        @gradle/bt-declarative-gradle-project

# Core automation platform (core/runtime)
platforms/core-runtime/                                     @gradle/bt-cortex
platforms/core-runtime/build-operations/                    @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-runtime/files/                               @gradle/bt-cortex @gradle/dv-integrations-team

# Core automation platform (core/execution)
platforms/core-execution/                                   @gradle/bt-cortex
platforms/core-execution/build-cache/                       @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/build-cache-base/                  @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/build-cache-http/                  @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/build-cache-packaging/             @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/build-cache-spi/                   @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/hashing/                           @gradle/bt-cortex @gradle/dv-integrations-team
platforms/core-execution/snapshots/                         @gradle/bt-cortex @gradle/dv-integrations-team

# Other core modules
subprojects/core                                            # @gradle/bt-cortex to be eventually moved to other core modules
subprojects/core-api                                        # @gradle/bt-cortex to be eventually moved to other core modules

# Develocity integration
platforms/enterprise/                                   @gradle/bt-build-scan
platforms/enterprise/enterprise/                        @gradle/bt-build-scan @gradle/dv-testing-team
platforms/enterprise/enterprise-logging/                @gradle/bt-build-scan @gradle/dv-testing-team

# JVM platform
platforms/jvm/                                      @gradle/bt-jvm
platforms/core-configuration/java-api-extractor     @gradle/bt-jvm

# JVM testing services also shared by GE testing plugins
platforms/jvm/testing-junit-platform/       @gradle/bt-jvm @gradle/dv-testing-team
platforms/jvm/testing-jvm/                  @gradle/bt-jvm @gradle/dv-testing-team
platforms/jvm/testing-jvm-infrastructure/   @gradle/bt-jvm @gradle/dv-testing-team

# Software platform
platforms/software/                         @gradle/bt-jvm

# Extensibility
platforms/extensibility/          @gradle/bt-tide
subprojects/build-events          @gradle/bt-tide

# Native
platforms/native/                 @gradle/bt-jvm

# IDE Experience
platforms/ide/                    @gradle/bt-tide
# Eventually be moved to the core platform.
# Currently heavily developed by the bt-ide-experience team.
platforms/ide/problems/           @gradle/bt-tide
platforms/ide/ide-native/         @gradle/bt-tide @gradle/bt-jvm

# Documentation
platforms/documentation/          @gradle/bt-docs-reviewers

platforms/documentation/docs/src/snippets/kotlinDsl/                                                        @gradle/bt-docs-reviewers @gradle/bt-tide
platforms/documentation/docs/src/docs/userguide/reference/dsl-apis/kotlin_dsl.adoc                          @gradle/bt-docs-reviewers @gradle/bt-tide
platforms/documentation/docs/src/docs/userguide/reference/dsl-apis/migrating_from_groovy_to_kotlin_dsl.adoc @gradle/bt-docs-reviewers @gradle/bt-tide

platforms/documentation/docs/src/docs/userguide/reference/core-plugins/base_plugin.adoc                 @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_dashboard_plugin.adoc      @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_init_plugin.adoc           @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/checkstyle_plugin.adoc           @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/codenarc_plugin.adoc             @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/distribution_plugin.adoc         @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/ear_plugin.adoc                  @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/jacoco_plugin.adoc               @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/java_gradle_plugin.adoc          @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/pmd_plugin.adoc                  @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/core-plugins/war_plugin.adoc                  @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/dependency-management/                        @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/platforms/jvm/                                @gradle/bt-docs-reviewers @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/directory_layout.adoc   @gradle/bt-docs-reviewers @gradle/bt-jvm

Link to issue
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.jvm-library.gradle.kts
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectDependencyPublicationResolver.java
Owners: @gradle/bt-developer-productivity, @gradle/bt-jvm

Move `DynamicCallContextTracker` to `Build` scope
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildModelControllerServices.kt
  subprojects/core/src/main/java/org/gradle/configuration/internal/DynamicCallContextTracker.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreCrossBuildSessionServices.java
Owners: @gradle/bt-cortex

Update Gradle wrapper to 9.3.0-20251101001627+0000
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Owners: none

Issue #35102: tryout fix memory leak in `VisitableURLClassLoader`
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classloader/VisitableURLClassLoaderTest.groovy
  platforms/core-runtime/classloaders/src/main/java/org/gradle/internal/classloader/VisitableURLClassLoader.java
Owners: @gradle/bt-cortex

deprecate warnings
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
Owners: @gradle/bt-developer-productivity

Update project configuration and add local.properties
  .idea/gradle.xml
  .idea/misc.xml
  local.properties
Owners: @gradle/bt-developer-productivity

Update jdks.yaml
  .teamcity/jdks.yaml
Owners: @gradle/bt-developer-productivity

Update jdks.yaml
  .teamcity/jdks.yaml
Owners: @gradle/bt-developer-productivity

Make the execution engine pipelines more similar
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionBuildServices.java
Owners: none

Fix some nullability problems in execution
  platforms/core-execution/execution/src/integTest/groovy/org/gradle/internal/execution/package-info.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/ExecutionEngine.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/ExecutionProblemHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/WorkValidationException.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/caching/CachingState.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/AbstractFingerprintChanges.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/CachingChangeContainer.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/ClasspathCompareStrategy.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/CompareStrategy.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/NonIncrementalInputChanges.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepository.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOverlappingOutputDetector.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/OutputSnapshotUtil.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultExecutionEngine.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AbstractCaptureStateBeforeExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AbstractSkipEmptyWorkStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AfterExecutionResult.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/BeforeExecutionContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/BuildCacheStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/BuildOperationStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/CancelExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/CaptureOutputsAfterExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ExecuteStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ExecutionRequestContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/IdentityCacheStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/IncrementalChangesContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/InputChangesContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/PreviousExecutionContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/UpToDateResult.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/WorkspaceContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/WorkspaceResult.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/package-info.java
  platforms/core-execution/execution/src/testFixtures/groovy/org/gradle/internal/execution/package-info.java
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/Try.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskExecution.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/package-info.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/BuildScriptCompilationAndInstrumentation.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/package-info.java
Owners: @gradle/bt-cortex

Make some private methods static
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/WorkValidationException.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/OutputsCleaner.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/ClasspathCompareStrategy.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/FingerprintMapSerializer.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultFileCollectionFingerprinterRegistry.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
Owners: @gradle/bt-cortex

Move null-checks to their own lines to make code more readable
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/ClasspathCompareStrategy.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/NonIncrementalInputChanges.java
Owners: @gradle/bt-cortex

Remove unnecessary @NonNull annotations
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/CompareStrategy.java
Owners: @gradle/bt-cortex

Define TestSource for ResourceBasedTestDescriptor
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/testing/testengine/descriptor/ResourceBasedTestDescriptor.java
Owners: @gradle/bt-jvm

Fix JavaDoc for InternalFetchAwareBuildController
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/resiliency/InternalFetchAwareBuildController.java
Owners: @gradle/bt-tide

Fix issue with nested classes not handling exclude filters
  platforms/jvm/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterFilteringIntegrationTest.groovy
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/filter/TestSelectionMatcher.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilter.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilterTest.groovy
Owners: @gradle/bt-jvm, @gradle/dv-testing-team

[prone] Apply `UnusedMethod` in `language-native`
  platforms/native/language-native/build.gradle.kts
  platforms/native/language-native/src/main/java/org/gradle/language/internal/DefaultBinaryCollection.java
  platforms/native/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/IncrementalCompileProcessor.java
Owners: @gradle/bt-jvm

Use TestNG for the TestNG display name, as this is the convention
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/NonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
Owners: @gradle/bt-jvm, @gradle/dv-testing-team

Inject ProjectLayout to avoid accessing project in task constructor
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Owners: @gradle/bt-jvm, @gradle/dv-testing-team

Remove separate getCandidateDefinitionDirs() property, just use getTestDefinitionDirs()
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/NonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Owners: @gradle/bt-jvm, @gradle/dv-testing-team

ComponentState no longer requires a ModuleVersionIdentifier upon construction
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/InMemoryResolutionResultBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolutionState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ModuleResolutionState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphComponent.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/VersionConflictResolutionDetails.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ComponentStateFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/oldresult/TransientConfigurationResultsBuilder.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/AbstractConflictResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandlerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultModuleConflictHandlerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestComponentResolutionState.java
Owners: @gradle/bt-jvm

Remove ModuleVersionIdentifier from ComponentIdResolveResult
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DynamicVersionResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/RepositoryChainDependencyToComponentIdResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/result/BuildableComponentIdResolveResult.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/result/ComponentIdResolveResult.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/result/DefaultBuildableComponentIdResolveResult.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestProjectSelectorState.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/resolve/result/DefaultBuildableComponentIdResolveResultTest.groovy
Owners: @gradle/bt-jvm

Improve TestEngine testing support with new fixture
  platforms/extensibility/unit-test-fixtures/src/test/groovy/org/gradle/testfixtures/ProjectBuilderTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginVersionIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/NonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/nonclassbased/AbstractNonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/nonclassbased/ClassAndNonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/nonclassbased/IncorrectSetupNonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/nonclassbased/NonClassBasedTestingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/DefaultTestScanner.java
  platforms/jvm/testing-jvm/src/testFixtures/groovy/testengines/TestEnginesFixture.groovy
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/rbt-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/descriptor/ResourceBasedTestDescriptor.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/rbt-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/engine/ResourceBasedSelectorResolver.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/rbt-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/engine/ResourceBasedTestEngine.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/rbt-engine/test-engine-build/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/descriptor/ClassBasedTestDescriptor.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/descriptor/ResourceBasedTestDescriptor.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/engine/ClassAndResourceBasedTestEngine.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/engine/ClassBasedSelectorResolver.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/java/org/gradle/testing/testengine/engine/ResourceBasedSelectorResolver.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/resource-and-class-engine/test-engine-build/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/shared/test-engine-build/build.gradle.kts
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/shared/test-engine-build/src/main/java/org/gradle/testing/testengine/util/DirectoryScanner.java
  platforms/jvm/testing-jvm/src/testFixtures/resources/testengines/shared/test-engine-build/src/main/java/org/gradle/testing/testengine/util/TestFileParser.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/IvyXmlModuleDescriptorParserTest.groovy
  platforms/software/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/ApacheDirectoryListingParserTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultRootTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultImportsReaderTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/TestResources.java
  testing/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestNameTestDirectoryProvider.java
  testing/internal-testing/src/main/groovy/org/gradle/util/internal/Resources.java
Owners: @gradle/bt-tide, @gradle/bt-jvm, @gradle/dv-testing-team, @gradle/bt-developer-productivity

Rename COmponentState.getComponentIdentifier to getId
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/InMemoryResolutionResultBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolutionState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ProjectDependencyForcingResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphPathResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphComponent.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/VirtualPlatformState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CapabilityConflictResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingGraphVisitor.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/AbstractConflictResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandlerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultModuleConflictHandlerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestComponentResolutionState.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingGraphVisitorTest.groovy
Owners: @gradle/bt-jvm

Support Java 26
  .teamcity/jdks.yaml
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/AsmConstants.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/core-runtime/stdlib-java-extensions/src/test/groovy/org/gradle/api/JavaVersionSpec.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/groovy/my-library/build.gradle
  platforms/documentation/docs/src/samples/groovy/library-publishing/kotlin/my-library/build.gradle.kts
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcGroovyVersionIntegrationTest.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/BasicZincScalaCompilerIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyHandlerApiResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/ImplementationDependencyRelocator.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
Owners: @gradle/bt-developer-productivity, @gradle/bt-product-operations, @gradle/bt-cortex, @gradle/bt-docs-reviewers, @gradle/bt-jvm

Fix lombok smoke test by updating lombok
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AnnotationProcessingSmokeTest.groovy
Owners: @gradle/bt-developer-productivity

Ignore newer Java versions in ProvisionedJdkReuseCrossVersionIntegrationTest
  platforms/jvm/toolchains-jvm/src/crossVersionTest/groovy/org/gradle/jvm/toolchain/internal/install/ProvisionedJdkReuseCrossVersionIntegrationTest.groovy
Owners: @gradle/bt-jvm

Wire Java 26 into CI builds, keeping 21 in available JDKs
  .teamcity/src/main/kotlin/common/Jvm.kt
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Owners: @gradle/bt-developer-productivity

Test and add max Java versions for Kotlin and AGP smoke tests
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
Owners: @gradle/bt-developer-productivity

Bump smoke-test plugin versions, fix/skip on 25 as needed
  gradle/dependency-management/smoke-tested-plugins.properties
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BNDSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ErrorPronePluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/FreefairAspectJPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PalantirConsistentVersionsPluginSmokeTest.groovy
Owners: @gradle/bt-developer-productivity

Move OutputEntry.Ser constant to outer class
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/OutputEntry.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableTestResultStore.java
Owners: @gradle/bt-jvm

Unify handling of getDifferentDaemonVersionFor, use in DaemonToolchainCrossVersionTest
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m9/GradlePropertiesToolingApiCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m9/M9JavaConfigurabilityCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCoexistWithCurrentOptionsCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r90/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
Owners: @gradle/bt-tide

Skip Groovy test that triggers a Java 26 compiler bug
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/AbstractToolchainGroovyCompileIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/groovy/compile/AbstractBasicGroovyCompilerIntegrationSpec.groovy
Owners: @gradle/bt-jvm

Bump JaCoCo in docs snippets
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/kotlin/build.gradle.kts
Owners: @gradle/bt-docs-reviewers

Increase xmx for performance tests
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/RichConsolePerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/VerboseTestOutputPerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIncrementalExecutionPerformanceTest.groovy
Owners: @gradle/bt-developer-productivity
