Repository gradle/gradle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gradle/bt-unassigned-maintainers, @gradle/bt-developer-productivity, @gradle/bt-product-operations, @gradle/bt-architecture-council, @gradle/bt-configuration, @gradle/bt-kotlin-dsl-maintainers, @gradle/bt-declarative-dsl, @gradle/bt-core-runtime-maintainers, @gradle/bt-execution, @gradle/dv-integrations-team, @bamboo, @alllex, @gradle/bt-build-scan, @gradle/dv-testing-team, @gradle/bt-jvm, @gradle/bt-extensibility-maintainers, @gradle/bt-native-maintainers, @gradle/bt-ide-experience, @gradle/bt-devrel-education

Clean accepted API changes
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Owners: @gradle/bt-unassigned-maintainers

Update version to 8.14
  version.txt
Owners: @gradle/bt-unassigned-maintainers

Clean release notes and welcome message for 8.14
  platforms/documentation/docs/src/docs/release/notes.md
Owners: @gradle/bt-devrel-education

Update library versions in build init to latest for 8.14
  platforms/documentation/docs/src/docs/release/release-notes-assets/AT_report_example.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/TEST_API_metadata.png
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
Owners: @gradle/bt-devrel-education, @gradle/bt-jvm

Update released version to latest snapshot
  released-versions.json
Owners: @gradle/bt-unassigned-maintainers

Update Gradle wrapper to 8.13-20250202000236+0000
  gradle/wrapper/gradle-wrapper.properties
Owners: @gradle/bt-unassigned-maintainers

Fix configuration cache issues
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/StandardJavadocDocletOptions.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFile.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/MapPropertyJavadocOptionFileOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/MultiValuePropertyJavadocOptionFileOption.java
Owners: @gradle/bt-jvm

Deprecate Project.task methods
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTemplatesTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-toolchains/groovy/application/build.gradle
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-toolchains/groovy/list/build.gradle
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/RunBuildDependenciesTaskBuilder.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/RunEclipseTasksBuilder.java
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/AbstractCompositeBuildIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildPluginDevelopmentIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
Owners: @gradle/bt-kotlin-dsl-maintainers, @gradle/bt-devrel-education, @gradle/bt-ide-experience, @gradle/bt-unassigned-maintainers

Clean accepted API changes
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Owners: @gradle/bt-unassigned-maintainers

Clean release notes and welcome message for 8.14
  platforms/documentation/docs/src/docs/release/notes.md
Owners: @gradle/bt-devrel-education

Update version to 8.14
  version.txt
Owners: @gradle/bt-unassigned-maintainers

Update library versions in build init to latest for 8.14
  platforms/documentation/docs/src/docs/release/release-notes-assets/AT_report_example.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/TEST_API_metadata.png
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
Owners: @gradle/bt-devrel-education, @gradle/bt-jvm

Update released version to latest snapshot
  released-versions.json
Owners: @gradle/bt-unassigned-maintainers

.github/CODEOWNERS:

## GitHub docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
##
## CODEOWNERS style rules:
## 1. Prefer team ownership over individual user ownership.
## 2. GBT-related team should be listed first.
## 3. Try to keep paths alphabetically sorted within visual groups.
## 4. List individual owners last.
##

# bt-unassigned-maintainers must be the first owner
# All directories that are not explicitly listed below are considered
# unassigned. This means that the ownership may be unknown, lost or
# mixed across several groups.
* @gradle/bt-unassigned-maintainers

# Build infrastructure
.teamcity/                                  @gradle/bt-developer-productivity
.github/                                    @gradle/bt-developer-productivity @gradle/bt-product-operations # This might need to be more finegrained in the future
/build-logic/                               @gradle/bt-developer-productivity
/build-logic-commons/                       @gradle/bt-developer-productivity
/build-logic-settings/                      @gradle/bt-developer-productivity
/build.gradle*                              @gradle/bt-developer-productivity
/settings.gradle*                           @gradle/bt-developer-productivity
gradle/shared-with-buildSrc/                @gradle/bt-developer-productivity
platforms/build-infrastructure/             @gradle/bt-developer-productivity
subprojects/internal-build-reports/         @gradle/bt-developer-productivity
testing/internal-architecture-testing/      @gradle/bt-developer-productivity
testing/internal-integ-testing/             @gradle/bt-developer-productivity
testing/internal-performance-testing/       @gradle/bt-developer-productivity
testing/internal-testing/                   @gradle/bt-developer-productivity

# Release coordination
subprojects/core-platform/              @gradle/bt-product-operations
subprojects/distributions-dependencies/ @gradle/bt-product-operations
subprojects/distributions-full/         @gradle/bt-product-operations
testing/performance/                    @gradle/bt-product-operations
testing/smoke-test/                     @gradle/bt-product-operations
testing/soak/                           @gradle/bt-product-operations

# Cross-cutting architecture checks and decisions
.github/CODEOWNERS                          @gradle/bt-architecture-council
architecture/                               @gradle/bt-architecture-council
testing/architecture-test                   @gradle/bt-architecture-council

# These files change frequently, and changes to them don't need to automatically alert the architecture council
testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json     @gradle/bt-unassigned-maintainers
testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt           @gradle/bt-unassigned-maintainers

# Core automation platform (core/configuration)
platforms/core-configuration/               @gradle/bt-configuration
testing/smoke-ide-test/                     @gradle/bt-configuration

# Core automation platform (Kotlin DSL)
build-logic/kotlin-dsl/                                     @gradle/bt-kotlin-dsl-maintainers
build-logic/kotlin-dsl-shared-runtime/                      @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl/                    @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-integ-tests/        @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-plugins/            @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-provider-plugins/   @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-tooling-builders/   @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-tooling-models/     @gradle/bt-kotlin-dsl-maintainers

# Core automation platform (Declarative DSL)
platforms/core-configuration/declarative-dsl-api/                   @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-core/                  @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-evaluator/             @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-provider/              @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-tooling-builders/      @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-tooling-models/        @gradle/bt-declarative-dsl
platforms/core-configuration/declarative-dsl-internal-utils/        @gradle/bt-declarative-dsl

# Core automation platform (core/runtime)
platforms/core-runtime/                                     @gradle/bt-core-runtime-maintainers
platforms/core-runtime/build-operations/                    @gradle/bt-core-runtime-maintainers @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-runtime/functional/                          @gradle/bt-core-runtime-maintainers @gradle/bt-execution @bamboo
platforms/core-runtime/files/                               @gradle/bt-core-runtime-maintainers @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-runtime/service-*/                           @gradle/bt-core-runtime-maintainers @alllex

# Core automation platform (core/execution)
platforms/core-execution/                                   @gradle/bt-execution
platforms/core-execution/build-cache/                       @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/build-cache-base/                  @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/build-cache-http/                  @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/build-cache-packaging/             @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/build-cache-spi/                   @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/hashing/                           @gradle/bt-execution @gradle/dv-integrations-team
platforms/core-execution/snapshots/                         @gradle/bt-execution @gradle/dv-integrations-team

# Develocity integration
platforms/enterprise/                                   @gradle/bt-build-scan
platforms/enterprise/enterprise/                        @gradle/bt-build-scan @gradle/dv-testing-team
platforms/enterprise/enterprise-logging/                @gradle/bt-build-scan @gradle/dv-testing-team
platforms/enterprise/enterprise-operations/             @gradle/bt-build-scan
platforms/enterprise/enterprise-plugin-performance/     @gradle/bt-build-scan

# JVM platform
build-logic/java-api-extractor              @gradle/bt-jvm
platforms/jvm/                              @gradle/bt-jvm
subprojects/plugins/                        @gradle/bt-jvm

# JVM testing services also shared by GE testing plugins
platforms/jvm/testing-junit-platform/       @gradle/bt-jvm @gradle/dv-testing-team
platforms/jvm/testing-jvm/                  @gradle/bt-jvm @gradle/dv-testing-team
platforms/jvm/testing-jvm-infrastructure/   @gradle/bt-jvm @gradle/dv-testing-team

# Software platform
platforms/software/                         @gradle/bt-jvm

# Extensibility
platforms/extensibility/        @gradle/bt-extensibility-maintainers

# Native
platforms/native/                   @gradle/bt-native-maintainers

# IDE Experience team
platforms/ide/                    @gradle/bt-ide-experience
# Eventually be moved to the core platform.
# Currently heavily developed by the bt-ide-experience team.
platforms/ide/problems/           @gradle/bt-ide-experience
platforms/ide/ide-native/         @gradle/bt-ide-experience @gradle/bt-native-maintainers

# Documentation
platforms/documentation/docs/src/docs/                                                        @gradle/bt-devrel-education
platforms/documentation/docs/src/samples/                                                     @gradle/bt-devrel-education
platforms/documentation/docs/src/docs-asciidoctor-extensions-base/                            @gradle/bt-devrel-education
platforms/documentation/docs/src/docs-asciidoctor-extensions/                                 @gradle/bt-devrel-education
platforms/documentation/samples/                                                       	      @gradle/bt-devrel-education

platforms/documentation/docs/src/snippets/kotlinDsl/                                                @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers
platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc                                 @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers
platforms/documentation/docs/src/docs/userguide/migration/migrating_from_groovy_to_kotlin_dsl.adoc  @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers

platforms/documentation/docs/src/docs/userguide/core-plugins/base_plugin.adoc                 @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/build_dashboard_plugin.adoc      @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc           @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/checkstyle_plugin.adoc           @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/codenarc_plugin.adoc             @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/distribution_plugin.adoc         @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/ear_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/jacoco_plugin.adoc               @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/java_gradle_plugin.adoc          @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/pmd_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/core-plugins/war_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/dep-man/                                      @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/jvm/                                          @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/reference/directory_layout.adoc               @gradle/bt-devrel-education @gradle/bt-jvm
platforms/documentation/docs/src/docs/userguide/troubleshooting/version_catalog_problems.adoc @gradle/bt-devrel-education @gradle/bt-jvm
