Repository gradle/gradle, pull requests merged in 2018-06, with the labels that each got.

#5543 Reduce string allocations when working with paths.
  subprojects/base-services/src/main/java/org/gradle/internal/FileUtils.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/FileUtilsTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/FileSystemSubset.java
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:contributor, in:core

#5610 Emit build operations for task registration / realization
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  subprojects/base-services/src/main/java/org/gradle/internal/operations/NullBuildOperationExecutor.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskCreationBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/execution/internal/ExecuteTaskBuildOperationDetails.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/TaskInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/ITaskFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskIdentity.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainerFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/RealizeTaskBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/RegisterTaskBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskStatistics.java
  subprojects/core/src/main/java/org/gradle/internal/execution/ExecuteTaskBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/ProjectScopeServicesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/util/NameValidatorTest.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationsFixture.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/BuildProgressCrossVersionSpec.groovy
Labels: from:member

#5600 Show errors in dependency insight report
  subprojects/core/src/main/java/org/gradle/internal/text/TreeFormatter.java
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/UnresolvedDependencyEdge.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/insight/DependencyInsightReporter.java
Labels: from:member, in:dependency-management

#5620 Update dependencies with known vulnerabilities
  gradle/dependencies.gradle
Labels: a:chore, from:member, in:core

#5614 Allow dependencies on a project with auxiliary publications
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectDependencyPublicationResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectDependencyPublicationResolverTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishMultiProjectIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishMultiProjectIntegTest.groovy
Labels: a:feature, from:member, in:publishing-plugin

#5563 Remove file leaks in Java/Groovy compiler
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesGroovyMultiProjectIntegrationTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/AbstractTestDirectoryProvider.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestDirectoryProvider.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompilerFactory.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AbstractIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/IsolatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileAvoidanceWithBuildCacheServiceIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AnnotationProcessingCompileTask.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AnnotationProcessorDiscoveringCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompilerFactory.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/ResourceCleaningCompilationTask.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerDecorator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerFactory.java
  subprojects/language-java/src/main/java/org/gradle/language/java/internal/JavaLanguagePluginServiceRegistry.java
  subprojects/language-java/src/main/java/org/gradle/language/java/internal/JavaToolChainServiceRegistry.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/AnnotationProcessorDiscoveringCompilerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DefaultJavaCompilerFactoryTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/BasicGroovyCompilerIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/InProcessGroovyCompilerIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/InvokeDynamicGroovyCompilerSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompileAvoidanceIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/fixtures/PluginUnderTest.groovy
Labels: a:bug, from:member, in:jvm-platform

#5604 Speed up FileHierarchySet#contains
  subprojects/base-services/src/main/java/org/gradle/internal/file/DefaultFileHierarchySet.java
Labels: a:chore, from:member, in:core

#5517 Fix failed UserGuideSamplesRunner tests
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/excluded-tests.kt
  subprojects/docs/src/samples/scala/crossCompilation/build.gradle
  subprojects/docs/src/samples/signing/maven-publish/build.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/UserGuideSamplesRunner.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/LogContent.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/SequentialOutputMatcher.groovy
Labels: a:chore, from:member, in:docs

#5556 Re-enable ignored TAPI tests
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/excluded-tests.kt
Labels: a:chore, from:member, in:tooling-api

#5516 Re-enable cross version test for Java 9+
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.java
Labels: a:chore, from:member, in:testing

#5557 Re-enable Jacoco test for Java9
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/excluded-tests.kt
  subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginMultiVersionIntegrationTest.groovy
  subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/rules/JacocoPluginCoverageVerificationIntegrationTest.groovy
Labels: a:chore, from:member, in:jacoco-plugin

#5629 Use daemon when forking from embedded executor
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/classpath/DefaultModuleRegistryTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DaemonGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
  subprojects/language-groovy/src/integTest/groovy/org/gradle/language/groovy/GroovyCompileJavaVersionTrackingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileJavaVersionIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonFeedbackIntegrationSpec.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonLifecycleSpec.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/SingleUseDaemonIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/ForegroundDaemonConfiguration.java
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#5221 Remove the dependency between javadoc tasks of dependent java projects
  subprojects/docs/src/docs/release/notes.md
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocWorkAvoidanceIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: a:bug, from:contributor, in:jvm-platform, waiting-for:gradle-team

#5324 Continue executing tests if irreplaceable security manager is installed
  subprojects/docs/src/docs/release/notes.md
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestWorker.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestingIntegrationTest.groovy
Labels: a:bug, from:contributor, in:testing, waiting-for:gradle-team

#5647 Emit build operation for executing taskgraph whenReady hooks
  subprojects/core/src/integTest/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/logging/LoggingBuildOperationProgressIntegTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/NotifyTaskGraphWhenReadyBuildOperationType.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
Labels: from:member

#5643 Let `CacheKeyBuilder` accept `HashCode` components
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CacheKeyBuilder.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheKeyBuilder.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheKeyBuilderTest.groovy
Labels: a:feature, from:member, in:core

#5644 Let `IdeaPlugin` declare public type of `idea` extension
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/IdeaPlugin.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/idea/IdeaPluginTest.groovy
Labels: a:feature, from:member, in:idea-plugin

#5609 Allow archive artifacts to accept lazy task providers
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/IntTestImagePlugin.kt
  subprojects/build-comparison/src/main/java/org/gradle/api/plugins/buildcomparison/outcome/internal/tooling/PublishArtifactToFileBuildOutcomeTransformer.java
  subprojects/build-comparison/src/test/groovy/org/gradle/api/plugins/buildcomparison/outcome/internal/tooling/PublishArtifactToFileBuildOutcomeTransformerTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/LazyPublishArtifact.java
  subprojects/distributions/distributions.gradle
  subprojects/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppLibraryPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/distribution/plugins/DistributionPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/WarPlugin.java
  subprojects/plugins/src/test/groovy/org/gradle/api/distribution/plugins/DistributionPluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaLibraryPluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: a:chore, from:member

#5619 Get the `buildScan` extension early to prevent CME with multi-threaded data gathering
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:bug, from:member, in:gradle-build

#5642 Remove createLater completely
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/performance/templates.gradle
Labels: a:chore, from:member, in:core

#5650 Update jmh plugin version
  buildSrc/subprojects/profiling/profiling.gradle.kts
Labels: from:member

#5655 use seperate flag for activating task creation build ops
  subprojects/build-scan-performance/src/performanceTest/groovy/org/gradle/performance/BuildScanPluginPerformanceTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskCreationBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
Labels: from:member

#5547 Throw UnknownDomainObjectException when extension isn't found
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/ExtensionsStorage.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/ExtensionsStorageTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: a:bug, from:contributor, in:core

#5607 Dogfood ComponentMetadataRule into the Gradle build
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/dependencies/DependenciesMetadataRulesPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  gradle/shared-with-buildSrc/code-quality-configuration.gradle.kts
Labels: from:member, in:dependency-management

#5656 Fix issue with lazy task configuration conversion
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
Labels: a:bug, from:member, in:gradle-build

#5663 Merge back flame graph improvements from gradle-profiler
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/FlameGraphSanitizer.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JfrFlameGraphGenerator.groovy
Labels: a:chore, from:member

#5666 Upgrade Kotlin DSL {0.17.5 => 0.18.0}
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core

#5670 Remove spurious kotlin-dsl plugin version declaration
  buildSrc/build.gradle.kts
Labels: a:chore, from:member, in:gradle-build

#5675 Upgrade Kotlin DSL {0.18.0 => 0.18.1}
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core

#5662 Require distribution in less integration tests
  subprojects/core/src/integTest/groovy/org/gradle/api/ProfilingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/BuildResultLoggerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CacheProjectIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/MixInCoreTypesTransformingClassLoaderIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/ScalaAnnotationProcessingIntegrationTest.groovy
Labels: a:chore, from:member

#5701 Restore compatibility with artifactory/bintray plugins
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginLegacyPluginPublishingIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/IvyPluginPublishingPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/MavenPluginPublishPlugin.java
Labels: a:bug, from:member, in:publishing-plugin

#5725 Short circuit conflict resolution for identical version
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencySubstitutionRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
Labels: a:bug, from:member, in:dependency-management

#5726 Backport and fix regression for 4.8.1
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/collections/DefaultPendingSource.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/DefaultPendingSourceTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/GroovyBasePluginIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/SourceSetUtil.java
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
Labels: a:bug, from:member, in:core

#5667 Consistently report conflict resolution
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ComponentReplacementIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyMetadataRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyResolveRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencySubstitutionRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishedDependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesUseCasesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/PublishedCapabilitiesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/ComponentSelectionRulesDependencyResolveIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyDynamicRevisionRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenRealProjectsDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/suppliers/DynamicRevisionRemoteResolveWithMetadataSupplierIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/VersionSelectionReasonResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultConflictHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/VersionConflictResolutionDetails.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectionDescriptorInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultComponentSelectionDescriptor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/VersionSelectionReasonResolverTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/reporting/dependencies/HtmlDependencyReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/docs/src/samples/userguideOutput/dependencyInsightReport.out
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
Labels: from:member, in:dependency-management

#5734 Add support for specifying TLS protocols
  subprojects/internal-performance-testing/src/integTest/groovy/org/gradle/performance/fixture/MavenDownloaderTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/resources-http/src/integTest/groovy/org/gradle/internal/resource/transport/http/HttpClientConfigurerIntegrationTest.groovy
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpClientConfigurer.java
Labels: in:core

#5744 Fix order dependent resolution when module is evicted
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
Labels: from:member, in:dependency-management

#5743 Prefer first non-synthetic extension public type when inferring the public type
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultConvention.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/ExtensionContainerTest.groovy
Labels: a:bug, from:member, in:core

#5753 Fix AbstractCopyTaskContractTest
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractCopyTaskContractTest.groovy
Labels: a:bug, from:member, in:core

#5752 Fix regression in resolution error handling
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationDependenciesBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
Labels: a:bug, from:member, in:dependency-management

#5758 Better tests for artifact transform scheduling
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
Labels: from:member, in:build-cache

#5761 Don't use `JavaCompile.include` to filter `.java` files
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/NormalizingJavaCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/NormalizingJavaCompilerTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/JavaCompilerIntegrationSpec.groovy
Labels: from:member

#5759 Treat `latest.xxx` differently when dependency locking is in action
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/LockingInteractionsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/LatestVersionSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
Labels: a:bug, from:member, in:dependency-management

#5784 Update 3rd party plugins to latest versions
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gretty-example/build.gradle
Labels: a:chore, from:member

#5585 Use latest Gosu plugin 0.3.10
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: from:contributor, waiting-for:gradle-team

#5792 Add Kotlin DSL 0.18 to the release notes preamble
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member

#5762 Support snapshot plugin versions
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/plugin/PluginBuilder.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingSnapshotFromPluginRepositorySpec.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  subprojects/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
Labels: a:feature, from:contributor, in:plugin-management

#5751 Cleanup unused version-specific caches and corresponding wrapper distributions
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/VersionSpecificCacheAndWrapperDistributionCleanupServiceIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CrossBuildFileHashCache.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCacheScopeMapping.java
  subprojects/core/src/main/java/org/gradle/cache/internal/VersionSpecificCacheAndWrapperDistributionCleanupService.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/VersionSpecificCacheAndWrapperDistributionCleanupServiceTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/VersionSpecificCacheAndWrapperDistributionCleanupServiceFixture.groovy
Labels: a:feature, from:member, in:core

#5804 Make dependency management cleanup actions observable
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformedFileCache.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultCacheLockingManagerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformedFileCacheTest.groovy
Labels: a:feature, from:member, in:dependency-management

#5749 Use Lookup instead of reflection on Java 9+
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/java/AvailableJavaInstallations.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  settings.gradle.kts
  subprojects/base-services-java9/base-services-java9.gradle.kts
  subprojects/base-services-java9/src/main/java/org/gradle/internal/classloader/ClassDefiner.java
  subprojects/base-services-java9/src/main/java/org/gradle/internal/classloader/ClassLoaderPackagesFetcher.java
  subprojects/base-services-java9/src/main/java/org/gradle/internal/classloader/LookupClassDefiner.java
  subprojects/base-services-java9/src/main/java/org/gradle/internal/classloader/LookupPackagesFetcher.java
  subprojects/base-services/base-services.gradle.kts
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ClassLoaderUtils.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/MultiParentClassLoader.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
Labels: a:chore, from:member

#2062 Decouple Play and Twirl versions
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/PlayTwirlAdapterV22X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/PlayTwirlAdapterV23X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/PlayTwirlAdapterV26X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/TwirlCompilerAdapterV10X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/TwirlCompilerAdapterV13X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/TwirlCompilerAdapterV22X.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/TwirlCompilerFactory.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/twirl/VersionedPlayTwirlAdapter.java
Labels: a:feature, from:contributor, in:play, waiting-for:gradle-team

#5793 Wire `FileCollection` to task dependency when constructed from `TaskProvider`
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/TextResourceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskIntegrationSpec.groovy
  subprojects/core/src/integTest/resources/org/gradle/api/resource/TextResourceIntegrationTest/shared/build.gradle
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/BuildDependenciesOnlyFileCollectionResolveContext.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/BuildDependenciesOnlyFileCollectionResolveContextTest.groovy
Labels: a:bug, from:member, in:core

#5794 Expose the task name through the `TaskProvider`
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskProvider.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: a:feature, from:member, in:core

#5797 Use immutable file collections whenever possible
  subprojects/announce/src/main/java/org/gradle/api/plugins/announce/AnnouncePluginExtension.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultFileOperations.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/FileOperations.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/FileResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/HasFileOperations.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/ImmutableFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/resources/DefaultTextResourceFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/resources/package-info.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/BasicScript.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/DefaultScript.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/BaseDirFileResolverSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultFileOperationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/ImmutableFileCollectionTest.groovy
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/internal/DefaultXcodeProject.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/internal/XcodeTarget.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/DefaultIdeArtifactRegistry.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/AntGroovydoc.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppExecutable.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppSharedLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppStaticLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/DefaultNativeComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftExecutable.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftSharedLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftStaticLibrary.java
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppApplicationTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppLibraryTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftApplicationTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftLibraryTest.groovy
  subprojects/platform-play/src/main/java/org/gradle/play/tasks/JavaScriptMinify.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/internal/DefaultCppTestExecutable.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/DefaultSwiftXCTestExecutable.java
  subprojects/testing-native/src/test/groovy/org/gradle/nativeplatform/test/cpp/internal/DefaultCppTestSuiteTest.groovy
  subprojects/testing-native/src/test/groovy/org/gradle/nativeplatform/test/xctest/internal/DefaultSwiftXCTestSuiteTest.groovy
Labels: from:member

#5803 Delete empty parent dirs of deleted cache entries
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/DefaultCacheLockingManagerIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/AbstractCacheCleanup.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/AbstractCacheCleanupTest.groovy
Labels: a:feature, from:member, in:dependency-management

#5795 Fix tests on Java 9, 10, and 11-ea
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerArgumentsIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerGradleVersionIntegrationTest.groovy
Labels: a:chore, from:member, in:test-kit

#5802 Upgrade to ASM 6.2 to support Java 11 bytecode
  gradle/dependencies.gradle
Labels: a:feature, from:contributor, in:core

#5801 Use inception time of journal as fallback
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournal.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournalTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/tasks/AbstractCopyTaskTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/GradleUserHomeScopeServicesTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/DefaultCacheLockingManagerIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/cache/CachingIntegrationFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/cache/FileAccessTimeJournalFixture.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/WorkspaceTest.groovy
Labels: a:feature, from:member, in:core

#5805 Use PathToFileResolver where possible
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultFileLookup.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/FileLookup.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultCacheableTaskOutputFilePropertySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskInputFilePropertySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskPropertyFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/tasks/Copy.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/BaseDirFileResolverTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/util/DefaultJavaForkOptionsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/JvmOptionsTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompilerFactory.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/daemon/DaemonGroovyCompiler.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DaemonJavaCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompilerFactory.java
  subprojects/language-java/src/main/java/org/gradle/language/java/internal/JavaToolChainServiceRegistry.java
  subprojects/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/BaseForkOptionsConverter.java
  subprojects/language-scala/src/main/java/org/gradle/api/internal/tasks/scala/DaemonScalaCompiler.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/configuration/DaemonJvmOptionsTest.groovy
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/DaemonPlayCompiler.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/DefaultPlayToolChain.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/DefaultPlayToolProvider.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/PlayToolChainServiceRegistry.java
  subprojects/platform-play/src/test/groovy/org/gradle/play/internal/DefaultPlayToolChainTest.groovy
  subprojects/platform-play/src/test/groovy/org/gradle/play/internal/toolchain/DaemonPlayCompilerTest.groovy
  subprojects/platform-play/src/test/groovy/org/gradle/play/internal/toolchain/DefaultPlayToolProviderTest.groovy
  subprojects/reporting/src/main/java/org/gradle/api/reporting/internal/SimpleReport.java
  subprojects/reporting/src/test/groovy/org/gradle/api/reporting/internal/DefaultReportContainerTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/DaemonForkOptionsBuilder.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/DefaultWorkerConfiguration.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/DefaultWorkerExecutor.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DaemonForkOptionsMergeTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DaemonForkOptionsTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerConfigurationTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorParallelTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonExpirationTest.groovy
Labels: from:member

#5810 Use file access time journal for build cache
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheCleanupIntegrationTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  subprojects/build-cache/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceTest.groovy
Labels: a:feature, from:member, in:build-cache

#5819 Rename CacheLockingManager to ArtifactCacheLockingManager
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/DefaultArtifactCacheLockingManagerIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/DefaultModuleMetadataCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/DefaultModuleArtifactCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/DefaultModuleArtifactsCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/dynamicversions/DefaultModuleVersionsCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/transport/RepositoryTransportFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/cached/AbstractCachedIndex.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/cached/ByUrlCachedExternalResourceIndex.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/cached/DefaultCachedExternalResourceIndex.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transfer/DefaultCacheAwareExternalResourceAccessor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transport/ResourceConnectorRepositoryTransport.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transport/file/FileTransport.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheLockingManagerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/DefaultModuleArtifactCacheTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/cached/AbstractCachedIndexTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/cached/DefaultArtifactResolutionCacheTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/transfer/DefaultCacheAwareExternalResourceAccessorTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/ivyservice/ArtifactCacheLockingManagerStub.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/CrossVersionRetryRuleTest.groovy
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailureTest.groovy
Labels: a:chore, from:member, in:dependency-management

#5823 Upgrade Gradle Kotlin DSL to 0.18.4
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/CommandLineActionFactory.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/KotlinDslVersion.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/cli/CommandLineActionFactoryTest.groovy
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core
