Repository gradle/gradle, pull requests merged in 2018-12, with the labels that each got.

#7869 Tag CACHE_MISS upon unexpected cache miss
  buildSrc/subprojects/profiling/profiling.gradle.kts
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:chore, dev-productivity, from:member

#7856 Fix GradleVersion comparison and refactor GradleVersion
  subprojects/base-services/src/main/java/org/gradle/util/GradleVersion.java
  subprojects/base-services/src/test/groovy/org/gradle/util/GradleVersionTest.groovy
Labels: a:bug, dev-productivity, from:member

#7851 Ignore operating system dimension from output path and task name when unambiguous
  subprojects/language-native/src/integTest/groovy/org/gradle/language/LanguageTaskNames.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppBothLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppSharedLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppTaskNames.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/AbstractSwiftIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftBothLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftSharedLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftStaticLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppLibraryPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/Dimensions.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftLibraryPlugin.java
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cpp/CppUnitTestComponentWithBothLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cpp/CppUnitTestComponentWithSharedLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cpp/CppUnitTestComponentWithStaticLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cpp/CppUnitTestComponentWithoutComponentIntegrationTest.groovy
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/plugins/XCTestConventionPlugin.java
Labels: a:chore, from:member, in:native-platform

#7881 Artifact transform disambiguation
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/DisambiguateArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChain.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ChainedTransformerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformationMatchingSpec.groovy
Labels: from:member, in:dependency-management

#7874 Introduce BuildOperationType for executing scheduled transforms
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ExecuteScheduledTransformationStepBuildOperationType.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
Labels: a:feature, from:member, in:dependency-management

#7852 Fix xcodebuild output scrambling with Xcode 10
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/fixtures/AbstractXcodeIntegrationSpec.groovy
  subprojects/ide-native/src/main/resources/org/gradle/ide/xcode/tasks/internal/default.xcsettings
Labels: a:bug, from:member, in:native-platform

#7895 Implement fallback for touching empty files
  subprojects/base-services/src/main/java/org/gradle/util/GFileUtils.java
  subprojects/base-services/src/test/groovy/org/gradle/util/GFileUtilsTest.groovy
Labels: a:bug, from:member, in:core

#7905 Use same time source for waiting and measuring
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/ProjectConfigurationProgressEventCrossVersionSpec.groovy
Labels: a:chore, from:member, in:tooling-api

#7894 Make allVersionsCrossVersion also run functional tests to pick up 'all version' tests
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member

#7875 Coverage for :wrapper generated files reproducibility
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: in:wrapper

#7911 Support multiple concurrent executions of same TestNG class
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestResultProcessorAdapter.java
Labels: a:bug, from:member, in:testing

#7759 Remove tutorials from user manual
  subprojects/docs/src/docs/userguide/building_java_projects.adoc
  subprojects/docs/src/docs/userguide/tutorial_groovy_projects.adoc
  subprojects/docs/src/docs/userguide/tutorial_java_projects.adoc
  subprojects/docs/src/docs/userguide/tutorial_using_tasks.adoc
  subprojects/docs/src/docs/userguide/writing_build_scripts.adoc
Labels: from:member, in:docs

#7912 fix covered edit button on some pages
  subprojects/docs/src/docs/css/base.css
  subprojects/docs/src/docs/css/manual.css
Labels: from:member, in:docs

#7908 No special treatment of milestone versions when calculating next major
  subprojects/base-services/src/main/java/org/gradle/util/GradleVersion.java
  subprojects/base-services/src/test/groovy/org/gradle/util/GradleVersionTest.groovy
Labels: from:member, in:core

#7918 Always run code quality tasks in buildSrc
  buildSrc/build.gradle.kts
Labels: a:chore, dev-productivity, from:member

#7940 Fix virtual platform triggering failure
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformResolveMetadata.java
Labels: a:bug, from:member, in:dependency-management

#7942 Update location of kotlin-dsl IDE resolver logs on Windows
  subprojects/docs/src/docs/userguide/kotlin_dsl.adoc
Labels: from:member, in:docs, in:kotlin-dsl

#7935 Mention TAPI enhancements in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:docs

#7900 Support for architecture in Xcode IDE
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleCppProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleSwiftProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/fixtures/AbstractXcodeIntegrationSpec.groovy
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/internal/XcodeBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/internal/XcodeTarget.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/plugins/XcodePlugin.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/tasks/GenerateSchemeFileTask.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/tasks/GenerateXcodeProjectFileTask.java
  subprojects/ide-native/src/testFixtures/groovy/org/gradle/ide/xcode/fixtures/ProjectFile.groovy
Labels: a:feature, from:member, in:native-platform

#7956 Fix native testing for xcode 10
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativeLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativePreCompiledHeaderIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/DuplicateBaseNamesIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/assembler/AssemblyLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/assembler/AssemblyLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/c/MixedLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/nativeplatform/NativeLanguageSamplesIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/swift/AbstractSwiftComponentIntegrationTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AbstractInstalledToolChainIntegrationSpec.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AvailableToolChains.java
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/ToolChainRequirement.java
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/AbstractNativeUnitTestIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitDependentComponentsIntegrationSpec.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitSamplesIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestDependentComponentsIntegrationSpec.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestSamplesIntegrationTest.groovy
Labels: a:chore, from:member

#7843 Add test coverage for the execution engine
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/TaskFingerprintUtil.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepositoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/TaskFingerprintUtilTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuterTest.groovy
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/TestOutputFilesRepository.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/ExecutionTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/IncrementalExecutionTest.groovy
  subprojects/execution/src/testFixtures/groovy/org/gradle/internal/execution/TestExecutionHistoryStore.java
  subprojects/files/src/main/java/org/gradle/api/internal/file/collections/ImmutableFileCollection.java
Labels: from:member

#7937 Support for architecture in Visual Studio IDE
  subprojects/ide-native/ide-native.gradle.kts
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/AbstractVisualStudioProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioCppApplicationProjectIntegationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioCppSharedLibraryLinkageProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioCppStaticLibraryLinkageProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioSingleProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/fixtures/AbstractVisualStudioIntegrationSpec.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/fixtures/AbstractXcodeIntegrationSpec.groovy
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/AbstractCppBinaryVisualStudioTargetBinary.java
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppTaskNames.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/VariantContext.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/ide/visualstudio/fixtures/ProjectFile.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/ide/visualstudio/fixtures/SolutionFile.groovy
Labels: a:feature, from:member, in:native-platform

#7946 Document kotlin-dsl IDE resolver logs cleanup
  subprojects/docs/src/docs/userguide/kotlin_dsl.adoc
Labels: from:member, in:docs, in:kotlin-dsl

#7966 Accept Kotlin lambdas as a lazy construct for e.g. files
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  subprojects/core/src/main/java/org/gradle/api/internal/DependencyClassPathProvider.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyClassPathNotationConverter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/notations/DependencyClassPathNotationConverterTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/GradleKotlinDslIntegrationTest.groovy
  subprojects/model-core/model-core.gradle.kts
  subprojects/model-core/src/main/java/org/gradle/util/DeferredUtil.java
Labels: a:feature, in:kotlin-dsl

#7980 Update user manual and samples for Kotlin DSL 1.0.5
  subprojects/docs/src/docs/userguide/kotlin_dsl.adoc
  subprojects/docs/src/samples/signing/conditional/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/files/archivesWithJavaPlugin/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/files/copy/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/files/fileCollections/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/files/inputFiles/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/kotlin/build.gradle.kts
Labels: from:member, in:docs

#7947 Fetch branch name from environment variable when necessary
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/DetermineBaselines.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  buildSrc/subprojects/plugins/src/test/groovy/org/gradle/plugins/performance/PerformanceTestIntegrationTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/util/Git.groovy
Labels: a:chore, dev-productivity, from:member

#7983 Remove WorkIdentity
  subprojects/core/src/main/java/org/gradle/api/internal/project/WorkIdentity.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskIdentity.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationDetails.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ActionIdentity.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ActionNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/main/java/org/gradle/execution/plan/Node.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNodeFactory.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskExecutionGraphInternal.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationNodeFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ExecuteScheduledTransformationStepBuildOperationDetails.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationIdentity.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformationNodeSpec.groovy
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTaskOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTransformOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/OperationDependenciesResolver.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/OperationDependencyLookup.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingApiSubscribableBuildActionRunnerRegistration.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionResultEvaluatorTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/TaskDependenciesCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/TransformProgressEventCrossVersionSpec.groovy
Labels: a:chore, from:member, in:core

#7994 Upgrade Kotlin DSL to 1.1.0
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
Labels: a:feature, from:member, in:kotlin-dsl

#7981 Improve transforms error handling
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/ArtifactTransformException.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformationException.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformParallelIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingArtifactVisitor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
Labels: from:member

#7985 Add a few unit tests for CacheStep
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipCachedTaskExecuterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/CacheStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/CacheStepTest.groovy
Labels: from:member

#7993 Set dirMode and fileMode for wrapper jar
  subprojects/wrapper/wrapper.gradle
Labels: from:member

#7986 Add sad case tests for transform dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultExecutionGraphDependenciesResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ExecutionGraphDependenciesResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
Labels: from:member

#7995 Draft Gradle 5.1 release notes and feature list
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: from:member, in:docs

#8002 rework 4.X to 5.0 upgrade guide
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: from:member, in:docs

#7999 Use a Try to handle errors in transform chains
  subprojects/base-services/src/main/java/org/gradle/internal/Try.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/TryTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChain.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationOperation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationSubject.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingArtifactVisitor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ChainedTransformerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransformsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
Labels: from:member

#8016 Polish transform dependencies sad cases
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
Labels: from:member

#8015 Remove Implementation-Version from Wrapper JAR manifest
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/wrapper.gradle
Labels: a:feature, from:member, in:wrapper

#7551 Set default value to annotationProcessorGeneratedSourcesDirectory
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.compile.CompileOptions.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AggregatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/IsolatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/UnknownIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilder.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilderTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/BasicGroovyCompilerIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/SourceSetUtil.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: a:feature, from:contributor, in:jvm-platform

#8019 Small improvements for execution engine
  subprojects/base-services/src/main/java/org/gradle/internal/Try.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/TryTest.groovy
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/command/BuildCacheCommandFactory.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/command/BuildCacheCommandFactoryTest.groovy
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/CacheableEntity.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/TaskArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/NoOutputsArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/ShortCircuitTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/TaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/IncrementalTaskAction.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionOutcome.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveTaskOutputCachingStateExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/ExecutionOutcome.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/Result.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/CacheStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/CatchExceptionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/CreateOutputsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/ExecuteStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/SkipUpToDateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/SnapshotOutputStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/StoreSnapshotsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/CacheStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/ExecutionTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/IncrementalExecutionTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/steps/SkipUpToDateStepTest.groovy
Labels: from:member

#8023 Upgrade ktlint-convention plugin to 0.2.0
  buildSrc/build.gradle.kts
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/KillLeakingJavaProcesses.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/BuildEnvironment.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/ProjectGroups.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/PublicApi.kt
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/buildtypes/BuildTypesPlugin.kt
Labels: in:gradle-build

#8022 Reuse cached content when hashing scripts
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptSourceHasher.java
  subprojects/core/src/test/groovy/org/gradle/groovy/scripts/internal/DefaultScriptSourceHasherTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CacheProjectIntegrationTest.groovy
Labels: from:member

#7870 Add sign to performance test graphs
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/FormatSupport.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/TestDataGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/TestPageGenerator.java
  subprojects/internal-performance-testing/src/main/resources/org/gradle/reporting/performanceGraph.js
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/ResultSpecification.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/TestDataGeneratorTest.groovy
Labels: a:chore, dev-productivity, from:member

#8029 Don't publish CACHE_MISS tag in buildScanPluginPerformanceTest
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:chore, dev-productivity, from:member

#8036 Remove history after no-source outputs have been cleaned
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/TaskArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/ExecutionHistoryStore.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultExecutionHistoryStore.java
  subprojects/execution/src/testFixtures/groovy/org/gradle/internal/execution/TestExecutionHistoryStore.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/StaleOutputIntegrationTest.groovy
Labels: from:member

#8042 Exclude virtual platform from resolution results
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AbstractAlignmentSpec.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphEdge.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
Labels: from:member, in:dependency-management

#7469 Update project_report_plugin.adoc
  subprojects/docs/src/docs/userguide/project_report_plugin.adoc
Labels: from:contributor, in:docs, waiting-for:gradle-team

#7444 Deprecate ProjectBuilder constructor
  subprojects/core/src/main/java/org/gradle/testfixtures/ProjectBuilder.java
  subprojects/docs/src/docs/release/notes.md
Labels: from:contributor, in:core, waiting-for:gradle-team

#8067 ignore ProjectBuilder deprecation warning when using builder
  subprojects/core/src/main/java/org/gradle/testfixtures/ProjectBuilder.java
  subprojects/docs/src/docs/release/notes.md
Labels: a:bug, from:contributor, in:core, waiting-for:gradle-team

#7938 Fix bad link to CreateStartScripts dsl doc in Application Plugin doc
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/application_plugin.adoc
Labels: a:bug, from:contributor, in:docs, waiting-for:gradle-team

#8079 Make Wrapper task work again on Windows
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
Labels: from:member

#8081 Use a flag to avoid duplicate CACHE_MISS tag
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:chore, dev-productivity

#8080 Add test for overwriting wrapper
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperUpgradeIntegrationTest.groovy
Labels: a:chore

#7806 Fix issue with leading zero in version numbers
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/StaticVersionComparator.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparatorTest.groovy
Labels: from:contributor, in:dependency-management

#8092 Add Kotlin DSL subprojects to TeamCity pipeline
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member

#8034 Move the Maven migration Guide to the user manual
  subprojects/docs/src/docs/userguide/img/build-scan-home.png
  subprojects/docs/src/docs/userguide/img/build-scan-performance-page.png
  subprojects/docs/src/docs/userguide/img/gradle-profile-report.png
  subprojects/docs/src/docs/userguide/img/groovy-build-scan.png
  subprojects/docs/src/docs/userguide/migrating_from_maven.adoc
  subprojects/docs/src/docs/userguide/userguide_single.adoc
  subprojects/docs/src/main/resources/header.html
  subprojects/docs/src/samples/userguide/mavenMigration/ant/groovy/build.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/ant/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/ant/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/ant/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/build.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/intTest/java/org/gradle/PersonIntTest.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/intTest/resources/org/gradle/test-resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/groovy/src/test/resources/org/gradle/test-resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/intTest/java/org/gradle/PersonIntTest.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/intTest/resources/org/gradle/test-resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/userguide/mavenMigration/basic/kotlin/src/test/resources/org/gradle/test-resource.xml
  subprojects/docs/src/samples/userguide/mavenMigration/importBom/groovy/build.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/importBom/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/importBom/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/importBom/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/multiModule/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/multiModule/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/multiModule/projects.out
  subprojects/docs/src/samples/userguide/mavenMigration/multiModule/projects.sample.conf
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/greeting-default.out
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/greeting-test.out
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/groovy/build.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/groovy/profile-default.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/groovy/profile-prod.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/groovy/profile-test.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/kotlin/profile-default.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/kotlin/profile-prod.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/kotlin/profile-test.gradle.kts
  subprojects/docs/src/samples/userguide/mavenMigration/profiles/kotlin/settings.gradle.kts
Labels: from:member, in:docs

#8062 Extract property discovery
  subprojects/base-services/src/main/java/org/gradle/internal/reflect/PropertyExtractor.java
  subprojects/base-services/src/main/java/org/gradle/internal/reflect/PropertyMetadata.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/reflect/PropertyExtractorTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
  subprojects/core-api/src/main/java/org/gradle/api/plugins/ExtensionAware.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/HasConvention.java
  subprojects/core/src/main/java/org/gradle/api/internal/IConventionAware.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskInputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/PropertySpecFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractPropertyNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultPropertyWalker.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultTypePropertyMetadataStore.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyValidationAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/TypePropertyMetadata.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/TypePropertyMetadataStore.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/InputPropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/AbstractNestedRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/IterableRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/MapRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/NestedRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/RootRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/RuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/RuntimeBeanNodeFactory.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/ScriptOrigin.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskInputsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskOutputsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultPropertyMetadataStoreTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultPropertyWalkerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultTypePropertyMetadataStoreTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/SearchPath.java
Labels: from:member

#8101 Ignore some directories for TeamCity
  .teamcity/Gradle_Check/configurations/StagePasses.kt
Labels: a:chore, dev-productivity

#8090 Add tooling API test coverage for multiple architecture
  subprojects/tooling-native/src/crossVersionTest/groovy/org/gradle/language/cpp/tooling/r52/CppModelCrossVersionSpec.groovy
Labels: a:chore, from:member, in:native-platform

#8111 Support for cygwin64 on CI infrastructure
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativeLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/objectivec/ObjectiveCLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativePlatformSamplesIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/platform/BinaryNativePlatformIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/toolchain/NativeToolChainDiscoveryIntegrationTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AbstractInstalledToolChainIntegrationSpec.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AvailableToolChains.java
Labels: a:chore, from:member

#8116 Fix incorrect commit version comparison behavior
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
Labels: from:member

#8115 Remove blank lines to get rid of flakiness
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/LogContent.java
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleBuildResultFunctionalTest.groovy
Labels: a:chore, dev-productivity

#8122 Add coverage for `allprojects` hook registered inside `projectsLoaded` build listener
  subprojects/core/src/integTest/groovy/org/gradle/api/InitScriptExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/BuildOperationCrossProjectConfigurator.java
Labels: a:chore, from:member, in:core

#8123 Support for testing mingw64 on CI
  subprojects/docs/src/docs/userguide/native_software.adoc
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativePlatformSamplesIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/platform/BinaryNativePlatformIntegrationTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/toolchain/NativeToolChainDiscoveryIntegrationTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AbstractInstalledToolChainIntegrationSpec.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AvailableToolChains.java
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestDependentComponentsIntegrationSpec.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestIntegrationTest.groovy
Labels: a:feature, from:member
