Repository gradle/gradle, pull requests merged in 2018-02, with the labels that each got.

#4308 Standalone implementation for empty file collection snapshot
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/AbstractFileCollectionSnapshotter.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CollectingFileCollectionSnapshotBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/EmptyFileCollectionSnapshot.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/FileCollectionSnapshot.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TaskOutputCacheCommandFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultGenericFileCollectionSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/EmptyFileCollectionSnapshotTest.groovy
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/Serializers.java
Labels: from:member

#4313 Upgrade `kotlin-dsl` {0.15.4 => 0.15.5}
  build.gradle
Labels: a:feature, from:member, in:core

#4328 Mention build cache support for Android and Kotlin
  subprojects/docs/src/docs/userguide/buildCache.adoc
Labels: from:member, in:build-cache, in:docs

#4272 Clean up the content in the dependency management Java tutorial
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/artifactDependenciesTutorial.adoc
  subprojects/docs/src/docs/userguide/dependencyManagementForJavaProjects.adoc
  subprojects/docs/src/docs/userguide/tutorialJavaProjects.adoc
  subprojects/docs/src/docs/userguide/tutorialUsingTasks.adoc
  subprojects/docs/src/docs/userguide/userguide.xml
  subprojects/docs/src/samples/userguide/artifacts/dependencyBasics/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/externalDependencies/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/uploading/build.gradle
Labels: a:chore, from:member, in:docs

#4287 Massaging of content in troubleshooting dependency resolution
  subprojects/docs/src/docs/userguide/declaringDependencies.adoc
  subprojects/docs/src/docs/userguide/inspectingDependencies.adoc
  subprojects/docs/src/docs/userguide/troubleshootingDependencyResolution.adoc
  subprojects/docs/src/samples/userguide/artifacts/resolutionStrategy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/troubleshooting/cache/changing/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/troubleshooting/cache/changing/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/troubleshooting/cache/dynamic/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/troubleshooting/cache/dynamic/settings.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesTroubleshootingDependencyResolutionIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#4305 Rename chapter and smaller touch ups
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/artifactDependenciesTutorial.adoc
  subprojects/docs/src/docs/userguide/artifactManagement.adoc
  subprojects/docs/src/docs/userguide/declaringDependencies.adoc
  subprojects/docs/src/docs/userguide/dependencyManagementForJavaProjects.adoc
  subprojects/docs/src/docs/userguide/dependencyManagementTerminology.adoc
  subprojects/docs/src/docs/userguide/inspectingDependencies.adoc
  subprojects/docs/src/docs/userguide/introductionDependencyManagement.adoc
  subprojects/docs/src/docs/userguide/javaLibraryPlugin.adoc
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
  subprojects/docs/src/docs/userguide/managingDependencyConfigurations.adoc
  subprojects/docs/src/docs/userguide/managingTransitiveDependencies.adoc
  subprojects/docs/src/docs/userguide/userguide.xml
  subprojects/docs/src/docs/userguide/workingWithDependencies.adoc
Labels: a:chore, from:member, in:docs

#4333 Fix some code formatting issues
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
Labels: a:bug, from:member, in:docs

#4255 Separate Dependency Constraint and Dependency declarations
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/DependencyConstraint.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/DependencyConstraintSet.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolvableDependencies.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/SelfResolvingDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependency.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyConstraintsAndResolutionStrategiesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyNotationIntegrationSpec.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyConstraintSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultDependencyConstraint.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DynamicAddDependencyMethods.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultDependencyDescriptorFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/oldresult/ResolvedConfigurationDependencyGraphVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyNotationParser.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandlerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandlerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilderTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultUsageContext.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/internal/java/JavaLibrary.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaLibraryPluginTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/ModuleMetadataFileGenerator.java
Labels: a:feature, from:member, in:dependency-management

#4340 Fix bugs when integrating with running Vintage engine on Spock
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestExecutionListener.java
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/VintageTestNameAdapter.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/BuildSrcSpockIntegrationTest.groovy
Labels: a:bug

#4335 Add docs for custom reason APIs
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/customizingDependencyResolutionBehavior.adoc
  subprojects/docs/src/docs/userguide/inspectingDependencies.adoc
  subprojects/docs/src/samples/userguide/artifacts/componentModuleMetadata/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/dependency-substitution/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/resolutionStrategy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/gradle.properties
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/settings.gradle
  subprojects/docs/src/samples/userguideOutput/dependencyReasonReport.out
Labels: in:dependency-management, in:docs

#4330 Update to build scan plugin 1.12
  gradle/buildScanInit.gradle
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedBuildScanPlugin.java
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/autoapply/AutoAppliedPluginsFunctionalTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: from:member

#4304 Add new API for enabling feature previews
  gradle.properties
  settings.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core/src/integTest/groovy/org/gradle/initialization/EvaluateSettingsBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/FeaturePreviewsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultSettingsTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ClientModuleDependenciesResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishedDependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoryInteractionDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenBomResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenLocalDependencyWithGradleMetadataResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenRemoteDependencyWithGradleMetadataResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/MavenMutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultMavenModuleResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultMutableMavenModuleResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/DefaultMavenModuleResolveMetadataTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/AbstractModuleDependencyResolveTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/javaLibraryPlugin.adoc
  subprojects/docs/src/docs/userguide/managingTransitiveDependencies.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/gradle.properties
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/constraintsFromBOM/gradle.properties
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/constraintsFromBOM/settings.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/FeaturePreviewsFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/GradleMetadataAwarePublishingSpec.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/ivy/src/testFixtures/groovy/org/gradle/api/publish/ivy/AbstractIvyPublishIntegTest.groovy
  subprojects/javascript/src/integTest/groovy/org/gradle/plugins/javascript/base/JavaScriptBasePluginIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppBasePlugin.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishCustomComponentIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/maven/AbstractMavenPublishIntegTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/GradleFeaturePreviewsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/LargeDependencyGraphPerformanceTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryConsumptionIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
Labels: from:member, in:dependency-management

#4337 Recommend folks use build scans for profiling.
  subprojects/core/src/integTest/groovy/org/gradle/api/ProfilingIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/profile/ReportGeneratingProfileListener.java
Labels: from:member, in:core

#4347 Merge non-cacheable task section with built-in support
  subprojects/docs/src/docs/userguide/buildCache.adoc
Labels: from:member, in:docs

#4351 Suggest folks invoking 'gradle help' visit help.gradle.org
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/HelpTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/configuration/Help.java
Labels: from:member, in:cli

#4334 Do not promote the software model as the future of Gradle in user guide
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/javaSoftware.adoc
  subprojects/docs/src/docs/userguide/softwareModel.adoc
  subprojects/docs/src/docs/userguide/softwareModelExtend.adoc
  subprojects/docs/src/docs/userguide/userguide.xml
  subprojects/docs/src/samples/javaLibraryPlugin/apispec-support/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/apispec-support/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/apispec-support/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/brokenclient/java/org/gradle/Client.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/client/java/org/gradle/Client.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/main/java/org/gradle/internal/PersonInternal.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/main/java/org/gradle/utils/StringUtils.java
  subprojects/docs/src/samples/javaLibraryPlugin/apispec/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/client/java/org/gradle/Client.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/collections/java/org/gradle/Collections.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/commons/java/org/gradle/Application.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/core/java/org/gradle/Person.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/core/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/server/java/org/gradle/PersonServer.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/src/verifier/java/org/gradle/Verifier.java
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/util/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/multiplecomponents/util/src/main/java/org/gradle/Utils.java
  subprojects/docs/src/samples/javaLibraryPlugin/quickstart/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/quickstart/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/quickstart/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/javaLibraryPlugin/quickstart/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/core/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/core/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/core/src/main/java6/org/gradle/Person6.java
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/core/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/server/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/server/src/main/java/org/gradle/Server.java
  subprojects/docs/src/samples/javaLibraryPlugin/targetplatforms/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-component-under-test/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-component-under-test/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-component-under-test/src/main/java/org/gradle/SmartApp.java
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-component-under-test/src/main/resources/org/gradle/resource.properties
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-component-under-test/src/test/java/org/gradle/SmartAppTest.java
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-standalone/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-standalone/settings.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-standalone/src/test/java/org/gradle/MyTest.java
  subprojects/docs/src/samples/javaLibraryPlugin/testing-junit-standalone/src/test/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/javaLibraryPlugin/toolchains/build.gradle
  subprojects/docs/src/samples/javaLibraryPlugin/toolchains/settings.gradle
  subprojects/docs/src/samples/userguideOutput/javaLibraryComponentReport.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryMultiComponents-clientJar.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryMultiComponents-serverJar.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryMultiComponents-verifierJar.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryQuickstart.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryTargetPlatforms-java6MainJar.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryTargetPlatforms-server.out
  subprojects/docs/src/samples/userguideOutput/javaLibraryTargetPlatforms.out
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/UserGuideSamplesRunner.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/SampleJavaLanguageIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#4324 Collect failures from included builds in a composite build
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildContinueOnMultipleFailuresIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildContinueOnSingleFailureIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskFailureCollector.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskInfoFactory.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildExceptionReporter.java
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildExceptionReporterTest.groovy
Labels: a:bug, from:member, in:composite-builds

#4325 Ignore nested class in JUnit platform test
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformUserGuideIntegrationTest.groovy
Labels: a:bug, from:member

#4346 Dependency management documentation fixes
  subprojects/docs/src/docs/userguide/customizingDependencyResolutionBehavior.adoc
  subprojects/docs/src/docs/userguide/declaringDependencies.adoc
  subprojects/docs/src/docs/userguide/managingDependencyConfigurations.adoc
Labels: from:member, in:dependency-management

#4336 Allow user home init script to be written in Kotlin
  subprojects/core-api/src/main/java/org/gradle/initialization/DirectoryInitScriptFinder.java
  subprojects/core-api/src/main/java/org/gradle/initialization/UserHomeInitScriptFinder.java
  subprojects/core-api/src/test/groovy/org/gradle/initialization/UserHomeInitScriptFinderTest.groovy
Labels: a:feature, from:member, in:core

#4362 Avoid duplicate `REQUESTED` selection reason
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/VersionSelectionReasons.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DependencyResultSerializerTest.groovy
Labels: a:bug, from:member, in:dependency-management

#4331 Validate incremental annotation processors
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AbstractIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/MultipleOriginIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/NonIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/SimpleIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/SingleOriginIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/UnknownIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/IncrementalAnnotationProcessingCompileTask.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompileSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalAnnotationProcessingCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerDecorator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalResultStoringDecorator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDeclaration.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IncrementalFiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IncrementalProcessingEnvironment.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IncrementalProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/MultipleOriginFiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/MultipleOriginProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/SingleOriginFiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/SingleOriginProcessor.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/AnnotationProcessorPathFactoryTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/IncrementalAnnotationProcessingCompilerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/IncrementalResultStoringDecoratorTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetectorTest.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/AnnotationProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/HelperProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/NonIncrementalProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/ServiceRegistryProcessorFixture.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompileAvoidanceIntegrationSpec.groovy
Labels: a:feature, from:member, in:jvm-platform

#4359 Correctly recognize JUnit Vintage test descriptor
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/BuildSrcSpockIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestEventAdapter.java
  subprojects/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/JUnitTestEventAdapterTest.groovy
Labels: a:bug, from:member, in:testing

#4364 Add argumentProviders to Exec task
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandleBuilder.java
  subprojects/core/src/test/groovy/org/gradle/api/tasks/ExecTest.groovy
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.AbstractExecTask.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/moreAboutTasks.adoc
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  subprojects/process-services/src/main/java/org/gradle/process/CommandLineArgumentProvider.java
  subprojects/process-services/src/main/java/org/gradle/process/ExecSpec.java
Labels: from:member

#4368 Moved call to remoteProcessor.processTestClass() into cricital section
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
Labels: a:bug, from:member, in:testing

#4367 Upgrade Kotlin DSL {0.15.5 => 0.15.6}
  build.gradle
Labels: a:feature, from:member, in:core

#4096 Refactor SingleMessageLogger
  subprojects/core-api/src/main/java/org/gradle/internal/deprecation/LoggingDeprecatable.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskValidationContext.java
  subprojects/core/src/main/java/org/gradle/internal/featurelifecycle/ScriptUsageLocationReporter.java
  subprojects/core/src/test/groovy/org/gradle/internal/featurelifecycle/ScriptUsageLocationReporterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/util/NameValidatorTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/FeatureHandler.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/FeatureUsage.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingIncubatingFeatureHandler.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/UsageLocationReporter.java
  subprojects/logging/src/main/java/org/gradle/util/SingleMessageLogger.java
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/FeatureUsageTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandlerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/SimulatedDeprecationMessageLogger.java
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/SimulatedGroovyCallLocation.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/SimulatedJavaCallLocation.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/platform/PlayMajorVersion.java
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/tasks/DefaultSourceSetContainerTest.groovy
Labels: a:chore, from:member, in:logging

#4332 Migrate antlr and base-services builds to Kotlin
  buildSrc/src/main/kotlin/build-extensions.kt
  settings.gradle.kts
  subprojects/antlr/antlr.gradle.kts
  subprojects/base-services/base-services.gradle
  subprojects/base-services/base-services.gradle.kts
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4338 Converted Pegdown to Kotlin. Removed plugin as there is no need for it.
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/gradle/plugins/pegdown/PegDown.groovy
  buildSrc/src/main/groovy/org/gradle/plugins/pegdown/PegDownPlugin.groovy
  buildSrc/src/main/kotlin/org/gradle/plugins/pegdown/PegDown.kt
  subprojects/docs/docs.gradle
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4363 Ignore inner classes when outer classes annotated with Enclosed
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitEnclosedRunnerIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestClassExecutor.java
Labels: a:bug, from:member, in:testing

#4378 Rework how `HttpServerFixture` handles connection
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/HttpServerFixture.groovy
Labels: a:bug, from:member, in:dependency-management

#4372 Remove warning message as issue of collecting failures was fixed
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildContinueOnSingleFailureIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoaderFactory.java
  subprojects/core/src/main/java/org/gradle/internal/composite/CompositeBuildSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/docs/src/docs/userguide/compositeBuilds.adoc
Labels: a:chore, from:member, in:composite-builds

#4389 Add Gradle Kotlin DSL 0.15.6 to the release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#4375 Encourage use of --scan when invoking dependency reports
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/dependencies/AsciiDependencyReportRenderer.java
  subprojects/docs/src/samples/userguideOutput/dependencyInsightReport.out
  subprojects/docs/src/samples/userguideOutput/dependencyReasonReport.out
  subprojects/docs/src/samples/userguideOutput/dependencyReport.out
Labels: from:member

#4373 Make docs left navigation scannable
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/commandLineInterface.adoc
  subprojects/docs/src/docs/userguide/continuousBuild.adoc
  subprojects/docs/src/docs/userguide/userguide.xml
Labels: from:member, in:docs

#4394 Update userguide & dsl for `failFast`
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.testing.Test.xml
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
Labels: a:chore

#4397 Stop forwarding if a process closed its streams
  subprojects/core/src/main/java/org/gradle/process/internal/streams/ExecOutputHandleRunner.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/AbstractJvmFailFastIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitFailFastIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGFailFastIntegrationTest.groovy
Labels: a:bug, from:member, in:testing

#4388 Convert compile.gradle to Kotlin
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/AvailableJavaInstallations.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/GradleCompilePlugin.kt
  gradle/compile.gradle
  gradle/groovyProject.gradle.kts
  gradle/java9plus.gradle
  subprojects/launcher/launcher.gradle
Labels: dogfood:kotlin-dsl, from:member

#4349 Fix problems with file tree outputs
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/StaleOutputIntegrationTest.groovy
Labels: from:member

#4387 Migrate build-types plugin to Kotlin
  buildSrc/src/main/groovy/org/gradle/plugins/buildtypes/BuildType.groovy
  buildSrc/src/main/groovy/org/gradle/plugins/buildtypes/BuildTypesPlugin.groovy
  buildSrc/src/main/kotlin/org/gradle/plugins/buildtypes/BuildType.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/buildtypes/BuildTypesPlugin.kt
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4412 Migrate build-types plugin to Kotlin
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/gradle/plugins/buildtypes/BuildType.groovy
  buildSrc/src/main/groovy/org/gradle/plugins/buildtypes/BuildTypesPlugin.groovy
  buildSrc/src/main/kotlin/org/gradle/plugins/buildtypes/BuildType.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/buildtypes/BuildTypesPlugin.kt
  buildSrc/src/test/kotlin/org/gradle/plugins/buildtypes/BuildTypesPluginTest.kt
Labels: a:chore, dogfood:kotlin-dsl, from:member

#4411 Visual Studio support for new native plugins
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioMultiProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioSingleProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioSoftwareModelMultiProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/VisualStudioSoftwareModelSingleProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleCppProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleSwiftProjectIntegrationTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/xcode/fixtures/AbstractXcodeIntegrationSpec.groovy
  subprojects/ide-native/src/main/groovy/org/gradle/ide/visualstudio/plugins/VisualStudioPlugin.java
  subprojects/ide-native/src/main/groovy/org/gradle/ide/visualstudio/plugins/VisualStudioPluginRules.java
  subprojects/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/internal/VisualStudioProjectFile.groovy
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/AbstractCppBinaryVisualStudioTargetBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/CppApplicationVisualStudioTargetBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/CppSharedLibraryVisualStudioTargetBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/CppStaticLibraryVisualStudioTargetBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/NativeSpecVisualStudioTargetBinary.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/VisualStudioProjectMapper.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/VisualStudioProjectRegistry.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/VisualStudioTargetBinary.java
  subprojects/ide-native/src/test/groovy/org/gradle/ide/visualstudio/internal/NativeSpecVisualStudioTargetBinaryTest.groovy
  subprojects/ide-native/src/test/groovy/org/gradle/ide/visualstudio/internal/VisualStudioProjectMapperTest.groovy
  subprojects/ide-native/src/test/groovy/org/gradle/ide/visualstudio/internal/VisualStudioProjectRegistryTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/plugins/NativeBasePlugin.java
  subprojects/language-native/src/test/groovy/org/gradle/language/plugins/NativeBasePluginTest.groovy
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/tasks/InstallExecutable.java
Labels: a:feature, from:member

#4402 Fail build when remote cache is useless
  build.gradle
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/AvailableJavaInstallations.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/GradleCompilePlugin.kt
Labels: from:member

#4398 Make tests relocatable when gradle-java-plugin is applied
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginRelocationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/PluginUnderTestMetadataIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/PluginUnderTestMetadata.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidateTaskProperties.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/package-info.java
Labels: from:member, in:plugin-development

#4435 Annotate public build cache types with `@NonNullApi`
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCacheCredentials.java
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/package-info.java
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/BuildCacheConfiguration.java
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/package-info.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/package-info.java
  subprojects/build-cache/src/main/java/org/gradle/caching/package-info.java
Labels: from:member

#4399 Added JUnitPlatformFailFastIntegrationTest
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformFailFastIntegrationTest.groovy
Labels: from:member, in:testing

#4407 Polishing of "Customizing the dependency resolution behavior" chapter in user guide
  subprojects/docs/src/docs/userguide/customizingDependencyResolutionBehavior.adoc
  subprojects/docs/src/samples/userguide/artifacts/defineConfiguration/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/defineRepository/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/project1/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/project2/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/project3/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project1/1.0/ivy-1.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project1/1.0/project1-1.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project2/1.0/ivy-1.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project2/1.0/project2-1.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project3/1.0/ivy-1.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/repo/org.example/project3/1.0/project3-1.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/defaultDependency/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/defaultDependency/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/ivyDynamicMode/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/ivyDynamicMode/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/api/1.9/api-1.9.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/api/1.9/ivy-1.9.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/api/2.0/api-2.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/api/2.0/ivy-2.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.3/client-1.3.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.3/ivy-1.3.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.4/client-1.4.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.4/ivy-1.4.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.5/client-1.5.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/client/1.5/ivy-1.5.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/lib/1.9/ivy-1.9.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/lib/1.9/lib-1.9.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/lib/2.0/ivy-2.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/repo/org.sample/lib/2.0/lib-2.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/metadataRule/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/replacementRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/replacementRule/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/resolutionStrategy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/resolutionStrategy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.3.0/api-1.3.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.3.0/ivy-1.3.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.4/api-1.4.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.4/ivy-1.4.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.5/api-1.5.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/api/1.5/ivy-1.5.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/lib/1.9/ivy-1.9.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/lib/1.9/lib-1.9.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/lib/2.0/ivy-2.0.xml
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/repo/org.sample/lib/2.0/lib-2.0.jar
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/substitutionRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/substitutionRule/settings.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesComponentMetadataRulesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesComponentSelectionRulesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDependencySubstitutionIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesResolutionStrategyIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#4432 Use attribute matching whenever target component has variants
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenScopesAndProjectDependencySubstitutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ConfigurationBoundExternalDependencyMetadata.java
Labels: from:member, in:dependency-management

#4439 Make caching of missing group:name permanent
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/CachedMissingModulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyDynamicRevisionRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCachePolicy.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCachePolicySpec.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: a:bug, from:member, in:dependency-management

#4380 Convert two old JMock based tests in Spock specifications
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultExceptionAnalyserTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultExceptionAnalyserTest.java
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultSettingsTest.groovy
Labels: from:member, in:dependency-management

#4448 Remove import of dependencies.gradle from buildSrc
  buildSrc/build.gradle.kts
  gradle/codeQuality.gradle
Labels: dogfood:kotlin-dsl, from:member, in:dependency-management

#4443 Remove eager start for included build controllers
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildControllers.java
Labels: in:composite-builds

#4405 Update Maven2Gradle.groovy
  subprojects/build-init/src/main/groovy/org/gradle/buildinit/plugins/internal/maven/Maven2Gradle.groovy
Labels: a:feature, from:contributor, in:build-init-plugin

#4446 Use jvmArgumentProviders in the Gradle build
  buildSrc/src/main/groovy/org/gradle/build/GradleDistribution.groovy
  buildSrc/src/main/groovy/org/gradle/testing/DistributionTest.groovy
  buildSrc/src/main/groovy/org/gradle/testing/IntegrationTest.groovy
  gradle/crossVersionTest.gradle
  gradle/distributionTesting.gradle.kts
  gradle/groovyProject.gradle.kts
  gradle/performanceTest.gradle
  subprojects/distributions/distributions.gradle
  subprojects/integ-test/integ-test.gradle
  subprojects/tooling-api/tooling-api.gradle
  subprojects/wrapper/wrapper.gradle
Labels: from:member

#4408 Migrate PerformanceTest plugin to Kotlin
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/accessors/accessors.kt
  buildSrc/src/main/kotlin/build-extensions.kt
  buildSrc/src/main/kotlin/org/gradle/kotlin/dsl/kotlin-dsl-upstream-candidates.kt
  buildSrc/src/main/kotlin/org/gradle/kotlin/dsl/kotlin-dsl-upstream.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/testfixtures/TestFixturesPlugin.kt
  buildSrc/src/test/kotlin/org/gradle/plugins/performance/PerformanceTestPluginTest.kt
  gradle/groovyProject.gradle.kts
  gradle/integTest.gradle.kts
  gradle/performanceTest.gradle
Labels: a:chore, dogfood:kotlin-dsl, from:member

#4415 Document JUnit 5 in Java Plugin chapter of userguide
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
  subprojects/docs/src/samples/testing/junitplatform/engine/build.gradle
  subprojects/docs/src/samples/testing/junitplatform/engine/src/test/java/org/gradle/junitplatform/JupiterTest.java
  subprojects/docs/src/samples/testing/junitplatform/jupiter/build.gradle
Labels: a:chore, from:member

#4441 Enable attribute matching with improved-pom-support
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoryInteractionDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ConfigurationBoundExternalDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultMavenModuleResolveMetadata.java
Labels: from:member, in:dependency-management

#4453 Rework release notes around dependency management.
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/managingTransitiveDependencies.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/versionsWithConstraints/build.gradle
Labels: a:chore, from:member, in:dependency-management

#4458 Converted `noDependencyResolutionDuringConfiguration.gradle` to Kotlin
  build.gradle
  gradle/noDependencyResolutionDuringConfiguration.gradle
  gradle/noDependencyResolutionDuringConfiguration.gradle.kts
Labels: a:chore, dogfood:kotlin-dsl, from:member

#4401 Migrated buildSrc modules/cleanup and remaining Java classes to Kotlin.
  buildSrc/src/main/groovy/org/gradle/modules/ClasspathManifestPatcher.groovy
  buildSrc/src/main/groovy/org/gradle/modules/JarPatcher.groovy
  buildSrc/src/main/groovy/org/gradle/modules/PatchExternalModules.groovy
  buildSrc/src/main/java/org/gradle/MinifyTransform.java
  buildSrc/src/main/java/org/gradle/ShadedJar.java
  buildSrc/src/main/java/org/gradle/ShadedJarCreator.java
  buildSrc/src/main/kotlin/org/gradle/MinifyTransform.kt
  buildSrc/src/main/kotlin/org/gradle/ShadedJar.kt
  buildSrc/src/main/kotlin/org/gradle/ShadedJarCreator.kt
  buildSrc/src/main/kotlin/org/gradle/cleanup/EmptyDirectoryCheck.kt
  buildSrc/src/main/kotlin/org/gradle/modules/ClasspathManifestPatcher.kt
  buildSrc/src/main/kotlin/org/gradle/modules/JarPatcher.kt
  buildSrc/src/main/kotlin/org/gradle/modules/PatchExternalModules.kt
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4469 Run initializers in RetryRule
  subprojects/internal-testing/src/main/groovy/org/gradle/testing/internal/util/RetryRule.groovy
  subprojects/internal-testing/src/test/groovy/org/gradle/testing/internal/util/RetryRuleTest.groovy
  subprojects/internal-testing/src/test/groovy/org/gradle/testing/internal/util/RetryRuleWithSetupRerunTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/RetryRuleContinuousIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerRetryRuleTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerUnsupportedFeatureFailureIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/ContinuousBuildCrossVersionToolingApiSpecificationRetryRuleTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/CrossVersionToolingApiSpecificationRetryRuleTest.groovy
Labels: from:member

#4429 Converted eclipse and idea scripts to Kotlin
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/accessors/accessors.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/ideconfiguration/IdeConfigurationExtension.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/ideconfiguration/IdeConfigurationPlugin.kt
  gradle/eclipse.gradle
  gradle/idea.gradle
  gradle/ideaTestSourcesWorkaround.gradle
  subprojects/internal-integ-testing/internal-integ-testing.gradle
  subprojects/internal-performance-testing/internal-performance-testing.gradle
  subprojects/internal-testing/internal-testing.gradle
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4449 Remove some of the Java 9 test excludes
  gradle/java9plus.gradle
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/enforcerplugin/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/expandProperties/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/flatmultimodule/webinar-parent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModule/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleWithNestedParent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleWithRemoteParent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/remoteparent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/sharedResources/maven_home/m2_home/conf/settings.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/singleModule/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/testjar/pom.xml
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/findbugs/FindBugsIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/findbugs/FindBugsRelocationIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#4475 Make troubleshooting docs actually useful
  subprojects/docs/src/docs/userguide/commandLineInterface.adoc
  subprojects/docs/src/docs/userguide/img/remote-debug-gradle.gif
  subprojects/docs/src/docs/userguide/img/troubleshooting-dependency-management-build-scan.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-refresh-eclipse.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-refresh-intellij.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-task-execution-build-scan.png
  subprojects/docs/src/docs/userguide/troubleshooting.adoc
Labels: from:member, in:docs

#4484 Rewrite installation docs to be much more thorough
  subprojects/docs/src/docs/userguide/installation.adoc
Labels: from:member, in:docs

#4482 Improve cache cleanup log message
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryCache.java
Labels: from:member, in:build-cache

#4490 Upgrade buildSrc Jsoup to 1.11.2 to fix idea generation
  buildSrc/build.gradle.kts
Labels: a:chore, from:member

#4493 Remove some unused scripts
  build.gradle
  gradle/buildTagging.gradle
  gradle/customM2Check.gradle
  gradle/fix-GRADLE-2492.gradle
Labels: a:chore, from:member

#4483 Better out-of-date message when tasks with actions declare no outputs
  subprojects/core/src/integTest/groovy/org/gradle/internal/execution/ExecuteTaskBuildOperationTypeIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/TaskInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/NoOutputsArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/ShortCircuitTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipTaskWithNoActionsExecuter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/ShortCircuitTaskArtifactStateRepositoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipTaskWithNoActionsExecuterTest.groovy
Labels: from:member, in:build-cache

#4500 Add missing `@Nullable` task property annotations
  buildSrc/src/main/groovy/org/gradle/testing/PerformanceTest.java
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Checkstyle.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/FindBugs.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/FindBugsReportsInternal.java
  subprojects/core-api/src/main/java/org/gradle/api/resources/TextResource.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/GradleBuild.java
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/core/src/main/java/org/gradle/api/tasks/WriteProperties.java
  subprojects/core/src/main/java/org/gradle/api/tasks/bundling/Zip.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleApiSpecProvider.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/AbstractReportTask.java
  subprojects/ear/src/main/java/org/gradle/plugins/ear/Ear.java
  subprojects/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/GenerateProjectFileTask.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/api/GeneratorTask.java
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPluginExtension.java
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoTaskExtension.java
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReportBase.java
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/rules/JacocoLimit.java
  subprojects/javascript/src/main/java/org/gradle/plugins/javascript/coffeescript/CoffeeScriptCompileOptions.java
  subprojects/javascript/src/main/java/org/gradle/plugins/javascript/rhino/RhinoShellExec.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompileOptions.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/javadoc/Groovydoc.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/CompileOptions.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/DebugOptions.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/ForkOptions.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  subprojects/language-java/src/main/java/org/gradle/external/javadoc/MinimalJavadocOptions.java
  subprojects/language-java/src/main/java/org/gradle/external/javadoc/StandardJavadocDocletOptions.java
  subprojects/language-jvm/src/main/java/org/gradle/api/tasks/compile/BaseForkOptions.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/tasks/AbstractNativeSourceCompileTask.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/tasks/UnexportMainSymbol.java
  subprojects/language-scala/src/main/java/org/gradle/language/scala/tasks/BaseScalaCompileOptions.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/tasks/InstallExecutable.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/tasks/LinkSharedLibrary.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/PreCompiledHeader.java
  subprojects/platform-play/src/main/java/org/gradle/play/tasks/TwirlCompile.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/bundling/War.java
  subprojects/plugins/src/main/java/org/gradle/jvm/application/tasks/CreateStartScripts.java
  subprojects/scala/src/main/java/org/gradle/api/tasks/scala/ScalaDoc.java
  subprojects/scala/src/main/java/org/gradle/api/tasks/scala/ScalaDocOptions.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/tasks/InstallXCTestBundle.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/tasks/XCTest.java
Labels: from:member

#4520 Fix one-off issue with ListValueSnapshot
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/ListValueSnapshot.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/ValueSnapshotterTest.groovy
Labels: a:bug, from:member

#4525 Upgrade Kotlin DSL {0.15.6 => 0.16.0}
  build.gradle
Labels: dogfood:kotlin-dsl, from:member

#4516 Upgrade JUnit Platform to 5.1.0 in samples
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/samples/testing/junitplatform/engine/build.gradle
  subprojects/docs/src/samples/testing/junitplatform/jupiter/build.gradle
  subprojects/docs/src/samples/testing/junitplatform/tagging/build.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/junitplatform/JUnitPlatformTestRewriter.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitCoverage.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitLoggingOutputCaptureIntegrationTest.groovy
Labels: a:chore, from:member

#4501 Migrated remoteHttpCacheSettings.gradle to Kotlin.
  buildSrc/settings.gradle.kts
  gradle/build-cache-configuration.settings.gradle.kts
  gradle/remoteHttpCacheSettings.gradle
  settings.gradle.kts
Labels: dogfood:kotlin-dsl, in:gradle-build

#4478 Migrate code quality configuration to Kotlin.
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/accessors/accessors.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/codequality/ConfigureTaskPropertyValidationPlugin.kt
  gradle/codeQuality.gradle
  gradle/codeQualityConfiguration.gradle.kts
  gradle/taskProperties.gradle
  subprojects/core/core.gradle
Labels: dogfood:kotlin-dsl, in:gradle-build

#4421 Let buildscript repositories be searched before plugin management repositories
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/RepositoryOrderingIntegrationSpec.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/internal/DefaultPluginRequestApplicator.java
Labels: a:bug, affects-version:4.4, from:member, in:plugin-management

#4508 Migrated buildscan configuration to Kotlin.
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/org/gradle/plugins/buildscan/BuildScanConfigurationPlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/buildscan/Visitor.kt
  gradle/buildScanInit.gradle
  gradle/buildScanUserData.gradle
  gradle/taskCacheBuildScanUserData.gradle
  gradle/taskCacheDetailedDiagnosticsInit.gradle
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4481 Convert `ciReporting.gradle` to Kotlin DSL
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/org/gradle/BuildEnvironment.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/buildscan/BuildScanConfigurationPlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/reporting/CiReportingPlugin.kt
  gradle/ciReporting.gradle
  gradle/distributionTesting.gradle.kts
  gradle/groovyProject.gradle.kts
Labels: dogfood:kotlin-dsl, from:member, in:gradle-build

#4538 Replace `services.get(T::class.java)` by `serviceOf<T>()`
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/GradleCompilePlugin.kt
  gradle/groovyProject.gradle.kts
Labels: dogfood:kotlin-dsl, from:member

#4539 Introduce `ExtensionContainer.create<T>(String, vararg Any?)`
  buildSrc/src/main/kotlin/org/gradle/kotlin/dsl/kotlin-dsl-upstream.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/classycle/ClassyclePlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/compile/GradleCompilePlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/ideconfiguration/IdeConfigurationPlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/jsoup/JsoupPlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/strictcompile/StrictCompilePlugin.kt
  buildSrc/src/main/kotlin/org/gradle/plugins/testfixtures/TestFixturesPlugin.kt
Labels: a:feature, dogfood:kotlin-dsl, from:member

#4541 Polish BuildScanConfigurationPlugin
  buildSrc/src/main/kotlin/org/gradle/plugins/buildscan/BuildScanConfigurationPlugin.kt
Labels: a:chore, dogfood:kotlin-dsl, from:member, in:gradle-build

#4534 Fix potential deadlock when service registry closes a child
  subprojects/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryConcurrencyTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ConnectionScopeServices.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ShutdownCoordinator.java
Labels: a:bug, from:member, in:core
