Repository gradle/gradle, pull requests merged in 2018-04, with the labels that each got.

#4874 Consider all selectors when resolving to a component
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionRangeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolutionState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ResolvableSelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverResults.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/AbstractConflictResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestComponentResolutionState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestSelectorState.java
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/resolve/scenarios/VersionRangeResolveTestScenarios.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ExcludeRuleMergingPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/LargeDependencyGraphPerformanceTest.groovy
Labels: from:member, in:dependency-management

#4909 Fix flaky tests on rich console
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailure.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailureTest.groovy
Labels: from:member

#4899 Expand on pre-compiled script plugins in 4.7 release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member, in:docs

#4850 Migrated intTestImage.gradle into Kotlin plugin
  buildSrc/subprojects/integration-testing/integration-testing.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/IntTestImagePlugin.kt
  buildSrc/subprojects/uber-plugins/src/main/kotlin/org/gradle/gradlebuild.uberplugins/JavaProjectsPlugin.kt
  gradle/intTestImage.gradle
Labels: dogfood:kotlin-dsl, from:member

#4910 Add content to chapter "Organizing Gradle projects"
  subprojects/docs/src/docs/userguide/multiProjectBuilds.adoc
  subprojects/docs/src/docs/userguide/organizingGradleProjects.adoc
Labels: a:chore, from:member, in:docs

#4911 Point to maintained fork of Gretty plugin
  subprojects/docs/src/docs/userguide/jettyPlugin.adoc
  subprojects/docs/src/samples/webApplication/customized/build.gradle
  subprojects/docs/src/samples/webApplication/quickstart/build.gradle
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gretty-example/build.gradle
Labels: a:chore, from:member, in:docs

#4916 Better flame graphs
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  subprojects/internal-performance-testing/internal-performance-testing.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractGradleBuildPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/BuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CompositeDataCollector.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/FlameGraphGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/FlameGraphSanitizer.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/ForkingGradleSession.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleVsMavenBuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JfrFlameGraphGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JfrProfiler.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JfrToStacksConverter.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/NoopProfiler.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PidInstrumentation.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/Profiler.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/util/JCmd.groovy
  subprojects/internal-performance-testing/src/main/resources/org/gradle/performance/fixture/difffolded.pl
  subprojects/internal-performance-testing/src/main/resources/org/gradle/performance/fixture/flamegraph.pl
  subprojects/internal-performance-testing/src/main/resources/org/gradle/performance/fixture/gradle.jfc
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunnerTest.groovy
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/gc-1.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/gc-2.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/gc-3.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/gc-4.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/mac-jdk8.0.25.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/perf_counters_finish.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/perf_counters_start.txt
  subprojects/internal-performance-testing/src/test/resources/org/gradle/performance/fixture/win-1.txt
Labels: a:chore

#4928 Strip work in progress area when using OutputScraping result fixtures
  subprojects/internal-integ-testing/src/integTest/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuterIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/LogContent.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailure.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/GroupedOutputFixture.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionResultTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractFailureReportingFunctionalTest.groovy
Labels: from:member

#4936 Allow build cache to be enabled programatically for non root builds
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/configuration/BuildCacheCompositeConfigurationIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/configuration/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/BuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/BuildCacheControllerFactory.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NoOpBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/RootBuildCacheControllerRef.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/BuildCacheControllerFactoryTest.groovy
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/BuildCacheTaskServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/TaskExecutionServices.java
Labels: from:member, in:build-cache

#4944 Remove AbstractFileCollection.getBuildDependencies()
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/CalculatedTaskInputFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/FileCollectionAdapter.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/FileTreeAdapter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskDependencies.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/AbstractFileCollectionTest.groovy
Labels: from:member

#4949 Re-add AbstractFileCollection.getBuildDependencies()
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
Labels: from:member

#4634 Avoid creating unnecessary DataInputStream
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/InputStreamBackedDecoder.java
Labels: from:member

#4950 Increase directory cache cleanup frequency from 7 days to 24 hours
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheCleanupIntegrationTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/CacheBuilder.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryCache.java
Labels: from:member, in:build-cache

#4849 Migrated code-quality.gradle to Kotlin
  settings.gradle.kts
  subprojects/code-quality/code-quality.gradle.kts
Labels: dogfood:kotlin-dsl, from:member

#4954 Fix SourcepathIgnoringInvocationHandler on Java 9
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/reflect/SourcepathIgnoringInvocationHandler.java
Labels: a:bug, from:member, in:jvm-platform

#4913 Add ImmutableFileCollection
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/ImmutableFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/package-info.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/ImmutableFileCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
Labels: a:feature, from:member

#4959 Improve documentation for incremental annotation processing
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
Labels: a:chore

#4953 Add up-to-date checks for test framework specific options
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitCategoriesIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGUpToDateCheckIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesIntegrationSpec/reExecutesWhenPropertyIsChanged/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesIntegrationSpec/reExecutesWhenPropertyIsChanged/src/test/java/org/gradle/CategoryA.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesIntegrationSpec/reExecutesWhenPropertyIsChanged/src/test/java/org/gradle/SomeTestClass.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/junit/JUnitOptions.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/junitplatform/JUnitPlatformOptions.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/testng/TestNGOptions.java
Labels: from:member, in:testing

#4929 Introduce ability to declare attributes on dependencies
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/DependencyConstraint.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/DependencyResolutionServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractModuleDependency.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/AbstractModuleDependencySpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultDependencyConstraintTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependenciesAttributesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultDependencyConstraint.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingNotationConverter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/dependencies/ModuleFactoryDelegateTest.java
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/internal/PluginDependencyResolutionServices.java
Labels: a:feature, in:dependency-management

#4963 Make plugins.withId more efficient in the common case
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginRegistry.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginRegistry.java
Labels: a:chore

#4969 Fix issue with header cycle and relative paths
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativeLanguageIncrementalCompileIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/IncrementalCompileFilesFactory.java
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/incremental/IncrementalCompileProcessorTest.groovy
Labels: a:bug, from:member

#4948 Favor using FileCollection.iterator() over FileCollection.getFiles()
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/internal/FindBugsSpecBuilderTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/FindBugs.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/findbugs/FindBugsSpecBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/CachingTaskInputFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/CompositeFileCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/CompositeFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/DefaultFileCollectionResolveContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/ValidationActions.java
  subprojects/core/src/main/java/org/gradle/internal/cleanup/DefaultBuildOutputCleanupRegistry.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/AbstractFileCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/CompositeFileCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/CompositeFileCollectionTest.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/UnionFileCollectionTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/clientModuleDependencies/api/build.gradle
  subprojects/docs/src/samples/clientModuleDependencies/shared/build.gradle
  subprojects/docs/src/samples/java/multiproject/api/build.gradle
  subprojects/docs/src/samples/native-binaries/idl/build.gradle
  subprojects/docs/src/samples/play/custom-assets/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/conditionalSubstitutionRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/selectionRule/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/build.gradle
  subprojects/docs/src/samples/userguide/files/archivesWithJavaPlugin/build.gradle
  subprojects/docs/src/samples/workerApi/noIsolation/build.gradle
  subprojects/docs/src/samples/workerApi/waitForCompletion/build.gradle
  subprojects/docs/src/samples/workerApi/workerDaemon/build.gradle
Labels: from:member, in:core

#4851 Migrated root build.gradle to Kotlin
  build.gradle
  build.gradle.kts
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/kotlin-dsl-upstream-candidates.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/buildtypes/BuildType.kt
Labels: dogfood:kotlin-dsl, from:member

#4800 Create a new chapter on building Java projects
  subprojects/core-api/src/main/java/org/gradle/process/JavaForkOptions.java
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/basePlugin.adoc
  subprojects/docs/src/docs/userguide/buildingJavaProjects.adoc
  subprojects/docs/src/docs/userguide/img/java-sourcesets-compilation.graffle
  subprojects/docs/src/docs/userguide/img/java-sourcesets-compilation.png
  subprojects/docs/src/docs/userguide/img/java-sourcesets-process-resources.graffle
  subprojects/docs/src/docs/userguide/img/java-sourcesets-process-resources.png
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
  subprojects/docs/src/docs/userguide/javaTesting.adoc
  subprojects/docs/src/docs/userguide/userguide.xml
  subprojects/docs/src/samples/userguide/basePlugin/build.gradle
  subprojects/docs/src/samples/userguide/basePlugin/settings.gradle
  subprojects/docs/src/samples/userguide/files/archivesWithJavaPlugin/build.gradle
  subprojects/docs/src/samples/userguide/java/basic/build.gradle
  subprojects/docs/src/samples/userguide/java/basic/settings.gradle
  subprojects/docs/src/samples/userguide/java/customDirs/build.gradle
  subprojects/docs/src/samples/userguide/java/customDirs/settings.gradle
  subprojects/docs/src/samples/userguide/java/sourceSets/build.gradle
  subprojects/docs/src/samples/userguideOutput/javaCustomReportDirs.out
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: a:feature, from:contributor

#4972 Dogfood ImmutableFileCollection in tests
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/tasks/TaskOutputCacheCommandFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/ImmutableFileCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/rules/AbstractTaskStateChangesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultClasspathSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultGenericFileCollectionSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/LazilyInitializedFileCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/ImmutableFileCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskOutputsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultPropertyWalkerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/cleanup/DefaultBuildOutputCleanupRegistryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/DefaultFlatDirArtifactRepositoryTest.groovy
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationTest.groovy
  subprojects/jacoco/src/test/groovy/org/gradle/internal/jacoco/JacocoAgentJarTest.groovy
  subprojects/language-groovy/src/test/groovy/org/gradle/api/internal/tasks/compile/NormalizingGroovyCompilerTest.groovy
  subprojects/language-groovy/src/test/groovy/org/gradle/api/tasks/javadoc/GroovydocTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/AnnotationProcessorPathFactoryTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/CommandLineJavaCompilerArgumentsGeneratorTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilderTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/NormalizingJavaCompilerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetectorTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/tasks/compile/CompileOptionsTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/tasks/javadoc/JavadocTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/c/tasks/CCompileTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/tasks/CppCompileTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/objectivec/tasks/ObjectiveCCompileTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/objectivecpp/tasks/ObjectiveCppCompileTest.groovy
  subprojects/language-scala/src/test/groovy/org/gradle/api/internal/tasks/scala/NormalizingScalaCompilerTest.groovy
  subprojects/launcher/src/test/groovy/org/gradle/tooling/internal/provider/ContinuousBuildActionExecuterTest.groovy
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
  subprojects/platform-play/src/test/groovy/org/gradle/play/tasks/PlayRunTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
  subprojects/plugins/src/testFixtures/groovy/org/gradle/api/tasks/compile/AbstractCompileTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/build.gradle
Labels: a:chore, from:member

#4984 Fix issue with NPE when user locale has no region set
  subprojects/logging/src/main/java/org/gradle/internal/logging/console/StyledTextOutputBackedRenderer.java
Labels: a:bug, from:member

#4991 File buildFinished for the root builds only after all included builds
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/configuration/BuildCacheCompositeConfigurationIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildEventsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncher.java
Labels: from:member, in:composite-builds

#5005 Don't use build scan plugin rc version
  buildSrc/build.gradle.kts
  buildSrc/subprojects/profiling/profiling.gradle.kts
  gradle/init-scripts/build-scan.init.gradle.kts
Labels: from:member

#4971 Add CI guides to left navigation bar in user guide
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
Labels: a:chore, from:member, in:docs

#5007 Move Java 10 tests into Release Accept
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member

#5009 Fix failed Java 10 tests
  buildSrc/build.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  gradle/dependency-management/capabilities.json
  subprojects/internal-testing/internal-testing.gradle.kts
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerArgumentsIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerGradleVersionIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/BuildSrcSpockIntegrationTest.groovy
Labels: a:chore, from:member, in:testing

#5016 Disable very long tests when not running in embedded mode
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ModuleDependencyExcludeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionRangeResolveIntegrationTest.groovy
Labels: from:member, in:dependency-management, in:gradle-build

#5030 Fix destination for html test reports
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
Labels: dogfood:kotlin-dsl, from:member

#5031 Only archive performance report
  .teamcity/Gradle_Check/configurations/PerformanceTest.kt
Labels: from:member

#5032 Fix Jsoup Copy task extension not closing files
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/jsoup/JsoupFilterReader.kt
Labels: a:bug, from:member, in:gradle-build

#4983 Fix up-to-date check for output files of Sign task
  subprojects/docs/src/docs/release/notes.md
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningConfigurationsIntegrationSpec.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningTasksIntegrationSpec.groovy
  subprojects/signing/src/main/java/org/gradle/plugins/signing/Sign.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/Signature.java
  subprojects/signing/src/test/groovy/org/gradle/plugins/signing/SigningTasksSpec.groovy
Labels: from:member, in:signing-plugin

#5002 Deprecate SimpleFileCollection
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/file/collections/SimpleFileCollectionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/collections/SimpleFileCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/ImmutableFileCollectionTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:build-cache

#5028 Replace Project.files() use with ProjectLayout.filesFor() & mutableFilesFor()
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/docs/UserGuideSectionVerifierTest.groovy
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/performance/generator/tasks/NativeProjectWithDepsGeneratorTask.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/jsoup/JsoupCopyExtension.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  subprojects/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileProvidersIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/provider/PropertyKotlinScriptIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/provider/PropertyStateProjectUnderTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MonkeyPatchRelocationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputPropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/normalization/ConfigureRuntimeClasspathNormalizationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/file/FileCollectionSymlinkTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/AbstractPathNormalizationStrategyTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultAntBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/resources/FileCollectionBackedTarArchiveTextResourceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/resources/FileCollectionBackedTextResourceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/resources/FileCollectionBackedZipArchiveTextResourceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/tasks/SourceTaskTest.groovy
  subprojects/distributions/binary-compatibility.gradle
  subprojects/docs/docs.gradle
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/EclipseWtpPlugin.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpPluginTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProviderTest.groovy
  subprojects/internal-android-performance-testing/internal-android-performance-testing.gradle.kts
  subprojects/internal-performance-testing/internal-performance-testing.gradle.kts
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/tasks/PublishToIvyRepositoryTest.groovy
  subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/BuildEnvironmentIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/daemon/DaemonJavaCompilerIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/GroovyRuntime.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/WarPluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTaskSpec.groovy
  subprojects/runtime-api-info/runtime-api-info.gradle.kts
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaPlugin.java
  subprojects/scala/src/main/java/org/gradle/api/tasks/ScalaRuntime.java
  subprojects/scala/src/test/groovy/org/gradle/api/plugins/scala/ScalaPluginTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerResultIntegrationTest.groovy
  subprojects/tooling-api/tooling-api.gradle.kts
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/AbstractWorkerExecutorIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParallelIntegrationTest.groovy
Labels: from:member, in:build-cache

#5037 Fix concurrency issue with lazy task getters
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerParallelTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/idea/CompositeBuildIdeaProjectIntegrationTest.groovy
Labels: a:bug, from:member

#5049 Use repository mirrors in performance tests
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenGoogleDependencyResolveIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractAndroidStudioMockupCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractGradleBuildPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/ForkingGradleSession.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestJvmOptions.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/ProjectConnectionBuildLauncher.java
Labels: a:chore

#4886 Handle system headers differently on the command line for GCC
  subprojects/docs/src/docs/dsl/org.gradle.language.nativeplatform.tasks.AbstractNativeCompileTask.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppBasePlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/AbstractNativeCompileSpec.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/CompileTaskConfig.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/tasks/AbstractNativeCompileTask.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/NativeCompileSpec.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/GccCompilerArgsTransformer.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/VisualCppCompilerArgsTransformer.java
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/AssemblerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CppCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CppPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/GccCompatibleNativeCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/GccCompilerArgsTransformerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/ObjectiveCCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/ObjectiveCPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/ObjectiveCppCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/ObjectiveCppPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/AssemblerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/CCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/CPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/CppCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/CppPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/VisualCppCompilerArgsTransformerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/VisualCppNativeCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/WindowsResourceCompilerTest.groovy
Labels: a:bug, from:member

#5060 Ignore illegal access warnings emitted by the JVM when parsing the build outcome
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/LogContent.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailureTest.groovy
Labels: a:chore, from:member, in:core

#5066 Strip illegal access warnings one-by-one
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/LogContent.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailureTest.groovy
Labels: a:bug, from:member, in:core

#5065 Add Java 11 test coverage into pipeline
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member, in:gradle-build

#5078 Fail the build if a referenced init script does not exist
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/initScripts.adoc
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ProjectLoadingIntegrationTest.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/StartParamsValidatingActionExecuter.java
Labels: from:contributor

#4917 Upgrade codeNarc to version 1.1
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CodeNarcPlugin.java
Labels: from:contributor, in:codenarc-plugin, waiting-for:gradle-team

#5080 Increase memory for performance test JVM
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
Labels: from:member

#5033 Publish configuration-wide excludes in Ivy metadata
  subprojects/core/src/main/java/org/gradle/api/internal/component/UsageContext.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/ivy/src/crossVersionTest/groovy/org/gradle/api/publish/ivy/IvyPublishCrossVersionIntegrationTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishJavaIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/dependency/DefaultIvyExcludeRule.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/dependency/IvyExcludeRule.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyModuleDescriptorSpec.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/IvyModuleDescriptorSpecInternal.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/IvyPublicationInternal.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publisher/IvyDescriptorFileGenerator.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/GenerateIvyDescriptor.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultUsageContext.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishCustomComponentIntegTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/internal/java/JavaLibrary.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/java/WebApplication.java
Labels: a:feature, from:member, in:publishing-plugin

#4976 Use Lookup to invoke defineClass on Java 9+
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ClassLoaderUtils.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/classloader/ClassLoaderUtilsTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
Labels: a:chore, from:member, in:core

#5063 Fix handling of duplicate nodes in dependency graph
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/DependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyLockingProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingArtifactVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/NoOpDependencyLockingProvider.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingArtifactVisitorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/NoOpDependencyLockingProviderTest.groovy
Labels: a:bug, from:member, in:dependency-management

#5083 Make mirror init script faster
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
Labels: a:chore, from:member

#5082 Rename ProjectLayout methods
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/build.gradle
Labels: from:member

#5104 Make TAPI performance tests profilable
  subprojects/internal-performance-testing/src/integTest/groovy/org/gradle/performance/fixture/IdProviderAndroidStudioMockupPerformanceTest.groovy
  subprojects/internal-performance-testing/src/integTest/groovy/org/gradle/performance/fixture/IdProviderToolingApiPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractAndroidStudioMockupCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JfrProfiler.groovy
Labels: a:chore, from:member

#5101 Make derived artifacts optional when publishing
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/PublicationInternal.java
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningPublicationsIntegrationSpec.groovy
Labels: a:bug, from:member, in:publishing-plugin

#5103 Add descriptions to Sign tasks for configurations/publications/tasks
  subprojects/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
  subprojects/signing/src/test/groovy/org/gradle/plugins/signing/SigningConfigurationsSpec.groovy
  subprojects/signing/src/test/groovy/org/gradle/plugins/signing/SigningPublicationsSpec.groovy
  subprojects/signing/src/test/groovy/org/gradle/plugins/signing/SigningTasksSpec.groovy
Labels: a:feature, from:member, in:signing-plugin

#5088 Publish configuration-wide excludes in POM and Gradle module metadata
  subprojects/docs/src/docs/release/notes.md
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishJavaIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishJavaIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/ModuleMetadataFileGenerator.java
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/ModuleMetadataFileGeneratorTest.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningPublicationsIntegrationSpec.groovy
Labels: a:feature, from:member, in:publishing-plugin

#4999 Update pluginManagement documentation to mention global configuration options
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/plugins.adoc
  subprojects/docs/src/samples/plugins/pluginManagement/init.gradle
  subprojects/docs/src/samples/plugins/pluginManagement/settings.gradle
Labels: a:chore, from:contributor, in:docs, waiting-for:contributor

#5114 Allow folders to be added as source in Xcode IDE groups
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/plugins/XcodePlugin.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/tasks/GenerateXcodeProjectFileTask.java
Labels: a:feature, from:member, in:native-platform

#5024 Implement cheaper locking of resolved artifacts
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolvedArtifact.java
Labels: from:member, in:dependency-management

#5000 Clean up leftovers from #4304
  gradle.properties
  settings.gradle.kts
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/GradleFeaturePreviewsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/LargeDependencyGraphPerformanceTest.groovy
Labels: a:chore, from:member, in:dependency-management

#4987 Enhances the existing best practices chapter in user guide
  subprojects/docs/src/docs/userguide/organizingGradleProjects.adoc
  subprojects/docs/src/samples/userguide/organizingGradleProjects/customGradleDistribution/build.gradle
  subprojects/docs/src/samples/userguide/organizingGradleProjects/customGradleDistribution/buildSrc/src/main/groovy/org/gradle/distribution/DownloadGradle.groovy
  subprojects/docs/src/samples/userguide/organizingGradleProjects/customGradleDistribution/src/init.d/repositories.gradle
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/build.gradle
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/gradle/integration-test.gradle
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/settings.gradle
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/src/integTest/java/DefaultFileReaderIntegrationTest.java
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/src/main/java/DefaultFileReader.java
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/src/main/java/FileReader.java
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/src/main/java/StringUtils.java
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/src/test/java/StringUtilsTest.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/organizinggradleprojects/SamplesOrganizingGradleProjectsIntegrationTest.groovy
Labels: a:feature, from:member, in:docs

#5048 Add more practices to authoring maintainable build scripts in user guide
  subprojects/docs/src/docs/userguide/authoringMaintainableBuildScripts.adoc
Labels: a:feature, from:member, in:docs

#5111 Make plugin lookups cheaper
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/RootClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginRegistry.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginRegistry.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultClassLoaderRegistry.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/initialization/DefaultClassLoaderScopeTest.groovy
Labels: a:chore, from:member, in:core

#5140 Upgrade Kotlin DSL {0.16.3 => 0.17.0}
  buildSrc/build.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/performance/templates.gradle
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core

#4919 Mark `DependencyHandler.add(String, Object)` as `@Nullable`
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
Labels: a:bug, from:member, in:core

#5143 Add integration test for locale issues from #4973
  subprojects/base-services/src/main/java/org/gradle/util/GradleVersion.java
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/LocaleSupportDaemonIntegrationTest.groovy
Labels: a:chore, from:member

#4533 Introduce support for running phased actions
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ClientProvidedPhasedAction.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/FailsafePhasedActionResultListener.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/PhasedActionEventConsumer.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/PhasedBuildActionResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  subprojects/launcher/src/test/groovy/org/gradle/tooling/internal/provider/FailsafePhasedActionResultListenerTest.groovy
  subprojects/launcher/src/test/groovy/org/gradle/tooling/internal/provider/PhasedActionEventConsumerTest.groovy
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientProvidedPhasedActionRunner.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/ClientProvidedPhasedActionRunnerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomBuildFinishedAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomBuildFinishedModel.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomParameter.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsEvaluatedAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsEvaluatedModel.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsLoadedAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/FailAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/PhasedBuildActionCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/PhasedResultHandlerCollector.java
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/PhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/PhasedResultHandler.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListener.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/PhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/AbstractConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/DeprecatedVersionConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/InternalPhasedActionAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/NoToolingApiConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/NonCancellableConsumerConnectionAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ParameterValidatingConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/UnsupportedOlderVersionConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/loader/DefaultToolingImplementationLoader.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/versioning/VersionDetails.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/ConnectionVersion4.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalPhasedAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalPhasedActionConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/PhasedActionResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/PhasedActionResultListener.java
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListenerTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuterBuilderTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuterTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultProjectConnectionTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/connection/ParameterAcceptingConsumerConnectionTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnectionTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/loader/DefaultToolingImplementationLoaderTest.groovy
Labels: a:feature, from:contributor, in:tooling-api, waiting-for:gradle-team

#5157 Log exception thrown on failed test thread
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/concurrent/TestExecutor.groovy
Labels: from:member, in:build-cache

#5152 Make IvyPublication/IvyArtifact lazy
  subprojects/docs/src/samples/ivy-publish/java-multi-project/output-ivy.xml
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishArtifactCustomizationIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishMultiProjectIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/AbstractIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/ArchiveTaskBasedIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/DefaultIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/DerivedIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/FileBasedIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/IvyArtifactNotationParserFactory.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/PublishArtifactBasedIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/SingleOutputTaskIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationIdentity.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/IvyPublishPlugin.java
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/artifact/IvyArtifactNotationParserFactoryTest.groovy
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationTest.groovy
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publisher/IvyDescriptorFileGeneratorTest.groovy
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publisher/ValidatingIvyPublisherTest.groovy
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/plugins/IvyPublishPluginTest.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningPublicationsIntegrationSpec.groovy
Labels: a:feature, from:member, in:ivy, in:publishing-plugin

#5159 Remove content in chapter on multi-project builds of user guide
  subprojects/docs/src/docs/userguide/multiProjectBuilds.adoc
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependencies/messages/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependencies/messages/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependencies/messages/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependencies/messages/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesAltSolution/messages/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesAltSolution/messages/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesAltSolution/messages/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesAltSolution/messages/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesBroken/messages/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesBroken/messages/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesBroken/messages/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesConfigDependenciesBroken/messages/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesTaskDependencies/messages/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesTaskDependencies/messages/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesTaskDependencies/messages/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesTaskDependencies/messages/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesWithDependencies/messages/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesWithDependencies/messages/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesWithDependencies/messages/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/messagesWithDependencies/messages/settings.gradle
  subprojects/docs/src/samples/userguideOutput/multiprojectMessagesConfigDependencies.out
  subprojects/docs/src/samples/userguideOutput/multiprojectMessagesConfigDependenciesAltSolution.out
  subprojects/docs/src/samples/userguideOutput/multiprojectMessagesConfigDependenciesBroken.out
  subprojects/docs/src/samples/userguideOutput/multiprojectMessagesDependencies.out
  subprojects/docs/src/samples/userguideOutput/multiprojectMessagesTaskDependencies.out
  subprojects/docs/src/samples/userguideOutput/multitestingBuildDashA.out
Labels: a:chore, from:member, in:docs

#5158 Add createLater convenience methods for tasks without configuration
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskContainer.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: a:feature, from:member

#5115 Document publishing snapshots and releases to different repositories
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/samples/maven-publish/javaProject/build.gradle
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/SamplesMavenPublishIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#5135 Document conditional publishing
  subprojects/docs/src/docs/userguide/publishingIvy.adoc
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/samples/ivy-publish/conditional-publishing/build.gradle
  subprojects/docs/src/samples/ivy-publish/conditional-publishing/settings.gradle
  subprojects/docs/src/samples/ivy-publish/conditional-publishing/src/main/java/Sample.java
  subprojects/docs/src/samples/ivy-publish/conditional-publishing/src/main/resources/sample.txt
  subprojects/docs/src/samples/maven-publish/conditional-publishing/build.gradle
  subprojects/docs/src/samples/maven-publish/conditional-publishing/settings.gradle
  subprojects/docs/src/samples/maven-publish/conditional-publishing/src/main/java/Sample.java
  subprojects/docs/src/samples/maven-publish/conditional-publishing/src/main/resources/sample.txt
  subprojects/docs/src/samples/userguideOutput/publishingIvyConditionally.out
  subprojects/docs/src/samples/userguideOutput/publishingMavenConditionally.out
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/SamplesIvyPublishIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/SamplesMavenPublishIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#5154 Deprecate DeferredConfigurable
  subprojects/core-api/src/main/java/org/gradle/api/plugins/DeferredConfigurable.java
  subprojects/core-api/src/main/java/org/gradle/api/plugins/ExtensionsSchema.java
  subprojects/core/src/integTest/groovy/org/gradle/api/DeferredConfigurableExtensionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/ExtensionsStorage.java
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishBasicIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishDescriptorCustomizationIntegTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/MainExecutableVariant.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/MainLibraryVariant.java
  subprojects/language-native/src/main/java/org/gradle/language/plugins/NativeBasePlugin.java
  subprojects/language-native/src/test/groovy/org/gradle/language/plugins/NativeBasePluginTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishBasicIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/PublishingExtension.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/DefaultPublishingExtension.java
Labels: a:chore, from:member, in:publishing-plugin

#5153 Track finalizer dependencies separately
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskInfo.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/TaskInfoFactoryTest.groovy
Labels: from:member, in:build-cache

#5166 Create publishing tasks without model rules
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishMultiProjectIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/SingleOutputTaskIvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/IvyPublicationInternal.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/IvyPublishPlugin.java
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishMultiProjectIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenPublicationInternal.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/MavenPublishPlugin.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/plugins/MavenPublishPluginTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/IvyPluginPublishingPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/MavenPluginPublishPlugin.java
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
Labels: a:chore, from:member, in:publishing-plugin

#5145 Fix NPE in RestartEveryNTestClassProcessor.stopNow()
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/processors/RestartEveryNTestClassProcessor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/RestartEveryNTestClassProcessorTest.groovy
Labels: a:bug, from:member, in:testing

#5186 Move point on imperative logic to top of the page of user guide chapter
  subprojects/docs/src/docs/userguide/authoringMaintainableBuildScripts.adoc
Labels: a:chore, from:member, in:docs

#5194 Fix CompositeFileCollection performance
  subprojects/core/src/main/java/org/gradle/api/internal/file/CompositeFileCollection.java
Labels: a:bug, from:member

#5182 Intern strings when reading module metadata from cache
  subprojects/core/src/main/java/org/gradle/util/internal/SimpleMapInterner.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/DefaultModuleMetadataCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataStore.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/StringDeduplicatingDecoder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/ClientModuleNotationParserFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintNotationParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyMetadataNotationParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyNotationParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyStringNotationConverter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandlerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataStoreTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/DependenciesMetadataAdapterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/notations/DependencyStringNotationConverterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/AbstractDependencyMetadataRulesTest.groovy
Labels: from:member, in:dependency-management

#5146 Recommend buildSrc over script plugins
  subprojects/docs/src/docs/userguide/organizingGradleProjects.adoc
Labels: a:feature, from:member, in:docs

#5197 Add user guide section on producing and consuming an "outgoing artifact"
  subprojects/docs/src/docs/userguide/multiProjectBuilds.adoc
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/buildSrc/src/main/java/BuildInfo.java
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/consumer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/consumer/src/main/java/Application.java
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/consumer/src/test/java/ApplicationTest.java
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/producer/build.gradle
  subprojects/docs/src/samples/userguide/multiproject/dependencies/outgoingArtifact/settings.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/multiprojectbuilds/SamplesMultiProjectBuildsIntegrationTest.groovy
Labels: a:feature, from:member, in:docs

#5107 Remove potentially duplicate startup line
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m8/ToolingApiLoggingCrossVersionSpec.groovy
Labels: a:chore, from:member, in:tooling-api

#5192 Update publishing section now that Publish plugins support signing
  subprojects/docs/src/docs/userguide/buildingJavaProjects.adoc
Labels: a:chore, from:member, in:docs

#5215 Wait for async processes to configure `buildScan` extension
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:chore, from:member, in:gradle-build

#5180 Update gradleDaemon.adoc
  subprojects/docs/src/docs/userguide/gradleDaemon.adoc
Labels: from:contributor, in:docs

#4992 Update build scan plugin to 1.13.1
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedBuildScanPlugin.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: a:chore, from:member
