Repository gradle/gradle, pull requests merged in 2018-11, with the labels that each got.

#7528 Adds missing breaking changes to the upgrade guide
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: from:member, in:docs

#7596 Make disabling worker daemon expiration intrinsic to the worker daemon itself
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonExpirationIntegrationTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClient.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonExpiration.java
Labels: a:chore, from:member

#7606 Show requested version for each incoming edge in `dependencyInsight` report
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/InvertedRenderableModuleResult.java
Labels: from:member, in:dependency-management

#7609 Allow macOS standard framework
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativePreCompiledHeaderIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/c/CLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/c/CPreCompiledHeaderSourcesIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppFrameworkIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppPreCompiledHeaderSourcesIntegrationTest.groovy
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/CCompiler.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/CPCHCompiler.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/CppCompiler.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/CppPCHCompiler.java
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CPCHCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CppCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/CppPCHCompilerTest.groovy
Labels: a:bug, from:member, in:native-platform

#7619 Upgrade to Kotlin DSL 1.0
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core

#7612 Fork a single-use daemon of client VM has too little memory
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/BuildProcess.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/configuration/BuildProcessTest.groovy
Labels: a:bug, from:member, in:daemon

#7621 Use more generic execution states
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/TaskArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/NoOutputsArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/ShortCircuitTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CurrentTaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/HistoricalTaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/TaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuter.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TaskCacheKeyCalculator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuterTest.groovy
Labels: from:member, in:build-cache

#7607 Add a `constraint` property to edges in `ResolutionResult`
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/DependencyResult.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishedDependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/DependenciesAttributesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsAndResolutionStrategiesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/DependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenBomResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/DependencyMetadataRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphComponent.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphEdge.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphPathResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphComponent.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphDependency.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CachingDependencyResultFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentResultSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DependencyResultSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DetachedComponentResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DetachedResolvedGraphDependency.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/AbstractDependencyResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultResolvedDependencyResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultUnresolvedDependencyResult.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CachingDependencyResultFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilderSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/result/DefaultResolutionResultTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/result/ResolutionResultDataBuilder.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ResolutionErrorRenderer.java
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/insight/DependencyInsightReporterSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
Labels: from:member, in:dependency-management

#7608 Better support for constraints in `dependencies` report
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/DependencyGraphsRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/LegendRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/SimpleNodeRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/RenderableDependency.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/RenderableDependencyResult.java
Labels: from:member, in:dependency-management

#7623 Fix bug that allowed duplicates in NamedDomainObjectList via `addAll()`
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultNamedDomainObjectListTest.groovy
Labels: a:bug, in:core

#7565 Improve declared inputs and outputs of `Sign` task
  subprojects/docs/src/docs/release/notes.md
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningTasksIntegrationSpec.groovy
  subprojects/signing/src/main/java/org/gradle/plugins/signing/Sign.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/Signature.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/signatory/Signatory.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/type/SignatureType.java
  subprojects/signing/src/test/groovy/org/gradle/plugins/signing/SigningTasksSpec.groovy
Labels: a:chore, from:member, in:signing-plugin

#6996 Don't share dependency resolution listeners list when copying configuration
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/messaging/src/main/java/org/gradle/internal/event/ListenerBroadcast.java
Labels: in:dependency-management, waiting-for:gradle-team

#7641 Fix list rendering in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:contributor, in:docs

#7610 Update release notes and upgrade guide to reflect 5.1 release
  subprojects/docs/README.md
  subprojects/docs/src/docs/release/notes-template.md
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
  subprojects/docs/src/docs/userguide/userguide_single.adoc
  subprojects/docs/src/main/resources/header.html
Labels: from:member, in:docs

#7667 Let integration tests not opt-in to in-process kotlin compiler
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyKotlinInterOpIntegrationTest.groovy
Labels: a:performance-issue

#7670 Upgrade Kotlin DSL to 1.0.2
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
Labels: a:feature, from:member, in:kotlin-dsl

#7651 Additional test coverage for publishing native artifacts with architecture
  .swn
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryPublishingIntegrationTest.groovy
Labels: a:chore, from:member

#7605 Add two graphs to individual performance test page
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/FormatSupport.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/HtmlPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/IndexPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ScenarioBuildResultData.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/TestDataGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/TestPageGenerator.java
  subprojects/internal-performance-testing/src/main/resources/org/gradle/reporting/performanceGraph.js
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/ResultSpecification.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/IndexPageGeneratorTest.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/TestDataGeneratorTest.groovy
Labels: a:chore, dev-productivity, from:member

#7678 Document `Configuration.withDependencies` in user manual
  subprojects/docs/src/docs/userguide/customizing_dependency_resolution_behavior.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/withDependencies/configuration_with_dependencies.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/withDependencies/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/withDependencies/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/withDependencies/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/customizingResolution/withDependencies/kotlin/settings.gradle.kts
Labels: from:member, in:dependency-management

#7668 Correct Javadoc of SingleDepthFileAccessTracker
  subprojects/resources/src/main/java/org/gradle/internal/resource/local/SingleDepthFileAccessTracker.java
Labels: a:chore, from:member, in:core

#7660 Display only BuildCacheKey.getHashCode()
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultBuildCacheController.java
Labels: from:member

#7677 Improve dependency management references in upgrade guide
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: in:docs

#7577 Set CONSTANT_TIME_FOR_TAR_ENTRIES to epoch + 1 day (#7564)
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ReproducibleArchivesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarCopyAction.java
Labels: from:contributor

#7689 Remove unused tagging scripts
  build.gradle.kts
  gradle/buildTagging.gradle
  gradle/init-scripts/build-scan.init.gradle.kts
  gradle/settings.gradle
  settings.gradle.kts
Labels: from:member, in:gradle-build

#7697 Remove duplicate 'm' from default Daemon VM args
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
Labels: a:bug, from:member, in:core

#7698 Add TeamCity jobs for new 'buildProfile' subproject
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member

#7696 Extract :buildProfile subproject from :core
  settings.gradle.kts
  subprojects/build-profile/build-profile.gradle.kts
  subprojects/build-profile/src/integTest/groovy/org/gradle/profile/ProfilingIntegrationTest.groovy
  subprojects/build-profile/src/main/java/org/gradle/profile/BuildProfile.java
  subprojects/build-profile/src/main/java/org/gradle/profile/BuildProfileServices.java
  subprojects/build-profile/src/main/java/org/gradle/profile/CompositeOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ContinuousOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/FragmentedOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/Operation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileEventAdapter.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileListener.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileReportRenderer.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProjectProfile.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ReportGeneratingProfileListener.java
  subprojects/build-profile/src/main/java/org/gradle/profile/TaskExecution.java
  subprojects/build-profile/src/main/java/org/gradle/profile/package-info.java
  subprojects/build-profile/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  subprojects/build-profile/src/test/groovy/org/gradle/profile/BuildProfileTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/CompositeOperationTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/ProfileReportRendererTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/ProjectProfileTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/TaskExecutionTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncherFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeListenerManagerAction.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/BuildScopeServicesTest.groovy
Labels: a:chore, from:member, in:core

#7681 add note to upgrade guide that deprecations view will not show up if there are no warnings
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: from:member, in:docs

#7683 add subsection about http retries to the dependency management section
  subprojects/docs/src/docs/userguide/introduction_dependency_management.adoc
Labels: from:member, in:docs

#7712 Update large android build to AGP 3.4
  subprojects/performance/templates.gradle
Labels: from:member

#7716 Extract :buildProfile subproject from :core, take 2
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/project-groups.kt
  settings.gradle.kts
  subprojects/build-profile/build-profile.gradle.kts
  subprojects/build-profile/src/integTest/groovy/org/gradle/profile/ProfilingIntegrationTest.groovy
  subprojects/build-profile/src/main/java/org/gradle/profile/BuildProfile.java
  subprojects/build-profile/src/main/java/org/gradle/profile/BuildProfileServices.java
  subprojects/build-profile/src/main/java/org/gradle/profile/CompositeOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ContinuousOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/FragmentedOperation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/Operation.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileEventAdapter.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileListener.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileReportRenderer.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProjectProfile.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ReportGeneratingProfileListener.java
  subprojects/build-profile/src/main/java/org/gradle/profile/TaskExecution.java
  subprojects/build-profile/src/main/java/org/gradle/profile/package-info.java
  subprojects/build-profile/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  subprojects/build-profile/src/test/groovy/org/gradle/profile/BuildProfileTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/CompositeOperationTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/ProfileReportRendererTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/ProjectProfileTest.groovy
  subprojects/build-profile/src/test/groovy/org/gradle/profile/TaskExecutionTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncherFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeListenerManagerAction.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/BuildScopeServicesTest.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, from:member, in:core

#7671 add http retries to the 5.0 release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member, in:docs

#7728 Upgrade Kotlin DSL to 1.0.3
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
Labels: a:feature, from:member, in:kotlin-dsl

#7672 Provide dependencies artifacts during artifact transform
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/ArtifactTransformDependencies.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformationException.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/BuildDependenciesOnlyVisitedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ArtifactTransforms.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ConsumerProvidedResolvedVariant.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransformDependencies.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransforms.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationDependency.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationNodeFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationRegistration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerExecutionHistoryRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNodeDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNodeFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationSubject.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformerExecutionHistoryRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformerInvocation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformerInvoker.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformerWorkspaceProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingArtifactVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListener.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransformsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformerInvokerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListenerTest.groovy
Labels: a:bug, a:feature, in:dependency-management

#7738 Add gradlePluginPortal() repository metadata source change in 5.0 to upgrading doc
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: from:member, in:docs

#7737 Set http.keepAlive=false for now
  gradle.properties
Labels: a:chore, from:member

#7736 Worker daemons will stop themselves when daemon dies unexpectedly
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ProcessFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/AbstractDaemonFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonFixture.java
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonLifecycleTest.groovy
Labels: a:bug, from:member

#7745 Add Kotlin DSL samples to upgrading_version_4 chapter
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: from:member, in:docs

#7574 Rejig the user manual navigation
  subprojects/docs/src/docs/userguide/build_cache.adoc
  subprojects/docs/src/docs/userguide/directory_layout.adoc
  subprojects/docs/src/docs/userguide/standard_plugins.adoc
  subprojects/docs/src/docs/userguide/tutorial_using_tasks.adoc
  subprojects/docs/src/main/resources/header.html
Labels: from:member, in:docs

#7744 Report annotation processor details to TAPI progress listeners
  subprojects/language-java/language-java.gradle.kts
  subprojects/language-java/src/crossVersionTest/groovy/org/gradle/api/internal/tasks/compile/tooling/JavaCompileTaskSuccessResultCrossVersionTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/CompileJavaBuildOperationReportingCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/CompileJavaBuildOperationType.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/tooling/JavaCompileTaskSuccessResultPostProcessor.java
  subprojects/language-java/src/main/java/org/gradle/language/java/internal/JavaLanguagePluginServiceRegistry.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultAnnotationProcessorResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultJavaCompileTaskSuccessResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/OperationResultPostProcessor.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTaskOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/CompositeOperationResultPostProcessor.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingApiSubscribableBuildActionRunnerRegistration.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/DefaultTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/java/DefaultAnnotationProcessorResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/java/DefaultJavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/java/JavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/java/package-info.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalJavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiClasspathProvider.groovy
Labels: a:feature, in:tooling-api

#7763 Upgrade to Groovy 2.5.4
  gradle/dependencies.gradle
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
Labels: a:chore, from:member, in:core

#7772 Upgrade Kotlin DSL to 1.0.4
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  subprojects/docs/src/docs/release/notes.md
Labels: a:feature, from:member, in:kotlin-dsl

#7771 Add unit test for extra attributes computation
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/model/AttributeSelectionUtilsTest.groovy
Labels: in:dependency-management

#7779 Expose whether a transformation step requires dependencies to be injected
  subprojects/core/src/main/java/org/gradle/api/internal/DependencyInjectingInstantiator.java
  subprojects/core/src/main/java/org/gradle/api/internal/InjectUtil.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationRegistration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChain.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListener.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ChainedTransformerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransformsTest.groovy
Labels: from:member

#7768 Fix IDEA import for gradle/gradle with 'one module per source set' option
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/IntTestImagePlugin.kt
  subprojects/base-services/base-services.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/classpath/DefaultModuleRegistryTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/Sample.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ForkingGradleHandle.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/IntegrationTestBuildContext.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/ClasspathVersionSource.java
Labels: dev-productivity, from:member

#7778 Isolate native service and class within `platformNative` project
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/platform/package-info.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppStaticLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/AbstractSwiftIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/CppComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/CppPlatform.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppApplication.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppBinary.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppPlatform.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/NativeVariantIdentity.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppLibraryPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/toolchains/DefaultToolChainSelector.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/toolchains/ToolChainSelector.java
  subprojects/language-native/src/main/java/org/gradle/language/plugins/NativeBasePlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/SwiftComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/SwiftPlatform.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftApplication.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftBinary.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftPlatform.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftLibraryPlugin.java
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppApplicationTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppComponentTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppLibraryTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/toolchains/DefaultToolChainSelectorTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftApplicationTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftComponentTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftLibraryTest.groovy
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/MachineArchitecture.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/OperatingSystemFamily.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/TargetMachine.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/TargetMachineFactory.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/internal/DefaultTargetMachineFactory.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/platform/internal/DefaultOperatingSystem.java
  subprojects/smoke-test/smoke-test.gradle
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/internal/DefaultCppTestSuite.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/plugins/CppUnitTestPlugin.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/DefaultSwiftXCTestSuite.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/plugins/XCTestConventionPlugin.java
  subprojects/testing-native/src/test/groovy/org/gradle/nativeplatform/test/cpp/internal/DefaultCppTestSuiteTest.groovy
  subprojects/testing-native/src/test/groovy/org/gradle/nativeplatform/test/xctest/internal/DefaultSwiftXCTestSuiteTest.groovy
Labels: a:chore, from:member, in:native-platform

#7739 Handle deferred values uniformly via `DeferredUtil`
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/WritePropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/PathNotationConverter.java
  subprojects/core/src/main/java/org/gradle/api/tasks/WriteProperties.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/copy/PathNotationConverterTest.groovy
  subprojects/files/src/main/java/org/gradle/api/internal/file/collections/BuildDependenciesOnlyFileCollectionResolveContext.java
  subprojects/files/src/main/java/org/gradle/api/internal/file/collections/DefaultFileCollectionResolveContext.java
  subprojects/model-core/src/main/java/org/gradle/util/DeferredUtil.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
Labels: a:feature, from:member, in:core

#7795 Let init use the same Kotlin version as embedded for Kotlin DSL
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
Labels: a:bug, from:member, in:build-init-plugin

#7792 Fix for starting a single-use daemon when client has low memory
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/SingleUseDaemonIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/BuildProcess.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/configuration/BuildProcessTest.groovy
Labels: a:bug, from:member, in:daemon

#7796 Let init use the same Groovy version as embedded for Groovy DSL
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
Labels: a:bug, from:member, in:build-init-plugin

#7790 TAPI: Make JavaCompile result orthogonal to task outcome
  subprojects/language-java/src/crossVersionTest/groovy/org/gradle/api/internal/tasks/compile/tooling/JavaCompileTaskOperationResultCrossVersionTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/tooling/JavaCompileTaskSuccessResultPostProcessor.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultAnnotationProcessorResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultJavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/java/DefaultAnnotationProcessorResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/java/DefaultJavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/java/JavaCompileTaskOperationResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalJavaCompileTaskOperationResult.java
Labels: a:feature, from:member, in:tooling-api

#7798 Update Groovy and Kotlin version ranges in :updateInitPluginTemplateVersionFile
  subprojects/build-init/build-init.gradle.kts
Labels: a:chore, from:member, in:build-init-plugin

#7803 Add build scan tag when executed from IDEA
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: dev-productivity, from:member

#7804 Add crossVersionTests from languageJava
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, from:member

#7817 Fix cross-version tests
  subprojects/language-java/src/crossVersionTest/groovy/org/gradle/api/internal/tasks/compile/tooling/JavaCompileTaskOperationResultCrossVersionTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r35/BuildProgressCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/BuildProgressCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/WorkItemProgressEventCrossVersionTest.groovy
Labels: a:chore, from:member, in:tooling-api

#7812 Include progress event performance in measurement
  subprojects/internal-android-performance-testing/src/main/java/org/gradle/performance/android/SyncAction.java
Labels: a:chore, from:member

#7777 Fail performance test iteration fast
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/PerformanceTest.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractGradleBuildPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/BuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/OperationTimer.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/Checks.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossBuildPerformanceResults.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionPerformanceResults.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/GradleVsMavenBuildPerformanceResults.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestResult.java
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestExecutionTest.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunnerTest.groovy
  subprojects/performance/docs/performance-bisect.md
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidDexingTransformsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/kotlindsl/KotlinDslVsGroovyDslPerformanceTest.groovy
Labels: a:chore, dev-productivity, from:member

#7816 Report relative path for overlapping outputs
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveTaskOutputCachingStateExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveTaskOutputCachingStateExecuterTest.groovy
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/CachedPlatformScalaCompileIntegrationTest.groovy
Labels: from:member

#7828 Do not expose ArtifactTransformDependencies.EMPTY as public API
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/ArtifactTransformDependencies.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ArtifactTransformDependenciesProvider.java
Labels: from:member

#7820 Handle duplicate target machines
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/AbstractSwiftIntegrationTest.groovy
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/internal/DefaultTargetMachineFactory.java
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/internal/DefaultTargetMachineFactoryTest.groovy
Labels: a:bug, from:member, in:native-platform

#7801 Move `TargetMachineFactory#host()` to internal API
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/AbstractCppIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/AbstractSwiftIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppApplication.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/plugins/CppLibraryPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/Dimensions.java
  subprojects/language-native/src/main/java/org/gradle/language/plugins/NativeBasePlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftApplication.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftComponent.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftLibrary.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftApplicationPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftLibraryPlugin.java
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/internal/DefaultCppComponentTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftComponentTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/swift/AbstractSwiftComponentIntegrationTest.groovy
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/TargetMachineFactory.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/internal/DefaultTargetMachineFactory.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/internal/DefaultCppTestSuite.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/plugins/CppUnitTestPlugin.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/DefaultSwiftXCTestSuite.java
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/plugins/XCTestConventionPlugin.java
Labels: a:chore, from:member, in:native-platform

#7840 Pass the dependencies provider between transform chains
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
Labels: from:member

#7838 Prefer loopback bind address if available for build daemon communications
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonInitialCommunicationFailureIntegrationSpec.groovy
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/InetAddressFactory.java
  subprojects/messaging/src/test/groovy/org/gradle/internal/remote/internal/inet/InetAddressFactoryTest.groovy
  subprojects/messaging/src/test/groovy/org/gradle/internal/remote/internal/inet/TcpConnectorTest.groovy
  subprojects/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/FileLockCommunicator.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/locklistener/FileLockCommunicatorTest.groovy
Labels: a:feature, in:core

#7846 Enable transformation workspace in gradle/gradle
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: from:member

#7854 Mask / in performance test id
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossBuildPerformanceTestHistory.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionPerformanceTestHistory.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/IndexPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestHistory.java
Labels: from:member

#7844 Add tests for long transformation chains
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
Labels: from:member

#7847 Include task origin plugin in TaskOperationDescriptor
  subprojects/core/src/main/java/org/gradle/api/internal/CollectionCallbackActionDecorator.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultTaskDescriptor.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/BuildOperationParentTracker.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingProjectConfigurationOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTaskOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingWorkItemOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/PluginApplicationTracker.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProgressEventConsumer.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TaskOriginTracker.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingApiSubscribableBuildActionRunnerRegistration.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/ProjectConfigurationProgressEventCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/TaskOriginCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/TaskOperationDescriptor.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/DefaultTaskOperationDescriptor.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalTaskWithExtraInfoDescriptor.java
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapterForTaskOperationsTest.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiClasspathProvider.groovy
Labels: a:feature, from:member, in:tooling-api

#7808 Pass current java.home if java9Home property is not set
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/PerformanceTest.java
Labels: a:chore, dev-productivity, from:member

#7859 Stack traces emitted by Gradle are stabilised to improve deduplication
  subprojects/logging/logging.gradle.kts
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/FeatureUsage.java
Labels: from:member

#7864 Restrict cases where to do HTTP retries
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyUnresolvedModuleIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/http/HttpAuthenticationDependencyResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ErrorHandlingModuleComponentRepository.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ErrorHandlingModuleComponentRepositoryTest.groovy
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpErrorStatusCodeException.java
Labels: a:performance-issue, from:member, in:dependency-management

#7863 Only count execution time of container callbacks once
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingProjectConfigurationOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/PluginApplicationTracker.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TaskOriginTracker.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/ProjectConfigurationProgressEventCrossVersionSpec.groovy
Labels: a:bug, from:member, in:tooling-api

#7849 Report task execution reasons and incrementality
  subprojects/base-services/src/main/java/org/gradle/internal/scan/NotUsedByScanPlugin.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/IncrementalTaskAction.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationResult.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationType.java
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/CompileJavaBuildOperationType.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/AbstractTaskResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultJavaCompileTaskSuccessResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultTaskFailureResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultTaskSkippedResult.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/events/DefaultTaskSuccessResult.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTaskOperationListener.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r51/TaskExecutionResultCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/TaskExecutionResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/TaskFailureResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/TaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/DefaultTaskFailureResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/DefaultTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/TaskExecutionDetails.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/task/internal/java/DefaultJavaCompileTaskSuccessResult.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalIncrementalTaskResult.java
Labels: a:feature, from:member, in:tooling-api

#7561 Support concurrent access in DefaultCachedMetadata
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/DefaultCachedMetadata.java
Labels: from:member, in:dependency-management
