Repository gradle/gradle, pull requests merged in 2018-05, with the labels that each got.

#5219 Revert unnecessary change to support folders to be included to Xcode IDE
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/plugins/XcodePlugin.java
Labels: a:chore, from:member, in:native-platform

#5208 Add configureLater(name, action) to TaskContainer
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskProvider.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/BasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: from:member

#5209 Use lazy task API in Groovy plugin
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/GroovyPluginIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyPlugin.java
Labels: from:member

#5212 Increase default timeout to 60 seconds in dependency management tests
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyUnresolvedModuleIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenDynamicResolveIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractDependencyResolutionTest.groovy
  subprojects/plugin-use/plugin-use.gradle
  subprojects/resources-http/resources-http.gradle
  subprojects/resources-http/src/testFixtures/groovy/org/gradle/integtests/fixtures/AbstractHttpDependencyResolutionTest.groovy
Labels: a:chore, from:member, in:testing

#5113 Leverage repository mirrors for testing samples
  subprojects/docs/src/docs/userguide/declaringDependencies.adoc
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDeclaringDependenciesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDeclaringRepositoriesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDefiningUsingConfigurationsIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesManagingTransitiveDependenciesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesTroubleshootingDependencyResolutionIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
Labels: from:member, in:dependency-management

#5229 Dependency constraints ignore transitive dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultDependencyDescriptorFactory.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultDependencyDescriptorFactoryTest.groovy
Labels: from:member, in:dependency-management

#5183 Introduce dedicated DSL to customize the POM of a MavenPublication
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/docbook/AssembleDslDocTask.groovy
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/docbook/JavadocConverter.java
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/docbook/PropertyDetailRenderer.java
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/links/ClassLinkMetaData.java
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/source/model/PropertyMetaData.java
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/docs/dsl/docbook/ClassDocRendererTest.groovy
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/docs/dsl/docbook/JavadocConverterTest.groovy
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/docs/dsl/source/ExtractDslMetaDataTaskTest.groovy
  subprojects/docs/src/docs/dsl/dsl.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPom.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomCiManagement.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomContributor.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomContributorSpec.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomDeveloper.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomDeveloperSpec.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomDistributionManagement.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomIssueManagement.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomLicense.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomLicenseSpec.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomMailingList.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomMailingListSpec.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomOrganization.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomRelocation.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomScm.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenPom.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishPomCustomizationIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomCiManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomContributor.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomContributorSpec.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomDeveloper.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomDeveloperSpec.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomDistributionManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomIssueManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomLicense.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomLicenseSpec.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomMailingList.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomMailingListSpec.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomOrganization.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomRelocation.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomScm.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomDeveloper.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomDistributionManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomLicense.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomMailingList.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomOrganization.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomProjectManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomRelocation.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomScm.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenPomDistributionManagementInternal.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenPomInternal.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGenerator.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/MavenPublishPlugin.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/GenerateMavenPom.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGeneratorTest.groovy
Labels: a:feature, from:member, in:publishing-plugin

#5231 Document how to publish custom artifacts using Maven and Ivy
  subprojects/docs/src/docs/userguide/publishingIvy.adoc
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/samples/ivy-publish/publish-artifact/build.gradle
  subprojects/docs/src/samples/ivy-publish/publish-artifact/settings.gradle
  subprojects/docs/src/samples/maven-publish/publish-artifact/build.gradle
  subprojects/docs/src/samples/maven-publish/publish-artifact/settings.gradle
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/SamplesIvyPublishIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/SamplesMavenPublishIntegrationTest.groovy
Labels: a:chore, from:member, in:docs

#5238 Avoid recreating usage sets for every disambiguation
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
Labels: from:member, in:dependency-management

#5196 Validate destroyables with outputs/inputs sooner
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
Labels: from:member

#5081 Point users to IDEA's import feature in IDEA plugin chapter
  subprojects/docs/src/docs/userguide/basePlugin.adoc
  subprojects/docs/src/docs/userguide/ideaPlugin.adoc
Labels: from:member, in:docs

#5248 Document POM customization DSL, add complete Maven publishing sample, and remove superfluous model blocks
  subprojects/docs/src/docs/userguide/publishingIvy.adoc
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/samples/ivy-publish/descriptor-customization/build.gradle
  subprojects/docs/src/samples/maven-publish/pomCustomization/settings.gradle
  subprojects/docs/src/samples/maven-publish/pomGeneration/build.gradle
  subprojects/docs/src/samples/maven-publish/pomGeneration/settings.gradle
  subprojects/docs/src/samples/signing/maven-publish/build.gradle
  subprojects/docs/src/samples/signing/maven-publish/src/main/java/Sample.java
  subprojects/docs/src/samples/userguideOutput/publishingMavenSignAndPublish.out
  subprojects/docs/src/samples/userguideOutput/signingPluginSignPublication.out
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/SamplesIvyPublishIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/SamplesMavenPublishIntegrationTest.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningSamplesSpec.groovy
Labels: a:chore, from:member, in:docs

#5243 Add support for URI-backed text resources
  subprojects/core-api/src/main/java/org/gradle/api/resources/TextResourceFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/BrokenTextResourceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/TextResourceIntegrationTest.groovy
  subprojects/core/src/integTest/resources/org/gradle/api/resource/TextResourceIntegrationTest/shared/web-file.txt
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultFileOperations.java
  subprojects/core/src/main/java/org/gradle/api/internal/resources/ApiTextResourceAdapter.java
  subprojects/core/src/main/java/org/gradle/api/internal/resources/DefaultResourceHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/resources/DefaultTextResourceFactory.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/DefaultScript.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultFileOperationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/resources/ApiTextResourceAdapterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/groovy/scripts/DefaultScriptTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/ProjectScopeServicesTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/docs/src/docs/dsl/org.gradle.api.resources.TextResourceFactory.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/resources/src/main/java/org/gradle/internal/resource/DownloadedUriTextResource.java
  subprojects/resources/src/test/groovy/org/gradle/internal/resource/DownloadedUriTextResourceTest.groovy
  subprojects/resources/src/test/groovy/org/gradle/internal/resource/local/LocalFileStandInExternalResourceTest.groovy
Labels: a:feature, from:member, in:core

#5246 Document how to publish distributions using Maven/Ivy Publish Plugins
  subprojects/docs/src/docs/userguide/distributionPlugin.adoc
  subprojects/docs/src/samples/ivy-publish/distribution/build.gradle
  subprojects/docs/src/samples/ivy-publish/distribution/settings.gradle
  subprojects/docs/src/samples/ivy-publish/distribution/src/main/resources/sample.txt
  subprojects/docs/src/samples/maven-publish/distribution/build.gradle
  subprojects/docs/src/samples/maven-publish/distribution/settings.gradle
  subprojects/docs/src/samples/maven-publish/distribution/src/main/resources/sample.txt
  subprojects/docs/src/samples/userguide/distribution/build.gradle
  subprojects/docs/src/samples/userguide/distribution/src/readme/readme.txt
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/SamplesIvyPublishIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/SamplesMavenPublishIntegrationTest.groovy
Labels: a:chore, from:contributor, in:docs

#5224 Wait for async processes to configure the `buildScan` extension
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: a:chore, from:member, in:gradle-build

#5200 Honor nested `afterEvaluate` requests
  subprojects/core/src/integTest/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/configuration/project/LifecycleProjectEvaluator.java
  subprojects/core/src/test/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: a:feature, from:member, in:core

#5250 Add plugin registry for buildSrc plugins
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
Labels: a:chore, from:member, in:core

#5257 Add test for POM DSL using Kotlin DSL
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/FeaturePreviewsFixture.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishPomCustomizationKotlinDslIntegTest.groovy
Labels: a:chore, from:member, in:publishing-plugin

#5220 Modify PhasedActions to run tasks only when explicitly requested by the client
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ClientProvidedPhasedAction.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  subprojects/launcher/src/test/groovy/org/gradle/tooling/internal/provider/PhasedActionEventConsumerTest.groovy
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientProvidedPhasedActionRunner.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/ClientProvidedPhasedActionRunnerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsEvaluatedAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsLoadedAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/CustomProjectsLoadedModel.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/PhasedBuildActionCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/PhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListener.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/PhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/InternalPhasedActionAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalPhasedAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/PhasedActionResult.java
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListenerTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuterBuilderTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuterTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultProjectConnectionTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnectionTest.groovy
Labels: a:feature, from:contributor, in:tooling-api

#5259 Polish chapters on Signing and Ivy/Maven Publish Plugins
  subprojects/docs/src/docs/userguide/publishingIvy.adoc
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/docs/userguide/signingPlugin.adoc
Labels: a:chore, from:member, in:docs

#5281 Fix repository mirror script for older versions
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
Labels: a:chore, from:member

#5169 Cleanup task scheduler
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskGraphExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskPlanExecutor.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskInfoFactory.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskPlanExecutorFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/TaskExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskGraphExecuterSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskPlanExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/TaskInfoFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/TaskPlanExecutorFactoryTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaUpToDatePerformanceTest.groovy
Labels: from:member

#5286 Move URI text resources from Deprecations to New and noteworthy section
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:docs

#5216 Support setter generation for capitalization like `cCompiler`
  subprojects/base-services/src/test/groovy/org/gradle/internal/reflect/PropertyAccessorTypeTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AsmBackedClassGenerator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AsmBackedClassGeneratorTest.java
Labels: a:bug, from:member, in:core

#5308 Simplify --continue handling
  subprojects/core/src/main/java/org/gradle/execution/SelectedTaskExecutionAction.java
  subprojects/core/src/main/java/org/gradle/execution/TaskFailureHandler.java
  subprojects/core/src/main/java/org/gradle/execution/TaskGraphExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskGraphExecuter.java
  subprojects/core/src/test/groovy/org/gradle/execution/SelectedTaskExecutionActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskGraphExecuterSpec.groovy
Labels: from:member

#5288 Rename TaskGraphExecuter -> TaskExecutionGraph(Internal)
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/core/src/main/java/org/gradle/execution/SelectedTaskExecutionAction.java
  subprojects/core/src/main/java/org/gradle/execution/TaskExecutionGraphInternal.java
  subprojects/core/src/main/java/org/gradle/execution/TaskNameResolvingBuildConfigurationAction.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncher.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/test/groovy/org/gradle/execution/DryRunBuildExecutionActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/ExcludedTaskFilteringBuildConfigurationActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/SelectedTaskExecutionActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/TaskNameResolvingBuildConfigurationActionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultGradleLauncherSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/GradleScopeServicesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/invocation/DefaultGradleSpec.groovy
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationActionTest.groovy
Labels: from:member

#5267 Remove download message in play tests to avoid flakiness
  subprojects/diagnostics/src/testFixtures/groovy/org/gradle/api/reporting/components/AbstractComponentReportIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/GroupedOutputFixture.java
Labels: a:chore, from:member, in:testing

#5302 Fix link to Ivy repository pattern concepts
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/IvyArtifactRepository.java
Labels: a:bug, from:contributor, in:core

#5287 Fix links from Javadoc to User Guide
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/BuildCacheConfiguration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ConfigurationContainer.java
Labels: a:bug, from:member, in:core

#5294 Documentation for immutable tasks
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/moreAboutTasks.adoc
  subprojects/docs/src/samples/userguide/tasks/addToTaskContainer/build.gradle
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/groovyMap/build.gradle
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/groovyMap/settings.gradle
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/groovyTaskContainer/build.gradle
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/groovyTaskContainer/settings.gradle
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/kotlinDsl/build.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/taskConstructorArgs/kotlinDsl/settings.gradle
Labels: from:member

#5285 Mark maven-publish and ivy-publish as stable
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/stylesheets/userGuideHtml.xsl
  subprojects/docs/src/docs/userguide/artifactManagement.adoc
  subprojects/docs/src/docs/userguide/mavenPlugin.adoc
  subprojects/docs/src/docs/userguide/publishingIvy.adoc
  subprojects/docs/src/docs/userguide/publishingMaven.adoc
  subprojects/docs/src/docs/userguide/standardPlugins.adoc
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/InvalidIvyPublicationException.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyArtifact.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyArtifactSet.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyConfiguration.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyConfigurationContainer.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyDependency.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyExtraInfoSpec.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyModuleDescriptorSpec.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyPublication.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/package-info.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/IvyPublishPlugin.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/package-info.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/GenerateIvyDescriptor.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/PublishToIvyRepository.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/package-info.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/InvalidMavenPublicationException.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenArtifact.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenArtifactSet.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenDependency.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/package-info.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/MavenPublishPlugin.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/package-info.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/AbstractPublishToMaven.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/GenerateMavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/PublishToMavenLocal.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/PublishToMavenRepository.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/package-info.java
  subprojects/publish/src/main/java/org/gradle/api/publish/PublicationArtifact.java
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/package-info.java
Labels: a:chore, from:member, in:docs, in:publishing-plugin

#5316 Revert changes to SourceToNameConverter
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/CompilationSourceDirs.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/SourceToNameConverter.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/SourceToNameConverterTest.groovy
Labels: a:chore, from:member, in:jvm-platform

#5307 Upgrade Kotlin DSL {0.17.0 => 0.17.2}
  build.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/DynamicModulesClassPathProvider.java
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:feature, from:member, in:core

#5295 Internal conventions implementations expose their public type
  subprojects/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrSourceVirtualDirectoryImpl.java
  subprojects/antlr/src/test/groovy/org/gradle/api/plugins/antlr/AntlrPluginTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/DefaultMavenRepositoryHandlerConvention.java
  subprojects/maven/src/test/groovy/org/gradle/api/publication/maven/internal/DefaultMavenRepositoryHandlerConventionTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultGroovySourceSet.java
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/tasks/DefaultGroovySourceSetTest.groovy
  subprojects/scala/src/main/java/org/gradle/api/internal/tasks/DefaultScalaSourceSet.java
  subprojects/scala/src/test/groovy/org/gradle/api/internal/tasks/DefaultScalaSourceSetTest.groovy
Labels: a:feature, from:member, in:antlr-plugin, in:groovy-plugin, in:maven-plugin, in:scala-plugin

#5275 Don't pass empty string value to `-cp`
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
Labels: a:bug, from:member, in:core

#5318 Add test coverage so lazy configuration action are executed only once
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
Labels: a:chore, from:member, in:native-platform

#5276 Quote command line arguments containing the hash character
  subprojects/base-services/src/main/java/org/gradle/internal/process/ArgWriter.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/process/ArgWriterTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
Labels: a:feature, from:member, in:core

#5297 Document immutable file collections
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/declaringDependencies.adoc
  subprojects/docs/src/docs/userguide/lazyConfiguration.adoc
  subprojects/docs/src/docs/userguide/moreAboutTasks.adoc
  subprojects/docs/src/docs/userguide/workingWithFiles.adoc
  subprojects/docs/src/samples/providers/fileAndDirectoryProperty/build.gradle
  subprojects/docs/src/samples/userguide/files/copy/build.gradle
  subprojects/docs/src/samples/userguide/files/fileCollections/build.gradle
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/incrementalBuildAdvanced/build.gradle
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/incrementalBuildAdvanced/buildSrc/src/main/java/org/example/ProcessTemplates.java
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/build.gradle
Labels: from:member

#5266 Replace EventFiringTaskWorker with a TaskExecuter
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/TaskExecutionGraphInternal.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/TaskExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: from:member

#5309 Clean up /tmp/.gradle-test-kit-tcagent1/caches before smoke test
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/CleanUpCaches.kt
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/Cleanup.kt
Labels: a:chore, from:member, in:testing

#5268 Fix flaky test stopScheduledExecutorThrowsExceptionOnTimeout
  subprojects/base-services/src/test/groovy/org/gradle/internal/concurrent/DefaultExecutorFactoryTest.groovy
Labels: a:chore, from:member, in:testing

#5319 Remove public PhasedBuildActionExecutor type
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/IntermediateResultHandlerCollector.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r48/PhasedBuildActionCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/BuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/IntermediateResultHandler.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/PhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListener.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/PhasedBuildAction.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnection.java
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedActionResultListenerTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuterBuilderTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DefaultProjectConnectionTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/connection/PhasedActionAwareConsumerConnectionTest.groovy
Labels: a:chore, from:member, in:tooling-api

#5298 Track type literals in annotations
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/SourceIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/asm/ClassDependenciesVisitor.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/analyzer/DefaultClassDependenciesAnalyzerTest.groovy
Labels: a:bug, from:member, in:jvm-platform

#5320 Ensure configuration execute in the same order for lazy and eager task API
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskProvider.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: a:bug, from:member, in:native-platform

#5331 Let :init Maven conversion fail with reasonable error when --dsl kotlin
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
Labels: a:bug, from:member, in:build-init-plugin

#5348 Redirect TAPI output to a file in perf tests
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
Labels: a:chore, from:member

#5344 Unify generated Gradle jar cache build operations
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/DefaultGeneratedGradleJarCacheIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultGeneratedGradleJarCache.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultGeneratedGradleJarCacheTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/RuntimeShadedJarFactory.java
Labels: a:feature, from:member, in:core

#5350 Upgrade Kotlin DSL {0.17.2 => 0.17.3}
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
Labels: a:feature, from:member, in:core

#5357 Replace Gradle native related release note
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:native-platform

#5356 Nag users only once about stable_publishing flag
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/AbstractCompositeBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/JansiEndUserIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishAndResolveIntegrationTest.groovy
  subprojects/docs/src/samples/plugins/publishing/settings.gradle
  subprojects/docs/src/samples/toolingApi/customModel/plugin/settings.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractAutoTestedSamplesTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishIssuesIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishMultipleRepositoriesIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishValidationIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/plugins/IvyPublishPluginIntegTest.groovy
  subprojects/ivy/src/testFixtures/groovy/org/gradle/api/publish/ivy/AbstractIvyPublishIntegTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryWithBothLinkagePublishingIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryWithStaticLinkagePublishingIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishBasicIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/plugins/MavenPublishPluginIntegTest.groovy
  subprojects/maven/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/maven/AbstractMavenPublishIntegTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsPublishingIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginPublishingIntegrationTest.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/AlreadyOnClasspathPluginUseIntegrationTest.groovy
  subprojects/publish/src/integTest/groovy/org/gradle/api/publish/plugins/PublishingPluginIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenPublishGcsErrorsIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3ErrorsIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/ScalaAnnotationProcessingIntegrationTest.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/SamplesToolingApiIntegrationTest.groovy
Labels: a:bug, from:member, in:publishing-plugin

#5353 Move some performance tests to experiment stage
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeCleanBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftCleanBuildPerformanceTest.groovy
Labels: a:chore, from:member

#5334 Use "store" instead of "push" in build cache documentation
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/BuildCache.java
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/BuildCacheConfiguration.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipCachedTaskExecuter.java
  subprojects/docs/src/docs/userguide/buildCache.adoc
Labels: from:member

#5342 Draft release notes and features for Gradle 4.8
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: from:member, in:docs

#5369 Allow build scans to gracefully degrade with the implicit continuous build
  subprojects/core/core.gradle
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanAutoApplyIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanAutoApplyKotlinIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanConfigIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanContinuousBuildCompatibilityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/fixtures/BuildScanAutoApplyFixture.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/fixtures/BuildScanPluginFixture.groovy
  subprojects/core/src/main/java/org/gradle/deployment/internal/DefaultDeploymentRegistry.java
  subprojects/core/src/main/java/org/gradle/deployment/internal/DeploymentRegistryInternal.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfig.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfigServices.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanPluginCompatibility.java
  subprojects/core/src/test/groovy/org/gradle/internal/scan/config/BuildScanConfigManagerTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:bug, in:continuous-build

#5370 Update 3rd party plugins to latest version
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: a:chore, from:member

#5249 Make DefaultExecHandle respond to Ctrl-C
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/ExecCancellationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncherFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/TaskExecutionServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/AbstractExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandle.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultGradleLauncherFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/JavaExecHandleBuilderTest.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ServicesSetupBuildActionExecuter.java
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiDistributionResolver.groovy
Labels: a:bug, from:member, in:core

#5368 Add dependency locking command line options to CLI documentation
  subprojects/docs/src/docs/userguide/commandLineInterface.adoc
Labels: from:member, in:dependency-management

#5380 Upgrade Kotlin DSL {0.17.3 => 0.17.4}
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
Labels: a:feature, from:member

#5374 Extend POM DSL to support distributionManagement.downloadUrl
  subprojects/docs/src/docs/dsl/org.gradle.api.publish.maven.MavenPomDistributionManagement.xml
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishPomCustomizationIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishPomCustomizationKotlinDslIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPomDistributionManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPomDistributionManagement.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGenerator.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGeneratorTest.groovy
Labels: a:feature, from:member, in:publishing-plugin

#5365 Fix "forced" flag being sometimes ignored
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ForcedModulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
Labels: a:bug, from:member, in:dependency-management

#5376 Fix incorrect handling of cycles with root component
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
Labels: a:bug, from:member, in:dependency-management

#5122 Use latest Gosu and Gosu plugin
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: in:build-cache

#5085 Improve explanation of `api` vs `implementation` in manual
  subprojects/docs/src/docs/userguide/buildingJavaProjects.adoc
  subprojects/docs/src/docs/userguide/javaLibraryPlugin.adoc
Labels: a:chore, from:member, in:docs

#5384 Polish release notes for task cosntructor arguments feature
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#5395 Polish release notes for creation-time task configuration
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: from:member

#5394 Additions to dependency locking documentation
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dependencyLocking.adoc
Labels: in:dependency-management

#5385 Improve wording for 'deferred configurable' deprecation message
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
Labels: a:chore, from:member, in:publishing-plugin

#5408 Fix generating flamegraphs for JavaIDEModelPerformanceTest
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
Labels: from:member

#5313 Improve lists in Java Plugin chapter
  subprojects/docs/src/docs/userguide/groovyPlugin.adoc
  subprojects/docs/src/docs/userguide/javaPlugin.adoc
  subprojects/docs/src/docs/userguide/javaProjectGenericLayout.adoc
  subprojects/docs/src/docs/userguide/javaProjectMainLayout.adoc
  subprojects/docs/src/docs/userguide/javaProjectTestLayout.adoc
  subprojects/docs/src/docs/userguide/scalaPlugin.adoc
Labels: from:member, in:docs

#5391 Fix S3Client tests that require JAXB
  subprojects/resources-s3/resources-s3.gradle
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/S3ClientIntegrationTest.groovy
  subprojects/resources-s3/src/main/java/org/gradle/internal/resource/transport/aws/s3/S3Client.java
  subprojects/resources-s3/src/test/groovy/org/gradle/internal/resource/transport/aws/s3/S3ClientTest.groovy
Labels: a:chore, from:member, in:dependency-management

#5411 Minor adjustment of build cache javadoc
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/BuildCache.java
  subprojects/docs/src/docs/userguide/buildCache.adoc
Labels: from:member

#5412 Add new replacements for lazy task API
  subprojects/build-comparison/src/main/groovy/org/gradle/api/plugins/buildcomparison/gradle/CompareGradleBuildsPlugin.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/AbstractCodeQualityPlugin.java
  subprojects/core-api/src/main/java/org/gradle/api/DomainObjectCollection.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskContainer.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DelegatingDomainObjectSet.java
  subprojects/core/src/main/java/org/gradle/api/internal/TypedDomainObjectContainerWrapper.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/RealizableTaskCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/RealizableTaskCollectionTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/cpp/plugins/CppLibraryPluginTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/plugins/SwiftApplicationPluginTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/swift/plugins/SwiftLibraryPluginTest.groovy
  subprojects/platform-base/src/main/java/org/gradle/platform/base/internal/BinaryTasksCollectionWrapper.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/BasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePluginRules.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaLibraryPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: from:member, in:native-platform

#5403 Fix a couple of issues rendering attributes in the `dependencyInsight` report
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ComponentReplacementIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/DependencyReportHeader.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/RequestedVersion.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/graph/nodes/SelectionReasonHelper.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/insight/DependencyInsightReporter.java
  subprojects/docs/src/samples/userguideOutput/dependencyInsightReport.out
Labels: from:member, in:dependency-management

#5416 Avoid unexpected http resource cache hit
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/BrokenTextResourceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/TextResourceIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#5421 Fix Resolve All Example
  subprojects/docs/src/samples/userguide/dependencyManagement/dependencyLocking/lockingAllConfigurations/build.gradle
Labels: a:bug, from:contributor, in:docs

#5453 Allow a build operation notification listeners during continuous build
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationContinuousBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationFixture.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanContinuousBuildCompatibilityIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationBridge.java
  subprojects/core/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationValve.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfig.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfigServices.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanPluginCompatibility.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CrossBuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationBridgeTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/scan/config/BuildScanConfigManagerTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/exec/InProcessBuildActionExecuter.java
Labels: a:bug, from:member, in:continuous-build

#5442 Cancel performance scenarios when coordinator is cancelled
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
Labels: a:chore, from:member

#5460 Upgrade Kotlin DSL {0.17.4 => 0.17.5}
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/docs/src/docs/release/notes.md
Labels: a:feature, from:member, in:core

#5443 Make rich/verbose console behave like plain when streams are not attached
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/buildevents/AbstractBuildResultLoggerFunctionalTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/buildevents/RichConsoleBuildResultLoggerFunctionalTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/buildevents/VerboseConsoleBuildResultLoggerFunctionalTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/console/AbstractExecOutputIntegrationTest.groovy
  subprojects/internal-integ-testing/src/integTest/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuterIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RichConsoleStyling.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/console/AbstractConsoleGroupedTaskFunctionalTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ConsoleAttachment.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ErrorsOnStdoutScrapingExecutionResult.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ExecutionResult.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionResult.java
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/ConsoleTypePersistIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractBasicGroupedTaskLoggingFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleDeprecationMessageGroupedTaskFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/rich/RichConsoleBasicGroupedTaskLoggingFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/verbose/VerboseConsoleVerboseRenderingFunctionalTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/logging/LoggingOutputInternal.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/services/DefaultLoggingManager.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/ConsoleConfigureAction.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/ErrorOutputDispatchingListener.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/OutputEventRenderer.java
  subprojects/logging/src/test/groovy/org/gradle/internal/logging/services/DefaultLoggingManagerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/logging/sink/OutputEventRendererTest.groovy
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/console/TestConsoleMetadata.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m8/ToolingApiLoggingCrossVersionSpec.groovy
Labels: a:feature, from:member

#5429 Treat Gradle modules as immutable files
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
Labels: a:chore, from:member, in:core

#5419 Include class name in deprecation message
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
Labels: from:member, in:core

#5444 Run finalizers in parallel in all cases
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionPlan.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ParallelProjectExecutionIntegrationTest.groovy
Labels: a:bug, from:member, in:core

#5462 Compute Gradle module classpath lazily
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
Labels: a:chore, from:member

#5420 Make deprecation summary actionable
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
Labels: from:member, in:core

#5441 Add more Kotlin DSL performance tests
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/FileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/GroovyDslFileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/KotlinDslFileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGeneratorConfiguration.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/dsl/GradleDsl.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/kotlindsl/KotlinDslVsGroovyDslPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: from:member

#5445 Fix concat for attributes with same name, different type
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/ImmutableAttributesFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactoryTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
Labels: a:bug, from:member, in:dependency-management

#5491 Propagate Java install probing failure on configuration attempt
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaInstallationProbe.java
Labels: from:member

#5463 Treat generated API/TestKit jars as immutable
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/DefaultGeneratedGradleJarCacheIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultGeneratedGradleJarCache.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultGeneratedGradleJarCacheTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/GradleUserHomeScopeServicesTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/RuntimeShadedJarFactory.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGenerator.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
Labels: a:chore, from:member

#5483 Make samples testing more efficient
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AutoTestedSamplesUtil.groovy
Labels: a:chore, from:member

#5488 Move RetryRule up in AbstractCrossBuildPerformanceTest
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/kotlindsl/KotlinDslVsGroovyDslPerformanceTest.groovy
Labels: from:member

#5495 Fix interactions for dependency locking and empty configurations
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/DependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
Labels: from:member, in:dependency-management

#5502 Create and cleanup TAPI test directories in ${project}/build/tmp
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/AbstractTestDirectoryProvider.java
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiCompatibilitySuiteRunner.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiDistributionResolver.groovy
Labels: a:chore, from:member, in:tooling-api

#5409 Add test coverage for ValidateTaskProperties
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidateTaskPropertiesIntegrationTest.groovy
Labels: from:member

#5522 Use `ModuleComponentIdentifier` to represent a locked dependency
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyLockingState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/RootLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingState.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingArtifactVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingNotationConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/LockEntryFilter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/LockEntryFilterFactory.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/local/model/RootLocalComponentMetadataTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DefaultDependencyLockingProviderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingArtifactVisitorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingNotationConverterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/LockEntryFilterFactoryTest.groovy
Labels: from:member, in:dependency-management

#5486 Include S3 publishing tests on JDK >= 9
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/excluded-tests.kt
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/fixtures/AddJavaXmBindModulesTrait.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/ivy/IvyPublishS3IntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/ivy/IvyS3UploadArchivesIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3ErrorsIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3IntegrationTest.groovy
Labels: a:chore, from:member

#5521 Remove unused methods from FileCollectionSnapshot
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/tasks/TaskOutputCacheCommandFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileCollectionSnapshot.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/EmptyFileCollectionSnapshot.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/FileCollectionSnapshot.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultGenericFileCollectionSnapshotterTest.groovy
Labels: from:member

#5536 Remove mention of the Hazelcast plugin
  subprojects/docs/src/docs/userguide/buildCache.adoc
Labels: from:member

#5539 Remove the concept of discovered task inputs
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalTasksIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/ChangesOnlyIncrementalTaskInputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DiscoveredInputRecorder.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/StatefulIncrementalTaskInputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/package-info.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/rules/DefaultTaskUpToDateState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/rules/DiscoveredInputTaskStateChanges.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CacheBackedTaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CurrentTaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/HistoricalTaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/TaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/TaskExecutionSnapshotSerializer.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/TaskHistoryRepository.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/TaskExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepositoryTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerFactory.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/AbstractNativeCompileSpec.java
Labels: from:member

#5465 Split file content caches into mutable and immutable files
  subprojects/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  subprojects/base-services/src/main/java/org/gradle/internal/service/RelevantMethods.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileSystemMirror.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultWellKnownFileLocations.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/WellKnownFileLocations.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultFileContentCacheFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/SplitFileContentCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/DefaultTaskArtifactStateRepositoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultClasspathSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultFileSystemMirrorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultFileSystemSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultGenericFileCollectionSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultFileContentCacheFactoryTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/sourceparser/CachingCSourceParser.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/sourceparser/IncludeDirectivesSerializer.java
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/incremental/SourceParseAndResolutionTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/incremental/sourceparser/IncludeDirectivesSerializerTest.groovy
Labels: a:chore, from:member

#5472 Keep hashes for immutable in user home scope
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultResourceSnapshotterCacheService.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/ResourceSnapshotterCacheService.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/SplitFileHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/SplitResourceSnapshotterCacheService.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingResourceHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultClasspathSnapshotterTest.groovy
Labels: a:chore, from:member, in:core

#5552 Do not run the action provided to `tasks.all()` more than once
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
Labels: a:bug, from:member, in:core

#5550 Put DeferredConfigurable back in place
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/ExtensionsStorage.java
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishDescriptorCustomizationIntegTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishBasicIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
Labels: a:bug, from:member, in:publishing-plugin

#5545 Decorate TaskProvider
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
Labels: in:native-platform

#5578 Upgrade ktlint-convention plugin in buildSrc
  buildSrc/build.gradle.kts
Labels: from:member, in:gradle-build

#5558 Add build operations around after/beforeEvaluate and projectsLoaded/Evaluated lifecycle hooks
  subprojects/core/src/integTest/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/invocation/NestedClosureIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectStateInternal.java
  subprojects/core/src/main/java/org/gradle/configuration/project/LifecycleProjectEvaluator.java
  subprojects/core/src/main/java/org/gradle/configuration/project/NotifyProjectAfterEvaluatedBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/configuration/project/NotifyProjectBeforeEvaluatedBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncher.java
  subprojects/core/src/main/java/org/gradle/initialization/NotifyProjectsEvaluatedBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/initialization/NotifyProjectsLoadedBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/initialization/NotifyingBuildLoader.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/ProjectStateInternalSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultGradleLauncherSpec.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractBasicGroupedTaskLoggingFunctionalTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/BuildProgressCrossVersionSpec.groovy
Labels: from:member

#5478 Make `JavaExec` support `--args`
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/applicationPlugin.adoc
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#5570 Revert behavior around task removal from the container
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: a:bug, from:member, in:core

#5587 Fix issue with CME when realizing pending elements
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/collections/DefaultPendingSource.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/DefaultPendingSourceTest.groovy
Labels: a:bug, from:member

#5594 Restore semantics of ProjectState.executed
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectStateInternal.java
  subprojects/core/src/main/java/org/gradle/configuration/project/LifecycleProjectEvaluator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/ProjectStateInternalSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorTest.groovy
Labels: from:member, in:core

#5568 Move worker daemon expiration to WorkerDaemonClientsManager
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClientsManager.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonFactory.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonClientsManagerTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonExpirationTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonFactoryTest.groovy
Labels: a:bug, from:member

#5588 Convert `profiling`, `uber-plugins` and `versioning` buildSrc subprojects
  buildSrc/subprojects/uber-plugins/src/main/kotlin/gradlebuild/java-projects.gradle.kts
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/UpdateVersionsPlugin.kt
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/WrapperPlugin.kt
  buildSrc/subprojects/versioning/versioning.gradle.kts
Labels: a:chore, from:member, in:gradle-build
