Repository gradle/gradle, pull requests merged in 2018-09, with the labels that each got.

#6554 Use JUnitXml data model instead of plain xml processing
  buildSrc/subprojects/performance/performance.gradle.kts
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/JUnitXmlTestEventsGenerator.groovy
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/ScenarioReportRenderer.groovy
  buildSrc/subprojects/performance/src/test/groovy/org/gradle/testing/JUnitXmlTestEventsGeneratorTest.groovy
  buildSrc/subprojects/performance/src/test/groovy/org/gradle/testing/ScenarioReportRendererTest.groovy
Labels: a:chore, dev-productivity

#6577 Apply generic domain object collection test to `DefaultPolymorphicDomainObjectContainer`
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectContainerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultPolymorphicDomainObjectContainerTest.groovy
Labels: a:chore, from:member, in:core

#6587 Add type-safe overload for Manifest.from(mergePath, configurationAction)
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/platform-jvm/src/main/java/org/gradle/api/java/archives/Manifest.java
  subprojects/platform-jvm/src/main/java/org/gradle/api/java/archives/internal/CustomManifestInternalWrapper.java
  subprojects/platform-jvm/src/main/java/org/gradle/api/java/archives/internal/DefaultManifest.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/api/java/archives/internal/DefaultManifestTest.groovy
Labels: a:feature, from:member, in:jvm-platform

#6497 include Kotlin DSL sample for chapter working_with_dependencies
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/working_with_dependencies.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/accessingMetadataArtifact.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/accessMetadataArtifact/printGuavaMetadata.out
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/iterateResolvedArtifacts.out
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/iterating-artifacts.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateArtifacts/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/iterateDeclaredDependencies.out
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/iterating-dependencies.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/iterateDependencies/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/walkDependencyGraph.out
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/walking-dependency-graph.sample.conf
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
Labels: from:contributor, in:docs

#6571 include Kotlin DSL sample for chapter building_java_projects (crossCompilation example)
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/building_java_projects.adoc
  subprojects/docs/src/samples/java/crossCompilation/groovy/build.gradle
  subprojects/docs/src/samples/java/crossCompilation/groovy/gradle.properties
  subprojects/docs/src/samples/java/crossCompilation/groovy/settings.gradle
  subprojects/docs/src/samples/java/crossCompilation/groovy/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/java/crossCompilation/groovy/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/java/crossCompilation/groovy/src/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/java/crossCompilation/groovy/src/test/resources/org/gradle/test-resource.xml
  subprojects/docs/src/samples/java/crossCompilation/java6CrossCompilation.sample.conf
  subprojects/docs/src/samples/java/crossCompilation/java7CrossCompilation.sample.conf
  subprojects/docs/src/samples/java/crossCompilation/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/crossCompilation/kotlin/gradle.properties
  subprojects/docs/src/samples/java/crossCompilation/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/crossCompilation/kotlin/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/java/crossCompilation/kotlin/src/main/resources/org/gradle/resource.xml
  subprojects/docs/src/samples/java/crossCompilation/kotlin/src/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/java/crossCompilation/kotlin/src/test/resources/org/gradle/test-resource.xml
Labels: from:contributor, in:docs

#6636 Upgrade default tool version of CodeNarc to 1.2.1
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  subprojects/docs/src/docs/dsl/org.gradle.api.plugins.quality.CodeNarcExtension.xml
  subprojects/docs/src/docs/release/notes.md
Labels: a:feature, from:member, in:codenarc-plugin

#6575 include Kotlin DSL sample for chapter building_java_projects (manifest example)
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/building_java_projects.adoc
  subprojects/docs/src/docs/userguide/java_plugin.adoc
  subprojects/docs/src/samples/userguide/tutorial/manifest/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/manifest/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/manifest/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/manifest/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/manifest/manifest.sample.conf
Labels: from:contributor, in:docs

#6638 Upgrade default tool version of JaCoCo to 0.8.2
  subprojects/docs/src/docs/dsl/org.gradle.testing.jacoco.plugins.JacocoPluginExtension.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/samples/testing/jacoco/quickstart/groovy/build.gradle
  subprojects/docs/src/samples/testing/jacoco/quickstart/kotlin/build.gradle.kts
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  subprojects/jacoco/src/test/groovy/org/gradle/internal/jacoco/JacocoAgentJarTest.groovy
Labels: a:feature, from:member, in:jacoco-plugin

#6639 Upgrade default tool version of PMD to 6.7.0
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginSubtypeParamIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/PmdInvoker.groovy
  subprojects/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
  subprojects/docs/src/docs/dsl/org.gradle.api.plugins.quality.PmdExtension.xml
  subprojects/docs/src/docs/release/notes.md
Labels: a:feature, from:member, in:pmd-plugin

#6586 include Kotlin DSL sample for chapter tutorial_java_projects
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dependency_types.adoc
  subprojects/docs/src/docs/userguide/organizing_gradle_projects.adoc
  subprojects/docs/src/docs/userguide/tutorial_java_projects.adoc
  subprojects/docs/src/samples/java/multiproject/groovy/api/build.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/api/src/dist/README.txt
  subprojects/docs/src/samples/java/multiproject/groovy/api/src/main/java/org/gradle/api/PersonList.java
  subprojects/docs/src/samples/java/multiproject/groovy/api/src/main/java/org/gradle/api/package-info.java
  subprojects/docs/src/samples/java/multiproject/groovy/api/src/main/java/org/gradle/apiImpl/Impl.java
  subprojects/docs/src/samples/java/multiproject/groovy/build.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/buildSrc/build.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/buildSrc/src/main/java/org/gradle/buildsrc/BuildSrcClass.java
  subprojects/docs/src/samples/java/multiproject/groovy/buildSrc/src/test/java/org/gradle/buildsrc/BuildSrcClassTest.java
  subprojects/docs/src/samples/java/multiproject/groovy/services/shared/build.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/services/shared/src/main/java/org/gradle/services/shared/TestTest.java
  subprojects/docs/src/samples/java/multiproject/groovy/services/webservice/build.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/services/webservice/src/main/java/org/gradle/webservice/TestTest.java
  subprojects/docs/src/samples/java/multiproject/groovy/services/webservice/src/test/java/org/gradle/webservice/TestTestTest.java
  subprojects/docs/src/samples/java/multiproject/groovy/settings.gradle
  subprojects/docs/src/samples/java/multiproject/groovy/shared/src/main/java/org/gradle/shared/Person.java
  subprojects/docs/src/samples/java/multiproject/groovy/shared/src/main/java/org/gradle/shared/package-info.java
  subprojects/docs/src/samples/java/multiproject/groovy/shared/src/main/resources/org/gradle/shared/main.properties
  subprojects/docs/src/samples/java/multiproject/groovy/shared/src/test/java/org/gradle/shared/PersonTest.java
  subprojects/docs/src/samples/java/multiproject/groovy/shared/src/test/resources/org/gradle/shared/test.properties
  subprojects/docs/src/samples/java/multiproject/javaMultiProject.sample.conf
  subprojects/docs/src/samples/java/multiproject/kotlin/api/build.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/api/src/dist/README.txt
  subprojects/docs/src/samples/java/multiproject/kotlin/api/src/main/java/org/gradle/api/PersonList.java
  subprojects/docs/src/samples/java/multiproject/kotlin/api/src/main/java/org/gradle/api/package-info.java
  subprojects/docs/src/samples/java/multiproject/kotlin/api/src/main/java/org/gradle/apiImpl/Impl.java
  subprojects/docs/src/samples/java/multiproject/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/buildSrc/build.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/buildSrc/src/main/java/org/gradle/buildsrc/BuildSrcClass.java
  subprojects/docs/src/samples/java/multiproject/kotlin/buildSrc/src/test/java/org/gradle/buildsrc/BuildSrcClassTest.java
  subprojects/docs/src/samples/java/multiproject/kotlin/services/shared/build.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/services/shared/src/main/java/org/gradle/services/shared/TestTest.java
  subprojects/docs/src/samples/java/multiproject/kotlin/services/webservice/build.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/services/webservice/src/main/java/org/gradle/webservice/TestTest.java
  subprojects/docs/src/samples/java/multiproject/kotlin/services/webservice/src/test/java/org/gradle/webservice/TestTestTest.java
  subprojects/docs/src/samples/java/multiproject/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/multiproject/kotlin/shared/src/main/java/org/gradle/shared/Person.java
  subprojects/docs/src/samples/java/multiproject/kotlin/shared/src/main/java/org/gradle/shared/package-info.java
  subprojects/docs/src/samples/java/multiproject/kotlin/shared/src/main/resources/org/gradle/shared/main.properties
  subprojects/docs/src/samples/java/multiproject/kotlin/shared/src/test/java/org/gradle/shared/PersonTest.java
  subprojects/docs/src/samples/java/multiproject/kotlin/shared/src/test/resources/org/gradle/shared/test.properties
  subprojects/docs/src/samples/java/multiproject/listProjects.sample.conf
  subprojects/docs/src/samples/java/multiproject/services/shared/build.gradle
  subprojects/docs/src/samples/java/multiproject/services/webservice/build.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaMultiProjectIntegrationTest.groovy
Labels: from:contributor, in:docs

#6590 include Kotlin DSL sample for chapter eclipse_plugin
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/eclipse_plugin.adoc
  subprojects/docs/src/samples/eclipse/groovy/build.gradle
  subprojects/docs/src/samples/eclipse/groovy/settings.gradle
  subprojects/docs/src/samples/eclipse/kotlin/build.gradle.kts
  subprojects/docs/src/samples/eclipse/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/eclipse/wtpWithXml.sample.conf
Labels: from:contributor, in:docs

#6591 include Kotlin DSL sample for chapter declaring_dependencies
  subprojects/docs/src/docs/userguide/declaring_dependencies.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnly/artifact-only-dependency-declaration.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnly/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnly/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnly/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnly/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnlyWithClassifier/artifact-only-dependency-declaration-with-classifier.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnlyWithClassifier/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnlyWithClassifier/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnlyWithClassifier/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/artifactOnlyWithClassifier/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/changingVersion/dependencies-changing-version.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/changingVersion/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/changingVersion/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/changingVersion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/changingVersion/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/concreteVersion/dependencies-concrete-version.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/concreteVersion/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/concreteVersion/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/concreteVersion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/concreteVersion/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/dynamicVersion/dependencies-dynamic-version.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/dynamicVersion/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/dynamicVersion/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/dynamicVersion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/dynamicVersion/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/fileDependencies/file-dependencies.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/fileDependencies/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/fileDependencies/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/fileDependencies/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/fileDependencies/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/projectDependencies/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/projectDependencies/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/projectDependencies/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/projectDependencies/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/projectDependencies/project-dependencies.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/withoutVersion/dependencies-without-version.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/withoutVersion/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/withoutVersion/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/withoutVersion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringDependencies/withoutVersion/kotlin/settings.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDeclaringDependenciesIntegrationTest.groovy
Labels: from:contributor, in:docs

#6593 include Kotlin DSL sample for chapter inspecting_dependencies
  subprojects/docs/src/docs/userguide/inspecting_dependencies.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependenciesReport/dependencyReport.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependenciesReport/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependenciesReport/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependenciesReport/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependenciesReport/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyInsightReport/dependencyInsightReport.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyInsightReport/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyInsightReport/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyInsightReport/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyInsightReport/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/dependencyReasonReport.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/inspectingDependencies/dependencyReason/kotlin/settings.gradle.kts
Labels: from:contributor, in:docs

#6598 include Kotlin DSL sample for chapter build_lifecycle
  subprojects/docs/src/docs/userguide/build_lifecycle.adoc
  subprojects/docs/src/samples/userguide/buildlifecycle/basic/buildlifecycle.sample.conf
  subprojects/docs/src/samples/userguide/buildlifecycle/basic/groovy/build.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/basic/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/basic/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/basic/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/buildProjectEvaluateEvents.groovy.out
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/buildProjectEvaluateEvents.kotlin.out
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/buildProjectEvaluateEvents.sample.conf
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/groovy/build.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/groovy/projectB.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/kotlin/projectB.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/buildProjectEvaluateEvents/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/groovy/build.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/groovy/projectA.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/kotlin/projectA.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/projectEvaluateEvents/projectEvaluateEvents.sample.conf
  subprojects/docs/src/samples/userguide/buildlifecycle/taskCreationEvents/groovy/build.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/taskCreationEvents/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/taskCreationEvents/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/taskCreationEvents/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/taskCreationEvents/taskCreationEvents.sample.conf
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/groovy/build.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/taskExecutionEvents.groovy.out
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/taskExecutionEvents.kotlin.out
  subprojects/docs/src/samples/userguide/buildlifecycle/taskExecutionEvents/taskExecutionEvents.sample.conf
  subprojects/docs/src/samples/userguide/multiproject/customLayout/customLayout.sample.conf
  subprojects/docs/src/samples/userguide/multiproject/customLayout/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/customLayout/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/multiproject/standardLayouts/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/multiproject/standardLayouts/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/multiproject/standardLayouts/standardLayouts.sample.conf
Labels: from:contributor, in:docs

#6648 Fix SamplesAntlrIntegrationSpec after Kotlin DSL samples added
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesAntlrIntegrationSpec.groovy
Labels: from:member, in:antlr-plugin

#6599 Use optional inputs for performance templates
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/performance/generator/tasks/BuildBuilderGenerator.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
Labels: from:member

#6655 fix #6653: avoid double deprecation message when using the publishing plugin
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
Labels: from:contributor

#6650 Return empty file tree for directory snapshot
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileSystemSnapshotter.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskUpToDateIntegrationTest.groovy
Labels: a:bug, in:incremental-build

#6640 Upgrade default tool version of Checkstyle to 8.12
  gradle/shared-with-buildSrc/code-quality-configuration.gradle.kts
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginMultiProjectTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstyleRelocationIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  subprojects/docs/src/docs/dsl/org.gradle.api.plugins.quality.CheckstyleExtension.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/IsolatedAntBuilderMemoryLeakIntegrationTest.groovy
Labels: a:feature, from:member, in:checkstyle-plugin

#6658 Add samples as input to integration tests only
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/GradleDistribution.groovy
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/GradleDistribution.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/GradleDistributionSamples.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/IntegrationTest.kt
  subprojects/integ-test/integ-test.gradle
Labels: dev-productivity, from:member, in:gradle-build

#6667 Return correct relative path when snapshotting
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/mirror/MirrorUpdatingDirectoryWalker.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/collections/jdk7/Jdk7DirectoryWalkerTest.groovy
Labels: from:member

#6564 Use TCP keep-alive for http connections
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpClientConfigurer.java
  subprojects/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/HttpClientConfigurerTest.groovy
Labels: from:member

#6669 Upgrade to Spock 1.2-RC2
  buildSrc/build.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/build-extensions.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  gradle/dependencies.gradle
  gradle/testDependencies.gradle
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecutorTest.groovy
  subprojects/docs/docs.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/fixtures/SampleSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractContinuousIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/CrossVersionIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/CrossVersionRetryTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RetryConditions.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/Sample.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonLogsAnalyzer.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossBuildPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestConditions.groovy
  subprojects/internal-testing/internal-testing.gradle.kts
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/AbstractTestDirectoryProvider.java
  subprojects/internal-testing/src/main/groovy/org/gradle/testing/internal/util/RetryRule.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/testing/internal/util/Specification.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/FailsWithMessageExtension.java
  subprojects/internal-testing/src/test/groovy/org/gradle/testing/internal/util/RetryRuleTest.groovy
  subprojects/internal-testing/src/test/groovy/org/gradle/testing/internal/util/RetryRuleWithSetupRerunTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ChangesDuringBuildContinuousIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/RetryOnBuildFailureContinuousIntegrationTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/buildcache/LocalTaskOutputCacheCrossBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/GradleFeaturePreviewsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/ParallelBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/nativeplatform/NativeParallelPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/nativeplatform/NativePreCompiledHeaderPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleBuildPerformanceTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerGradleVersionIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerRetryTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerUnsupportedFeatureFailureIntegrationTest.groovy
  subprojects/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/detection/DefaultTestClassScannerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/ContinuousBuildCrossVersionToolingApiSpecificationRetryTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/CrossVersionToolingApiSpecificationRetryTest.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ConcurrentToolingApiIntegrationSpec.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ContinuousBuildToolingApiSpecification.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiClasspathProvider.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
Labels: a:chore, from:member

#6563 Clean destination directory when running Groovydoc/Javadoc
  subprojects/docs/src/docs/release/notes.md
  subprojects/language-groovy/src/integTest/groovy/org/gradle/groovy/GroovyDocIntegrationTest.groovy
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/javadoc/Groovydoc.java
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocWorkAvoidanceIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
Labels: from:member

#6680 Rework collection of performance tests results
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
Labels: a:chore

#6578 include Kotlin DSL sample for chapter java_plugin
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/java_plugin.adoc
  subprojects/docs/src/docs/userguide/plugins.adoc
  subprojects/docs/src/docs/userguide/tutorial_java_projects.adoc
  subprojects/docs/src/samples/java/apt/annotationProcessing.sample.conf
  subprojects/docs/src/samples/java/apt/groovy/build.gradle
  subprojects/docs/src/samples/java/apt/groovy/settings.gradle
  subprojects/docs/src/samples/java/apt/groovy/src/main/java/com/acme/DefaultHeatSensor.java
  subprojects/docs/src/samples/java/apt/groovy/src/main/java/com/acme/HeatSensor.java
  subprojects/docs/src/samples/java/apt/groovy/src/main/java/com/acme/Sensors.java
  subprojects/docs/src/samples/java/apt/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/apt/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/apt/kotlin/src/main/java/com/acme/DefaultHeatSensor.java
  subprojects/docs/src/samples/java/apt/kotlin/src/main/java/com/acme/HeatSensor.java
  subprojects/docs/src/samples/java/apt/kotlin/src/main/java/com/acme/Sensors.java
  subprojects/docs/src/samples/java/customizedLayout/customJavaSourceLayout.sample.conf
  subprojects/docs/src/samples/java/customizedLayout/groovy/build.gradle
  subprojects/docs/src/samples/java/customizedLayout/groovy/settings.gradle
  subprojects/docs/src/samples/java/customizedLayout/groovy/src/java/org/gradle/Person.java
  subprojects/docs/src/samples/java/customizedLayout/groovy/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/java/customizedLayout/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/customizedLayout/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/customizedLayout/kotlin/src/java/org/gradle/Person.java
  subprojects/docs/src/samples/java/customizedLayout/kotlin/test/java/org/gradle/PersonTest.java
  subprojects/docs/src/samples/java/quickstart/groovy/build.gradle
  subprojects/docs/src/samples/java/quickstart/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/sourceSets/build.gradle
  subprojects/docs/src/samples/userguide/java/sourceSets/configureSourceSet.sample.conf
  subprojects/docs/src/samples/userguide/java/sourceSets/groovy/build.gradle
  subprojects/docs/src/samples/userguide/java/sourceSets/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/java/sourceSets/groovy/src/intTest/java/SomeTest.java
  subprojects/docs/src/samples/userguide/java/sourceSets/groovy/src/intTest/resources/resource.txt
  subprojects/docs/src/samples/userguide/java/sourceSets/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/sourceSets/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/java/sourceSets/kotlin/src/intTest/java/SomeTest.java
  subprojects/docs/src/samples/userguide/java/sourceSets/kotlin/src/intTest/resources/resource.txt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaCustomizedLayoutIntegrationTest.groovy
Labels: from:contributor, in:docs

#6673 Let integration tests isolate generated api jars per intTestImage
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/CleanUpCaches.kt
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/ApplyPluginIntegSpec.groovy
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultGeneratedGradleJarCache.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesCodeQualityIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/IntegrationTestBuildContext.java
Labels: a:chore, from:member, in:testing

#6608 Include Kotlin DSL samples for Potential Traps chapters
  subprojects/docs/src/docs/userguide/potential_traps.adoc
  subprojects/docs/src/samples/userguide/tutorial/mkdirTrap/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/mkdirTrap/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/mkdirTrap/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/mkdirTrap/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/mkdirTrap/mkdirTrap.sample.conf
Labels: from:member, in:docs

#6649 Stop testing for Java 7
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, dev-productivity

#6697 Apply cglib rule only once in DependenciesMetadataRulesPlugin
  buildSrc/subprojects/configuration/src/main/kotlin/build-extensions.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/dependencies/DependenciesMetadataRulesPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  gradle/testDependencies.gradle
  subprojects/internal-testing/internal-testing.gradle.kts
Labels: a:chore, from:member

#6701 Rename some native samples
  subprojects/docs/src/docs/userguide/native_software.adoc
  subprojects/docs/src/samples/native-binaries/cunit/assembleDependentComponents.out
  subprojects/docs/src/samples/native-binaries/cunit/assembleDependentComponents.sample.conf
  subprojects/docs/src/samples/native-binaries/cunit/assembleDependentComponentsReport.out
  subprojects/docs/src/samples/native-binaries/cunit/assembleDependentComponentsReport.sample.conf
  subprojects/docs/src/samples/native-binaries/cunit/buildDependentComponents.out
  subprojects/docs/src/samples/native-binaries/cunit/buildDependentComponents.sample.conf
  subprojects/docs/src/samples/native-binaries/cunit/buildDependentComponentsReport.out
  subprojects/docs/src/samples/native-binaries/cunit/buildDependentComponentsReport.sample.conf
  subprojects/docs/src/samples/native-binaries/cunit/dependentComponentsReport.out
  subprojects/docs/src/samples/native-binaries/cunit/dependentComponentsReport.sample.conf
  subprojects/docs/src/samples/native-binaries/cunit/dependentComponentsReportAll.out
  subprojects/docs/src/samples/native-binaries/cunit/dependentComponentsReportAll.sample.conf
Labels: from:member

#6666 Restrict users on Java 9
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/java/AvailableJavaInstallations.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/PerformanceTest.java
  subprojects/distributions/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:chore, dev-productivity, from:member

#6703 Ensure that ide destroy tasks always run before generate tasks
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractIdeDeduplicationIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractIdeLifecycleIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractIdeProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseLifecycleIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/idea/IdeaLifecycleIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/IdePlugin.java
Labels: a:bug, from:member

#6665 Allow logging null value
  subprojects/docs/src/docs/release/notes.md
  subprojects/logging/src/main/java/org/gradle/internal/logging/serializer/LogEventSerializer.java
  subprojects/logging/src/test/groovy/org/gradle/internal/logging/serializer/LogEventSerializerTest.groovy
Labels: from:contributor

#6713 Upgrade Kotlin DSL to 1.0-RC5
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedBuildScanPlugin.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: a:feature, from:member, in:core

#6714 Refine `integTest.gradleGeneratedApiJarCacheDir` behaviour
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/IntegrationTestBuildContext.java
Labels: a:feature, from:member, in:gradle-build

#6720 Upgrade Kotlin DSL to 1.0-RC6
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: a:feature, from:member, in:core

#6692 Raise minimum build JVM version to Java 8
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  subprojects/core/src/main/java/org/gradle/internal/jvm/UnsupportedJavaRuntimeException.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultGlobalDependencyResolutionRules.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/building_java_projects.adoc
  subprojects/docs/src/docs/userguide/embedding.adoc
  subprojects/docs/src/docs/userguide/gradle_daemon.adoc
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r31/ToolingApiIdeaModelCrossVersionSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionResult.java
  subprojects/language-groovy/src/integTest/groovy/org/gradle/language/groovy/GroovyCompileJavaVersionTrackingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileJavaVersionIntegrationTest.groovy
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/UpToDatePlatformScalaCompileIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/DeprecatedBuildIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/SupportedBuildJvmIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/Main.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/JvmVersionValidator.java
  subprojects/launcher/src/main/java/org/gradle/launcher/exec/RunAsBuildOperationBuildActionRunner.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerDeprecatedBuildJvmIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerSupportedBuildJvmIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/ToolingApiUnsupportedBuildJvmCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/ToolingApiUnsupportedClientJvmCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/ToolingApiDeprecatedBuildJvmCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/ToolingApiDeprecatedClientJvmCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/GradleConnector.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/ConnectorServices.java
  subprojects/wrapper/src/crossVersionTest/groovy/org/gradle/integtests/WrapperCrossVersionIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperDeprecatedBuildJvmIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperSupportedBuildJvmIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#6633 include Kotlin DSL sample for chapter custom_plugins
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/custom_plugins.adoc
  subprojects/docs/src/samples/userguide/customPlugins/customPlugin/customPlugin.sample.conf
  subprojects/docs/src/samples/userguide/customPlugins/customPlugin/groovy/build.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPlugin/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPlugin/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPlugin/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithAdvancedConvention/customPluginWithAdvancedConvention.sample.conf
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithAdvancedConvention/groovy/build.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithAdvancedConvention/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithAdvancedConvention/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithAdvancedConvention/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithConvention/customPluginWithConvention.sample.conf
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithConvention/groovy/build.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithConvention/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithConvention/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithConvention/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/domainObjectContainer.groovy.out
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/domainObjectContainer.kotlin.out
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/domainObjectContainer.out
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/domainObjectContainer.sample.conf
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/groovy/build.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithDomainObjectContainer/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithNestedDsl/groovy/build.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithNestedDsl/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithNestedDsl/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithNestedDsl/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/customPlugins/customPluginWithNestedDsl/nestedDslElement.sample.conf
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/groovy/build/hello.txt
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/customTaskWithFileProperty/lazyFileProperties.sample.conf
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/mapExtensionPropertiesToTaskProperties/mapExtensionPropertiesToTaskProperties.sample.conf
Labels: from:contributor, in:docs

#6637 include Kotlin DSL sample for chapter init_scripts
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/init_scripts.adoc
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/groovy/build.gradle
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/groovy/init.gradle
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/initScriptConfiguration.sample.conf
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/kotlin/init.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/externalInitDependency.sample.conf
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/groovy/build.gradle
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/groovy/init.gradle
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/kotlin/init.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/externalDependency/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/plugins/groovy/build.gradle
  subprojects/docs/src/samples/userguide/initScripts/plugins/groovy/init.gradle
  subprojects/docs/src/samples/userguide/initScripts/plugins/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/initScripts/plugins/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/plugins/kotlin/init.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/plugins/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/plugins/usePluginsInInitScripts.sample.conf
Labels: from:contributor, in:docs

#6523 Use idea-ext plugin to allow native Intellij import of gradle/gradle
  buildSrc/subprojects/ide/ide.gradle.kts
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
Labels: from:member, in:gradle-build

#6724 Bump wrapper and fix resulting deprecation warnings
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/source/GenerateDefaultImportsTask.java
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/classycle/ClassycleExtension.kt
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/EmptyDirectoryCheck.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/ApiMetadataPlugin.kt
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/ShadedJar.kt
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/ShadedJarPlugin.kt
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/performance/generator/tasks/BuildBuilderGenerator.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, from:member

#6647 Disallow container self mutation from within a configureEach configuration action
  subprojects/core/src/integTest/groovy/org/gradle/api/AbstractDomainObjectContainerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/NamedDomainObjectContainerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/TaskContainerIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractMutationGuard.java
  subprojects/core/src/main/java/org/gradle/api/internal/CompositeDomainObjectSet.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultMutationGuard.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectList.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/AbstractIterationOrderRetainingElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/ElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/FilteredCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/SortedSetElementSource.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultMutationGuardTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultNamedDomainObjectListTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DomainObjectCollectionConfigurationFactories.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/AggregateMultiProjectTaskReportModel.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/TaskDetailsFactory.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/BasePlugin.java
Labels: a:feature, from:member, in:core

#6509 include Kotlin DSL sample for chapter managing_dependency_configurations
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/managing_dependency_configurations.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/custom-configuration.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/groovy/src/main/webapp/hello.jsp
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/custom/kotlin/src/main/webapp/hello.jsp
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/configuration-inheritance.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/kotlin/settings.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDefiningUsingConfigurationsIntegrationTest.groovy
Labels: from:contributor, in:docs

#6731 Shorten classpath in BuildProgressCrossVersionSpec to workaround length issue
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/BuildProgressCrossVersionSpec.groovy
Labels: a:bug, from:member

#6645 include Kotlin DSL sample for chapter groovy_plugin and tutorial_groovy_project
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/groovy_plugin.adoc
  subprojects/docs/src/docs/userguide/tutorial_groovy_projects.adoc
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/build.gradle
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/gradle.properties
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/src/main/groovy/org/gradle/GroovyPerson.groovy
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/src/main/groovy/org/gradle/JavaPerson.java
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/src/main/groovy/org/gradle/PersonList.groovy
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/groovy/crossCompilation/groovy/src/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/gradle.properties
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/src/main/groovy/org/gradle/GroovyPerson.groovy
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/src/main/groovy/org/gradle/JavaPerson.java
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/src/main/groovy/org/gradle/PersonList.groovy
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/src/main/java/org/gradle/Person.java
  subprojects/docs/src/samples/groovy/crossCompilation/kotlin/src/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/customizedLayout/customGroovySourceLayout.sample.conf
  subprojects/docs/src/samples/groovy/customizedLayout/groovy/build.gradle
  subprojects/docs/src/samples/groovy/customizedLayout/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/customizedLayout/groovy/src/groovy/org/gradle/Person.groovy
  subprojects/docs/src/samples/groovy/customizedLayout/groovy/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/customizedLayout/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/customizedLayout/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/groovy/customizedLayout/kotlin/src/groovy/org/gradle/Person.groovy
  subprojects/docs/src/samples/groovy/customizedLayout/kotlin/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/quickstart/build.gradle
  subprojects/docs/src/samples/groovy/quickstart/groovy/build.gradle
  subprojects/docs/src/samples/groovy/quickstart/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/main/groovy/org/gradle/Person.groovy
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/main/resources/resource.txt
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/main/resources/script.groovy
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/test/resources/testResource.txt
  subprojects/docs/src/samples/groovy/quickstart/groovy/src/test/resources/testScript.groovy
  subprojects/docs/src/samples/groovy/quickstart/groovyQuickstart.sample.conf
  subprojects/docs/src/samples/groovy/quickstart/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/quickstart/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/main/groovy/org/gradle/Person.groovy
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/main/resources/resource.txt
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/main/resources/script.groovy
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/test/groovy/org/gradle/PersonTest.groovy
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/test/resources/testResource.txt
  subprojects/docs/src/samples/groovy/quickstart/kotlin/src/test/resources/testScript.groovy
  subprojects/docs/src/samples/userguide/groovy/groovyDependency/groovy/build.gradle
  subprojects/docs/src/samples/userguide/groovy/groovyDependency/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/groovy/groovyDependency/groovyTestDependency.sample.conf
  subprojects/docs/src/samples/userguide/groovy/groovyDependency/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/groovy/groovyDependency/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/groovyWithFlatDir/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/groovyWithFlatDir/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/groovyWithFlatDir/groovyFileDependency.sample.conf
  subprojects/docs/src/samples/userguide/tutorial/groovyWithFlatDir/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/groovyWithFlatDir/kotlin/settings.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesGroovyCustomizedLayoutIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesGroovyQuickstartIntegrationTest.groovy
Labels: from:contributor, in:docs

#6715 Let SourceSet expose type-safely that it is ExtensionAware
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultSourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultSourceSetContainer.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSet.java
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/tasks/DefaultSourceSetTest.groovy
Labels: from:member, in:core

#6704 Fix nullability specification on CreateStartScripts properties
  subprojects/plugins/src/main/java/org/gradle/jvm/application/tasks/CreateStartScripts.java
Labels: from:contributor, in:application-plugin

#6719 use `task<Type>()` consistently to create tasks in Kotlin scripts
  subprojects/docs/src/samples/testing/jacoco/application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/testing/testReport/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringRepositories/multipleRepositories/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/declaringRepositories/publicRepository/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/dependencyLocking/lockingAllConfigurations/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/workingWithDependencies/walkGraph/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/basic/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/customDirs/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/osgi/kotlin/build.gradle.kts
Labels: from:contributor, in:docs, waiting-for:gradle-team

#6741 Let conventions implementations expose their public type
  subprojects/diagnostics/src/main/java/org/gradle/api/plugins/internal/DefaultProjectReportsPluginConvention.java
  subprojects/ear/src/main/java/org/gradle/plugins/ear/internal/DefaultEarPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultApplicationPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultBasePluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultWarPluginConvention.java
Labels: from:member, in:application-plugin, in:ear-plugin, in:jvm-platform, in:war-plugin

#6749 Upgrade Kotlin DSL to 1.0-rc-7
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
Labels: a:feature, dogfood:kotlin-dsl, from:member, in:core

#6734 Disallow mutation during `NamedDomainObjectProvider#configure`
  subprojects/core/src/integTest/groovy/org/gradle/api/AbstractDomainObjectContainerIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectContainerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractPolymorphicDomainObjectContainerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultPolymorphicDomainObjectContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: a:feature, from:member, in:core

#6752 Let `IdePlugin` update all JUnit run configurations
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
Labels: a:feature, from:member, in:gradle-build

#6717 Improve modeling of test fixtures
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  subprojects/build-scan-performance/build-scan-performance.gradle
  subprojects/core/core.gradle
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/ide-native/ide-native.gradle
  subprojects/ide/ide.gradle
  subprojects/language-jvm/language-jvm.gradle
  subprojects/launcher/launcher.gradle
  subprojects/platform-native/platform-native.gradle
  subprojects/platform-play/platform-play.gradle
  subprojects/plugins/plugins.gradle
  subprojects/soak/soak.gradle
  subprojects/testing-base/testing-base.gradle
  subprojects/tooling-api/tooling-api.gradle.kts
  subprojects/version-control/version-control.gradle
Labels: a:chore, dev-productivity

#6761 Add details of upgrading to Gradle 5.0
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
  subprojects/docs/src/main/resources/header.html
Labels: from:member, in:docs

#6769 Rebaseline `help on the gradle build comparing gradle`
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
Labels: a:performance-issue, from:member, in:core

#6737 Rename stage names
  .teamcity/Gradle_AgentTest/settings.kts
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Check/projects/StageProject.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_FinalRelease.xml
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_MilestoneMaster.xml
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_StartReleaseCycle.xml
  .teamcity/Gradle_Promotion/buildTypes/bt39.xml
  .teamcity/Gradle_Promotion/buildTypes/bt60.xml
  .teamcity/Gradle_Promotion/buildTypes/bt61.xml
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: dev-productivity

#6627 Use global init script to set mirrors for buildSrc
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/AbstractInitIntegrationSpec.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/SamplesCompositeBuildIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractIdeIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ProjectLayoutIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesApplicationIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesClientModuleDependenciesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesCustomBuildLanguageIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJUnitIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaApiAndImplIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaBaseIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaCustomizedLayoutIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaMultiProjectIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaOnlyIfIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaProjectWithIntTestsIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaQuickstartIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaTestListenerIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesMixedJavaAndGroovyIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesWebProjectIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/SamplesWebQuickstartIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDeclaringRepositoriesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesDefiningUsingConfigurationsIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesManagingTransitiveDependenciesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationTest.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractSampleIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  subprojects/ivy/src/integTest/groovy/org/gradle/integtests/publish/ivy/SamplesIvyPublishIntegrationTest.groovy
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/SampleScalaLanguageIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/osgi/src/integTest/groovy/org/gradle/integtests/OsgiProjectSampleIntegrationTest.groovy
  subprojects/platform-base/src/integTest/groovy/org/gradle/language/base/LanguageTypeSampleIntegrationTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/samples/AbstractPlaySampleIntegrationTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/samples/UserGuidePlaySamplesIntegrationTest.groovy
  subprojects/platform-play/src/testFixtures/groovy/org/gradle/play/integtest/fixtures/AbstractMultiVersionPlayContinuousBuildIntegrationTest.groovy
  subprojects/platform-play/src/testFixtures/groovy/org/gradle/play/integtest/fixtures/PlayMultiVersionApplicationIntegrationTest.groovy
  subprojects/platform-play/src/testFixtures/groovy/org/gradle/play/integtest/fixtures/PlayMultiVersionRunApplicationIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/BasicGroovyCompilerIntegrationSpec.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/samples/SamplesMixedJavaAndScalaIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/IncrementalScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ZincScalaCompilerIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerSamplesEndUserIntegrationTest.groovy
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/TestExecutionBuildOperationsContinousIntegrationTest.groovy
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/TestExecutionBuildOperationsIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/IncrementalTestIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitMultiVersionIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitTestFilteringSamplesIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/SampleTestNGIntegrationTest.groovy
Labels: a:chore, dev-productivity, from:member

#6740 Run platform instead of parallel tests on IBM JDK
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: a:chore, dev-productivity, from:member

#6738 Set source level to Java 7 in IDEA
  .idea/inspectionProfiles/Gradle.xml
  .idea/inspectionProfiles/profiles_settings.xml
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
Labels: a:chore, from:member

#6758 Disconnect streams in the inverse order they are connected
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandle.java
Labels: a:bug, from:member, in:core

#6763 Fix flaky task timeout test
  subprojects/base-services/src/main/java/org/gradle/internal/work/AbstractConditionalExecution.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/ConditionalExecution.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueue.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/timeout/DefaultTimeoutHandler.java
  subprojects/core/src/main/java/org/gradle/internal/work/AsyncWorkCompletion.java
  subprojects/core/src/main/java/org/gradle/internal/work/DefaultAsyncWorkTracker.java
  subprojects/core/src/test/groovy/org/gradle/internal/work/DefaultAsyncWorkTrackerTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/IsolatedClassloaderWorkerFactory.java
Labels: a:bug, from:member, in:core

#6379 Added a nullcheck for username and an appropriate exception to avoid …
  subprojects/docs/src/docs/release/notes.md
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/ntlm/NTLMCredentials.java
  subprojects/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/ntlm/NTLMCredentialsTest.groovy
Labels: a:bug, from:contributor, in:core

#6782 Remove testFixtures from archives
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
Labels: a:chore, dev-productivity, from:member

#6754 Fixes regressions reported in 4.10.1
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
Labels: a:bug, from:member, in:scala-plugin

#6774 Prevent plugin resolution to try download jars for plugin markers
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildConfigurationAttributesResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/UsingLockingOnNonProjectConfigurationsIntegrationTest.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/AuthenticatedPluginRepositorySpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingFromMultipleCustomPluginRepositorySpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingFromSingleCustomPluginRepositorySpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingWithPluginManagementSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/DeployedPortalIntegrationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/NonDeclarativePluginUseIntegrationSpec.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  subprojects/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
Labels: from:member, in:plugin-management

#6791 Don't cache patchExternalModules for slow internet
  build.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/build-extensions.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
Labels: dev-productivity, from:member

#6642 Improve performance report generation
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/CiReportingPlugin.kt
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/classycle/ClassyclePlugin.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/project-groups.kt
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  buildSrc/subprojects/performance/src/main/resources/org/gradle/testing/scenario-report-style.css
  buildSrc/subprojects/performance/src/test/groovy/org/gradle/testing/ScenarioReportRendererTest.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  subprojects/internal-performance-testing/internal-performance-testing.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/measure/DataSeries.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaselineVersion.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/GraphIndexPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/IndexPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ScenarioBuildResultData.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/IndexPageGeneratorTest.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/ReportGeneratorTest.groovy
Labels: a:chore, dev-productivity, from:member

#6799 Followup after Groovy 2.5 uprade
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/UpdateReleasedVersionsTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m5/ToolingApiBuildExecutionCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m5/ToolingApiModelCrossVersionSpec.groovy
Labels: from:member

#6808 Add smoke test resources for Idea
  subprojects/smoke-test/smoke-test.gradle
Labels: dev-productivity, from:member

#6783 Set mirror for exemplar tests
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/dependencies/DependenciesMetadataRulesPlugin.kt
  gradle/dependencies.gradle
  gradle/testDependencies.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/samples/UserGuideSamplesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/mirror/SetMirrorsSampleModifier.java
Labels: a:chore, dev-productivity, from:member

#6801 Remove suppressed warnings for Java 7 features
  subprojects/base-services-groovy/src/main/java/org/gradle/api/specs/Specs.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/CachingClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/FilteringClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/MultiParentClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/TransformingClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/VisitableURLClassLoader.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/AbstractFileAccessor.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/AbstractTaskOutputPackagingBenchmark.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/BufferedFileAccessor.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/ChmodBenchmark.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/DirectFileFileAccessor.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/DirectoryProvider.java
  subprojects/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/FileWalkingBenchmark.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/AbiExtractingClasspathResourceHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/JarHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyValidationAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/InputPropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/initialization/MixInLegacyTypesClassLoader.java
  subprojects/core/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompileTransformingClassLoader.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/serialization/ClientSidePayloadClassLoaderFactory.java
  subprojects/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/Jdk7FileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/PosixFilePermissionConverter.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessor.java
  subprojects/resources/src/main/java/org/gradle/internal/resource/local/SingleDepthFileAccessTracker.java
Labels: a:chore, from:member

#6757 Add performance tests for dexing transforms with AGP 3.3
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidDexingTransformsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: from:member

#6802 Use Java 8 for internal subprojects
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
Labels: a:chore, from:member

#6691 document how to make ad-hoc tasks cacheable
  subprojects/docs/src/docs/userguide/build_cache.adoc
  subprojects/docs/src/samples/buildCache/cacheable-bundle/cacheableBundle-caching.out
  subprojects/docs/src/samples/buildCache/cacheable-bundle/cacheableBundle-caching.sample.conf
  subprojects/docs/src/samples/buildCache/cacheable-bundle/cacheableBundle.out
  subprojects/docs/src/samples/buildCache/cacheable-bundle/cacheableBundle.sample.conf
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/build.gradle
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/build/bundle.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/scripts/a.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/scripts/b.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/settings.gradle
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/build.gradle.kts
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/build/bundle.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/scripts/a.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/scripts/b.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/build.gradle
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/scripts/a.js
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/scripts/b.js
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/settings.gradle
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/build.gradle.kts
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/scripts/a.js
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/scripts/b.js
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/nonCacheableBundle.out
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/nonCacheableBundle.sample.conf
Labels: from:contributor, in:build-cache, in:docs, waiting-for:contributor

#6837 Add NonNullApi annotation on org.gradle.api.model
  subprojects/core-api/src/main/java/org/gradle/api/model/package-info.java
Labels: from:member

#6840 Remove useless code
  subprojects/base-services/src/main/java/org/gradle/internal/hash/ContentHasherFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/tasks/TarTaskOutputPackerTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/MapMergeChangeListener.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptSourceHasher.java
  subprojects/core/src/main/java/org/gradle/internal/hash/DefaultContentHasherFactory.java
  subprojects/core/src/main/java/org/gradle/internal/hash/DefaultStreamHasher.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/groovy/scripts/internal/DefaultScriptSourceHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/GradleUserHomeScopeServicesTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CacheProjectIntegrationTest.groovy
Labels: from:member

#6795 Do not warn about possible weaker access in IntelliJ
  .idea/inspectionProfiles/Gradle.xml
Labels: from:member

#6812 Allow inner class pattern match an outer class
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/TestSelectionMatcher.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/filter/TestSelectionMatcherTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformNestedPatternMatchingIntegrationTest.groovy
Labels: a:bug, from:member, in:testing

#6832 Document module types
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  subprojects/announce/announce.gradle.kts
  subprojects/antlr/antlr.gradle.kts
  subprojects/build-cache-http/build-cache-http.gradle
  subprojects/build-comparison/build-comparison.gradle.kts
  subprojects/build-init/build-init.gradle
  subprojects/code-quality/code-quality.gradle.kts
  subprojects/docs/docs.gradle
  subprojects/ear/ear.gradle
  subprojects/ide-native/ide-native.gradle
  subprojects/ide-play/ide-play.gradle
  subprojects/ide/ide.gradle
  subprojects/ivy/ivy.gradle.kts
  subprojects/jacoco/jacoco.gradle
  subprojects/javascript/javascript.gradle
  subprojects/language-native/language-native.gradle
  subprojects/maven/maven.gradle.kts
  subprojects/osgi/osgi.gradle
  subprojects/platform-native/platform-native.gradle
  subprojects/plugin-development/plugin-development.gradle.kts
  subprojects/plugin-use/plugin-use.gradle
  subprojects/publish/publish.gradle
  subprojects/resources-gcs/resources-gcs.gradle
  subprojects/resources-http/resources-http.gradle
  subprojects/resources-s3/resources-s3.gradle
  subprojects/resources-sftp/resources-sftp.gradle
  subprojects/signing/signing.gradle
  subprojects/testing-native/testing-native.gradle
  subprojects/tooling-native/tooling-native.gradle.kts
Labels: a:chore, from:member

#6816 Report TestNG test methods below test classes
  gradle/dependencies.gradle
  subprojects/docs/src/docs/release/notes.md
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/TestNGCoverage.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGClassIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestResultProcessorAdapter.java
  subprojects/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestResultProcessorAdapterTest.groovy
Labels: a:bug, from:member, in:testing

#6794 Mention Groovy 2.5 upgrade in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#6845 Do not expose source field of SourceTask
  subprojects/core/src/main/java/org/gradle/api/tasks/SourceTask.java
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/release/notes.md
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: from:member

#6852 Add `forceRealizeDependencyManagement` to the daily ready for release…
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: from:member, in:dependency-management

#6850 Refine workerApi Kotlin samples favoring property member
  subprojects/docs/src/samples/workerApi/noIsolation/kotlin/build.gradle.kts
  subprojects/docs/src/samples/workerApi/waitForCompletion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/workerApi/workerDaemon/kotlin/build.gradle.kts
Labels: from:member, in:docs

#6848 Use json instead of xml in distributed performance test
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/JUnitXmlTestEventsGenerator.groovy
  buildSrc/subprojects/performance/src/test/groovy/org/gradle/testing/JUnitXmlTestEventsGeneratorTest.groovy
Labels: a:chore, dev-productivity, from:member

#6839 Fix resolution of dynamic versions when locking is enabled
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/DependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/LockingInteractionsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/LatestVersionSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/LockingAwareSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/SubVersionSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ResolvableSelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/DslOriginDependencyMetadataWrapper.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/RootLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalOriginDependencyMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestModuleSelectorState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestProjectSelectorState.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/locking/LockfileFixture.groovy
Labels: in:dependency-management

#6815 Faster classloader filtering
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/FilteringClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/util/Trie.java
  subprojects/base-services/src/test/groovy/ClassInDefaultPackage.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/classloader/FilteringClassLoaderTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/util/TrieTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/ImplementationDependencyRelocator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/PackageListGenerator.java
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
Labels: from:member

#6844 Remove Groovy compiler bug workaround
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
Labels: from:member

#6869 Fix Spock Specification
  subprojects/internal-testing/src/main/groovy/org/gradle/testing/internal/util/Specification.groovy
Labels: from:member

#6798 Handle unrecoverable errors in worker processes
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/ErrorInWorkerSocketIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ActionExecutionWorker.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/ObjectConnection.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/hub/MessageHubBackedObjectConnection.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/SocketConnection.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/run/PlayWorkerServer.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestWorker.java
Labels: a:bug, from:member, in:core

#6871 Quote all IntelliJ run parameters that contain variables
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
Labels: from:member

#6861 Clean up project locking service and add convenience methods
  subprojects/base-services/src/main/java/org/gradle/internal/operations/DefaultBuildOperationQueue.java
  subprojects/base-services/src/main/java/org/gradle/internal/resources/AbstractResourceLockRegistry.java
  subprojects/base-services/src/main/java/org/gradle/internal/resources/ProjectLeaseRegistry.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/StopShieldingWorkerLeaseService.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/WorkerLeaseService.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/resources/AbstractResourceLockRegistryTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/work/DefaultWorkerLeaseServiceProjectLockTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/work/DefaultWorkerLeaseServiceTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/internal/invocation/GradleBuildController.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/work/TestWorkerLeaseService.groovy
Labels: a:feature, from:member

#6866 Add failed builds to performance result
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ScenarioBuildResultData.groovy
Labels: dev-productivity

#6853 Prefer Sync tasks over Copy tasks in :docs
  subprojects/docs/docs.gradle
Labels: dev-productivity, in:gradle-build

#6836 Add sample for cacheable custom task
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/build_cache.adoc
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/cacheableBundleTask.out
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/cacheableBundleTask.sample.conf
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/groovy/build.gradle
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/groovy/scripts/a.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/groovy/scripts/b.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/groovy/settings.gradle
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/kotlin/build.gradle.kts
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/kotlin/scripts/a.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/kotlin/scripts/b.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle-task/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/buildCache/cacheable-bundle/groovy/build/bundle.js
  subprojects/docs/src/samples/buildCache/cacheable-bundle/kotlin/build/bundle.js
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/build.gradle
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/groovy/settings.gradle
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/build.gradle.kts
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/nonCacheableBundle.out
  subprojects/docs/src/samples/buildCache/non-cacheable-bundle/nonCacheableBundle.sample.conf
Labels: from:member

#6888 Remove unnecessary dependency on `kotlin-runtime`
  gradle/shared-with-buildSrc/code-quality-configuration.gradle.kts
Labels: a:chore, from:member, in:gradle-build

#6872 Better reporting on non-cacheable inputs
  subprojects/base-services/src/main/java/org/gradle/internal/hash/Hasher.java
  subprojects/base-services/src/main/java/org/gradle/internal/hash/Hashing.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/LambdaInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/NoOutputsArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/rules/TaskTypeTaskStateChanges.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/ImplementationSnapshot.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskOutputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskOutputCachingDisabledReasonCategory.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuter.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/BuildCacheKeyInputs.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/DebuggingTaskOutputCachingBuildCacheKeyBuilder.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/DefaultTaskOutputCachingBuildCacheKeyBuilder.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TaskCacheKeyCalculator.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TaskOutputCachingBuildCacheKeyBuilder.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/rules/TaskTypeTaskStateChangesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskOutputsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuterTest.groovy
Labels: from:member

#6716 Kotlin DSL samples for Writing Build Scripts user manual chapter
  subprojects/docs/src/docs/userguide/tutorial_using_tasks.adoc
  subprojects/docs/src/docs/userguide/writing_build_scripts.adoc
  subprojects/docs/src/samples/userguide/tutorial/configureObject/configureObject.sample.conf
  subprojects/docs/src/samples/userguide/tutorial/configureObject/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/configureObject/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/configureObject/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/configureObject/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/configureObjectUsingScript/configureObjectUsingScript.sample.conf
  subprojects/docs/src/samples/userguide/tutorial/configureObjectUsingScript/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/configureObjectUsingScript/groovy/other.gradle
  subprojects/docs/src/samples/userguide/tutorial/configureObjectUsingScript/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/extraProperties/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/localVariables/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/localVariables/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/localVariables/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/localVariables/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/localVariables/localVariables.sample.conf
  subprojects/docs/src/samples/userguide/tutorial/projectApi/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tutorial/projectApi/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/tutorial/projectApi/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/projectApi/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/tutorial/projectApi/projectApi.sample.conf
Labels: from:member, in:docs

#6893 Remove deprecated classes dir
  subprojects/base-services/src/main/java/org/gradle/util/CollectionUtils.java
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.SourceSetOutput.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.testing.Test.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/java_testing.adoc
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ProjectLayoutIntegrationTest.groovy
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/ProjectLayoutIntegrationTest/canUseANonStandardBuildDir/build.gradle
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/internal/jvm/DefaultClassDirectoryBinarySpec.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultGroovySourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultSourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultSourceSetOutput.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/package-info.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/SourceSetUtil.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/GroovySourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSetOutput.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/Upload.java
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/tasks/DefaultSourceSetTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TestLauncherSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r26/TestLauncherCrossVersionSpec.groovy
Labels: from:member

#6909 Mark `SelectorState` resolved on `resolve()` call
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
Labels: from:member, in:dependency-management

#6902 Only Checkstyle config from rootProject
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginMultiProjectTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstyleExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:checkstyle-plugin

#6899 Remove org.gradle.readLoggingConfigFile
  subprojects/docs/src/docs/release/notes.md
  subprojects/testing-base/src/integTest/groovy/org/gradle/api/internal/tasks/testing/JULRedirectorIntegrationTest.groovy
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/JULRedirector.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/JULRedirectorTest.groovy
Labels: a:chore, from:member, in:core

#6891 Remove Task#leftShift
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ExecutionTimeTaskConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskMutator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/TaskMutatorTest.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/dsl/org.gradle.api.Task.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskDefinitionIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#6913 Add search links to build scan
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: dev-productivity, from:member

#6912 Prefer Closure over configure task
  subprojects/docs/src/samples/userguide/files/archivesWithJavaPlugin/groovy/build.gradle
  subprojects/docs/src/samples/userguide/files/archivesWithJavaPlugin/kotlin/build.gradle.kts
Labels: from:member

#6904 Add example of flaky-mutation with lazy task configuration
  subprojects/docs/src/docs/userguide/task_configuration_avoidance.adoc
Labels: a:chore, from:member, in:docs

#6892 Remove ConfigurableReport.setDestination(Object)
  subprojects/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CodeNarcPluginTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/reporting/src/integTest/groovy/org/gradle/api/reporting/internal/TaskGeneratedReportIntegrationTest.groovy
  subprojects/reporting/src/main/java/org/gradle/api/reporting/ConfigurableReport.java
  subprojects/reporting/src/main/java/org/gradle/api/reporting/internal/SimpleReport.java
  subprojects/reporting/src/main/java/org/gradle/api/reporting/internal/TaskGeneratedReport.java
  subprojects/reporting/src/test/groovy/org/gradle/api/reporting/internal/DefaultReportContainerTest.groovy
Labels: a:chore, from:member, in:core

#6345 Fix Play2.6-https-hang issue
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/basic/Play26HttpsIntegrationTest.groovy
  subprojects/platform-play/src/main/java/org/gradle/play/internal/run/PlayWorkerServer.java
Labels: a:bug, from:member, in:play

#6908 Support reading java9Home from enviroment variable
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/java/AvailableJavaInstallations.kt
Labels: from:contributor, waiting-for:gradle-team

#6932 Upgrade Kotlin DSL to 1.0-rc-11
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/build-environment.kt
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/kotlin-dsl-upstream.kt
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/SamplesCompositeBuildIntegrationTest.groovy
  subprojects/docs/src/samples/java/multiproject/kotlin/api/build.gradle.kts
  subprojects/docs/src/samples/signing/conditional/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/gnupg-signatory/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/maven/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/bestPractices/logicDuringConfiguration/do/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/bestPractices/logicDuringConfiguration/dont/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/initScripts/configurationInjection/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/basic/kotlin/build.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/KotlinDslTestUtil.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationPerformanceTest.groovy
  subprojects/performance/templates.gradle
  subprojects/runtime-api-info/runtime-api-info.gradle.kts
  subprojects/smoke-test/smoke-test.gradle
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: a:feature, from:member, in:core

#6920 Use symmetric nullable annotations on BuildCache
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/DirectoryBuildCache.java
Labels: from:member

#6915 Remove support for invalid domain object names
  subprojects/core/src/integTest/groovy/org/gradle/NameValidationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectFactory.java
  subprojects/core/src/main/java/org/gradle/util/NameValidator.java
  subprojects/core/src/test/groovy/org/gradle/util/NameValidatorTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/tasks/DefaultSourceSetContainerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r10rc1/PassingCommandLineArgumentsCrossVersionSpec.groovy
Labels: a:chore, from:member, in:core

#6934 Abort Gradle handle upon timeout
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/BuildSourceBuilderIntegrationTest.groovy
Labels: a:chore, dev-productivity, from:member

#6937 Propagate input hashes as byte arrays to the build scan plugin
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/NoOutputsArtifactState.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/SnapshotTaskInputsBuildOperationType.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuter.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/DefaultTaskOutputCachingBuildCacheKeyBuilder.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TaskOutputCachingBuildCacheKey.java
Labels: from:member, in:core

#6939 Prevent calling `Project` and `Gradle` hooks from lazy configuration actions
  subprojects/core/src/integTest/groovy/org/gradle/api/AbstractDomainObjectContainerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/NamedDomainObjectContainerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/TaskContainerIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectSet.java
  subprojects/core/src/main/java/org/gradle/api/internal/FactoryNamedDomainObjectContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/MutationGuards.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/FactoryNamedDomainObjectContainerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/NestedConfigureAutoCreateNamedDomainObjectContainerSpec.groovy
Labels: a:feature, from:member, in:core

#6950 Removed a bunch of deprecation warnings when building gradle
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/FilteringClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/MultiParentClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/TransformingClassLoader.java
  subprojects/base-services/src/main/java/org/gradle/internal/time/TimeFormatting.java
  subprojects/base-services/src/main/java/org/gradle/util/GFileUtils.java
  subprojects/build-comparison/src/main/java/org/gradle/api/plugins/buildcomparison/outcome/internal/archive/entry/FileToArchiveEntrySetTransformer.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/FindBugsReportsImpl.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/FindBugsReportsInternal.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/JDependReportsImpl.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/findbugs/FindBugsSpecBuilder.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/findbugs/FindBugsXmlReportImpl.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/JarHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/compression/Bzip2Archiver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/compression/GzipArchiver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultZipCompressor.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/AntBuilderDelegate.java
  subprojects/core/src/main/java/org/gradle/api/tasks/WriteProperties.java
  subprojects/core/src/main/java/org/gradle/cache/internal/WrapperDistributionCleanupAction.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/GZipTaskOutputPacker.java
  subprojects/core/src/main/java/org/gradle/caching/internal/tasks/TarTaskOutputPacker.java
  subprojects/core/src/main/java/org/gradle/internal/hash/DefaultFileHasher.java
  subprojects/core/src/main/java/org/gradle/internal/operations/logging/DefaultBuildOperationLogger.java
  subprojects/core/src/main/java/org/gradle/util/JarUtil.java
  subprojects/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/measure/DataSeries.java
  subprojects/javascript/src/main/java/org/gradle/plugins/javascript/envjs/http/simple/internal/SimpleFileServerContainer.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/CommandLineActionFactory.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonBuildOptions.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/server/exec/ForwardClientInput.java
  subprojects/osgi/src/main/java/org/gradle/api/internal/plugins/osgi/DefaultOsgiManifest.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/RepeatableInputStreamEntity.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGenerator.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/CompositeTestResults.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/AbstractTestFrameworkDetector.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ActionAwareConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/BuildActionRunnerBackedConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/CancellableActionRunner.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/InternalBuildActionAdapter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ModelBuilderBackedConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ModelBuilderBackedModelProducer.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/converters/IdeaModuleDependencyTargetNameMixin.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/loader/DefaultToolingImplementationLoader.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/ConsumerOperationParameters.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClientsManager.java
Labels: a:chore, from:member

#6954 Unignore/rebaseline performance tests after kotlin-dsl-1.0-rc-11
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
Labels: a:performance-issue, from:member

#6961 Let Kotlin DSL samples use configuration accessors where possible
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  subprojects/docs/src/samples/java/multiproject/kotlin/api/build.gradle.kts
  subprojects/docs/src/samples/signing/conditional/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/gnupg-signatory/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/maven/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/bestPractices/logicDuringConfiguration/do/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/bestPractices/logicDuringConfiguration/dont/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/definingUsingConfigurations/inheritance/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/basic/kotlin/build.gradle.kts
Labels: a:feature, from:member, in:docs
