Repository gradle/gradle, pull requests merged in 2019-07, with the labels that each got.

#9824 Change a few Groovy HTTP links in docs to HTTPS
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/docbook/LinkRenderer.java
  buildSrc/subprojects/build/src/test/groovy/org/gradle/build/docs/dsl/docbook/LinkRendererTest.groovy
  subprojects/diagnostics/src/testFixtures/groovy/org/gradle/api/reporting/model/ReportNode.groovy
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/userguide/ant.adoc
  subprojects/docs/src/docs/userguide/groovy_build_script_primer.adoc
  subprojects/docs/src/docs/userguide/groovy_plugin.adoc
  subprojects/docs/src/docs/userguide/kotlin_dsl.adoc
  subprojects/docs/src/docs/userguide/migrating_from_maven.adoc
  subprojects/docs/src/docs/userguide/plugin_reference.adoc
  subprojects/docs/src/docs/userguide/upgrading_version_4.adoc
  subprojects/docs/src/docs/userguide/userguide.adoc
  subprojects/docs/src/docs/userguide/working_with_dependencies.adoc
  subprojects/docs/src/docs/userguide/working_with_files.adoc
  subprojects/docs/src/docs/userguide/writing_build_scripts.adoc
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompileOptions.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/application/CreateStartScripts.java
  subprojects/plugins/src/main/java/org/gradle/jvm/application/tasks/CreateStartScripts.java
Labels: from:member

#9696 Summarize issues found while storing the task graph to the instant execution cache
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/ProjectGroups.kt
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependencies/internal/ProjectPageRenderer.java
  subprojects/instant-execution-report/README.md
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution-report/src/main/kotlin/InstantExecutionReportPage.kt
  subprojects/instant-execution-report/src/main/kotlin/Main.kt
  subprojects/instant-execution-report/src/main/kotlin/data/ListExtensions.kt
  subprojects/instant-execution-report/src/main/kotlin/data/Trie.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/Component.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/View.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/tree/TreeView.kt
  subprojects/instant-execution-report/src/main/resources/instant-execution-failures.js
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.css
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.html
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/extensions/CastExtensions.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/CollectionCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/CompactTree.kt
Labels: a:feature, from:member, in:instant-execution

#9851 Fix :instantExecutionReport build with JPS
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution-report/src/main/kotlin/InstantExecutionReportPage.kt
  subprojects/instant-execution-report/src/main/kotlin/data/Trie.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/tree/TreeView.kt
Labels: from:member, in:instant-execution

#9849 Use only snapshots for before execution outputs
  subprojects/core/src/main/java/org/gradle/api/internal/OverlappingOutputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskFingerprinter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionOutputsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionStateTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskFingerprinter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionOutputsTaskExecuterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
Labels: @build-cache, from:member

#9859 Revert instant execution report
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/ProjectGroups.kt
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependencies/internal/ProjectPageRenderer.java
  subprojects/instant-execution-report/README.md
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution-report/src/main/kotlin/InstantExecutionReportPage.kt
  subprojects/instant-execution-report/src/main/kotlin/Main.kt
  subprojects/instant-execution-report/src/main/kotlin/data/ListExtensions.kt
  subprojects/instant-execution-report/src/main/kotlin/data/Trie.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/Component.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/View.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/tree/TreeView.kt
  subprojects/instant-execution-report/src/main/resources/instant-execution-failures.js
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.css
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.html
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/extensions/CastExtensions.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/CollectionCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/CompactTree.kt
Labels: from:member, in:instant-execution

#9860 Remove includedAdded
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintCompareStrategyTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbsolutePathFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbstractFingerprintChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbstractFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ClasspathCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultInputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/FingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/IgnoredPathCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/NormalizedPathFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/OutputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveChangesStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/StoreSnapshotsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/FingerprintCompareStrategyTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveChangesStepTest.groovy
Labels: @build-cache, from:member

#9856 Add documentation for Groovy incremental compilation
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/groovy_plugin.adoc
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovy/build.gradle
  subprojects/docs/src/samples/groovy/compilationAvoidance/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovy/app/src/main/groovy/App.groovy
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovy/build.gradle
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovy/library/src/main/groovy/Library.groovy
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovyIncrementalCompilation.conf
  subprojects/docs/src/samples/groovy/incrementalCompilation/kotlin/app/src/main/groovy/App.groovy
  subprojects/docs/src/samples/groovy/incrementalCompilation/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/incrementalCompilation/kotlin/library/src/main/groovy/Library.groovy
  subprojects/docs/src/samples/groovy/incrementalCompilation/kotlin/settings.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#9862 Filter output snapshot before creating fingerprint
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionStateTaskExecuter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/OutputFilterUtilTest.groovy
Labels: @build-cache, from:member

#9875 Fix flaky ModelObjectFactoryIntegrationTest
  subprojects/core/src/integTest/groovy/org/gradle/api/ModelObjectFactoryIntegrationTest.groovy
Labels: a:chore, from:member, in:core

#9869 Remove unused taskCachingEnabled property
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
Labels: @build-cache, from:member

#9858 Rename FileSystemSnapshotVisitor.{visit -> visitFile}
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/core/src/main/java/org/gradle/api/internal/OverlappingOutputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/SnapshotTaskInputsBuildOperationResult.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepository.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/OutputFilterUtilTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/DefaultCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/NameOnlyFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotVisitor.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MerkleDirectorySnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/FileSystemSnapshotBuilderTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterAsDirectoryWalkerTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
Labels: @build-cache, from:member

#9878 Unreadable file/directory not produced by task is ignored and marked as missing
  subprojects/base-services/src/testFixtures/groovy/org/gradle/internal/hash/TestFileHasher.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyPermissionsIntegrationTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultDirectoryWalker.java
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/DirectoryWalkerTest.groovy
  subprojects/file-collections/src/testFixtures/groovy/org/gradle/api/internal/file/collections/AbstractDirectoryWalkerTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFile.java
  subprojects/snapshots/snapshots.gradle.kts
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
Labels: @build-cache, from:member

#9874 Add (non-) abi change santa tracker performance tests
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/mutator/AbstractJavaSourceFileMutator.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: @build-cache, from:member

#9887 Interned Strings should be explicitly called out
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
Labels: @build-cache, from:member

#9848 Follow-ups of incremental Groovy compilation
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/SourceClassesMappingFileAccessor.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-groovy/src/test/groovy/org/gradle/api/internal/tasks/compile/SourceClassesMappingFileAccessorTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovySourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/JavaSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerDecorator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerFactory.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/SelectiveCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/AbstractRecompilationSpecProvider.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/CompilationSourceDirs.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/GroovyRecompilationSpecProvider.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/GroovySourceFileClassNameConverter.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/InputChangeAction.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaConventionalSourceFileClassNameConverter.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaRecompilationSpecProvider.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpecProvider.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/SourceFileChangeProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/SourceFileClassNameConverter.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/recomp/GroovySourceFileClassNameConverterTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaConventionalSourceFileClassNameConverterTest.groovy
  subprojects/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJvmLanguageCompileSpec.java
  subprojects/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/JvmLanguageCompileSpec.java
Labels: @dev-productivity, a:chore, from:member

#9881 Support overlapping Ivy patterns
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ResourceVersionLister.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ResourceVersionListerTest.groovy
Labels: from:member, in:dependency-management

#9890 Full recompilation on Groovy-Java joint compilation
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractJavaGroovyIncrementalCompilationSupport.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovyJavaJointIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovySourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/GroovyRecompilationSpecProvider.java
Labels: @dev-productivity, a:chore, from:member

#9889 De-incubate artifact transforms
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/ArtifactTransformException.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/CacheableTransform.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/InputArtifact.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/InputArtifactDependencies.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformAction.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformOutputs.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformParameters.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/TransformSpec.java
  subprojects/docs/src/docs/release/notes.md
Labels: @build-cache, from:member

#9896 Deprecate declaring incremental tasks with no outputs
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/state/TaskTypeUpToDateIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractIncrementalTasksIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalTaskWithNormalizedInputsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/changes/DefaultTaskExecutionModeResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/DefaultTaskClassInfoStore.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskClassInfo.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/changes/DefaultTaskExecutionModeResolverTest.groovy
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: @build-cache, from:member

#9864 Re-introduce instant execution report
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/ProjectGroups.kt
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependencies/internal/ProjectPageRenderer.java
  subprojects/instant-execution-report/README.md
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution-report/src/main/kotlin/InstantExecutionReportPage.kt
  subprojects/instant-execution-report/src/main/kotlin/Main.kt
  subprojects/instant-execution-report/src/main/kotlin/data/ListExtensions.kt
  subprojects/instant-execution-report/src/main/kotlin/data/Trie.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/Component.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/View.kt
  subprojects/instant-execution-report/src/main/kotlin/elmish/tree/TreeView.kt
  subprojects/instant-execution-report/src/main/resources/instant-execution-report-data.js
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.css
  subprojects/instant-execution-report/src/main/resources/instant-execution-report.html
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/SystemProperties.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/extensions/CastExtensions.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/CollectionCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/CompactTree.kt
Labels: a:feature, from:member, in:instant-execution

#9902 Enable feature preview for Groovy incremental compilation
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/FeaturePreviewsActivationFixture.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/userguide/groovy_plugin.adoc
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovyCompilationAvoidance.conf
  subprojects/docs/src/samples/groovy/compilationAvoidance/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovyIncrementalCompilation.conf
  subprojects/docs/src/samples/groovy/incrementalCompilation/kotlin/settings.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/FeaturePreviewsFixture.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/FileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGeneratorConfiguration.groovy
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractJavaGroovyIncrementalCompilationSupport.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractGroovyCompileAvoidanceIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractIncrementalCompileIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractJavaGroovyCompileAvoidanceIntegrationSpec.groovy
Labels: @dev-productivity, a:chore, from:member

#9895 Merge build types running only unit tests
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Check/projects/FunctionalTestProject.kt
  .teamcity/Gradle_Check/projects/RootProject.kt
  .teamcity/Gradle_Check/projects/StageProject.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: @dev-productivity

#9922 Merge build types running only unit tests
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Check/projects/FunctionalTestProject.kt
  .teamcity/Gradle_Check/projects/RootProject.kt
  .teamcity/Gradle_Check/projects/StageProject.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/buildtypes/BuildTypesPlugin.kt
Labels: @dev-productivity, from:member

#9920 Fix `gradleKotlinDsl()` dependency declaration throwing a ClassCastException
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslRegressionsTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
Labels: from:member, in:kotlin-dsl

#9924 Rebaseline `configure largeJavaMultiProject` performance test
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationPerformanceTest.groovy
Labels: a:performance-issue, from:member, in:instant-execution

#9913 Automatically lint Teamcity DSL
  .teamcity/Gradle_Check/configurations/BuildDistributions.kt
  .teamcity/Gradle_Check/configurations/BuildJavaVersions.kt
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Check/configurations/PerformanceTestCoordinator.kt
  .teamcity/Gradle_Check/configurations/SmokeTests.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Check/projects/FunctionalTestProject.kt
  .teamcity/Gradle_Check/projects/RootProject.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceScenarioLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinatorLinux.kt
  .teamcity/README.md
  .teamcity/common/performance-test-extensions.kt
  .teamcity/pom.xml
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
Labels: @dev-productivity, from:member

#9911 Add a test for CaptureStateBeforeExecutionStep
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskSnapshotter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionOutputsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskSnapshotter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveBeforeExecutionOutputsTaskExecuterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStepTest.groovy
Labels: @build-cache, from:member

#9910 Don't cache task with dangling symlinks in outputs
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskArchiveErrorIntegrationTest.groovy
Labels: @build-cache, from:member

#9933 Fix failing unit test on Windows
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStepTest.groovy
Labels: @build-cache, from:member

#9916 Exclude @Inject in @since compatibility check
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/SinceAnnotationMissingRule.java
  subprojects/distributions/src/changes/accepted-public-api-changes.json
Labels: @dev-productivity, a:chore, from:member

#9928 Track task action execution via build operation
  subprojects/base-services/src/main/java/org/gradle/internal/operations/BuildOperationType.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/execution/ExecuteTaskActionBuildOperationTypeIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskActionBuildOperationType.java
Labels: @core

#9912 Set JavaInstantExecutionPerformanceTest minimumVersion
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
Labels: from:member, in:instant-execution

#9926 Better document for DeprecationLogger
  subprojects/logging/src/main/java/org/gradle/util/SingleMessageLogger.java
Labels: @dev-productivity, a:chore, from:member

#9759 Upgrade embedded Kotlin from 1.3.31 to 1.3.41
  buildSrc/subprojects/binary-compatibility/binary-compatibility.gradle.kts
  buildSrc/subprojects/binary-compatibility/src/main/kotlin/org/gradle/binarycompatibility/metadata/HasKotlinFlagsMetadataQuery.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  gradle/dependencies.gradle
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderGroovyTest.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderKotlinTest.groovy
  subprojects/distributions/binary-compatibility.gradle
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/artifactTransforms/relocate/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/plugins/constructorServiceInjection/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/mutableManagedProperty/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/namedDomainObjectContainer/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/nestedObjects/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/propertyServiceInjection/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyManagedProperty/kotlin/buildSrc/build.gradle
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  subprojects/kotlin-dsl-provider-plugins/kotlin-dsl-provider-plugins.gradle.kts
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProvider.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/KotlinMetadata.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinMetadataPrintingVisitor.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/performance/templates.gradle
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: from:member, in:kotlin-dsl

#9937 Fix a small variable name typo
  subprojects/publish/src/main/java/org/gradle/api/publish/plugins/PublishingPlugin.java
Labels: from:contributor

#9935 Use asciidoc C++ macro to avoid documentation artifacts
  subprojects/docs/src/docs/userguide/building_cpp_projects.adoc
Labels: a:chore, from:member, in:native-platform

#9944 Fix typo in links and image of C++ chapters
  subprojects/docs/src/docs/userguide/cpp_application_plugin.adoc
  subprojects/docs/src/docs/userguide/cpp_library_plugin.adoc
  subprojects/docs/src/docs/userguide/img/cpp-application-configurations.dot
  subprojects/docs/src/docs/userguide/img/cpp-application-configurations.png
  subprojects/docs/src/docs/userguide/img/cpp-library-configurations.dot
  subprojects/docs/src/docs/userguide/img/cpp-library-configurations.png
  subprojects/docs/src/samples/userguide/cpp/cppLibrary/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/cpp/cppLibrary/kotlin/settings.gradle.kts
Labels: @core, a:chore, from:member, in:native-platform

#9945 Add Swift DSL references
  subprojects/docs/src/docs/dsl/dsl.xml
  subprojects/docs/src/docs/dsl/org.gradle.language.swift.ProductionSwiftComponent.xml
  subprojects/docs/src/docs/dsl/org.gradle.language.swift.SwiftApplication.xml
  subprojects/docs/src/docs/dsl/org.gradle.language.swift.SwiftComponent.xml
  subprojects/docs/src/docs/dsl/org.gradle.language.swift.SwiftLibrary.xml
  subprojects/docs/src/docs/dsl/org.gradle.language.swift.tasks.SwiftCompile.xml
  subprojects/docs/src/docs/dsl/org.gradle.nativeplatform.toolchain.Swiftc.xml
Labels: @core, a:feature, from:member, in:native-platform

#9938 Protect instant execution against `StackOverflowError`
  gradle/testDependencies.gradle
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/extensions/CastExtensions.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ArtifactCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ClassCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ConfigurableFileCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/DefaultCopySpecCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/DestinationRootCopySpecCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileTreeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ListenerBroadcastCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/LoggerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/MethodCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodecTest.kt
Labels: a:feature, from:member, in:instant-execution

#9917 Full recompilation with annotation processor
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompileSpec.java
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/BasicGroovyCompilerIntegrationSpec.groovy
Labels: @dev-productivity, a:chore, from:member

#9927 Display branch name in flakiness detection report
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/ReportGenerationPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/DefaultPerformanceFlakinessAnalyzer.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/DefaultPerformanceFlakinessAnalyzerTest.groovy
Labels: @dev-productivity, a:chore, from:member

#9956 Fix Kotlin compilation warnings
  buildSrc/subprojects/binary-compatibility/src/main/kotlin/org/gradle/binarycompatibility/BinaryCompatibilityRepositoryLifecycle.kt
  buildSrc/subprojects/binary-compatibility/src/main/kotlin/org/gradle/binarycompatibility/metadata/HasKotlinFlagsMetadataQuery.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinMetadataPrintingVisitor.kt
Labels: a:chore, from:member

#9967 Check in some inspections to help us find Checkstyle violations early
  .idea/inspectionProfiles/Gradle.xml
Labels: @dev-productivity, a:chore, from:member

#9960 MetadataSources: Introduce ignoreGradleMetadataRedirection to prevent gradle metadata redirection when marker is present in POM or Ivy descriptor
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/IvyArtifactRepository.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/MavenArtifactRepository.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyGradleMetadataRedirectionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenGradleMetadataRedirectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenArtifactRepository.java
  subprojects/docs/src/docs/userguide/repository_types.adoc
  subprojects/docs/src/samples/userguide/artifacts/defineRepository/groovy/build.gradle
  subprojects/docs/src/samples/userguide/artifacts/defineRepository/kotlin/build.gradle.kts
Labels: a:feature, from:contributor, in:dependency-management

#9939 RFC Enable Java 7 & 8 inspections in Idea's inspectionProfiles
  .idea/inspectionProfiles/Gradle.xml
Labels: @build-cache, from:member

#9880 Use UTF-8 when extracting build cache artifacts
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/core/src/integTest/groovy/org/gradle/caching/internal/packaging/BuildCacheEntryPackingIntegrationTest.groovy
Labels: @build-cache, from:member

#9957 Fix typos in Swift and C++ chapters
  subprojects/docs/src/docs/userguide/building_cpp_projects.adoc
  subprojects/docs/src/docs/userguide/cpp_testing.adoc
  subprojects/docs/src/docs/userguide/cpp_unit_test_plugin.adoc
  subprojects/docs/src/samples/userguide/cpp/cppLibrary/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/cpp/cppLibrary/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/cpp/cppLibrary/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/cpp/cppUnitTest/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/cpp/cppUnitTest/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/cpp/cppUnitTest/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/swift/swiftApplication/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/swift/swiftApplication/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/swift/swiftApplication/kotlin/settings.gradle.kts
Labels: @core, a:chore, from:member, in:native-platform

#9995 Fix deduplication of published POM dependencies
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishDependenciesIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
Labels: a:bug, from:member, in:dependency-management

#9975 Make configuration request attributes available on dependency resolution build operation
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveConfigurationDependenciesBuildOperationType.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationDependenciesBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveConfigurationResolutionBuildOperationResult.java
Labels: from:member, in:build-scan

#9981 Let Kotlin DSL use first Kotlin public type for accessors to container elements
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
Labels: from:member, in:kotlin-dsl

#10002 Let kotlin-dsl jars not include duplicated entries
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
Labels: from:member, in:kotlin-dsl

#10007 Let instant execution (de)serialize MapProperty bean fields
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ImmutableMapCodec.kt
Labels: @instant-execution, from:member, in:instant-execution

#10019 Fix resolved versions of substituted dependencies
  subprojects/ivy/src/integTest/groovy/org/gradle/integtests/publish/ivy/IvyPublishResolvedVersionsJavaIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publisher/IvyDescriptorFileGenerator.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/versionmapping/DefaultVersionMappingStrategy.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishResolvedVersionsJavaIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGenerator.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/versionmapping/DefaultVariantVersionMappingStrategy.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/MavenPublishPlugin.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/GradleModuleMetadataWriter.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/versionmapping/DefaultVariantVersionMappingStrategy.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/versionmapping/DefaultVersionMappingStrategy.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/versionmapping/VariantVersionMappingStrategyInternal.java
Labels: a:bug, from:member, in:dependency-management

#10023 Ensure context classloader is reset for no isolation workers
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ClassLoaderUtils.java
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorIntegrationTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/AbstractClassLoaderWorker.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/NoIsolationWorkerFactory.java
Labels: a:bug, from:member, in:workers

#9461 Generate read-only user type properties
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithFileInputsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGlobalScopeServices.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/custom_gradle_types.adoc
  subprojects/docs/src/samples/userguide/plugins/namedDomainObjectContainer/namedDomainObjectContainer.sample.conf
  subprojects/docs/src/samples/userguide/plugins/readOnlyManagedProperty/readOnlyManagedProperty.sample.conf
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/groovy/build.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/groovy/buildSrc/src/main/groovy/UrlProcess.groovy
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/java/build.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/java/buildSrc/src/main/java/HostAndPath.java
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/java/buildSrc/src/main/java/UrlProcess.java
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/java/settings.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/kotlin/build.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/kotlin/buildSrc/build.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/kotlin/buildSrc/src/main/kotlin/UrlProcess.kt
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/kotlin/settings.gradle
  subprojects/docs/src/samples/userguide/plugins/readOnlyNestedProperty/readOnlyNestedProperty.sample.conf
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AbstractClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AsmBackedClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/package-info.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AbstractClassGeneratorSpec.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratedManagedStateTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratorTest.java
Labels: @build-cache, from:member

#10055 Fix `:instantExecutionReport` jar not to include duplicate entries
  subprojects/instant-execution-report/README.md
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution/instant-execution.gradle.kts
Labels: a:bug, from:member, in:instant-execution

#10036 Fix 404 in performance test coordinator
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DistributedPerformanceTest.groovy
Labels: @dev-productivity, a:chore, from:member

#10068 Support new build operation listener in gradle-profiler
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/BaseSerializerFactory.java
  subprojects/messaging/src/test/groovy/org/gradle/internal/serialize/BaseSerializerFactoryTest.groovy
Labels: @build-cache, from:member

#9898 Deprecating buildSrc usage in settings
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ConfigurableClassLoaderHierarchyHasher.java
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/DeprecatedClassloader.java
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossBuildScriptCachingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsPluginIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedImplementationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcDeprecatedInSettingsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/AbstractClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultDeprecatedClassLoader.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DeprecatedClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/RootClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/initialization/ScriptEvaluatingSettingsProcessor.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsFactory.java
  subprojects/core/src/test/groovy/org/gradle/initialization/SettingsFactoryTest.groovy
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTemplatesTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/BuildSrcPluginIntegrationTest.groovy
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/AbstractSourceDependencyIntegrationTest.groovy
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/NestedSourceDependencyIntegrationTest.groovy
Labels: @core, from:member

#10083 Apply `Merge identical catch branches` inspection to the whole project
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/LocalComponentInAnotherBuildProvider.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginRegistry.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GradleResolveVisitor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/typeconversion/DefaultTypeConverter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractMultiTestRunner.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParser.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkTools.java
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/action/AbstractMavenPublishAction.java
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/pom/CustomModelBuilder.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AsmBackedClassGenerator.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/InMemoryDecoratedCache.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/javascript/GoogleClosureCompiler.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidateTaskProperties.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/DefaultSslContextFactory.java
  subprojects/version-control/src/main/java/org/gradle/vcs/git/internal/GitVersionControlSystem.java
Labels: @build-cache, from:member

#10004 Conversion rule for deprecated org.gradle.usage values
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/UsageCompatibilityHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/GradleModuleMetadataCompatibilityConverter.java
Labels: from:member, in:dependency-management

#10078 Documentation updates for Worker API Improvements
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/custom_tasks.adoc
  subprojects/docs/src/samples/workerApi/noIsolation/groovy/build.gradle
  subprojects/docs/src/samples/workerApi/noIsolation/kotlin/build.gradle.kts
  subprojects/docs/src/samples/workerApi/waitForCompletion/groovy/build.gradle
  subprojects/docs/src/samples/workerApi/waitForCompletion/kotlin/build.gradle.kts
  subprojects/docs/src/samples/workerApi/workerDaemon/groovy/build.gradle
  subprojects/docs/src/samples/workerApi/workerDaemon/kotlin/build.gradle.kts
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/AbstractWorkerExecutorSampleIntegrationTest.groovy
  subprojects/workers/workers.gradle.kts
Labels: a:feature, from:member, in:workers

#10079 Allow package declarations in Kotlin DSL scripts
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ExtractPrecompiledScriptPluginPlugins.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Lexer.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ProgramParser.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/BuildscriptBlockExtractionTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/LexerTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/ProgramParserTest.kt
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/ScriptCachingIntegrationTest.kt
Labels: a:feature, from:member, in:kotlin-dsl

#10071 Let instant execution serialize generated task properties
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/EnumMapCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AsmBackedClassGenerator.java
Labels: a:feature, from:member, in:instant-execution

#10084 Apply `'if' replaceable with 'switch'` inspection the whole project
  subprojects/core/src/main/java/org/gradle/internal/typeconversion/TimeUnitsParser.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginUseScriptBlockMetadataCompiler.java
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  subprojects/ide-native/src/main/java/org/gradle/ide/xcode/internal/xcodeproj/PBXReference.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java
  subprojects/osgi/src/main/java/org/gradle/api/internal/plugins/osgi/DefaultOsgiManifest.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/run/DefaultVersionedPlayRunAdapter.java
Labels: @build-cache, from:member

#10060 Remove deprecated org.gradle.api.Nullable annotation
  subprojects/base-services/src/main/java/org/gradle/api/Nullable.java
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: @build-cache, from:member

#10063 Add proper Nullability annotation now that compiler bug is fixed
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultCopySpec.java
Labels: @build-cache, from:member

#10064 Remove deprecated APIs around task property validation
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidateTaskPropertiesIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidateTaskProperties.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateTaskPropertiesBackwardsCompatibleAdapter.java
Labels: @build-cache, from:member

#10089 Polish recent code changes
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluator.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ProgramParser.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ProgramSource.kt
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AsmBackedClassGenerator.java
Labels: a:chore, from:member

#10093 Add --rerun option for the distribution tests
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
Labels: @core, a:feature, from:member, in:gradle-build

#10087 Do not sort selectors when a force is present
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ForcedModulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleSelectors.java
Labels: from:member, in:dependency-management

#10088 Interrupt task workers when build is cancelled
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/CancellationIntegrationTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/custom_tasks.adoc
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CancelExecutionStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CancelExecutionStepTest.groovy
Labels: @core, a:feature, from:member

#10086 Allow replacing task actions
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractTaskTest.groovy
Labels: @core, a:bug, from:member

#10082 Clean daemons on build agent before performance workers
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestLinux.kt
Labels: @dev-productivity

#10092 Update to Teamcity DSL 2019.1
  .teamcity/Gradle_Check/settings.kts
  .teamcity/Gradle_Check_dsl.iml
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestLinux.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestWindows.kt
  .teamcity/common/extensions.kt
  .teamcity/pom.xml
Labels: @dev-productivity, from:member

#10109 Fix task cancel test flakiness
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r26/TestLauncherCrossVersionSpec.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ProgressEvents.groovy
Labels: from:member

#10105 Fix flaky test AbstractBasicGroupedTaskLoggingFunctionalTest
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractBasicGroupedTaskLoggingFunctionalTest.groovy
Labels: @dev-productivity, a:chore, from:member

#10013 Capture snapshotting time more precisely
  subprojects/base-services/src/main/java/org/gradle/internal/operations/BuildOperationType.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/CacheableInvocation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationRegistrationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformerInvocationFactory.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformationMatchingSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/WorkExecutorTestFixture.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/BuildOperationStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CatchExceptionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ExecuteStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/SnapshotOutputsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/BroadcastChangingOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CacheStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CancelExecutionStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CatchExceptionStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CleanupOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ContextInsensitiveStepSpec.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CreateOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ExecuteStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/RecordOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveCachingStateStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveChangesStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveInputChangesStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipEmptyWorkStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipUpToDateStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/StepSpec.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/StoreSnapshotsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/TimeoutStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/BasicProjectConfigurationProgressCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/BuildProgressCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/BuildProgressTaskActionsCrossVersionSpec.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ProgressEvents.groovy
Labels: @build-cache, from:member

#10096 Better names for execution state-related steps
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/LoadExecutionStateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveInputChangesStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/StoreExecutionStateStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/StoreExecutionStateStepTest.groovy
Labels: @build-cache, from:member

#10050 Check for ModelMap duplicated element inside TaskContainer
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/RuleTaskBridgingIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskCollection.java
Labels: @core, a:bug, from:member, in:core

#10107 Avoid changing the directory on macOS when using the start script
  subprojects/docs/src/docs/release/notes.md
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/plugins/UnixStartScriptGeneratorTest.groovy
Labels: @core, a:feature, from:member, in:core

#10120 Use fewer parallel forks on macOS
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
Labels: @dev-productivity, from:member

#10123 Fix flaky SecurityManagerIntegrationTest
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/SecurityManagerIntegrationTest.groovy
Labels: @dev-productivity

#10116 Refine regex to fix flaky test
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m8/ToolingApiLoggingCrossVersionSpec.groovy
Labels: @dev-productivity, a:chore, from:member

#10131 Improve rendering of artifacts in outgoing variants report
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/OutgoingVariantsReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/OutgoingVariantsReportTask.java
  subprojects/docs/src/samples/userguide/dependencyManagement/modelingFeatures/crossProjectPublications/advanced/outgoingVariants.out
Labels: from:member, in:dependency-management
