Repository gradle/gradle, pull requests merged in 2019-12, with the labels that each got.

#11509 Fix wrong configurations in CIBuildModel
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  subprojects/logging/src/test/groovy/org/gradle/logging/ConsoleRendererTest.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingSnapshotFromPluginRepositorySpec.groovy
Labels: @dev-productivity, a:chore, from:member

#11524 Quick checkstyle for git push hook
  gradle/Check.java
Labels: @dev-productivity, a:chore, from:member

#11537 Update sample plugin to version 0.15.24
  subprojects/docs/docs.gradle
Labels: @core, a:chore, from:member, in:docs

#11547 Update test error code for Win10
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/ProcessCrashHandlingIntegrationTest.groovy
Labels: @core, a:chore, from:member, in:core

#11554 Add experimental Windows10 platform pipeline
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: @core, a:chore, from:member, in:core

#11550 Enable some sample tests
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/groovy/basic-library/jarTask.sample.conf
  subprojects/docs/src/samples/groovy/library-publishing/publishTask.sample.conf
  subprojects/docs/src/samples/java/basic-application/runTask.sample.conf
  subprojects/docs/src/samples/java/basic-library/jarTask.sample.conf
  subprojects/docs/src/samples/java/components-with-junit-4-tests/testTask.sample.conf
  subprojects/docs/src/samples/java/components-with-spock-tests/testTask.sample.conf
  subprojects/docs/src/samples/java/library-publishing/publishTask.sample.conf
  subprojects/docs/src/samples/java/transitive-dependencies/runTask.sample.conf
  subprojects/docs/src/samples/spring-boot/testTask.sample.conf
Labels: from:member

#11542 Fix bug of DefaultFileHierarchySet on Windows
  subprojects/base-services/src/main/java/org/gradle/internal/file/DefaultFileHierarchySet.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/file/DefaultFileHierarchySetTest.groovy
Labels: a:bug, from:member, in:core

#11560 Add separate experimental project without cache
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Experimental/settings.kts
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: @core, a:chore, from:member, in:core

#11566 Add flag to disable build cache for a pipeline stage
  .teamcity/Gradle_Check/configurations/BaseGradleBuildType.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Experimental_NoBuildCache/settings.kts
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: @core, a:chore, from:member, in:core

#11579 Add triggers for all functional test projects
  .teamcity/Gradle_Check/configurations/FunctionalTestsPass.kt
  .teamcity/Gradle_Check/projects/StageProject.kt
Labels: @build-cache, @dev-productivity, from:member

#11357 Add test coverage for accessing gradle.properties entries in buildSrc and in included builds
  subprojects/core/src/integTest/groovy/org/gradle/initialization/DistributionPropertiesLoaderIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r60/ToolingApiPropertiesLoaderCrossVersionSpec.groovy
  subprojects/wrapper/src/crossVersionTest/groovy/org/gradle/integtests/WrapperPropertiesLoaderCrossVersionTest.groovy
Labels: from:member

#11585 Only depend on QuickFeedbackLinuxOnly for later tests
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
Labels: @dev-productivity, from:member

#11421 Fix Moxy status in annotation processors list
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: @core, from:contributor, waiting-for:gradle-team

#11221 Retain stacktrace when test method is inherited
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/RetainStacktraceForInheritedTestMethodsTest.groovy
  subprojects/testing-base/src/integTest/resources/org/gradle/testing/RetainStacktraceForInheritedTestMethodsTest/retainsStackTraceForInheritedTestMethods/build.gradle
  subprojects/testing-base/src/integTest/resources/org/gradle/testing/RetainStacktraceForInheritedTestMethodsTest/retainsStackTraceForInheritedTestMethods/settings.gradle
  subprojects/testing-base/src/integTest/resources/org/gradle/testing/RetainStacktraceForInheritedTestMethodsTest/retainsStackTraceForInheritedTestMethods/src/test/java/g/Base.java
  subprojects/testing-base/src/integTest/resources/org/gradle/testing/RetainStacktraceForInheritedTestMethodsTest/retainsStackTraceForInheritedTestMethods/src/test/java/g/TestThatInherits.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/StackTraceFilter.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/FullExceptionFormatterTest.groovy
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/ShortExceptionFormatterTest.groovy
Labels: @core, from:contributor, waiting-for:gradle-team

#11518 Darwin file watcher
  gradle/dependencies.gradle
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/DarwinFileWatcherRegistryTest.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/NoopFileWatcherRegistry.java
Labels: @build-cache, from:member

#11592 Reword sample descriptions and title
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/groovy/application/README.adoc
  subprojects/docs/src/samples/groovy/application/groovy/build.gradle
  subprojects/docs/src/samples/groovy/application/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/application/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/groovy/application/runTask.out
  subprojects/docs/src/samples/groovy/application/runTask.sample.confz
  subprojects/docs/src/samples/groovy/library/README.adoc
  subprojects/docs/src/samples/groovy/library/groovy/build.gradle
  subprojects/docs/src/samples/groovy/library/groovy/settings.gradle
  subprojects/docs/src/samples/groovy/library/jarTask.out
  subprojects/docs/src/samples/groovy/library/jarTask.sample.conf
  subprojects/docs/src/samples/groovy/library/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/library/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/application/README.adoc
  subprojects/docs/src/samples/java/application/groovy/build.gradle
  subprojects/docs/src/samples/java/application/groovy/settings.gradle
  subprojects/docs/src/samples/java/application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/application/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/application/runTask.out
  subprojects/docs/src/samples/java/application/runTask.sample.conf
  subprojects/docs/src/samples/java/library/README.adoc
  subprojects/docs/src/samples/java/library/groovy/build.gradle
  subprojects/docs/src/samples/java/library/groovy/settings.gradle
  subprojects/docs/src/samples/java/library/jarTask.out
  subprojects/docs/src/samples/java/library/jarTask.sample.conf
  subprojects/docs/src/samples/java/library/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/library/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/spring-boot-web-application/README.adoc
  subprojects/docs/src/samples/spring-boot-web-application/groovy/build.gradle
  subprojects/docs/src/samples/spring-boot-web-application/groovy/settings.gradle
  subprojects/docs/src/samples/spring-boot-web-application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/spring-boot-web-application/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/spring-boot-web-application/testTask.out
  subprojects/docs/src/samples/spring-boot-web-application/testTask.sample.conf
  subprojects/docs/src/samples/templates/spring-boot-web-application/HELP.md
  subprojects/docs/src/samples/templates/spring-boot-web-application/src/main/java/org/gradle/samples/SpringBootDemoApplication.java
  subprojects/docs/src/samples/templates/spring-boot-web-application/src/main/resources/application.properties
  subprojects/docs/src/samples/templates/spring-boot-web-application/src/test/java/org/gradle/samples/SpringBootDemoApplicationTests.java
Labels: @core, a:chore, from:member, in:docs

#11589 Refactor transitive dependencies sample to JVM multi-project
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/groovy/transitive-dependencies/README.adoc
  subprojects/docs/src/samples/groovy/transitive-dependencies/groovy/application/build.gradle
  subprojects/docs/src/samples/groovy/transitive-dependencies/groovy/build.gradle
  subprojects/docs/src/samples/groovy/transitive-dependencies/groovy/list/build.gradle
  subprojects/docs/src/samples/groovy/transitive-dependencies/groovy/utilities/build.gradle
  subprojects/docs/src/samples/groovy/transitive-dependencies/kotlin/application/build.gradle.kts
  subprojects/docs/src/samples/groovy/transitive-dependencies/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/transitive-dependencies/kotlin/list/build.gradle.kts
  subprojects/docs/src/samples/groovy/transitive-dependencies/kotlin/utilities/build.gradle.kts
  subprojects/docs/src/samples/groovy/transitive-dependencies/runTask.out
  subprojects/docs/src/samples/java/transitive-dependencies/groovy/settings.gradle
  subprojects/docs/src/samples/java/transitive-dependencies/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/java/transitive-dependencies/runTask.sample.conf
  subprojects/docs/src/samples/jvm-multi-project-build/README.adoc
  subprojects/docs/src/samples/jvm-multi-project-build/groovy/application/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-build/groovy/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-build/groovy/list/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-build/groovy/settings.gradle
  subprojects/docs/src/samples/jvm-multi-project-build/groovy/utilities/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-build/kotlin/application/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-build/kotlin/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-build/kotlin/list/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-build/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-build/kotlin/utilities/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-build/runTask.out
  subprojects/docs/src/samples/jvm-multi-project-build/runTask.sample.conf
Labels: @core, a:chore, from:member, in:docs

#11593 Update PMD plugin to latest 6.20.0
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  subprojects/docs/src/docs/userguide/core-plugins/pmd_plugin.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, a:chore, from:member, in:core

#11599 Update Checkstyle to latest 8.27
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  subprojects/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/CheckstyleCoverage.groovy
  subprojects/docs/src/docs/userguide/core-plugins/checkstyle_plugin.adoc
  subprojects/docs/src/docs/userguide/core-plugins/plugin_reference.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, a:chore, from:member, in:core

#11580 Automatically determine if `origin` should be used
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/DetermineBaselines.kt
Labels: a:bug, from:member

#11584 Enable Android Java application sample
  subprojects/docs/src/samples/android-application/buildTask.out
  subprojects/docs/src/samples/android-application/buildTask.sample.conf
  subprojects/docs/src/samples/android-application/kotlin/app/build.gradle.kts
Labels: @core, a:chore, from:member, in:docs

#11389 make inner classes static where possible
  subprojects/base-services/src/main/java/org/gradle/internal/io/StreamByteBuffer.java
  subprojects/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  subprojects/cli/src/main/java/org/gradle/cli/CommandLineParser.java
  subprojects/core-api/src/test/groovy/org/gradle/model/internal/core/ModelTypeJavaTest.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/BuildOperationBackedScriptCompilationHandler.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/TaskDefinitionScriptTransformer.java
  subprojects/core/src/main/java/org/gradle/initialization/ProjectsEvaluatedNotifier.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/typeconversion/DefaultTypeConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/transport/RepositoryTransportFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyClassPathNotationConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/local/ivy/LocallyAvailableResourceFinderFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transfer/ProgressLoggingExternalResourceUploader.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/DefaultUniqueProjectNameProvider.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaseCrossBuildResultsStore.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFile.java
  subprojects/internal-testing/src/main/groovy/org/gradle/util/FailsWithMessageExtension.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/IvyArtifactNotationParserFactory.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/IvyPublishPlugin.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/toolchains/DefaultToolChainSelector.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/config/LoggingSystemAdapter.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/console/StyledTextOutputBackedRenderer.java
  subprojects/logging/src/test/groovy/org/gradle/internal/logging/console/ConsoleStub.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/artifact/MavenArtifactNotationParserFactory.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/hub/DefaultMethodArgsSerializer.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/hub/JavaSerializationBackedMethodArgsSerializer.java
  subprojects/platform-base/src/main/java/org/gradle/platform/base/internal/registry/AbstractAnnotationDrivenComponentModelRuleExtractor.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/services/PlatformJvmServices.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/AbstractGccCompatibleToolChain.java
  subprojects/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/swift/metadata/SwiftcMetadataProvider.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/InjectedClasspathPluginResolver.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/plugins/StartScriptGenerator.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/CompileServices.java
  subprojects/process-services/src/main/java/org/gradle/process/internal/health/memory/MemInfoOsMemoryInfo.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/ApacheDirectoryListingParser.java
  subprojects/test-kit/src/main/java/org/gradle/testkit/runner/internal/ToolingApiGradleExecutor.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/AllExceptIgnoredTestRunnerBuilder.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/main/java/org/gradle/wrapper/PathAssembler.java
Labels: @core, from:contributor, waiting-for:gradle-team

#11563 Do not watch Kotlin caches
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultWellKnownFileLocations.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/SplitFileHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/SplitResourceSnapshotterCacheService.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/WellKnownFileLocations.java
  subprojects/core/src/main/java/org/gradle/api/internal/classpath/DefaultModuleRegistry.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultGeneratedGradleJarCache.java
  subprojects/core/src/main/java/org/gradle/cache/internal/SplitFileContentCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultClasspathTransformerCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AdditiveCache.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AdditiveCacheLocations.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DefaultAdditiveCacheLocations.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/RoutingVirtualFileSystem.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/RoutingVirtualFileSystemTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheMetadata.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/GradleUserHomeServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/ScriptCacheRepository.kt
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/cache/DefaultGeneralCompileCaches.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/SplitClasspathEntrySnapshotCache.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/CompileServices.java
  subprojects/snapshots/snapshots.gradle.kts
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11605 Update sample plugin to version 0.15.25
  subprojects/docs/docs.gradle
Labels: @core, a:chore, from:member, in:docs

#11571 Add a sample demonstrating additional test types
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/README.adoc
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/checkTask.out
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/checkTask.sample.conf
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/groovy/application/build.gradle
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/groovy/build.gradle
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/groovy/library/build.gradle
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/groovy/settings.gradle
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/kotlin/application/build.gradle.kts
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/kotlin/build.gradle.kts
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/kotlin/library/build.gradle.kts
  subprojects/docs/src/samples/jvm-components-with-additional-test-types/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/templates/java-junit4-integration-test-for-application/src/integrationTest/java/org/gradle/sample/MainIntegrationTest.java
  subprojects/docs/src/samples/templates/java-junit4-integration-test-for-list-library/src/integrationTest/java/org/gradle/sample/StringUtilsIntegrationTest.java
Labels: @core, a:sample, from:member, in:docs

#11606 Make `getExecResult()` consistent between `Exec` and `JavaExec`
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractExecutionResultExecTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ExecutionResultExecTaskDeprecationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ExecutionResultExecTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ExecutionResultJavaExecTaskIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/core/src/test/groovy/org/gradle/api/tasks/ExecTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleSpec.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, a:chore, from:member, in:core

#11450 Implement missing optimizations
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Intersections.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/NormalizingExcludeFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Unions.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/ExcludeTestSupport.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/NormalizingExcludeFactoryTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/ExcludeJsonLogToCode.groovy
Labels: a:bug, from:member, in:dependency-management

#9752 Fix LinkageError when using BytecodeExpression in Groovy AST transformations
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompilerIntegrationSpec.groovy
  subprojects/plugins/src/integTest/resources/org/gradle/groovy/compile/GroovyCompilerIntegrationSpec/canUseAstTransformWithAsm/build.gradle
  subprojects/plugins/src/integTest/resources/org/gradle/groovy/compile/GroovyCompilerIntegrationSpec/canUseAstTransformWithAsm/src/main/groovy/GroovyMagicField.groovy
  subprojects/plugins/src/integTest/resources/org/gradle/groovy/compile/GroovyCompilerIntegrationSpec/canUseAstTransformWithAsm/src/main/groovy/GroovyMagicFieldTransform.groovy
  subprojects/plugins/src/integTest/resources/org/gradle/groovy/compile/GroovyCompilerIntegrationSpec/canUseAstTransformWithAsm/src/test/groovy/GroovyMagicFieldTransformTest.groovy
Labels: @core, from:contributor

#11622 Add kotlin samples
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/kotlin/application/README.adoc
  subprojects/docs/src/samples/kotlin/application/groovy/build.gradle
  subprojects/docs/src/samples/kotlin/application/groovy/settings.gradle
  subprojects/docs/src/samples/kotlin/application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/kotlin/application/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/kotlin/application/runTask.out
  subprojects/docs/src/samples/kotlin/application/runTask.sample.conf
  subprojects/docs/src/samples/kotlin/library/README.adoc
  subprojects/docs/src/samples/kotlin/library/groovy/build.gradle
  subprojects/docs/src/samples/kotlin/library/groovy/settings.gradle
  subprojects/docs/src/samples/kotlin/library/jarTask.out
  subprojects/docs/src/samples/kotlin/library/jarTask.sample.conf
  subprojects/docs/src/samples/kotlin/library/kotlin/build.gradle.kts
  subprojects/docs/src/samples/kotlin/library/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/templates/java-list-library/src/main/java/org/gradle/sample/LinkedList.java
  subprojects/docs/src/samples/templates/java-utilities-library/src/main/java/org/gradle/sample/SplitUtils.java
  subprojects/docs/src/samples/templates/kotlin-application/src/main/kotlin/org/gradle/sample/Main.kt
  subprojects/docs/src/samples/templates/kotlin-application/src/main/kotlin/org/gradle/sample/MessageUtils.kt
  subprojects/docs/src/samples/templates/kotlin-list-library/src/main/kotlin/org/gradle/sample/LinkedList.kt
  subprojects/docs/src/samples/templates/kotlin-utilities-library/src/main/kotlin/org/gradle/sample/JoinUtils.kt
  subprojects/docs/src/samples/templates/kotlin-utilities-library/src/main/kotlin/org/gradle/sample/SplitUtils.kt
  subprojects/docs/src/samples/templates/kotlin-utilities-library/src/main/kotlin/org/gradle/sample/StringUtils.kt
Labels: @core, a:chore, from:member, in:docs

#11620 Allow command line to be shorten on macOS and Linux
  subprojects/core/src/main/java/org/gradle/process/internal/util/LongCommandLineDetectionUtil.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecWithLongCommandLineIntegrationTest.groovy
Labels: @core, a:feature, from:member, in:core

#11586 Increase heap for architecture tests
  subprojects/architecture-test/architecture-test.gradle.kts
Labels: from:member

#11607 Smoke test protobuf plugin
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: a:chore, from:member

#11565 Add lenient version of ComponentMetadataDetails.addVariant()
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ComponentMetadataDetails.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/VariantFilesMetadataRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataProcessor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractLazyModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AdditionalVariant.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/LazyToRealisedModuleComponentResolveMetadataHelper.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/VariantMetadataRules.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/RealisedIvyModuleResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/VariantFilesMetadataRulesTest.groovy
Labels: from:member, in:dependency-management

#11637 Apply review feedback
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/test/kotlin/org/gradle/kotlin/dsl/tooling/builders/CommonListPrefixTest.kt
Labels: from:member, in:kotlin-dsl

#11628 Test that transforms print > Transforming
  subprojects/base-services/src/main/java/org/gradle/internal/scan/UsedByScanPlugin.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/TransformationLoggingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
Labels: @build-cache, from:member

#11640 Allow running integration tests with VFS retention enabled
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  build.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleContextualExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/VfsRetentionGradleExecuter.groovy
Labels: @build-cache, from:member

#11543 Let KotlinDslScriptsModelBuilder preserve classpath order
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/test/kotlin/org/gradle/kotlin/dsl/tooling/builders/CommonListPrefixTest.kt
Labels: a:bug, from:member, in:kotlin-dsl

#11644 Poll for work in progress line in test
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/TransformationLoggingIntegrationTest.groovy
Labels: @build-cache, from:member

#11645 Correctly filter buckets
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: @dev-productivity, from:member

#11604 Allow notifying about FS changes via the TAPI
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServiceRegistry.java
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/launcher/launcher.gradle.kts
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientFactory.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientServicesSupport.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/NotifyDaemonAboutChangedPathsClient.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/protocol/InvalidateVirtualFileSystem.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/server/api/HandleInvalidateVirtualFileSystem.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ConnectionScopeServices.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r43/ToolingApiUnsupportedProviderCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r43/ToolingApiVersionSpecification.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r61/InvalidateVirtualFileSystemCrossVersionSpec.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultProjectConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/async/DefaultAsyncConsumerActionExecutor.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/AbstractConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/NoToolingApiConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/NotifyDaemonsAboutChangedPathsConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ParameterValidatingConsumerConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/UnsupportedOlderVersionConnection.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/loader/DefaultToolingImplementationLoader.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/ConnectionVersion4.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalInvalidatableVirtualFileSystemConnection.java
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
Labels: @build-cache, from:member

#11596 Native file watchers for VFS
  gradle/dependencies.gradle
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/DarwinFileWatcherRegistryTest.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/NoopFileWatcherRegistry.java
Labels: @build-cache, from:member

#11647 Upgrade AGP nightly in instant execution tests
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSantaTrackerIntegrationTest.groovy
Labels: a:chore, from:member, in:instant-execution

#11573 Run smoke tests with instant execution
  .teamcity/Gradle_Check/configurations/SmokeTests.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InstantExecutionGradleExecuter.groovy
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildInstantExecutionSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member

#11638 Update plugin versions in smoke tests
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @core, a:chore, from:member

#11652 Update scalatest to version 3.1.0
  subprojects/build-init/build-init.gradle.kts
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/ScalaLibraryProjectInitDescriptor.java
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/scalalibrary/LibrarySuite.scala.template
Labels: @core, a:chore, from:member, in:build-init-plugin

#11668 Upgrade smoke tested AGP 3.6 to latest -beta05
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, from:member

#11670 Always honor excludes when using JUnit platform
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/AbstractTestFilteringIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
Labels: @core, a:bug, from:member, in:jvm-platform

#11667 Update sample plugin to fix execution flag on wrappers
  subprojects/docs/docs.gradle
Labels: @core, a:chore, from:member, in:docs

#11672 Add vfs retention tests for Windows and macOs as well
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: @build-cache, from:member

#11660 Handle lost state due to overflow and unknown events
  gradle/dependencies.gradle
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractEventDrivenFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/impl/WatchRootUtil.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/impl/WatcherEvent.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/impl/package-info.java
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/impl/WatchRootUtilTest.groovy
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/NoopFileWatcherRegistry.java
Labels: @build-cache, from:member

#11673 Upgradle to wrapper with latest file watching changes
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: @build-cache, from:member

#11677 Buildship: remove unnecessary check for Usage attribute
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r56/ToolingApiEclipseModelTestSourcesCrossVersionSpec.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
Labels: from:member, in:dependency-management, in:eclipse-plugin

#11675 Introduce API for tracking files used as build logic inputs
  subprojects/core-api/src/main/java/org/gradle/api/file/FileContents.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionCacheInputs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/FileBytesValueSource.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/FileContentValueSource.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/FileTextValueSource.java
Labels: @instant-execution, a:feature, from:member

#11680 Capture VFS retention enabling in build scans
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
Labels: @build-cache, from:member

#11397 Recompute selected component when removing a selector
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ReplaceSelectionWithConflictResultAction.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CandidateModule.java
Labels: from:member, in:dependency-management

#11669 Fix direct get resource for GCS
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/GcsClientIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenGcsRepoResolveIntegrationTest.groovy
  subprojects/resources-gcs/src/main/java/org/gradle/internal/resource/transport/gcp/gcs/GcsClient.java
  subprojects/resources-gcs/src/main/java/org/gradle/internal/resource/transport/gcp/gcs/GcsResource.java
Labels: from:member, in:dependency-management

#11634 Enable partial VFS invalidation for all tests
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/logging/LoggingBuildOperationProgressIntegTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemPartialInvalidationIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m8/ToolingApiLoggingCrossVersionSpec.groovy
Labels: @build-cache, from:member

#11317 Maven publish: resolve project constraint versions from maven publications
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependencyConstraint.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishJavaPlatformIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/GradleModuleMetadataWriter.java
Labels: from:contributor, in:dependency-management

#11691 Allow a capability request without version to be published
  subprojects/core-api/src/main/java/org/gradle/api/capabilities/Capability.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/PublishedCapabilityRequestsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradleModuleMetadataParser.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradleModuleMetadataParserTest.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/GradleModuleMetadata.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/gradle/DependencySpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/gradle/VariantMetadataSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyFileModule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/AbstractMavenModule.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/AbstractMavenPublishJavaIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/GradleModuleMetadataWriter.java
Labels: from:member, in:dependency-management

#11676 Update default scans plugin to 3.1.1
  buildSrc/subprojects/profiling/profiling.gradle.kts
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: a:chore, from:member

#11683 Introduce `providers.environmentVariable(variableNameOrProvider)`
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/EnvironmentVariableValueSource.java
Labels: @instant-execution, a:feature, in:core

#11678 Fix tooling-api sources jar content to include sources of submodules.
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: @core, a:bug, from:member, in:core

#11705 Serialize the 'branch' detail of a version constraint
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ModuleComponentSelectorSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultImmutableVersionConstraint.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectorSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/ivypublish/DefaultIvyModulePublishMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ModuleComponentSelectorSerializerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultImmutableVersionConstraintTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectorSerializerTest.groovy
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/ModuleMetadataFileGeneratorTest.groovy
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/GitVersionSelectionIntegrationTest.groovy
Labels: a:bug, from:member, in:dependency-management

#11709 Fix unique snapshot consumption with GMM
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenSnapshotResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/DefaultExternalResourceArtifactResolver.java
Labels: from:member, in:dependency-management

#11707 Refine value source API
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedUserHomeScopeServices.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/SystemPropertyValueSource.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ValueSourceBasedSpec.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/EnvironmentVariableValueSourceTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/SystemPropertyValueSourceTest.groovy
Labels: @instant-execution, a:chore, from:member

#11694 Assemble sources jars for tooling-api using recent API
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/publish-public-libraries.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: @core, a:bug, from:member, in:core

#11713 Coverage for Android Instant Execution from Studio
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSantaTrackerIntegrationTest.groovy
Labels: a:chore, from:member, in:instant-execution

#11718 Improve documentation on capabilities conflict solving
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_capability_conflict.adoc
  subprojects/docs/src/snippets/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/groovy/build.gradle
  subprojects/docs/src/snippets/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/kotlin/build.gradle.kts
Labels: from:member, in:dependency-management, in:docs

#11702 Add offending file name to exception caused by empty jar in the classpath
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
Labels: a:feature, from:member, in:kotlin-dsl

#11721 Smoke test AGP 3.6.0-rc01 and 4.0.0-alpha06
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
Labels: a:chore, from:member

#11726 Notify VFS about removed output when sources are removed
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultEmptySourceTaskSkipper.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/DefaultEmptySourceTaskSkipperTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11739 Re-add RegularFileSnapshot.getMetadata()
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
Labels: @build-cache, from:member

#11740 Let number of instant execution problems reported at the console match the html report
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#11741 Stop when max number of instant execution problems is reached
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#11728 Notify VFS about removed stale outputs
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/CleanupStaleOutputsExecuter.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11743 Publish only the Tooling API and use maven-publish for that
  build.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/IntTestImagePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/TestFixturesPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/MinifyPlugin.kt
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/ShadedJarPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/publish-public-libraries.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/security.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/publish/ArtifactPattern.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/publish/GeneratePom.kt
  buildSrc/subprojects/plugins/src/test/kotlin/org/gradle/plugins/publish/ArtifactPatternTest.kt
  subprojects/core/src/main/java/org/gradle/internal/vfs/impl/package-info.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/package-info.java
  subprojects/distributions/binary-compatibility.gradle
  subprojects/distributions/distributions.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/IntegrationTestHint.java
  subprojects/runtime-api-info/runtime-api-info.gradle.kts
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiIntegrationTest.groovy
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: from:member, in:dependency-management

#11732 Let `ActionNode` serialization failure trace include task information
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/StaticValue.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/AbstractNestedRuntimeBeanNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNodeDependencyResolver.java
  subprojects/core/src/main/java/org/gradle/execution/plan/WorkNodeDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultExecutionGraphDependenciesResolver.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/IdeaPlugin.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionTaskWiringIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/NotImplementedCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TransformationNodeCodecs.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/UserTypesCodecTest.kt
  subprojects/model-core/src/main/java/org/gradle/api/internal/tasks/CachingTaskDependencyResolveContext.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/tasks/TaskDependencyContainer.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/tasks/WorkDependencyResolver.java
Labels: @instant-execution, a:chore, from:member, in:core, in:instant-execution

#11734 Notify VFS about removed outputs for non-incremental execution
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CleanupOutputsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CleanupOutputsStepTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11724 Add smoke test for test retry plugin
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/TestRetryPluginSmokeTest.groovy
Labels: a:chore, from:member

#11738 Fix code path that can lead to NPE
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
Labels: from:member, in:dependency-management

#11735 Notify VFS when manifest is written
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/ear/ear.gradle.kts
  subprojects/ear/src/main/java/org/gradle/plugins/ear/Ear.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/GeneratedSingletonFileTree.java
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/GeneratedSingletonFileTreeTest.java
  subprojects/platform-jvm/platform-jvm.gradle.kts
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/tasks/Jar.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11751 Attach gradleApi() sources to IDE models
  subprojects/core-api/src/main/java/org/gradle/internal/installation/GradleInstallation.java
  subprojects/ide/ide.gradle.kts
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/idea/IdeaSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/ClasspathFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpComponentFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/DefaultGradleApiSourcesResolver.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/GradleApiSourcesResolver.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencyVisitor.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreatorTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProviderTest.groovy
Labels: @core, from:member, in:core

#11742 Remove Maven API usage from javadoc
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/GradleJavadocsPlugin.java
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/Javadocs.java
  subprojects/docs/docs.gradle
  subprojects/maven/src/main/java/org/gradle/api/artifacts/maven/MavenPom.java
Labels: @dev-productivity, a:chore, from:member
