Repository gradle/gradle, pull requests merged in 2019-10, with the labels that each got.

#10901 Unpack roots even for non-cacheable outputs
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/CacheableOutputFilePropertySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultCacheableOutputFilePropertySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DirectoryTreeOutputFilePropertySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/FileParameterUtils.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/GetOutputFilesVisitor.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/OutputFilePropertySpec.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CleanupOutputsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CreateOutputsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CleanupOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CreateOutputsStepTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskUpToDateIntegrationTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotterTest.groovy
Labels: @build-cache, from:member

#10911 Dependency management documentation improvements
  subprojects/docs/src/docs/userguide/building_cpp_projects.adoc
  subprojects/docs/src/docs/userguide/building_java_projects.adoc
  subprojects/docs/src/docs/userguide/building_swift_projects.adoc
  subprojects/docs/src/docs/userguide/cpp_application_plugin.adoc
  subprojects/docs/src/docs/userguide/cpp_library_plugin.adoc
  subprojects/docs/src/docs/userguide/cpp_unit_test_plugin.adoc
  subprojects/docs/src/docs/userguide/customizing_dependency_resolution_behavior.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/core_dependency_management.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_capability_conflict.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_downgrade_and_exclude.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_rules.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/variant_attributes.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
  subprojects/docs/src/docs/userguide/dep-man/dependency_management.adoc
  subprojects/docs/src/docs/userguide/dep-man/dependency_management_terminology.adoc
  subprojects/docs/src/docs/userguide/migrating_from_ant.adoc
  subprojects/docs/src/docs/userguide/migrating_from_maven.adoc
  subprojects/docs/src/docs/userguide/publishing_ivy.adoc
  subprojects/docs/src/docs/userguide/publishing_maven.adoc
  subprojects/docs/src/docs/userguide/swift_application_plugin.adoc
  subprojects/docs/src/docs/userguide/swift_library_plugin.adoc
  subprojects/docs/src/docs/userguide/userguide_single.adoc
  subprojects/docs/src/docs/userguide/working_with_dependencies.adoc
  subprojects/docs/src/docs/userguide/xctest_plugin.adoc
  subprojects/docs/src/main/resources/header.html
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForAllConfigurations/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForAllConfigurations/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForAllConfigurations/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/exclude-transitive-for-configuration.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/groovy/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/groovy/src/main/java/Person.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/kotlin/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/kotlin/src/main/java/Person.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForConfiguration/sample.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/exclude-transitive-for-dependency.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/groovy/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/groovy/src/main/java/Person.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/kotlin/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/kotlin/src/main/java/Person.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/sample1.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/sample2.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/excludeForDependency/sample3.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/groovy/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/kotlin/src/main/java/Main.java
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/unresolved/unresolvedTransitiveDependencies.sample.conf
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/UserGuideSamplesIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesManagingTransitiveDependenciesIntegrationTest.groovy
Labels: from:member, in:dependency-management, in:docs

#10776 Kotlin DSL TAPI Model for multiple scripts in one TAPI request
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelClient.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslScriptsModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/BuildSrcClassPathModeConfigurationAction.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/EditorReportsBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptTemplateModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinScriptingModelBuildersRegistrationAction.kt
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/EditorPosition.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/EditorReport.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/EditorReportSeverity.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/KotlinBuildScriptModel.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/KotlinBuildScriptTemplateModel.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/KotlinDslModelsParameters.java
  subprojects/kotlin-dsl-tooling-models/src/main/java/org/gradle/kotlin/dsl/tooling/models/KotlinDslScriptsModel.java
  subprojects/kotlin-dsl-tooling-models/src/main/kotlin/org/gradle/kotlin/dsl/tooling/models/KotlinBuildScriptModel.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinDslProviderMode.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRequest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRepositoryTest.kt
Labels: a:feature, from:member, in:kotlin-dsl

#10382 Support plugins {} in settings scripts
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsPluginIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectScript.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/configuration/InitScriptTarget.java
  subprojects/core/src/main/java/org/gradle/configuration/InitialPassSettingScriptTarget.java
  subprojects/core/src/main/java/org/gradle/configuration/SettingScriptTarget.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/InitialPassStatementTransformer.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsScript.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginsAwareScript.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/docs/src/samples/plugins/pluginVersions/kotlin/settings.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationTest.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/BuildScanPluginFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/plugin/PluginBuilder.groovy
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Lexer.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluator.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Program.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ProgramParser.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ProgramSource.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinBuildscriptBlock.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinPluginsBlock.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScopeTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/LexerTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/ParserToCompilerTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluatorTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/ProgramParserTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompilerTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/TestWithCompiler.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/TopLevelBlockExtractionTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/provider/ScriptApiTest.kt
  subprojects/plugin-use/plugin-use.gradle.kts
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/AbstractPluginSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/NonDeclarativePluginUseIntegrationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/PluginUseClassLoadingIntegrationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/PluginUseDslIntegrationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/SettingsScriptPluginIntegrationSpec.groovy
Labels: @core, a:feature, from:member

#10876 Mention validation deprecation warnings
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/more_about_tasks.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/customTaskClassWithoutInputOutputAnnotations.out
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/customTaskClassWithoutInputOutputAnnotations.sample.conf
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/groovy/build.gradle
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/incrementalAdHocTaskNoSource.out
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/incrementalAdHocTaskNoSource.sample.conf
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/runtimeIncrementalApi.sample.conf
  subprojects/docs/src/samples/userguide/tasks/incrementalBuild/customTaskClass/runtimeIncrementalApiUpToDate.out
Labels: @build-cache, from:member

#10915 Remove deprecated DefaultConvention object
  subprojects/model-core/src/main/java/org/gradle/api/internal/plugins/DefaultConvention.java
  subprojects/model-core/src/main/java/org/gradle/internal/extensibility/ExtensibleDynamicObject.java
Labels: a:chore, from:member

#10920 Fix capability publishing warnings
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/AbstractMavenPublishJavaIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/validation/CollectedWarnings.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/validation/PublicationWarningsCollector.java
Labels: from:member, in:dependency-management, in:publishing-plugin

#10918 Expose classes loaded by settings scripts to the projects
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsScriptVisibilityIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncher.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSourceBuilder.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultGradleLauncherSpec.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
Labels: a:feature, from:contributor

#10925 Stricter binary compatibility check of deprecated members
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/BinaryBreakingChangesRule.java
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/IncubatingMissingRule.java
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/NewIncubatingAPIRule.java
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/SinceAnnotationMissingRule.java
  buildSrc/subprojects/binary-compatibility/src/test/groovy/org/gradle/binarycompatibility/PublicAPIRulesTest.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
Labels: from:member, in:gradle-build

#10946 Reinstate Kotlin DSL IDE resolver short circuit behind an IDE flag
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledScriptDependenciesResolver.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEnvironment.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEvent.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/resolver/ResolverCoordinatorTest.kt
Labels: from:member, in:kotlin-dsl

#10947 Fail to compile nested `plugins` blocks in Kotlin scripts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTemplatesTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/v1/PrecompiledScriptTemplates.kt
Labels: a:bug, from:member, in:kotlin-dsl

#10913 Reduce long-term heap usage
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/FingerprintMapSerializer.java
Labels: a:performance-issue, from:member, in:core

#10967 Mention faster incremental Groovy compilation
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#10968 Remove a couple of Kotlin compilation warnings
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TransformerCodec.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
Labels: a:chore, from:member, in:kotlin-dsl

#10973 Support variant selection in capability conflict resolution
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/CapabilityResolutionDetails.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ComponentVariantIdentifier.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/PublishedCapabilitiesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCapabilitiesResolution.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CapabilitiesConflictHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultComponentVariantIdentifier.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/declaring-capabilities.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/dependencyReportReplaced.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/kotlin/build.gradle.kts
Labels: from:member, in:dependency-management

#10971 Add left side navigation to sample portal
  subprojects/docs/src/main/resources/header.html
Labels: @core, a:chore, from:member, in:docs

#10976 Changes in Gradle Module Metadata loading
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/DefaultGradleModuleMetadataSource.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/IvyMutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/MavenMutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/MutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/DefaultMutableMavenModuleResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandlerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataProcessorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataSerializerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataStoreTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/AbstractDependencyMetadataRulesTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/DefaultMavenModuleResolveMetadataTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/DefaultMutableIvyModuleResolveMetadataTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/DefaultMutableMavenModuleResolveMetadataTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/VariantFilesMetadataRulesTest.groovy
Labels: from:member, in:dependency-management

#10972 Refine performance baseline selection logic
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractCrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunnerTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingNativePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingSwiftPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/DeprecationCreationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ExcludeRuleMergingPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/LargeDependencyGraphPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ParallelDownloadsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/WorkerApiPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaCleanAssemblePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIDEModelPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaNonABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaUpToDatePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildDependentsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeCleanBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/RealWorldNativePluginPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftCleanBuildPerformanceTest.groovy
Labels: @dev-productivity, a:chore, from:member

#10993 Fix header href for samples
  subprojects/docs/src/main/resources/header.html
Labels: @core, a:bug, from:member, in:docs

#11001 Include version constraint comparison in equals() check of dependency
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractExternalModuleDependency.java
Labels: a:bug, from:member, in:dependency-management

#10996 Fix discovery of components without metadata in repositories
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractModuleDependency.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/ClientModuleDependencySpec.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/override/ComponentOverrideMetadataResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractExternalModuleDependency.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultClientModule.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DynamicVersionResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolutionState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleSelectors.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PotentialEdge.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ResolvableSelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQuery.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ExternalResourceResolverDescriptorParseContext.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/DefaultComponentOverrideMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/AbstractConflictResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestComponentResolutionState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestModuleSelectorState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestProjectSelectorState.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/IvyResolverTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/ModuleVersionSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/AbstractMavenModule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/ExpectOne.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/HttpServer.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/sftp/SFTPServer.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/fixtures/GcsServer.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/fixtures/S3Server.groovy
Labels: from:member, in:dependency-management

#10984 Set a green branch tag when Ready for nightly finishes
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  build.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/UpdateBranchStatus.kt
Labels: @dev-productivity, a:chore, from:member

#11002 Use Java 8 syntax for copy-like tasks
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/compression/Bzip2Archiver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/compression/GzipArchiver.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/CopySpecWrapper.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultCopySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DelegatingCopySpecInternal.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractCopyTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/bundling/Tar.java
  subprojects/ear/src/main/java/org/gradle/plugins/ear/Ear.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/tasks/Jar.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/bundling/War.java
Labels: @build-cache, from:member

#11010 Allow configuring an IDE to enable instant execution
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Workarounds.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
Labels: a:feature, in:instant-execution

#10970 Remove the generated samples from the -all distribution
  subprojects/distributions/distributions.gradle
  subprojects/distributions/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  subprojects/docs/docs.gradle
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/UserGuideSamplesIntegrationTest.groovy
Labels: @core, a:chore, from:member, in:docs

#11014 Let Kotlin DSL gracefully handle lambdas registered as extensions (5.6.3)
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaLambdaAccessorsIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
Labels: a:bug, from:member, in:kotlin-dsl

#11019 Fix play reloading
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/continuous/PlayContinuousBuildReloadIntegrationTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/continuous/PlayContinuousBuildReloadWaitingIntegrationTest.groovy
  subprojects/platform-play/src/main/java/org/gradle/play/internal/run/PlayApplicationRunner.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/run/PlayApplicationRunnerFactory.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/DefaultPlayToolChain.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/DefaultPlayToolProvider.java
  subprojects/platform-play/src/main/java/org/gradle/play/internal/toolchain/PlayToolChainServiceRegistry.java
Labels: @build-cache, from:member

#10691 Add missing dependency to embedded kotlin
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProviderTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProvider.kt
Labels: a:bug, from:member, in:dependency-management, in:kotlin-plugin

#11005 Upgrade the sample plugin
  config/checkstyle/suppressions.xml
  subprojects/docs/docs.gradle
Labels: @core, a:chore, from:member, in:docs

#11022 GradlePomModuleDescriptorParser: Fix GAV when inheritance from Parent POM
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradlePomModuleDescriptorParser.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradlePomModuleDescriptorParserTest.groovy
Labels: from:contributor, in:dependency-management

#11033 Re-enable ignored performance test
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
Labels: @build-cache, from:member

#11018 Let Gradle 6.0 work with Zinc 1.3.0
  subprojects/language-scala/src/main/java/org/gradle/api/internal/tasks/scala/ZincScalaCompilerFactory.java
Labels: from:contributor

#11012 Restore behavior of pom packaging changing the main artifact extension (5.6.3)
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishPomPackagingIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/AbstractMavenPublisher.java
Labels: from:member, in:dependency-management

#11055 Remove unused field append in JaCoCoTaskExtension
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoTaskExtension.java
Labels: a:chore, from:member, in:jacoco-plugin

#11061 Add upgrade notes for composite build changes
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
Labels: from:contributor, in:docs

#11041 Integrate with Gradle Enterprise plugin 3.0
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/subprojects/profiling/profiling.gradle.kts
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
  gradle/build-cache-configuration.settings.gradle.kts
  gradle/init-scripts/build-scan.init.gradle.kts
  gradle/init-scripts/public-build-scan.init.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanAutoApplyIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanAutoApplyKotlinIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanConfigIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/config/BuildScanFailureMessageHintIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/definition/InjectedPluginResolver.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfig.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfigManager.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanConfigServices.java
  subprojects/core/src/main/java/org/gradle/internal/scan/config/BuildScanPluginCompatibility.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/MergedPluginRequests.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/MultiPluginRequests.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/PluginRequests.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/SingletonPluginRequests.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginRequestCollector.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultScriptPluginFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/scan/config/BuildScanConfigManagerTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/api/artifacts/transform/ArtifactTransformBuildScanIntegrationTest.groovy
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/release/release-features.txt
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSantaTrackerIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/GradleEnterprisePluginFixture.groovy
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/kotlin-dsl-test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScopeTest.kt
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/autoapply/AutoAppliedPluginsFunctionalTest.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/management/internal/autoapply/DefaultAutoAppliedPluginHandler.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/management/internal/autoapply/DefaultAutoAppliedPluginRegistry.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/AlreadyOnClasspathPluginResolver.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: @core, from:member

#11064 Compatibility fix for Gradle Module Metadata
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/UrlBackedArtifactMetadata.java
Labels: from:member, in:dependency-management

#11069 Upgrade AGP in smoke tests to 3.5.1 and 3.6.0-beta01, take 2
  subprojects/performance/templates.gradle
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: @build-cache, from:member

#10978 Link to blog post about HTTP decommissioning
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#11075 Make Zinc version constant public
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaPluginExtension.java
Labels: from:member, in:dependency-management

#11046 Fix JaCoCo configuration default values sample
  subprojects/docs/src/docs/userguide/core-plugins/jacoco_plugin.adoc
  subprojects/docs/src/samples/testing/jacoco/quickstart/groovy/build.gradle
  subprojects/docs/src/samples/testing/jacoco/quickstart/kotlin/build.gradle.kts
Labels: a:sample, from:member, in:docs

#11015 Refactor performance baseline version selection
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractCrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ResultsStoreHelper.java
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunnerTest.groovy
Labels: @dev-productivity, a:bug, from:member

#11087 Run smoke tests on both minimum and maximum supported Java versions
  .teamcity/Gradle_Check/configurations/BuildJavaVersions.kt
  .teamcity/Gradle_Check/configurations/SmokeTests.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
Labels: a:chore, from:member

#11088 Smoke test instant execution on the Gradle build
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildInstantExecutionSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member

#11077 Add smoke test to verify deprecation warnings emitted by Santa Tracker
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/performance/generator/tasks/RemoteProject.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/BuildCommitDistribution.kt
  subprojects/distributions/distributions.gradle
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/launcher/launcher.gradle.kts
  subprojects/performance/templates.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @build-cache, from:member

#11110 Upgrade to idea-ext 0.7
  buildSrc/subprojects/ide/ide.gradle.kts
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
Labels: @dev-productivity, from:contributor

#11109 Introduce new metadata marker for Gradle 6
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/IvyXmlModuleDescriptorParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/MetaDataParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReader.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/IvyXmlModuleDescriptorParserTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReaderTest.groovy
  subprojects/docs/src/samples/ivy-publish/java-multi-project/output-ivy.xml
  subprojects/docs/src/samples/maven-publish/multiple-publications/output/project1.pom.xml
  subprojects/docs/src/samples/maven-publish/multiple-publications/output/project2-impl.pom.xml
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyFileModule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/AbstractMavenModule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenFileModule.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publisher/IvyDescriptorFileGenerator.java
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publisher/IvyDescriptorFileGeneratorTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGenerator.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGeneratorTest.groovy
Labels: from:member, in:dependency-management

#11112 Fix publication warning report
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishJavaIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/AbstractMavenPublishJavaIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishJavaIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/validation/PublicationWarningsCollector.java
Labels: from:member, in:dependency-management

#11115 Update exemplar sample-check to latest version
  gradle/testDependencies.gradle
Labels: @core, a:chore, from:member, in:docs

#11131 Refine how we skip buildSrc checks
  buildSrc/build.gradle.kts
Labels: a:chore, from:member, in:gradle-build

#11132 Documentation updates
  subprojects/docs/src/docs/userguide/authoring-builds/tutorial_using_tasks.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/signing_plugin.adoc
  subprojects/docs/src/samples/signing/conditional/groovy/build.gradle
  subprojects/docs/src/samples/signing/conditional/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/tasks/groovy/build.gradle
Labels: from:member, in:dependency-management, in:docs

#11146 Add ad-hoc performance coordinator for Windows
  .teamcity/Gradle_Check/configurations/BuildDistributions.kt
  .teamcity/Gradle_Check/configurations/BuildJavaVersions.kt
  .teamcity/Gradle_Check/configurations/CompileAll.kt
  .teamcity/Gradle_Check/configurations/DependenciesCheck.kt
  .teamcity/Gradle_Check/configurations/Gradleception.kt
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Check/configurations/PerformanceTestCoordinator.kt
  .teamcity/Gradle_Check/configurations/SanityCheck.kt
  .teamcity/Gradle_Check/configurations/SmokeTests.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/projects/WorkersProject.kt
  .teamcity/Gradle_Util_Performance/Project.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceScenarioLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinator.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinatorLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinatorWindows.kt
  .teamcity/common/performance-test-extensions.kt
Labels: from:member

#11134 Workaround for localhost lookup JDK bug
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/origin/OriginMetadataFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/origin/OriginMetadataFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/services/BuildCacheServices.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/InetAddressFactory.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/package-info.java
Labels: @build-cache, from:member

#11155 TC config cleanup - remove unused utility test configurations
  .teamcity/Gradle_Util/Project.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestLinux.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestWindows.kt
Labels: @dev-productivity, from:member

#11158 Set 'org.gradle.workers.max' to 'maxParallelForks' on CI
  .teamcity/common/extensions.kt
  .teamcityTest/Gradle_Check_Tests/ApplyDefaultConfigurationTest.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
Labels: @dev-productivity, from:member

#11154 Add test for nested domain object containers as input
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
Labels: @build-cache, from:member

#11153 Workaround for localhost lookup JDK bug (for 6.0)
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/origin/OriginMetadataFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/origin/OriginMetadataFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/services/BuildCacheServices.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/InetAddressFactory.java
  subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/package-info.java
Labels: @build-cache, from:member

#11161 Let instant execution support more FileTree and SourceTask use cases
  subprojects/core/src/main/java/org/gradle/api/tasks/SourceTask.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJavaIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileTreeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/PatternSetCodec.kt
Labels: from:member, in:core, in:instant-execution

#11167 Fix regexp for checking error message
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/SecurityManagerIntegrationTest.groovy
Labels: @dev-productivity, from:member

#11166 Fix jacoco flaky test
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJacocoIntegrationTest.groovy
Labels: @dev-productivity, a:chore, from:member

#11164 Fail when applying the java plugin on top of platform
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaIncompatiblePluginsIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: from:member, in:dependency-management

#11169 Fix correct caching of default excludes
  subprojects/core-api/src/main/java/org/gradle/api/tasks/util/internal/PatternSpecFactory.java
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
Labels: @build-cache, from:member

#11172 Remove retry extension from performance test base class
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractToolingApiCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestConditions.groovy
Labels: @dev-productivity, from:member

#11171 Introduce Kotlin plugin smoke test for Android using the Kotlin DSL
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/DetermineCommitId.kt
  subprojects/kotlin-dsl-provider-plugins/kotlin-dsl-provider-plugins.gradle.kts
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/AccessorTypePrecedenceTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultProjectSchemaProviderTest.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/src/main/AndroidManifest.xml
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/src/main/kotlin/org/gradle/smoketest/kotlin/android/StringPrinterFragment.kt
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/src/test/kotlin/org/gradle/smoketest/kotlin/android/StringPrinterTest.kt
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/settings.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/build.gradle
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/src/main/AndroidManifest.xml
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/src/main/kotlin/org/gradle/smoketest/kotlin/android/StringPrinterFragment.kt
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/src/test/kotlin/org/gradle/smoketest/kotlin/android/StringPrinterTest.kt
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/build.gradle
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/settings.gradle
Labels: a:bug, from:member, in:kotlin-dsl

#11102 Do not add trailing / when normalizing paths
  subprojects/base-services/src/main/java/org/gradle/internal/FileUtils.java
Labels: @build-cache, from:member

#11179 Handle serialization for shadowed capabilities in the GMM case
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractMutableModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/MutableComponentVariant.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
Labels: from:member, in:dependency-management

#11191 Fix Kotlin DSL accessor for `android.kotlinOptions`
  subprojects/kotlin-dsl-provider-plugins/kotlin-dsl-provider-plugins.gradle.kts
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/AccessorTypePrecedenceTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultProjectSchemaProviderTest.kt
Labels: a:bug, from:member, in:kotlin-dsl

#11187 Archive Kotlin compiler logs
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/CiReportingPlugin.kt
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyKotlinInterOpIntegrationTest.groovy
Labels: from:member, in:testing
