Repository gradle/gradle, pull requests merged in 2019-06, with the labels that each got.

#9589 Fix typo in docs
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSet.java
Labels: from:contributor

#9574 Restore registered task inputs and outputs
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOperationsFixture.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJavaIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanFieldDeserializer.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanFieldSerializer.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
Labels: a:feature, from:member, in:instant-execution

#9603 Revert `libA0:dependentComponents on nativeDependents` regression
  subprojects/model-core/src/main/java/org/gradle/model/internal/registry/RuleBindings.java
Labels: @build-cache, from:member

#9537 Performance regression tests for instant execution on Java builds
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGeneratorConfiguration.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: @instant-execution, from:member, in:instant-execution

#9613 Fix performance regression on instant-execution
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ClasspathUtil.java
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
Labels: a:performance-issue, from:member, in:instant-execution

#9609 Enable Groovy compilation avoidance
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity, from:member

#9619 Mention DependencyHandler : ExtensionAware in upgrade guide
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: a:chore, from:member

#9626 Fix inconsistent serialization state when resolution cache expires
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectorSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
Labels: a:bug, from:member, in:dependency-management

#9630 Clarify the meaning of declared version for publication
  subprojects/docs/src/docs/userguide/publishing_ivy.adoc
  subprojects/docs/src/docs/userguide/publishing_maven.adoc
  subprojects/docs/src/docs/userguide/publishing_overview.adoc
Labels: from:member, in:dependency-management, in:docs

#9628 Let instant execution support running `build` on Groovy builds
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJavaIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ConfigurableFileCollectionCodec.kt
Labels: a:feature, in:instant-execution

#9186 Align versions of all Kotlin components in generated projects
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/DependenciesBuilder.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/KotlinApplicationProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/KotlinGradlePluginProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/KotlinLibraryProjectInitDescriptor.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderGroovyTest.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderKotlinTest.groovy
Labels: from:contributor, in:build-init-plugin

#9622 Remove usage of Factory from DefaultFileSystemSnapshotter
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/InMemoryIndexedCache.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transfer/DefaultCacheAwareExternalResourceAccessor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/transfer/DefaultCacheAwareExternalResourceAccessorTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/ProducerGuard.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/ProducerGuardTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
  subprojects/version-control/src/main/java/org/gradle/vcs/internal/resolver/OncePerBuildInvocationVcsVersionWorkingDirResolver.java
Labels: @build-cache, from:member

#9623 Do not clean up project cache dirs manually
  buildSrc/subprojects/cleanup/src/main/kotlin/org/gradle/gradlebuild/testing/integrationtests/cleanup/CleanUpCaches.kt
Labels: @dev-productivity, from:member

#9644 Let InstantExecution support Callable runtime input properties
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/build/ClasspathManifest.kt
  subprojects/core/core.gradle.kts
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
Labels: in:instant-execution

#9643 Fix invalid resolution graph state when deferring selection
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: from:member, in:dependency-management

#9637 doc(userguide): rename sec "Reproducible builds"
  subprojects/docs/src/docs/userguide/working_with_files.adoc
Labels: @core, from:contributor

#9661 Use https in start script template
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/windowsStartScript.txt
Labels: a:chore, in:core

#9669 Let instant-execution handle `ListProperty` fields
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
Labels: a:feature, from:member, in:instant-execution

#9638 Apply unique name of copied configurations using a counter
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationDefaultsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: a:chore, from:member, in:dependency-management

#9671 Move fingerprinters to the core project
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/AbsolutePathInputNormalizer.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/FileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/FileCollectionFingerprinterRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/FileCollectionSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/IgnoredPathInputNormalizer.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/NameOnlyInputNormalizer.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/OutputNormalizer.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/RelativePathInputNormalizer.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/DefaultCompileClasspathFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/AbstractFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultFileCollectionFingerprinterRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/NameOnlyFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/OutputFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/OutputFilterUtilTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/FingerprinterFixture.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/FileSystemSnapshotBuilderTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotterTest.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/impl/TestFileSnapshotter.groovy
Labels: @build-cache

#9688 Mark component selection related interfaces with @UsedbyScanPlugin
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/ComponentSelectionCause.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/ComponentSelectionDescriptor.java
Labels: from:member, in:build-scan

#9666 Use isolation framework for IsolationMode.NONE
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorErrorHandlingIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorIntegrationTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/DefaultWorkerExecutor.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/IsolatedParametersActionExecutionSpec.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/NoIsolationWorkerFactory.java
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorParallelTest.groovy
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorTest.groovy
  subprojects/workers/workers.gradle.kts
Labels: a:feature, from:member, in:workers

#9680 Support LinuxMain XCTest pattern on Linux
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftBothLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftLibraryIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftSharedLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftStaticLibraryLinkageIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/LanguageTaskNames.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/swift/AbstractSwiftComponentIntegrationTest.groovy
  subprojects/language-native/src/testFixtures/groovy/org/gradle/language/swift/SwiftTaskNames.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/app/IncrementalSwiftXCTestElement.java
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/app/XCTestSourceElement.java
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestComponentIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestComponentWithTestedComponentIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestComponentWithApplicationIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestComponentWithBothLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestComponentWithSharedLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestComponentWithStaticLibraryLinkageIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestComponentWithoutComponentIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestCppInteroperabilityIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestDependenciesIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestTestFrameworkIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestWithApplicationDependenciesIntegrationTest.groovy
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/plugins/XCTestConventionPlugin.java
Labels: @core, a:feature, from:member, in:native-platform

#9678 Log complete path of values written to the instant execution cache
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/PropertyTraceTest.kt
Labels: a:feature, from:member, in:instant-execution

#9691 Move FingerprintMapSerializer to execution
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/FileCollectionFingerprintSerializer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/FingerprintMapSerializer.java
Labels: @build-cache, from:member

#9685 Instant execution collects FileCollection resolution exception messages
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileCollectionCodec.kt
Labels: from:member, in:instant-execution

#9686 Remove :configureBuildReceipt configuration task in the gradle/gradle build
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/BuildReceipt.groovy
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/DetermineCommitId.kt
  gradle/versioning.gradle
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/performance/templates.gradle
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: @instant-execution, from:member, in:gradle-build

#9695 Clean up dependencies of ':snapshots' project
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/AttributeValuesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/ValueSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/ValueSnapshottingException.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/AbstractMapSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/IsolatedMap.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/MapEntrySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/MapValueSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/SerializedValueSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/SnapshotSerializer.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterAsDirectoryWalkerTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/SnapshotSerializerTest.groovy
Labels: @build-cache, from:member

#9687 Do not use PatternSet in :snapshots
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/build-comparison/build-comparison.gradle.kts
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/PatternSetSnapshottingFilter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepositoryTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/OutputFilterUtilTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/FingerprinterFixture.groovy
  subprojects/files/files.gradle.kts
  subprojects/internal-performance-testing/internal-performance-testing.gradle.kts
  subprojects/ivy/ivy.gradle.kts
  subprojects/jvm-services/jvm-services.gradle.kts
  subprojects/language-jvm/language-jvm.gradle.kts
  subprojects/launcher/launcher.gradle.kts
  subprojects/platform-native/platform-native.gradle.kts
  subprojects/resources/resources.gradle.kts
  subprojects/snapshots/snapshots.gradle.kts
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshottingFilter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/impl/PathNormalizationStrategyTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterAsDirectoryWalkerTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/impl/TestFileSnapshotter.groovy
  subprojects/version-control/version-control.gradle.kts
  subprojects/workers/workers.gradle.kts
Labels: @build-cache, from:member

#9697 Inline striped producer guard
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultFileSystemSnapshotter.java
Labels: @build-cache, from:member

#9689 Blow up big Sync test to multiple smaller ones
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/SyncTaskIntegrationTest.groovy
Labels: @build-cache, from:member

#9693 Attach node selection failures to constraint edges
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
Labels: from:member, in:dependency-management

#9704 Move value snapshotting to :model-core
  subprojects/execution/execution.gradle.kts
  subprojects/model-core/model-core.gradle.kts
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractArraySnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractIsolatableScalarValue.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractListSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractManagedValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractMapSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractScalarValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractSetSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ArrayValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/AttributeDefinitionSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/BooleanValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/CoercingStringValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/EnumValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/FileValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ImmutableManagedValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ImplementationSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IntegerValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatableEnumValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedArray.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedImmutableManagedValue.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedList.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedManagedValue.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedMap.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedSerializedValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedSet.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolationException.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ListValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/LongValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ManagedValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/MapValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/NullValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/SerializedValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/SetValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ShortValueSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/SnapshotSerializer.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/StringValueSnapshot.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/AbstractBean.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/Bean.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultValueSnapshotterTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/ImplementationSnapshotTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/SnapshotSerializerTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/Thing.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/Type1.groovy
  subprojects/snapshots/snapshots.gradle.kts
Labels: @build-cache, from:member

#9699 Move change detection to execution
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractIncrementalTasksIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalTaskInputsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/ZipHasher.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintCompareStrategyTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinterTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbsolutePathFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbstractFingerprintChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbstractFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/CachingChangeContainer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/Change.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ChangeContainer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ChangeDetectorVisitor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ChangeTypeInternal.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ChangeVisitor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ClasspathCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/CollectingChangeVisitor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultFileChange.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultInputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DescriptiveChange.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ErrorHandlingChangeContainer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/FilePathWithType.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/FingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/IgnoredPathCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ImplementationChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/IncrementalInputChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/InputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/InputValueChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/LimitingChangeVisitor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/NormalizedPathFingerprintCompareStrategy.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/OutputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/PreviousSuccessChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/PropertyChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/SummarizingChangeContainer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/StoreSnapshotsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/CachingChangeContainerTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/DefaultFileChangeTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/ErrorHandlingChangeContainerTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/FingerprintCompareStrategyTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/ImplementationChangesTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/LimitingChangeVisitorTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/SummarizingChangeContainerTest.groovy
  subprojects/language-java/language-java.gradle.kts
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpecProvider.java
  subprojects/snapshots/src/main/java/org/gradle/internal/change/CollectingChangeVisitor.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/CurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/FingerprintHashingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/FingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbstractFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/DefaultCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/NameOnlyFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFingerprintingStrategy.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprintTest.groovy
Labels: @build-cache, from:member

#9701 Fix exclude rule merging performance
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Intersections.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/NormalizingExcludeFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultCompositeExclude.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultExcludeAllOf.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultExcludeAnyOf.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultModuleArtifactExclude.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/IntersectionsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/NormalizingExcludeFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultCompositeExcludeTest.groovy
Labels: a:bug, from:member, in:dependency-management

#9633 Avoid reacquiring the project lock when a worker-based task completes
  subprojects/base-services/src/main/java/org/gradle/internal/resources/ProjectLeaseRegistry.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/StopShieldingWorkerLeaseService.java
  subprojects/build-profile/src/main/java/org/gradle/profile/ProfileEventAdapter.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildController.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskIdentity.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/statistics/TaskExecutionStatisticsEventAdapter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskListenerInternal.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/work/AsyncWorkTracker.java
  subprojects/core/src/main/java/org/gradle/internal/work/DefaultAsyncWorkTracker.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/work/DefaultAsyncWorkTrackerTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/work/TestWorkerLeaseService.groovy
  subprojects/messaging/src/main/java/org/gradle/internal/event/DefaultListenerManager.java
  subprojects/messaging/src/main/java/org/gradle/internal/event/ListenerManager.java
  subprojects/messaging/src/test/groovy/org/gradle/internal/event/DefaultListenerManagerTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParallelBuildOperationsIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParallelIntegrationTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/DefaultWorkerExecutor.java
  subprojects/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorParallelTest.groovy
Labels: @core, from:member

#9715 Add file case change recognition mention to the release notes
  subprojects/docs/src/docs/release/notes.md
Labels: @build-cache, from:member

#9721 Fix incorrect simplification of intersection of unions
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Intersections.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/NormalizingExcludeFactory.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/IntersectionsTest.groovy
Labels: a:bug, from:member, in:dependency-management

#9711 Add Swift application and library build init templates
  subprojects/build-init/build-init.gradle.kts
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/WindowsSwiftInitIntegrationTest.groovy
  subprojects/build-init/src/main/groovy/org/gradle/buildinit/plugins/internal/services/ProjectLayoutSetupRegistryFactory.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/ModuleNameBuilder.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SwiftApplicationProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SwiftLibraryProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SwiftProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/modifiers/Language.java
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftapp/GreeterTests.swift.template
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftapp/LinuxMain.swift.template
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftapp/main.swift.template
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftlibrary/Hello.swift.template
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftlibrary/HelloTests.swift.template
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/swiftlibrary/LinuxMain.swift.template
Labels: @core, a:feature, from:member, in:native-platform

#9683 Extend Java test projects to measure java-library performance
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/ForkingGradleSession.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/FileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/GroovyDslFileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/KotlinDslFileContentGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaselineVersion.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/JavaLibraryPluginPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/ParallelBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: from:member, in:dependency-management

#9741 Mark AttributeContainer as used by scan plugin
  subprojects/core-api/src/main/java/org/gradle/api/attributes/AttributeContainer.java
Labels: from:member, in:build-scan

#9728 Fix minor typo in Kotlin DSL guide
  subprojects/docs/src/docs/userguide/kotlin_dsl.adoc
Labels: from:member

#9740 Fix link to metadata-file-spec
  subprojects/docs/src/docs/userguide/java_platform_plugin.adoc
Labels: from:contributor

#9739 Let instant execution capture task actions
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/ClassLoaderCacheInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/DefaultClassLoaderCache.java
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionTaskActionsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/CollectionCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/MethodCodec.kt
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
Labels: from:member, in:instant-execution

#9484 Replace Buildship custom classpath filtering with the Eclipse 'test sources' feature
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r44/ToolingApiEclipseModelSourceFolderClasspathAttributesCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r56/ToolingApiEclipseModelTestSourcesCrossVersionSpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseClasspathFixture.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseSourceSetIntegrationSpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseTestSourcesIntegrationTest.groovy
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/apiClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/commonClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/groovyprojectClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webAppJava6Classpath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webAppWithVarsClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webserviceClasspath.xml
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/internal/EclipsePluginConstants.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/SourceFoldersCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpComponentFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencyVisitor.java
Labels: @core, from:member

#9748 Allow plugin versions to be specified in `pluginManagement`
  subprojects/core-api/src/main/java/org/gradle/plugin/management/PluginManagementSpec.java
  subprojects/core-api/src/main/java/org/gradle/plugin/use/PluginDependenciesSpec.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/PluginResolutionStrategyInternal.java
  subprojects/plugin-use/plugin-use.gradle.kts
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/VersionInSettingsPluginUseIntegrationTest.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/management/internal/DefaultPluginManagementSpec.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/management/internal/DefaultPluginResolutionStrategy.java
Labels: a:feature, from:member, in:plugin-management

#9211 Explicitly configure pmd to not use incremental analysis feature
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/PmdInvoker.groovy
Labels: @core, from:contributor

#9747 Let instant execution capture gradle-profiler time to first task listener
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionBuild.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskGraphCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
Labels: from:member, in:instant-execution

#9724 Add documentation for Java test fixtures
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
  subprojects/docs/src/docs/userguide/java_testing.adoc
  subprojects/docs/src/samples/userguide/java/fixtures/dependencyInsight.out
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/build.gradle
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/lib/build.gradle
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/lib/src/main/java/com/acme/Person.java
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/lib/src/test/java/com/acme/PersonTest.java
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/lib/src/testFixtures/java/com/acme/Simpsons.java
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/settings.gradle
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/src/main/java/com/acme/Family.java
  subprojects/docs/src/samples/userguide/java/fixtures/groovy/src/test/java/com/acme/FamilyTest.java
  subprojects/docs/src/samples/userguide/java/fixtures/javaTestFixtures.sample.conf
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/lib/build.gradle.kts
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/lib/src/main/java/com/acme/Person.java
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/lib/src/test/java/com/acme/PersonTest.java
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/lib/src/testFixtures/java/com/acme/Simpsons.java
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/src/main/java/com/acme/Family.java
  subprojects/docs/src/samples/userguide/java/fixtures/kotlin/src/test/java/com/acme/FamilyTest.java
Labels: from:member, in:dependency-management

#9769 Fix JUnit Jupiter related typos
  subprojects/docs/src/docs/userguide/build_init_plugin.adoc
Labels: a:bug, from:member, in:docs

#8679 Fix start script to run in MingW shell properly
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
Labels: @core, from:contributor, in:native-platform

#9768 Fix typo in ResolutionStrategy#sortArtifacts Javadoc
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolutionStrategy.java
Labels: from:contributor

#5716 Add toString() implementation for Conf2ScopeMapping
  subprojects/maven/src/main/java/org/gradle/api/artifacts/maven/Conf2ScopeMapping.java
  subprojects/maven/src/test/groovy/org/gradle/api/publication/maven/internal/pom/DefaultConf2ScopeMappingContainerTest.java
Labels: @core, from:contributor, in:dependency-management, in:maven-plugin, waiting-for:gradle-team

#9716 Extract managed factories from managed objects
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/ManagedFactories.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyValidationAccess.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/core/src/testFixtures/groovy/org/gradle/util/SnapshotTestUtil.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/files/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  subprojects/files/src/main/java/org/gradle/api/internal/file/collections/ManagedFactories.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/model/NamedObjectInstantiator.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultListProperty.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultPropertyState.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultSetProperty.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ManagedFactories.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/Providers.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AsmBackedClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/DefaultInstantiatorFactory.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/ManagedTypeFactory.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedImmutableManagedValue.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedManagedValue.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/DefaultManagedFactoryRegistry.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/Managed.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/ManagedFactory.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/ManagedFactoryRegistry.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/model/NamedObjectInstantiatorTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/AbstractProviderTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultListPropertyTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultPropertyStateTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultProviderTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultSetPropertyTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/PropertySpec.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ProviderSpec.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ProvidersTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratedManagedStateTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratorDecoratedTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratorInjectDecoratedTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratorInjectUndecoratedTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/AsmBackedClassGeneratorTest.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/DefaultInstantiatorFactoryTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/DependencyInjectionUsingClassGeneratorBackedInstantiatorTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/ManagedTypeFactoryTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultValueSnapshotterTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/state/DefaultManagedFactoryRegistryTest.groovy
Labels: @core, a:feature, from:member

#9732 Polish change detection
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
Labels: @build-cache, from:member

#9788 Use HTTPS for links to Apache license in wrapper scripts
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/windowsStartScript.txt
Labels: a:regression, from:member, in:wrapper

#9789 Restore runtime classpath separation for previous Buildship releases
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r44/ToolingApiEclipseModelSourceFolderClasspathAttributesCrossVersionSpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseSourceSetIntegrationSpec.groovy
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/apiClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/commonClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/groovyprojectClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webAppJava6Classpath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webAppWithVarsClasspath.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webserviceClasspath.xml
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/internal/EclipsePluginConstants.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/SourceFoldersCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
Labels: @core

#9803 Enable incremental compilation for Groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity, a:chore, from:member

#9731 Remove overlapping outputs detecting init script
  gradle/init-scripts/overlapping-task-outputs-stats-init.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/CacheInitScriptsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/cache-init-scripts/build.gradle
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/cache-init-scripts/src/main/java/Hello.java
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/cache-init-scripts/taskCacheInit.gradle
Labels: @build-cache, from:member

#9734 Better INFO logging for cache loads and stores
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/command/BuildCacheCommandFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CacheStep.java
Labels: @build-cache, from:member

#9806 Move hasher implementations to :pineapple
  subprojects/pineapple/src/main/java/org/gradle/internal/hash/DefaultFileHasher.java
  subprojects/pineapple/src/main/java/org/gradle/internal/hash/DefaultStreamHasher.java
  subprojects/pineapple/src/test/groovy/org/gradle/internal/hash/DefaultStreamHasherTest.groovy
Labels: @build-cache, from:member

#9794 Rename compilePluginClasspath to astTransformationClasspath
  subprojects/docs/src/docs/userguide/groovy_plugin.adoc
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovy/build.gradle
  subprojects/docs/src/samples/groovy/compilationAvoidance/kotlin/build.gradle.kts
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractGroovyCompileAvoidanceIntegrationSpec.groovy
Labels: @dev-productivity, from:member

#9807 Remove messaging dependency in :build-cache
  subprojects/build-cache/build-cache.gradle.kts
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/origin/OriginMetadataFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/origin/OriginMetadataFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/services/BuildCacheServices.java
Labels: @build-cache, from:member

#9805 Remove redundant CacheFormat type
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/internal/HttpBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/CacheFormat.java
Labels: @build-cache, from:member

#9815 Add `build-cache` GitHub issue template
  .github/ISSUE_TEMPLATE/contributor_bug_report.md
  .github/ISSUE_TEMPLATE/contributor_feature_request.md
  .github/ISSUE_TEMPLATE/contributor_regression.md
  .github/ISSUE_TEMPLATE/internal_build_cache_issue.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: @build-cache, from:member

#9808 Move FileAccessTimeJournal to :pineapple
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournal.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/resource/local/GroupedAndNamedUniqueFileStore.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournalTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/resource/local/GroupedAndNamedUniqueFileStoreTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformationWorkspaceProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/filestore/ivy/ArtifactIdentifierFileStore.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/cached/ExternalResourceFileStore.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/LeastRecentlyUsedCacheCleanup.java
  subprojects/pineapple/src/main/java/org/gradle/internal/file/FileAccessTimeJournal.java
  subprojects/resources/src/main/java/org/gradle/internal/resource/local/ModificationTimeFileAccessTimeJournal.java
  subprojects/resources/src/main/java/org/gradle/internal/resource/local/SingleDepthFileAccessTracker.java
  subprojects/resources/src/test/groovy/org/gradle/internal/resource/local/SingleDepthFileAccessTrackerTest.groovy
Labels: @build-cache, from:member

#9810 Guard against `null` bean property values when visiting dependencies
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/AbstractNestedRuntimeBeanNode.java
Labels: a:regression, from:member
