Repository gradle/gradle, pull requests merged in 2019-11, with the labels that each got.

#11188 Fix deactivate locking sample
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
Labels: from:member, in:dependency-management

#11198 Support '!!' short notation in dependency constraints
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyStringNotationConverter.java
Labels: from:member, in:dependency-management

#11186 Introduce system property to fail instant execution store on problems
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/SystemProperties.kt
Labels: a:feature, from:member, in:instant-execution

#11196 Fix documentation about the default configuration
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: from:contributor, in:dependency-management, in:docs

#11215 Dedupe `rootProject.layout` policy for `intTestHomeDir/generatedApiJars`
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
  subprojects/smoke-test/smoke-test.gradle.kts
Labels: from:member

#11217 Upgrade instant execution AGP tested nightly
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionAndroidIntegrationTest.groovy
Labels: a:chore, from:member, in:instant-execution

#11204 Let smoke tests segregate the partial distro generated api jars
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, from:member

#11127 Strip userinfo from Gradle dist cache key
  subprojects/wrapper/src/main/java/org/gradle/wrapper/Download.java
  subprojects/wrapper/src/main/java/org/gradle/wrapper/PathAssembler.java
  subprojects/wrapper/src/test/groovy/org/gradle/wrapper/PathAssemblerTest.java
Labels: from:contributor

#11089 NON-ISSUE Set collect logger name for `public class NodeState`.
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: from:contributor, in:dependency-management

#11197 Generate the docs distribution
  subprojects/distributions/distributions.gradle
  subprojects/docs/docs.gradle
  subprojects/internal-android-performance-testing/internal-android-performance-testing.gradle.kts
Labels: @core, a:feature, from:member, in:docs

#11252 Apply enterprise plugin in a consistent way for smoke and performance tests
  .idea/codeStyles/codeStyleConfig.xml
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/EnterprisePluginFixture.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: @build-cache, from:member

#10999 Allow to use registerFeature when there is no main SourceSet
  subprojects/docs/src/docs/release/notes.md
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryFeatureCompilationIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaFeatureSpec.java
Labels: from:contributor, in:dependency-management

#11253 Refine TestKit user manual chapter
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
  subprojects/docs/src/samples/testKit/gradleRunner/junitQuickstart/kotlin/build.gradle.kts
  subprojects/docs/src/samples/testKit/gradleRunner/junitQuickstart/kotlin/src/test/java/org/gradle/sample/BuildLogicFunctionalTest.java
  subprojects/docs/src/samples/testKit/gradleRunner/junitQuickstart/kotlin/src/test/kotlin/org/gradle/sample/BuildLogicFunctionalTest.kt
  subprojects/docs/src/samples/testKit/gradleRunner/junitQuickstart/testKitDependency.sample.conf
Labels: a:chore, from:member, in:docs

#11211 Prepare CI pipeline to run integ tests with instant execution enabled
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  build.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleContextualExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InstantExecutionGradleExecuter.groovy
Labels: a:chore, from:member, in:gradle-build

#11260 Apply enterprise plugin consistently to Santa Tracker smoke test, too
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/GradleEnterprisePluginSettingsFixture.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @build-cache, from:member

#11262 Include output of all failed suites in HTML report
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/AbstractTestDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DecoratingTestDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestDescriptorInternal.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestReportDataCollector.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/processors/TestMainAction.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/UnknownTestDescriptor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/TestReportDataCollectorSpec.groovy
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/SimpleTestDescriptor.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
Labels: a:bug, from:member, in:testing

#11261 Run AGP tests with versions 3.5.2 and 3.6.0-beta03
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/performance/templates.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @build-cache, from:member

#11313 Fix .sample.conf file name in samples
  subprojects/docs/src/samples/compositeBuilds/plugin-dev/compositeBuilds_plugin_dev.sample.conf
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovy/build.gradle
  subprojects/docs/src/samples/groovy/compilationAvoidance/groovyCompilationAvoidance.sample.conf
  subprojects/docs/src/samples/groovy/compilationAvoidance/kotlin/build.gradle.kts
  subprojects/docs/src/samples/groovy/incrementalCompilation/groovyIncrementalCompilation.sample.conf
Labels: @dev-productivity, a:chore, from:member

#11311 Ignore TcpConnectorTest failures on macOS for now
  subprojects/messaging/src/test/groovy/org/gradle/internal/remote/internal/inet/TcpConnectorTest.groovy
Labels: @dev-productivity, a:chore, from:member

#11320 Update to Gradle Enterprise plugin 3.1-rc-2
  buildSrc/subprojects/profiling/profiling.gradle.kts
  settings.gradle.kts
Labels: from:contributor

#11314 Fix relative links of navigation menu on samples
  subprojects/docs/src/main/resources/footer.html
Labels: @core, a:bug, from:member, in:docs

#11307 Mention build init plugin in beginner samples
  subprojects/docs/src/samples/next-gen/groovy/basic-application/README.adoc
  subprojects/docs/src/samples/next-gen/groovy/basic-library/README.adoc
  subprojects/docs/src/samples/next-gen/groovy/components-with-spock-tests/README.adoc
  subprojects/docs/src/samples/next-gen/java/basic-application/README.adoc
  subprojects/docs/src/samples/next-gen/java/basic-library/README.adoc
  subprojects/docs/src/samples/next-gen/java/components-with-junit-4-tests/README.adoc
  subprojects/docs/src/samples/next-gen/java/components-with-spock-tests/README.adoc
Labels: @core, a:feature, from:member, in:docs

#11306 Fix link highlighting in navigation menu for index.html files
  subprojects/docs/src/main/resources/footer.html
Labels: @core, a:bug, from:member, in:docs

#11329 Allow publication artifacts to be defined as files through providers
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishArtifactCustomizationIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/artifact/IvyArtifactNotationParserFactory.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishArtifactCustomizationIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/artifact/MavenArtifactNotationParserFactory.java
Labels: from:member, in:dependency-management

#11310 Add OS as inputs for unit tests
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
Labels: @dev-productivity, a:bug, from:member

#11334 Register implicit capabilities for conflict detection in more cases
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CapabilitiesConflictHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
Labels: from:member, in:dependency-management

#11331 Fix AndroidJavaCompile not detecting incremental changes
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/integ-test/src/crossVersionTest/groovy/org/gradle/integtests/TaskSubclassingBinaryCompatibilityCrossVersionSpec.groovy
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
Labels: @build-cache, affects-version:6.0, from:member

#11347 Preserve behaviour of `fileTree(mapOf(...))` for backward compatibility
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/DefaultKotlinScript.kt
Labels: a:regression, from:member, in:kotlin-dsl

#11339 Add Spring Boot application sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/next-gen/spring-boot/README.adoc
  subprojects/docs/src/samples/next-gen/spring-boot/groovy/build.gradle
  subprojects/docs/src/samples/next-gen/spring-boot/groovy/settings.gradle
  subprojects/docs/src/samples/next-gen/spring-boot/kotlin/build.gradle.kts
  subprojects/docs/src/samples/next-gen/spring-boot/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/next-gen/spring-boot/testTask.out
  subprojects/docs/src/samples/next-gen/spring-boot/testTask.sample.confz
  subprojects/docs/src/samples/next-gen/templates/spring-boot/HELP.md
  subprojects/docs/src/samples/next-gen/templates/spring-boot/src/main/java/org/gradle/samples/SpringBootDemoApplication.java
  subprojects/docs/src/samples/next-gen/templates/spring-boot/src/main/resources/application.properties
  subprojects/docs/src/samples/next-gen/templates/spring-boot/src/test/java/org/gradle/samples/SpringBootDemoApplicationTests.java
Labels: @core, a:feature, from:member, in:docs

#11361 Update to Gradle Enterprise plugin 3.1-rc-2 (#11320)
  buildSrc/subprojects/profiling/profiling.gradle.kts
  settings.gradle.kts
Labels: from:member

#11358 Add a system property to disable publishing of SHA-256
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ExternalResourceResolver.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyFileModule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyModule.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/DelegatingIvyModule.java
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishHttpIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/AbstractMavenPublisher.java
Labels: from:member, in:dependency-management

#11341 Fix exemplar tests
  subprojects/docs/docs.gradle
Labels: @core, a:bug, from:member, in:docs

#11346 Add links to guide from samples
  subprojects/docs/src/samples/next-gen/groovy/basic-library/README.adoc
  subprojects/docs/src/samples/next-gen/java/basic-application/README.adoc
  subprojects/docs/src/samples/next-gen/java/basic-library/README.adoc
Labels: @core, a:feature, from:member, in:docs

#11375 Handle the Swift 5.1 failures in the tests
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftIncrementalBuildIntegrationTest.groovy
Labels: @core, a:chore, from:member, in:native-platform

#11372 Desugar producer attribute if the requesting attribute is desugared
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributes.java
  subprojects/core/src/testFixtures/groovy/org/gradle/util/SnapshotTestUtil.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/JavaPlatformResolveIntegrationTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/model/ComponentAttributeMatcherTest.groovy
Labels: from:member, in:dependency-management

#11360 Enable VFS retention between builds
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultRootBuildState.java
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultRootBuildStateTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/BuildScopeFileTimeStampInspector.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/GlobalScopeFileTimeStampInspector.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/initialization/RootBuildLifecycleListener.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/snapshots/snapshots.gradle.kts
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/RoutingVirtualFileSystem.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/RoutingVirtualFileSystemTest.groovy
Labels: @build-cache, from:member

#11359 Add Android smoke test for incremental Java compilation
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @build-cache, from:member

#11379 Document deprecation of uploadArchives and maven
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
Labels: from:member, in:dependency-management, in:docs

#11383 Fix instructions for skipping sha256 and sha512
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_setup.adoc
Labels: from:member, in:dependency-management, in:docs

#11135 Fix typo
  subprojects/docs/src/docs/userguide/running-builds/build_cache.adoc
Labels: @core, from:contributor

#11385 Add note about new Kotlin DSL script templates to the upgrade guide
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/provider/ScriptApiTest.kt
Labels: a:feature, from:member, in:kotlin-dsl

#11355 Add Android Application sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/next-gen/android-application/README.adoc
  subprojects/docs/src/samples/next-gen/android-application/buildTask.out
  subprojects/docs/src/samples/next-gen/android-application/buildTask.sample.confz
  subprojects/docs/src/samples/next-gen/android-application/groovy/app/build.gradle
  subprojects/docs/src/samples/next-gen/android-application/groovy/build.gradle
  subprojects/docs/src/samples/next-gen/android-application/groovy/settings.gradle
  subprojects/docs/src/samples/next-gen/android-application/kotlin/app/build.gradle.kts
  subprojects/docs/src/samples/next-gen/android-application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/next-gen/android-application/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/.gitignore
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/proguard-rules.pro
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/androidTest/java/org/gradle/samples/ExampleInstrumentedTest.java
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/AndroidManifest.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/java/org/gradle/samples/MainActivity.java
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/drawable/ic_launcher_background.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/layout/activity_main.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-hdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-mdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/values/colors.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/values/strings.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/main/res/values/styles.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/app/src/test/java/org/gradle/samples/ExampleUnitTest.java
  subprojects/docs/src/samples/next-gen/templates/java-android-application/gradle.properties
  subprojects/docs/src/samples/next-gen/templates/java-android-application/proguard-rules.pro
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/androidTest/java/org/gradle/samples/ExampleInstrumentedTest.java
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/AndroidManifest.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/java/org/gradle/samples/MainActivity.java
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/drawable-v24/ic_launcher_foreground.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/drawable/ic_launcher_background.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/layout/activity_main.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-hdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-hdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-mdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-mdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xxhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/values/colors.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/values/strings.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/main/res/values/styles.xml
  subprojects/docs/src/samples/next-gen/templates/java-android-application/src/test/java/org/gradle/samples/ExampleUnitTest.java
Labels: @core, a:sample, from:member, in:docs

#11342 Move Java samples first
  subprojects/docs/docs.gradle
Labels: @core, a:chore, from:member, in:docs

#11151 Report invalid JaCoCo configuration
  subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginIntegrationTest.groovy
  subprojects/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPluginExtension.java
Labels: a:chore, from:member, in:jacoco-plugin

#11396 Document GMM validation rules
  subprojects/docs/src/docs/design/gradle-module-metadata-latest-specification.md
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_gradle_module_metadata.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
Labels: from:member, in:dependency-management, in:docs

#11374 Fix typo in command_line_interface.adoc
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
Labels: from:contributor

#11409 Enable partial vfs invalidation for the `gradle/gradle` build
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: @build-cache, from:member

#11405 Get cache key length from hashing function used
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheCleanupIntegrationTest.groovy
  subprojects/hashing/src/main/java/org/gradle/internal/hash/HashFunction.java
  subprojects/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/TestBuildCache.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
Labels: @build-cache, from:member

#11410 Resolve injected changes to the root project's directory
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11422 Add incubating messages for VFS retention and partial invalidation
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemPartialInvalidationIntegrationTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11416 Add samples dir as samples:integTest input
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/IntegrationTest.kt
Labels: @dev-productivity, a:chore, from:member

#11411 Add `ANDROID_HOME` for Windows
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSantaTrackerIntegrationTest.groovy
Labels: @build-cache, from:member

#11424 Print incubation message for partial invalidation
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemPartialInvalidationIntegrationTest.groovy
Labels: @build-cache, from:member

#11429 Fix broken DistributionIntegritySpec
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
Labels: a:bug, from:member, in:gradle-build

#11431 Re-enable the instant execution test suite
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/BuildCacheLocalCacheIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/TaskFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/rules/OverlappingOutputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/state/TaskCustomTypesInputPropertyIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractPathSensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/BuildResultLoggerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ConcurrentBuildsIncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalTaskInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalTaskWithNormalizedInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/InputPropertyAnnotationOverrideIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/StaleOutputIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocFileEncodingIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleBuildResultFunctionalTest.groovy
Labels: @instant-execution, a:chore, from:member

#11386 Upgrade Kotlin to 1.3.60
  gradle/dependencies.gradle
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: a:chore, from:member, in:gradle-build, in:kotlin-dsl

#11214 Remove redundant entry in the list of Task dependency notations
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
Labels: @core, from:contributor

#11249 Enable partial VFS invalidation for android perf experiment
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
Labels: @build-cache, from:member

#11454 Fix instant execution to support gradle-profiler --measure-build-op
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BuildOperationListenersCodec.kt
Labels: a:bug, from:member, in:instant-execution

#11451 Make PMD task resilient to exception from native platform
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/PmdInvoker.groovy
Labels: @core, a:bug, from:member, in:pmd-plugin

#11460 Annotate command-line arg provider names with Internal
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTest.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
Labels: @build-cache, from:member

#11378 Create class for absolutePath + offset
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractCompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractIncompleteSnapshotWithChildren.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemNode.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/PathUtil.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshotUtil.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/VfsRelativePath.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultFileHierarchySet.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/SnapshotHierarchy.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractCaseVfsRelativePathTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractCompleteSnapshotWithoutChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractIncompleteSnapshotWithChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractSnapshotWithChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CaseInsensitiveVfsRelativePathTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CaseSensitiveVfsRelativePathTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CompleteDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/PartialDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/SnapshotUtilTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/UnknownSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/VfsRelativePathTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/VirtualFileSystemTestSpec.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
Labels: @build-cache, from:member

#11465 Implement 'belongsTo' for published platforms through real platform dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataProcessor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/WrappingComponentMetadataContext.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/PlatformSupport.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/clientmodule/ClientModuleResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleComponentResolveMetadataSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractMutableModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/MutableModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/ComponentResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandlerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataProcessorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapterTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/ModuleVersionSpec.groovy
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/component_metadata_rules.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_version_alignment.adoc
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/dependencyAlignment/align-dependency-versions.sample.conf
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/dependencyAlignment/dependenciesWithBOM.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/dependencyAlignment/dependenciesWithEnforcedVirtualPlatform.out
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/dependencyAlignment/groovy/build.gradle
  subprojects/docs/src/samples/userguide/dependencyManagement/managingTransitiveDependencies/dependencyAlignment/kotlin/build.gradle.kts
Labels: from:member, in:dependency-management

#11441 Add internal system property to disable task realization and serialization in GradleProjectBuilder
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleProjectBuilder.java
Labels: from:member

#11476 Fail fast when MSBuild installation can't be found
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/fixtures/MSBuildVersionLocator.java
Labels: @dev-productivity, a:chore, from:member

#11485 Fix cycle in 'buildNeeded' and 'buildDependents' tasks
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/TasksFromDependentProjects.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/TasksFromProjectDependencies.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/TasksFromDependentProjectsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/TasksFromProjectDependenciesTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: from:member, in:dependency-management

#11487 Fix DefaultCachedClasspathTransformer not being an immutable cache
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClasspathTransformerCache.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultClasspathTransformerCache.java
  subprojects/core/src/main/java/org/gradle/internal/file/JarCache.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/file/JarCacheTest.groovy
Labels: @build-cache, from:member

#11482 Remove incorrect ifProperty() method
  buildSrc/subprojects/configuration/src/main/kotlin/build-extensions.kt
Labels: @dev-productivity, a:chore, from:member

#11495 Disable concurrency tests on mac agents
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsConcurrencyIntegrationTest.groovy
Labels: @dev-productivity, a:chore, from:member

#11484 Upgrade Kotlin to 1.3.61
  gradle/dependencies.gradle
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: a:chore, from:member, in:gradle-build, in:kotlin-dsl

#11498 Move cache creation for DefaultCachedClasspathTransformer into factory
  subprojects/base-services/src/main/java/org/gradle/internal/reflect/JavaMethod.java
  subprojects/base-services/src/main/java/org/gradle/internal/service/ReflectionBasedServiceMethod.java
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClasspathTransformerCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultClasspathTransformerCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: @build-cache, from:member

#11489 Let instant execution support serializable beans with only a `writeObject` method
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BrokenValueCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/SerializableWriteObjectCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/UserTypesCodecTest.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#11514 Ignore changing modules for dependency verification
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationWritingIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DependencyVerifyingModuleComponentRepository.java
Labels: a:bug, in:dependency-management

#11515 Prove both Kotlin DSL IDE model builders return the same content
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslScriptsModelCrossVersionSpec.groovy
Labels: a:chore, from:member, in:kotlin-dsl

#11521 Update Santa Tracker remote for AGP 3.6.0-beta04 and Kotlin 1.3.61
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/performance/templates.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
Labels: a:chore, from:member
