Repository gradle/gradle, pull requests merged in 2019-03, with the labels that each got.

#8643 Kotlin DSL release notes for 5.3
  subprojects/docs/src/docs/release/notes.md
Labels: from:member

#8645 Draft release notes preamble for Gradle 5.3
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: in:docs

#8663 Cleanup for #8650
  subprojects/base-services/src/main/java/org/gradle/internal/reflect/JavaReflectionUtil.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/reflect/JavaReflectionUtilTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/reflect/JavaReflectionUtilTestMethods.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/AbstractClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/JavaPropertyReflectionUtil.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/JavaPropertyReflectionUtilTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/JavaPropertyReflectionUtilTestMethods.java
Labels: from:member

#8676 Implement classifier to variant mapping
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/ClassifierToVariantResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractVariantBackedConfigurationMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ConfigurationBoundExternalDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/GradleDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/AttributeConfigurationSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/model/AttributeConfigurationSelectorTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/ModuleVersionSpec.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/fixtures/publish/VariantSpec.groovy
Labels: from:member, in:dependency-management

#8690 Don't show errors about Java 8 API usage in IntelliJ
  .idea/inspectionProfiles/Gradle.xml
Labels: from:member

#8693 Documentat that upToDateWhen { false } disables caching
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskOutputs.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
Labels: from:member

#8656 add some info about maven build scans to the conversion steps
  subprojects/docs/src/docs/userguide/migrating_from_maven.adoc
Labels: from:member, in:docs

#8701 Remove `CorruptedTaskHistoryIntegrationTest`
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/CorruptedTaskHistoryIntegrationTest.groovy
Labels: a:chore, from:member, in:testing

#8689 Polish release notes
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/release/release-features.txt
Labels: a:chore, from:member

#8704 Retry test on old Gradle version when Dispatcher is not ready
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RetryConditions.groovy
Labels: from:member

#8702 Fix Java usage disambiguation rules
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
Labels: a:bug, from:member, in:dependency-management

#8686 Extract incremental execution
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationTypeIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/AbstractTaskExecution.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecuterResult.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionOutcome.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationResult.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveIncrementalChangesTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/WorkExecutorTestFixture.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/CachingContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/Context.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/CurrentSnapshotResult.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/ExecutionOutcome.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/IncrementalChangesContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/IncrementalContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/SnapshotResult.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/Step.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/UpToDateResult.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/WorkExecutor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ExecutionStateChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/NoHistoryTaskUpToDateState.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/OutputFileChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkExecutor.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/steps/StoreSnapshotsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CacheStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CancelExecutionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CatchExceptionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CreateOutputsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ExecuteStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/PrepareCachingStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveChangesStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/SkipUpToDateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/SnapshotOutputStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/StoreSnapshotsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/TimeoutStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/package-info.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CacheStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ExecutionTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/IncrementalExecutionTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipUpToDateStepTest.groovy
Labels: @build-cache, from:member

#8709 Refactor promotion project
  .teamcity/Gradle_AgentTest/settings.kts
  .teamcity/Gradle_Check/configurations/BaseGradleBuildType.kt
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/Gradleception.kt
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Check/configurations/PerformanceTest.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Promotion/Project.kt
  .teamcity/Gradle_Promotion/buildTypes/BasePromotionBuildType.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_AllBranchesStartReleaseCycleTest.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_FinalRelease.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_MasterNightlySnapshotManual.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_MilestoneMaster.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_PublishBranchSnapshotFromQuickFeedback.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_ReleaseSnapshotFromQuickFeedback.kt
  .teamcity/Gradle_Promotion/buildTypes/Gradle_Promotion_StartReleaseCycle.kt
  .teamcity/Gradle_Promotion/buildTypes/MasterSanityCheck.kt
  .teamcity/Gradle_Promotion/buildTypes/PublishBranchSnapshotFromQuickFeedback.kt
  .teamcity/Gradle_Promotion/buildTypes/PublishGradleDistribution.kt
  .teamcity/Gradle_Promotion/buildTypes/PublishNightlySnapshot.kt
  .teamcity/Gradle_Promotion/buildTypes/PublishNightlySnapshotFromQuickFeedback.kt
  .teamcity/Gradle_Promotion/buildTypes/PublishRelease.kt
  .teamcity/Gradle_Promotion/buildTypes/StartReleaseCycle.kt
  .teamcity/Gradle_Promotion/buildTypes/StartReleaseCycleTest.kt
  .teamcity/Gradle_Promotion/buildTypes/bt39.kt
  .teamcity/Gradle_Promotion/buildTypes/bt60.kt
  .teamcity/Gradle_Promotion/buildTypes/bt61.kt
  .teamcity/Gradle_Promotion/pluginData/plugin-settings.xml
  .teamcity/Gradle_Promotion/vcsRoots/Gradle_Promotion_GradlePromotionBranches.kt
  .teamcity/Gradle_Promotion/vcsRoots/Gradle_Promotion__master_.kt
  .teamcity/common/BuildCache.kt
  .teamcity/common/JvmVendor.kt
  .teamcity/common/JvmVersion.kt
  .teamcity/common/Os.kt
  .teamcity/common/extensions.kt
  .teamcityTest/Gradle_Check_Tests/ApplyDefaultConfigurationTest.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
Labels: @dev-productivity, from:member

#8719 Fix handling of aborted containers with completed children
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestExecutionListener.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitCoverage.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitAbortedTestClassIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitAbortedTestClassIntegrationTest/supportsAssumptionsInRules/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitAbortedTestClassIntegrationTest/supportsAssumptionsInRules/src/test/java/org/gradle/SkippingRuleTests.java
Labels: a:bug, from:member, in:testing

#8724 Update javadoc to remove deprecated configurations
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/Script.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ConfigurationContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolutionStrategy.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/query/ArtifactResolutionQuery.java
Labels: from:member, in:dependency-management

#8729 Move only execution integration test to integTest source set
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/TestOutputFilesRepository.java
Labels: @build-cache, from:member

#8730 Simplify preparing caching
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/CachingContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CacheStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/PrepareCachingStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CacheStepTest.groovy
Labels: @build-cache, from:member

#8229 Issue #7398: Fix groovy + java-library plugin compatibility
  subprojects/docs/src/docs/userguide/java_library_plugin.adoc
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/GroovyJavaLibraryInteractionIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JavaPluginsHelper.java
Labels: from:contributor, in:dependency-management, waiting-for:contributor

#8713 Improve performance for scheduled transforms
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ConsumerProvidedResolvedVariant.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransforms.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationNodeRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/PrecomputedTransformationResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformCompletion.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNodeDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNodeRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationOperation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingArtifactVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListener.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/AttributeMatchingVariantSelectorSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactTransformsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListenerTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
Labels: from:member

#8734 Make patchKotlinCompilerEmbeddable depend on classpathManifest
  subprojects/kotlin-compiler-embeddable/kotlin-compiler-embeddable.gradle.kts
Labels: a:bug, from:member

#8738 Move `kotlinDsl` generated sources to `$buildDir/generated-sources`
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
Labels: a:chore, from:member, in:kotlin-dsl

#8735 Fix minor issues with JDK12 support
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/enforcerplugin/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/flatmultimodule/webinar-parent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModule/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleWithNestedParent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleWithRemoteParent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/remoteparent/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/singleModule/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/testsJar/pom.xml
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginAuxclasspathIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/JansiEndUserIntegrationTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageCustomLibraryDependencyResolutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageDependencyResolutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaSourceSetIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/SingleBinaryTypeWithVariantsTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/model/internal/type/ModelTypesTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/tasks/api/internal/ApiClassExtractorTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/tasks/api/internal/ApiClassExtractorTestSupport.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/IncrementalJavaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaCrossCompilationIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/jvm/test/JUnitComponentUnderTestIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r25/TestProgressCrossVersionSpec.groovy
Labels: @core, from:member

#8745 Refine :kCE:patchKotlinCompilerEmbeddable task
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/build/PatchKotlinCompilerEmbeddable.kt
  subprojects/kotlin-compiler-embeddable/kotlin-compiler-embeddable.gradle.kts
Labels: from:member, in:gradle-build

#8756 Let Kotlin DSL resolver return given Java home
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/resolver/KotlinScriptDependenciesResolverTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
Labels: a:bug, from:member, in:kotlin-dsl

#8757 Don't star import Kotlin DSL subpackages
  .idea/codeStyles/Project.xml
Labels: from:member

#8767 Document potential breaking change for Ivy publication
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: from:member, in:dependency-management

#8763 Introduce SigningExtension.useInMemoryPgpKeys()
  subprojects/docs/src/docs/userguide/signing_plugin.adoc
  subprojects/docs/src/samples/signing/in-memory/groovy/build.gradle
  subprojects/docs/src/samples/signing/in-memory/groovy/settings.gradle
  subprojects/docs/src/samples/signing/in-memory/groovy/src/stuff/hello.txt
  subprojects/docs/src/samples/signing/in-memory/kotlin/build.gradle.kts
  subprojects/docs/src/samples/signing/in-memory/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/signing/in-memory/kotlin/src/stuff/hello.txt
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/InMemoryPgpSignatoryProviderIntegrationSpec.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningSamplesSpec.groovy
  subprojects/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/signatory/internal/pgp/InMemoryPgpSignatoryProvider.java
Labels: a:feature, from:member, in:signing-plugin

#8777 Inspect only `*.properties` entries under `META-INF/gradle-plugins/`
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
Labels: a:bug, from:member, in:kotlin-dsl

#8769 Disable reset of temp file for JDK12
  subprojects/base-services/src/test/groovy/org/gradle/util/SetSystemPropertiesTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  subprojects/internal-testing/src/main/groovy/org/gradle/util/SetSystemProperties.java
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/internal-testing/src/test/groovy/org/gradle/util/SetSystemPropertiesTest.groovy
Labels: @core, from:member, in:core

#8780 Fix Kotlin DSL sample in Organizing Gradle Projects
  subprojects/docs/src/samples/userguide/organizingGradleProjects/separatedTestTypes/kotlin/gradle/integration-test.gradle.kts
Labels: from:member, in:docs

#8775 Optimize `ModuleVersionResolveException`
  subprojects/base-services/src/main/java/org/gradle/internal/exceptions/DefaultMultiCauseException.java
  subprojects/base-services/src/main/java/org/gradle/internal/exceptions/DefaultMultiCauseExceptionNoStackTrace.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildDependencySubstitutions.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildTaskGraph.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataProcessor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ErrorHandlingModuleComponentRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/NoRepositoriesResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/StartParameterResolutionOverride.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resolve/ModuleVersionNotFoundException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resolve/ModuleVersionResolveException.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolverProviderComponentMetaDataResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CachingDependencyResultFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/result/DefaultResolutionResultTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/result/DefaultBuildableComponentIdResolveResultTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/result/DefaultBuildableComponentResolveResultTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/result/DefaultBuildableModuleComponentMetaDataResolveResultTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/result/DefaultBuildableModuleVersionListingResolveResultTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/result/ResolutionResultDataBuilder.groovy
  subprojects/platform-base/src/main/java/org/gradle/api/internal/resolve/LocalLibraryDependencyResolver.java
  subprojects/version-control/src/main/java/org/gradle/vcs/internal/resolver/OfflineVcsVersionWorkingDirResolver.java
  subprojects/version-control/src/main/java/org/gradle/vcs/internal/resolver/VcsDependencyResolver.java
Labels: from:member, in:dependency-management

#8760 Remove the API parameter names JARs
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/build/AddGradleApiParameterNames.kt
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTemplatesTest.kt
  subprojects/kotlin-dsl-provider-plugins/kotlin-dsl-provider-plugins.gradle.kts
  subprojects/kotlin-dsl-test-fixtures/src/test/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluatorTest.kt
  subprojects/kotlin-dsl-tooling-builders/kotlin-dsl-tooling-builders.gradle.kts
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ArtifactHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ScriptHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledProjectScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinPluginsBlock.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ArtifactHandlerDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ClientModuleDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyConstraintHandlerDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyHandlerDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/GradleDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/NamedDomainObjectContainerDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ScriptHandlerDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/TaskContainerDelegate.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensionsTest.kt
Labels: a:feature, from:member, in:gradle-build, in:kotlin-dsl

#8768 Make incremental compiler handle transitive changes
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/CrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/CrossTaskIncrementalJavaCompilationUsingClassDirectoryIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/analyzer/ClassAnalysisSerializer.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/asm/ClassDependenciesVisitor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/ClasspathEntrySnapshot.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/ClasspathSnapshot.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassAnalysis.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassChanges.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassDependentsAccumulator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisData.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/ClasspathChangeDependentsFinder.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/classpath/ClasspathEntrySnapshotTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/deps/ClassDependentsAccumulatorTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisDataSerializerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisTest.groovy
Labels: a:bug, from:member, in:jvm-platform

#8783 Force non-incremental execution after failed load from build cache
  subprojects/base-services/src/main/java/org/gradle/internal/Try.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/command/BuildCacheCommandFactory.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/command/BuildCacheLoadListener.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/UnrecoverableUnpackingException.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/command/BuildCacheCommandFactoryTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/api/internal/tasks/OriginTaskExecutionMetadata.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/CacheableEntity.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/BuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NoOpBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/RootBuildCacheControllerRef.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskArchiveErrorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/SkipCachedTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/WorkExecutorTestFixture.java
  subprojects/execution/execution.gradle.kts
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/CacheHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/ExecutionStateChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/RebuildExecutionStateChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/BroadcastChangingOutputsStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CacheStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveChangesStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/BroadcastChangingOutputsStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CacheStepTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/FileCollectionFingerprint.java
Labels: @build-cache, from:member

#8778 Deprecate the use of custom local build caches
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/configuration/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/internal/BuildCacheBuildOperationsIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/internal/FinalizeBuildCacheConfigurationBuildOperationIntegrationTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/internal/DefaultBuildCacheConfiguration.java
  subprojects/build-cache/src/main/java/org/gradle/caching/configuration/internal/package-info.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/package-info.java
  subprojects/core-api/src/main/java/org/gradle/caching/configuration/BuildCacheConfiguration.java
  subprojects/core-api/src/main/java/org/gradle/caching/local/DirectoryBuildCache.java
  subprojects/core-api/src/main/java/org/gradle/caching/local/package-info.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/upgrading_version_5.adoc
Labels: @build-cache, from:member

#8762 Let coverage for Kotlin DSL TAPI models do TAPI/Gradle cross-version testing
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginModelIntegrationTest.kt
  subprojects/kotlin-dsl-test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
  subprojects/kotlin-dsl-test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/PatternMatcher.kt
  subprojects/kotlin-dsl-tooling-builders/kotlin-dsl-tooling-builders.gradle.kts
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/AbstractKotlinScriptModelCrossVersionTest.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/KotlinDslToolingModelsClasspathProvider.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r41/KotlinBuildScriptTemplateModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/AccessorsClassPathModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/KotlinBuildScriptModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/KotlinInitScriptModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/KotlinSettingsScriptModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/PrecompiledScriptPluginModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPathIntegrationTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinInitScriptModelIntegrationTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptModelIntegrationTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ScriptModelIntegrationTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRequest.kt
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiAdditionalClasspath.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiAdditionalClasspathProvider.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiCompatibilitySuiteRunner.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiExecution.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
Labels: from:member, in:kotlin-dsl

#8799 Unlink the software model chapters from multi page userguide
  subprojects/docs/src/docs/userguide/native_software.adoc
  subprojects/docs/src/docs/userguide/rule_source.adoc
  subprojects/docs/src/docs/userguide/software_model.adoc
  subprojects/docs/src/docs/userguide/software_model_concepts.adoc
  subprojects/docs/src/docs/userguide/software_model_extend.adoc
  subprojects/docs/src/main/resources/header.html
Labels: @core, a:chore, from:member, in:docs

#8805 Enable caching for Minify transform
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/Minify.kt
Labels: from:member

#8715 Improve performance of scheduler in the presence of many nodes
  subprojects/core/src/main/java/org/gradle/execution/plan/ActionNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/Node.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNodeFactory.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformationNodeSpec.groovy
Labels: from:member

#8800 Update tagging plugin
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcityTest/Gradle_Check_Tests/ApplyDefaultConfigurationTest.kt
  build.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#8808 Improve util performance test TC config
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/Gradleception.kt
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Check/configurations/PerformanceTest.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestLinux.kt
  .teamcity/Gradle_Util/buildTypes/Gradle_Util_AdHocFunctionalTestWindows.kt
  .teamcity/Gradle_Util_Performance/Project.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceScenarioLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinatorLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/Gradle_Util_Performance_AdHocPerformanceScenarioLinux.kt
  .teamcity/Gradle_Util_Performance/buildTypes/Gradle_Util_Performance_PerformanceTestCoordinatorLinux.kt
  .teamcity/common/extensions.kt
  .teamcity/common/performance-test-extensions.kt
Labels: @dev-productivity, from:member

#8814 Unlink software model from DSL reference navigation bar
  subprojects/docs/src/docs/dsl/dsl.xml
Labels: @core, a:chore, from:member, in:docs

#8815 Use InputChanges in native tasks
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/DefaultTaskClassInfoStore.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationType.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTasks.java
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppIncrementalBuildStaleOutputsIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/tasks/AbstractNativeCompileTask.java
  subprojects/language-native/src/main/java/org/gradle/language/rc/tasks/WindowsResourceCompile.java
  subprojects/language-native/src/main/java/org/gradle/language/swift/tasks/SwiftCompile.java
Labels: from:member

#8758 Take advantage of type-safe accessors in precompiled script plugins
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/api-parameter-names-index.gradle.kts
  buildSrc/subprojects/profiling/src/main/kotlin/gradlebuild/jmh.gradle.kts
  buildSrc/subprojects/uber-plugins/uber-plugins.gradle.kts
Labels: a:feature, from:member, in:gradle-build

#8828 Skip buildSrc checks by default on `gradle/gradle`
  CONTRIBUTING.md
  buildSrc/build.gradle.kts
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
Labels: from:member, in:gradle-build

#8827 Take advantage of type-safe accessors in precompiled script plugins (take 2)
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/api-parameter-names-index.gradle.kts
  buildSrc/subprojects/profiling/src/main/kotlin/gradlebuild/jmh.gradle.kts
  buildSrc/subprojects/uber-plugins/uber-plugins.gradle.kts
Labels: a:chore, from:member, in:gradle-build

#8839 Convert UnexportMainSymbol to an incremental task
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/tasks/UnexportMainSymbolIntegrationTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/swift/tasks/UnexportMainSymbol.java
Labels: from:member

#8844 Fix test failures appearing starting with Swift 4.2
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftIncrementalBuildIntegrationTest.groovy
Labels: @core, a:chore, from:member, in:native-platform

#8842 Remove ExecutionException
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/ArtifactTransformException.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformException.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingArtifactVisitor.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CatchExceptionStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CatchExceptionStepTest.groovy
Labels: @build-cache, from:member

#8824 Allow receiving Provider<FileSystemLocation> for InputArtifact
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/InputArtifact.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/SkipWhenEmpty.java
  subprojects/core-api/src/main/java/org/gradle/work/Incremental.java
  subprojects/core-api/src/main/java/org/gradle/work/InputChanges.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractIncrementalTasksIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIncrementalIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvoker.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/LegacyTransformer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformer.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvokerTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/IncrementalInputChanges.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/NonIncrementalInputChanges.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/NonIncrementalInputChangesTest.groovy
Labels: from:member

#8823 Run tasks upon Eclipse synchronization
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/EclipsePlugin.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseModel.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/RunEclipseSynchronizationTasksBuilder.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/ToolingModelServices.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/EclipseModelTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/IntermediateResultHandlerCollector.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/LoadEclipseModel.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/RunEclipseSynchronizationTasksCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/TellGradleToRunSyncTasks.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/RunEclipseSynchronizationTasks.java
Labels: a:feature, from:member, in:tooling-api

#8847 Let `TaskPropertyValidationPlugin` configure existing task
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/TaskPropertyValidationPlugin.kt
Labels: a:feature, from:member, in:gradle-build

#8797 Support resource creation in incremental annotation processors
  subprojects/docs/src/docs/userguide/java_plugin.adoc
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/CompilationOutputsFixture.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AbstractIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AggregatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/IsolatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilationInitializer.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalResultStoringCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/ClasspathEntrySnapshot.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassDependentsAccumulator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysis.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisData.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/DependentsSet.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/AnnotationProcessingData.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/AnnotationProcessingResult.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/AnnotationProcessorResult.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/GeneratedResource.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/GeneratedResourceSerializer.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/ClasspathChangeDependentsFinder.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/ClasspathEntryChangeProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaChangeProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AggregatingProcessingStrategy.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/DynamicProcessingStrategy.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IncrementalFiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IncrementalProcessingStrategy.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/IsolatingProcessingStrategy.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/NonIncrementalProcessingStrategy.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisDataSerializerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/AggregatingFilerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/IncrementalFilerTest.groovy
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/IsolatingFilerTest.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/AnnotationProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/HelperProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/NonIncrementalProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/ResourceGeneratingProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/ServiceRegistryProcessorFixture.groovy
Labels: a:feature, from:contributor, in:jvm-platform

#8802 Add gradlePluginPortal(Action<>) to RepositoryHandler
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/RepositoryHandler.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/GradlePluginPortalDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultRepositoryHandler.java
Labels: from:contributor, in:dependency-management

#8851 Provide normalized path in FileChange
  subprojects/core-api/src/main/java/org/gradle/api/tasks/Classpath.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/PathSensitivity.java
  subprojects/core-api/src/main/java/org/gradle/work/FileChange.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalInputsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathCompareStrategy.java
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintCompareStrategyTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/NonIncrementalInputChanges.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpecProvider.java
  subprojects/snapshots/src/main/java/org/gradle/internal/change/DefaultFileChange.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFingerprintCompareStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbstractFingerprintCompareStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathCompareStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/NormalizedPathFingerprintCompareStrategy.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/change/DefaultFileChangeTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprintTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/impl/FingerprintCompareStrategyTest.groovy
Labels: from:member

#8861 Hide `NamedDomainObjectContainerDelegate<T>.delegate` property
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/NamedDomainObjectContainerDelegate.kt
Labels: a:bug, from:member, in:kotlin-dsl

#8863 Fix Javadoc links to Java API
  subprojects/docs/docs.gradle
Labels: @core, a:bug, from:member, in:docs

#8860 Isolate plugin spec builders using classpath hash
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ClassPathSensitiveTask.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ConfigurePrecompiledScriptDependenciesResolver.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateExternalPluginSpecBuilders.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/SharedAccessorsPackageAware.kt
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PrecompiledScriptPluginsSupport.kt
Labels: a:bug, from:member, in:kotlin-dsl

#8682 Polish type-safe accessors for precompiled script plugins
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/PrecompiledScriptPlugin.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/AbstractTaskExtensions.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ClassPathSensitiveCodeGenerationTask.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ConfigurePrecompiledScriptDependenciesResolver.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ExtractPrecompiledScriptPluginPlugins.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateExternalPluginSpecBuilders.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateScriptPluginAdapters.kt
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r54/PrecompiledScriptPluginModelCrossVersionSpec.groovy
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
Labels: a:performance-issue, from:member, in:kotlin-dsl

#8712 Add link from `SourceSet` API doc to user manual
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSet.java
Labels: from:member

#8856 Use SLF4J Logger in more places
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/command/BuildCacheCommandFactory.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/service/BaseBuildCacheServiceHandle.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/AbiExtractingClasspathResourceHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/classloading/ClassInfoCleaningGroovySystemLoader.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/DefaultClassLoaderCache.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/ClassPathToClassLoaderCache.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/FinalizerThread.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/CleanupStaleOutputsExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveBuildCacheKeyExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipEmptySourceFilesTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipOnlyIfTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/SkipTaskWithNoActionsExecuter.java
  subprojects/core/src/main/java/org/gradle/cache/internal/VersionSpecificCacheCleanupAction.java
  subprojects/core/src/main/java/org/gradle/cache/internal/WrapperDistributionCleanupAction.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultPlanExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/filewatch/SingleFirePendingChangesListener.java
  subprojects/core/src/main/java/org/gradle/internal/filewatch/jdk7/WatchPointsRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/filewatch/jdk7/WatchServiceRegistrar.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilder.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/IncrementalCompilerDecorator.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/SelectiveCompiler.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/ClasspathSnapshotMaker.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/DefaultClasspathEntrySnapshotter.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/CompilationSourceDirs.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/PreviousCompilationOutputAnalyzer.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/internal/JavadocGenerator.java
  subprojects/language-java/src/main/java/org/gradle/language/java/internal/JavaLanguagePluginServiceRegistry.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/IncrementalNativeCompiler.java
Labels: @build-cache, from:member

#8882 Clarify text on handling optional dependencies
  subprojects/docs/src/docs/userguide/migrating_from_maven.adoc
Labels: from:member, in:docs

#8850 Run tasks upon Eclipse auto-build
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseModel.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/RunEclipseTasksBuilder.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/ToolingModelServices.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/RunEclipseAutoBuildTasksCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r54/TellGradleToRunAutoBuildTasks.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/RunEclipseAutoBuildTasks.java
Labels: a:feature, from:member, in:tooling-api

#8880 Change path sensitivity for Java compile to relative
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaNonABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaUpToDatePerformanceTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/IncrementalJavaCompileIntegrationTest.groovy
Labels: from:member

#8890 Mention package/directory mismatch problems for incremental compile
  subprojects/docs/src/docs/userguide/java_plugin.adoc
Labels: from:member

#8892 Remove old About Gradle from PDF user manual
  subprojects/docs/src/docs/userguide/overview.adoc
  subprojects/docs/src/docs/userguide/userguide_single.adoc
Labels: from:member, in:docs

#8877 Warn on unexpected `kotlin-dsl` plugins version
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/codegen/CodeGenerationTask.kt
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/codegen/GenerateKotlinDslPluginsExtensions.kt
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  subprojects/kotlin-dsl-test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractPluginTest.kt
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
Labels: a:feature, from:member, in:kotlin-dsl

#8891 Fix Javadoc anchors with new JDK 9 search bar
  subprojects/docs/src/docs/css/javadoc.css
Labels: @core, a:bug, from:member, in:docs

#8894 Move ReplacedBy to org.gradle.api.model
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/docs/dsl/source/model/AbstractLanguageElement.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ReplacedBy.java
  subprojects/core/src/main/java/org/gradle/api/tasks/bundling/AbstractArchiveTask.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultTypeMetadataStoreTest.groovy
  subprojects/docs/src/docs/userguide/more_about_tasks.adoc
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidateTaskPropertiesIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidateTaskProperties.java
Labels: from:member

#8896 Non-cacheable should be provided as caching disabled reason
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
Labels: from:member
