Repository gradle/gradle, pull requests merged in 2020-01, with the labels that each got.

#11786 Do not break 'io.freefair.aspectj' plugin
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: from:member, in:dependency-management, in:jvm-platform

#11787 Dependency verification documentation: Adjust sample commands and XML
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
Labels: from:contributor

#11762 Treat single version ranges as "required"
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyDynamicRevisionResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenVersionRangeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionSelectorScheme.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionSelectorSchemeTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/MavenVersionSelectorSchemeTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishVersionRangeIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/integtests/publish/maven/MavenVersionRangePublishIntegrationTest.groovy
Labels: a:bug, from:member, in:dependency-management

#7661 Fix/optional keystore file
  subprojects/docs/src/docs/release/notes.md
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/DefaultSslContextFactory.java
  subprojects/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/DefaultSslContextFactoryTest.groovy
Labels: @core, from:contributor, waiting-for:gradle-team

#11806 Add test for #11805
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
Labels: @build-cache, from:member

#11803 Make dependency verification XSD more explicit
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriter.java
  subprojects/dependency-management/src/main/resources/org/gradle/schema/dependency-verification-1.0.xsd
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlReaderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriterTest.groovy
Labels: from:member, in:dependency-management

#11810 Correct reference to a method in javadoc
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/annotations/TypeAnnotationMetadataStore.java
Labels: @core, from:member, in:core

#11704 Add a test for #11703
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
Labels: @build-cache, from:member

#11697 Add test for empty jar handling
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinterTest.groovy
Labels: @build-cache, from:member

#11811 Break erroneous cycle if a component depending on itself is evicted
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: from:member, in:dependency-management

#11820 Rename `:pineapple` to `:base-annotations`
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  config/checkstyle/suppressions.xml
  settings.gradle.kts
  subprojects/architecture-test/architecture-test.gradle.kts
  subprojects/base-annotations/base-annotations.gradle.kts
  subprojects/base-annotations/src/main/java/org/gradle/api/NonNullApi.java
  subprojects/base-services/base-services.gradle.kts
  subprojects/build-cache-packaging/build-cache-packaging.gradle.kts
  subprojects/build-option/build-option.gradle.kts
  subprojects/dependency-management/dependency-management.gradle.kts
  subprojects/execution/execution.gradle.kts
  subprojects/file-collections/file-collections.gradle.kts
  subprojects/files/files.gradle.kts
  subprojects/files/src/main/java/org/gradle/internal/file/impl/package-info.java
  subprojects/files/src/main/java/org/gradle/internal/file/package-info.java
  subprojects/files/src/main/java/org/gradle/internal/file/pattern/package-info.java
  subprojects/hashing/hashing.gradle.kts
  subprojects/hashing/src/main/java/org/gradle/internal/hash/package-info.java
  subprojects/kotlin-dsl-tooling-models/kotlin-dsl-tooling-models.gradle.kts
  subprojects/language-groovy/language-groovy.gradle.kts
  subprojects/language-jvm/language-jvm.gradle.kts
  subprojects/pineapple/src/main/java/org/gradle/internal/NonNullInternalApi.java
  subprojects/snapshots/snapshots.gradle.kts
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/overlap/impl/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/overlap/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/isolation/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/package-info.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/package-info.java
  subprojects/test-kit/test-kit.gradle.kts
  subprojects/testing-jvm/testing-jvm.gradle.kts
Labels: @build-cache, from:member

#11804 Break up SslContextFactory.load into smaller methods
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/DefaultSslContextFactory.java
Labels: @core, a:chore, from:member, in:core

#11772 Populate IDEA model with gradle-api source subdirectories
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/idea/IdeaSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesOptimizer.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProvider.java
Labels: @core, from:member, in:core

#11708 Upgrade to japicmp-gradle-plugin 0.2.9
  buildSrc/subprojects/binary-compatibility/binary-compatibility.gradle.kts
  buildSrc/subprojects/binary-compatibility/src/main/groovy/org/gradle/binarycompatibility/rules/AbstractSuperClassChangesRule.groovy
  buildSrc/subprojects/binary-compatibility/src/main/kotlin/org/gradle/binarycompatibility/BinaryCompatibilityRepository.kt
  buildSrc/subprojects/binary-compatibility/src/main/kotlin/org/gradle/binarycompatibility/extensions.kt
  buildSrc/subprojects/binary-compatibility/src/test/groovy/org/gradle/binarycompatibility/rules/IncubatingInternalInterfaceAddedRuleTest.groovy
  buildSrc/subprojects/binary-compatibility/src/test/groovy/org/gradle/binarycompatibility/rules/MethodsRemovedInInternalSuperClassRuleTest.groovy
  buildSrc/subprojects/binary-compatibility/src/test/kotlin/org/gradle/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  buildSrc/subprojects/build-platform/build-platform.gradle.kts
  buildSrc/subprojects/build/build.gradle.kts
  buildSrc/subprojects/docs/docs.gradle.kts
  buildSrc/subprojects/packaging/packaging.gradle.kts
  buildSrc/subprojects/plugins/plugins.gradle.kts
  gradle/verification-metadata.xml
Labels: @build-cache, from:member

#11824 Polish `:instantExecution`
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ArtifactCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileTreeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ImmutableListCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/IsolatedCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/SerializableWriteReplaceCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TransformerCodec.kt
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ValueSourceBasedSpec.groovy
Labels: @instant-execution, a:chore, from:member, in:instant-execution

#11785 Download gradleApi() sources on-demand when using an IDE
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/idea/IdeaSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpComponentFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/DefaultGradleApiSourcesResolver.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/FindGradleSources.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/GradleApiSourcesResolver.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
Labels: @core, from:member, in:core

#11248 Normalize APP_HOME in the Windows app start script
  subprojects/docs/src/docs/release/notes.md
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/windowsStartScript.txt
  subprojects/plugins/src/test/groovy/org/gradle/api/internal/plugins/WindowsStartScriptGeneratorTest.groovy
Labels: @core, from:contributor, waiting-for:gradle-team

#11823 Rename `Managed.{immutable => isImmutable}` for consistency with other boolean properties
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProvider.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/model/NamedObjectInstantiator.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/Providers.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/Managed.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/model/NamedObjectInstantiatorTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/generator/AsmBackedClassGeneratedManagedStateTest.groovy
  subprojects/model-core/src/testFixtures/groovy/org/gradle/api/internal/provider/PropertySpec.groovy
  subprojects/model-core/src/testFixtures/groovy/org/gradle/api/internal/provider/ProviderSpec.groovy
Labels: a:chore, from:member, in:core

#11819 Route invalidateAll to global VFS with retention
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultEmptySourceTaskSkipper.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/RoutingVirtualFileSystem.java
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/RoutingVirtualFileSystemTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CleanupOutputsStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CleanupOutputsStepTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/GeneratedSingletonFileTree.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/FileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprint.java
Labels: @build-cache, from:member

#11848 Fix some tests when VFS retention is enabled
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/eob/BuildScanEndOfBuildNotifierIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleContextualExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/VfsRetentionGradleExecuter.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemPartialInvalidationIntegrationTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
Labels: @build-cache, from:member

#11815 Share `:build-cache-packaging`
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  settings.gradle.kts
  subprojects/build-cache-base/build-cache-base.gradle.kts
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/CacheableEntity.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/origin/OriginMetadata.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/origin/OriginMetadataFactory.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/origin/OriginReader.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/origin/OriginWriter.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/origin/package-info.java
  subprojects/build-cache-base/src/main/java/org/gradle/caching/internal/package-info.java
  subprojects/build-cache-packaging/build-cache-packaging.gradle.kts
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/BuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/GZipBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/RelativePathParser.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/AbstractTarBuildCacheEntryPackerSpec.groovy
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/build-cache/build-cache.gradle.kts
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/internal/FinalizeBuildCacheConfigurationBuildOperationIntegrationTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/NoOpBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/BuildCacheCommandFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/file/RelativePath.java
  subprojects/core-api/src/test/groovy/org/gradle/api/file/RelativePathSpockTest.groovy
  subprojects/core-api/src/test/groovy/org/gradle/api/file/RelativePathTest.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskArchiveErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/ZipHasher.java
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactory.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/WorkExecutorTestFixture.java
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CacheStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CacheStepTest.groovy
  subprojects/files/src/main/java/org/gradle/internal/file/DefaultFileHierarchySet.java
  subprojects/files/src/main/java/org/gradle/internal/file/FileHierarchySet.java
  subprojects/files/src/main/java/org/gradle/internal/file/FilePathUtil.java
  subprojects/files/src/main/java/org/gradle/internal/file/TreeType.java
  subprojects/files/src/test/groovy/org/gradle/internal/file/DefaultFileHierarchySetTest.groovy
  subprojects/files/src/test/groovy/org/gradle/internal/file/FilePathUtilTest.groovy
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/network/package-info.java
Labels: @build-cache, from:member

#11846 Make some defaults defaults in UnitOfWork
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
Labels: @build-cache, from:member

#11830 Dependency verification documentation tweaks
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/AbstractDependencyVerificationIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureCheckIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/ChecksumAndSignatureVerificationOverride.java
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
Labels: from:member, in:dependency-management, in:docs

#11856 Remove dependency between build-cache-packaging and native
  subprojects/build-cache-packaging/build-cache-packaging.gradle.kts
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/FilePermissionAccess.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/AbstractTarBuildCacheEntryPackerSpec.groovy
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerPermissionTest.groovy
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/core/core.gradle.kts
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
Labels: @build-cache, from:member

#11873 Migrate `gradle/versioning.gradle` to Kotlin
  build.gradle.kts
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/BuildReceipt.groovy
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  buildSrc/subprojects/versioning/versioning.gradle.kts
  gradle/build-receipt.gradle
  gradle/test-dependencies.gradle
  gradle/versioning.gradle
  subprojects/base-services/base-services.gradle.kts
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ArtifactCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/DefaultCopySpecCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/IsolatedCodecs.kt
Labels: @instant-execution, a:chore, in:gradle-build

#11871 Revert reselection on selector removal
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
Labels: from:member, in:dependency-management

#11865 Add Litho's details for IAP support
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: from:contributor

#11783 Improve wording in the dependency version alignment docs
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_version_alignment.adoc
Labels: from:contributor

#11778 Fix typo in dep man docu
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
Labels: from:contributor

#11780 compositeBuilds basic kotlin sample comment fix
  subprojects/docs/src/snippets/compositeBuilds/basic/kotlin/my-app/settings-composite.gradle.kts
Labels: from:contributor

#11867 Merge pull request #11867 from gradle/lptr/snapshots/move-implementation-snapshot-to-snapshots
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultPreviousExecutionStateSerializer.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ImplementationSnapshot.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/ImplementationSnapshotSerializer.java
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/SnapshotSerializer.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DefaultImplementationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/ImplementationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/LambdaImplementationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/UnknownClassloaderImplementationSnapshot.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/ImplementationSnapshotTest.groovy
Labels: @build-cache, from:member

#11868 Tests showing the issue with legacy artifact selection
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/compatibility/ArtifactAndClassifierCompatibilityIntegrationTest.groovy
Labels: from:member, in:dependency-management

#11880 Fix some VFS retention tests to run with instant execution
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForInstantExecution.java
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#11874 Dogfood build logic inputs API (Part 2)
  buildSrc/subprojects/binary-compatibility/binary-compatibility.gradle.kts
  buildSrc/subprojects/build/build.gradle.kts
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/BuildReceipt.groovy
  buildSrc/subprojects/buildquality/buildquality.gradle.kts
  buildSrc/subprojects/docs/docs.gradle.kts
  buildSrc/subprojects/ide/ide.gradle.kts
  buildSrc/subprojects/integration-testing/integration-testing.gradle.kts
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  buildSrc/subprojects/packaging/packaging.gradle.kts
  buildSrc/subprojects/performance/performance.gradle.kts
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/profiling/profiling.gradle.kts
  buildSrc/subprojects/uber-plugins/uber-plugins.gradle.kts
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  buildSrc/subprojects/versioning/versioning.gradle.kts
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
Labels: a:chore, from:member, in:gradle-build

#11877 Download groovy-all sources when using gradleTestKit dependency
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
Labels: @core, from:member, in:core

#11886 Fix a typo: broadaster -> broadcaster
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleLauncherFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/testfixtures/ProjectBuilderTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DeprecatedUsageBuildOperationProgressBroadcaster.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  subprojects/logging/src/main/java/org/gradle/util/SingleMessageLogger.java
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandlerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/util/SingleMessageLoggerTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/TransformBackedProviderTest.groovy
Labels: @core, a:chore, from:member, in:core

#11887 Fix Gradle Kotlin DSL init script sample snippet
  subprojects/docs/src/snippets/plugins/pluginManagement/kotlin/init.gradle.kts
  subprojects/docs/src/snippets/plugins/pluginManagement/pluginManagementConfiguration.sample.conf
Labels: a:bug, from:member, in:docs, in:kotlin-dsl

#11882 Correctly create symlink on Windows 10
  subprojects/files/src/test/groovy/org/gradle/internal/file/impl/WindowsSymbolicLinkDeleterTest.groovy
  subprojects/native/src/testFixtures/groovy/org/gradle/util/WindowsSymbolicLinkUtil.groovy
Labels: @build-cache, from:member

#11858 Enable more coverage for instant execution
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/BuildCacheLocalCacheIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/rules/OverlappingOutputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractPathSensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskIntegrationTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/AbstractProjectDependencyConflictResolutionIntegrationSpec.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/ivy/AbstractIvyRemoteRepoResolveIntegrationTest.groovy
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionPropertyIntegrationTest.groovy
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractProjectRelocationIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractTaskRelocationIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForInstantExecution.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForInstantExecutionExtension.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForInstantExecutionRule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecution.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecutionExtension.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecutionRule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
  subprojects/ivy/src/testFixtures/groovy/org/gradle/api/publish/ivy/AbstractIvyRemoteLegacyPublishIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovySourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-jvm/src/testFixtures/groovy/org/gradle/api/tasks/compile/AbstractCompilerDaemonReuseIntegrationTest.groovy
  subprojects/language-jvm/src/testFixtures/groovy/org/gradle/integtests/language/AbstractJvmLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-jvm/src/testFixtures/groovy/org/gradle/integtests/language/AbstractJvmLanguageIntegrationTest.groovy
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/ScalaCompileParallelIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/LoggingIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/AbstractConsoleBuildPhaseFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/jvm/AbstractConsoleJvmTestWorkerFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/jvm/ConsoleTestNGUnsupportedTestWorkerFunctionalTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/PlayBinaryApplicationIntegrationTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/continuous/PlayReloadWaitingIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsPerformanceIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractJavaGroovyCompileAvoidanceIntegrationSpec.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/ivy/IvyPublishGcsIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenPublishGcsErrorsIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenPublishGcsIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/ivy/IvyPublishS3IntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3ErrorsIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3IntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishSftpIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishSftpIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/SftpClientReuseIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoDynamicRevisionIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoErrorsIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/maven/MavenSftpRepoResolveIntegrationTest.groovy
  subprojects/testing-base/src/testFixtures/groovy/org/gradle/testing/AbstractTestFrameworkIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/AbstractJvmFailFastIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/AbstractTestFilteringIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/SampleTestNGIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGFailFastIntegrationTest.groovy
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/ParallelSourceDependencyIntegrationTest.groovy
Labels: @instant-execution, a:chore, from:member

#11872 Enable test coverage that was previously leaking files with instant execution
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/ivy/AbstractIvyRemoteRepoResolveIntegrationTest.groovy
  subprojects/ivy/src/testFixtures/groovy/org/gradle/api/publish/ivy/AbstractIvyRemoteLegacyPublishIntegrationTest.groovy
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/continuous/PlayReloadWaitingIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/ivy/IvyGcsRepoResolveIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenGcsRepoErrorsIntegrationTest.groovy
  subprojects/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/maven/MavenGcsSnapshotRepoIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/ivy/IvyPublishS3IntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3ErrorsIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3IntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishSftpIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishSftpIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/SftpClientReuseIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoDynamicRevisionIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoErrorsIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/maven/MavenSftpRepoResolveIntegrationTest.groovy
Labels: @instant-execution, a:chore, from:member

#11890 Measure and improve watch registration time
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
Labels: @build-cache, from:member

#11895 Cleanup distribution integration test
  subprojects/distributions/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: from:member, in:dependency-management

#11913 Fix use of schema location
  gradle/verification-metadata.xml
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlReaderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriterTest.groovy
  subprojects/docs/src/snippets/userguide/dependencyManagement/dependencyVerification/disablingVerification/groovy/gradle/verification-metadata.xml
  subprojects/docs/src/snippets/userguide/dependencyManagement/dependencyVerification/disablingVerification/kotlin/gradle/verification-metadata.xml
Labels: a:bug, in:dependency-management

#11889 Replace `baseVersion` and `isSnapshot` extra properties by `BuildVersion` project extension
  build.gradle.kts
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/BuildReceipt.groovy
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/BuildEnvironment.kt
  buildSrc/subprojects/docs/docs.gradle.kts
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/GradleReleaseNotesPlugin.java
  buildSrc/subprojects/packaging/packaging.gradle.kts
  buildSrc/subprojects/packaging/src/main/kotlin/org/gradle/gradlebuild/packaging/ShadedJarPlugin.kt
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/publish-public-libraries.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersion.kt
  buildSrc/subprojects/versioning/versioning.gradle.kts
  gradle/build-receipt.gradle
  subprojects/distributions/binary-compatibility.gradle
  subprojects/distributions/distributions.gradle
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
Labels: @instant-execution, from:member, in:gradle-build

#11915 Log documentation in deprecation messages
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecatedFeatureUsage.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessage.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessageBuilder.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DocumentationReference.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DefaultDeprecatedUsageProgressDetails.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DeprecatedUsageBuildOperationProgressBroadcaster.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DeprecatedUsageProgressDetails.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecatedFeatureUsageTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DocumentationReferenceTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/featurelifecycle/DeprecatedFeatureUsageTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/TransformBackedProviderTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @core, from:member, in:core

#11922 Apply the idea plugin to all subprojects
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
Labels: @dev-productivity, from:member

#11908 Fix: LongCommandLineDetectionUtil.java - support for Mac OSX
  subprojects/core/src/main/java/org/gradle/process/internal/util/LongCommandLineDetectionUtil.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecWithLongCommandLineIntegrationTest.groovy
Labels: from:contributor

#11893 Improve performance of registering file watchers on Linux
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/impl/WatchRootUtil.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/impl/WatchRootUtilTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractCompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractIncompleteSnapshotWithChildren.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemNode.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/SnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractDelegatingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultWatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/WatchRootUtil.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/JdkFileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/impl/NoopFileWatcherRegistry.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/WatchRootUtilTest.groovy
Labels: @build-cache, from:member

#11933 Publish build-cache-packaging as public library
  subprojects/build-cache-packaging/build-cache-packaging.gradle.kts
Labels: @build-cache, from:member

#11930 Use more specific deprecation methods where applicable
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/file/DefaultSourceDirectorySetFactoryTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/GradleBuildTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/InitScriptIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/invocation/BuildStartedDeprecatedIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultSourceDirectorySetFactory.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessageBuilder.java
  subprojects/logging/src/main/java/org/gradle/util/IncubationLogger.java
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/BasePlugin.java
Labels: @core, from:member, in:core

#11916 Compute `buildTimestamp` using a value source to capture the relevant build logic inputs
  buildSrc/subprojects/build/src/main/groovy/org/gradle/build/BuildReceipt.groovy
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/BuildEnvironment.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildInstantExecutionSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member, in:gradle-build

#11936 Don't use `Task output caching` when talking about the build cache
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/services/BuildCacheControllerFactory.java
Labels: @build-cache, from:member

#11938 Get `--scan` to work with instant execution again
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionBuild.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#11950 Publish build-cache-base as public library
  subprojects/build-cache-base/build-cache-base.gradle.kts
  subprojects/build-cache-packaging/build-cache-packaging.gradle.kts
  subprojects/snapshots/snapshots.gradle.kts
Labels: @build-cache, from:member

#11949 Move method back to ProjectExtensions
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ScriptHandlerExtensions.kt
Labels: a:bug, from:member, in:dependency-management

#11917 Expose deprecation documentation to build scans
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecatedFeatureUsage.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DefaultDeprecatedUsageProgressDetails.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/DeprecatedUsageProgressDetails.java
Labels: @core, from:member, in:core

#11960 Load Gradle properties before checking instant execution cache fingerprint
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/extensions/unsafeLazy.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionPropertiesLoader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionStartParameter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
Labels: @instant-execution, a:bug, in:instant-execution

#11969 Do not read the full file in-memory when computing checksums
  subprojects/core/src/main/java/org/gradle/internal/hash/ChecksumHasher.java
Labels: a:bug, from:member, in:dependency-management

#11951 Reconcile Santa Tracker instant execution and smoke tests
  build.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/UpdateAgpVersions.kt
  gradle/dependency-management/agp-versions.properties
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionAndroidIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJavaIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSantaTrackerIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/build.gradle
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/proguard-rules.pro
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/androidTest/java/com/example/instantapplication/ExampleInstrumentedTest.java
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/AndroidManifest.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/java/com/example/instantapplication/MainActivity.java
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/drawable/ic_launcher_background.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/layout/activity_main.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-hdpi/ic_launcher.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-mdpi/ic_launcher.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/values/colors.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/values/strings.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/main/res/values/styles.xml
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/app/src/test/java/com/example/instantapplication/ExampleUnitTest.java
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/build.gradle
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/gradle.properties
  subprojects/instant-execution/src/integTest/resources/org/gradle/instantexecution/builds/android-3.6-mini/settings.gradle
  subprojects/internal-integ-testing/internal-integ-testing.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationTreeFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationTreeQueries.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationsFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecution.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecutionExtension.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithInstantExecutionRule.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/instantexecution/InstantExecutionBuildOperationsFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerKotlinCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/build.gradle
Labels: @instant-execution, a:chore, from:member

#11959 Take field annotation into account for conflicting ignore annotations
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStoreTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
Labels: @build-cache, from:member

#11976 Fix incorrect Gradle root build directory location
  subprojects/core/src/integTest/groovy/org/gradle/api/GradleBuildScriptExecutionFromSubDirIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/StartParameterResolutionOverride.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/DependencyVerificationOverride.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/WriteDependencyVerificationFile.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/transport/RepositoryTransportFactoryTest.groovy
Labels: a:bug, from:member, in:dependency-management

#11993 Remove executable bit from non-executable files
  gradle/dependencies.gradle
  gradle/test-dependencies.gradle
Labels: from:contributor

#11991 Fix reselection bug and re-activate reselection on selector removal
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: from:member, in:dependency-management

#11733 Kotlin DSL Tooling Builders don't clutter output
  subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  subprojects/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
Labels: a:bug, from:member, in:kotlin-dsl

#11986 Let Santa Tracker performance tests use managed AGP versions
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/templates.gradle
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member

#12013 Remove @ToBeFixedForInstantExecution from a passing test
  subprojects/core/src/integTest/groovy/org/gradle/api/GradleBuildScriptExecutionFromSubDirIntegTest.groovy
Labels: from:member

#11962 Add test for nested bean from Kotlin Closure
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
Labels: @build-cache, from:member

#12001 Add more attributes to the runtime api
  subprojects/runtime-api-info/runtime-api-info.gradle.kts
Labels: @build-cache, from:member

#11987 Improve santa tracker build comparisons for vfs retention/instant execution
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/dependencies/DependenciesMetadataRulesPlugin.kt
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleProfilerBuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/LogFiles.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/GradleProfilerReporter.java
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
Labels: @build-cache, from:member

#11997 Set category attribute to 'library' for compile and runtime classpath
  buildSrc/build.gradle.kts
  buildSrc/subprojects/binary-compatibility/binary-compatibility.gradle.kts
  buildSrc/subprojects/build/build.gradle.kts
  buildSrc/subprojects/buildquality/buildquality.gradle.kts
  buildSrc/subprojects/docs/docs.gradle.kts
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/JavaPlatformResolveIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/docs/src/snippets/java-feature-variant/incompatible-variants/kotlin/runtimeClasspath.out
  subprojects/docs/src/snippets/java-feature-variant/requiring-features-external/runtimeClasspath.out
  subprojects/docs/src/snippets/java-feature-variant/requiring-features/runtimeClasspath.out
  subprojects/docs/src/snippets/userguide/dependencyManagement/customizingResolution/metadataRule/failRuntimeClasspathResolve.out
  subprojects/docs/src/snippets/userguide/dependencyManagement/inspectingDependencies/dependencyReason/dependencyReasonReport.out
  subprojects/docs/src/snippets/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/dependencyReport.out
  subprojects/docs/src/snippets/userguide/dependencyManagement/managingTransitiveDependencies/declaringCapabilities/dependencyReportReplaced.out
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
Labels: from:member, in:dependency-management

#12006 Allow multiple distinct user input using tooling API
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/DefaultUserInputReader.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r62/CapturingMultipleUserInputCrossVersionSpec.groovy
Labels: @core, a:bug, from:member, in:tooling-api

#12003 Merge pull request #12003 from gradle/lptr/build-cache/better-abstraction-for-packer-fs-operations
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarPackerFileSystemSupport.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/AbstractTarBuildCacheEntryPackerSpec.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/caching/internal/packaging/impl/DefaultTarPackerFileSystemSupport.java
  subprojects/core/src/test/groovy/org/gradle/caching/internal/packaging/impl/DefaultTarPackerFileSystemSupportTest.groovy
Labels: @build-cache, from:member

#12036 Fix duplicate entry found when building error
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/verifier/DependencyVerifier.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/verifier/DependencyVerifierTest.groovy
Labels: a:bug, from:member, in:dependency-management

#12038 Update AGP nightly
  gradle/dependency-management/agp-versions.properties
Labels: @instant-execution, a:chore

#12042 Restore dropped coverage for instant execution on Santa Tracker
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerKotlinCachingSmokeTest.groovy
Labels: @instant-execution, a:chore

#12040 Fix issue with capability and virtual platforms
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
Labels: a:bug, from:member, in:dependency-management

#12045 Align document name and fix incoming link
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_strategy_tuning.adoc
  subprojects/docs/src/main/resources/header.html
Labels: from:member, in:dependency-management, in:docs

#12046 Track currently deselecting node to break another case of local cycle
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/RootNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
Labels: from:member, in:dependency-management

#11900 Monitor file handle leaking on windows
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcityTest/Gradle_Check_Tests/ApplyDefaultConfigurationTest.kt
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  gradle/AttachAgentToDaemon.java
  gradle/DumpOpenFiles.java
Labels: @dev-productivity, a:chore, from:member

#12041 Add feature preview API documentation
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsScriptExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/docs/src/docs/userguide/migration/feature_lifecycle.adoc
Labels: @core, from:member, in:core

#12039 Add documentation for SourceDirectorySetFactory deprecation
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/file/DefaultSourceDirectorySetFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultSourceDirectorySetFactory.java
  subprojects/docs/src/docs/userguide/extending-gradle/lazy_configuration.adoc
Labels: @core, from:member, in:core

#12035 Add documentation link to deprecated artifact transforms behaviour
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
Labels: @core, from:member, in:core

#12034 Add documentation link to ProjectLayout method deprecation
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
Labels: @core, from:member, in:core

#12032 Add documentation link to Distribution property deprecation message
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/JavaLibraryDistributionIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/distribution/internal/DefaultDistribution.java
Labels: @core, from:member, in:core

#12033 Add a release note about documented deprecation messages
  subprojects/docs/src/docs/release/notes.md
Labels: @core, from:member, in:core

#12050 Don't run TAPI tests for versions <2.6
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiCompatibilitySuiteRunner.groovy
Labels: a:bug

#12058 Ignore dev builds of native platform for dependency verification
  gradle/verification-metadata.xml
Labels: @build-cache, from:member

#12055 Do not attempt to do a selection if no selector is available
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
Labels: a:bug, from:member, in:dependency-management

#12057 Fix InstantExecutionEnablingIntegrationTest
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionEnablingIntegrationTest.groovy
Labels: a:chore, in:instant-execution

#12019 Expose taskgraph details in build operations
  buildSrc/subprojects/buildquality/src/main/kotlin/org/gradle/gradlebuild/buildquality/classycle/ClassycleExtension.kt
  subprojects/core/src/integTest/groovy/org/gradle/initialization/CalculateTaskGraphBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskIdentity.java
  subprojects/core/src/main/java/org/gradle/initialization/BuildOperatingFiringTaskExecutionPreparer.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultPlannedTask.java
  subprojects/core/src/main/java/org/gradle/internal/taskgraph/CalculateTaskGraphBuildOperationType.java
Labels: a:feature, from:member, in:build-scan

#12051 Add user guide link for up-to-date checking deprecations
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @core, from:member, in:core

#12052 Tweak dependency verification release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:dependency-management

#12068 Add more attributes to IntTestImage plugin configurations
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/IntTestImagePlugin.kt
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
Labels: @build-cache, from:member

#12067 Update smoke-tested AGP 3.6 to RC02
  gradle/dependency-management/agp-versions.properties
Labels: @instant-execution, a:chore

#12021 Introduce `providers.gradleProperty(propertyNameOrProvider)`
  subprojects/core-api/src/main/java/org/gradle/api/internal/properties/GradleProperties.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/initialization/DistributionPropertiesLoaderIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleProperties.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradlePropertiesLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/IGradlePropertiesLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/ProjectPropertySettingBuildLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/PropertiesLoadingSettingsProcessor.java
  subprojects/core/src/main/java/org/gradle/initialization/ScriptEvaluatingSettingsProcessor.java
  subprojects/core/src/main/java/org/gradle/internal/invocation/GradleBuildController.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultGradlePropertiesLoaderTest.java
  subprojects/core/src/test/groovy/org/gradle/initialization/ProjectPropertySettingBuildLoaderTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionEnablingIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/BuildEnvironmentIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/sources/GradlePropertyValueSource.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ValueSourceBasedSpec.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/services/PlatformJvmServices.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r60/ToolingApiPropertiesLoaderCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r62/ToolingApiPropertiesLoaderCrossVersionSpec.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
Labels: @instant-execution, a:feature, from:member, in:core

#12074 Improve wording in gradleApi sources release note
  subprojects/docs/src/docs/release/notes.md
Labels: @core, from:member, in:core

#12005 Smoke Test instant execution on gradle/gradle
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/java/AvailableJavaInstallations.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/OsXInstalledJvmLocator.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/SdkManJvmLocator.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildInstantExecutionSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member

#12086 Remove JNI headers on incremental compilation
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/JavaSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaRecompilationSpecProvider.java
Labels: @build-cache, from:member

#12076 Add cross version test for snapshot and GMM
  subprojects/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/resolve/snapshot/AbstractGradleMetadataMavenSnapshotCrossVersionIntegrationTest.groovy
  subprojects/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/resolve/snapshot/GradleMetadataMavenSnapshotPreviousConsumerCrossVersionIntegrationTest.groovy
  subprojects/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/resolve/snapshot/GradleMetadataMavenSnapshotPreviousProducerCrossVersionIntegrationTest.groovy
Labels: from:member, in:dependency-management

#12094 Add note about 'org.gradle.category=library' to upgrading guide
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: from:member, in:dependency-management

#12097 Guard against `NoClassDefFoundError` in `DefaultProvider#getType`
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/GradleKotlinDslIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProvider.java
Labels: a:bug, from:member, in:kotlin-dsl
