Repository gradle/gradle, pull requests merged in 2020-12, with the labels that each got.

#15303 Explain binary compatibility in report
  buildSrc/subprojects/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  buildSrc/subprojects/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
Labels: @dev-productivity, from:member

#15370 Move UpdateInitPluginTemplateVersionFile task to build logic
  buildSrc/subprojects/build-update-utils/src/main/kotlin/gradlebuild.update-init-template-versions.gradle.kts
  buildSrc/subprojects/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateInitPluginTemplateVersionFile.kt
  subprojects/build-init/build.gradle.kts
Labels: @idiomatic, from:member, in:gradle-build

#15373 Move custom JMH report generation to build logic
  buildSrc/subprojects/profiling/src/main/kotlin/gradlebuild.jmh.gradle.kts
  buildSrc/subprojects/profiling/src/main/kotlin/gradlebuild/jmh/tasks/JmhHTMLReport.kt
  subprojects/native/build.gradle.kts
  subprojects/native/src/jmh/html/index.html
Labels: @idiomatic, from:member, in:gradle-build

#15384 Remove cross-project references in Kotlin DSL integration test project
  buildSrc/subprojects/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle.gradle.kts
  subprojects/kotlin-dsl-integ-tests/build.gradle.kts
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl-plugins/build.gradle.kts
Labels: @idiomatic, from:member, in:gradle-build

#15388 Fix Kotlin DSL sync when failing on project repositories
  subprojects/core/src/main/java/org/gradle/api/internal/DomainObjectContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionResolverIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionProvider.kt
Labels: @jvm, a:bug, from:member, in:dependency-management, in:kotlin-dsl

#15390 Fix cleanup of cached Kotlin DSL script artifacts
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/workspace/impl/DefaultImmutableWorkspaceProvider.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/cache/CachingIntegrationFixture.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/ConcurrentTestUtil.groovy
  subprojects/kotlin-dsl/src/integTest/groovy/org/gradle/kotlin/dsl/KotlinScriptCacheCleanupIntegrationTest.groovy
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TaskContainerDslIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/KotlinDslWorkspaceProvider.kt
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheFactory.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryStore.java
Labels: a:bug, from:member, in:kotlin-dsl

#15401 Fix transform definition in console progress test
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/AbstractConsoleBuildPhaseFunctionalTest.groovy
Labels: @execution, from:member

#15377 Fix annotation for launcher property
  subprojects/docs/src/docs/userguide/jvm/toolchains.adoc
  subprojects/docs/src/snippets/java/toolchain-task/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-task/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/java/toolchain-task/tests/toolchainTask.sample.conf
Labels: @jvm, from:member

#15403 Support TestOperationDescriptors referencing included builds in TestLauncher
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTestOperationListener.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildBuildActionExecuterCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildModelBuilderCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildTaskExecutionCrossVersionSpec.groovy
Labels: a:bug, from:member, in:tooling-api

#15414 Enable test distribution for two subprojects
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/model/FunctionalTestBucketProvider.kt
  buildSrc/subprojects/jvm/build.gradle.kts
  buildSrc/subprojects/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
Labels: from:member

#15409 Reduce stale window
  .github/stale.yml
Labels: @jvm, from:member

#15393 Fix kotlin compiler warning rewrite mechanism to work with tasks that hold a reference of Task.logger in their ctor
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/TaskInternal.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/BuildOperationAwareLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/ContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/DefaultContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/MessageRewritingBuildOperationAwareLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/OutputEventListenerBackedLogger.java
  subprojects/logging/src/testFixtures/groovy/org/gradle/internal/logging/ToStringLogger.groovy
Labels: a:bug, from:member, in:kotlin-dsl

#15407 Enable detecting auto-provisioned toolchains
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/AutoDetectingInstallationSupplier.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/AutoInstalledInstallationSupplier.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/AutoInstalledInstallationSupplierTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultToolchainSpecTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: @jvm, from:member, in:toolchains

#15418 Document Tooling API behavior regarding composite builds
  subprojects/tooling-api/src/main/java/org/gradle/tooling/BuildActionExecuter.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/BuildLauncher.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ModelBuilder.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/TestLauncher.java
Labels: a:chore, from:member, in:docs

#15420 Avoid exercising the executable for version detection
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetector.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetector.java
  subprojects/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetectorTest.groovy
Labels: @jvm, from:member, in:toolchains

#13993 Ensure test-retry-plugin usages are visible in gradle
  subprojects/base-annotations/src/main/java/org/gradle/internal/scan/UsedByScanPlugin.java
  subprojects/base-services/src/main/java/org/gradle/internal/reflect/Instantiator.java
  subprojects/base-services/src/main/java/org/gradle/internal/service/ServiceRegistry.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/ClassLoaderCache.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestResultProcessor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilter.java
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/TestDescriptor.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/JvmTestExecutionSpec.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/TestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
Labels: from:member

#15427 Fix empty directory normalization with artifact transforms and configuration cache
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/transform/DefaultTransformerCodec.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractDirectorySensitivityIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskInputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/CompositePropertyVisitor.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultTaskProperties.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/GetInputFilesVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformationRegistrationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/DirectorySensitivity.java
Labels: a:bug, from:member, in:core

#15307 Make catalogs support nested catalogs
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/DependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/KotlinDslDependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/AbstractExternalDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/AbstractSourceGenerator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesAccessors.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DependenciesSourceGenerator.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/std/DependenciesSourceGeneratorTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/test-dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/test-dependencies.toml
  subprojects/plugins/src/integTest/groovy/org/gradle/catalog/VersionCatalogResolveIntegrationTest.groovy
Labels: from:member, in:dependency-management

#15376 Let configuration cache smoke test load state in a different daemon
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildConfigurationCacheSmokeTest.groovy
Labels: @configuration-cache, a:chore, from:member, in:configuration-cache

#15423 Improve error message when project repositories are unexpected
  subprojects/core/src/main/java/org/gradle/api/internal/SettingsInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveConfigurationResolutionBuildOperationDetails.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveExceptionWithHints.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories.adoc
Labels: @jvm, from:member, in:dependency-management

#15436 Don't serialize direct `BuildService` references to the config cache
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
Labels: @configuration-cache, a:feature, from:member, in:configuration-cache

#15422 Disable configuration cache on TAPI model building
  subprojects/configuration-cache/build.gradle.kts
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheToolingApiInvocationIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/SomeToolingBuildAction.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCacheSupport.kt
  subprojects/core/src/main/java/org/gradle/initialization/ConfigurationCacheSupport.java
  subprojects/launcher/src/main/java/org/gradle/launcher/exec/InProcessBuildActionExecuter.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
Labels: @configuration-cache, from:member, in:configuration-cache, in:tooling-api

#15421 Apply the 'ci-reporting' plugin to each subproject individually
  build.gradle.kts
  buildSrc/subprojects/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/SubprojectsInfo.kt
  buildSrc/subprojects/buildquality/src/main/kotlin/gradlebuild.ci-reporting.gradle.kts
  buildSrc/subprojects/buildquality/src/main/kotlin/gradlebuild/testcleanup/extension/TestFileCleanUpExtension.kt
  buildSrc/subprojects/cleanup/src/main/kotlin/gradlebuild/cleanup/extension/TestFileCleanUpExtension.kt
  buildSrc/subprojects/uber-plugins/src/main/kotlin/gradlebuild.java-library.gradle.kts
  subprojects/composite-builds/build.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/dependency-management/build.gradle.kts
  subprojects/diagnostics/build.gradle.kts
  subprojects/ide/build.gradle.kts
  subprojects/integ-test/build.gradle.kts
  subprojects/ivy/build.gradle.kts
  subprojects/kotlin-dsl-integ-tests/build.gradle.kts
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl-tooling-builders/build.gradle.kts
  subprojects/kotlin-dsl/build.gradle.kts
  subprojects/language-java/build.gradle.kts
  subprojects/launcher/build.gradle.kts
  subprojects/maven/build.gradle.kts
  subprojects/performance/build.gradle.kts
  subprojects/plugin-development/build.gradle.kts
  subprojects/plugin-use/build.gradle.kts
  subprojects/plugins/build.gradle.kts
  subprojects/resources-s3/build.gradle.kts
  subprojects/resources-sftp/build.gradle.kts
  subprojects/samples/build.gradle.kts
  subprojects/test-kit/build.gradle.kts
  subprojects/tooling-api/build.gradle.kts
Labels: @idiomatic, from:member, in:gradle-build

#15445 Add coverage for `@since` check on Kotlin operator functions
  buildSrc/subprojects/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/SinceAndIncubatingRulesKotlinTest.kt
Labels: from:member, in:gradle-build

#15447 Remove remaining usages of afterEvaluate from our build
  buildSrc/subprojects/basics/src/main/kotlin/gradlebuild.minify.gradle.kts
  buildSrc/subprojects/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  buildSrc/subprojects/packaging/src/main/kotlin/gradlebuild.shaded-jar.gradle.kts
  buildSrc/subprojects/packaging/src/main/kotlin/gradlebuild/shade/transforms/ShadeClasses.kt
  buildSrc/subprojects/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle.gradle.kts
Labels: @idiomatic, in:gradle-build

#15275 Only run a small set of performance tests per commit
  .teamcity/Gradle_Check/model/CIBuildModel.kt
  .teamcity/Gradle_Check/model/PerformanceTestBucketProvider.kt
  .teamcity/performance-tests-ci.json
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/annotations/RunFor.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/buildcache/LocalTaskOutputCacheCrossBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/JavaLibraryPluginPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/java/ParallelBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/maven/JavaTestGradleVsMavenPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/nativeplatform/NativeParallelPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/nativeplatform/NativePreCompiledHeaderPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildSlowPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingNativePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingSwiftPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ArchiveTreePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/DeprecationCreationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ExcludeRuleMergingPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/FileSystemWatchingPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/IdeIntegrationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/LargeDependencyGraphPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ParallelDownloadsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/RichConsolePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/TaskAvoidancePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/TaskCreationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/VerboseTestOutputPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/BuildSrcApiChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaCleanAssemblePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationCachePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaDependencyReportPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIDEModelPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaNonABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaTasksPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaTestChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaUpToDatePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildDependentsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeCleanBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/RealWorldNativePluginPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/SwiftCleanBuildPerformanceTest.groovy
Labels: @dev-productivity, from:member

#15433 Let the configuration cache support ResourceHandler
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ResourceHandlerCodec.kt
Labels: @configuration-cache, from:member, in:configuration-cache

#15455 Do not keep failed transforms cached between builds
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/CacheRetainingDataFromPreviousBuildTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/TestCrossBuildInMemoryCacheFactory.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CrossBuildInMemoryCacheFactory.java
Labels: @execution, from:member

#15444 Add missing Kotlin DSL overloads
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/KotlinDslDependenciesExtensionIntegrationTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
Labels: @jvm, from:member

#15443 Provide access to version catalogs from plugins
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/VersionCatalog.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/VersionCatalogsExtension.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/MutableVersionCatalogContainer.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/DependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/KotlinDslDependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/AbstractExternalDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesAccessors.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/ExternalModuleDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultDependencyResolutionManagement.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultVersionCatalogBuilderContainer.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyHandlerDelegate.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
Labels: @jvm, from:member, in:dependency-management

#15346 Report work validation warnings to console
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/BuildResultLoggerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DirectorySensitivityErrorHandlingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/DefaultWorkValidationWarningRecorder.java
  subprojects/core/src/main/java/org/gradle/execution/WorkValidationWarningReporter.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildLogger.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildResultLogger.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildResultLoggerTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/exec/BuildOutcomeReportingBuildActionRunner.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/SessionFailureReportingActionExecuter.java
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
Labels: @execution, from:member

#15450 Reference more use cases for consistent resolution
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_strategy_tuning.adoc
Labels: @jvm, from:member, in:dependency-management, in:docs

#15458 Publish test distribution trace files on CI
  buildSrc/subprojects/buildquality/src/main/kotlin/gradlebuild.ci-reporting.gradle.kts
  gradle.properties
Labels: from:member

#15396 Use a separate Javadoc location per source set
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishJavaWithDocsAndFeaturesIntegTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmVariantBuilder.java
Labels: @execution, from:member

#15465 Add new issue templates for deprecated/incubating API work in Gradle 7.0
  .github/ISSUE_TEMPLATE/promote_incubating_api.md
  .github/ISSUE_TEMPLATE/remove_deprecated_api.md
Labels: a:chore, from:member

#15466 Use `--continue` for performance tests as well
  .teamcity/Gradle_Check/configurations/PerformanceTest.kt
  .teamcity/common/performance-test-extensions.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
Labels: @dev-productivity

#15361 Document org.gradle.testkit.dir
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
  subprojects/test-kit/src/main/java/org/gradle/testkit/runner/GradleRunner.java
Labels: @core, from:contributor, in:test-kit

#14654 Class generator: implement name property automatically
  subprojects/core-api/src/main/java/org/gradle/api/ExtensiblePolymorphicDomainObjectContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/model/ObjectFactoryIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/extending-gradle/custom_gradle_types.adoc
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/settings.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/tests/namedDomainObjectContainerInterfaces.sample.conf
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/model/internal/asm/AsmClassGeneratorUtils.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/instantiation/generator/AsmBackedClassGeneratorTest.java
Labels: @core, from:contributor

#15446 Add more coverage for TAPI disabling with the configuration cache
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheToolingApiInvocationIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/SomeToolingModel.groovy
Labels: @configuration-cache, from:member, in:configuration-cache

#15453 Delay evaluation of `orElse` provider when computing task dependencies
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/OrElseProvider.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ValueSupplier.java
Labels: @configuration-cache, a:bug, from:member, in:configuration-cache

#15483 Remove @Incubating from replacement of @Deprecated
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Checkstyle.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
Labels: @jvm, from:member, in:checkstyle-plugin, in:pmd-plugin

#15432 Detect missing dependencies between tasks
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ConsumedAndProducedLocations.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/main/java/org/gradle/execution/plan/Node.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ProducedDirectoriesNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/RelatedLocations.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencySubstitutionRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyDynamicRevisionRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/AbstractValidatingLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenRemoteDependencyWithGradleMetadataResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformParallelIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  subprojects/docs/src/samples/android-application/tests/buildTask.sample.conf
  subprojects/docs/src/samples/build-organization/structuring-software-projects/tests/build-android-app.sample.conf
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/StaleOutputIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocWorkAvoidanceIntegrationTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/ArchiveTreePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationCachePerformanceTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/antmigration/SamplesAntImportIntegrationTest.groovy
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningPublicationsIntegrationSpec.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @execution, from:member

#15470 Clarify input handling for toolchain vendor and implementation
  subprojects/docs/src/docs/userguide/build-cache/common_caching_problems.adoc
  subprojects/docs/src/docs/userguide/jvm/toolchains.adoc
Labels: @jvm, from:member

#15472 Update deprecation logger tests to not depend on nextMajor version
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationLoggerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
Labels: @core, @idiomatic, from:member

#15485 Bump Kotlin language and api level to 1.4 for build scripts and plugins
  subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
Labels: from:member, in:kotlin-dsl

#15495 Clean all build logic builds before running perf tests on Windows
  .teamcity/common/performance-test-extensions.kt
Labels: @dev-productivity, from:member, in:gradle-build

#15471 Promote included plugin builds to public API
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/initialization/ConfigurableIncludedPluginBuild.java
  subprojects/core-api/src/main/java/org/gradle/plugin/management/PluginManagementSpec.java
  subprojects/core/src/main/java/org/gradle/initialization/IncludedBuildSpec.java
  subprojects/core/src/main/java/org/gradle/internal/composite/DefaultConfigurableIncludedPluginBuild.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/PluginManagementSpecInternal.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/plugin-use/src/main/java/org/gradle/plugin/management/internal/DefaultPluginManagementSpec.java
Labels: @idiomatic, from:member

#11471 Axl/s3 multipart uploads
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/S3ClientIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/fixtures/S3Server.groovy
  subprojects/resources-s3/src/main/java/org/gradle/internal/resource/transport/aws/s3/S3Client.java
  subprojects/resources-s3/src/main/java/org/gradle/internal/resource/transport/aws/s3/S3ConnectionProperties.java
  subprojects/resources-s3/src/test/groovy/org/gradle/internal/resource/transport/aws/s3/S3ClientTest.groovy
Labels: @jvm, from:contributor, in:dependency-management

#15502 Prepare upgrade guide for 7.0
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/main/resources/header.html
Labels: @jvm, from:member, in:docs

#15486 Introduce ArchiveOperations.gzip(path) and bzip2(path)
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ResourceHandlerCodec.kt
  subprojects/core-api/src/main/java/org/gradle/api/file/ArchiveOperations.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ArchiveOperationsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultArchiveOperations.java
Labels: @configuration-cache, from:member

#15507 Add missing getters for dependency resolution management
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
  subprojects/core/src/main/java/org/gradle/internal/management/DependencyResolutionManagementInternal.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultDependencyResolutionManagement.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
Labels: @jvm, from:member, in:dependency-management

#15468 Update Gradle major version to 7.0
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/VersionCatalog.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/VersionCatalogsExtension.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/attributes/Usage.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ArchiveOperations.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/ConfigurableIncludedPluginBuild.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/dsl/VersionCatalogBuilder.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/MutableVersionCatalogContainer.java
  subprojects/core-api/src/main/java/org/gradle/plugin/management/PluginManagementSpec.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/CatalogPluginExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/VersionCatalogPlugin.java
  subprojects/publish/src/main/java/org/gradle/api/publish/tasks/GenerateModuleMetadata.java
  version.txt
Labels: @core, from:member

#15473 Do not show deprecation stack traces in integration tests by default
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractAutoTestedSamplesTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/CachedPlatformScalaCompileIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
Labels: @execution, from:member

#15481 Remove deprecated IvyArtifactRepository.layout
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/IvyArtifactRepository.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/IvyPatternRepositoryLayout.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/RepositoryLayout.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @jvm, from:member, in:dependency-management

#15488 Fix exception being rethrown without context
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
Labels: a:bug, from:member, in:dependency-management

#15521 Improve error message in ivy repo validation
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationRepositoriesBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepositoryTest.groovy
Labels: @jvm, from:member, in:dependency-management

#15517 Ignore cacheability warnings in scheduling
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultNodeValidator.java
Labels: @execution, from:member

#15501 Update integration tests with included plugin builds to use the new API
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/AbstractCompositeBuildIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildNestingIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildPluginDevelopmentIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskExecutionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildServiceIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIncludedBuildChangesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/ErrorInWorkerSocketIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PluginVariantResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorCompositeBuildIntegrationTest.groovy
Labels: @idiomatic, from:member

#15514 Set a removal date and nag user about deprecation for the workaround for protobuf plugin compatibility
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
Labels: from:member, in:kotlin-dsl

#15516 Add missing getter on version catalogs container
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/DependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultDependencyResolutionManagement.java
Labels: @jvm, from:member, in:dependency-management

#15515 Add tests for inclusion order of settings plugin builds
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsOrderingIntegrationTest.groovy
Labels: @idiomatic, from:member

#15508 Restore binary compatibility with the protobuf plugin
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: a:bug, from:member, in:kotlin-dsl

#15499 Deincubate Eclipse-related classes and methods
  subprojects/docs/src/docs/release/notes.md
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/EclipseRuntime.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/EclipseWorkspace.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/EclipseWorkspaceProject.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/eclipse/RunClosedProjectBuildDependencies.java
Labels: a:chore, from:member

#15542 Dump threads upon integration timeout
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/ChainingHttpHandler.java
Labels: @dev-productivity, a:chore, from:member

#15460 Remove remaining experimental Kotlin language flags from the Kotlin DSL
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/TaskInternal.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/KotlinDslDependenciesExtensionIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc
  subprojects/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/kotlin/consumer/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/kotlin/consumer/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/kotlinDslPlugin/kotlin/buildSrc/build.gradle.kts
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginOptions.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinDslPluginSupport.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/ContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/DefaultContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/MessageRewritingBuildOperationAwareLogger.java
Labels: a:investigation, from:member, in:kotlin-dsl

#15454 Improve test coverage for value source providers with absent values
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
Labels: @configuration-cache, a:bug, from:member, in:configuration-cache

#15532 Document disabled execution optimizations for invalid work
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/more_about_tasks.adoc
  subprojects/docs/src/docs/userguide/running-builds/gradle_daemon.adoc
Labels: @execution

#15531 Revert "Resolve task properties when checking for mutations"
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/state/UpToDateIntegTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskOutputs.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskStateInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ResolveTaskExecutionModeExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultTaskProperties.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/GetOutputFilesVisitor.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNode.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ResolveTaskExecutionModeExecuterTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
Labels: @execution, from:member

#15519 Deincubate test output events
  subprojects/docs/src/docs/release/notes.md
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/OperationType.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/test/Destination.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/test/TestOutputDescriptor.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/events/test/TestOutputEvent.java
Labels: @idiomatic, a:chore, from:member

#15524 Fail build when consumer and producer task run in parallel
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/main/java/org/gradle/execution/plan/Node.java
Labels: @execution, from:member

#15586 Correct cache version mapping
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultClasspathTransformerCacheFactory.java
Labels: @dev-productivity, a:bug, from:member

#15570 Update Kotlin DSL Gradle plugin to 2.0.0
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.build-logic.kotlin-dsl-gradle-plugin.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, from:member, in:kotlin-dsl

#15590 `ktlintKotlinScriptCheck` should only check the build files
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.build-logic.kotlin-dsl-gradle-plugin.gradle.kts
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.kotlin-library.gradle.kts
Labels: @execution, from:member

#15596 Update Kotlin DSL Gradle plugin to 2.0.0
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.build-logic.kotlin-dsl-gradle-plugin.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache, a:chore, from:member, in:kotlin-dsl

#15581 Remove `ProjectLayout#configurableFiles`
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/test/groovy/org/gradle/api/file/FileCollectionSymlinkTest.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  subprojects/scala/src/test/groovy/org/gradle/api/plugins/scala/ScalaPluginTest.groovy
Labels: @configuration-cache, a:chore, from:member

#15564 Remove `TaskInternal.setLoggerMessageRewriter`
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/TaskInternal.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/ContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/DefaultContextAwareTaskLogger.java
Labels: a:chore, from:member, in:kotlin-dsl

#15593 Fix source of consistent resolution being eagerly resolved
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/consistency/ProjectLocalDependencyResolutionConsistencyIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/RootNode.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/RootLocalComponentMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/local/model/RootLocalComponentMetadataTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/DependencyResolvingClasspath.java
Labels: a:bug, from:member, in:dependency-management

#15592 Document missing dependency detection
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/more_about_tasks.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @execution, from:member

#15333 Add aws-java-sdk-sts dependency
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/resources-s3/build.gradle.kts
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3ErrorsIntegrationTest.groovy
Labels: @jvm, from:contributor, in:dependency-management

#15574 Deincubate `ExecOperations`
  subprojects/core-api/src/main/java/org/gradle/process/ExecOperations.java
  subprojects/docs/src/docs/release/notes.md
Labels: @configuration-cache, a:chore, from:member

#15571 Deincubate `ObjectFactory.fileProperty`, `fileCollection`, `directoryProperty` and `sourceDirectorySet`
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, from:member, in:core

#15609 Fix ResidualProgramCompiler compiling inside build directory
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeleteTaskIntegrationTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinScriptHost.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
Labels: @core

#15608 Upgrade test-distribution plugin to latest RC
  build-logic/build-platform/build.gradle.kts
  build-logic/jvm/build.gradle.kts
Labels: a:chore, from:member

#15610 Use mutable workspace provider for file dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformParallelIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationSubject.java
Labels: @execution, from:member

#15598 Remove `FileOperations` interface from `DefaultProject`
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
Labels: @configuration-cache, a:chore, from:member, in:core

#15612 Support Apple silicon natively
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
Labels: @execution, from:member

#15627 Do not register included build substitutions several times
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/AbstractPluginBuildIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/IncludedBuildDependencySubstitutionsBuilder.java
Labels: @idiomatic, a:bug, from:member, in:composite-builds

#15633 Fix excludes being ignored when using `available-at`
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/gmm/GradleModuleMetadataAvailableAtIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: a:bug, from:member, in:dependency-management

#15643 Do not share identity cache between builds
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformationWorkspaceServices.java
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AbstractRealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/FileSystemWatchingPerformanceTest.groovy
Labels: @execution, from:member

#15641 Turn deprecated AbstractTask usages into errors
  subprojects/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractTaskSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/TaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultRealizableTaskCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/EventFiringTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/tasks/ExecTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/tasks/SourceTaskTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractConventionTaskTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractSpockTaskTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractTaskTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/TaskPropertyTestUtils.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/internal/tooling/TasksFactoryTest.groovy
  subprojects/scala/src/test/groovy/org/gradle/api/tasks/scala/ScalaDocSpec.groovy
Labels: @configuration-cache, a:chore, from:member, in:core
