Repository gradle/gradle, pull requests merged in 2020-05, with the labels that each got.

#12987 Defer evaluation of functional types stored to the instant execution cache
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BeanCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/AbstractFunctionalTypeTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/AbstractUserTypeCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/CallableCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/FunctionCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/LazyCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/SerializableBeanCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/SupplierCodecTest.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/UserTypesCodecTest.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12994 Update tested AGP versions
  gradle/dependency-management/agp-versions.properties
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerKotlinCachingSmokeTest.groovy
Labels: @instant-execution, a:chore

#12635 Add support for recursive generic type in TypeInspector
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/TypeInspector.java
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/adapter/TypeInspectorTest.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/adapter/TypeInspectorTestHelper.java
Labels: @core, from:contributor

#13011 Upgrade to latest native platform version
  gradle/dependencies.gradle
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/DefaultFileWatcherRegistry.java
Labels: @build-cache, from:member

#12998 Remove no longer needed `FieldSetter` abstraction
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
Labels: @instant-execution, a:chore, from:member, in:instant-execution

#12950 Disable test when no includes found
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/BuildBucketProvider.kt
Labels: @dev-productivity, a:chore, from:member

#13008 Move task-with-arguments sample template to the sample directory
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/build-organization/task-with-arguments/common/project-info/src/main/java/com/example/ProjectInfoPlugin.java
  subprojects/docs/src/samples/build-organization/task-with-arguments/common/project-info/src/main/java/com/example/ProjectInfoTask.java
Labels: a:sample, from:member, in:docs

#12856 Set up timeout for DistributionLocatorIntegrationTest
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/DistributionLocatorIntegrationTest.groovy
Labels: @dev-productivity, a:chore, from:member

#13010 Annotate internal APIs used by test-distribution
  subprojects/base-annotations/src/main/java/org/gradle/internal/scan/NotUsedByScanPlugin.java
  subprojects/base-annotations/src/main/java/org/gradle/internal/scan/UsedByScanPlugin.java
  subprojects/base-services/src/main/java/org/gradle/initialization/BuildCancellationToken.java
  subprojects/base-services/src/main/java/org/gradle/internal/operations/CurrentBuildOperationRef.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskPropertyUtils.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/InputFilePropertyType.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/OutputFilePropertyType.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyValue.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyVisitor.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/PropertyWalker.java
  subprojects/files/src/main/java/org/gradle/internal/file/TreeType.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmVersionDetector.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/progress/ProgressLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/progress/ProgressLoggerFactory.java
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/PlaceholderException.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/ProcessEnvironment.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/VirtualFileSystem.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/AbstractTestDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestClassDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestOutputEvent.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestSuiteDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestCompleteEvent.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestExecuter.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestResultProcessor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestStartEvent.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilter.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/JvmTestExecutionSpec.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: a:chore, from:member

#13007 Account for null version constraint on selector
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/reproducibility/FailOnDynamicVersionsResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ResolvableSelectorState.java
Labels: @jvm, from:member, in:dependency-management

#13025 Fix metadata realization
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/MultiProjectDerivationStrategyIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultConfigurationMetadata.java
Labels: a:bug, from:member, in:dependency-management

#13027 Let instant execution capture Task.destroyables and Task.localState
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskExecutionIntegrationTest.groovy
Labels: from:member, in:instant-execution

#12975 Fix LifecyclePlugin
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/lifecycle/LifecyclePlugin.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/junitplatform/JUnitPlatformTestRewriter.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppIncrementalBuildIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestEnvironmentIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitCoverage.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitLoggingOutputCaptureIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/TestEnvironmentIntegrationTest/canRunTestsReferencingSlf4jWithModularJava/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/TestEnvironmentIntegrationTest/canRunTestsReferencingSlf4jWithModularJava/src/test/java/module-info.java
Labels: @dev-productivity, a:bug, from:member

#12952 Migrate build to JUnit5 Vintage engine
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/IntegrationTestsPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
  subprojects/docs/docs.gradle
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AbstractRealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildSlowPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/inception/GradleInceptionPerformanceTest.groovy
  subprojects/soak/soak.gradle.kts
  subprojects/test-kit/test-kit.gradle.kts
  subprojects/testing-jvm/testing-jvm.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#13003 Use native platform for stat by default
  buildSrc/subprojects/profiling/src/main/kotlin/gradlebuild/jmh.gradle.kts
  gradle/dependencies.gradle
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/AbstractFileWatcherRegistryFactory.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/DefaultFileWatcherRegistry.java
  subprojects/native/native.gradle.kts
  subprojects/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/NioFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/CommonFileSystemTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NioFileMetadataAccessorTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/NativeBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/nativeplatform/RealWorldNativePluginPerformanceTest.groovy
Labels: @build-cache, from:member

#13037 Let instant execution capture build cache configuration
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/BuildCacheLocalCacheIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheCleanupIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/rules/OverlappingOutputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractPathSensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskArchiveErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedRelocationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ReproducibleArchivesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/outputorigin/BuildCacheOutputOriginIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/SettingsInternal.java
  subprojects/core/src/main/java/org/gradle/caching/configuration/internal/BuildCacheConfigurationInternal.java
  subprojects/core/src/main/java/org/gradle/caching/configuration/internal/DefaultBuildCacheConfiguration.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/IncrementalJavaProjectBuildIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovySourceIncrementalCompilationIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/CachedJavaCompileIntegrationTest.groovy
Labels: @build-cache, from:member, in:instant-execution

#13023 Fix compile warnings in "ide"
  subprojects/ide/ide.gradle.kts
  subprojects/ide/src/main/java/org/gradle/plugins/ide/api/FileContentMerger.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/Classpath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseWtpComponent.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseWtpFacet.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/WtpComponent.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/SourceFoldersCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/IdeaPlugin.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaProject.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaWorkspace.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/Module.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/Project.java
Labels: @jvm, from:member

#13040 Set up US cache node url for US build agents
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/common/BuildCache.kt
  .teamcity/common/performance-test-extensions.kt
  gradle/build-cache-configuration.settings.gradle.kts
Labels: @dev-productivity, from:member

#12718 ScalaDoc task should support maxMemory argument
  subprojects/distributions/src/changes/accepted-public-api-changes.json
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.scala.ScalaDoc.xml
  subprojects/scala/scala.gradle.kts
  subprojects/scala/src/integTest/groovy/org/gradle/scala/scaladoc/ScalaDocIntegrationTest.groovy
  subprojects/scala/src/main/java/org/gradle/api/tasks/scala/ScalaDoc.java
  subprojects/scala/src/test/groovy/org/gradle/api/tasks/scala/ScalaDocSpec.groovy
Labels: @jvm, from:contributor, in:jvm-ecosystem

#13030 Don't write in RO dependency cache when parent POM is missing
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rocache/ParentPomsReadOnlyCacheDependencyResolutionTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ReadOnlyArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/ReadOnlyModuleArtifactCache.java
Labels: a:bug, from:member, in:dependency-management

#13048 Run docsTest as part of the functional test coverage
  .teamcity/Gradle_Check/model/GradleSubprojectProvider.kt
  .teamcity/subprojects.json
  .teamcityTest/Gradle_Check_Tests/CIConfigIntegrationTests.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/build/GenerateSubprojectsInfoPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/lifecycle/LifecyclePlugin.kt
  subprojects/docs/docs.gradle
Labels: a:chore, from:member

#13039 Polish stating code before adding symlink tracking
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultGenericFileTreeSnapshotter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingFileHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilderTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
  subprojects/files/src/main/java/org/gradle/internal/file/impl/DefaultFileMetadataSnapshot.java
  subprojects/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/NioFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessor.java
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/CommonFileSystemTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/AbstractFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NioFileMetadataAccessorTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
Labels: @build-cache, from:member

#13029 Use different source hash for absent metadata
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentMetadataRulesCachingIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/DefaultArtifactMetadataSource.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/MetadataSource.java
Labels: @jvm, from:member, in:dependency-management

#12894 Disallow the use of value source providers at configuration time unless explicitly opted-in
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/java/AvailableJavaInstallationsPlugin.kt
  buildSrc/subprojects/performance/src/main/groovy/gradlebuild.performance-templates.gradle
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  subprojects/core-api/src/main/java/org/gradle/api/file/FileContents.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/Property.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationDefaultsIntegrationTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/environment/BuildEnvironmentIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/GradleConfigurabilityIntegrationSpec.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ConfigurationTimeBarrier.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultConfigurationTimeBarrier.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ValueSourceProviderFactory.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/ValueSourceBasedSpec.groovy
  subprojects/smoke-test/smoke-test.gradle.kts
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13031 Do not watch symlinks
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildSymlinkHandlingIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactory.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultGenericFileTreeSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilder.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingFileHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingResourceHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/ZipHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilderTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/NonIncrementalInputChangesTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/AbstractFileWatcherUpdaterTest.groovy
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchRootUtilTest.groovy
  subprojects/files/src/main/java/org/gradle/internal/file/FileMetadataSnapshot.java
  subprojects/files/src/main/java/org/gradle/internal/file/impl/DefaultFileMetadataSnapshot.java
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/JavaSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/incremental/IncrementalCompileProcessorTest.groovy
  subprojects/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/NioFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessor.java
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/AbstractFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NioFileMetadataAccessorTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractCompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MerkleDirectorySnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/SnapshotCollectingDiffListener.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/overlap/impl/DefaultOverlappingOutputDetectorTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CompleteDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/MissingFileSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/RegularFileSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
Labels: @build-cache, from:member

#13063 Let instant execution serialize task destroyables and local state as file collections
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskDestroyables.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskLocalState.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskDestroyablesInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskLocalStateInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskPropertyUtils.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNode.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskDestroyablesTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
Labels: from:member, in:instant-execution

#13032 Let instant execution honour `Task.mustRunAfter`
  subprojects/core/src/integTest/groovy/org/gradle/api/FinalizerTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionParallelTaskExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionTaskExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/WorkNodeCodec.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskExecutionIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13072 Fix configuration of `:distributions:clean` task so it doesn't eagerly delete files
  subprojects/distributions/distributions.gradle.kts
Labels: a:bug, from:member, in:gradle-build

#13066 Only check for overlap root dir in file tree
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNode.java
Labels: @build-cache, from:member

#13065 Unify `FileMetadata` and `FileMetadataSnapshot`
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CachingFileHasher.java
  subprojects/core/src/main/java/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClasspathWalker.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultGenericFileTreeSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilder.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingFileHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingResourceHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/ZipHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilderTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/NonIncrementalInputChangesTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/AbstractFileWatcherUpdaterTest.groovy
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchRootUtilTest.groovy
  subprojects/files/src/main/java/org/gradle/internal/file/FileMetadata.java
  subprojects/files/src/main/java/org/gradle/internal/file/Stat.java
  subprojects/files/src/main/java/org/gradle/internal/file/impl/DefaultFileMetadata.java
  subprojects/language-native/src/test/groovy/org/gradle/language/nativeplatform/internal/incremental/IncrementalCompileProcessorTest.groovy
  subprojects/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/NioFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessor.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/GenericFileSystem.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessor.java
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/CommonFileSystemTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/AbstractFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/FallbackFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessorTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NioFileMetadataAccessorTest.groovy
  subprojects/resources/src/main/java/org/gradle/internal/resource/local/LocalFileStandInExternalResource.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractCompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileMetadata.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MerkleDirectorySnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/SnapshotCollectingDiffListener.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/overlap/impl/DefaultOverlappingOutputDetectorTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CompleteDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/MissingFileSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/RegularFileSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/AbstractVirtualFileSystemTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
Labels: @build-cache, from:member

#13089 Serialize `Task.cacheIf` specs to the instant execution cache
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/BuildResultLoggerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedPathSensitivityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/internal/packaging/BuildCacheEntryPackingIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#13085 Fix potential NPE if code is executed concurrently
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CleaningInMemoryCacheDecoratorFactory.java
Labels: @jvm, a:bug

#13068 Allow watching the root directory
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/WatchRootUtil.java
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdaterTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/SubstIntegrationTest.groovy
Labels: @build-cache, from:member

#13091 Serialize `Task.doNotCacheIf` specs to the instant execution cache
  subprojects/core/src/main/java/org/gradle/api/internal/lambdas/SerializableLambdas.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractCopyTask.java
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/CompilerForkUtils.java
  subprojects/plugins/src/main/java/org/gradle/api/internal/tasks/DefaultSourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13094 Use lazy task APIs in best practices Groovy snippets
  subprojects/docs/src/snippets/bestPractices/conditionalLogic-dont/groovy/build.gradle
  subprojects/docs/src/snippets/bestPractices/logicDuringConfiguration-do/groovy/build.gradle
  subprojects/docs/src/snippets/bestPractices/logicDuringConfiguration-dont/groovy/build.gradle
  subprojects/docs/src/snippets/bestPractices/taskDefinition/groovy/build.gradle
  subprojects/docs/src/snippets/bestPractices/taskGroupDescription/groovy/build.gradle
Labels: @core, a:chore, from:member, in:core, in:docs

#13006 Add a sample showing how credentials can be passed to an external tool via stdin
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/README.adoc
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/common/login.sh
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/groovy/build.gradle
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/groovy/settings.gradle
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/kotlin/build.gradle.kts
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/tests/commandLineCredentials.out
  subprojects/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/tests/commandLineCredentials.sample.conf
Labels: @core, a:sample, from:member, in:core, in:docs

#13086 Add `Building Scala Libraries`.
  README.md
Labels: from:contributor

#13087 Reduce scope of `withSystemProperty` lock around the Kotlin compiler
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: a:bug, a:performance-issue, from:member, in:kotlin-dsl

#13088 Clean up maven publishing module
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/PublishToIvyRepository.java
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/pom/DefaultMavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/pom/PomDependenciesConverter.java
  subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/wagon/RepositoryTransportDeployWagon.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/ValidatingMavenPublisher.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/tasks/MavenPomFileGenerator.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/AbstractPublishToMaven.java
Labels: @core, a:chore, from:member, in:core

#13098 Remove unthrown exception declarations and unneeded string escapes
  subprojects/security/src/main/java/org/gradle/plugins/signing/signatory/pgp/PgpSignatory.java
  subprojects/security/src/main/java/org/gradle/plugins/signing/signatory/pgp/PgpSignatoryFactory.java
Labels: @core, a:chore, from:member, in:core

#13097 Do not use System.console in signing documentation snippet
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/signing_plugin.adoc
Labels: @core, from:member, in:core, in:docs

#13099 Let instant execution preserve the order of execution of finalizer dependencies
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionParallelTaskExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/WorkNodeCodec.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskExecutionIntegrationTest.groovy
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#13102 Rebaseline `JavaInstantExecutionPerformanceTest`
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
Labels: @instant-execution, a:chore, a:performance-issue, from:member, in:instant-execution

#13101 Add test for removing the build dir
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @build-cache, from:member

#13111 Clarify ordering of FileTree
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileTree.java
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies.adoc
Labels: @jvm, from:member, in:dependency-management, in:docs

#13108 Ignore stacktraces from Kotlin compiler
  subprojects/internal-integ-testing/src/integTest/groovy/org/gradle/integtests/fixtures/executer/IgnoreKotlinCompilerWarningIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: @dev-productivity, a:chore, from:member

#13119 Fix potential NPE if code is executed concurrently
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CleaningInMemoryCacheDecoratorFactory.java
Labels: @jvm, a:bug, in:dependency-management

#13126 Fix race condition in DelegatingDiffCapturingUpdateFunctionDecorator
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/DelegatingDiffCapturingUpdateFunctionDecorator.java
Labels: @build-cache, from:member

#13109 Optimize `WorkNodeCodec`
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/WorkNodeCodec.kt
Labels: @instant-execution, a:feature, a:performance-issue, from:member, in:instant-execution

#13129 Move artifact transform related codecs to their own package
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/AbstractTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/ChainedTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/DefaultTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/InitialTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/LegacyTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/TransformationNodeReferenceCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/TransformationStepCodec.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskUpToDateIntegrationTest.groovy
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13124 Roll back setting main class in manifest
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecWithExecutableJarIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/ApplicationPlugin.java
Labels: @jvm, from:member, in:jvm-ecosystem

#13128 Fix file watching soak test
  subprojects/soak/src/integTest/groovy/org/gradle/vfs/VirtualFileSystemRetentionSoakTest.groovy
Labels: @build-cache, from:member

#13146 Fix or explain configuration cache failures in a bunch of integration tests
  subprojects/base-services/src/integTest/groovy/org/gradle/internal/operations/BuildOperationExecutorIntegrationTest.groovy
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CommandLineIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/MixedLegacyAndComponentJvmPluginIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/configuration/ExecuteDomainObjectCollectionCallbackBuildOperationTypeIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/environment/BuildEnvironmentIntegrationTest.groovy
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/CommandLineIntegrationTest/shared/build.gradle
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaAnnotationProcessingCompileAvoidanceIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocWorkAvoidanceIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/CustomComponentJarBinariesIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JarBinaryTypeVariantsTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaCompilationAgainstApiJarIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaCompilationAgainstDependenciesIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaJvmAssemblyIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageCustomLibraryDependencyResolutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageDependencyResolutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageExternalDependencyResolutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageIncrementalBuildIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaLanguageIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaSourceSetIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JvmApiSpecIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/MultipleBinaryTypesWithVariantsTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/SingleBinaryTypeWithVariantsTest.groovy
  subprojects/language-jvm/src/integTest/groovy/org/gradle/language/jvm/JvmResourcesPluginIntegrationTest.groovy
  subprojects/language-jvm/src/integTest/groovy/org/gradle/language/jvm/ResourceOnlyJvmLibraryIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/BuildEnvironmentIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/ProcessCrashHandlingIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecatedUsageBuildOperationProgressIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/AbstractConsoleConfigurationProgressFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/ConsoleTypePersistIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleCompositeBuildGroupedTaskFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleGradleBuildGroupedTaskFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractLoggingHooksFunctionalTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  subprojects/platform-base/src/integTest/groovy/org/gradle/language/base/ComponentModelIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaProjectModelBridgingIntegrationTest.groovy
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/TestExecutionBuildOperationsIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskJvmArgsProviderIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorCompositeBuildIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperProjectIntegrationTest.groovy
Labels: @instant-execution, from:member

#13100 Make provider support in manifest consistent
  subprojects/platform-jvm/src/main/java/org/gradle/api/java/archives/internal/DefaultManifest.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/api/java/archives/internal/DefaultManifestTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem

#13095 Clarify password handling best practice documentation section
  subprojects/docs/src/docs/userguide/authoring-builds/authoring_maintainable_build_scripts.adoc
Labels: @core, from:member, in:core, in:docs

#13084 Add a build option for watching the file system
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemBuildLifecycleListener.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
  subprojects/file-watching/file-watching.gradle.kts
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/VfsRetentionHelper.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/action/BuildActionSerializer.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/cli/BuildActionSerializerTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
Labels: @build-cache, from:member

#13083 Improve a little bit the userguide for incremental annotation processing
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
  subprojects/docs/src/snippets/java/incrementalAnnotationProcessing/groovy/processor/src/main/java/org/gradle/EntityProcessor.java
  subprojects/docs/src/snippets/java/incrementalAnnotationProcessing/groovy/processor/src/main/java/org/gradle/ServiceRegistryProcessor.java
  subprojects/docs/src/snippets/java/incrementalAnnotationProcessing/groovy/processor/src/main/resources/META-INF/gradle/incremental.annotation.processors
  subprojects/docs/src/snippets/java/incrementalAnnotationProcessing/groovy/processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
Labels: @jvm, from:contributor, in:docs, in:jvm-ecosystem

#13143 Update to newer native platform snapshot
  gradle/dependencies.gradle
Labels: @build-cache, from:member

#13139 De-incubate Java 13 and 14 enum values
  subprojects/base-services/src/main/java/org/gradle/api/JavaVersion.java
Labels: @jvm, from:member, in:core

#13153 Add inputs for sample tests
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  subprojects/ide-native/ide-native.gradle.kts
  subprojects/ide/ide.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractAutoTestedSamplesTest.groovy
  subprojects/ivy/ivy.gradle.kts
  subprojects/language-java/language-java.gradle.kts
  subprojects/language-native/language-native.gradle.kts
  subprojects/maven/maven.gradle.kts
  subprojects/platform-base/platform-base.gradle.kts
  subprojects/platform-jvm/platform-jvm.gradle.kts
  subprojects/platform-native/platform-native.gradle.kts
  subprojects/platform-play/platform-play.gradle.kts
  subprojects/plugin-development/plugin-development.gradle.kts
  subprojects/plugins/plugins.gradle.kts
  subprojects/publish/publish.gradle.kts
  subprojects/samples/samples.gradle.kts
  subprojects/scala/scala.gradle.kts
  subprojects/signing/signing.gradle.kts
  subprojects/testing-base/testing-base.gradle.kts
  subprojects/testing-jvm/testing-jvm.gradle.kts
  subprojects/tooling-api/tooling-api.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#13002 EclipseDependenciesCreator: Check type before casting
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
Labels: @jvm, a:bug, from:member, in:eclipse-plugin

#12986 Cleanup IDEA configuration of gradle/gradle build
  buildSrc/subprojects/ide/ide.gradle.kts
  buildSrc/subprojects/ide/src/main/kotlin/org/gradle/gradlebuild/ide/IdePlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
Labels: @jvm, from:member, in:gradle-build

#13159 Upgradle to latest nightly
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: @build-cache, from:member

#13163 Fix slack invitation link in README
  README.md
Labels: @jvm, from:member

#12897 Detect long command lines properly for Linux
  subprojects/core/src/main/java/org/gradle/process/internal/util/LongCommandLineDetectionUtil.java
Labels: @core, from:contributor

#13054 Sample showing how publishing credentials can be provided using Gradle properties
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/README.adoc
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/common/maven-repository-stub/src/main/java/com/example/MavenRepositoryStub.java
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/groovy/build.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/groovy/maven-repository-stub/build.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/groovy/maven-repository-stub/settings.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/groovy/maven-repository-stub/src/main/groovy/maven-repository-stub.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/groovy/settings.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/kotlin/build.gradle.kts
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/kotlin/maven-repository-stub/build.gradle.kts
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/kotlin/maven-repository-stub/settings.gradle.kts
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/kotlin/maven-repository-stub/src/main/kotlin/maven-repository-stub.gradle.kts
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/tests/publishCommandLineCredentials.sample.conf
  subprojects/docs/src/samples/templates/precompiled-script-plugin-utils/src/main/java/com/example/ReadmeVerificationTask.java
  subprojects/publish/src/integTest/groovy/org/gradle/api/publish/AutoTestedSamplesPublishIntegrationTest.groovy
Labels: @core, a:sample, from:member, in:core, in:docs

#13127 Do not watch project dir when nothing left to watch
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemBuildLifecycleListener.java
  subprojects/file-watching/file-watching.gradle.kts
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/FileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/WatchingAwareVirtualFileSystem.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/NonWatchingVirtualFileSystem.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/AbstractFileWatcherUpdaterTest.groovy
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdaterTest.groovy
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdaterTest.groovy
Labels: @build-cache, from:member

#13140 Resolve unstable dependency resolution ordering
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/VirtualPlatformState.java
Labels: @jvm, from:member, in:dependency-management

#13166 Move `isWatchFileSystem` to StartParameterInternal
  buildSrc/subprojects/profiling/src/main/kotlin/org/gradle/gradlebuild/profiling/buildscan/BuildScanPlugin.kt
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemBuildLifecycleListener.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
Labels: @build-cache, from:member

#13172 Mention file watching in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: @build-cache

#13141 Add build options for the configuration cache
  subprojects/build-events/build-events.gradle.kts
  subprojects/build-events/src/integTest/groovy/org/gradle/build/event/BuildEventsIntegrationTest.groovy
  subprojects/build-option/src/main/java/org/gradle/internal/buildoption/IntegerBuildOption.java
  subprojects/build-option/src/test/groovy/org/gradle/internal/buildoption/IntegerBuildOptionTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/AbstractInstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionClassLoaderCachingIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionCompositeBuildsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionEnablingIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJacocoIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionSkipCacheIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionToolingApiInvocationIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/inputs/undeclared/AbstractUndeclaredBuildInputsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionException.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/SystemProperties.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionStartParameter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/problems/ProblemsSummary.kt
  subprojects/internal-integ-testing/internal-integ-testing.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/InstantExecutionRunner.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InstantExecutionGradleExecuter.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/instantexecution/InstantExecutionProblemsFixture.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/action/BuildActionSerializer.java
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaInstantExecutionPerformanceTest.groovy
  subprojects/smoke-test/smoke-test.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildInstantExecutionSmokeTest.groovy
Labels: @instant-execution, from:member, in:core

#13171 Fix internal documentation link
  subprojects/docs/src/docs/userguide/authoring-builds/authoring_maintainable_build_scripts.adoc
Labels: from:member, in:docs

#13167 Fix more issues for distributed test
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ScriptExecuter.groovy
  subprojects/kotlin-dsl-integ-tests/kotlin-dsl-integ-tests.gradle.kts
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/platform-play/src/testFixtures/groovy/org/gradle/play/integtest/fixtures/DistributionTestExecHandleBuilder.groovy
  subprojects/plugin-development/plugin-development.gradle.kts
  subprojects/tooling-api/tooling-api.gradle.kts
  subprojects/wrapper/wrapper.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#13156 Don't rely only project root .git in tests
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/BuildEnvironment.kt
  buildSrc/subprojects/performance/src/main/groovy/org/gradle/testing/DefaultPerformanceReporter.groovy
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/DetermineBaselines.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/performance/PerformanceTestPlugin.kt
  buildSrc/subprojects/plugins/src/test/groovy/org/gradle/plugins/performance/PerformanceTestIntegrationTest.groovy
  buildSrc/subprojects/plugins/src/test/kotlin/org/gradle/plugins/performance/DetermineBaselinesTest.kt
  buildSrc/subprojects/versioning/src/main/kotlin/org/gradle/gradlebuild/versioning/UpdateBranchStatus.kt
  buildSrc/subprojects/versioning/src/main/kotlin/versioning-extensions.kt
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
  subprojects/distributions/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
  subprojects/integ-test/integ-test.gradle.kts
  subprojects/internal-performance-testing/internal-performance-testing.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/util/Git.groovy
Labels: @dev-productivity, a:chore, from:member

#13182 Fix precompiled plugin groovy tests for Java 14
  subprojects/docs/src/samples/templates/precompiled-script-plugin-groovy/src/test/groovy/com/example/LibraryPluginTest.groovy
  subprojects/docs/src/samples/templates/precompiled-script-plugin-groovy/src/test/groovy/com/example/ServicePluginTest.groovy
Labels: @core, from:member, in:core

#13165 Use correct ReplacedBy annotations
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaApplication.java
Labels: @jvm, from:member, in:jvm-ecosystem

#13179 Move configuration cache state dir and report to their new home
  subprojects/instant-execution-report/instant-execution-report.gradle.kts
  subprojects/instant-execution-report/src/main/kotlin/InstantExecutionReportPage.kt
  subprojects/instant-execution-report/src/main/kotlin/Main.kt
  subprojects/instant-execution-report/src/main/resources/configuration-cache-report.css
  subprojects/instant-execution-report/src/main/resources/configuration-cache-report.html
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionCompositeBuildsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJacocoIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionScriptTaskDefinitionIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/UserTypesCodecTest.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/instantexecution/InstantExecutionProblemsFixture.groovy
Labels: @instant-execution, from:member, in:instant-execution

#13176 Documentation for testing the configuration cache with TestKit
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/docs/src/snippets/configurationCache/testKit/groovy/build.gradle
  subprojects/docs/src/snippets/configurationCache/testKit/groovy/settings.gradle
  subprojects/docs/src/snippets/configurationCache/testKit/groovy/src/main/groovy/org/example/MyPlugin.groovy
  subprojects/docs/src/snippets/configurationCache/testKit/groovy/src/main/groovy/org/example/MyTask.groovy
  subprojects/docs/src/snippets/configurationCache/testKit/groovy/src/test/groovy/org/example/BuildLogicFunctionalTest.groovy
  subprojects/docs/src/snippets/configurationCache/testKit/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/configurationCache/testKit/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/configurationCache/testKit/kotlin/src/main/kotlin/org/example/MyTask.kt
  subprojects/docs/src/snippets/configurationCache/testKit/kotlin/src/main/kotlin/org/example/my-plugin.gradle.kts
  subprojects/docs/src/snippets/configurationCache/testKit/kotlin/src/test/kotlin/org/example/BuildLogicFunctionalTest.kt
  subprojects/docs/src/snippets/configurationCache/testKit/tests/configurationCacheTestKit.sample.conf
Labels: @instant-execution, from:member

#13183 Fix AbstractSmokeTest generated api jar path handling
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, from:member

#13174 Re-enable publishing credentials sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/credentials-handling/publishing-credentials/common/maven-repository-stub/src/main/java/com/example/MavenRepositoryStub.java
Labels: @core, from:member, in:core

#13190 Fix listener leak in `InstantExecutionCacheFinterprintController`
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#13187 Fix snippets testing
  subprojects/docs/docs.gradle
  subprojects/docs/src/snippets/artifacts/maven/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/base/distribution/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-forceForDependency/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/java-feature-variant/incompatible-variants/tests/compileClasspath.out
  subprojects/docs/src/snippets/java-feature-variant/incompatible-variants/tests/runtimeClasspath.out
  subprojects/docs/src/snippets/java-feature-variant/requiring-features-external/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/java-library/multiproject/groovy/app/build.gradle
  subprojects/docs/src/snippets/java-library/multiproject/groovy/app/src/main/java/org/gradle/samples/app/Main.java
  subprojects/docs/src/snippets/java-library/multiproject/groovy/build.gradle
  subprojects/docs/src/snippets/java-library/multiproject/groovy/core/build.gradle
  subprojects/docs/src/snippets/java-library/multiproject/groovy/core/src/main/java/org/gradle/samples/core/Person.java
  subprojects/docs/src/snippets/java-library/multiproject/groovy/settings.gradle
  subprojects/docs/src/snippets/java-library/multiproject/groovy/utils/build.gradle
  subprojects/docs/src/snippets/java-library/multiproject/groovy/utils/src/main/java/org/gradle/samples/utils/PersonUtils.java
  subprojects/docs/src/snippets/java-library/multiproject/readme.xml
  subprojects/docs/src/snippets/jvmComponents/scala/groovy/build.gradle
  subprojects/docs/src/snippets/jvmComponents/scala/groovy/settings.gradle
  subprojects/docs/src/snippets/jvmComponents/scala/groovy/src/main/scala/org/gradle/samples/Greeter.scala
  subprojects/docs/src/snippets/jvmComponents/scala/groovy/src/main/scala/org/gradle/samples/HelloWorld.scala
  subprojects/docs/src/snippets/jvmComponents/scala/groovy/src/main/scala/org/gradle/samples/Person.java
  subprojects/docs/src/snippets/maven/pomGeneration/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/maven/quickstart/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/mavenMigration/importBom/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/play/advanced/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/play/advanced/tests/specifyPlayVersion.sample.conf
  subprojects/docs/src/snippets/play/basic/tests/playComponentReport.sample.conf
  subprojects/docs/src/snippets/play/basic/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/play/multiproject/tests/playMultiProjectDependencies.sample.conf
  subprojects/docs/src/snippets/play/multiproject/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/signing/maven/tests/sanityCheck.sample.conf
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/SampleScalaLanguageIntegrationTest.groovy
Labels: @jvm, from:member, in:docs

#13138 Fix potential NPE in NodeState exclude management
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PotentialEdge.java
Labels: @jvm, from:member, in:dependency-management

#13191 Update to native platform 0.22-milestone-3
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
Labels: @build-cache, from:member

#13192 Document watching the file system in the user manual (first stab)
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/docs/src/docs/userguide/running-builds/gradle_daemon.adoc
Labels: @build-cache, from:member

#13161 Avoid resolving a repository url eagerly
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoryContentFilteringIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/AbstractArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenRepositoryContentDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptorTest.groovy
Labels: @jvm, from:member, in:dependency-management

#13186 Fix TestReport task for configuration caching
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/java/SamplesJavaTestingIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/TestReport.java
Labels: @instant-execution, from:member, in:testing

#13188 Detect special multicause exceptions
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/HtmlTestExecutionResult.groovy
  subprojects/messaging/messaging.gradle.kts
  subprojects/messaging/src/integTest/groovy/org/gradle/internal/serialize/ExceptionPlaceholderIntegrationTest.groovy
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/ExceptionPlaceholder.java
Labels: @jvm, a:bug, from:member, in:jvm-ecosystem

#13194 Remove @ToBeFixedForInstantExecution on a bunch of tests
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossBuildScriptCachingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ExternalScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/HttpScriptPluginIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/PluginDetectionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/GradleUserHomeCleanupServiceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/groovy/scripts/StatementLabelsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcVisibilityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/layout/ProjectCacheDirIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/plugin/ScriptPluginClassLoadingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/DefaultArtifactCacheLockingManagerIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/BuildScriptClasspathIntegrationTest.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ProjectLoadingIntegrationTest.java
  subprojects/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftMissingToolchainIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonReuseIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/ResolvedGeneratedJarsIntegrationTest.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/CorePluginUseIntegrationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/PluginUseDslIntegrationSpec.groovy
Labels: @instant-execution, from:member

#13213 More documentation for the configuration cache
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
Labels: @instant-execution, from:member, in:docs

#13219 Improve watching the file-system docs
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/docs/src/docs/userguide/running-builds/gradle_daemon.adoc
Labels: @build-cache, from:member

#13216 Add task to run embedded Gradle
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/GradleDistributionPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/fixtures/RunEmbeddedGradle.kt
Labels: @dev-productivity, from:member

#13221 Update feature preview name
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/CachingVersionSelectorScheme.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionSelectorScheme.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparatorWithUpdateKeywordsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/VersionRangeSelectorTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/FeaturePreviewsFixture.groovy
Labels: @jvm, from:member, in:dependency-management

#13223 Use command line flag for file-system watching build comparison
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
Labels: @build-cache, from:member

#13211 Add license check to contributor checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: from:member

#13193 Add support for "useful NPE messages"
  subprojects/messaging/src/main/java/org/gradle/internal/serialize/ExceptionPlaceholder.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestingIntegrationTest.groovy
Labels: @jvm, a:bug, from:member

#13227 Remove security plugin from our build
  build.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/gradlebuild/security.gradle.kts
Labels: @jvm, from:member

#13228 Report task execution listeners as configuration cache problems
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationTypeIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskEventsErrorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionProblemReportingIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ChangesDuringBuildContinuousIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ContinuousBuildChangeReportingIntegrationTest.groovy
Labels: @instant-execution, from:member

#13231 Fix link to configuration cache in ValueSource javadoc
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
Labels: @instant-execution, from:member

#13225 Make build compatible with git worktrees
  buildSrc/build.gradle.kts
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/shared-configuration.kt
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/unittestandcompile/UnitTestAndCompilePlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  subprojects/architecture-test/architecture-test.gradle.kts
Labels: a:feature, from:member, in:gradle-build

#13232 Use RegularFileProperty instead of Property<File>
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyLockingHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyLockingProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/LockFileReaderWriter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/NoOpDependencyLockingProvider.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DefaultDependencyLockingProviderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/LockFileReaderWriterTest.groovy
Labels: @jvm, from:member, in:dependency-management

#13233 Extract state write/read from DefaultInstantExecution
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionState.kt
Labels: from:member, in:instant-execution

#13237 Serialize `Transform.fromAttributes` to the configuration cache
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/DisambiguateArtifactTransformIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/AttributeContainerCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/DefaultTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/LegacyTransformerCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/AbstractUserTypeCodecTest.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13226 Setup timeout monitor for all CI builds
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/IntegrationTest.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/lifecycle/LifecyclePlugin.kt
Labels: @dev-productivity, a:chore, from:member

#13247 Fix location of `module-info.java`
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
Labels: @jvm

#13240 Serialize transformer input normalizers and cacheable flag
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/AttributeContainerCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/DefaultTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/LegacyTransformerCodec.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#13239 Report included build unsupported on configuration cache load
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionCompositeBuildsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionState.kt
Labels: from:member, in:instant-execution

#13250 Add support for test `@DisplayName`
  gradle/dependencies.gradle
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/DefaultTestExecutionResult.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/JUnitTestClassExecutionResult.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/JUnitXmlTestExecutionResult.groovy
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/AbstractTestDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestClassDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestDescriptor.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestDescriptorInternal.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriter.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestClassResult.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/UnknownTestDescriptor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriterSpec.groovy
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestExecutionListener.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitMultiVersionIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformSampleIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junitplatform/JUnitPlatformUserGuideIntegrationTest.groovy
Labels: from:contributor, in:jvm-ecosystem, in:testing

#13254 Some refinements in the configuration cache documentation
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @instant-execution, from:member

#12598 Wrapper HTTPS proxy authentication
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories.adoc
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperHttpIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperHttpsIntegrationTest.groovy
  subprojects/wrapper/src/main/java/org/gradle/wrapper/Download.java
Labels: @core, from:contributor, waiting-for:contributor

#13244 Separate soak test
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/lifecycle/LifecyclePlugin.kt
Labels: @dev-productivity, a:chore, from:member

#13260 Improve configuration cache test coverage for transform actions
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionDependencyResolutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/AttributeContainerCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/AbstractTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/ChainedTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/DefaultTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/InitialTransformationNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/LegacyTransformerCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/transform/TransformationStepCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/AbstractUserTypeCodecTest.kt
Labels: @configuration-cache, a:feature, from:member, in:configuration-cache

#13271 Add file-system watching troubleshooting to user manual
  subprojects/docs/src/docs/userguide/running-builds/gradle_daemon.adoc
Labels: @build-cache, from:member

#13280 Let zipTree() and tarTree() be available on injected service
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/ProjectLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultProjectLayoutTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: @configuration-cache, from:member, in:core

#13229 Implement configuration cache cleanup
  .teamcity/subprojects.json
  subprojects/instant-execution/instant-execution.gradle.kts
  subprojects/instant-execution/src/crossVersionTest/groovy/org/gradle/instantexecution/InstantExecutionCacheCrossVersionTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionCacheCleanupIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionCache.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionCacheInvalidation.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionStartParameter.kt
Labels: @configuration-cache, from:member

#13282 Don't require a JS engine to verify the configuration cache problems report
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJacocoIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/instantexecution/InstantExecutionProblemsFixture.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
Labels: @configuration-cache, a:chore, from:member, in:configuration-cache

#13290 Rename `InstantExecutionCache{Invalidation => Key}`
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionCacheKey.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionReport.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
Labels: @configuration-cache, a:chore, from:member, in:configuration-cache
