Repository gradle/gradle, pull requests merged in 2020-11, with the labels that each got.

#15045 Add intro to toolchain section
  subprojects/docs/src/docs/release/notes.md
Labels: @jvm, from:member

#14965 Detect task cycles caused by finalizedBy nodes
  subprojects/core/src/integTest/groovy/org/gradle/api/FinalizerTaskIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskExecutionIntegrationTest.groovy
Labels: @core, @idiomatic, from:member, in:core

#15054 Fix end tags in normalization Kotlin samples
  subprojects/docs/src/snippets/tasks/inputNormalizationMetaInf/kotlin/build.gradle.kts
Labels: a:chore, from:member, in:docs

#15063 Make sure the dependencies model supports no version
  subprojects/core-api/src/main/java/org/gradle/api/initialization/dsl/DependenciesModelBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/std/TomlDependenciesFileParser.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/std/TomlDependenciesFileParserTest.groovy
  subprojects/core/src/test/resources/org/gradle/api/internal/std/without-version.toml
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesModelBuilder.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/std/DefaultDependenciesModelBuilderTest.groovy
Labels: @jvm, from:member, in:dependency-management

#15074 Do not require implementation to be specified for a unit of work
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
Labels: @execution, from:member

#14926 Do not cleanup immutable workspace identity cache
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/AbstractCrossBuildInMemoryCacheTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/CacheRetainingDataFromPreviousBuildTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactoryTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/TestCrossBuildInMemoryCacheFactory.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformParallelIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformationWorkspaceProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/MutableTransformationWorkspaceProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationWorkspaceProvider.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TestTransformationWorkspaceProvider.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/DeferredExecutionAwareStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/ExecutionEngine.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultExecutionEngine.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentifyStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentityCacheStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/IdentityCacheStepTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/ManualEvictionInMemoryCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CrossBuildInMemoryCacheFactory.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/ManualEvictionInMemoryCacheTest.groovy
Labels: @execution, from:member

#15079 Simplify workspace allocation in execution engine
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformationWorkspaceProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformationWorkspaceServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/MutableTransformationWorkspaceServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationWorkspaceServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesAccessors.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DependenciesAccessorsWorkspaceProvider.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TestTransformationWorkspaceServices.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/WorkspaceContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/AssignWorkspaceStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/LoadExecutionStateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveCachingStateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveChangesStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveInputChangesStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/SkipEmptyWorkStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/StoreExecutionStateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/workspace/WorkspaceProvider.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/workspace/impl/DefaultImmutableWorkspaceProvider.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/AssignWorkspaceStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipEmptyWorkStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/StoreExecutionStateStepTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/KotlinDslWorkspaceProvider.kt
Labels: @execution, from:member

#15067 Address review feedback for https://github.com/gradle/gradle/pull/15052
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CachingFileHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournal.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/DefaultResourceSnapshotterCacheService.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/CrossBuildInMemoryCachingScriptClassCache.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/TestGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/TestInMemoryCacheFactory.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/TestInMemoryPersistentIndexedCache.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/CachingFileHasherTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultFileAccessTimeJournalTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/changedetection/state/DefaultResourceSnapshotterCacheServiceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/AbstractCrossBuildInMemoryCacheTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/DefaultFileContentCacheFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinterTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/TestCrossBuildInMemoryCacheFactory.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ReadOnlyArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/WritableArtifactCacheLockingManager.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/PersistentModuleMetadataCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/DefaultModuleArtifactsCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/dynamicversions/DefaultModuleVersionsCache.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/signatures/CrossBuildCachingKeyService.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/signatures/CrossBuildSignatureVerificationService.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resolve/caching/CrossBuildCachingRuleExecutor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/cached/AbstractCachedIndex.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheLockingManagerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/artifacts/DefaultModuleArtifactCacheTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/caching/ComponentMetadataRuleExecutorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/caching/ComponentMetadataSupplierRuleExecutorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resolve/caching/CrossBuildCachingRuleExecutorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/cached/AbstractCachedIndexTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/ivyservice/ArtifactCacheLockingManagerStub.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultExecutionHistoryStore.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepository.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentityCacheStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepositoryTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassloadingCache.kt
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/DefaultClasspathEntrySnapshotCache.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/SplitClasspathEntrySnapshotCache.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/PreviousCompilationStore.java
  subprojects/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/DefaultCompilationStateCacheFactory.java
  subprojects/language-scala/src/main/java/org/gradle/api/internal/tasks/scala/ZincScalaCompiler.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/Cache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/ManualEvictionInMemoryCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/PersistentIndexedCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/AsyncCacheAccessDecoratedCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CacheAccessSerializer.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CacheSupport.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CrossProcessSynchronizingCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultMultiProcessSafePersistentIndexedCache.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/MinimalPersistentCache.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/ManualEvictionInMemoryCacheTest.groovy
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheAccessTest.groovy
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/InMemoryCacheDecoratorFactoryTest.groovy
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/MultiProcessSafePersistentIndexedCacheTest.groovy
  subprojects/version-control/src/main/java/org/gradle/vcs/internal/resolver/PersistentVcsMetadataCache.java
Labels: @execution, from:member

#15099 Ignore stacktraces from Jetty
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: from:member, in:dependency-management

#15077 Refactor towards new metadata service
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/JdkDeclarationIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/services/PlatformJvmServices.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/plugins/JvmComponentPlugin.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistry.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaInstallationProbe.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainFactory.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistryTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaInstallationProbeTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ShowToolchainsTaskTest.groovy
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
Labels: @jvm, from:member

#15083 Polish execution engine invocation API
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesAccessors.java
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/DeferredExecutionAwareStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/DeferredExecutionHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/ExecutionEngine.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultExecutionEngine.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentifyStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentityCacheStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/IdentityCacheStepTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
Labels: @execution, from:member

#15096 Upgrade to test Kotlin 1.4.20-RC and AGP 4.2.0-alpha16
  gradle/dependency-management/agp-versions.properties
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: @execution, from:member

#15103 Fix detecting installations using macos layout
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistry.java
  subprojects/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistryTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: @jvm, from:member

#15082 Include configured option in toolchains report
  subprojects/docs/src/docs/release/notes.md
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/task/ShowToolchainsTask.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ShowToolchainsTaskTest.groovy
Labels: @jvm, from:member

#15091 Alternate implementation for bundle and version accessors
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/DependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/AbstractExternalDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultDependenciesModelBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DependenciesSourceGenerator.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/std/DefaultDependenciesModelBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/std/DependenciesSourceGeneratorTest.groovy
Labels: @jvm, from:member, in:dependency-management

#14894 Addressing tasks in included builds
  subprojects/base-services/src/main/java/org/gradle/util/Path.java
  subprojects/base-services/src/test/groovy/org/gradle/util/PathTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/CompositeAwareTaskSelector.java
  subprojects/core/src/main/java/org/gradle/execution/DefaultTaskSelector.java
  subprojects/core/src/main/java/org/gradle/execution/TaskNameResolvingBuildConfigurationAction.java
  subprojects/core/src/main/java/org/gradle/execution/TaskSelection.java
  subprojects/core/src/main/java/org/gradle/execution/TaskSelector.java
  subprojects/core/src/main/java/org/gradle/execution/commandline/CommandLineTaskParser.java
  subprojects/core/src/main/java/org/gradle/execution/taskpath/TaskPathResolver.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/core/src/test/groovy/org/gradle/execution/DefaultTaskSelectorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/ExcludedTaskFilteringBuildConfigurationActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/TaskNameResolvingBuildConfigurationActionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/commandline/CommandLineTaskConfigurerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/commandline/CommandLineTaskParserSpec.groovy
  subprojects/diagnostics/src/main/java/org/gradle/configuration/Help.java
  subprojects/diagnostics/src/main/java/org/gradle/configuration/TaskDetailPrinter.java
  subprojects/docs/src/docs/release/notes.md
Labels: @idiomatic, from:member

#15041 Deprecate explicit included build task references using mustRunAfter, shouldRunAfter and finalizedBy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildDependencyCycleIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskLifecycleIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @idiomatic, from:member, in:composite-builds

#14997 Fallback to recompiling Kotlin scripts when classpath has public inline methods
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScriptCompileAvoidanceIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinApiClassExtractor.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/normalization/KotlinApiClassExtractorTest.kt
Labels: @idiomatic, from:member, in:kotlin-dsl

#15105 Introduce connection pool to performance database
  buildSrc/subprojects/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/internal-performance-testing/build.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceDatabase.java
Labels: @dev-productivity, from:member

#15108 Refactor AvailableJavaHomes to use new metadata format
  subprojects/base-services/src/main/java/org/gradle/internal/jvm/Jre.java
  subprojects/base-services/src/main/java/org/gradle/internal/jvm/Jvm.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/jvm/JvmTest.groovy
  subprojects/internal-integ-testing/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/JvmInstallation.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetector.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadata.java
  subprojects/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/plugins/JvmComponentPlugin.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistry.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/task/ShowToolchainsTask.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/task/ToolchainReportRenderer.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildConfigurationCacheSmokeTest.groovy
  subprojects/soak/build.gradle.kts
  subprojects/soak/src/integTest/groovy/org/gradle/launcher/daemon/DaemonPerformanceMonitoringCoverage.groovy
  subprojects/soak/src/testFixtures/groovy/org/gradle/launcher/daemon/fixtures/DaemonMultiJdkIntegrationTest.groovy
  subprojects/soak/src/testFixtures/groovy/org/gradle/launcher/daemon/fixtures/FullyQualifiedGarbageCollector.groovy
  subprojects/soak/src/testFixtures/groovy/org/gradle/launcher/daemon/fixtures/JdkVendor.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m9/GradlePropertiesToolingApiCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/m9/M9JavaConfigurabilityCrossVersionSpec.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonIntegrationTest.groovy
  subprojects/workers/src/testFixtures/groovy/org/gradle/workers/fixtures/OptionsVerifier.groovy
Labels: @jvm, from:member

#15124 skipStackTrace for flaky Jetty stacktrace
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: @dev-productivity, from:member

#15028 Review test coverage for composite builds configuration caching
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/internal/WrapperPluginAutoApplyActionIntegTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildCommandLineArgsIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildPluginDevelopmentIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeContinuousBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/UndefinedBuildExecutionIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/plugins/HelpTasksPluginIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/TaskReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/components/ComponentReport.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependents/DependentComponentsReport.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/model/ModelReport.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/AbstractDependencyReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/AbstractReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/BuildEnvironmentReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ProjectBasedReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ProjectReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/PropertyReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/TaskReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/AggregateMultiProjectTaskReportModel.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/DefaultGroupTaskReportModel.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ProjectDetails.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ReportGenerator.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ReportRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/RuleDetails.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/SingleProjectTaskReportModel.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/TaskDetails.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/TaskDetailsFactory.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/TaskReportRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/TextReportRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/dependencies/AsciiDependencyReportRenderer.java
  subprojects/diagnostics/src/test/groovy/org/gradle/api/reporting/components/internal/ComponentReportRendererTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/AbstractReportTaskTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/DefaultGroupTaskReportModelTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/ReportGeneratorTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/SingleProjectTaskReportModelTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/TaskDetailsFactoryTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/TaskReportRendererTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/TextReportRendererSpec.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/dependencies/AsciiDependencyReportRendererTest.groovy
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.diagnostics.ProjectBasedReportTask.xml
  subprojects/ide-play/src/integTest/groovy/org/gradle/play/plugins/ide/PlayIdePluginIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishHttpIntegTest.groovy
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/CredentialsProviderIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/ShowToolchainsIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/bestpractices/SamplesAuthoringMaintainableBuildsIntegrationTest.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/GoogleTestIntegrationTest.groovy
Labels: @configuration-cache, a:chore, from:member, in:composite-builds, in:configuration-cache

#15123 Remove unused code for handling public inline functions in Kotlin compile avoidance
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinApiClassExtractor.kt
  subprojects/normalization-java/src/main/java/org/gradle/internal/normalization/java/ApiClassExtractor.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/normalization/java/ApiMemberWriterFactory.java
Labels: @idiomatic, from:member, in:kotlin-dsl

#15121 Add a note to release notes about inline functions with compile avoidance
  subprojects/docs/src/docs/release/notes.md
Labels: @idiomatic, from:member, in:kotlin-dsl

#15104 Add support for matching toolchain by vendor
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  subprojects/platform-jvm/build.gradle.kts
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaToolchainSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JvmVendorSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkRemoteBinary.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkRemoteBinaryTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpecTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: @jvm, from:member

#15106 Enable toolchain sample tests
  subprojects/docs/src/docsTest/java/org/gradle/docs/samples/PartitioningSamplesRunner.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
Labels: @jvm, from:member

#15125 List included builds in `projects` task output
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ProjectReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ProjectReportTask.java
Labels: @idiomatic, from:member

#15057 Add support for manifest normalization in directories
  subprojects/core/src/integTest/groovy/org/gradle/normalization/ConfigureRuntimeClasspathNormalizationIntegrationTest.groovy
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/ManifestFileZipEntryHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/PropertiesFileAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/ManifestFileZipEntryHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/ZipHasherTest.groovy
Labels: @execution, a:feature, from:member, in:core

#15136 Ignore broken installations when matching toolchains
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainFactory.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: @jvm, from:member

#15143 Ignore invalid toolchains when detecting test installations
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
Labels: @jvm, from:member

#15138 Move 'ignoring listeners of task graph ready event' to info level log
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildEventsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
Labels: @idiomatic, from:member, in:composite-builds

#15047 Differentiate between settings and buildscript for dependency locking
  subprojects/core/src/main/java/org/gradle/api/internal/DomainObjectContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/RootScriptDomainObjectContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/UsingLockingOnNonProjectConfigurationsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingArtifactVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/LockFileReaderWriter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingArtifactVisitorTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/locking/LockfileFixture.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/catalog/VersionCatalogResolveIntegrationTest.groovy
Labels: @jvm, from:member, in:dependency-management

#15148 Fix infinite recursion in findBuild() of TAPI build controller
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/DefaultBuildController.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/AccessIncludedBuildProjectBuildAction.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildIncludeCycleCrossVersionSpec.groovy
Labels: @idiomatic, from:member, in:composite-builds, in:tooling-api

#15043 Snapshot visitor improvements
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/RelativePathParser.java
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/RelativePathParserTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/SnapshotTaskInputsBuildOperationResult.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilder.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/PatternSetSnapshottingFilter.java
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/impl/DefaultBuildCacheCommandFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/FileSystemSnapshotBuilderTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepository.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/OutputFilterUtil.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/OutputFilterUtilTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/ChangesDuringTheBuildFileSystemWatchingIntegrationTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdater.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/WatchableHierarchies.java
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/DefaultFileSystemWatchingStatistics.java
  subprojects/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/SnapshotWatchedDirectoryFinderTest.groovy
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/RelativePathSupplier.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/DefaultCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/EmptyCurrentFileCollectionFingerprint.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/NameOnlyFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/overlap/impl/DefaultOverlappingOutputDetector.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompositeFileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemLeafSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshotHierarchyVisitor.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MerkleDirectorySnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathSegmentsTracker.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathStringTracker.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathTracker.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathTrackingFileSystemSnapshotHierarchyVisitor.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RootTrackingFileSystemSnapshotHierarchyVisitor.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshotVisitResult.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/fingerprint/overlap/impl/DefaultOverlappingOutputDetectorTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CompleteDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterAsDirectoryWalkerTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/AbstractFileSystemAccessTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultFileSystemAccessTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/SnapshotVisitorUtil.groovy
Labels: @execution, from:member

#15081 Let Kotlin DSL script compilation execute via the execution engine
  subprojects/core/src/main/java/org/gradle/internal/scopeids/id/BuildInvocationScopeId.java
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScriptCompileAvoidanceIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/KotlinDslWorkspaceProvider.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/CompiledScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ExecutableProgram.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Lexer.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/GradleUserHomeServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/ScriptCacheRepository.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/services/KotlinScriptServiceRegistry.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/AsmExtensions.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompilerTest.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
Labels: from:member, in:kotlin-dsl

#15150 Fix a typo in plugins documentation page
  subprojects/docs/src/docs/userguide/authoring-builds/plugins.adoc
Labels: a:chore, from:member, in:docs

#15135 Document toolchain vendor matching
  subprojects/docs/README.md
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/jvm/toolchains.adoc
  subprojects/docs/src/snippets/java/toolchain-filters/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-filters/groovy/settings.gradle
  subprojects/docs/src/snippets/java/toolchain-filters/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/java/toolchain-filters/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/java/toolchain-filters/tests/toolchainFilters.sample.conf
Labels: @jvm, from:member

#15149 Remove unused internal service `CacheKeyBuilder`
  subprojects/core/src/main/java/org/gradle/cache/internal/CacheRepositoryServices.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/CacheKeyBuilder.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheKeyBuilder.java
  subprojects/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheKeyBuilderTest.groovy
Labels: a:chore, from:member, in:core

#15157 Log problems when enabling FS watching on debug
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
Labels: @execution, from:member

#15161 Store daemon logs for performance test failures as well
  .teamcity/common/performance-test-extensions.kt
Labels: @execution, from:member

#15160 Upgrade to native platform 0.22-milestone-9
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
Labels: @execution, from:member

#15154 Backport toolchain bug fixes
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkDownloader.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainFactory.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistry.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkDownloaderTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistryTest.groovy
Labels: @jvm, from:member

#15130 Add “mergeReruns” option to JUnit XML report generation
  subprojects/docs/src/docs/release/notes.md
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/JUnitTestClassExecutionResult.groovy
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultJUnitXmlReport.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestTaskReports.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/AggregateTestResultsProvider.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGenerator.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/BinaryResultBackedTestResultsProvider.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/InMemoryTestResultsProvider.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultOptions.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriter.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestCaseRerunHandling.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestClassResult.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestMethodResult.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestOutputStore.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestOutputStoreBackedResultsProvider.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestResultsProvider.java
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/JUnitXmlReport.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGeneratorSpec.groovy
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriterMergeRerunSpec.groovy
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriterSpec.groovy
  subprojects/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/BuildableTestResultsProvider.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestReportIntegrationTest.groovy
Labels: a:feature, from:member

#15137 Allow detecting standalone jres inside other installation locations
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistry.java
  subprojects/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/SharedJavaInstallationRegistryTest.groovy
Labels: @jvm, from:member

#15151 Restore included build service listener subscription correctly
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeContinuousBuildIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/serialization/codecs/AbstractUserTypeCodecTest.kt
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProvider.java
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceRegistryInternal.java
  subprojects/core/src/main/java/org/gradle/api/services/internal/DefaultBuildServicesRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/services/internal/DefaultBuildServicesRegistryTest.groovy
Labels: @configuration-cache, a:feature, from:member, in:composite-builds, in:configuration-cache

#15184 Rebaseline `JavaConfigurationCachePerformanceTest`
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationCachePerformanceTest.groovy
Labels: @configuration-cache, a:chore, a:performance-issue, from:member, in:configuration-cache

#15141 Allow task exclusion in included builds
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskExcludeIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/BuildDefinition.java
  subprojects/core/src/main/java/org/gradle/execution/CompositeAwareTaskSelector.java
Labels: @idiomatic, from:member

#15156 Deprecate special 'master' subdirectory treatment for multiproject roots
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/EvaluateSettingsBuildOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/LoadBuildStructureBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsLocation.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayout.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayoutFactory.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @idiomatic, from:member

#15183 Fix two more infinite recursions cause by build include cycles
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r68/CompositeBuildModuleCycleCrossVersionSpec.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/AbstractClientProvidedBuildActionRunner.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/BuildModelActionRunner.java
Labels: @idiomatic, from:member, in:composite-builds, in:eclipse-plugin

#15144 Deprecate JavaInstallationRegistry
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/CrossCompilationIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaDevelopmentKit.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaInstallation.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaInstallationRegistry.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistry.java
Labels: @jvm, from:member

#15180 Fix docs for `rejectAll`
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/MutableVersionConstraint.java
Labels: a:bug, from:member, in:dependency-management

#15171 Make repository content filters work with dynamic versions
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoryContentFilteringIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptor.java
Labels: @jvm, from:contributor, in:dependency-management

#15182 Fix dependency verification in init scripts
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/report/DependencyVerificationReportWriter.java
Labels: @jvm, a:bug, from:member, in:dependency-management

#15192 Document JUnit XML test results configuration options in user guide
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
  subprojects/docs/src/snippets/testing/junit-xml-results/groovy/build.gradle
  subprojects/docs/src/snippets/testing/junit-xml-results/groovy/settings.gradle
  subprojects/docs/src/snippets/testing/junit-xml-results/groovy/src/test/java/org/gradle/junit/SimpleJUnitTest.java
  subprojects/docs/src/snippets/testing/junit-xml-results/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testing/junit-xml-results/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/testing/junit-xml-results/kotlin/src/test/java/org/gradle/junit/SimpleJUnitTest.java
  subprojects/docs/src/snippets/testing/junit-xml-results/tests/junitresultsxml.sample.conf
Labels: in:docs, in:testing

#15142 Initial documentation for the version catalog
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/DependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsBugsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultDependencyConstraint.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintNotationParser.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandlerTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.module
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.pom
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/repo/com/mycompany/catalog/maven-metadata.xml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/consumer/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/consumer/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.module
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.pom
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/repo/com/mycompany/catalog/maven-metadata.xml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/consumer/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/consumer/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/tests/resolve.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformUsage/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformUsage/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformUsage/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformUsage/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformUsage/tests/resolve.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-settings/tests/resolve.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/buildSrc/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/test-dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/buildSrc/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/test-dependencies.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/tests/resolve.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/catalogs-versionCatalogPlugin/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-versionCatalogPlugin/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-versionCatalogPlugin/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-versionCatalogPlugin/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-versionCatalogPlugin/test/publish.sample.conf
Labels: @jvm, from:member, in:dependency-management, in:jvm-ecosystem

#15187 Register watchable build directories before checking the configuration cache fingerprint
  subprojects/base-annotations/src/main/java/org/gradle/internal/service/scopes/Scopes.java
  subprojects/configuration-cache/build.gradle.kts
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheKey.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprint.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Running.kt
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/WatchedDirectoriesFileSystemWatchingIntegrationTest.groovy
  subprojects/file-watching/src/main/java/org/gradle/internal/watch/vfs/BuildLifecycleAwareVirtualFileSystem.java
Labels: @configuration-cache, a:bug, from:member, in:configuration-cache

#15197 Ensure included build tasks can be executed using TAPI
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationActionTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildTaskExecutionCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildTestLauncherCrossVersionSpec.groovy
Labels: @idiomatic, from:member

#15199 Notify busy daemons about file system changes
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/NotifyDaemonAboutChangedPathsClient.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r61/InvalidateVirtualFileSystemCrossVersionSpec.groovy
Labels: @execution, from:member

#15152 Fix snapshotting symlinked directories
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MerkleDirectorySnapshotBuilder.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotterStatistics.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterStatisticsTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterTest.groovy
Labels: @execution, from:member

#15195 Allow toolchain to be matched by on its implementation
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/jvm/toolchains.adoc
  subprojects/docs/src/snippets/java/toolchain-filters/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-filters/kotlin/build.gradle.kts
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadata.java
  subprojects/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaToolchainSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JvmImplementation.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkRemoteBinary.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainSpec.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainComparator.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/ToolchainMatcher.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/AdoptOpenJdkRemoteBinaryTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpecTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainComparatorTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/soak/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSoakTest.groovy
Labels: @jvm, from:member

#15194 Add configuration cache testing strategy advice to docs
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @configuration-cache, from:member, in:docs

#15216 Release database connection after query
  buildSrc/subprojects/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/internal-performance-testing/build.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/AbstractWritableResultsStore.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceDatabase.java
Labels: @dev-productivity, from:member

#15159 Fix race condition on pre-resolve actions
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/ParallelDependencyResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
Labels: a:bug, from:member, in:dependency-management

#15169 Add test case for #11247
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/artifactreuse/ArtifactResolutionQueryIntegrationTest.groovy
Labels: @jvm, from:contributor, in:dependency-management

#15227 Add explanation of Gradle Enterprise implications to JUnit XML config
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
Labels: from:member, in:docs, in:testing

#15217 Fix credentials serialization with publishing
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishHttpIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/tasks/PublishToIvyRepository.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/tasks/PublishToMavenRepository.java
  subprojects/model-core/src/main/java/org/gradle/internal/credentials/DefaultAwsCredentials.java
  subprojects/model-core/src/main/java/org/gradle/internal/credentials/DefaultHttpHeaderCredentials.java
  subprojects/model-core/src/main/java/org/gradle/internal/credentials/DefaultPasswordCredentials.java
Labels: @core, a:bug, from:member

#15222 Only use the identity name of an included build in the IDEA module name if there is a conflict
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r68/CompositeBuildModuleNamesCrossVersionSpec.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/DefaultUniqueProjectNameProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/EclipseModelAwareUniqueProjectNameProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/HierarchicalElementAdapter.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/HierarchicalElementDeduplicator.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/internal/configurer/HierarchicalElementDeduplicatorTest.groovy
Labels: @idiomatic, from:member, in:composite-builds, in:idea-plugin

#15221 Avoid reusing the temporary probe class
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetector.java
Labels: @jvm, from:member

#15229 Improve database interaction of performance tests
  subprojects/build-scan-performance/src/testFixtures/groovy/org/gradle/performance/AbstractBuildScanPluginPerformanceTest.groovy
  subprojects/build-scan-performance/src/testFixtures/groovy/org/gradle/performance/fixture/BuildScanPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossBuildPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractGradleVsMavenPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractCrossBuildPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossBuildPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleVsMavenPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/AbstractWritableResultsStore.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaseCrossBuildResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
Labels: @dev-productivity, from:member

#15228 Remove unused argument from private method
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
Labels: a:chore, from:member

#15225 Add flakiness detection for Windows and macOs performance tests
  .teamcity/Gradle_Check/model/CIBuildModel.kt
Labels: @execution, from:member

#14862 Fixed a null pointer exception in GcsClient.
  subprojects/resources-gcs/src/main/java/org/gradle/internal/resource/transport/gcp/gcs/GcsClient.java
  subprojects/resources-gcs/src/test/groovy/org/gradle/internal/resource/transport/gcp/gcs/GcsClientTest.groovy
Labels: @jvm, from:contributor

#15107 Upgrade embedded Kotlin to 1.4.20-RC
  buildSrc/subprojects/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinGradlePluginInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/core/src/integTest/groovy/org/gradle/util/VersionNumberIntegrationTest.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/snippets/java/toolchain-kotlin/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-kotlin/kotlin/build.gradle.kts
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/codegen/ApiTypeProviderTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerSamplesEndUserIntegrationTest.groovy
Labels: @configuration-cache, from:member, in:core, in:kotlin-dsl

#15048 CodeQL: Analyse the merge commit in pull requests
  .github/workflows/codeql-analysis.yml
Labels: @core, from:contributor

#15220 Ensure all toolchain requirements are used as task inputs
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaInstallationMetadata.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainFactory.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainInput.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainInputTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
Labels: @jvm, from:member

#15198 Test sources should be available via Eclipse project dependency when target project applies java-test-fixtures plugin
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r68/ToolingApiEclipseProjectDependenciesCrossVersionSpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseTestDependenciesIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/EclipsePlugin.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/internal/EclipseProjectMetadata.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/ProjectDependencyBuilder.java
Labels: @idiomatic, a:bug, from:member, in:eclipse-plugin, in:tooling-api

#15110 Report Kotlin build script compile avoidance issues as warnings
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/DefaultCompileClasspathFingerprinter.java
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScriptCompileAvoidanceIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinApiClassExtractor.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinCompileClasspathFingerprinter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/normalization/KotlinApiClassExtractorTest.kt
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/ZipHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/ScriptCachingIntegrationTest.kt
Labels: @idiomatic, from:member, in:kotlin-dsl

#15253 Keep order of indexed snapshots when detecting output changes
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/OutputFileChanges.java
Labels: @execution, from:member

#15109 Find root build tasks when calculating an included build task graph
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildIncludeCycleIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildRootProjectIntegrationTest.groovy
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/AbstractCompositeParticipantBuildState.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildRegistry.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildTaskGraph.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultNestedBuild.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/IncludedBuildDependencyMetadataBuilder.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/IncludedBuildDependencySubstitutionsBuilder.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/LocalComponentInAnotherBuildProvider.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/RootOfNestedBuildTree.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskExecutionGraphInternal.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildState.java
  subprojects/core/src/main/java/org/gradle/internal/build/CompositeBuildParticipantBuildState.java
  subprojects/core/src/main/java/org/gradle/internal/build/IncludedBuildState.java
  subprojects/core/src/main/java/org/gradle/internal/composite/ChildBuildRegisteringSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/internal/composite/IncludedRootBuild.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
Labels: @idiomatic, from:member, in:composite-builds

#15241 Update Apache Ant to 1.10.9
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @idiomatic, from:member, in:core

#15260 Make 'testCompileOnly' extend 'compileOnlyApi'
  subprojects/docs/src/docs/userguide/img/java-library-ignore-deprecated-test.dot
  subprojects/docs/src/docs/userguide/img/java-library-ignore-deprecated-test.png
  subprojects/plugins/src/integTest/groovy/org/gradle/java/dependencies/JavaConfigurationSetupIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaLibraryPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmVariantBuilder.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaLibraryPluginTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem

#15255 Remove unnecessary calls to 'configure' on lazy tasks API
  subprojects/distributions-integ-tests/build.gradle.kts
  subprojects/docs/src/samples/build-organization/gradle-plugin/kotlin/greeting-plugin/build.gradle.kts
  subprojects/docs/src/snippets/providers/implicitTaskInputFileDependency/kotlin/build.gradle.kts
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/testing-jvm/build.gradle.kts
  subprojects/wrapper/build.gradle.kts
Labels: @idiomatic, from:member, in:gradle-build

#15251 Fix file system watching soak test on macOS
  subprojects/soak/src/integTest/groovy/org/gradle/vfs/FileSystemWatchingSoakTest.groovy
Labels: @execution, from:member

#15252 Upgrade checkstyle to 8.37
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @jvm, from:member, in:jvm-ecosystem

#15238 Upgrade embedded kotlin to 1.4.20
  buildSrc/subprojects/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  buildSrc/subprojects/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/docs/src/snippets/java/toolchain-kotlin/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-kotlin/kotlin/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsJar.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/TemporaryScriptFiles.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
Labels: @configuration-cache, from:member, in:core, in:kotlin-dsl

#15262 Select vendor-specific toolchains over specific implemementation
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/ToolchainMatcher.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: @jvm, from:member

#15264 Fix regression in incremental annotation processing
  subprojects/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/GroovyRecompilationSpecProvider.java
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/AggregatingIncrementalAnnotationProcessingIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysis.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/processing/AnnotationProcessingData.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/ClasspathEntryChangeProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/JavaRecompilationSpecProvider.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/RecompilationSpec.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/SourceFileChangeProcessor.java
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AggregatingProcessingStrategy.java
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/AggregatingProcessorTest.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/AnnotatedGeneratedClassProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/AnnotationProcessorFixture.groovy
  subprojects/language-java/src/testFixtures/groovy/org/gradle/language/fixtures/ServiceRegistryProcessorFixture.groovy
Labels: @jvm, a:bug, from:member, in:jvm-ecosystem

#15233 Fix hanging disconnect in Tooling API
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r65/ToolingApiShutdownCrossVersionSpec.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiShutdownIntegrationTest.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/LazyConsumerActionExecutor.java
Labels: @idiomatic

#15274 Improve diagnostic logging on work unit timeout
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskTimeoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactoryTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/TimeoutStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/timeout/TimeoutHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/timeout/impl/DefaultTimeoutHandler.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/TimeoutStepTest.groovy
Labels: @execution, from:member

#15273 Improve performance database access
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaseCrossBuildResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossBuildResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/StaleDataCleanupInitializer.java
Labels: from:member

#15259 Upgrade to CodeNarc 2.0
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  subprojects/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/CodeNarcCoverage.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @jvm, from:member

#15258 Improve error handling for probing
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetector.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetector.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadata.java
  subprojects/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetectorTest.groovy
Labels: @jvm, from:member

#15278 Add Android performance improvements to release notes
  subprojects/docs/src/docs/release/notes.md
Labels: @execution, from:member

#15265 Upgrade kotlin coroutines to 1.4.1
  subprojects/distributions-dependencies/build.gradle.kts
Labels: @configuration-cache, a:chore, from:member, in:configuration-cache, in:kotlin-dsl

#15276 Document issue with release flag and Java 9
  subprojects/docs/src/docs/userguide/jvm/building_java_projects.adoc
Labels: @jvm, from:member, in:docs, in:jvm-ecosystem

#15279 Improve Kotlin DSL compilation improvement release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member, in:docs

#15286 Store compiled Kotlin project scripts in the build cache
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: a:bug, from:member, in:kotlin-dsl

#15282 Follow up after not fingerprinting outputs
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbsolutePathChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/FileSystemSnapshotSerializer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/OutputSnapshotUtil.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateAfterExecutionStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/OutputFileChangesTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/FileSystemSnapshotSerializerTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/OutputSnapshotUtilTest.groovy
  subprojects/hashing/src/main/java/org/gradle/internal/hash/HashCode.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/snapshots/build.gradle.kts
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompositeFileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/DirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemLeafSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathTracker.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/RelativePathTrackerTest.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/SnapshotVisitorUtil.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/TestSnapshotFixture.groovy
Labels: @execution, from:member

#15247 More renames and polishing around snapshotting
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/CleanupStaleOutputsExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultEmptySourceTaskSkipper.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/internal/cleanup/DefaultBuildOutputCleanupRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/cleanup/package-info.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/DefaultEmptySourceTaskSkipperTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactoryTest.groovy
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/BuildOutputCleanupRegistry.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/InputFingerprinter.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultInputFingerprinter.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/IdentifyStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/impl/DefaultInputFingerprinterTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/CaptureStateBeforeExecutionStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/IdentifyStepTest.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  subprojects/platform-base/src/main/java/org/gradle/language/base/plugins/LifecycleBasePlugin.java
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: @execution, from:member

#15292 Follow up on not fingerprinting outputs, take 2
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/AbsolutePathChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/FileSystemSnapshotSerializer.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/history/impl/OutputSnapshotUtil.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/CaptureStateAfterExecutionStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/changes/OutputFileChangesTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/FileSystemSnapshotSerializerTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/history/impl/OutputSnapshotUtilTest.groovy
  subprojects/hashing/src/main/java/org/gradle/internal/hash/HashCode.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
  subprojects/snapshots/build.gradle.kts
  subprojects/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFingerprintingStrategy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompositeFileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/DirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemLeafSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RelativePathTracker.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/DirectorySnapshotter.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/RelativePathTrackerTest.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/SnapshotVisitorUtil.groovy
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/TestSnapshotFixture.groovy
Labels: @execution, from:member

#15285 Improve handling of enforced platforms
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishedRichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RichVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/ForcingUsingStrictlyPlatformAlignmentTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/DependencyMetadataRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/EndorseStrictVersionsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionConstraintsFeatureInteractionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionsInPlatformCentricDevelopmentIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/MessageBuilderHelper.java
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_setup.adoc
  subprojects/docs/src/snippets/publishing/javaLibrary/groovy/build.gradle
  subprojects/docs/src/snippets/publishing/javaLibrary/kotlin/build.gradle.kts
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishBasicIntegTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishBasicIntegTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/DependencyAttributesValidator.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/EnforcedPlatformPublicationValidator.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriter.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/InvalidPublicationChecker.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  subprojects/publish/src/main/java/org/gradle/api/publish/tasks/GenerateModuleMetadata.java
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: @jvm, from:member, in:dependency-management

#15294 Fix edge case in local consistency resolution
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/consistency/ProjectLocalDependencyResolutionConsistencyIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultLocalComponentMetadataBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/BuildableLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/RootLocalComponentMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultLocalComponentMetadataBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/local/model/DefaultLocalComponentMetadataTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/local/model/RootLocalComponentMetadataTest.groovy
  subprojects/platform-base/src/main/java/org/gradle/language/base/internal/model/DefaultLibraryLocalComponentMetadata.java
  subprojects/plugins/src/integTest/groovy/org/gradle/integtests/resolve/consistency/JavaProjectResolutionConsistencyIntegrationTest.groovy
Labels: @jvm, a:bug, in:dependency-management

#15298 Explain in upgrade guide how to get rid of the validation error
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @jvm, from:member, in:dependency-management

#15226 Remove `@Incubating` from `allowInsecureProtocol`
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/UrlArtifactRepository.java
Labels: from:member

#15291 Improve task timeout reliability and diagnostics
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskTimeoutIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/timeout/impl/DefaultTimeoutHandler.java
Labels: @execution, from:member

#15092 Unify storage measurement unit multipliers to fractional binary, instead of decimal
  subprojects/base-services/src/main/java/org/gradle/internal/util/NumberUtil.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/util/NumberUtilTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RemoteDependencyResolveConsoleIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transfer/AbstractProgressLoggingHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/resource/transfer/ResourceOperation.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/transfer/ProgressLoggingExternalResourceAccessorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/resource/transfer/ResourceOperationTest.groovy
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishConsoleIntegrationTest.groovy
Labels: @core, from:member

#15296 Simplify composite build plugin resolver
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/plugins/CompositeBuildPluginResolverContributor.java
Labels: @idiomatic, a:chore, from:member

#15310 Make Tooling API task request launching work with included builds
  subprojects/core/src/main/java/org/gradle/execution/CompositeAwareTaskSelector.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/DisabledTaskExecutionOnIncludedBuildsCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/CompositeBuildTaskExecutionCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r68/LoadCompositeModel.java
Labels: @idiomatic

#15314 Restore build service listener subscription for build service from included build correctly
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildServiceIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheCompositeBuildsIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
Labels: @configuration-cache, a:bug, from:member, in:composite-builds, in:configuration-cache

#15321 Remove optimistic caching of the component metadata handler
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentMetadataRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultComponentMetadataHandler.java
Labels: @jvm, a:bug, from:member

#15318 Provide template for release notes
  subprojects/docs/src/docs/release/notes-template.md
  subprojects/docs/src/docs/release/notes.md
Labels: @jvm, from:member

#15316 Remove included build registry method that was only used in a test
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildRegistry.java
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildRegistryTest.groovy
Labels: @core, a:chore, from:member, in:core

#15323 Polish code around execution plan
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
Labels: @execution, from:member

#15338 Unify graphs in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: from:member, in:docs

#15344 Replace k9Mail by santa tracker
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  buildSrc/subprojects/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
Labels: @execution, from:member

#15349 Remove no longer used Kotlin DSL build cache commands
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheCommands.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheFormat.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheFormatTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/caching/LoadDirectoryTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/caching/ScriptBuildCacheKeyTest.kt
Labels: a:chore, from:member, in:kotlin-dsl

#15340 Fix display names not being propagated to the TAPI events
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/operations/TestListenerBuildOperationAdapter.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTestOperationListener.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TestLauncherSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r26/TestLauncherCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r69/TestDisplayNameCrossVersionSpec.groovy
Labels: @jvm, from:member, in:testing, in:tooling-api
