Repository gradle/gradle, pull requests merged in 2020-04, with the labels that each got.

#12670 Always prefer Java version configured in release over target/source
  subprojects/base-services/src/main/java/org/gradle/api/JavaVersion.java
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r64/ToolingApiIdeaModelJavaVersionCrossVersionSpec.groovy
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/DefaultJavaPluginConventionTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem

#12505 Report broken Provider<*> or FileCollection with instant execution
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaLibraryInitIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactSelectionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencySubstitutionRulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyUnresolvedModuleIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/TaskDependencyResolutionEventsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolvedArtifactsApiIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/CachedMissingModulesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesLocalComponentIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/ComponentSelectionRulesDependencyResolveIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/ComponentSelectionRulesErrorHandlingIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyBrokenRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyDynamicRevisionRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyHttpRepoResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/AbstractValidatingLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenBrokenRemoteResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenDynamicResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenHttpRepoResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenLocalRepoResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenRemoteDependencyWithGradleMetadataResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenScopesAndProjectDependencySubstitutionIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenSnapshotResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/suppliers/CustomVersionListerIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/suppliers/DynamicRevisionRemoteResolveWithMetadataSupplierIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureCheckIntegTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Workarounds.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/FileCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/GroovyProjectIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/integtests/publish/ivy/IvyLocalPublishIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalCompilationIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/GroovyBasePluginIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/ivy/IvyS3RepoResolveIntegrationTest.groovy
  subprojects/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenS3RepoErrorsIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoErrorsIntegrationTest.groovy
  subprojects/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/maven/MavenSftpRepoResolveIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/ScalaProjectIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaBasePluginIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerConsoleInputEndUserIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerSamplesEndUserIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/BuildSrcSpockIntegrationTest.groovy
Labels: from:member, in:instant-execution

#12659 Use release/targetComp setting of compile task for jvm version attribute
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  subprojects/core/src/main/java/org/gradle/internal/jpms/JavaModuleDetector.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaFeatureSpec.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: @jvm, a:feature, from:member, in:jvm-ecosystem

#12685 Pull module path calculation into Test task
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultMultiRequestWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultSingleRequestWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerProcessSettings.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessorTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/JvmTestExecutionSpec.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/DefaultTestExecuter.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: @jvm, in:jvm-ecosystem, in:modular-java

#12657 Re-enable VFS retention soak test
  subprojects/soak/src/integTest/groovy/org/gradle/vfs/VirtualFileSystemRetentionSoakTest.groovy
Labels: @build-cache, from:member

#12691 Store only the file collection hash to the instant execution cache fingerprint
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprint.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintWriter.kt
Labels: @instant-execution, a:feature, a:performance-issue, from:member, in:instant-execution

#12695 De-incubate org.gradle.jvm.tasks
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/tasks/package-info.java
Labels: @jvm, from:member, in:jvm-ecosystem

#12479 Prevent race condition when using ProjectBuilder in parallel
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
Labels: @core, from:contributor

#12703 update scan plugin 3.2.1
  buildSrc/subprojects/profiling/profiling.gradle.kts
  gradle/verification-metadata.xml
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: from:member

#12671 Document how to update the wrapper JAR itself
  subprojects/docs/src/docs/userguide/reference/gradle_wrapper.adoc
Labels: @core, from:contributor

#12698 Set performance database timeout
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceDatabase.java
Labels: @dev-productivity, a:chore, from:member

#12710 Report task dependencies access at execution time as an instant execution problem
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ConfigurationOnDemandProjectAccessListener.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProjectAccessNotifier.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskExecutionAccessListener.java
  subprojects/core/src/main/java/org/gradle/initialization/ProjectAccessListener.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionBuildScopeListenerManagerAction.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionProblemsListener.kt
Labels: from:member, in:instant-execution

#12669 Use task dependencies in build type tasks.
  .teamcity/Gradle_Check/configurations/IndividualPerformanceScenarioWorkers.kt
  .teamcity/Gradle_Check/configurations/PerformanceTestCoordinator.kt
  .teamcity/Gradle_Util_Performance/buildTypes/AdHocPerformanceTestCoordinator.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
  build.gradle.kts
  buildSrc/subprojects/configuration/src/main/kotlin/org/gradle/gradlebuild/ProjectGroups.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/CrossVersionTestsPlugin.kt
  buildSrc/subprojects/integration-testing/src/main/kotlin/org/gradle/gradlebuild/test/integrationtests/DistributionTestingPlugin.kt
  buildSrc/subprojects/plugins/plugins.gradle.kts
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/gradlebuild/versioning/BuildVersionPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/buildtypes/BuildType.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/buildtypes/BuildTypesPlugin.kt
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/plugins/lifecycle/LifecyclePlugin.kt
  buildSrc/subprojects/plugins/src/test/kotlin/org/gradle/plugins/buildtypes/BuildTypesPluginTest.kt
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriterTest.groovy
  subprojects/kotlin-dsl-tooling-builders/kotlin-dsl-tooling-builders.gradle.kts
Labels: @dev-productivity, a:chore, from:member

#12674 Remove superfluous `test` phase
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/FileContentGenerator.groovy
Labels: @jvm, from:member

#12693 Set timeout for Download
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperHttpIntegrationTest.groovy
  subprojects/wrapper/src/main/java/org/gradle/wrapper/Download.java
Labels: @dev-productivity, a:chore, from:member

#12347 Fix VersionNumber Kotlin interop incompatibility
  subprojects/core/src/integTest/groovy/org/gradle/util/VersionNumberIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/util/VersionNumber.java
Labels: @core, a:bug, from:contributor, in:kotlin-dsl

#12694 Add support for Java modules in Eclipse dependencies
  subprojects/ide/ide.gradle.kts
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseJavaModulesIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/internal/EclipsePluginConstants.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/ClasspathFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/ProjectDependencyBuilder.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpComponentFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencyVisitor.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/GenerateEclipseClasspathTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/EclipseModelTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreatorTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/internal/ProjectDependencyBuilderTest.groovy
Labels: @jvm, from:member, in:eclipse-plugin, in:jvm-ecosystem, in:modular-java

#12719 Fix spelling mistakes and logical/structural errors in the userguide
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dynamic_versions.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/component_metadata_rules.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_downgrade_and_exclude.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_version_alignment.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_rules.adoc
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_strategy_tuning.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/artifact_transforms.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/component_capabilities.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/cross_project_publications.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/feature_variants.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
  subprojects/docs/src/docs/userguide/dep-man/05-multirepo-environment/composite_builds.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_customization.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_ivy.adoc
  subprojects/docs/src/docs/userguide/dep-man/dependency_management_terminology.adoc
  subprojects/docs/src/snippets/userguide/dependencyManagement/artifactTransforms/incremental/groovy/build.gradle
  subprojects/docs/src/snippets/userguide/dependencyManagement/artifactTransforms/incremental/kotlin/build.gradle.kts
Labels: @jvm, from:contributor, in:dependency-management

#12705 Add sample for multi-project jacoco reports using tasks
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/README.adoc
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/application/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/list/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/settings.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/utilities/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/application/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/list/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/utilities/build.gradle.kts
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/tests/testTask.out
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/tests/testTask.sample.conf
Labels: @jvm, from:member, in:jacoco-plugin

#12726 Update zinc to 1.3.5
  gradle/verification-metadata.xml
  subprojects/language-scala/language-scala.gradle.kts
  subprojects/language-scala/src/main/java/org/gradle/language/scala/internal/toolchain/DefaultScalaToolProvider.java
  subprojects/scala/src/main/java/org/gradle/api/plugins/scala/ScalaPluginExtension.java
Labels: @jvm, from:contributor, in:jvm-ecosystem

#12662 Changed to not clear the preferred version when setting a strict version
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultMutableVersionConstraint.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultMutableVersionConstraintTest.groovy
Labels: @jvm, from:contributor, in:dependency-management

#12507 Remove `@Incubating` from LifecycleBasePlugin package
  subprojects/platform-base/src/main/java/org/gradle/language/base/package-info.java
  subprojects/platform-base/src/main/java/org/gradle/language/base/plugins/package-info.java
Labels: from:member

#12711 Enable PMD incrementalAnalysis by default
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/PmdPluginIncrementalAnalysisIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginDependenciesIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, from:member, in:pmd-plugin

#12701 Update writing of daemon greeting message
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonJvmSettingsIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonStartupCommunication.java
Labels: @jvm, from:member, in:core

#12721 Report user build listeners registered on Gradle as instant execution problems
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskFailureIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildEventsErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ExternalScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/InitScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/events/BuildExecutionEventsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/configuration/ExecuteUserLifecycleListenerBuildOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/InitScriptIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/invocation/BuildStartedDeprecatedIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/BuildScopeListenerRegistrationListener.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/EclipsePlugin.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionProblemsListener.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  subprojects/language-scala/src/integTest/groovy/org/gradle/language/scala/ScalaCompileParallelIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaTestListenerIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestOutputListenerIntegrationTest.groovy
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/AbstractSourceDependencyIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParallelBuildOperationsIntegrationTest.groovy
Labels: @instant-execution, from:member

#12738 Rename 'modularClasspathHandling' -> 'modularity'
  subprojects/core-api/src/main/java/org/gradle/api/jvm/ModularitySpec.java
  subprojects/core-api/src/main/java/org/gradle/api/jvm/package-info.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/AbstractWorkerProcessIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/WorkerProcessIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/core/src/main/java/org/gradle/internal/jvm/DefaultModularitySpec.java
  subprojects/core/src/main/java/org/gradle/internal/jvm/JavaModuleDetector.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
  subprojects/core/src/test/groovy/org/gradle/internal/jvm/JavaModuleDetectorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/JavaExecHandleBuilderTest.groovy
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/snippets/application/groovy/build.gradle
  subprojects/docs/src/snippets/application/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/java-library/module/groovy/build.gradle
  subprojects/docs/src/snippets/java-library/module/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testing/patch-module/groovy/build.gradle
  subprojects/docs/src/snippets/testing/patch-module/kotlin/build.gradle.kts
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseJavaModulesIntegrationTest.groovy
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpComponentFactory.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDependenciesProvider.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/resolver/IdeDependencySet.java
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/AbstractJavaModuleIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/execution/JavaModuleExecutionIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginConfigurationIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginUnixShellsIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/ApplicationPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPluginExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  subprojects/plugins/src/main/java/org/gradle/jvm/application/tasks/CreateStartScripts.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/ApplicationPluginTest.groovy
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: @jvm, from:member, in:jvm-ecosystem, in:modular-java

#12628 Start watching during the build
  gradle/dependencies.gradle
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemBuildLifecycleListener.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractEventDrivenFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractHierarchicalFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/LinuxFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/VirtualFileSystemServicesTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionIntegrationTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractCompleteFileSystemLocationSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AbstractIncompleteSnapshotWithChildren.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/AtomicSnapshotHierarchyReference.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/CompleteDirectorySnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemNode.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/MissingFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/RegularFileSnapshot.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshotUtil.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/SnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/WatchingAwareVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractDelegatingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchy.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DelegatingDiffCapturingUpdateFunctionDecorator.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/NonWatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/SnapshotCollectingDiffListener.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/WatchRootUtil.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractCompleteSnapshotWithoutChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractIncompleteSnapshotWithChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/AbstractSnapshotWithChildrenTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/CompleteDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/PartialDirectorySnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/SnapshotUtilTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/UnknownSnapshotTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/AbstractVirtualFileSystemTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/DefaultSnapshotHierarchyTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/NonWatchingVirtualFileSystemTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/WatchRootUtilTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/WatchingVirtualFileSystemTest.groovy
Labels: @build-cache, from:member

#12733 Add icon for JetBrains Toolbox and IntelliJ IDEA
  .gitignore
  .idea/icon.png
  .idea/icon_dark.png
Labels: @core, from:contributor

#12732 Invalidate instant execution cache upon changes to Kotlin scripts
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/state/TaskTypeUpToDateIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/exception/DefaultExceptionAnalyser.java
  subprojects/core/src/main/java/org/gradle/internal/featurelifecycle/ScriptUsageLocationReporter.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/ScriptExecutionListener.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionGroovyScriptChangesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionScriptChangesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionServices.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintWriter.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/snapshots/src/integTest/groovy/org/gradle/internal/vfs/VirtualFileSystemRetentionIntegrationTest.groovy
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12740 Declare css stylesheet directory input dependency for ascii doctor tasks
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/GradleUserManualPlugin.java
Labels: a:bug, from:member, in:docs

#12675 Add warning when user logs at `--debug` level
  subprojects/bootstrap/src/main/java/org/gradle/launcher/bootstrap/EntryPoint.java
  subprojects/docs/README.md
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/logging.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/custom_plugins.adoc
  subprojects/docs/src/snippets/userguide/tutorial/logging/groovy/build.gradle
  subprojects/docs/src/snippets/userguide/tutorial/logging/kotlin/build.gradle.kts
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/cli/NotificationsIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/DebugLoggerWarningAction.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/DefaultCommandLineActionFactory.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/cli/DebugLoggerWarningActionTest.groovy
  subprojects/launcher/src/test/groovy/org/gradle/launcher/cli/WelcomeMessageActionTest.groovy
  subprojects/logging/logging.gradle.kts
  subprojects/logging/src/main/java/org/gradle/api/logging/Logger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/LoggingConfigurationBuildOptions.java
  subprojects/logging/src/testFixtures/groovy/org/gradle/internal/logging/TestOutputEventListener.groovy
  subprojects/logging/src/testFixtures/groovy/org/gradle/internal/logging/ToStringLogger.groovy
Labels: @core, from:member

#12655 Precompiled Groovy plugins
  subprojects/core/src/main/java/org/gradle/configuration/CompileOperationFactory.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/configuration/project/DefaultCompileOperationFactory.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/InitialPassStatementTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginsAwareScript.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultScriptPluginFactoryTest.groovy
  subprojects/plugin-development/plugin-development.gradle.kts
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/CompileGroovyScriptPluginsTask.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/ExtractPluginRequestsTask.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/GeneratePluginAdaptersTask.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyPluginsPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyScript.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledScriptRunner.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledScriptTarget.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/package-info.java
  subprojects/plugin-development/src/main/resources/META-INF/gradle-plugins/org.gradle.groovy-gradle-plugin.properties
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyScriptTest.groovy
Labels: @core, from:member, in:core

#12752 Enable fixed tests for VFS retention
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ChangesDuringBuildContinuousIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/BuildSrcPluginIntegrationTest.groovy
Labels: @build-cache, from:member

#12749 Upgradle to 6.4 snapshot
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: @build-cache, from:member

#12743 Minor fixes to jacoco sample readme
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/groovy/build.gradle
  subprojects/docs/src/samples/jvm-multi-project-with-code-coverage/kotlin/build.gradle.kts
Labels: @jvm, from:member

#12754 Minor fixes in JPMS docs
  subprojects/docs/src/docs/userguide/jvm/java_library_plugin.adoc
  subprojects/docs/src/samples/java/modules-multi-project/README.adoc
  subprojects/docs/src/snippets/testing/patch-module/groovy/build.gradle
  subprojects/docs/src/snippets/testing/patch-module/kotlin/build.gradle.kts
Labels: @jvm, from:member

#12683 Report fields declared as Configuration as instant execution problems
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/MixedDependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/MultiProjectDependencyLockingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIsolationIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/problems/DisableInstantExecutionFieldTypeCheck.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/UnsupportedTypesCodecs.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/integtests/publish/ivy/IvyLocalPublishIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: from:member, in:instant-execution

#12744 Report more unsupported types as instant execution problems
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/UnsupportedTypesCodecs.kt
Labels: @instant-execution, from:member, in:instant-execution

#12746 Adjust assertion in VirtualFileSystemRetentionSoakTest
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/AbstractDaemonFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonFixture.java
  subprojects/soak/src/integTest/groovy/org/gradle/vfs/VirtualFileSystemRetentionSoakTest.groovy
Labels: @build-cache, from:member

#12741 Honor java.net.prefer* system properties for IPv4 and IPv6
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/LocalConnectionPreferenceIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/JvmOptionsTest.groovy
Labels: from:member

#12758 Add cross version tests for precompiled Groovy plugins
  .teamcity/subprojects.json
  subprojects/plugin-development/src/crossVersionTest/groovy/org/gradle/plugin/devel/PrecompiledGroovyPluginCrossVersionSpec.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/GeneratePluginAdaptersTask.java
Labels: @core, from:member, in:core

#12765 Prove instant execution cache is invalidated upon changes to applied scripts
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionScriptChangesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/InstantExecutionHost.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/VintageGradleBuild.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Codec.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12770 Clean VFS when starting watching
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
Labels: @build-cache, from:member

#12773 Drop the VFS if the event queue is full
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
Labels: @build-cache, from:member

#12769 Let Java Modules run as Jar so that resources are accessible
  subprojects/docs/src/samples/java/modules-multi-project-with-integration-tests/groovy/build.gradle
  subprojects/docs/src/samples/java/modules-multi-project-with-integration-tests/kotlin/build.gradle.kts
  subprojects/docs/src/samples/java/modules-multi-project-with-integration-tests/tests/checkTask.out
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/AbstractJavaModuleIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/execution/JavaModuleExecutionIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/test/AbstractJavaModuleTestingIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/test/JavaModuleBackboxTestExcutionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/ApplicationPlugin.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/ApplicationPluginTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem, in:modular-java

#12739 Clear cached filtered dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/VersionConflictResolutionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: @jvm, from:member, in:dependency-management

#12775 Remove 'release' property (reverts #12648)
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r64/ToolingApiIdeaModelJavaVersionCrossVersionSpec.groovy
  subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilder.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJvmLanguageCompileSpec.java
  subprojects/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/JvmLanguageCompileSpec.java
  subprojects/language-jvm/src/main/java/org/gradle/api/tasks/compile/AbstractCompile.java
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPluginExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/DefaultJavaPluginConventionTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem

#12777 Upgrade native platform to 0.22-milestone-2
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
Labels: @build-cache, from:member

#12784 Simplify unsupported field type reporting
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
Labels: from:member

#12760 Report instant execution deserialization problems
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionJacocoIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/DefaultInstantExecution.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Combinators.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Contexts.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/Logging.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyReader.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanPropertyWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskReferenceCodec.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/serialization/codecs/UserTypesCodecTest.kt
Labels: @instant-execution, from:member, in:instant-execution

#12786 Report more dependency management types as unsupported by instant execution
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionUnsupportedTypesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ArtifactCollectionCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/BindingsBackedCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/UnsupportedTypesCodecs.kt
Labels: @instant-execution, from:member, in:instant-execution

#12791 Demonstrate how to test a precompiled plugin in a sample
  subprojects/docs/src/samples/precompiled-script-plugin/groovy/build.gradle
  subprojects/docs/src/samples/precompiled-script-plugin/groovy/plugin/build.gradle
  subprojects/docs/src/samples/precompiled-script-plugin/groovy/plugin/src/test/groovy/com/example/MyPluginFunctionalTest.groovy
  subprojects/docs/src/samples/precompiled-script-plugin/groovy/settings.gradle
  subprojects/docs/src/samples/precompiled-script-plugin/kotlin/build.gradle.kts
  subprojects/docs/src/samples/precompiled-script-plugin/kotlin/plugin/build.gradle.kts
  subprojects/docs/src/samples/precompiled-script-plugin/kotlin/plugin/src/test/kotlin/com/example/MyPluginFunctionalTest.kt
  subprojects/docs/src/samples/precompiled-script-plugin/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/precompiled-script-plugin/tests/greet.sample.conf
Labels: from:member, in:docs

#12788 Make `ProgressLoggingFixture` compatible with instant execution
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProvider.java
  subprojects/core/src/main/java/org/gradle/api/services/internal/DefaultBuildServicesRegistry.java
  subprojects/internal-integ-testing/internal-integ-testing.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ProgressLoggingFixture.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/isolated/IsolationScheme.java
Labels: @instant-execution, from:member, in:instant-execution

#12794 Let instant execution capture Task.timeout, Task.enabled and Task.onlyIf
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/BuildInitPlugin.java
  subprojects/core/src/integTest/groovy/org/gradle/api/FinalizerTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskTimeoutIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/Codecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/JavaTimeCodecs.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskExecutionIntegrationTest.groovy
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/SamplesJavaOnlyIfIntegrationTest.groovy
Labels: from:member, in:instant-execution

#12792 Report Gradle.buildFinished {} as an instant execution problem
  subprojects/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/IncrementalAntlrTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildEventsErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskDefinitionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/outputorigin/IncrementalBuildOutputOriginIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/outputorigin/ManualUpToDateOutputOriginIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/RuleTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/logging/LoggingBuildOperationProgressIntegTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/notify/BuildOperationNotificationFixture.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/scan/eob/BuildScanEndOfBuildNotifierIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProvider.java
  subprojects/core/src/main/java/org/gradle/api/services/internal/DefaultBuildServicesRegistry.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureCheckIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureWriteIntegTest.groovy
  subprojects/ide-native/src/integTest/groovy/org/gradle/ide/fixtures/IdeCommandLineUtil.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionReportIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/BuildSourceBuilderIntegrationTest.groovy
  subprojects/internal-integ-testing/internal-integ-testing.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractContinuousIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/OriginFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ScopeIdsFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WaitAtEndOfBuildFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ProgressLoggingFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ProjectLifecycleFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/GradleEnterprisePluginFixture.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/server/health/gc/GarbageCollectionMonitoringIntegrationTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/AbstractConsoleBuildPhaseFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleBuildResultFunctionalTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractLoggingHooksFunctionalTest.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/isolated/IsolationScheme.java
  subprojects/platform-play/src/integTest/groovy/org/gradle/play/integtest/continuous/PlayContinuousBuildReloadWaitingIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: from:member, in:instant-execution

#12818 Upgrade tested AGP versions
  gradle/dependency-management/agp-versions.properties
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerKotlinCachingSmokeTest.groovy
Labels: from:member

#12812 Fix cacheability of precompiled Groovy plugin tasks
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/GeneratePluginAdaptersTask.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyPluginsPlugin.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyScript.java
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyScriptTest.groovy
Labels: @core, a:bug, from:member, in:core

#12821 Improve single lockfile per project documentation
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
Labels: @jvm, from:member, in:dependency-management, in:docs

#12822 Update release-features.txt for 6.4
  subprojects/docs/src/docs/release/release-features.txt
Labels: from:member, in:docs

#12814 Polish plugins
  subprojects/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
Labels: a:chore, from:member, in:core

#11624 Task with arguments sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/samples/task-with-arguments/README.adoc
  subprojects/docs/src/samples/task-with-arguments/groovy/build.gradle
  subprojects/docs/src/samples/task-with-arguments/groovy/project-info/build.gradle
  subprojects/docs/src/samples/task-with-arguments/groovy/project-info/settings.gradle
  subprojects/docs/src/samples/task-with-arguments/groovy/settings.gradle
  subprojects/docs/src/samples/task-with-arguments/kotlin/build.gradle.kts
  subprojects/docs/src/samples/task-with-arguments/kotlin/project-info/build.gradle.kts
  subprojects/docs/src/samples/task-with-arguments/kotlin/project-info/settings.gradle.kts
  subprojects/docs/src/samples/task-with-arguments/kotlin/settings.gradle.kts
  subprojects/docs/src/samples/task-with-arguments/tests/help.out
  subprojects/docs/src/samples/task-with-arguments/tests/json.out
  subprojects/docs/src/samples/task-with-arguments/tests/plain.out
  subprojects/docs/src/samples/task-with-arguments/tests/projectInfoTask.sample.conf
  subprojects/docs/src/samples/templates/project-info-plugin/project-info/src/main/java/com/example/ProjectInfoPlugin.java
  subprojects/docs/src/samples/templates/project-info-plugin/project-info/src/main/java/com/example/ProjectInfoTask.java
Labels: from:member

#12815 Fix Kotlin precompiled script plugin compilation error after plugin id change
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ClassPathSensitiveTask.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ConfigurePrecompiledScriptDependenciesResolver.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateExternalPluginSpecBuilders.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/SharedAccessorsPackageAware.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: a:bug, from:member, in:kotlin-dsl

#12817 Upgrade embedded Kotlin to 1.3.72
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  gradle/dependencies.gradle
  gradle/verification-metadata.xml
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/samples/kotlin/application/groovy/build.gradle
  subprojects/docs/src/samples/kotlin/application/kotlin/build.gradle.kts
  subprojects/docs/src/samples/kotlin/library/groovy/build.gradle
  subprojects/docs/src/samples/kotlin/library/kotlin/build.gradle.kts
  subprojects/kotlin-dsl-plugins/kotlin-dsl-plugins.gradle.kts
  subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/android-kotlin-library-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/android-kotlin-library-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-library-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-library-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-demo-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-demo-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-demo-debug-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-demo-debug-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-full-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-full-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-full-debug-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-android-full-debug-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-js-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-js-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-linuxx64-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-linuxx64-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-macosx64-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-android-library-macosx64-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-js-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-js-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-jvm-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-jvm-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-linuxx64-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-linuxx64-1.0.pom
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-macosx64-1.0.module
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/expected-metadata/kotlin-multiplatform-library-macosx64-1.0.pom
Labels: from:member

#12836 Restore the ability to define JavaExec.main via task convention
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/DefaultJavaApplication.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @jvm, a:regression, in:jvm-ecosystem

#12837 Invalidate instant execution cache upon changes to `buildSrc` build logic inputs
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionFingerprintCheckerTest.kt
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ValueSourceProviderFactory.java
  subprojects/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12850 Document how to apply external plugins in precompiled plugins
  subprojects/docs/src/docs/userguide/extending-gradle/custom_plugins.adoc
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/groovy/build.gradle
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/groovy/buildSrc/build.gradle
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/groovy/buildSrc/src/main/groovy/my-plugin.gradle
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/groovy/settings.gradle
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/kotlin/buildSrc/build.gradle.kts
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/kotlin/buildSrc/src/main/kotlin/my-plugin.gradle.kts
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/userguide/plugins/precompiledScriptPlugins/externalPlugins/precompiled-script-plugins-externalPlugins.sample.conf
Labels: from:member, in:docs

#12848 Use plugins DSL in Javadoc code snippets
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ConfigurationContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolutionStrategy.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/ComponentMetadataHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/query/ArtifactResolutionQuery.java
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/VisualStudioProject.java
  subprojects/ide-native/src/main/java/org/gradle/ide/visualstudio/VisualStudioSolution.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseJdt.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseModel.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseProject.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseWtp.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseWtpComponent.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/EclipseWtpFacet.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/ResourceFilter.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaProject.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/IdeaWorkspace.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyArtifactSet.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyConfigurationContainer.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyModuleDescriptorSpec.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/IvyPublication.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  subprojects/language-native/src/main/java/org/gradle/language/assembler/AssemblerSourceSet.java
  subprojects/language-native/src/main/java/org/gradle/language/c/CSourceSet.java
  subprojects/language-native/src/main/java/org/gradle/language/cpp/CppSourceSet.java
  subprojects/language-native/src/main/java/org/gradle/language/objectivec/ObjectiveCSourceSet.java
  subprojects/language-native/src/main/java/org/gradle/language/objectivecpp/ObjectiveCppSourceSet.java
  subprojects/language-native/src/main/java/org/gradle/language/rc/WindowsResourceSet.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenArtifactSet.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPom.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/MavenPublication.java
  subprojects/platform-play/src/main/java/org/gradle/language/twirl/TwirlSourceSet.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/GradlePluginDevelopmentExtension.java
  subprojects/plugins/src/main/java/org/gradle/api/distribution/Distribution.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/ApplicationPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaApplication.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/GroovyRuntime.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSet.java
  subprojects/plugins/src/main/java/org/gradle/api/tasks/SourceSetOutput.java
  subprojects/publish/src/main/java/org/gradle/api/publish/PublicationContainer.java
  subprojects/publish/src/main/java/org/gradle/api/publish/PublishingExtension.java
  subprojects/scala/src/main/java/org/gradle/api/tasks/ScalaRuntime.java
  subprojects/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
Labels: from:member, in:docs

#12852 Revert changes to internal handling of JavaExec.classpath
  subprojects/core/src/main/java/org/gradle/api/tasks/JavaExec.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyPluginsSmokeTest.groovy
Labels: @jvm, in:jvm-ecosystem

#12844 Fix Cygwin console output on Windows
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/AnsiConsoleUtil.java
Labels: @core, from:member, in:core

#12846 Restore TestKit multi-version compatibility tests
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerBuildFailureIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerConventionalPluginClasspathInjectionIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerDaemonIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerEnvironmentVariablesIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerMechanicalFailureIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerPluginClasspathInjectionIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerResultIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/fixtures/CustomEnvironmentVariables.java
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/fixtures/InspectsGroupedOutput.java
  subprojects/test-kit/test-kit.gradle.kts
Labels: from:member, in:gradle-build, in:test-kit

#12863 Remove module version convention
  subprojects/docs/src/docs/userguide/jvm/java_library_plugin.adoc
  subprojects/docs/src/snippets/java-library/module/groovy/build.gradle
  subprojects/docs/src/snippets/java-library/module/kotlin/build.gradle.kts
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/execution/JavaModuleExecutionIntegrationTest.groovy
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/plugins/src/testFixtures/groovy/org/gradle/api/tasks/compile/AbstractCachedCompileIntegrationTest.groovy
Labels: @jvm, in:jvm-ecosystem, in:modular-java

#12827 Fix invalid caching of exclusion
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ModuleDependencyExcludeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
Labels: @jvm, from:member, in:dependency-management

#12888 Update tested AGP versions
  gradle/dependency-management/agp-versions.properties
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerKotlinCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: @instant-execution, a:chore, from:member

#12886 Use under development version of Gradle to test samples
  subprojects/docs/docs.gradle
Labels: from:member, in:docs

#12899 Remove workaround for buildscript.sourceFile path
  gradle/shared-with-buildSrc/code-quality-configuration.gradle.kts
Labels: a:chore, from:member

#12884 Fix binary store exception during resolution
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PublishedDependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
Labels: a:bug, from:member, in:dependency-management

#12874 Let userguide be able to reference samples
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/GradleUserManualPlugin.java
  buildSrc/subprojects/docs/src/main/groovy/org/gradle/gradlebuild/docs/UserManual.java
  subprojects/docs/README.md
  subprojects/docs/src/docs/userguide/authoring-builds/ant.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/build_lifecycle.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/logging.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/more_about_tasks.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/multi_project_builds.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/potential_traps.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/tutorial_using_tasks.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/working_with_files.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/writing_build_scripts.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/viewing_debugging_dependencies.adoc
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/artifact_transforms.adoc
  subprojects/docs/src/docs/userguide/dep-man/05-multirepo-environment/composite_builds.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_customization.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_signing.adoc
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/signing_plugin.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/build_services.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/custom_gradle_types.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/custom_plugins.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/custom_tasks.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/lazy_configuration.adoc
  subprojects/docs/src/docs/userguide/jvm/application_plugin.adoc
  subprojects/docs/src/docs/userguide/jvm/building_java_projects.adoc
  subprojects/docs/src/docs/userguide/jvm/groovy_plugin.adoc
  subprojects/docs/src/docs/userguide/jvm/java_library_plugin.adoc
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
  subprojects/docs/src/docs/userguide/jvm/scala_plugin.adoc
  subprojects/docs/src/docs/userguide/legacy/software_model.adoc
  subprojects/docs/src/docs/userguide/legacy/software_model_extend.adoc
  subprojects/docs/src/docs/userguide/migration/migrating_from_maven.adoc
  subprojects/docs/src/docs/userguide/native/native_software.adoc
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
  subprojects/docs/src/docs/userguide/reference/gradle_wrapper.adoc
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/docs/src/docs/userguide/running-builds/init_scripts.adoc
  subprojects/docs/src/docs/userguide/running-builds/intro_multi_project_builds.adoc
Labels: from:member, in:docs

#12913 Update kotlin-dsl-conventions code quality plugin to 0.5.0
  buildSrc/build.gradle.kts
  buildSrc/subprojects/buildquality/buildquality.gradle.kts
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  buildSrc/subprojects/uber-plugins/uber-plugins.gradle.kts
  gradle/verification-metadata.xml
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgram.kt
Labels: @instant-execution, a:chore, in:gradle-build

#12755 GitHub issue/pr links in IDEA Git log
  .gitignore
  .idea/vcs.xml
Labels: @core, from:contributor

#12799 Add additional assertions in interoperability tests for org.gradle.api.provider.Property
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyGroovyInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyJavaInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyKotlinInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractPropertyLanguageInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/ManagedPropertyGroovyInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/ManagedPropertyJavaInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/ManagedPropertyKotlinInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyGroovyInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyJavaInterOpIntegrationTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyKotlinInterOpIntegrationTest.groovy
Labels: @core, from:contributor

#12921 Improve dependency insight documentation
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/viewing_debugging_dependencies.adoc
Labels: @jvm, from:member, in:dependency-management, in:docs

#12734 Build Init plugin: use configuration avoidance for task registration
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderGroovyTest.groovy
Labels: @core, from:contributor

#12914 Invalidate instant execution cache upon changes to the init script sequence
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/initialization/loadercache/ClassLoadersCachingIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionInitScriptsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprint.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionStartParameter.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12875 Update to newer native platform version
  gradle/dependencies.gradle
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractEventDrivenFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractHierarchicalFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/LinuxFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/soak/src/integTest/groovy/org/gradle/vfs/VirtualFileSystemRetentionSoakTest.groovy
Labels: @build-cache, from:member

#12928 Fix missing quotation marks
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
Labels: @jvm, from:member, in:dependency-management

#12929 Document the special behavior of dependency tasks
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/viewing_debugging_dependencies.adoc
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
Labels: @jvm, from:member, in:dependency-management

#12925 Move watcher tracking strategies to separate classes
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/AbstractFileWatcherRegistryFactory.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DarwinFileWatcherRegistryFactory.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/DefaultFileWatcherRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/HierarchicalFileWatcherUpdater.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/LinuxFileWatcherRegistryFactory.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/NonHierarchicalFileWatcherUpdater.java
  subprojects/core/src/main/java/org/gradle/internal/vfs/WindowsFileWatcherRegistryFactory.java
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/AbstractFileWatcherUpdaterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/HierarchicalFileWatcherUpdaterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/NonHierarchicalFileWatcherUpdaterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/RoutingVirtualFileSystemTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/SnapshotCollectingDiffListener.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistry.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherRegistryFactory.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherUpdater.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/WatchingVirtualFileSystemTest.groovy
Labels: @build-cache, from:member

#12918 Update kotlin-dsl-conventions code quality plugin to 0.5.0 take 2
  buildSrc/build.gradle.kts
  buildSrc/subprojects/buildquality/buildquality.gradle.kts
  buildSrc/subprojects/kotlin-dsl/kotlin-dsl.gradle.kts
  buildSrc/subprojects/uber-plugins/uber-plugins.gradle.kts
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgram.kt
Labels: @instant-execution, a:chore, from:member, in:gradle-build

#12931 Invalidate instant execution cache upon changes to the init script sequence (take 2)
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/initialization/loadercache/ClassLoadersCachingIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildSrcChangesIntegrationTest.groovy
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionInitScriptsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprint.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintController.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintWriter.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/initialization/InstantExecutionStartParameter.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12933 Only use the snapshot hierarchy lock
  subprojects/core/src/test/groovy/org/gradle/internal/vfs/AbstractFileWatcherUpdaterTest.groovy
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/DelegatingDiffCapturingUpdateFunctionDecorator.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/impl/WatchingVirtualFileSystem.java
  subprojects/snapshots/src/main/java/org/gradle/internal/vfs/watch/FileWatcherUpdater.java
  subprojects/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/WatchingVirtualFileSystemTest.groovy
Labels: @build-cache, from:member

#12942 Treat Kotlin warnings as errors in the codebase
  buildSrc/subprojects/uber-plugins/src/main/kotlin/gradlebuild/kotlin-library.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/beans/BeanSchema.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/PatternSetCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/ProviderCodecs.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TaskNodeCodec.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/serialization/codecs/TransformerCodec.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/BuildCacheConfigurationExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ComponentMetadataHandlerExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ClientModuleDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyHandlerDelegate.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/BuildCacheConfigurationExtensionsTest.kt
Labels: a:chore, from:member, in:gradle-build

#12946 Improve cache invalidation message for file changes
  subprojects/instant-execution/src/integTest/groovy/org/gradle/instantexecution/InstantExecutionBuildOptionsIntegrationTest.groovy
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionFingerprintCheckerTest.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12940 Remove test precondition: FIX_TO_WORK_ON_JAVA9
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/PmdPluginIncrementalAnalysisIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginAuxclasspathIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishHttpIntegTest.groovy
  subprojects/ivy/src/integTest/groovy/org/gradle/integtests/publish/ivy/IvyHttpPublishIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/language/java/JavaCompilationAgainstApiJarIntegrationTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesInitializationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerUnsupportedFeatureFailureIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitCategoriesIntegrationSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/IncompatibilityCrossVersionSpec.groovy
Labels: @jvm, from:member, in:gradle-build, in:jvm-ecosystem

#12934 Build Init plugin: use configuration avoidance for task registration …
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderKotlinTest.groovy
Labels: from:contributor

#12943 Fix `ResolvedDependencyResult#getResolvedVariant` returning `null`
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
Labels: a:bug, from:member, in:dependency-management

#12944 Sort subprojects when generating subprojects.json
  .teamcity/subprojects.json
  buildSrc/subprojects/plugins/src/main/kotlin/org/gradle/build/GenerateSubprojectsInfoPlugin.kt
Labels: @dev-productivity, from:member

#12954 Add Travis cache to mitigate Travis build errors
  .travis.yml
Labels: from:contributor

#12932 Tell JaCoCo to ignore kotlin-dsl generated files
  subprojects/core-api/src/main/java/org/gradle/api/Generated.java
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/JacocoIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/SourceFileHeader.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProviderTest.kt
Labels: from:contributor

#12947 Make invalidation message for init script changes more useful and precise
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprint.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintWriter.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionFingerprintCheckerTest.kt
Labels: @instant-execution, a:feature, from:member, in:instant-execution

#12968 Introduce `Provider<T>.forUseAtConfigurationTime(): Provider<T>`
  subprojects/core-api/src/main/java/org/gradle/api/provider/Provider.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
Labels: @instant-execution, a:chore, from:member, in:instant-execution

#12876 Use the configured Zinc version for the Scala runtime
  subprojects/scala/scala.gradle.kts
  subprojects/scala/src/main/java/org/gradle/api/tasks/ScalaRuntime.java
  subprojects/scala/src/test/groovy/org/gradle/api/tasks/ScalaRuntimeTest.groovy
Labels: @jvm, from:member, in:jvm-ecosystem

#12800 Fix link to git documentation
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: @core, from:contributor

#12970 Fix cache invalidation message for init script change
  subprojects/instant-execution/src/main/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionCacheFingerprintChecker.kt
  subprojects/instant-execution/src/test/kotlin/org/gradle/instantexecution/fingerprint/InstantExecutionFingerprintCheckerTest.kt
Labels: @instant-execution, a:bug, from:member, in:instant-execution

#12956 Bump default PMD version to 6.23.0
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/PmdPluginIncrementalAnalysisIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginAuxclasspathIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginSubtypeParamIntegrationTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
Labels: @jvm, from:member, in:jvm-ecosystem, in:pmd-plugin

#12979 Sort configurations in single lock file
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/LockFileReaderWriter.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/LockFileReaderWriterTest.groovy
Labels: @jvm, from:member, in:dependency-management

#12983 Update tested AGP versions
  gradle/dependency-management/agp-versions.properties
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
Labels: @instant-execution, a:chore

#12556 Remove old entries with same port in daemon registry
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/registry/DaemonRegistryContent.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/registry/PersistentDaemonRegistry.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/PersistentDaemonRegistryTest.groovy
Labels: @core, @dev-productivity, a:bug, from:member
