Repository gradle/gradle, pull requests merged in 2021-02, with the labels that each got.

#15981 Fix buildSrc direct invocation with tooling API
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
Labels: from:member, in:core, in:tooling-api

#15967 Add coverage for all Asciidoctor plugins
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: @execution, from:member

#15950 Retain existing plugin resolution order for included plugin builds
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/plugins/CompositeBuildPluginResolverContributor.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/plugins/IncludedPluginBuildPluginResolverContributor.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUsePluginServiceRegistry.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/internal/PluginResolverFactory.java
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/FallbackPluginResolverContributor.java
Labels: @idiomatic, from:member

#15926 Migrate gradle/gradle build to toolchains
  .teamcity/Gradle_Check/configurations/BuildDistributions.kt
  .teamcity/Gradle_Check/configurations/CompileAll.kt
  .teamcity/Gradle_Check/configurations/FunctionalTest.kt
  .teamcity/Gradle_Check/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/Gradle_Check/configurations/Gradleception.kt
  .teamcity/Gradle_Check/configurations/PerformanceTestsPass.kt
  .teamcity/Gradle_Check/configurations/SanityCheck.kt
  .teamcity/Gradle_Check/configurations/SmokeTests.kt
  .teamcity/Gradle_Check/configurations/StagePasses.kt
  .teamcity/Gradle_Check/configurations/TestPerformanceTest.kt
  .teamcity/Gradle_Util/buildTypes/WarmupEc2Agent.kt
  .teamcity/common/JvmCategory.kt
  .teamcity/common/JvmVendor.kt
  .teamcity/common/JvmVersion.kt
  .teamcity/common/Os.kt
  .teamcity/common/performance-test-extensions.kt
  .teamcityTest/Gradle_Check_Tests/ApplyDefaultConfigurationTest.kt
  .teamcityTest/Gradle_Check_Tests/PerformanceTestBuildTypeTest.kt
  build-logic/basics/src/main/kotlin/gradlebuild.available-java-installations.gradle.kts
  build-logic/basics/src/main/kotlin/gradlebuild/basics/extension/BuildJvms.kt
  build-logic/buildquality/src/main/kotlin/gradlebuild.verify-build-environment.gradle.kts
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build-logic/jvm/src/main/kotlin/gradlebuild/jvm/extension/UnitTestAndCompileExtension.kt
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.kotlin-library.gradle.kts
  subprojects/base-services/src/main/java/org/gradle/internal/jvm/GroovyJpmsWorkarounds.java
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
  subprojects/docs/build.gradle
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/MavenInstallation.groovy
  subprojects/java-compiler-plugin/build.gradle.kts
  subprojects/language-java/build.gradle.kts
  subprojects/launcher/build.gradle.kts
  subprojects/model-core/build.gradle.kts
Labels: @core, from:member

#15982 Promote API additions introduced before 6.7
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/RepositoryHandler.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
Labels: a:chore, in:dependency-management, in:jvm-ecosystem

#15973 Remove AGP 3.6 performance tests
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/IncrementalAndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AbstractRealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildSlowPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioMockupPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/FileSystemWatchingPerformanceTest.groovy
Labels: @execution, from:member

#15987 Decide if current directory is the project root only where needed
  subprojects/core-api/src/main/java/org/gradle/initialization/BuildLayoutParameters.java
  subprojects/core-api/src/test/groovy/org/gradle/initialization/BuildLayoutParametersTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcLocationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/execution/DeprecateUndefinedBuildWorkExecutor.java
  subprojects/core/src/main/java/org/gradle/initialization/LayoutCommandLineConverter.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayoutConfiguration.java
  subprojects/core/src/test/groovy/org/gradle/initialization/LayoutCommandLineConverterTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/action/BuildActionSerializer.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/converter/BuildLayoutConverter.java
  subprojects/launcher/src/main/java/org/gradle/launcher/cli/converter/LayoutToPropertiesConverter.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  subprojects/launcher/src/test/groovy/org/gradle/launcher/cli/converter/BuildLayoutConverterTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r26/BuildSrcCrossVersionSpec.groovy
Labels: @core, in:core

#15994 Keep 'Using mustRunAfter/shouldRunAfter/finalizedBy to reference tasks from another build' deprecated until 8.0
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskLifecycleIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
Labels: @idiomatic, a:chore, from:member, in:composite-builds

#15971 Promote ProjectConnection#notifyDaemonsAboutChangedPaths
  subprojects/docs/src/docs/release/notes.md
  subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
Labels: @execution, a:chore, from:member

#15985 Remove deprecated method
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: @core

#15989 Normalize line endings on Kotlin DSL accessors
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateScriptPluginAdapters.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ExtractPrecompiledScriptPluginPluginsTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/IO.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/matchers.kt
Labels: @configuration-cache, a:bug, from:member, in:kotlin-dsl

#15927 Remove deprecated installation registry
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/jvm-services/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/JavaInstallationRegistry.java
  subprojects/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaInstallationRegistryTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/services/PlatformJvmServices.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaDevelopmentKit.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaInstallation.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/JavaInstallationRegistry.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistry.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/task/ShowToolchainsTask.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultJavaInstallationRegistryTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ShowToolchainsTaskTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
Labels: @core, from:member

#16003 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache, a:chore, from:member, in:gradle-build

#15929 Fix multi-test lifecycle for unrolled tests
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/extensions/AbstractMultiTestInterceptor.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/extensions/MultiTestLifecycleSpec.groovy
Labels: @core, a:bug, from:member

#16000 Fix fluid dependencies resolve test
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactDependenciesIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16002 Ensure credentials implementations do not leak sensitive values via toString
  subprojects/model-core/src/main/java/org/gradle/internal/credentials/DefaultHttpHeaderCredentials.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/credentials/CredentialsToStringSpec.groovy
Labels: @core, a:chore, from:member

#15970 Don't use exceptions for validation errors
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginVersionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildSymlinkHandlingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/execution/build.gradle.kts
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/WorkValidationException.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  subprojects/execution/src/testFixtures/groovy/org/gradle/internal/execution/WorkValidationExceptionChecker.groovy
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/PluginUnderTestMetadataIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/bundling/JarIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/BasicGroovyCompilerIntegrationSpec.groovy
Labels: @execution, a:chore, from:member

#16005 Default to no buildId in Gradle module metadata
  subprojects/docs/src/docs/userguide/dep-man/06-publishing/publishing_gradle_module_metadata.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/snippets/publishing/javaLibrary/groovy/build.gradle
  subprojects/docs/src/snippets/publishing/javaLibrary/kotlin/build.gradle.kts
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenGradleModuleMetadataPublishIntegrationTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/publish/src/main/java/org/gradle/api/publish/Publication.java
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: from:member, in:gradle-module-metadata, in:publishing-plugin

#15741 Default to updated version sorting
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/alignment/AlignmentIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenDynamicResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenSnapshotResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenVersionRangeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionConstraintsFeatureInteractionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/CachingVersionSelectorScheme.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionSelectorScheme.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/StaticVersionComparator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/VersionRangeSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ConflictResolverFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/LatestModuleConflictResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/AbstractArtifactRepository.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenRepositoryContentDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenModuleResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultResolvedVersionConstraintTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DefaultVersionedComponentChooserTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/AbstractGradlePomModuleDescriptorParserTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/AbstractDefaultVersionComparatorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparatorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionComparatorWithUpdateKeywordsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/DefaultVersionSelectorSchemeTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/MavenVersionSelectorSchemeTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/UnionVersionSelectorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/VersionRangeSelectorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataSerializerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/LatestModuleConflictResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleSelectorsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/TestModuleSelectorState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptorTest.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/insight/DependencyInsightReporterSpec.groovy
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/internal/insight/DependencyResultSorterSpec.groovy
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/FeaturePreviewsFixture.groovy
  subprojects/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
Labels: @jvm, from:member, in:dependency-management

#15715 Update Gradle Enterprise Gradle plugin to 3.5.1
  build-logic/build-platform/build.gradle.kts
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: @core, from:member

#15997 Never consider an included build with injected plugins as undefined
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuild.java
  subprojects/core/src/main/java/org/gradle/execution/DeprecateUndefinedBuildWorkExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/build/IncludedBuildState.java
  subprojects/version-control/src/integTest/groovy/org/gradle/vcs/internal/GitVcsIntegrationTest.groovy
Labels: @idiomatic, a:bug, from:member, in:composite-builds, in:source-dependencies

#15999 Make executing 'undefined builds' an error
  subprojects/core/src/integTest/groovy/org/gradle/api/UndefinedBuildExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/UndefinedBuildWorkExecutor.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/ProjectCacheDir.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, a:chore, from:member, in:core

#15995 Defer removal of `File` as input of artifact transforms to 8.0
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
Labels: @execution, a:chore, from:member

#15996 Do not handle providers special on a PropertyValue level
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/TaskNodeCodec.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/LocalStateFixture.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/StaticValue.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/DefaultTaskProperties.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/FileParameterUtils.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/InputParameterUtils.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/NestedBeanAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/bean/AbstractNestedRuntimeBeanNode.java
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyIntegrationTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFileCollectionFactory.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionFactory.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/ProviderBackedFileCollection.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/UnpackingVisitor.java
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/DefaultFileCollectionFactoryTest.groovy
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/ProviderBackedFileCollectionTest.groovy
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/CredentialsProviderFactory.java
  subprojects/model-core/src/main/java/org/gradle/api/internal/provider/ProviderResolutionStrategy.java
  subprojects/model-core/src/main/java/org/gradle/util/DeferredUtil.java
  subprojects/model-core/src/test/groovy/org/gradle/util/DeferredUtilTest.groovy
Labels: @execution, from:member

#16014 Upgrade Asciidoctor Gradle Plugin & co. in gradle/gradle build logic
  build-logic/build-init-samples/build.gradle.kts
  build-logic/build-platform/build.gradle.kts
  build-logic/documentation/build.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  subprojects/docs/README.md
  subprojects/docs/build.gradle
Labels: a:chore, from:member, in:gradle-build

#16001 Backport: Normalize line endings on Kotlin DSL accessors
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateScriptPluginAdapters.kt
  subprojects/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ExtractPrecompiledScriptPluginPluginsTest.kt
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/IO.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/matchers.kt
Labels: @configuration-cache, a:bug, from:member, in:kotlin-dsl

#16007 Use a specific TaskOutputCachingDisabledReasonCategory for “disable optimizations”
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskOutputCachingDisabledReasonCategory.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteTaskBuildOperationResult.java
Labels: @execution, from:member

#16016 Update .idea/codeStyles/Project.xml
  .idea/codeStyles/Project.xml
Labels: a:chore, from:member

#15986 Remove ComponentSelectionReason.getDescription
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/ComponentSelectionReason.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentReplacementIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/DependencyResolveRulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectionReasons.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: from:member, in:dependency-management

#15894 Upgrade embedded Kotlin to 1.4.30
  build-logic/basics/src/main/kotlin/gradlebuild.minify.gradle.kts
  build-logic/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-compiler-embeddable.gradle.kts
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
  subprojects/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  subprojects/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  subprojects/docs/src/snippets/java/toolchain-kotlin/groovy/build.gradle
  subprojects/docs/src/snippets/java/toolchain-kotlin/kotlin/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, from:member, in:kotlin-dsl

#16017 Correct version ordering example in documentation
  subprojects/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
Labels: from:contributor, in:docs

#16006 Backport: Improve optimistic concurrency behaviour of `InstrumentingClasspathFileTransformer`
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: @configuration-cache, a:chore, from:member, in:core

#16034 Upgradlew to latest nightly following the Kotlin upgrade to 1.4.30
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  gradle/wrapper/gradle-wrapper.properties
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
Labels: from:member, in:gradle-build

#15984 Silence known Kotlin compiler experimental feature warnings
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinCompilerWarningsTest.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/ExperimentalCompilerWarningSilencer.kt
  subprojects/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/ContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/DefaultContextAwareTaskLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/MessageRewritingBuildOperationAwareLogger.java
Labels: @core, from:member, in:kotlin-dsl

#16042 Fix jdk vendor for experimental jdk16 pipeline
  .teamcity/common/JvmCategory.kt
Labels: a:chore, from:member

#16015 Add 'org.gradle.jvm.environment' attribute
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildDependencyGraphIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/attributes/java/TargetJvmEnvironment.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/JavaPlatformResolveIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dep-man/04-modeling-features/variant_attributes.adoc
  subprojects/docs/src/snippets/dependencyManagement/customizingResolution-consistentResolution/tests/base-dependency-insight.out
  subprojects/docs/src/snippets/dependencyManagement/customizingResolution-consistentResolution/tests/fixed-dependency-insight.out
  subprojects/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule/tests/failRuntimeClasspathResolve.out
  subprojects/docs/src/snippets/dependencyManagement/inspectingDependencies-dependencyReason/tests/dependencyReasonReport.out
  subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReport.out
  subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReportReplaced.out
  subprojects/docs/src/snippets/java-feature-variant/requiring-features-external/tests/runtimeClasspath.out
  subprojects/docs/src/snippets/java-feature-variant/requiring-features/tests/runtimeClasspath.out
  subprojects/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmEnvironmentIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmEcosystemAttributesDetails.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServices.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/JvmEcosystemAttributesDetails.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServicesTest.groovy
Labels: @core, from:member, in:dependency-management, in:jvm-ecosystem

#16020 Re-organize incremental execution performance tests
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidIncrementalExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidPerformanceTestFixture.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/AbstractIncrementalExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/FileSystemWatchingPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIncrementalExecutionIntegrationTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaNonABIChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaTestChangePerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaUpToDatePerformanceTest.groovy
Labels: @execution, from:member

#16041 Remove deprecated usage of KotlinDslPluginOptions.experimentalWarning
  build-logic-commons/code-quality/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
Labels: from:member, in:gradle-build

#16054 Name precompiled script plugin accessors package after classpath fingerprint
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/build.gradle.kts
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/SharedAccessorsPackageAware.kt
Labels: @configuration-cache, a:feature, from:member, in:kotlin-dsl

#16057 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, from:member, in:gradle-build

#16032 Validate plugins used by the Gradle build
  build-logic-settings/allprojects-plugin/build.gradle.kts
  build-logic-settings/allprojects-plugin/src/main/kotlin/gradlebuild.base.allprojects.settings.gradle.kts
  build-logic-settings/build.gradle.kts
  build-logic-settings/settings.gradle.kts
  build-logic/packaging/src/main/kotlin/gradlebuild/packaging/GradleDistributionSpecs.kt
  settings.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractGradleceptionSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractPluginValidatingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildExternalPluginsValidationSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithPluginValidation.groovy
Labels: @execution, a:chore, from:member

#16025 Fix broken links in upgrade guide
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @execution, a:bug, from:member

#16067 Use relative in Kotlin portable DSL
  .teamcity/settings.kts
  .teamcity/src/main/kotlin/common/Branch.kt
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/configurations/BuildDistributions.kt
  .teamcity/src/main/kotlin/configurations/CompileAll.kt
  .teamcity/src/main/kotlin/configurations/FunctionalTest.kt
  .teamcity/src/main/kotlin/configurations/FunctionalTestsPass.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTestsPass.kt
  .teamcity/src/main/kotlin/configurations/SanityCheck.kt
  .teamcity/src/main/kotlin/configurations/SmokeTests.kt
  .teamcity/src/main/kotlin/configurations/StagePasses.kt
  .teamcity/src/main/kotlin/configurations/TestPerformanceTest.kt
  .teamcity/src/main/kotlin/configurations/VcsTriggers.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/src/main/kotlin/projects/CheckProject.kt
  .teamcity/src/main/kotlin/projects/FunctionalTestProject.kt
  .teamcity/src/main/kotlin/projects/GradleBuildToolRootProject.kt
  .teamcity/src/main/kotlin/projects/PerformanceTestProject.kt
  .teamcity/src/main/kotlin/projects/StageProject.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  .teamcity/src/main/kotlin/promotion/PublishBranchSnapshotFromQuickFeedback.kt
  .teamcity/src/main/kotlin/promotion/PublishGradleDistribution.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshot.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshotFromQuickFeedback.kt
  .teamcity/src/main/kotlin/promotion/PublishRelease.kt
  .teamcity/src/main/kotlin/promotion/StartReleaseCycle.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Labels: @dev-productivity, from:member

#16036 Split docs subproject
  .gitignore
  .teamcity/src/main/kotlin/model/FunctionalTestBucketProvider.kt
  build-logic/cleanup/src/main/kotlin/gradlebuild/testing/services/BuildBucketProvider.kt
  build-logic/integration-testing/src/main/kotlin/gradlebuild.split-docs.gradle.kts
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  subprojects/docs/build.gradle
Labels: @dev-productivity, from:member

#16076 Documentation generation fixes
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
Labels: from:member, in:docs

#16068 Do not extend deprecated Spock extension base class
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/timeout/IntegrationTestTimeoutExtension.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/annotations/AllFeaturesShouldBeAnnotated.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/annotations/RunFor.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/FailsWithMessageExtension.java
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPreconditionExtension.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/UsesNativeServicesExtension.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/RequiresInstalledToolChainExtension.groovy
Labels: @core, a:chore, from:member

#16071 Only have one Santa Tracker variant
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/IncrementalAndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/FasterIncrementalAndroidBuildsPerformanceTest.groovy
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerJavaCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @execution, from:member

#16086 Fix `GradleBuildExternalPluginsValidationSmokeTest`
  subprojects/configuration-cache/build.gradle.kts
  subprojects/dependency-management/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildExternalPluginsValidationSmokeTest.groovy
  subprojects/snapshots/build.gradle.kts
Labels: @execution, a:chore, from:member

#16052 Mention file system watching being enabled by default in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: @execution, from:member

#15727 Ensure already completed work is removed from the progress bar when using the rich console
  subprojects/logging/src/main/java/org/gradle/internal/logging/console/WorkInProgressRenderer.java
  subprojects/logging/src/test/groovy/org/gradle/internal/logging/console/WorkInProgressRendererTest.groovy
Labels: @core, from:contributor

#16087 Don't report missing task dependencies for disabled tasks
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
Labels: @execution, from:member

#15634 Fix stack overflow in test runner when running with -Djava.security.debug=access,failure
  subprojects/base-services/src/main/java/org/gradle/internal/io/LineBufferingOutputStream.java
  subprojects/base-services/src/main/java/org/gradle/internal/io/LinePerThreadBufferingOutputStream.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/streams/ExecOutputHandleRunnerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/util/LineBufferingOutputStreamTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/client/InputForwarder.java
  subprojects/testing-base/src/integTest/groovy/org/gradle/testing/SecurityManagerIntegrationTest.groovy
  subprojects/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/execution/XCTestExecuter.java
Labels: @jvm, from:contributor

#16091 Avoid replacing instrumented classpath files
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClasspathBuilder.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: @configuration-cache, a:feature, from:member, in:core

#16089 Fix bug when matching locations for missing task dependencies
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/ValuedVfsHierarchy.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/ExecutionNodeAccessHierarchyTest.groovy
Labels: @execution, from:member

#16082 Remove internal `org.gradle.kotlin.dsl.caching.buildcache` property
  build-logic/gradle.properties
  gradle.properties
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: @configuration-cache, from:member, in:kotlin-dsl

#16040 Enable -Xjvm-default=all for the Kotlin DSL
  build-logic/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmDefaultIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinDslPluginSupport.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: from:member, in:kotlin-dsl

#16105 Update smoke tests to use mavenCentral instead of jcenter where possible
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/play/integtest/fixtures/Repositories.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AnnotationProcessingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleVersionsPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ShadowPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpotBugsPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/TestRetryPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/build.gradle
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/consumer/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/gmm-example/producer/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/kotlin-js-sample/build.gradle.kts
Labels: @core, a:chore, from:member

#16108 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, from:member, in:gradle-build

#16066 Fix incremental compilation with JDK16 using toolchains
  subprojects/docs/src/samples/build-organization/multi-project-with-convention-plugins/groovy/buildSrc/src/test/groovy/com/example/JavaConventionPluginTest.groovy
  subprojects/docs/src/samples/build-organization/multi-project-with-convention-plugins/kotlin/buildSrc/src/test/kotlin/com/example/JavaConventionPluginTest.kt
  subprojects/docs/src/samples/build-organization/publishing-convention-plugins/groovy/convention-plugins/src/test/groovy/com/myorg/JavaConventionPluginTest.groovy
  subprojects/docs/src/samples/build-organization/publishing-convention-plugins/kotlin/convention-plugins/src/test/kotlin/com/myorg/JavaConventionPluginTest.kt
  subprojects/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/ClassNameCollector.java
  subprojects/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/IncrementalCompileTask.java
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseJavaSourceIncrementalCompilationIntegrationTest.groovy
Labels: @core, from:member, in:jvm-ecosystem

#16094 Update to JMH plugin 0.5.3
  build-logic/build-platform/build.gradle.kts
  build-logic/profiling/src/main/kotlin/gradlebuild.jmh.gradle.kts
  gradle/verification-metadata.xml
Labels: @execution, a:chore, from:member

#16119 Bump kotlin-dsl plugins version
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/plugins/PluginBuildsIntegrationTest.groovy
  subprojects/kotlin-dsl-plugins/build.gradle.kts
Labels: from:member, in:kotlin-dsl

#16090 Don't execute init scripts in the nested Kotlin DSL accessors build
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/main/java/org/gradle/initialization/BuildLayoutParameters.java
  subprojects/core-api/src/main/java/org/gradle/initialization/DirectoryInitScriptFinder.java
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/PackageListGenerator.java
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
Labels: @configuration-cache, a:chore, from:member, in:kotlin-dsl

#16121 Upgrade Asciidoctor plugin to 3.3.1
  build-logic/build-platform/build.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  gradle/verification-metadata.xml
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildExternalPluginsValidationSmokeTest.groovy
Labels: @execution, from:member

#16131 Replace jcenter with mavenCentral in performance tests
  subprojects/internal-performance-testing/src/templates/root-project/build.gradle
  subprojects/performance/src/templates/kts-empty/build.gradle.kts
Labels: @core, a:chore, from:member

#16118 Remove GRADLE_METADATA feature preview
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/resolve/GradleMetadataJavaLibraryCrossVersionIntegrationTest.groovy
Labels: @core, in:dependency-management

#16100 Restore default extending from runtimeElements
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/OutgoingVariantsReportTaskIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaLibraryPluginTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: @core, from:member, in:dependency-management

#16137 Add profiler none option to performance tests
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  build-logic/performance-testing/src/main/groovy/gradlebuild/performance/tasks/PerformanceTest.groovy
Labels: @execution, from:member

#16146 Add more triggers for Teamcity
  .teamcity/src/main/kotlin/configurations/FunctionalTest.kt
  .teamcity/src/main/kotlin/configurations/PartialTrigger.kt
  .teamcity/src/main/kotlin/projects/CheckProject.kt
  .teamcity/src/main/kotlin/projects/StageProject.kt
Labels: @dev-productivity, from:member

#16132 Remove more jcenter references from the docs
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
  subprojects/docs/src/samples/readme-templates/multi-common-body.adoc.template
  subprojects/docs/src/snippets/plugins/buildscript/groovy/build.gradle
  subprojects/docs/src/snippets/plugins/buildscript/kotlin/build.gradle.kts
Labels: @core, a:chore, from:member

#16157 Fix documentation of default in java plugin
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: @core, in:dependency-management, in:docs, in:jvm-ecosystem

#16156 Synchronize access to instrumented classpath file via receipt file
  subprojects/base-services/src/main/java/org/gradle/internal/io/ExponentialBackoff.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: @configuration-cache, a:feature, from:member, in:core

#16162 Improve exception handling behaviour of `InstrumentingClasspathFileTransformer`
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: @configuration-cache, a:feature, from:member, in:core

#16164 Increase classpath file instrumentation timeout to 30 seconds
  subprojects/base-services/src/main/java/org/gradle/internal/io/ExponentialBackoff.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: @configuration-cache, a:feature, from:member, in:core

#16153 Set ANDROID_SDK_ROOT on CI
  .teamcity/src/main/kotlin/configurations/FunctionalTest.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/configurations/SmokeTests.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/android/AndroidHome.groovy
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
Labels: @execution, from:member

#16127 Switch remaining unit and integration tests to use mavenCentral instead of jcenter
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationRepositoriesBuildOperationIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/KotlinDslTestUtil.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/polyglot/RepositoriesBuilder.groovy
  subprojects/jacoco/src/test/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginSpec.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/UploadTest.groovy
Labels: @core, a:chore, from:member

#16167 Revert `InstrumentingClasspathFileTransformer` to its old behaviour
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: @configuration-cache, a:chore, from:member, in:core

#16046 Remove non-dynamic constraint on plugin versions.
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingWithPluginManagementSpec.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  subprojects/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
Labels: @core, from:contributor, in:core

#16050 Better wording for messages around disabled optimizations
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheProblemReportingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/BuildResultLoggerIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DirectorySensitivityErrorHandlingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/DefaultWorkValidationWarningRecorder.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultNodeValidator.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveCachingStateStep.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveChangesStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveCachingStateStepTest.groovy
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveChangesStepTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/MissingTaskDependenciesFixture.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GreetingSamplePluginSmokeTest.groovy
Labels: @execution, from:member

#16136 Add Uber mobile app as performance test project
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/ApplyGradleEnterprisePluginFixture.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/IncrementalAndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestScenarioDefinitionVerifier.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidIncrementalExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/AbstractIncrementalExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIncrementalExecutionIntegrationTest.groovy
Labels: @execution, from:member

#16129 Replace jcenter with mavenCentral in build-init plugin
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/AbstractInitIntegrationSpec.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/JvmGradlePluginProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/JvmProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/RepositoriesBuilder.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderGroovyTest.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderKotlinTest.groovy
  subprojects/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc
Labels: @core, a:chore, from:member

#16166 Limit number of parallel jar transforms to available processors
  subprojects/base-services/src/main/java/org/gradle/util/GFileUtils.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: a:feature, from:member, in:core

#16165 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache, a:chore, from:member, in:gradle-build

#16175 Use injection for obtaining FileSystemOperations
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
Labels: @execution, from:member

#16184 Replace jcenter() with mavenCentral() in build logic build test
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
Labels: @core, a:chore, from:member

#16189 Revert "Update wrapper to latest nightly"
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache, a:investigation, from:member

#16145 Fix issue with file hash cache during runtime classpath normalization
  subprojects/core/src/integTest/groovy/org/gradle/normalization/ConfigureRuntimeClasspathNormalizationIntegrationTest.groovy
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/IgnoringResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/PropertiesFileAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/UnionResourceEntryFilter.java
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/IgnoringResourceHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/PropertiesFileAwareClasspathResourceHasherTest.groovy
Labels: @execution, a:bug, from:member, in:core

#16174 Fix handling of excludes for missing task dependency detection
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/ExecutionNodeAccessHierarchy.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/ExecutionNodeAccessHierarchyTest.groovy
Labels: @execution, from:member

#16178 Use deep search for non-task successors
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
Labels: @execution, from:member

#16138 Upgrade kotlinx-metadata-jvm to 0.2.0
  build-logic/build-platform/build.gradle.kts
  subprojects/kotlin-dsl/build.gradle.kts
Labels: @configuration-cache, a:chore, from:member, in:kotlin-dsl

#16188 Update deprecation warning for out of scope resolution
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/UnsafeConfigurationResolutionDeprecationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/viewing_debugging_dependencies.adoc
Labels: @core, from:member, in:dependency-management

#16202 Bump deprecation warnings from 7.0 to 8.0
  subprojects/core/src/integTest/groovy/org/gradle/api/SettingsScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/file/DefaultSourceDirectorySetFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultSourceDirectorySetFactory.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ForcedModulesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractExternalModuleDependency.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactoryTest.groovy
  subprojects/logging/src/integTest/groovy/org/gradle/DeprecatedUsageBuildOperationProgressIntegrationTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationLoggerTest.groovy
  subprojects/performance/src/templates/generateLotsOfDeprecationWarnings/build.gradle
Labels: @core, a:chore, from:member

#16206 Remove explicit Gradle property to enable file system watching
  gradle.properties
Labels: @execution, from:member

#16198 Recover gracefully from crashes during build logic classpath transform
  subprojects/base-services/src/main/java/org/gradle/internal/io/IOQuery.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClasspathBuilder.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultFileLockManager.java
Labels: @configuration-cache, a:feature, from:member, in:core

#16214 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache, a:chore, from:member, in:gradle-build

#16215 Prefer public function to dispose kotlin compiler context
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinCompilerContextDisposer.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: @configuration-cache, a:chore, from:member, in:kotlin-dsl

#16197 Use the output hierarchy to check for overlapping outputs in execution plan
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ExecutionNodeAccessHierarchies.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
Labels: @execution, from:member

#16128 Bump Santa Tracker and re-enable smoke tests
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @execution, from:member

#16218 Fix issue with file hash cache during runtime classpath normalization (6.8 backport)
  subprojects/core/src/integTest/groovy/org/gradle/normalization/ConfigureRuntimeClasspathNormalizationIntegrationTest.groovy
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/IgnoringResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/PropertiesFileAwareClasspathResourceHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/UnionResourceEntryFilter.java
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/IgnoringResourceHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/MetaInfAwareClasspathResourceHasherTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/api/internal/changedetection/state/PropertiesFileAwareClasspathResourceHasherTest.groovy
Labels: @execution, from:member

#16222 Fix smoke tests failing due to new jcenter() deprecation
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @execution, from:member

#16221 Decouple severity from the cacheability state
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/DefaultTypeValidationContext.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/MessageFormattingTypeValidationContext.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/AbstractValidationProblemBuilder.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/DefaultPropertyValidationProblemBuilder.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/DefaultTypeValidationProblemBuilder.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/Severity.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblem.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/ValidationProblemBuilder.java
Labels: @execution, from:member

#16224 Fix kotlin-jvm and java-gradle-plugin interactions with configuration cache enabled
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractProjectRelocationIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: @configuration-cache, from:member, in:plugin-development

#15958 Reduce Kotlin/AGP version combinations
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
Labels: @dev-productivity, from:member

#16228 Re-enable incremental task snippets tests
  subprojects/docs/build.gradle
Labels: @execution, from:member

#16239 Unignore jacoco samples tests on JDK15+
  subprojects/docs/build.gradle
Labels: @core, a:chore, from:member, in:docs

#16241 Fix java cross-compilation snippet tests
  subprojects/docs/build.gradle
  subprojects/docs/src/snippets/java/crossCompilation/groovy/build.gradle
  subprojects/docs/src/snippets/java/crossCompilation/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/java/crossCompilation/tests/java6CrossCompilation.sample.conf
  subprojects/docs/src/snippets/java/crossCompilation/tests/java7CrossCompilation.sample.conf
Labels: @core, a:chore, from:member, in:docs

#16234 Fix plugin import spec not used for files
  subprojects/core/src/main/java/org/gradle/api/internal/std/TomlCatalogFileParser.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/std/TomlDependenciesFileParserTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/CatalogPluginsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/std/DefaultVersionCatalogBuilder.java
  subprojects/plugins/src/integTest/groovy/org/gradle/catalog/VersionCatalogResolveIntegrationTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/catalog/internal/TomlWriterTest.groovy
Labels: @execution, from:member

#16235 Version catalog renames
  subprojects/core/src/main/java/org/gradle/api/internal/std/ImportConfiguration.java
  subprojects/core/src/main/java/org/gradle/api/internal/std/TomlCatalogFileParser.java
  subprojects/core/src/main/java/org/gradle/configuration/BuildTreePreparingProjectsPreparer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/std/ImportConfigurationTest.groovy
  subprojects/core/src/test/resources/org/gradle/api/internal/std/dependency-notations.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid1.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid10.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid11.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid12.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid13.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid15.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid2.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid3.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid4.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid5.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid6.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid7.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid8.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/invalid9.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/one-dependency.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/with-bundles.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/std/without-version.toml
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/central/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/groovy/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-javaPlatformCatalog/kotlin/catalog/repo/com/mycompany/catalog/1.0/catalog-1.0.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/buildSrc/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/libs.versions.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/test-libs.versions.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/settings.gradle
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/buildSrc/settings.gradle.kts
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/libs.versions.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/test-libs.versions.toml
  subprojects/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/settings.gradle.kts
  subprojects/plugins/src/integTest/groovy/org/gradle/catalog/VersionCatalogSupport.groovy
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/composed-platform.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/composed-platform2.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected1.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected2.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected3.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected4.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected5.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected6.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected7.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected8.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected9.toml
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/VersionCatalogPlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/internal/TomlWriter.java
  subprojects/plugins/src/test/resources/org/gradle/api/plugins/catalog/internal/dependencies-notations.toml
  subprojects/plugins/src/test/resources/org/gradle/api/plugins/catalog/internal/dependencies.toml
Labels: @execution, from:member, in:dependency-management

#16236 Add an optional metadata section to TOML file
  subprojects/core/src/main/java/org/gradle/api/internal/std/TomlCatalogFileParser.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/std/TomlCatalogFileParserTest.groovy
  subprojects/core/src/test/resources/org/gradle/api/internal/std/unsupported-format.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/composed-platform.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/composed-platform2.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected1.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected2.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected3.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected4.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected5.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected6.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected7.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected8.toml
  subprojects/plugins/src/integTest/resources/org/gradle/catalog/expected9.toml
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/internal/TomlWriter.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/catalog/internal/TomlWriterTest.groovy
Labels: @execution, from:member, in:dependency-management

#16155 Check version rejector for project dependency
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/RejectedModuleMessageBuilder.java
Labels: @core, from:member, in:dependency-management

#16191 Upgrade asm dependency version
  build-logic/build-platform/build.gradle.kts
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16244 Fix Kotlin DSL Android snippets and re-enable tests
  subprojects/docs/build.gradle
  subprojects/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidBuild/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
Labels: @core, a:chore, from:member, in:docs

#16246 Fix and unignore Kotlin DSL samples tests
  subprojects/docs/build.gradle
  subprojects/docs/src/samples/java/jvm-multi-project-with-additional-test-types/tests/checkTask.sample.conf
  subprojects/docs/src/samples/java/jvm-multi-project-with-code-coverage/tests/testTask.sample.conf
  subprojects/docs/src/samples/java/jvm-multi-project-with-toolchains/tests/checkTask.sample.conf
  subprojects/docs/src/samples/java/modules-multi-project-with-integration-tests/tests/testTask.sample.conf
  subprojects/docs/src/samples/java/modules-multi-project/tests/testTask.sample.conf
Labels: @core, a:chore, from:member, in:docs

#16247 Use Spock2 Groovy3 variant for Spock framework tests
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/spock/Spock2IntegrationSpec.groovy
Labels: @core, a:chore, from:member

#16251 Remove stale compile and runtime references
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
  subprojects/docs/src/docs/userguide/img/java-main-configurations.dot
  subprojects/docs/src/docs/userguide/img/java-main-configurations.png
  subprojects/docs/src/docs/userguide/img/java-test-configurations.dot
  subprojects/docs/src/docs/userguide/img/java-test-configurations.png
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: @core, from:member, in:dependency-management, in:docs

#16265 Do not use private Java compiler APIs
  subprojects/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/processing/AggregatingProcessorTest.groovy
Labels: @core, a:chore, from:member

#16266 Fix tests using ModuleJarFixture for JDK16
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/jpms/ModuleJarFixture.groovy
Labels: @core, a:chore, from:member

#16252 Rephrase the error message for missing value
  subprojects/configuration-cache/build.gradle.kts
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/annotations/NestedBeanAnnotationHandlerTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyIntegrationTest.groovy
  subprojects/integ-test/build.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/problems/ValidationProblemId.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblemRenderer.java
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/PluginUnderTestMetadataIntegrationTest.groovy
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/bundling/JarIntegrationTest.groovy
Labels: @execution, from:member

#16253 Turn validation warnings from `DefaultTransformer` into errors
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/problems/ValidationProblemId.java
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
Labels: @execution, a:chore, from:member

#16226 Let configuration cache deserialize PublishArtifact instances as immutable with equals/hashcode implemented
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/PublishArtifactLocalArtifactMetadataCodec.kt
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
Labels: @configuration-cache, from:member, in:configuration-cache

#16259 Avoid shortening git commit hash in github url
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/TestPageGenerator.java
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/results/TestPageGeneratorTest.groovy
Labels: @core, from:member

#16261 Adjust testing-jvm tests to be compatible with JDK16
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestingIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/cucumberjvm/CucumberJVMReportIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/BuildSrcSpockIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/cucumberjvm/CucumberJVMReportIntegrationTest/testReportingSupportsCucumberStepsWithSlashes/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/cucumberjvm/CucumberJVMReportIntegrationTest/testReportingSupportsCucumberStepsWithSlashes/src/test/java/HelloStepdefs.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/cucumberjvm/CucumberJVMReportIntegrationTest/testReportingSupportsCucumberStepsWithSlashes/src/test/java/RunCukesTest.java
Labels: @core, a:chore, from:member

#16263 Update Santa Tracker
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: @core, from:member, in:dependency-management

#16116 Range of dependency upgrades
  build-logic/build-platform/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/resources-s3/build.gradle.kts
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiResolveIntegrationTest.groovy
Labels: @core, a:chore, from:member, in:core

#16283 Replace illegal-access causing Groovy closure with class
  subprojects/snapshots/src/testFixtures/groovy/org/gradle/internal/snapshot/SnapshotVisitorUtil.groovy
Labels: @core, a:chore, from:member

#16272 Fix incremental task samples tests
  subprojects/docs/build.gradle
  subprojects/docs/src/snippets/tasks/incrementalTask/groovy/build.gradle
  subprojects/docs/src/snippets/tasks/incrementalTask/kotlin/build.gradle.kts
Labels: @execution, from:member

#16284 Remove no longer needed illegal reflective access
  subprojects/file-collections/src/testFixtures/groovy/org/gradle/api/internal/file/collections/AbstractDirectoryWalkerTest.groovy
Labels: @core, a:chore, from:member

#16279 Remove Scala Compiler Cross-Compilation Documentation
  subprojects/docs/build.gradle
  subprojects/docs/src/docs/userguide/jvm/scala_plugin.adoc
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/build.gradle
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/gradle.properties
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/settings.gradle
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/src/main/java/org/gradle/sample/Named.java
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/src/main/scala/org/gradle/sample/JavaPerson.java
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/src/main/scala/org/gradle/sample/Person.scala
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/src/main/scala/org/gradle/sample/PersonList.scala
  subprojects/docs/src/snippets/scala/crossCompilation/groovy/src/test/scala/org/gradle/sample/PersonSpec.scala
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/gradle.properties
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/src/main/java/org/gradle/sample/Named.java
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/src/main/scala/org/gradle/sample/JavaPerson.java
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/src/main/scala/org/gradle/sample/Person.scala
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/src/main/scala/org/gradle/sample/PersonList.scala
  subprojects/docs/src/snippets/scala/crossCompilation/kotlin/src/test/scala/org/gradle/sample/PersonSpec.scala
  subprojects/docs/src/snippets/scala/crossCompilation/readme.xml
Labels: @core, from:member

#16275 Update test-distribution plugin to version 2.0-rc-5
  build-logic/build-platform/build.gradle.kts
  settings.gradle.kts
Labels: from:member

#16294 Adjust tested CodeNarc versions for compatibility with JDK16
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcCompilationClasspathIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16293 Upgrade PMD to the latest version
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/Pmd.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdExtension.java
  subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_6.adoc
Labels: @core, a:chore, from:member

#16291 Use JDK16 compatible version of test-kit for cross-version tests
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerArgumentsIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16290 Use latest Groovy with JDK16 in memory leak test
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/IsolatedAntBuilderMemoryLeakIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16289 Fix illegal reflective accesses in tests
  subprojects/base-services/src/test/groovy/org/gradle/util/GFileUtilsTest.groovy
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/DaemonRegistryServicesTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
Labels: @core, a:chore, from:member

#15905 Fail on invalid available-at when generating Gradle Module Metadata
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/docs/src/docs/design/gradle-module-metadata-latest-specification.md
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: @core, from:member, in:dependency-management

#16280 Add resource lock to promotion jobs
  .teamcity/src/main/kotlin/promotion/BasePromotionBuildType.kt
Labels: @dev-productivity, from:member

#16301 Fix PMD custom ruleset test
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginVersionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/util/VersionNumber.java
Labels: @core, a:chore, from:member

#16304 Ensure distribution contains all groovy modules
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/api/GroovyClasspathIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DependencyClassPathProvider.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyHandlerApiResolveIntegrationTest.groovy
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/AbstractSourcesAndJavadocJarsIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsGenerationIntegrationTest.groovy
Labels: @core, from:member

#16305 Adjust Groovy multi-version tests for JDK16
  subprojects/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/AbstractToolchainGroovyCompileIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/HigherToolchainGroovyCompileIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16307 Do not test no-op -footer javadoc option on JDK16
  subprojects/language-java/src/integTest/groovy/org/gradle/javadoc/JavadocIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16306 Ignore Scala test with Lombok on JDK16
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/ScalaAnnotationProcessingIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16285 Make snippets in component metadata rule section idiomatic
  subprojects/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule/groovy/build.gradle
  subprojects/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule/kotlin/build.gradle.kts
Labels: @core, @idiomatic, from:member, in:dependency-management, in:docs

#16276 Turn validation warnings from `DefaultTypeAnnotationMetadataStore` into errors
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultNodeValidator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformer.java
  subprojects/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/problems/ValidationProblemId.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/Severity.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStoreTest.groovy
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ArtifactoryAndDockerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NodePluginsSmokeTest.groovy
Labels: @execution, from:member

#16300 Improve documentation on custom and lazy types
  subprojects/docs/src/docs/userguide/extending-gradle/custom_gradle_types.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/lazy_configuration.adoc
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/groovy/buildSrc/src/main/java/org/myorg/SiteExtension.java
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/kotlin/buildSrc/src/main/java/org/myorg/SiteExtension.java
  subprojects/docs/src/snippets/plugins/constructorServiceInjection/groovy/buildSrc/src/main/java/Download.java
  subprojects/docs/src/snippets/plugins/mutableManagedProperty/groovy/buildSrc/src/main/java/Download.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/groovy/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/groovy/settings.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/build.gradle
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/plugins/namedDomainObjectContainerInterfaces/tests/namedDomainObjectContainerInterfaces.sample.conf
  subprojects/docs/src/snippets/plugins/nestedObjects/groovy/buildSrc/src/main/java/DownloadExtension.java
  subprojects/docs/src/snippets/plugins/nestedObjects/groovy/buildSrc/src/main/java/DownloadPlugin.java
  subprojects/docs/src/snippets/plugins/nestedObjects/groovy/buildSrc/src/main/java/Resource.java
  subprojects/docs/src/snippets/plugins/propertyServiceInjection/groovy/buildSrc/src/main/java/Download.java
  subprojects/docs/src/snippets/plugins/readOnlyManagedProperty/groovy/build.gradle
  subprojects/docs/src/snippets/plugins/readOnlyManagedProperty/groovy/buildSrc/src/main/java/Download.java
  subprojects/docs/src/snippets/plugins/readOnlyNestedProperty/groovy/buildSrc/src/main/java/Download.java
  subprojects/docs/src/snippets/providers/connectProperties/groovy/build.gradle
  subprojects/docs/src/snippets/providers/connectProperties/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/fileAndDirectoryProperty/groovy/build.gradle
  subprojects/docs/src/snippets/providers/fileAndDirectoryProperty/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/implicitTaskInputDependency/groovy/build.gradle
  subprojects/docs/src/snippets/providers/implicitTaskInputDependency/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/implicitTaskInputFileDependency/groovy/build.gradle
  subprojects/docs/src/snippets/providers/implicitTaskInputFileDependency/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/listProperty/groovy/build.gradle
  subprojects/docs/src/snippets/providers/listProperty/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/mapProperty/groovy/build.gradle
  subprojects/docs/src/snippets/providers/mapProperty/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/propertyAndProvider/groovy/build.gradle
  subprojects/docs/src/snippets/providers/propertyAndProvider/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/propertyConvention/groovy/build.gradle
  subprojects/docs/src/snippets/providers/propertyConvention/kotlin/build.gradle.kts
Labels: @core, @idiomatic, from:member, in:configuration-model, in:docs

#16288 Update TestKit documentation
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
  subprojects/docs/src/snippets/testKit/automaticClasspathInjectionCustomTestSourceSet/groovy/build.gradle
  subprojects/docs/src/snippets/testKit/automaticClasspathInjectionCustomTestSourceSet/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testKit/automaticClasspathInjectionQuickstart/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testKit/gradleVersion/groovy/src/test/groovy/org/gradle/sample/BuildLogicFunctionalTest.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/build.gradle
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/settings.gradle
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/src/main/groovy/org/gradle/sample/HelloWorld.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/src/main/groovy/org/gradle/sample/HelloWorldPlugin.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/src/main/resources/META-INF/gradle-plugins/org.gradle.sample.helloworld.properties
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/groovy/src/test/groovy/org/gradle/sample/BuildLogicFunctionalTest.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/src/main/groovy/org/gradle/sample/HelloWorld.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/src/main/groovy/org/gradle/sample/HelloWorldPlugin.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/src/main/resources/META-INF/gradle-plugins/org.gradle.sample.helloworld.properties
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/kotlin/src/test/groovy/org/gradle/sample/BuildLogicFunctionalTest.groovy
  subprojects/docs/src/snippets/testKit/manualClasspathInjection/tests/testKitFunctionalTestSpockClassesBuildConfig.sample.conf
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerSamplesEndUserIntegrationTest.groovy
Labels: @core, @idiomatic, from:member, in:docs, in:plugin-development, in:test-kit

#16312 Add plugin validation smoke test for the Kotlin plugins
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginRegistry.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractPluginValidatingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: @execution, from:member

#16309 Adjust reproducible gzip test for JDK16
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ReproducibleArchivesIntegrationTest.groovy
Labels: @core, a:chore, from:member

#16262 Revert AbstractTask deletion and restore binary compatibility with groovy plugins
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanSchema.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/taskfactory/TaskFactoryIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskDefinitionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/DefaultTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskDestroyablesInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskLocalStateInternal.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingBackwardsCompatibilityVisitor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractTaskSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultTaskTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/TaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/DefaultTypeMetadataStoreTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractSpockTaskTest.groovy
  subprojects/integ-test/src/crossVersionTest/groovy/org/gradle/integtests/TaskSubclassingBinaryCompatibilityCrossVersionSpec.groovy
  subprojects/integ-test/src/crossVersionTest/groovy/org/gradle/integtests/TaskTransitiveSubclassingBinaryCompatibilityCrossVersionSpec.groovy
Labels: @core, from:member

#16321 Update wrapper and remove deprecated internal class from build
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  subprojects/base-services/src/main/java/org/gradle/internal/jvm/GroovyJpmsWorkarounds.java
Labels: @core, a:chore, from:member

#16317 Patch Groovy interoperability in Kotlin DSL for GroovyObject method calls in withGroovyBuilder
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GroovyInteroperabilityIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/GroovyInteroperability.kt
Labels: @core, a:regression, from:member, in:kotlin-dsl

#16296 Add comment why deprecation warning for spring-boot isn't problematic
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpringBootPluginSmokeTest.groovy
Labels: @execution, from:member
