Repository gradle/gradle, pull requests merged in 2023-03, with the labels that each got.

#24066 Document and promote use of ServiceReferences
  subprojects/core-api/src/main/java/org/gradle/api/services/ServiceReference.java
  subprojects/docs/src/docs/userguide/extending-gradle/build_services.adoc
Labels: in:build-services, a:documentation

#24086 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#23920 Reduce OutputEventRenderer.onOutput() locking by refine lock granularity
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/OutputEventRenderer.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/sink/OutputEventTransformer.java
Labels: from:contributor

#24080 Bump default daemon max metaspace to 384m
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
Labels: in:daemon

#24000 Respect build log level in tooling api builds
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/protocol/DaemonMessageSerializer.java
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/server/exec/LogToClient.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/DaemonBuildActionExecuter.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/LoggingBridgingBuildActionExecuter.java
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/connection/BuildLogLevelMixIn.java
  subprojects/launcher/src/test/groovy/org/gradle/tooling/internal/provider/connection/BuildLogLevelMixInTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/logging/LoggingConfigurationBuildOptions.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r81/LogLevelConfigCrossVersionSpec.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiIntegrationTest.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiTestCommon.groovy
Labels: in:tooling-api

#22471 Set parallel and caching in gradle init
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/AbstractInitIntegrationSpec.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/GroovyApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/GroovyGradlePluginInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/GroovyLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinGradlePluginInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/GradlePropertiesGenerator.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/InitSettings.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/services/ProjectLayoutSetupRegistryFactory.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/GradlePropertiesGeneratorTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: from:contributor

#24105 Use buffered stream for keyring file read
  subprojects/security/src/main/java/org/gradle/security/internal/SecuritySupport.java
Labels: from:contributor

#24100 Update master wrapper to enable instrumentation agent
  gradle/wrapper/gradle-wrapper.properties
Labels: @configuration-cache

#24102 Fix binary compatibility for build cache NG
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceTest.groovy
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/internal/HttpBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/NextGenBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/NoOpBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultNextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/GZipNextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheHandler.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/service/StoreTarget.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/H2BuildCacheService.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceTest.groovy
  subprojects/core-api/src/main/java/org/gradle/caching/BuildCacheEntryWriter.java
  subprojects/core-api/src/main/java/org/gradle/caching/BuildCacheService.java
  subprojects/core-api/src/main/java/org/gradle/caching/MapBasedBuildCacheService.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/NextGenBuildCacheControllerFactory.java
Labels: @execution, in:build-cache

#24124 Merge release into master
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/build-platform/build.gradle.kts
  gradle/dependency-management/agp-versions.properties
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkedTestClasspath.java
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessorTest.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitIntegrationTest/executesTestsInCorrectEnvironment/src/test/java/org/gradle/OkTest.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/TestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/DefaultTestExecuter.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactory.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
  subprojects/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactoryTest.groovy
Labels: a:chore

#24114 Always fail the test task if unrecoverable errors occur during test result processing
  subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessorTest.groovy
Labels: in:testing, a:bug

#24130 Fix writing dependency verification file when configuration cache is enabled
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultIncludedBuildRegistry.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultNestedBuild.java
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheAwareBuildTreeWorkController.kt
  subprojects/core/src/main/java/org/gradle/internal/build/AbstractBuildState.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildLifecycleController.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildModelLifecycleListener.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildState.java
  subprojects/core/src/main/java/org/gradle/internal/build/DefaultBuildLifecycleController.java
  subprojects/core/src/main/java/org/gradle/internal/build/DefaultBuildLifecycleControllerFactory.java
  subprojects/core/src/main/java/org/gradle/internal/build/ExecutionResult.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/DefaultBuildTreeFinishExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/model/StateTransitionController.java
  subprojects/core/src/test/groovy/org/gradle/internal/build/DefaultBuildLifecycleControllerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/build/ExecutionResultTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/model/StateTransitionControllerTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationWritingIntegTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/StartParameterResolutionOverride.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/DependencyVerificationOverride.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/writer/WriteDependencyVerificationFile.java
Labels: in:configuration-cache, @configuration-cache, in:dependency-locking, in:dependency-verification

#24128 Make publishing incompatible with CC in some cases
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/plugins/MavenPublishPlugin.java
Labels: in:publishing-plugins, in:configuration-cache

#23716 Fix the bad assertion in ClasspathUtil
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/ClasspathUtil.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/classloader/ClasspathUtilTest.groovy
Labels: from:contributor

#24083 Follow up on transformation build operations
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedTaskConverter.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildOperationFiringBuildWorkPreparer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ToPlannedNodeConverterRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/ToPlannedNodeConverterRegistryTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ExecuteScheduledTransformationStepBuildOperationDetails.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ToPlannedTransformConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/enterprise-operations/src/main/java/org/gradle/api/internal/artifacts/transform/ExecuteScheduledTransformationStepBuildOperationType.java
  subprojects/enterprise-operations/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationIdentity.java
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/CalculateTaskGraphBuildOperationType.java
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/NodeIdentity.java
Labels: in:build-scan

#24099 Prohibit BuildServiceProviders in configuration cache fingerprint
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildServiceIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFlowScopeIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheValueSourceIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ScopedFingerprintWriter.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/PropertyProblem.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @configuration-cache

#20654 Print absolute path of TOML file, when parsing fails
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/parser/TomlCatalogFileParser.java
  subprojects/core/src/main/java/org/gradle/configuration/BuildTreePreparingProjectsPreparer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/catalog/parser/TomlCatalogFileParserTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/catalog/internal/TomlWriterTest.groovy
  subprojects/plugins/src/test/resources/org/gradle/api/plugins/catalog/internal/wrong.toml
  subprojects/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
Labels: @dev-productivity

#24136 Add Kotlin DSL improvements to 8.1 release notes
  subprojects/docs/src/docs/release/notes.md
Labels: in:kotlin-dsl, a:documentation

#24138 Finalize transform build operations naming
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/LocalFileDependencyBackedArtifactSetCodec.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/transform/Transforms.kt
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultExtraExecutionGraphDependenciesResolverFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultPlannedTransformStep.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformUpstreamDependenciesResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ExecutePlannedTransformStepBuildOperationDetails.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ToPlannedTransformStepConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformUpstreamDependencies.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/CalculateTaskGraphBuildOperationType.java
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/NodeIdentity.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/configurations/ConfigurationIdentity.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/transforms/ExecutePlannedTransformStepBuildOperationType.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/transforms/PlannedTransformStepIdentity.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/Capability.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/ComponentIdentifier.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/ModuleComponentIdentifier.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/OpaqueComponentIdentifier.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/ProjectComponentIdentifier.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TransformOperationMapper.java
Labels: in:build-scan

#24147 Update wrapper to 8.0.2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#23977 Fix error message when source file is not found in binary compatibility check
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/SourcesRepository.kt
Labels: from:contributor

#24148 Promote ValueSource APIs
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSourceParameters.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSourceSpec.java
  subprojects/docs/src/docs/release/notes.md
Labels: @configuration-cache

#24158 Fix typo
  subprojects/docs/src/docs/userguide/migration/upgrading_version_7.adoc
Labels: a:documentation, from:contributor

#24146 Handle ValueSource exceptions during fingerprint checking
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheValueSourceIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintChecker.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  subprojects/model-core/src/integTest/groovy/org/gradle/api/provider/ProcessOutputProviderIntegrationTest.groovy
Labels: @configuration-cache

#24157 Make `--scan` part of the configuration cache key
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheKey.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheStartParameter.kt
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginConfigIntegrationTest.groovy
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginConfigurationCachingIntegrationTest.groovy
Labels: in:configuration-cache, @configuration-cache

#24095 Add release notes for fix
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/migration/upgrading_version_5.adoc
Labels: in:tooling-api, a:documentation

#24110 Fix path to javadoc
  subprojects/docs/src/docs/userguide/reference/third_party_integration.adoc
Labels: a:documentation

#24176 Update to recent wrapper
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore

#24164 Follow-up text fixes
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @configuration-cache, a:documentation

#24150 Encrypt configuration cache
  gradle.properties
  subprojects/base-services/src/main/java/org/gradle/util/internal/EncryptionAlgorithm.java
  subprojects/build-option/src/main/java/org/gradle/internal/buildoption/StringInternalOption.java
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheEncryptionIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheKey.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheRepository.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheStateStore.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/EncryptionService.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintChecker.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheStartParameter.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheKeyTest.kt
  subprojects/core-api/src/main/java/org/gradle/util/internal/SupportedEncryptionAlgorithm.java
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ConfigurationCacheGradleExecuter.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/action/BuildActionSerializer.java
Labels: in:configuration-cache, @configuration-cache

#24187 Rename `FlowProviders.{requestedTasks => buildWork}Result`
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFlowScopeIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/flow/BuildFlowScope.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/flow/DefaultFlowProviders.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
  subprojects/core-api/src/main/java/org/gradle/api/flow/BuildWorkResult.java
  subprojects/core-api/src/main/java/org/gradle/api/flow/FlowProviders.java
Labels: in:configuration-cache, @configuration-cache

#24021 Add documentation for Kotlin Property assignment
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc
  subprojects/docs/src/docs/userguide/extending-gradle/lazy_configuration.adoc
  subprojects/docs/src/snippets/kotlinDsl/assignment/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/assignment/kotlin/gradle.properties
  subprojects/docs/src/snippets/kotlinDsl/assignment/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/assignment/tests/accessors.sample.conf
  subprojects/docs/src/snippets/providers/propertyAndProvider/groovy/build.gradle
  subprojects/docs/src/snippets/providers/propertyAndProvider/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/propertyAndProvider/kotlin/gradle.properties
Labels: in:kotlin-dsl, @execution, a:documentation

#23697 Apply the latest artifactId in pluginMarkerMaven POM.
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginPublishingIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/MavenPluginPublishPlugin.java
Labels: from:contributor

#24195 Fix flaky precompiled kotlin script output capture
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
Labels: in:kotlin-dsl

#24206 Isolate flow actions and ensure only them can reference the `buildWorkResult` provider
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFlowScopeIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Codec.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Contexts.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Logging.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/BindingsBackedCodec.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
Labels: in:configuration-cache, @configuration-cache

#24214 Fix for attribute compatibility rules for file dependencies loaded from configuration cache
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FileDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/type/DefaultArtifactTypeRegistry.java
Labels: in:configuration-cache, @configuration-cache, in:dependency-declarations

#24212 Remove redundant `atConfigurationTime()` checks
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
Labels: in:configuration-cache, @configuration-cache

#24161 Dynamically performance test AGP lastest stable/RC versions with SantaTracker
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateAgpVersions.kt
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateKotlinVersions.kt
  gradle/dependency-management/kotlin-versions.properties
  subprojects/internal-integ-testing/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidIncrementalExecutionPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidPerformanceTestFixture.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioPerformanceTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidCommunityPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyGradleModuleMetadataSmokeTest.groovy
Labels: a:chore, in:smoke-test, in:performance-test

#24209 Fix spurious `:compilePluginsBlock` warnings for non-existing classpath entries
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
Labels: in:kotlin-dsl

#24220 Skip failing cross version tests on unsupported Gradle versions
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/BuildProgressTaskActionsCrossVersionSpec.groovy
Labels: in:kotlin-dsl

#24226 Add Kotlin 1.8.20-RC to tested versions
  gradle/dependency-management/kotlin-versions.properties
Labels: a:chore

#24237 Cherry-pick fix for compatibility rules for directories in file dependencies
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FileDependencyResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/type/DefaultArtifactTypeRegistry.java
Labels: in:configuration-cache, in:dependency-resolution

#24238 Temporarily disable the configuration cache when `--write-verification-metadata` is used
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultNestedBuildTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheDependencyResolutionFeaturesIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheStartParameter.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheKeyTest.kt
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildModelParameters.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureWriteIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationWritingIntegTest.groovy
Labels: @configuration-cache, in:dependency-verification

#23887 Support JDK 20 (compiling and testing only)
  build-logic/build-platform/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  subprojects/base-services/src/main/java/org/gradle/api/JavaVersion.java
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/util/TestPrecondition.groovy
  subprojects/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  subprojects/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/internal/normalization/java/ApiClassExtractorTest.groovy
  subprojects/normalization-java/src/test/groovy/org/gradle/internal/normalization/java/ApiClassExtractorTestSupport.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
Labels: a:feature, in:java-plugins

#24246 Add cc test coverage for `finalizeValueOnRead`
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheSupportedTypesIntegrationTest.groovy
Labels: in:configuration-cache, @configuration-cache

#24120 Add buildTreePath to BasicGradleProject
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r72/CompositeBuildCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r82/CompositeBuildCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r82/FetchTasksAction.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleBuildBuilder.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleProjectBuilder.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/model/BasicGradleProject.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/model/DefaultGradleProject.java
  subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/model/LaunchableGradleTask.java
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/internal/tooling/GradleBuildBuilderTest.groovy
  subprojects/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslScriptsModelCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/BuildProgressTaskActionsCrossVersionSpec.groovy
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiIntegrationTest.groovy
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/Task.java
  subprojects/tooling-api/src/main/java/org/gradle/tooling/model/gradle/BasicGradleProject.java
Labels: in:tooling-api

#22523 Report problem for task convention access at execution time
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheTaskExecutionIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DeprecatedFeaturesListener.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/TaskExecutionAccessCheckers.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Workarounds.kt
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionAccessChecker.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskExecutionAccessListener.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginAndroidKotlinDSLSmokeTest.groovy
Labels: in:configuration-cache, @configuration-cache

#24262 Ensure we acquire localhost address before we time
  subprojects/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/DaemonRegistryServicesTest.groovy
Labels: flaky-fix-it

#24184 Warn when using deprecated listeners as loggers
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheProblemReportingIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/BuildListener.java
  subprojects/core-api/src/main/java/org/gradle/api/execution/TaskActionListener.java
  subprojects/core-api/src/main/java/org/gradle/api/execution/TaskExecutionListener.java
  subprojects/core-api/src/main/java/org/gradle/api/invocation/Gradle.java
  subprojects/core-api/src/main/java/org/gradle/internal/DeprecatedInGradleScope.java
  subprojects/core/src/integTest/groovy/org/gradle/configuration/ExecuteUserLifecycleListenerBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/test/groovy/org/gradle/invocation/DefaultGradleSpec.groovy
  subprojects/docs/build.gradle
  subprojects/docs/src/docs/userguide/authoring-builds/logging.adoc
  subprojects/docs/src/snippets/kotlinDsl/interoperability-closure-of/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/plugins/buildscript/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/plugins/dsl/tests/sanityCheck.sample.conf
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/TestListener.java
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/TestOutputListener.java
Labels: @configuration-cache

#24250 Upgrade smoke tested plugin versions
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidCommunityPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/FreefairAspectJPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinCompilerPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPrecompiledScriptPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/MicronautPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ProguardSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpotlessPluginSmokeTest.groovy
Labels: a:chore, in:smoke-test

#24281 Add kotlin-dsl code owners
  .github/CODEOWNERS
Labels: a:chore, in:kotlin-dsl

#24266 Let tests use extensions instead of conventions - part 2
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/JansiEndUserIntegrationTest.groovy
  subprojects/docs/src/snippets/ear/earCustomized/groovy/ear/build.gradle
  subprojects/docs/src/snippets/ear/earCustomized/kotlin/ear/build.gradle.kts
  subprojects/docs/src/snippets/java/customDirs/groovy/build.gradle
  subprojects/docs/src/snippets/mavenMigration/basic/groovy/build.gradle
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r210/ConventionsExtensionsCrossVersionFixture.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r210/ToolingApiEclipseModelCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r211/ToolingApiEclipseModelCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r211/ToolingApiIdeaModelCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r212/ToolingApiIdeaModelCrossVersionSpec.groovy
  subprojects/ide/src/crossVersionTest/groovy/org/gradle/plugins/ide/tooling/r30/ToolingApiEclipseModelClasspathContainerCrossVersionSpec.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseJavaProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpJavaProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpWebAndJavaProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpWebProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/build.gradle
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/common/build.gradle
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/eclipse/EclipseIntegrationTest/canCreateAndDeleteMetaData/webAppJava6/build.gradle
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/canCreateAndDeleteMetaData/build.gradle
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/worksWithNonStandardLayout/root/build.gradle
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginUnixShellsIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/AbstractIncrementalCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/ScalaAnnotationProcessingIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaCompilationFixture.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskJdkRelocationIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r25/TestProgressCrossVersionSpec.groovy
Labels: a:chore, in:configuration-model

#24233 Misc release notes improvements
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleReleaseNotesPlugin.java
  subprojects/docs/src/docs/release/notes-template.md
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/launcher/src/main/resources/release-features.txt
Labels: a:chore

#24301 Let tests use extensions instead of conventions - part 3
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcPluginIntegrationTest.groovy
  subprojects/docs/src/snippets/java/customDirs/groovy/build.gradle
  subprojects/docs/src/snippets/java/customDirs/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/noAccessors/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/scala/customizedLayout/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/testing/junit-xml-results/groovy/build.gradle
  subprojects/docs/src/snippets/testing/junit-xml-results/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/tutorial/manifest/groovy/build.gradle
  subprojects/docs/src/snippets/tutorial/manifest/kotlin/build.gradle.kts
  subprojects/ear/src/integTest/groovy/org/gradle/plugins/ear/EarPluginIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseJavaProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpEarProjectIntegrationTest.groovy
  subprojects/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpModelIntegrationTest.groovy
  subprojects/ide/src/test/groovy/org/gradle/plugins/ide/internal/tooling/eclipse/EclipseModelBuilderTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmDefaultIntegrationTest.kt
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecMainClassIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/ApplicationPluginConvention.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaApplication.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ShadowPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpringBootPluginSmokeTest.groovy
Labels: a:chore, in:configuration-model

#24305 Fix execution plan resolution in build operation
  subprojects/core/src/main/java/org/gradle/internal/build/BuildOperationFiringBuildWorkPreparer.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/CalculateTaskGraphBuildOperationType.java
Labels: in:build-scan, in:build-operations

#24292 Allow external processes and file reads in transforms
  subprojects/base-services/src/main/java/org/gradle/internal/operations/BuildOperationCategory.java
  subprojects/base-services/src/main/java/org/gradle/internal/operations/UncategorizedBuildOperations.java
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/TransformFixture.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInTransformIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/FilesInTransformIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProviderNagger.java
  subprojects/core/src/main/java/org/gradle/internal/execution/DefaultWorkExecutionTracker.java
  subprojects/core/src/main/java/org/gradle/internal/execution/WorkExecutionTracker.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformerInvocationFactory.java
  subprojects/logging/src/main/java/org/gradle/internal/logging/progress/DefaultProgressLoggerFactory.java
Labels: @configuration-cache

#24280 Run dependency actions on entire hierarchy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ExtendingConfigurationsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilder.java
Labels: a:bug

#24291 Make ToPlannedNodeConverterRegistry thread safe
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedNodeConverter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ToPlannedNodeConverterRegistry.java
Labels: in:build-scan

#24213 Report problem for external process started at configuration time by default
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFeatureFlagsIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheStableConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
Labels: in:configuration-cache, @configuration-cache

#24290 Add Groovy 4.0.8 and 4.0.9 to coverage
  subprojects/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
Labels: in:groovy-plugin, in:building-gradle

#24319 De-incubate the org.gradle.language.jvm.tasks package
  subprojects/language-jvm/src/main/java/org/gradle/language/jvm/tasks/package-info.java
Labels: a:chore

#24293 Encrypt configuration cache unconditionally
  gradle.properties
  subprojects/base-services/src/main/java/org/gradle/util/internal/EncryptionAlgorithm.java
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheEncryptionIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/EncryptionService.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheStartParameter.kt
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ConfigurationCacheGradleExecuter.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/action/BuildActionSerializer.java
  subprojects/persistent-cache/src/main/java/org/gradle/cache/FileLockManager.java
Labels: in:configuration-cache, @configuration-cache

#24298 Add warning when a tag/category is both included and excluded
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/TestNGExecutionResult.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/junitplatform/JUnitPlatformTestRewriter.groovy
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/test/fixtures/junitplatform/JUnitPlatformTestRewriterTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/DefaultTestExecutionResult.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/HtmlTestExecutionResult.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/JUnitTestClassExecutionResult.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/TestClassExecutionResult.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/fixture/JUnitMultiVersionIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canCombineTagsWithCustomExtension/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canCombineTagsWithCustomExtension/src/test/java/org/gradle/Locales.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canCombineTagsWithCustomExtension/src/test/java/org/gradle/SomeLocaleTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canCombineTagsWithCustomExtension/src/test/java/org/gradle/SomeMoreLocalTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canRunParameterizedTestsWithTags/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/canRunParameterizedTestsWithTags/src/test/java/org/gradle/NestedTestsWithTags.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatACTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatADTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatATests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatBTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatCBTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatCTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatDTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CatZTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CategoryA.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CategoryB.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CategoryC.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CategoryD.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/CategoryZ.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/MixedTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingConflictingIncludeAndExcludeCategory/src/test/java/org/gradle/NoCatTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/build.gradle
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatACTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatADTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatATests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatBTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatCBTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatCTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatDTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CatZTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CategoryA.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CategoryB.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CategoryC.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CategoryD.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/CategoryZ.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/MixedTests.java
  subprojects/testing-jvm/src/integTest/resources/org/gradle/testing/junit/JUnitCategoriesCoverageIntegrationSpec/warningWhenSpecifyingMultipleConflictingIncludeAndExcludeCategories/src/test/java/org/gradle/NoCatTests.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestFramework.java
  subprojects/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestFramework.java
Labels: a:feature, in:testing-junit5, in:testing-junit4

#24332 Annotate transform-related packages and types with NonNullApi
  subprojects/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
  subprojects/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixtureTest.java
  subprojects/architecture-test/src/test/java/org/gradle/architecture/test/BuildOperationsApiTest.java
  subprojects/architecture-test/src/test/java/org/gradlebuild/nonnullapi/notinpackage/NoOwnNonNullApi.java
  subprojects/architecture-test/src/test/java/org/gradlebuild/nonnullapi/notinpackage/OwnNonNullApi.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedNodeConverter.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedTaskConverter.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildOperationFiringBuildWorkPreparer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ToPlannedNodeConverterRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ToPlannedTransformStepConverter.java
  subprojects/enterprise-operations/src/main/java/org/gradle/internal/taskgraph/package-info.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/configurations/package-info.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/transforms/package-info.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/dependencies/variants/package-info.java
Labels: in:build-operations

#24320 Update wrapper to latest nightly
  build-logic/build-init-samples/src/main/kotlin/gradlebuild/samples/SamplesGenerator.kt
  gradle/wrapper/gradle-wrapper.properties
  subprojects/docs/src/samples/readme-templates/application-build.out.template
  subprojects/docs/src/samples/readme-templates/library-build.out.template
Labels: a:chore, in:building-gradle

#24359 Mark `dependentComponents` task as `notCompatibleWithConfigurationCache`
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/reporting/dependents/DependentComponentsReportIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependents/DependentComponentsReport.java
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativeDependentComponentsReportIntegrationTest.groovy
Labels: @configuration-cache, in:reporting-tasks

#24360 Flow actions docs
  subprojects/core-api/src/main/java/org/gradle/BuildListener.java
  subprojects/core-api/src/main/java/org/gradle/api/flow/FlowAction.java
  subprojects/core-api/src/main/java/org/gradle/api/invocation/Gradle.java
  subprojects/docs/src/docs/userguide/extending-gradle/dataflow_actions.adoc
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/docs/src/main/resources/header.html
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/build.gradle
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/plugin/build.gradle
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/plugin/src/main/java/org/gradle/sample/sound/SoundFeedbackPlugin.java
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/plugin/src/main/java/org/gradle/sample/sound/SoundPlay.java
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/plugin/src/main/java/org/gradle/sample/sound/SoundService.java
  subprojects/docs/src/snippets/dataflowActions/playSound/groovy/settings.gradle
  subprojects/docs/src/snippets/dataflowActions/playSound/tests/failure.out
  subprojects/docs/src/snippets/dataflowActions/playSound/tests/failure.sample.conf
  subprojects/docs/src/snippets/dataflowActions/playSound/tests/success.out
  subprojects/docs/src/snippets/dataflowActions/playSound/tests/success.sample.conf
Labels: @configuration-cache, a:documentation

#24323 Fix disabling of performance monitoring via system property
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/server/health/gc/GarbageCollectionMonitoringIntegrationTest.groovy
  subprojects/launcher/src/main/java/org/gradle/launcher/daemon/server/health/HealthExpirationStrategy.java
Labels: a:bug

#24351 Remove line numbers in ArchUnit tests
  subprojects/architecture-test/src/changes/archunit_store/provider-task-file-collection.txt
  subprojects/architecture-test/src/changes/archunit_store/provider-task-properties.txt
  subprojects/architecture-test/src/changes/archunit_store/provider-text-resource.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-methods-return-allowed-types.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-file-collection.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-text-resource.txt
  subprojects/architecture-test/src/test/java/com/tngtech/archunit/library/freeze/GradleViolationStoreFactory.java
  subprojects/architecture-test/src/test/java/org/gradle/architecture/library/freeze/LineNumberIgnoringViolationStore.java
  subprojects/architecture-test/src/test/resources/archunit.properties
Labels: @execution

#24364 Add a link to the dataflow userguide from release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation

#24333 Make it clear that --tests is not an override, but an additional inclusion
  subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
Labels: in:testing

#24384 Update release wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: in:building-gradle

#24385 Merge `release` into `master`
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/projects/CheckProject.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  released-versions.json
Labels: a:chore

#24386 Rebaseline performance tests
  gradle.properties
Labels: a:chore, in:building-gradle, in:kotlin-dsl

#24387 Update master wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle

#23961 Fix gradlew on systems that don't have which
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
Labels: from:contributor

#24377 Clean up STABLE_CONFIGURATION_CACHE setup for process tests
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheValueSourceIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/AbstractProcessIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInBuildScriptIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInInitScriptIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInPluginBuildScriptIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInPluginIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInTaskIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/ProcessInTransformIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/process/instrument/AbstractProcessInstrumentationIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/FilesInTransformIntegrationTest.groovy
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginBackgroundJobExecutorsIntegrationTest.groovy
Labels: @configuration-cache

#24420 Favor extensions over conventions in ParallelTestTaskIntegrationTest
  subprojects/plugins/src/integTest/groovy/org/gradle/java/ParallelTestTaskIntegrationTest.groovy
Labels: a:chore

#24410 Update codeql-analysis.yml to re-enable java
  .github/workflows/codeql-analysis.yml
Labels: from:contributor

#24339 Drop duplicates from GMM
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/PublishedDependencyConstraintsIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradleModuleMetadataParser.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractMutableModuleComponentResolveMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradleModuleMetadataParserTest.groovy
Labels: in:gradle-module-metadata, in:dependency-resolution

#24441 Support multi-release JARs with agent-based instrumentation
  subprojects/base-services/src/main/java/org/gradle/internal/classloader/TransformReplacer.java
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: @configuration-cache

#24451 Fix buildPath to return a colon-prefixed path in ProjectComponentIdentifier
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedTaskConverter.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationNode.java
Labels: in:build-scan

#24449 Revert deprecation nagging in `VersionNumber` because of IntelliJ and Android Studio
  subprojects/core/src/main/java/org/gradle/util/VersionNumber.java
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
Labels: a:chore

#24459 Fix cache layout value
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
Labels: in:dependency-resolution

#24394 Add link to documentation when build fails due to ambigious name expa…
  subprojects/core/src/main/java/org/gradle/execution/BaseSelectionException.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectSelectionException.java
  subprojects/core/src/main/java/org/gradle/execution/TaskSelectionException.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildExceptionReporter.java
  subprojects/core/src/main/java/org/gradle/internal/exceptions/FailureResolutionAware.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
Labels: a:chore

#23190 Compare JvmInstallationMetadata instead of JvmToolchains
  subprojects/base-services/src/main/java/org/gradle/util/internal/VersionNumber.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadataComparator.java
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/JavaInstallationRegistry.java
  subprojects/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaInstallationRegistryTest.groovy
  subprojects/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataComparatorTest.groovy
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/internal/services/PlatformJvmServices.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaToolchainService.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchain.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainComparator.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainFactory.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainInstantiationResult.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataMatcher.java
  subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/install/JdkCacheDirectory.java
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainComparatorTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainTest.groovy
  subprojects/platform-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataMatcherTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
Labels: in:toolchains

#24017 Share LocalComponentGraphResolveState across builds in tree
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildIdentityIntegrationTest.groovy
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultLocalComponentInAnotherBuildProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultLocalComponentRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/local/model/LocalComponentGraphResolveState.java
Labels: from:contributor

#24010 Wrapper task should test distributionUrl set with --gradle-distribution-url or --gradle-version
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/internal/WrapperPluginAutoApplyActionIntegTest.groovy
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/WrapperPlugin.java
  subprojects/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  subprojects/core/src/main/java/org/gradle/util/internal/DistributionLocator.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/reference/gradle_wrapper.adoc
  subprojects/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiIntegrationTest.groovy
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/Download.java
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/AbstractWrapperIntegrationSpec.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperBadArchiveTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperChecksumVerificationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperConcurrentDownloadTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperHttpIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperHttpsIntegrationTest.groovy
Labels: in:wrapper, a:bug

#24471 Allow `notCompatibleWithConfigurationCache` tasks to configure others
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheTaskExecutionIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DeprecatedFeaturesListener.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/TaskExecutionAccessCheckers.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskExecutionAccessListener.java
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativeDependentComponentsReportIntegrationTest.groovy
Labels: @configuration-cache

#24479 Fix cache layout and update docs
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/CacheLayoutTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
Labels: in:dependency-resolution

#24483 Fix and re-enable kotlin script compilation avoidance
  subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScriptCompileAvoidanceIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinCompileClasspathFingerprinter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  subprojects/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/ZipHasher.java
  subprojects/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
Labels: in:kotlin-dsl

#24488 Update wrapper to 8.2-20230323231436+0000
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, @execution

#24475 Remove finalization from test framework properties
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestOptionsIntegrationSpec.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskIntegrationTest.groovy
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesIntegrationTest.groovy
  subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
Labels: in:testing, a:bug, in:testing-junit5, in:testing-junit4, in:testing-testng

#24499 Fix accessors generation for applied kotlin scripts
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslRegressionsTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
Labels: in:kotlin-dsl

#24518 Polish `ConfigurationCacheState`
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Codec.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Combinators.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ClosureCodec.kt
Labels: in:configuration-cache, @configuration-cache

#24522 Don't nag about reported problems
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheStableConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DeprecatedFeaturesListener.kt
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: in:configuration-cache, @configuration-cache

#24533 Revert "Merge pull request #23829 Deprecate COD-Kotlin DSL combination"
  subprojects/core/src/integTest/groovy/org/gradle/api/ConfigurationOnDemandIntegrationTest.groovy
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
Labels: in:kotlin-dsl, in:configure-on-demand

#24519 Build init can now convert a multimodule Maven build where the child projects do not contain backreferences to the parent
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-api/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-api/src/main/java/webinar/Demoable.java
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-impl/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-impl/src/main/java/webinar/Webinar.java
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-impl/src/test/java/webinar/WebinarTest.java
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-war/pom.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-war/src/main/webapp/WEB-INF/web.xml
  subprojects/build-init/src/integTest/resources/org/gradle/buildinit/plugins/MavenConversionIntegrationTest/multiModuleNoBackReferences/some-thing/webinar-war/src/main/webapp/index.jsp
  subprojects/build-init/src/main/java/org/gradleinternal/buildinit/plugins/internal/maven/Maven2Gradle.java
Labels: in:build-init-plugin

#24453 Fix non-deterministic ordering in interceptor code generation
  .teamcity/subprojects.json
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingTransformer.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/AbstractInstrumentationProcessor.java
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/CompositeInstrumentationCodeGenerator.java
  subprojects/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/ConfigurationCacheInstrumentationProcessorTest.groovy
Labels: @configuration-cache

#24542 Update CC compatibility notes for `java-gradle-plugin`
  subprojects/docs/src/docs/userguide/core-plugins/java_gradle_plugin.adoc
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @configuration-cache, a:documentation

#24543 Update wrapper to latest 8.1 nightly snapshot
  gradle/wrapper/gradle-wrapper.properties
Labels: in:building-gradle, @configuration-cache

#24528 Add more explanation for empty test set
  subprojects/tooling-api/readme.md
Labels: a:chore

#24555 Upgradlew to 8.1 RC2
  gradle/wrapper/gradle-wrapper.properties
Labels: in:building-gradle

#24536 Let gradle init default to the Kotlin DSL
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BasicTypeInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitInteractiveIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaGradlePluginInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaLibraryInitIntegrationTest.groovy
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BasicProjectGenerator.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/LanguageSpecificAdaptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/maven/PomProjectInitDescriptor.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/modifiers/BuildInitDsl.java
  subprojects/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/TemplateFactoryTest.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/maven/MavenProjectsCreatorSpec.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/modifiers/BuildInitBuildScriptDslTest.groovy
  subprojects/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
  subprojects/build-init/src/testFixtures/groovy/org/gradle/buildinit/plugins/fixtures/ScriptDslFixture.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc
Labels: in:build-init-plugin, in:kotlin-dsl

#24529 Update tested AGP versions
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  gradle/dependency-management/agp-versions.properties
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
Labels: a:chore, in:smoke-test, in:performance-test

#24565 Drop effectively unused `endsWith` method from Transformation
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transformation.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChain.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationStep.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/TransformationMatchingSpec.groovy
Labels: in:build-scan, in:artifact-transforms

#24573 Reduce log output from configuration cache encryption
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/EncryptionService.kt
Labels: in:configuration-cache, @configuration-cache
