Repository gradle/gradle, pull requests merged in 2023-09, with the labels that each got.

#26246 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#26231 Print daemon log if it's not parse-able
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/AbstractDaemonFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParser.java
Labels: 1 min review, platform:build_infrastructure

#26200 Make BuildLauncher and TestLauncher behavior more uniform
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionBuildTaskSchedulerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TestLauncherSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r27/TestLauncherCrossVersionSpec.groovy
Labels: 1 min review, platform:documentation, platform:ide

#26259 Update CC docs so EAR shows as compatible
  subprojects/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: @configuration-cache, in:documentation

#26254 Locate java toolchain tests in language-java project
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/AbstractJavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiKotlinIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/ShowToolchainsIntegrationTest.groovy
Labels: 1 min review, platform:jvm, a:platformization, build-script-change

#26237 Bump Kotlin to 1.9.10
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/dependency-management/kotlin-versions.properties
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  subprojects/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
Labels: a:chore, in:kotlin-dsl

#26260 Re-ignore failing native test on macOS
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
  subprojects/language-native/src/integTest/groovy/org/gradle/language/AbstractNativeSoftwareModelParallelIntegrationTest.groovy
Labels: 1 min review, platform:build_infrastructure

#26262 Update wrapper with recent nightly
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore

#26269 Rename cause in Problem to exception
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  subprojects/problems/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  subprojects/problems/src/main/java/org/gradle/api/problems/Problem.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
Labels: 1 min review, platform:extensibility, platform:ide

#26146 Simplify local component registry
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultBuildTreeLocalComponentProvider.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultLocalComponentInAnotherBuildProvider.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/IncludedBuildDependencyMetadataBuilder.java
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheAwareLocalComponentCache.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/BuildTreeLocalComponentProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultLocalComponentRegistry.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentCache.java
Labels: 20 min review, platform:software, platform:configuration_cache

#26264 Use isolated daemons in AbstractCompilerContinuousIntegrationTest
  platforms/jvm/language-jvm/src/testFixtures/groovy/org/gradle/api/tasks/compile/AbstractCompilerContinuousIntegrationTest.groovy
Labels: 1 min review, platform:jvm

#26250 Polish integration test helpers for Configuration Cache and Isolated Projects
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/AbstractConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheKeyIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/AbstractConfigurationCacheOptInFeatureIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/AbstractIsolatedProjectsIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromKotlinDslIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsCompositeBuildIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsFixture.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsJavaIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: 10 min review, platform:build_infrastructure, platform:configuration_cache

#24506 Use java toolchain in generated convention plugin
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal/JvmProjectInitDescriptor.java
Labels: from:contributor

#26199 Rename and document variant selection classes for clarity
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/LocalFileDependencyBackedArtifactSetCodec.kt
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/BuildDependenciesOnlyVisitedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultVisitedArtifactResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/FileDependencyArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/LocalFileDependencyBackedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/NoBuildDependenciesArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VisitedArtifactsResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AmbiguousArtifactTransformException.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ArtifactVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultVariantSelectorFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/VariantSelectorFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AbstractGraphVariantSelectionException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AbstractVariantSelectionException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AmbiguousArtifactVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AmbiguousGraphVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/ArtifactVariantSelectionException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/IncompatibleArtifactVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/IncompatibleGraphVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/NoMatchingArtifactVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/NoMatchingGraphVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/SelectionFailureHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ConfigurationBoundExternalDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ExternalDependencyDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/GradleDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyDependencyDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyDescriptor.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/DelegatingDependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/DependencyMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelectionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradlePomModuleDescriptorParserBomTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultVisitedArtifactResultsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/LocalFileDependencyBackedArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/NoBuildDependenciesArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapterTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelectorSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactVariantSelectorFactoryTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/AbstractDependencyMetadataRulesTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/model/AttributeMatchingGraphArtifactVariantSelectorTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
Labels: 20 min review, platform:software, platform:configuration_cache

#26214 Add JDK 21 compiling and testing support
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/base-services/src/main/java/org/gradle/api/JavaVersion.java
  subprojects/base-services/src/test/groovy/org/gradle/api/JavaVersionSpec.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/classanalysis/JavaClassUtilTest.groovy
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/logging/src/main/java/org/gradle/internal/logging/slf4j/OutputEventListenerBackedLoggerContext.java
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
Labels: 1 min review, platform:jvm, platform:documentation

#26279 Fix hanging `JavaProcessStackTracesMonitor` issue
  build-logic/cleanup/src/main/java/gradlebuild/cleanup/services/KillLeakingJavaProcesses.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/timeout/JavaProcessStackTracesMonitor.java
Labels: 1 min review, platform:build_infrastructure

#26288 Update Configuration team for gitstream automations
  .cm/code_experts.cm
  .cm/complex_changes.cm
  .cm/estimated_time_to_review.cm
  .cm/includes_todos.cm
  .cm/javadoc_on_new_files.cm
  .cm/lacks_tests.cm
  .cm/platform_labels.cm
  .cm/summary_table.cm
Labels: cm-changes

#26296 Update tested AGP versions
  gradle/dependency-management/agp-versions.properties
Labels: a:chore

#26291 Add newer Java versions to cross-compile test
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
Labels: 1 min review, platform:jvm

#26150 Bump IVY version and adapt the code
  gradle/verification-metadata.xml
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/NamespaceId.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/IvyModuleDescriptorConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/IvyXmlModuleDescriptorParser.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/PatternHelper.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/AbstractResourcePattern.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/M2ResourcePattern.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/ResourceVersionLister.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/NamespaceIdTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/runtimeshaded/RuntimeShadedJarCreatorTest.groovy
  subprojects/distributions-dependencies/build.gradle.kts
Labels: in:dependency-remoting

#26275 Update versions of smoke tested plugins
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore

#26304 Improve deprecated configuration role warning URL
  subprojects/core-api/src/main/java/org/gradle/internal/deprecation/DeprecatableConfiguration.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRolesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultArtifactHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/AttributeMatchingConfigurationSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/reporting/dependencies/HtmlDependencyReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyReportTaskIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies.adoc
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningConfigurationsIntegrationSpec.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleVersionsPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PalantirConsistentVersionsPluginSmokeTest.groovy
Labels: 5 min review, platform:software, platform:documentation, platform:release_coordination

#26303 Track user code context
  subprojects/base-services/src/main/java/org/gradle/internal/code/DefaultUserCodeApplicationContext.java
  subprojects/base-services/src/main/java/org/gradle/internal/code/DefaultUserCodeSource.java
  subprojects/base-services/src/main/java/org/gradle/internal/code/UserCodeApplicationContext.java
  subprojects/base-services/src/main/java/org/gradle/internal/code/UserCodeApplicationId.java
  subprojects/base-services/src/main/java/org/gradle/internal/code/UserCodeSource.java
  subprojects/base-services/src/main/java/org/gradle/internal/code/package-info.java
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DefaultProblemFactory.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/services/ConfigurationCacheEnvironmentChangeTrackerTest.kt
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultCollectionCallbackActionDecorator.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginManager.java
  subprojects/core/src/main/java/org/gradle/configuration/BuildOperationScriptPlugin.java
  subprojects/core/src/main/java/org/gradle/configuration/ScriptPluginFactorySelector.java
  subprojects/core/src/main/java/org/gradle/configuration/internal/DefaultListenerBuildOperationDecorator.java
  subprojects/core/src/main/java/org/gradle/configuration/internal/ListenerBuildOperationDecorator.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/CrossBuildSessionState.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/DefaultToolingModelBuilderRegistry.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/ToolingModelBuilderLookup.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectContainerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultDomainObjectCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/DefaultPluginContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/DefaultPluginManagerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/BuildOperationScriptPluginTest.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/ScriptPluginFactorySelectorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/internal/DefaultListenerBuildOperationDecoratorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/problems/DefaultProblemDiagnosticsFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/tooling/provider/model/internal/DefaultToolingModelBuilderRegistryTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultUnlockedConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultDependencyResolutionManagement.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/management/DefaultVersionCatalogBuilderContainer.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/SessionFailureReportingActionExecuter.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationLoggerTest.groovy
  subprojects/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
  subprojects/problems/build.gradle.kts
  subprojects/problems/src/main/java/org/gradle/internal/problems/DefaultProblemDiagnosticsFactory.java
  subprojects/problems/src/main/java/org/gradle/internal/problems/NoOpProblemDiagnosticsFactory.java
  subprojects/problems/src/main/java/org/gradle/internal/problems/ProblemLocationAnalyzer.java
  subprojects/problems/src/main/java/org/gradle/internal/problems/package-info.java
  subprojects/problems/src/main/java/org/gradle/problems/ProblemDiagnostics.java
  subprojects/problems/src/test/groovy/org/gradle/internal/code/DefaultUserCodeApplicationContextTest.groovy
Labels: 20 min review, platform:software, platform:configuration_cache, build-script-change

#26308 Fix nullability discrepancies in DependencyConstraintHandlerScope
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
Labels: in:kotlin-dsl

#26312 Sign Kotlin DSL plugins
  .teamcity/src/main/kotlin/util/PublishKotlinDslPlugin.kt
  build-logic/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle.gradle.kts
Labels: in:kotlin-dsl

#26310 Address `ProjectTheExtensionCrossVersionSpec` flakiness
  platforms/core-configuration/kotlin-dsl-integ-tests/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/plugins/ProjectTheExtensionCrossVersionSpec.groovy
Labels: in:kotlin-dsl

#26317 Fix missing spread operator on wrapped call to files(Object...) in Kotlin scripts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/DefaultKotlinScript.kt
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/ConfigurableFileTreeIntegrationTest.groovy
Labels: 1 min review, platform:configuration_cache, platform:kotlin_dsl

#26315 Avoid side effect of evaluating Provider values in an attribute container causing the container to become inconsistent
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultMutableAttributeContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/AttributeContainerResolutionIntegrationTest.groovy
Labels: 10 min review, platform:software

#26326 Fix CODEOWNERS for CC team
  .github/CODEOWNERS
Labels: 1 min review, platform:build_infrastructure

#26242 Use ProGuard / Gr8 to shrink wrapper
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/AbstractArchiveFileTreeElement.java
  subprojects/core/src/main/java/org/gradle/internal/resource/local/DefaultPathKeyFileStore.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/UnzipTransform.java
  subprojects/files/src/main/java/org/gradle/internal/file/PathTraversalChecker.java
  subprojects/files/src/test/groovy/org/gradle/internal/file/PathTraversalCheckerTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFile.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFileHelper.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildExternalPluginsValidationSmokeTest.groovy
  subprojects/wrapper-shared/build.gradle.kts
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/Install.java
  subprojects/wrapper/build.gradle.kts
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/main/proguard/wrapper.pro
Labels: @execution

#26331 Remove release-specific information from TestKit documentation
  subprojects/docs/src/docs/userguide/authoring-builds/test_kit.adoc
Labels: a:documentation, 1 min review, platform:documentation

#26323 Remove next gen build cache prototype
  .teamcity/src/main/kotlin/configurations/CompileAllBuildCacheNG.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/NextGenBuildCacheHttpIntegrationTest.groovy
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceTest.groovy
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/internal/DefaultHttpBuildCacheServiceFactory.java
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/internal/HttpBuildCacheService.java
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/NextGenBuildCacheIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/internal/NextGenBuildCacheBuildOperationsIntegrationTest.groovy
  subprojects/build-cache/src/integTest/groovy/org/gradle/caching/local/internal/H2BuildCacheCleanupIntegrationTest.groovy
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/NextGenBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/NoOpBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/StatefulNextGenBuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultNextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/GZipNextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheController.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/RemoteNextGenBuildCacheServiceHandler.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/H2BuildCacheService.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/H2BuildCacheServiceFactory.java
  subprojects/build-cache/src/main/java/org/gradle/caching/local/internal/LockOnDemandCrossProcessBuildCacheService.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/NextGenBuildCacheControllerTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/DefaultBuildCacheControllerFactory.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/NextGenBuildCacheControllerFactory.java
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerFactoryTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/caching/CachingStateFactory.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/caching/impl/DefaultCachingStateFactory.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ResolveCachingStateStep.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
Labels: @execution, in:build-cache

#25913 Support FileSystemLocationProperty with Option annotation
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/AbstractOptionIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/TaskOptionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/options/FieldOptionElement.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/options/MethodOptionElement.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/options/OptionValueNotationParserFactory.java
  subprojects/core/src/main/java/org/gradle/api/tasks/options/Option.java
  subprojects/core/src/main/java/org/gradle/internal/typeconversion/DoubleFromCharSequenceNotationConverter.java
  subprojects/core/src/main/java/org/gradle/internal/typeconversion/LongFromCharSequenceNotationConverter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/options/OptionReaderTest.groovy
  subprojects/docs/src/docs/userguide/extending-gradle/custom_tasks.adoc
Labels: a:bug, in:provider-api, p:lazy-migration

#26244 Re-implement ScalaCoverage to work like GroovyCoverage
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/VersionCoverage.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/ScalaBasePluginIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/AbstractToolchainZincScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/HigherToolchainZincScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/LowerToolchainZincScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/SameToolchainZincScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ZincScalaCompilerIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/environment/JreJavaHomeScalaIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/scaladoc/ScalaDocIntegrationTest.groovy
Labels: 10 min review, platform:jvm

#26335 (minor) Fix Gradle version in CC docs mentioning an inputs tracking change
  subprojects/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: a:documentation, 1 min review

#26347 Cleanup after `TestLauncher` fix
  subprojects/base-services/src/test/groovy/org/gradle/util/PathTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  subprojects/core/src/main/java/org/gradle/execution/selection/DefaultBuildTaskSelector.java
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
Labels: a:chore, in:configuration-cache, 1 min review

#26343 Test Kotlin 1.9.0-Beta
  gradle/dependency-management/kotlin-versions.properties
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithKotlinDeprecations.groovy
Labels: a:chore

#26349 Remove ProblemGroup
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/flow/FlowParametersInstantiator.kt
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/parser/TomlCatalogFileParser.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/ValidationActions.java
  subprojects/core/src/main/java/org/gradle/execution/DefaultTaskSelector.java
  subprojects/core/src/main/java/org/gradle/execution/plan/MissingTaskDependencyDetector.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/catalog/LibrariesSourceGenerator.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/SelectionFailureHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputFilePropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputPropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/ServiceReferencePropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/validation/ValidationProblemPropertyAnnotationHandler.java
  subprojects/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/AbstractTypeAnnotationHandler.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/DefaultTypeMetadataStore.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/NestedValidationUtil.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/DelegatingProblemBuilder.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/properties/annotations/DefaultTypeMetadataStoreTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  subprojects/problems/src/main/java/org/gradle/api/problems/BuildableProblemBuilder.java
  subprojects/problems/src/main/java/org/gradle/api/problems/Problem.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemBuilder.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemBuilderDefiningGroup.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemBuilderDefiningType.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemBuilderSpec.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemGroup.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/DefaultBuildableProblemBuilder.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/DefaultReportableProblem.java
  subprojects/problems/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
Labels: 20 min review, platform:software, platform:extensibility, platform:build_infrastructure, platform:configuration_cache, platform:core_execution

#26354 Tweak `no configuration cache is available` message
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheEncryptionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheProjectReportIntegTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  subprojects/docs/src/snippets/configurationCache/noProblem/tests/store.out
  subprojects/docs/src/snippets/configurationCache/problemsFixed/tests/store.out
  subprojects/docs/src/snippets/configurationCache/problemsFixedReuse/tests/store.out
  subprojects/docs/src/snippets/configurationCache/problemsGroovy/tests/store.out
  subprojects/docs/src/snippets/configurationCache/problemsKotlin/tests/store.out
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheFixture.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationCachePerformanceTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractGradleBuildConfigurationCacheSmokeTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r84/TestLauncherCompositeBuildCrossVersionTest.groovy
Labels: a:chore, in:configuration-cache, @configuration-cache

#26372 Do not provide guidance on license of projects using start scripts
  subprojects/docs/src/docs/userguide/jvm/application_plugin.adoc
Labels: a:documentation, 1 min review, platform:documentation

#24956 Add incremental execution performance tests for NowInAndroid
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/ApplyGradleEnterprisePluginFixture.groovy
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/internal/scan/config/fixtures/ApplyGradleEnterprisePluginFixtureTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/IncrementalAndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidIncrementalExecutionPerformanceTest.groovy
Labels: a:chore

#26371 De-duplicate results for resolved variant dependencies in resolution …
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolutionResultApiIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultResolvedComponentResult.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/result/DefaultResolvedComponentResultTest.groovy
  subprojects/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/result/ResolutionResultDataBuilder.groovy
Labels: 5 min review, platform:software

#26388 Migrate jacoco project to JVM platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/jvm/jacoco/build.gradle.kts
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoAggregationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoCachingIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoKotlinJvmPluginAggregationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoMultiVersionIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginGoodBehaviourTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginMultiVersionIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoReportRelocationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoTestRelocationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoVersionCompatibilityIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/rules/JacocoPluginCoverageVerificationCompatibleVersionIntegTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/rules/JacocoPluginCoverageVerificationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/rules/JacocoViolationRulesLimit.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AbstractAntJacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoCheck.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/DefaultJacocoCoverageReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/JacocoAgentJar.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/JacocoCheckResult.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/JacocoReportsContainerImpl.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/rules/JacocoLimitImpl.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/rules/JacocoViolationRuleImpl.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/rules/JacocoViolationRulesContainerImpl.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoCoverageReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPluginExtension.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoReportAggregationPlugin.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoTaskExtension.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/package-info.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoBase.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoCoverageVerification.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReportBase.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReportsContainer.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/package-info.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/rules/JacocoLimit.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/rules/JacocoViolationRule.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/rules/JacocoViolationRulesContainer.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/rules/package-info.java
  platforms/jvm/jacoco/src/main/resources/META-INF/gradle-plugins/org.gradle.jacoco-report-aggregation.properties
  platforms/jvm/jacoco/src/main/resources/META-INF/gradle-plugins/org.gradle.jacoco.properties
  platforms/jvm/jacoco/src/test/groovy/org/gradle/internal/jacoco/JacocoAgentJarTest.groovy
  platforms/jvm/jacoco/src/test/groovy/org/gradle/internal/jacoco/rules/JacocoLimitImplTest.groovy
  platforms/jvm/jacoco/src/test/groovy/org/gradle/internal/jacoco/rules/JacocoViolationRuleImplTest.groovy
  platforms/jvm/jacoco/src/test/groovy/org/gradle/internal/jacoco/rules/JacocoViolationRulesContainerImplTest.groovy
  platforms/jvm/jacoco/src/test/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginSpec.groovy
  platforms/jvm/jacoco/src/test/groovy/org/gradle/testing/jacoco/plugins/JacocoTaskExtensionSpec.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoReportFixture.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoReportXmlFixture.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JavaProjectUnderTest.groovy
  settings.gradle.kts
Labels: cm-changes, re:platformization

#26386 Migrate distributions-jvm project to JVM platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/jvm/distributions-jvm/build.gradle.kts
  settings.gradle.kts
Labels: cm-changes, re:platformization

#26369 Use test toolchain property in JVM test suites and simplify test framework handling
  platforms/jvm/plugins-jvm-test-suite/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesMultiTargetIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/FrameworkCachingJvmTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnit4TestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnit4ToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnitJupiterTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnitJupiterToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnitPlatformTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnitPlatformToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JvmTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JvmTestToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/LegacyJUnit4TestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/SpockTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/SpockToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/TestNGTestToolchain.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/TestNGToolchainParameters.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/package-info.java
Labels: in:testing, a:feature, in:testing-junit5, in:testing-junit4, in:testing-testng, in:test-suites, 30 min review, platform:jvm

#26227 Make file system layout available to settings script
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/file/FileSystemLayout.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core-api/src/main/java/org/gradle/api/file/SettingsLayout.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core/src/integTest/groovy/org/gradle/api/file/SettingsLayoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/AbstractFileSystemLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultSettingsLayout.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
Labels: a:feature, @configuration-cache, in:settings-script, 10 min review

#26362 Remove ValidationProblemId
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/groovy/compile/AbstractBasicGroovyCompilerIntegrationSpec.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOptionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DirectorySensitivityErrorHandlingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildSymlinkHandlingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/LambdaInputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/ValidationActions.java
  subprojects/core/src/main/java/org/gradle/execution/plan/MissingTaskDependencyDetector.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  subprojects/execution/build.gradle.kts
  subprojects/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  subprojects/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputFilePropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputPropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/ServiceReferencePropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  subprojects/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  subprojects/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  subprojects/internal-integ-testing/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/validation/ValidationProblemPropertyAnnotationHandler.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/AbstractTypeAnnotationHandler.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/DefaultTypeMetadataStore.java
  subprojects/model-core/src/main/java/org/gradle/internal/properties/annotations/NestedValidationUtil.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/DefaultTypeValidationContext.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/problems/ValidationProblemId.java
  subprojects/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblemRenderer.java
  subprojects/model-core/src/test/groovy/org/gradle/internal/properties/annotations/DefaultTypeMetadataStoreTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStoreTest.groovy
  subprojects/model-core/src/test/groovy/org/gradle/internal/reflect/validation/ValidationMessageCheckerTest.groovy
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationTestFor.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/PluginUnderTestMetadataIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/TaskFromPluginValidationIntegrationTest.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidationTypes.java
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/bundling/JarIntegrationTest.groovy
  subprojects/problems/src/main/java/org/gradle/api/problems/BuildableProblemBuilder.java
  subprojects/problems/src/main/java/org/gradle/api/problems/ProblemBuilder.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestInputAnnotationFailuresIntegrationTest.groovy
Labels: 20 min review, platform:jvm, platform:software, platform:extensibility, platform:build_infrastructure, platform:configuration_cache, platform:core_execution, build-script-change

#26382 Create software platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/software/antlr/build.gradle.kts
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/AbstractAntlrIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr2PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr2RelocationIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr3PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr3RelocationIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr4PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr4RelocationIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/AntlrPluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/IncrementalAntlrTaskIntegrationTest.groovy
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrSourceDirectorySet.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrTask.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrExecuter.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrResult.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrSourceGenerationException.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrSpec.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrSpecFactory.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrWorkerManager.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/DefaultAntlrSourceDirectorySet.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/GenerationPlan.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/GenerationPlanBuilder.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/GrammarDelegate.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/GrammarFileMetadata.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/GrammarMetadata.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/MetadataExtracter.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/antlr2/XRef.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/package-info.java
  platforms/software/antlr/src/main/resources/META-INF/gradle-plugins/org.gradle.antlr.properties
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/AntlrPluginTest.groovy
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/internal/AntlrSpecFactoryTest.groovy
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/internal/antlr2/MetadataExtracterTest.groovy
  settings.gradle.kts
Labels: cm-changes, re:platformization

#26393 Reduce DependencyArtifactsVisitor implementations
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationDependenciesBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveExceptionContextualizer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSetToFileCollectionFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ValidatingArtifactsVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/CompositeDependencyArtifactsVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/CompositeDependencyGraphVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/FailOnVersionConflictGraphVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformStepNode.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingGraphVisitor.java
  subprojects/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingGraphVisitorTest.groovy
Labels: 10 min review, platform:software

#26391 Migrate java-compiler-plugin project to JVM platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/jvm/java-compiler-plugin/build.gradle.kts
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/IncrementalCompileTask.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/classnames/ClassNameCollector.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/constants/ConstantDependentsConsumer.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/constants/ConstantsCollector.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/constants/ConstantsTreeVisitor.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/constants/ConstantsVisitorContext.java
  platforms/jvm/java-compiler-plugin/src/test/groovy/com/gradle/internal/compiler/java/AbstractCompilerPluginTest.groovy
  platforms/jvm/java-compiler-plugin/src/test/groovy/com/gradle/internal/compiler/java/listeners/ConstantsCollectorTest.groovy
  platforms/jvm/java-compiler-plugin/src/testFixtures/java/org/gradle/internal/compiler/java/TestCompiler.java
  settings.gradle.kts
Labels: cm-changes, re:platformization

#26336 Allow MultiCauseExceptions to pass on Resolutions provided by their causes
  subprojects/base-services/src/integTest/groovy/org/gradle/internal/exceptions/DefaultMultiCauseExceptionIntegrationTest.groovy
  subprojects/base-services/src/main/java/org/gradle/internal/exceptions/DefaultMultiCauseException.java
  subprojects/base-services/src/main/java/org/gradle/internal/exceptions/MultiCauseException.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/exceptions/DefaultMultiCauseExceptionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/exception/DefaultExceptionAnalyserTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/SelectionFailureHandlerIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionBackedFileCollection.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/SelectionFailureHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
Labels: 20 min review, platform:software

#26373 Prepare release notes for 8.4 RC1
  subprojects/docs/src/docs/release/notes.md
  subprojects/launcher/src/main/resources/release-features.txt
Labels: a:chore

#26411 Add build-level retry
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/FlakyTestQuarantine.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.cache-miss-monitor.gradle.kts
  build-logic/cleanup/src/main/java/gradlebuild/cleanup/services/KillLeakingJavaProcesses.java
  build-logic/cleanup/src/test/groovy/gradlebuild/cleanup/services/LeakingProcessKillPatternTest.groovy
  build-logic/profiling/src/main/kotlin/gradlebuild.buildscan.gradle.kts
Labels: 20 min review, platform:build_infrastructure

#26427 Fix hashing of upgraded properties metadata files
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/tasks/InstrumentedSuperTypesMergeTask.kt
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/tasks/UpgradedPropertiesMergeTask.kt
  build-logic/packaging/src/test/kotlin/gradlebuild/instrumentation/InstrumentationMetadataPluginTest.kt
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/GradleCoreInstrumentingTypeRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: a:bug, in:provider-api, p:lazy-migration

#26433 Add SettingsLayout to Groovy DSL doc
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core-api/src/main/java/org/gradle/api/file/SettingsLayout.java
  subprojects/docs/src/docs/dsl/dsl.xml
  subprojects/docs/src/docs/dsl/org.gradle.api.file.SettingsLayout.xml
Labels: @configuration-cache, in:settings-script, 5 min review

#26432 Add 8.4 contributors to release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore

#26413 Generate thread dump in project root directory
  .teamcity/src/main/kotlin/common/extensions.kt
  build-logic/cleanup/src/main/java/gradlebuild/cleanup/services/KillLeakingJavaProcesses.java
  build-logic/lifecycle/src/main/kotlin/PrintStackTracesOnTimeoutBuildService.kt
Labels: 1 min review, platform:build_infrastructure

#26394 Attach resolution failures to ResolutionResult
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolvableDependenciesInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/InMemoryResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultMinimalResolutionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultResolutionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/MinimalResolutionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/ResolutionResultInternal.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/DefaultResolverResultsSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfigurationTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentResultSerializerTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilderSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/result/DefaultResolutionResultTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ResolutionErrorRenderer.java
Labels: 30 min review, platform:software, platform:configuration_cache

#26448 Improve ValueSource javadoc a bit
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
Labels: in:configuration-model, a:documentation

#26451 Merge release into master
  gradle/wrapper/gradle-wrapper.properties
  released-versions.json
Labels: 1 min review

#26458 Update tested Kotlin version adding 1.9.0-Beta2
  gradle/dependency-management/kotlin-versions.properties
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore

#26489 Serialize `KotlinClosure*` instances to the configuration cache
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheTestListenerIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ClosureCodec.kt
Labels: a:bug, in:configuration-cache, 1 min review

#26353 Let configuration cache defer `ConfigurableFileCollection#filter`
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFileCollectionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/CompositeFileCollection.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionInternal.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/FileTreeInternal.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/FilteredFileCollection.java
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/CompositeFileCollectionTest.groovy
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/ProviderBackedFileCollectionTest.groovy
Labels: in:configuration-model, in:configuration-cache, @configuration-cache

#26449 Let default imports skip non-public types
  build-logic/documentation/src/main/groovy/gradlebuild/docs/dsl/source/SourceMetaDataVisitor.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultImportsReaderTest.groovy
Labels: in:kotlin-dsl

#26466 Let wrapper jar contain Apache License LICENSE file
  platforms/core-runtime/wrapper/build.gradle.kts
  platforms/core-runtime/wrapper/src/executable/resources/META-INF/LICENSE
  platforms/core-runtime/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: in:wrapper

#26439 Implement EAR Deployment Descriptors for JAVA EE / Jakarta EE
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/DeploymentDescriptor.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptorTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: from:contributor

#25130 Add /opt/java to common linux java toolchain locations.
  subprojects/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/LinuxInstallationSupplier.java
Labels: from:contributor, ⚠️ Lacks Tests

#26356 Enhance centralized published dependency resolution
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/IvyComponentParser.java
  subprojects/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/ComponentDependencyResolver.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/DefaultDependencyCoordinateResolverFactory.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/DefaultVariantDependencyResolverFactory.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/DependencyCoordinateResolverFactory.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/ResolvedCoordinates.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/VariantDependencyResolver.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/VariantDependencyResolverFactory.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/mapping/VersionMappingVariantDependencyResolver.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataJsonWriter.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpec.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  subprojects/publish/src/main/java/org/gradle/api/publish/internal/service/PublishServices.java
  subprojects/publish/src/main/java/org/gradle/api/publish/tasks/GenerateModuleMetadata.java
  subprojects/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: 30 min review, platform:software

#26497 Add CLEAN_UP_PERFORMANCE_BUILD_DIR to performance test
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Labels: 5 min review, platform:build_infrastructure

#26450 Use `KillLeakingJavaProcesses` before performance tests
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/configurations/TestPerformanceTest.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Labels: 1 min review, platform:build_infrastructure

#26384 Make TestLauncher test debugging compatible with configuration cache
  subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
  subprojects/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionBuildTaskSchedulerTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/TestLauncherDebugCrossVersionTest.groovy
Labels: 10 min review, platform:ide

#26523 Clean up version-control build dir on Windows
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Labels: 1 min review, platform:build_infrastructure

#26414 Ignore subproject directories that only have `build` sub-directories
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
Labels: 1 min review, platform:build_infrastructure

#26505 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#26524 Clarify configuration factory method release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#26503 Ignore Toolchain auto-provisioning test when precondition is not met
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
  subprojects/soak/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadComplexProjectSoakTest.groovy
Labels: in:toolchains

#26527 Fix `:kotlin-dsl*` integ test extra repo sysprop reading
  build-logic/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle-integ-tests.gradle.kts
Labels: a:chore, in:kotlin-dsl

#26399 Add test failure cause mapping
  platforms/jvm/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestExecutionListener.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/failure/ThrowableToTestFailureMapper.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/failure/mappers/AssertErrorMapper.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r83/TestFailureProgressEventCrossVersionTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r84/TestFailureProgressEventCrossVersionTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/TestFailureProgressEventCrossVersionTest.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/TestFailureSpecification.groovy
Labels: 20 min review, platform:jvm, platform:ide

#26464 Let Deleter report root causes on failed deletions
  platforms/core-runtime/files/src/main/java/org/gradle/internal/file/impl/DefaultDeleter.java
  platforms/core-runtime/files/src/test/groovy/org/gradle/internal/file/impl/DefaultDeleterTest.groovy
Labels: in:file-tasks

#26535 Refine upgrade guide
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#26556 Let `:soak-test` kotlin tests run against locally built `:kotlin-dsl-plugins`
  subprojects/soak/build.gradle.kts
Labels: a:chore, in:kotlin-dsl

#26533 Split adding test repos and forcing locally built kotlin-dsl plugins versions
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
Labels: a:chore, in:kotlin-dsl

#26475 Auto accept binary changes for Upgraded properties
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/BinaryCompatibilityHelper.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/ExtractGradleApiInfoTask.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/SinceAnnotationMissingRule.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRulePostProcess.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRuleSetup.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperty.java
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/RichReportScrapper.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/UpgradedPropertiesChangesTest.kt
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGenerator.java
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  subprojects/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGeneratorTest.groovy
  subprojects/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
Labels: @execution, p:lazy-migration

#26557 Refine KillLeakingJavaProcesses
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  build-logic/cleanup/src/main/java/gradlebuild/cleanup/services/KillLeakingJavaProcesses.java
  build-logic/cleanup/src/main/kotlin/gradlebuild/cleanup/services/DaemonTracker.kt
  build-logic/cleanup/src/test/groovy/gradlebuild/cleanup/services/LeakingProcessKillPatternTest.groovy
Labels: 1 min review, platform:build_infrastructure

#26546 Fix spurious warnings with CC and the `kotlin-dsl` plugin
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanSchema.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/DefaultContextAwareTaskLoggerCodec.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinCompilerWarningsTest.kt
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/slf4j/DefaultContextAwareTaskLogger.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/slf4j/MessageRewritingBuildOperationAwareLogger.java
Labels: in:kotlin-dsl

#26422 Provide request attributes during selection
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/LocalFileDependencyBackedArtifactSetCodec.kt
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSelectionSpec.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/BuildDependenciesOnlyVisitedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultLocalFileDependencyBackedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultVisitedArtifactResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/FileDependencyArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/LocalFileDependencyBackedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/NoBuildDependenciesArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VisitedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VisitedArtifactsResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ArtifactVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultVariantSelectorFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/VariantSelectorFactory.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfigurationTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultVisitedArtifactResultsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/LocalFileDependencyBackedArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/NoBuildDependenciesArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSetTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelectorSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactVariantSelectorFactoryTest.groovy
Labels: 30 min review, platform:software, platform:core_configuration

#26561 Restore deleted internal registerJvmLanguageSourceDirectory API
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/compile/JavaModuleCrossCompileIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageSourceDirectoryBuilder.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilities.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/JvmLanguageSourceDirectoryBuilder.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/JvmLanguageUtilities.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/jvm/internal/AbstractJvmPluginServicesTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilitiesTest.groovy
Labels: a:regression, 20 min review, platform:jvm

#26512 Use test preconditions in `:kotlin-dsl*` tests
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/K2IntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmTargetIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslPluginCustomKotlinOptionsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinCompilerWarningsTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PluginSpecBuilderAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TaskContainerDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/resolver/KotlinScriptDependenciesResolverTest.kt
  platforms/core-configuration/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyErrorIntegrationTest.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CommandLineIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationTest.java
Labels: a:chore, in:kotlin-dsl

#26565 Merge release 0928
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/jpms/compile/JavaModuleCrossCompileIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageSourceDirectoryBuilder.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilities.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/jvm/internal/JvmLanguageSourceDirectoryBuilder.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/jvm/internal/JvmLanguageUtilities.java
  platforms/jvm/plugins-java/src/test/java/org/gradle/api/plugins/jvm/internal/AbstractJvmPluginServicesTest.groovy
  platforms/jvm/plugins-java/src/test/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilitiesTest.groovy
  released-versions.json
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: 20 min review, platform:jvm, platform:documentation

#26559 Let `versionCatalogs` extension be available in precompiled Kotlin DSL scripts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginErrorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginSyntheticIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginTasksIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginVersionCatalogIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/core/src/main/java/org/gradle/configuration/project/LifecycleProjectEvaluator.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultDependenciesAccessors.java
  subprojects/docs/src/docs/release/notes.md
Labels: in:kotlin-dsl

#26567 Update tested AGP versions
  gradle/dependency-management/agp-versions.properties
Labels: a:chore

#26387 Migrate distributions-publishing project to JVM platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .teamcity/subprojects.json
  platforms/software/distributions-publishing/build.gradle.kts
  settings.gradle.kts
Labels: cm-changes, re:platformization

#26571 Fix InstrumentationMetadataTransform when there are no changes to upgraded properties file
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/extensions/InstrumentationMetadataExtension.kt
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/transforms/InstrumentationMetadataTransform.kt
  build-logic/packaging/src/test/kotlin/gradlebuild/instrumentation/InstrumentationMetadataPluginTest.kt
Labels: @execution, p:lazy-migration

#26446 Create VisitedGraphResults
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolvableDependenciesInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/InMemoryResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/BuildDependenciesOnlyVisitedArtifactSet.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/results/DefaultVisitedGraphResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/results/VisitedGraphResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/results/package-info.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DefaultResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultMinimalResolutionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultResolutionResult.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/MinimalResolutionResult.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/DefaultResolverResultsSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfigurationTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/results/DefaultVisitedGraphResultsTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilderTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/result/DefaultResolutionResultTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ResolutionErrorRenderer.java
Labels: 30 min review, platform:software

#26579 Consolidate jvm-test-suite plugins into single project
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/jacoco/build.gradle.kts
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuite.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuiteTarget.java
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/build.gradle.kts
  platforms/jvm/war/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/plugin-development/build.gradle.kts
  subprojects/plugins/build.gradle.kts
Labels: platform:jvm, 5 min review, platform:software, platform:extensibility, platform:ide, re:platformization, build-script-change

#26574 Release notes: Mention simpler property assignment in Kotlin dsl section
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation

#26583 Move misplaced cross version test files to their correct location
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/TestFailureProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/TestLauncherDebugCrossVersionTest.groovy
Labels: a:chore, 1 min review, platform:ide

#26582 Prepare for 7.6.3
  released-versions.json
  subprojects/docs/src/docs/release/notes.md
  version.txt
Labels: a:chore

#26576 Improve configuration role section in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#26592 Update wrapper to 8.4 rc3
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#26469 Consolidate dependency graph visitors
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ArtifactDependencyResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ComponentResolversFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolveIvyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolverProviderFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultComponentResolversFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ResolvedArtifactsGraphVisitor.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/version-control/src/main/java/org/gradle/vcs/internal/services/VersionControlServices.java
Labels: 30 min review, platform:software

#26584 Backport of fixes to 7.6.3
  subprojects/core/src/main/java/org/gradle/execution/plan/FinalizerGroup.java
  subprojects/core/src/main/java/org/gradle/execution/plan/Node.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNode.java
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/process-services/src/main/java/org/gradle/process/internal/health/memory/CGroupMemoryInfo.java
  subprojects/process-services/src/main/java/org/gradle/process/internal/health/memory/DefaultOsMemoryInfo.java
  subprojects/process-services/src/main/java/org/gradle/process/internal/health/memory/MemInfoOsMemoryInfo.java
  subprojects/process-services/src/test/groovy/org/gradle/process/internal/health/memory/CGroupMemoryInfoTest.groovy
  subprojects/process-services/src/test/groovy/org/gradle/process/internal/health/memory/MemInfoOsMemoryInfoTest.groovy
Labels: a:chore

#26591 Temporarily restore changed exception
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AmbiguousArtifactVariantsException.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/AmbiguousVariantSelectionException.java
Labels: 1 min review, platform:software
