Repository gradle/gradle, pull requests merged in 2023-12, with the labels that each got.

#27229 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#27217 Add TAPI model builder parameter contract to javadocs
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ToolingParameterProxy.java
  subprojects/core-api/src/main/java/org/gradle/tooling/provider/model/ParameterizedToolingModelBuilder.java
Labels: 1 min review, platform:ide

#27234 Upgrade to gradle-profiler 0.21.0-alpha-3
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore, @execution

#27228 Fix `BuildFeatures` javadoc about injection
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeature.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeatures.java
Labels: 1 min review

#27270 Use assign operator for Kotlin DSL generated with `gradle init`
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/JvmApplicationProjectInitDescriptor.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/ScriptBlockBuilder.java
  platforms/software/build-init/src/main/java/org/gradleinternal/buildinit/plugins/internal/maven/Maven2Gradle.java
Labels: in:build-init-plugin, 1 min review, platform:software

#27251 Deprecate registerFeature when using the main source set.
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/DefaultJavaFeatureSpec.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/FeatureSpecInternal.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  platforms/software/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/resolve/GradleMetadataJavaLibraryCrossVersionIntegrationTest.groovy
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishFeaturesJavaPluginIntegTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishFeaturesJavaPluginIntegTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryFeatureCompilationIntegrationTest.groovy
Labels: 10 min review, platform:jvm, platform:software, platform:documentation

#27280 Update Authoring Gradle section menu in User Manual
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/authoring_maintainable_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/ant.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/build_services.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/custom_gradle_types.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/dataflow_actions.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/test_kit.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/designing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/publishing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/testing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/fine_tuning_project_layout.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products_details.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/task_configuration_avoidance.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/worker_api.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#27285 Remove TeamCity DSL version from package declarations
  .teamcity/pom.xml
  .teamcity/settings.kts
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/BaseGradleBuildType.kt
  .teamcity/src/main/kotlin/configurations/DocsTest.kt
  .teamcity/src/main/kotlin/configurations/FlakyTestQuarantine.kt
  .teamcity/src/main/kotlin/configurations/FunctionalTest.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
  .teamcity/src/main/kotlin/configurations/PartialTrigger.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTestsPass.kt
  .teamcity/src/main/kotlin/configurations/SmokeTests.kt
  .teamcity/src/main/kotlin/configurations/StagePasses.kt
  .teamcity/src/main/kotlin/configurations/TestPerformanceTest.kt
  .teamcity/src/main/kotlin/model/PerformanceTestBucketProvider.kt
  .teamcity/src/main/kotlin/projects/CheckProject.kt
  .teamcity/src/main/kotlin/projects/FunctionalTestProject.kt
  .teamcity/src/main/kotlin/projects/GradleBuildToolRootProject.kt
  .teamcity/src/main/kotlin/projects/PerformanceTestProject.kt
  .teamcity/src/main/kotlin/projects/StageProject.kt
  .teamcity/src/main/kotlin/promotion/BasePromotionBuildType.kt
  .teamcity/src/main/kotlin/promotion/BasePublishGradleDistribution.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  .teamcity/src/main/kotlin/promotion/PublishBranchSnapshotFromQuickFeedback.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshot.kt
  .teamcity/src/main/kotlin/promotion/PublishRelease.kt
  .teamcity/src/main/kotlin/promotion/SanityCheck.kt
  .teamcity/src/main/kotlin/promotion/StartReleaseCycle.kt
  .teamcity/src/main/kotlin/promotion/StartReleaseCycleTest.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  .teamcity/src/main/kotlin/util/PublishKotlinDslPlugin.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
  .teamcity/src/main/kotlin/util/UtilPerformanceProject.kt
  .teamcity/src/main/kotlin/util/UtilProject.kt
  .teamcity/src/main/kotlin/util/WarmupEc2Agent.kt
  .teamcity/src/main/kotlin/vcsroots/VcsRoots.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  .teamcity/src/test/kotlin/PromotionProjectTests.kt
  .teamcity/src/test/kotlin/common.kt
Labels: 10 min review, platform:build_infrastructure

#27242 Require since-annotation on Java public API members
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/JavaSourceQueries.kt
  build-logic/binary-compatibility/src/test/groovy/gradlebuild/binarycompatibility/PublicAPIRulesTest.groovy
Labels: 20 min review

#27286 Update Android Studio to Iguana 2023.2.1.16
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  gradle/verification-metadata.xml
Labels: a:chore, @execution

#26742 Redirect batch file errors to stderr in gradlew.bat
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CommandLineIntegrationTest.groovy
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/windowsStartScript.txt
Labels: from:contributor, pending:pr-feedback

#27284 Improve readability of inferred version catalog values in javadocs
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/LibrariesSourceGenerator.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/catalog/LibrariesSourceGeneratorTest.groovy
Labels: in:dependency-version-catalog, 5 min review, platform:software

#27303 Platformize precondition-tester
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/build-infrastructure/precondition-tester/README.md
  platforms/build-infrastructure/precondition-tester/build.gradle.kts
  platforms/build-infrastructure/precondition-tester/src/crossVersionTest/.gitkeep
  platforms/build-infrastructure/precondition-tester/src/integTest/.gitkeep
  platforms/build-infrastructure/precondition-tester/src/test/groovy/org/gradle/test/precondition/LocalPreconditionProbingTest.groovy
  platforms/build-infrastructure/precondition-tester/src/test/groovy/org/gradle/test/precondition/PreconditionProbingTest.groovy
  platforms/build-infrastructure/precondition-tester/src/test/groovy/org/gradle/test/precondition/RemotePreconditionProbingTest.groovy
  settings.gradle.kts
Labels: 1 min review, platform:build_infrastructure, build-script-change

#27238 Adopt architecture decision records (ADR)
  .github/CODEOWNERS
  CONTRIBUTING.md
  architecture-standards/0001-use-architectural-decision-records.md
  architecture-standards/0002-avoid-using-java-serialization.md
  architecture-standards/README.md
Labels: a:chore

#27299 Make `JacocoReportAggregationPlugin` artifact views cc compatible
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoConfigurationCacheIntegrationTest.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoReportAggregationPlugin.java
Labels: a:bug, in:jacoco-plugin

#27326 Upgrade wrapper to 8.6-20231208002054+0000
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  platforms/documentation/docs/src/samples/readme-templates/multi-common-body.adoc.template
Labels: a:chore, @execution

#27334 Undo issue fix 26201 in Gradle User Manual - symlinks
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
Labels: a:documentation, 1 min review

#27288 Add release note for Gradle init changes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#27333 Improve logging around file system watching intiialization
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
Labels: in:virtual-file-system

#27331 Make BuildAction part of the Configuration Cache key
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/FetchCustomModelForTargetProject.java
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiBuildActionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiParameterizedModelQueryIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiPhasedBuildActionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/models/DefaultToolingModelParameterCarrierFactory.kt
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/AbstractToolingModelRequirements.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/BuildTreeLifecycleBuildActionExecutor.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/QueryModelRequirements.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/RunActionRequirements.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/RunPhasedActionRequirements.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
Labels: 20 min review, platform:bt_ge_build_cache, platform:core_execution, platform:core_runtime, platform:core_configuration

#27347 Fix wrong link
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/Documentation.java
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SimpleGlobalFilesBuildSettingsDescriptor.java
Labels: 1 min review, platform:software, platform:core_runtime

#27247 fix(pmd): make PMD 7 dependency calculation working for RC releases
  platforms/jvm/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
Labels: a:bug, in:pmd-plugin, from:contributor

#27371 Fix typo in section heading
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
Labels: a:documentation, from:contributor

#27378 Clean up checkout dir before AdHocPerformanceTest
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
Labels: 1 min review, platform:build_infrastructure

#27222 Reimplement problem transferring and emitting from the worker-side
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/WorkerLoggingProtocol.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemEmitter.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemProtocol.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemSerializer.java
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorProblemsApiIntegrationTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultSingleRequestWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProblemProtocol.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/Receiver.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/RequestProtocol.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/ResponseProtocol.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
Labels: in:workers, in:problems, @ide-experience

#27374 Polish `IdeaModuleBuilderSupport`
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/IdeaModuleBuilderSupport.java
Labels: a:chore

#26327 Replace configureEach + casting with withType
  platforms/documentation/docs/src/snippets/testing/test-suite-multi-configure-each/kotlin/build.gradle.kts
Labels: in:test-suites, from:contributor, ⚠️ Lacks Tests

#27387 Fix deprecation link
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation, 1 min review, platform:documentation

#27375 Add IntelliJ inspections to detect and replace banned Guava methods
  .idea/inspectionProfiles/Gradle.xml
Labels: 5 min review

#27370 Deprecate publishing maven dependency with differing artifact name
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishDependenciesIntegTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
Labels: 10 min review, platform:software, platform:documentation

#27383 Don't fail the build on invalid Problems API invocation
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
Labels: 20 min review, platform:ide

#27368 Wire dependency resolution for dependency mapping
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/MergeProviderIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MergeProvider.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MergeProviderTest.groovy
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/IvyComponentParser.java
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/AbstractMavenPublishJavaIntegTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishExternalVariantIntegrationTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/DefaultDependencyCoordinateResolverFactory.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/DependencyCoordinateResolverFactory.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/ResolutionBackedComponentDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/ResolutionBackedVariantDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/VersionMappingComponentDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/validation/PublicationWarningsCollector.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/tasks/GenerateModuleMetadata.java
  platforms/software/publish/src/test/groovy/org/gradle/api/publish/internal/mapping/DefaultDependencyCoordinateResolverFactoryTest.groovy
  platforms/software/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: 30 min review, platform:software, platform:core_configuration

#27344 Allow disabling `gradle init` dialog
  platforms/documentation/docs/src/docs/dsl/org.gradle.buildinit.tasks.InitBuild.xml
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitInteractiveIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/BuildInitPlugin.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildInitializer.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
Labels: 5 min review, platform:software, platform:documentation

#27095 Allow tooling API `BuildAction` instances to stream results to the client application
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/FailsafePhasedActionResultListener.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/IntermediateModelListenerAdapter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/connection/ProviderOperationParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/serialization/IntermediateModel.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/serialization/SerializedPayloadSerializer.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/tooling/internal/provider/ProviderConnectionTest.groovy
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/BuildControllerFactory.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/DefaultBuildController.java
  platforms/ide/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/DefaultBuildControllerTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/BlockingModelSendingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/CustomIntermediateModelSendingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/CustomModel.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/IntermediateModelSendingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/IntermediateModelSendingBuildActionCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/BuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/BuildController.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/IntermediateModelListener.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultBuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/IntermediateModelAwareBuildControllerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/InternalBuildActionAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/UnparameterizedBuildController.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/package-info.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/ConsumerOperationParameters.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/package-info.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalIntermediateModelRelay.java
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: in:tooling-api

#27396 Describe Problems API in release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#27341 Support chaining Hasher calls
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/caching/impl/DefaultCachingStateFactory.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hasher.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AbstractTransformExecution.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformWorkspaceIdentity.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/caching/CrossBuildCachingRuleExecutor.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/BaseSnapshotInputsBuildOperationResult.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: 5 min review, platform:software, platform:bt_ge_build_cache, platform:core_execution

#27366 Remove OperationIdentifier from DefaultProblem, and make it part of the problem emission.
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/ProblemRecordingTypeValidationContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemEmitter.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemProtocol.java
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorProblemsApiIntegrationTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/NoOpProblemEmitter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemEmitter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemsProgressEventEmitterHolder.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/problems-api/src/testFixtures/groovy/org/gradle/api/problems/TestProblemsUtil.groovy
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/emitters/BuildOperationBasedProblemEmitter.java
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/internal/buildtree/InitProblems.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProblemProtocol.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/Receiver.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationTreeQueries.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/ReceivedProblem.groovy
Labels: a:feature, in:problems, 10 min review, platform:software, platform:ide, platform:build_infrastructure, platform:core_execution, build-script-change, platform:core_runtime, platform:core_configuration

#27394 Capture caching state for local load/store failure
  platforms/core-execution/build-cache/src/integTest/groovy/org/gradle/caching/internal/BuildCacheBuildOperationsIntegrationTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/BuildCacheStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/BuildCacheStepTest.groovy
Labels: 1 min review, platform:bt_ge_build_cache, platform:core_execution

#27412 Track project dependencies for intermediate model requests
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsFixture.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiGradleProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiIdeaProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/IsolatedProjectsSafeIdeaModelBuilder.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/IsolatedProjectsSafeGradleProjectBuilder.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/DefaultIntermediateToolingModelProvider.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/IntermediateToolingModelProvider.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/ToolingModelProjectDependencyListener.java
Labels: 20 min review, platform:ide, platform:core_configuration

#27322 Improve javadocs for HashCode methods
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/HashCode.java
Labels: 1 min review, platform:bt_ge_build_cache, platform:core_execution

#27423 Rebaseline performance tests
  gradle.properties
Labels: 1 min review

#27415 Add more data for CC load/store build operations
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOperationsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperations.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheRepository.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheStateStore.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperationsTest.kt
  platforms/enterprise/enterprise-operations/src/main/java/org/gradle/internal/configurationcache/ConfigurationCacheLoadBuildOperationType.java
  platforms/enterprise/enterprise-operations/src/main/java/org/gradle/internal/configurationcache/ConfigurationCacheStoreBuildOperationType.java
Labels: 10 min review, platform:gradle_enterprise, platform:core_configuration

#25214 Fix resolution of excluded tasks for included builds
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildTaskExcludeIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/selection/DefaultBuildTaskSelector.java
  subprojects/core/src/test/groovy/org/gradle/execution/selection/DefaultBuildTaskSelectorTest.groovy
Labels: in:composite-builds, from:contributor, :wave: team-triage

#27424 Refactoring before making Kotlin DSL models IP compatible
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsFixture.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiIdeaProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheAwareProjectEvaluator.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/models/IntermediateModelController.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/IsolatedProjectsSafeIdeaModelBuilder.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/BuildController.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ToolingParameterProxy.java
  platforms/ide/tooling-api/src/test/groovy/org/gradle/integtests/tooling/fixture/ToolingApiModelCheckerTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiModelChecker.groovy
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/DefaultIntermediateToolingModelProvider.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/IntermediateToolingModelProvider.java
Labels: 20 min review, platform:ide, platform:kotlin_dsl, platform:core_configuration

#27408 Avoid file generation with `gradle init` when dialog is cancelled
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitInteractiveIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/WrapperDefaults.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/WrapperGenerator.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/BuildInitPlugin.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/WrapperPlugin.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/InitSettings.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/ProjectLayoutSetupRegistry.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  platforms/software/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/BuildInitPluginSpec.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/TemplateFactoryTest.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
  platforms/software/build-init/src/testFixtures/groovy/org/gradle/buildinit/plugins/fixtures/ScriptDslFixture.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/DefaultUserInputHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/NonInteractiveUserInputHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/UserInputHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/UserInputReader.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/ConcurrentTestUtil.groovy
Labels: 30 min review, platform:software, platform:documentation, platform:build_infrastructure

#27403 Document and test problem categories emitted from Gradle core
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/DefaultTypeValidationContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/DelegatingProblemBuilder.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/DeprecatedUsageBuildOperationProgressIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerialization.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/extensibility/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/PluginManagementDslSpec.groovy
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemSpec.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemCategory.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/Problem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemCategory.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/ProblemCategoryTest.groovy
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemCategory.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultCategory.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalProblemCategory.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRolesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/VersionCatalogExtensionIntegrationTest.groovy
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningOperationIntegrationSpec.groovy
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultProblemCategory.java
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildEventsIntegrationTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildPluginDevelopmentIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownCategories.groovy
Labels: 20 min review, platform:software, platform:ide, platform:build_infrastructure, platform:core_execution, platform:core_runtime, platform:core_configuration

#27429 Unwrap `InvocationTargetException` from `ApiExtensionGeneratorFacade`
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/KotlinExtensionsForGradleApiFacade.kt
Labels: a:chore, in:building-gradle

#27301 Better error message for circular provider evaluation
  build-logic/jvm/src/main/kotlin/gradlebuild.strict-compile.gradle.kts
  gradle.properties
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/CollectionPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/MapPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/ProviderIntegrationTest.groovy
  platforms/core-configuration/model-core/src/jmh/java/org/gradle/api/internal/provider/EvaluationContextPerfTest.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/BiProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/BuildableBackedProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/BuildableBackedSetProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ChangingProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/EvaluationContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/FilteringProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/FlatMapProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/GuardedData.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MappingProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MergeProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/OrElseFixedValueProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/OrElseProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/OrElseValueProducer.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ProviderInternal.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Providers.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/TransformBackedProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/WithSideEffectProvider.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/BiProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CollectionPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultListPropertyTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultSetPropertyTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/EvaluationContextTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/FilteringProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/FlatMapProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MappingProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/OrElseFixedValueProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/OrElseProviderTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/TransformBackedProviderTest.groovy
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/api/internal/provider/CircularEvaluationSpec.groovy
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/api/internal/provider/PropertySpec.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
  subprojects/architecture-test/src/test/java/org/gradle/architecture/test/ProviderImplementationTest.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
Labels: p:lazy-migration

#27430 Add flag for disabling models-as-project-dependencies behavior
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiGradleProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheKeyTest.kt
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildModelParameters.java
Labels: @configuration-cache, in:project-isolation, 5 min review, platform:core_configuration

#27439 Another refactor before making Kotlin DSL models IP compatible
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslScriptsModelCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/EditorReportsBuilder.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/internal/KotlinScriptingModelBuildersRegistrationAction.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/resources/META-INF/services/org.gradle.configuration.project.ProjectConfigureAction
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/ClassPathModeExceptionCollector.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
Labels: 10 min review, platform:kotlin_dsl, platform:core_configuration

#27376 Make dependencies block reusable
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependenciesExtensions.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/PropertyInternal.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/ManagedObjectFactory.java
  platforms/documentation/docs/src/docs/dsl/dsl.xml
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.artifacts.dsl.DependencyCollector.xml
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/custom_gradle_types.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/plugins/jvm/JvmComponentDependencies.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmComponentDependencies.java
  platforms/jvm/language-jvm/src/test/groovy/org/gradle/api/plugins/jvm/internal/JvmComponentDependenciesTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuite.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/dependencies/TestSuitesGroovyDSLDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyCollector.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildScriptErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyCollector.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependenciesExtensionModule.java
  subprojects/core/src/main/java/org/gradle/api/internal/model/DefaultObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/model/InstantiatorBackedObjectFactory.java
Labels: 30 min review, platform:jvm, platform:software, platform:documentation, platform:kotlin_dsl, platform:core_configuration

#27402 Decouple configuration repository filtering
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/internal/PluginArtifactRepository.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationIntegrityCheckIntegTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationWritingIntegTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DefaultVersionedComponentChooser.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DynamicVersionResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/FilteredModuleComponentRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolveIvyFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/StartParameterResolutionOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/ChecksumAndSignatureVerificationOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/DependencyVerificationOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/writer/WriteDependencyVerificationFile.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultComponentResolversFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQuery.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/AbstractArtifactRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/ArtifactRepositoryInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/ArtifactResolutionDetails.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/ContentFilteringRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenArtifactRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/RepositoryContentDescriptorInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/result/ComponentSelectionContext.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolveIvyFactoryTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQueryTest.groovy
Labels: 20 min review, platform:software

#27450 CODEOWNERS: fix owner of build-infrastructure
  .github/CODEOWNERS
Labels: 1 min review

#27445 Make max test distribution executor number configurable
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildParams.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
Labels: 1 min review

#27256 Fix link from CONTRIBUTING.md to compatibility.adoc
  CONTRIBUTING.md
Labels: from:contributor

#27263 use existing retry logic for maven metadata download
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/transport/NetworkOperationBackOffAndRetry.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/transport/NetworkOperationBackOffAndRetryTest.groovy
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publisher/DependencyResolverIvyPublisher.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/AbstractMavenPublisher.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/MavenLocalPublisher.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/MavenRemotePublisher.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: in:publishing-plugins, from:contributor

#27400 Internal flag for compact CC problem identifiers
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
Labels: @configuration-cache, 5 min review, platform:core_configuration

#27422 Problems API: simplify/deduplicate test code, increase coverage
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemsTest.groovy
  platforms/ide/problems-api/src/testFixtures/groovy/org/gradle/api/problems/ReportingScript.groovy
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/PluginIdLocationTransformer.java
  platforms/ide/tooling-api/build.gradle.kts
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemProgressEventCrossVersionTest.groovy
Labels: 20 min review, platform:ide, build-script-change

#27469 Let Kotlin DSL source path calculation properly look into `platforms/`
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionResolverIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/FindGradleSources.kt
Labels: in:kotlin-dsl

#27480 Add AC as owner of architecture-test
  .github/CODEOWNERS
Labels: 1 min review, platform:build_infrastructure

#27461 Rename new tooling API types to avoid the term "intermediate model" to avoid conflict with things already called "intermediate models"
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/StreamedValueConsumer.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/connection/ProviderOperationParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/package-info.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/serialization/StreamedValue.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/DefaultBuildController.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/BlockingModelSendingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/CustomModelStreamingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ModelStreamingBuildAction.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/StreamingBuildActionCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/BuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/BuildController.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/StreamedValueListener.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultBuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultPhasedBuildActionExecuter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/BuildControllerWithoutParameterSupport.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/InternalBuildActionAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/NestedActionAwareBuildControllerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/ParameterAwareBuildControllerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/RethrowingErrorsConsumerActionExecutor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/StreamingAwareBuildControllerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/connection/UnparameterizedBuildController.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/ConsumerOperationParameters.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/FailsafeStreamedValueListener.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalBuildControllerVersion2.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalStreamedValueRelay.java
  platforms/ide/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/connection/ParameterAwareBuildControllerAdapterTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: in:tooling-api, @configuration-cache

#27465 Skip check merge if file is not found on commit
  .github/workflows/CheckBadMerge.groovy
Labels: 1 min review, platform:build_infrastructure

#27464 Match more alpha/beta version in UpdateInitPluginTemplateVersionFile
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateInitPluginTemplateVersionFile.kt
Labels: 1 min review

#27388 Use URI instead of URLDecoder in file/uri conversion
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileOrUriNotationConverter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/FileOrUriNotationConverterTest.groovy
Labels: a:regression, 1 min review, platform:core_configuration

#27483 Bump Plugin Publish plugin version to latest
  build-logic-commons/build-platform/build.gradle.kts
Labels: in:building-gradle

#27466 Init Kotlin DSL script should not see buildSrc
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourcePathProvider.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/resolver/SourcePathProviderTest.kt
Labels: 1 min review, platform:kotlin_dsl, platform:core_configuration

#27418 Move filtering of null `OperationIdentifier` in `ProblemReporter`
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
Labels: a:feature, in:problems, 1 min review, platform:ide

#27470 Add Problems API sample
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/README.adoc
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/reporters/model-builder-plugin/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/reporters/script-plugin/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/reporters/script-plugin/src/main/groovy/reporters.script.plugin.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/reporters/standard-plugin/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/sample-ide/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/sample-project/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/sample-project/settings.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/settings.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/reporters/model-builder-plugin/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/reporters/script-plugin/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/reporters/script-plugin/src/main/kotlin/reporters/script.plugin.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/reporters/standard-plugin/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/sample-ide/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/sample-project/build.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/sample-project/settings.gradle.kts
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/model-builder-plugin/src/main/java/reporters/DefaultDemoModel.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/model-builder-plugin/src/main/java/reporters/DemoModel.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/model-builder-plugin/src/main/java/reporters/ModelBuilder.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/model-builder-plugin/src/main/java/reporters/ModelBuilderPlugin.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/standard-plugin/src/main/java/reporters/StandardPlugin.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/sample-ide/src/main/java/org/gradle/sample/SampleIde.java
Labels: 30 min review, platform:documentation, build-script-change

#27417 Expand integration testing when problems are emitted from workers with exception transferring
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorProblemsApiIntegrationTest.groovy
Labels: a:feature, in:workers, in:problems, 1 min review, platform:core_execution

#27473 Improve task validation labels
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblemRenderer.java
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageDisplayConfiguration.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformValuesInjectionIntegrationTest.groovy
Labels: 20 min review, platform:software, platform:core_execution, platform:core_configuration

#27477 Require root project target for IdeaProject and GradleProject with Isolated Projects
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/ToolingApiSpec.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/FailingBuildAction.java
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiBuildActionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiGradleProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiIdeaProjectIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelBuilder.kt
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/IsolatedProjectsSafeIdeaModelBuilder.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/IsolatedProjectsSafeGradleProjectBuilder.java
Labels: in:project-isolation, 5 min review, platform:ide, platform:kotlin_dsl, platform:core_configuration

#27490 Use gradle init flag for defaults in basic tutorials
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
Labels: a:documentation, 1 min review, platform:documentation

#27485 Pass store failure to store operation
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildOperationsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIncompatibleTasksIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheMavenPublishIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheProblemReportingIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperations.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperationsTest.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheFixture.groovy
Labels: 5 min review, platform:build_infrastructure, platform:core_configuration

#27494 Use gradle init flag for defaults in multi-project tutorial
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr3_multi_project_builds.adoc
Labels: a:documentation, 1 min review, platform:documentation

#27488 Fix binary compatibilty check for generated Kotlin extension functions
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/KotlinSourceQueries.kt
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiExtensionsGenerator.kt
Labels: in:kotlin-dsl, 1 min review

#27479 Update Release Notes template with Public Roadmap
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#27489 Fix broken Windows virtual memory calculations
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/WindowsOsMemoryInfo.java
  platforms/core-runtime/process-services/src/test/groovy/org/gradle/process/internal/health/memory/DefaultMemoryManagerTest.groovy
  platforms/core-runtime/process-services/src/test/groovy/org/gradle/process/internal/health/memory/WindowsOSMemoryInfoTest.groovy
Labels: a:bug, in:workers, in:java-plugins, 10 min review, platform:core_runtime

#27478 Document VerificationExceptions and add failure section to docs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/custom_tasks.adoc
  platforms/documentation/docs/src/snippets/failures/verificationFailure/groovy/build.gradle
  platforms/documentation/docs/src/snippets/failures/verificationFailure/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/failures/verificationFailure/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/failures/verificationFailure/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/failures/verificationFailure/tests/verificationFailure.out
  platforms/documentation/docs/src/snippets/failures/verificationFailure/tests/verificationFailure.sample.conf
  subprojects/core/src/main/java/org/gradle/api/tasks/VerificationException.java
Labels: a:documentation, 5 min review, platform:documentation

#27467 Add user documentation about the Problem API usage
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/snippets/developingPlugins/problemReporting/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/developingPlugins/problemReporting/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/developingPlugins/problemReporting/kotlin/buildSrc/src/main/java/org/myorg/ProblemReportingPlugin.java
  platforms/documentation/docs/src/snippets/developingPlugins/problemReporting/kotlin/settings.gradle.kts
Labels: a:documentation, in:problems, @ide-experience, 1 min review, platform:documentation

#27493 Add/Improve javadoc for Problems API
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemSpec.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemsServiceModelBuilderCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemAggregation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemAggregationDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemCategory.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemEvent.java
Labels: 5 min review, platform:ide

#27510 Unify wording of update()'s javadoc
  subprojects/core-api/src/main/java/org/gradle/api/file/ConfigurableFileCollection.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/MapProperty.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/Property.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/SetProperty.java
Labels: a:documentation

#27455 Update Gradle installation guide in User Manual with clearer definition of project
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, 1 min review

#27517 Update smoke tested plugin versions
  gradle/dependency-management/agp-versions.properties
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BNDSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/FlywayPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KtLintPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
Labels: a:chore

#27502 Release notes for 8.6
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/task_configuration_avoidance.adoc
Labels: a:documentation

#27535 Test merge queue
  README.md
Labels: a:chore, a:documentation, 1 min review

#27250 Add dark mode to Gradle User Manual
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/resources/multi-language-samples.css
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/gradle_directories.adoc
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-1.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-2.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-3.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-4.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-5.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-6.png
  platforms/documentation/docs/src/docs/userguide/img/author-gradle-7.png
  platforms/documentation/docs/src/docs/userguide/img/build-lifecycle-example.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-1.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-2.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-3.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-4.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-5.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-6.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-7.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-8.png
  platforms/documentation/docs/src/docs/userguide/img/gradle-basic-9.png
  platforms/documentation/docs/src/docs/userguide/img/userguide-ides.png
  platforms/documentation/docs/src/docs/userguide/img/wrapper-workflow.png
  platforms/documentation/docs/src/main/resources/footer.html
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#26493 Consider .hpp, .hxx, and .h++ as header files.
  platforms/ide/ide-native/src/main/resources/org/gradle/ide/visualstudio/tasks/internal/default.vcxproj.filters
  platforms/ide/ide-native/src/test/groovy/org/gradle/ide/visualstudio/tasks/internal/VisualStudioFiltersFileTest.groovy
  platforms/native/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppComponent.java
  platforms/native/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
Labels: to-triage, from:contributor

#27542 Update README.md
  README.md
Labels: a:chore, a:documentation, 1 min review

#27527 Fix issue with buildscript classpath state being discarded
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultResolutionStrategy.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ResettableConfiguration.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/initialization/DefaultScriptHandlerTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/environment/BuildEnvironmentIntegrationTest.groovy
Labels: a:regression, in:dependency-resolution, affects-version:7.6, affects-version:8.0, affects-version:8.1, 5 min review, platform:software, affects-version:8.1.1, affects-version:8.2, in:build-environment, affects-version:8.3, affects-version:8.4, affects-version:8.5
