Repository gradle/gradle, pull requests merged in 2023-10, with the labels that each got.

#26604 Fix YAML file pattern in .editorconfig
  .editorconfig
Labels: 1 min review

#25729 feat: more helpful error from MavenPublicationErrorChecker (refs #25728)
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishArtifactCustomizationIntegTest.groovy
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/validation/MavenPublicationErrorChecker.java
  subprojects/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
Labels: from:contributor, re:comprehensibility

#26590 September Doc Cleanup based on Github issues
  subprojects/core/src/main/java/org/gradle/api/tasks/WriteProperties.java
  subprojects/docs/src/docs/css/javadoc.css
  subprojects/docs/src/docs/css/manual.css
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
  subprojects/docs/src/docs/userguide/running-builds/build_environment.adoc
  subprojects/docs/src/docs/userguide/running-builds/command_line_interface.adoc
Labels: a:documentation

#26605 Update Groovy warnings to make static possibility only a weak warning
  .idea/inspectionProfiles/Gradle.xml
Labels: 1 min review

#26580 Remove ARTIFACTS_RESOLVED state for Configurations
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/UnsupportedConfigurationMutationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactResolveState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/DefaultResolverResultsSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
Labels: 10 min review, platform:software

#26610 ConfigurationContainerScope: Fix nullability of detachedConfiguration
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ConfigurationContainerExtensions.kt
Labels: from:contributor, ⚠️ Lacks Tests

#26552 Prevent corrupt build logic jars by running all build logic builds with the same file lock
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/ToolingApiSpec.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiParallelConfigurationIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/BuildableBackedProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/tasks/TaskDependencyUtil.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/concurrent/ExecutorFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/exec/BuildTreeLifecycleBuildActionExecutor.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/VisualStudioProjectMetadata.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildClassPathInitializer.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/BuildLogicBuildQueue.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/BuildLogicBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultBuildLogicBuildQueue.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultBuildLogicBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandlerFactory.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSourceBuilder.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSrcBuildListenerFactory.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildLayoutValidator.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/initialization/DefaultScriptHandlerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/buildsrc/BuildSrcBuildListenerFactoryTest.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:feature, in:composite-builds, in:build-src

#26617 Upgrade wrapper to latest 8.5 nightly
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: in:building-gradle

#26624 Release notes for 7.6.3
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore

#26625 Final 8.4 release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore

#26459 Add more NowInAndroid performance tests
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/IncrementalAndroidTestProject.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioPerformanceTest.groovy
Labels: in:performance-test

#26615 Make problems service usable in model builders
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/CustomModel.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemServiceModelBuilderCrossVersionTest.groovy
Labels: 10 min review, platform:ide

#26585 Fix public API definitions
  .idea/scopes/Gradle_public_API.xml
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/PublicApi.kt
  subprojects/docs/src/docs/userguide/authoring-builds/authoring_maintainable_build_scripts.adoc
Labels: 1 min review, platform:documentation

#26627 Validate deprecation problems contain location information
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r84/ProblemProgressEventCrossVersionTest.groovy
Labels: 1 min review, platform:ide

#26629 Improve readability of test scripts in tests
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/DeprecatedUsageBuildOperationProgressIntegrationTest.groovy
  platforms/ide/problems/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  subprojects/build-events/src/integTest/groovy/org/gradle/build/event/BuildEventsIntegrationTest.groovy
  subprojects/build-events/src/integTest/groovy/org/gradle/build/event/InternalBuildOperationEventsIntegrationTest.groovy
  subprojects/build-profile/src/integTest/groovy/org/gradle/profile/ProfilingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildEventsErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/BuildSourceBuilderIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: 5 min review, platform:ide, platform:build_infrastructure, platform:core_execution, platform:core_runtime

#26342 Extract instrumentation logic out of DefaultCachedClasspathTransformer
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classanalysis/AsmConstants.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/FileCacheBackedScriptClassCompiler.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/CachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClassData.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/BaseClasspathElementTransform.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClassTransform.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClasspathElementTransform.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClasspathElementTransformFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClasspathElementTransformFactoryForAgent.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClasspathElementTransformFactoryForLegacy.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/ClasspathElementTransformForAgent.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/CommonTypes.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/CompositeClassTransform.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/InstrumentingBackwardsCompatibilityVisitor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/InstrumentingClassTransform.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/LambdaSerializationTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/MrJarUtils.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/MultiReleaseClasspathElementTransformForLegacy.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/package-info.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/DefaultInstrumentingDirectSuperTypesCollector.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/InstrumentingClasspathFileTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/transforms/LambdaSerializationTransformerTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/classpath/InstrumentedClasses.groovy
  subprojects/core/src/testFixtures/java/org/gradle/internal/classpath/TestInstrumentedClassLoader.java
Labels: a:feature, @execution, p:lazy-migration

#26608 Refine release notes for 8.5
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review

#26612 Ensure role-locked configurations are non-visible
  platforms/jvm/java-platform/src/main/java/org/gradle/api/plugins/JavaPlatformPlugin.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  subprojects/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftLibraryPlugin.java
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/catalog/VersionCatalogIntegrationTest.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/catalog/VersionCatalogPlugin.java
  subprojects/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningConfigurationsIntegrationSpec.groovy
Labels: 20 min review, platform:jvm, platform:software

#26638 Update wrapper to 8.4
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#26631 Mention Kotlin DSL faster first use in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: in:kotlin-dsl, a:documentation

#26633 Let generated Kotlin extensions for the Gradle API be included in the binary compatibility check
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
Labels: in:kotlin-dsl

#26630 Opt-out alllex from GitStream's summary table
  .cm/code_experts.cm
  .cm/complex_changes.cm
  .cm/estimated_time_to_review.cm
  .cm/includes_todos.cm
  .cm/javadoc_on_new_files.cm
  .cm/lacks_tests.cm
  .cm/platform_labels.cm
  .cm/summary_table.cm
Labels: cm-changes

#26594 Untangle test-suites and jvm plugin projects
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/plugins/jvm/JvmComponentDependencies.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/internal/JavaPluginHelper.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/jvm/component/internal/DefaultJvmSoftwareComponent.java
  platforms/jvm/plugins-jvm-test-suite-base/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/JvmTestSuitePlugin.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuite.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuiteTarget.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
  platforms/jvm/war/build.gradle.kts
  subprojects/plugin-development/build.gradle.kts
Labels: 10 min review, platform:jvm, 5 min review, platform:software, platform:extensibility, platform:ide, platform:build_infrastructure, build-script-change

#26325 Introduce BuildFeatures API for Configuration Cache and Isolated Projects
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheBuildFeatureIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsBuildFeatureIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsFixture.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeature.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeatures.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/package-info.java
  subprojects/core/src/integTest/groovy/org/gradle/api/configuration/BuildFeaturesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/configuration/DefaultBuildFeature.java
  subprojects/core/src/main/java/org/gradle/api/internal/configuration/DefaultBuildFeatures.java
  subprojects/core/src/main/java/org/gradle/api/internal/configuration/package-info.java
Labels: 30 min review, platform:core_configuration

#26648 Clean up internal java daemon keepAlive flag
  gradle.properties
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DaemonJavaCompiler.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/daemon/JavaCompilerDaemonReuseIntegrationTest.groovy
Labels: 1 min review, platform:jvm

#26657 Revert unintentional changes of reference docs URLs
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleKotlinDslReferencePlugin.java
  subprojects/docs/src/docs/kotlin/Module.md
  subprojects/docs/src/docs/kotlin/styles/gradle.css
Labels: in:kotlin-dsl, a:documentation

#26653 Set progressDisplayName for ConfigurationCache store and load operations
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperations.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildOperationsTest.kt
Labels: a:feature, in:configuration-cache, from:contributor

#26683 Fix ill task ordering example
  subprojects/docs/src/docs/userguide/getting-started/tutorial/part2_gradle_tasks.adoc
Labels: from:contributor

#26685 Copy gr8 processed `gradle-wrapper.jar` back to `wrapper/build/libs`
  platforms/core-runtime/wrapper/build.gradle.kts
Labels: 1 min review, build-script-change, platform:core_runtime

#26467 Reset allowed usage and warn when maybeCreating configurations
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/architecture-test/src/changes/archunit_store/configuration-factory-methods.txt
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationRole.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/RoleBasedConfigurationContainerInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/RoleBasedConfigurationCreationRequest.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/AbstractRoleBasedConfigurationCreationRequest.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/NoContextRoleBasedConfigurationCreationRequest.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/authoring_maintainable_build_scripts.adoc
  subprojects/docs/src/docs/userguide/jvm/building_java_projects.adoc
  subprojects/docs/src/snippets/java/customConfs-creation/groovy/build.gradle
  subprojects/docs/src/snippets/java/customConfs-creation/groovy/settings.gradle
  subprojects/docs/src/snippets/java/customConfs-creation/tests/customConfs-creation.sample.conf
  subprojects/docs/src/snippets/java/customConfs-creation/tests/sanityCheck.sample.conf
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/groovy/build.gradle
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/groovy/settings.gradle
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/groovy/src/main/java/Sample.java
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/kotlin/src/main/java/Sample.java
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/tests/badConfNames.out
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/tests/badConfNames.sample.conf
  subprojects/docs/src/snippets/java/sourceSets-badConfNames/tests/sanityCheck.sample.conf
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
Labels: 30 min review, platform:jvm, platform:software, platform:documentation

#26695 Hide unhelpful import sections from "Implementing Gradle plugins" snippets
  subprojects/docs/src/docs/userguide/developing-plugins/implementing_gradle_plugins.adoc
  subprojects/docs/src/snippets/developingPlugins/customTask/groovy/buildSrc/src/main/java/org/myorg/BinaryRepositoryExtension.java
  subprojects/docs/src/snippets/developingPlugins/customTask/groovy/buildSrc/src/main/java/org/myorg/BinaryRepositoryVersionPlugin.java
  subprojects/docs/src/snippets/developingPlugins/customTask/groovy/buildSrc/src/main/java/org/myorg/LatestArtifactVersion.java
  subprojects/docs/src/snippets/developingPlugins/customTask/kotlin/buildSrc/src/main/java/org/myorg/BinaryRepositoryExtension.java
  subprojects/docs/src/snippets/developingPlugins/customTask/kotlin/buildSrc/src/main/java/org/myorg/BinaryRepositoryVersionPlugin.java
  subprojects/docs/src/snippets/developingPlugins/customTask/kotlin/buildSrc/src/main/java/org/myorg/LatestArtifactVersion.java
  subprojects/docs/src/snippets/developingPlugins/defaultDependency/groovy/buildSrc/src/main/java/org/myorg/DataProcessing.java
  subprojects/docs/src/snippets/developingPlugins/defaultDependency/groovy/buildSrc/src/main/java/org/myorg/DataProcessingPlugin.java
  subprojects/docs/src/snippets/developingPlugins/defaultDependency/kotlin/buildSrc/src/main/java/org/myorg/DataProcessing.java
  subprojects/docs/src/snippets/developingPlugins/defaultDependency/kotlin/buildSrc/src/main/java/org/myorg/DataProcessingPlugin.java
  subprojects/docs/src/snippets/developingPlugins/incrementalTask/groovy/buildSrc/src/main/java/Generate.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/org/myorg/Deploy.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/org/myorg/ServerEnvironment.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/groovy/buildSrc/src/main/java/org/myorg/ServerEnvironmentPlugin.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/org/myorg/Deploy.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/org/myorg/ServerEnvironment.java
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/kotlin/buildSrc/src/main/java/org/myorg/ServerEnvironmentPlugin.java
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/groovy/buildSrc/src/main/java/org/myorg/CustomData.java
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/groovy/buildSrc/src/main/java/org/myorg/SiteExtension.java
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/kotlin/buildSrc/src/main/java/org/myorg/CustomData.java
  subprojects/docs/src/snippets/developingPlugins/pluginExtension/kotlin/buildSrc/src/main/java/org/myorg/SiteExtension.java
  subprojects/docs/src/snippets/developingPlugins/reactingToPlugins/groovy/buildSrc/src/main/java/InhouseConventionJavaPlugin.java
  subprojects/docs/src/snippets/developingPlugins/reactingToPlugins/groovy/buildSrc/src/main/java/InhouseConventionWarPlugin.java
  subprojects/docs/src/snippets/developingPlugins/reactingToPlugins/groovy/buildSrc/src/main/java/InhouseStrongOpinionConventionJavaPlugin.java
Labels: 5 min review, platform:documentation

#26707 Fix issue 26699 - wrong GRADLE_HOME link
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache_performance.adoc
Labels: a:documentation, 1 min review

#26714 Add contributor credit for 26598
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#26692 Extract test report aggregation plugin from plugins project
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/plugins-test-report-aggregation/build.gradle.kts
  platforms/jvm/plugins-test-report-aggregation/src/integTest/groovy/org/gradle/api/plugins/TestReportAggregationPluginIntegrationTest.groovy
  platforms/jvm/plugins-test-report-aggregation/src/main/java/org/gradle/api/plugins/TestReportAggregationPlugin.java
  platforms/jvm/plugins-test-report-aggregation/src/main/resources/META-INF/gradle-plugins/org.gradle.test-report-aggregation.properties
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: platform:jvm, 5 min review, re:platformization, platform:build_infrastructure, build-script-change

#26670 feat(#26598): add --java-version so init don't enter into unwanted interactive mode
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitInteractiveIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
  platforms/software/build-init/src/testFixtures/groovy/org/gradle/buildinit/plugins/fixtures/ScriptDslFixture.groovy
  subprojects/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc
Labels: from:contributor

#26725 add releases page to docs + finish fixing issue 26699
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
  subprojects/docs/src/main/resources/header.html
Labels: a:documentation, 1 min review

#26712 Fix the wrong Groovy3OrEarlier
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
Labels: 1 min review, platform:build_infrastructure

#26710 Use javaVersion instead of path name in test assertion
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
Labels: 1 min review, platform:jvm

#26739 Clean up the version-control build dir after moving to platforms
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
Labels: 1 min review, platform:build_infrastructure

#26708 Setup jvm-test-fixtures project, extract java-test-fixtures plugin class
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-jvm-test-fixtures/build.gradle.kts
  platforms/jvm/plugins-jvm-test-fixtures/src/integTest/groovy/org/gradle/java/fixtures/JavaLibraryTestFixturesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-fixtures/src/integTest/groovy/org/gradle/java/fixtures/KotlinTestFixturesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-fixtures/src/integTest/groovy/org/gradle/java/fixtures/StandaloneTestFixturesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-fixtures/src/main/java/org/gradle/api/plugins/JavaTestFixturesPlugin.java
  platforms/jvm/plugins-jvm-test-fixtures/src/main/resources/META-INF/gradle-plugins/org.gradle.java-test-fixtures.properties
  platforms/jvm/plugins-jvm-test-fixtures/src/testFixtures/groovy/org/gradle/java/fixtures/AbstractJavaProjectTestFixturesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-fixtures/src/testFixtures/groovy/org/gradle/java/fixtures/AbstractTestFixturesIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/main/resources/META-INF/gradle-plugins/org.gradle.jvm-test-suite.properties
  platforms/jvm/scala/build.gradle.kts
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/preconditions/PluginTestPreconditions.groovy
  subprojects/precondition-tester/build.gradle.kts
  subprojects/precondition-tester/src/test/groovy/org/gradle/test/precondition/PreconditionProbingTest.groovy
Labels: 10 min review, platform:jvm, platform:ide, re:platformization, platform:build_infrastructure, build-script-change

#26731 Remove unused preconditions
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: 1 min review, platform:build_infrastructure

#26730 Remove old java preconditions
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: 1 min review, platform:build_infrastructure

#26705 Replace deprecated command with environment file
  .github/workflows/contributor-pr.yml
Labels: from:contributor

#26736 Extract version catalog plugin to software
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/software/plugins-version-catalog/build.gradle.kts
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/api/plugins/VersionCatalogPluginGoodBehaviourIntegTest.groovy
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/api/plugins/catalog/internal/TomlWriterTest.groovy
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/catalog/VersionCatalogIntegrationTest.groovy
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/catalog/VersionCatalogResolveIntegrationTest.groovy
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/catalog/VersionCatalogSupport.groovy
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/api/plugins/catalog/internal/dependencies-notations.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/api/plugins/catalog/internal/dependencies.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/api/plugins/catalog/internal/plugin-notations.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/api/plugins/catalog/internal/wrong.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/composed-platform.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected1.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected2.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected3.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected4.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected5.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected6.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected7.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected8.toml
  platforms/software/plugins-version-catalog/src/integTest/resources/org/gradle/catalog/expected9.toml
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/CatalogPluginExtension.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/VersionCatalogPlugin.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/CatalogExtensionInternal.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/DefaultVersionCatalogPluginExtension.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/DependenciesAwareVersionCatalogBuilder.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/TomlFileGenerator.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/TomlWriter.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/internal/package-info.java
  platforms/software/plugins-version-catalog/src/main/resources/META-INF/gradle-plugins/org.gradle.version-catalog.properties
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/plugins/build.gradle.kts
Labels: 10 min review, platform:jvm, platform:software, re:platformization, platform:build_infrastructure, build-script-change

#26745 Gather preconditions on class level and method level together
  subprojects/internal-testing/src/main/groovy/org/gradle/test/precondition/RequiresExtension.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AbstractInstalledToolChainIntegrationSpec.groovy
Labels: 1 min review, platform:build_infrastructure

#26599 Change log level of "Watching X directories" to debug
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/AbstractConfigurationCacheIntegrationTest.groovy
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdater.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdater.java
Labels: from:contributor

#26662 Remove disabling buildSrc validation tasks from Kotlin DSL model building in "classpath mode"
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/BuildSrcClassPathModeConfigurationAction.kt
Labels: a:chore, in:kotlin-dsl

#26754 Add `@NonNullApi` to org.gradle.groovy.scripts.internal
  subprojects/architecture-test/src/changes/archunit_store/configuration-factory-methods.txt
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/package-info.java
Labels: a:chore, platform:core

#26747 Move test suites to new test-suites-base project
  .teamcity/subprojects.json
  platforms/ide/ide-native/build.gradle.kts
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/jvm/jacoco/build.gradle.kts
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-jvm-test-fixtures/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/build.gradle.kts
  platforms/jvm/plugins-test-report-aggregation/build.gradle.kts
  platforms/jvm/war/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  platforms/software/test-suites-base/build.gradle.kts
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuite.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuiteBinarySpec.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuiteContainer.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuiteSpec.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuiteTarget.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestSuiteTaskCollection.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/TestingExtension.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/internal/BaseTestSuiteSpec.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/internal/DefaultTestingExtension.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/internal/package-info.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/package-info.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/plugins/TestSuiteBasePlugin.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/plugins/TestingModelBasePlugin.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/plugins/package-info.java
  platforms/software/test-suites-base/src/main/resources/META-INF/gradle-plugins/org.gradle.test-suite-base.properties
  platforms/software/test-suites-base/src/test/groovy/org/gradle/testing/base/plugins/TestingModelBasePluginTest.groovy
  settings.gradle.kts
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/plugin-development/build.gradle.kts
  subprojects/plugins/build.gradle.kts
  subprojects/testing-native/build.gradle.kts
Labels: in:test-suites, 10 min review, platform:jvm, platform:software, platform:extensibility, platform:ide, platform:build_infrastructure, build-script-change

#26684 Add support for multiple features in one component
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/main/java/org/gradle/api/plugins/jvm/internal/JvmFeatureInternal.java
  platforms/jvm/language-java/src/main/java/org/gradle/jvm/component/internal/JvmSoftwareComponentInternal.java
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmFeatureTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/DefaultJavaFeatureSpec.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/FeatureSpecInternal.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmFeature.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/DefaultJvmSoftwareComponentTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/jvm/component/internal/DefaultJvmSoftwareComponentIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/jvm/component/internal/DefaultJvmSoftwareComponent.java
  platforms/jvm/plugins-jvm-test-fixtures/src/main/java/org/gradle/api/plugins/JavaTestFixturesPlugin.java
  platforms/jvm/plugins-jvm-test-fixtures/src/testFixtures/groovy/org/gradle/java/fixtures/AbstractJavaProjectTestFixturesIntegrationTest.groovy
Labels: 30 min review, platform:jvm, build-script-change

#26268 Dependency verification option for plain-text only
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureCheckIntegTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/verification/DependencyVerificationSignatureWriteIntegTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/StartParameterResolutionOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/ChecksumAndSignatureVerificationOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/DependencyVerificationOverride.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/writer/WriteDependencyVerificationFile.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationXmlTags.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlReader.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriter.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/signatures/BuildTreeDefinedKeys.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/verifier/DependencyVerificationConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/verifier/DependencyVerifierBuilder.java
  platforms/software/dependency-management/src/main/resources/org/gradle/schema/dependency-verification-1.3.xsd
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlReaderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriterTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/verifier/DependencyVerifierTest.groovy
  platforms/software/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/verification/DependencyVerificationFixture.groovy
  platforms/software/security/src/main/java/org/gradle/security/internal/SecuritySupport.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
Labels: from:contributor

#26758 Workaround Kotlin lack of Java 21 support in `kotlin-dsl` plugin
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/verification-metadata.xml
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmTargetIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginOptions.kt
Labels: in:kotlin-dsl

#26713 Remove whileDisabled wrapping when setting test sources and resources
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
Labels: 1 min review, platform:ide

#26518 Implement dependency mapping
  platforms/jvm/platform-jvm/build.gradle.kts
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/internal/JavaConfigurationVariantMapping.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/DefaultJavaPluginExtension.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/jvm/plugins-jvm-test-fixtures/src/main/java/org/gradle/api/plugins/JavaTestFixturesPlugin.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectDependencyPublicationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyPublicationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/package-info.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectDependencyPublicationResolverTest.groovy
  platforms/software/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublicationTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishExternalVariantIntegrationTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
  platforms/software/maven/src/test/groovy/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublicationTest.groovy
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/ConfigurationVariantDetailsInternal.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/ConfigurationVariantMapping.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/FeatureConfigurationVariant.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/ResolutionBackedVariant.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/ComponentDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/DefaultDependencyCoordinateResolverFactory.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/ResolutionBackedComponentDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/ResolutionBackedVariantDependencyResolver.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/mapping/VersionMappingComponentDependencyResolver.java
  platforms/software/publish/src/test/groovy/org/gradle/api/publish/internal/mapping/DefaultDependencyCoordinateResolverFactoryTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/language-native/src/main/java/org/gradle/swiftpm/plugins/SwiftPackageManagerExportPlugin.java
Labels: 30 min review, platform:jvm, platform:software, build-script-change

#26772 Let Kotlin Gradle API extensions generation produce predictable file names
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiExtensionsGenerator.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/GradleApiExtensions.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinExtensionsForGradleApi.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
Labels: in:building-gradle, in:kotlin-dsl

#26782 Add blurb about --java-version param in init task to release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#26781 Add link to roadmap blog post
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#26779 Mention better diagnostics when unable to delete files in release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation

#26734 Update tested Kotlin 1.9.20-RC
  gradle/dependency-management/kotlin-versions.properties
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
Labels: a:chore

#26776 Nag for deprecation of remaining members of VersionNumber
  subprojects/core/src/main/java/org/gradle/util/VersionNumber.java
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
Labels: a:chore

#23813 Log deprecations for old properties in `base.*` plugin extension
  platforms/core-configuration/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/software/platform-base/src/main/java/org/gradle/api/plugins/internal/DefaultBasePluginExtension.java
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinAndroidDeprecations.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ThirdPartyGradleModuleMetadataSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithKotlinDeprecations.groovy
Labels: a:chore

#26784 Remove special case for main sourceSet for deprecation warnings
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
Labels: 1 min review, platform:jvm, platform:software, re:comprehensibility

#26799 Rename 'Gradle Enterprise' to 'Develocity' in the Gradle User Manual
  subprojects/docs/src/docs/userguide/authoring-builds/logging.adoc
  subprojects/docs/src/docs/userguide/getting-started/tutorial/part6_gradle_caching.adoc
  subprojects/docs/src/docs/userguide/jvm/java_testing.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache_concepts.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache_debugging.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache_performance.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache_use_cases.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/build-cache/common_caching_problems.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/performance.adoc
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_5.adoc
Labels: a:documentation

#26796 Fix typo in docs: daeomon -> daemon.
  subprojects/docs/src/docs/userguide/optimizing-performance/performance.adoc
Labels: from:contributor

#26801 Extract distribution plugin from plugins to software platform
  .teamcity/subprojects.json
  platforms/software/plugins-distribution/build.gradle.kts
  platforms/software/plugins-distribution/src/integTest/groovy/org/gradle/api/distribution/plugins/DistributionPluginTest.groovy
  platforms/software/plugins-distribution/src/integTest/groovy/org/gradle/api/plugins/DistributionPluginIntegrationTest.groovy
  platforms/software/plugins-distribution/src/integTest/groovy/org/gradle/integtests/samples/AutoTestedSamplesPluginsDistributionIntegrationTest.groovy
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/Distribution.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/DistributionContainer.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/internal/DefaultDistribution.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/internal/DefaultDistributionContainer.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/package-info.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/DistributionPlugin.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/package-info.java
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/plugins/build.gradle.kts
Labels: platform:jvm, 5 min review, platform:software, re:platformization, platform:build_infrastructure, build-script-change

#26806 Re-disable failing native tests on mac
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
  subprojects/language-native/src/integTest/groovy/org/gradle/language/c/CLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/c/CPreCompiledHeaderSourcesIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppFrameworkIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLanguageIntegrationTest.groovy
  subprojects/language-native/src/integTest/groovy/org/gradle/language/cpp/CppPreCompiledHeaderSourcesIntegrationTest.groovy
  subprojects/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AbstractInstalledToolChainIntegrationSpec.groovy
  subprojects/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestComponentIntegrationTest.groovy
Labels: 1 min review, platform:build_infrastructure

#26794 Align additional exceptions with Gradle selection failure type hierarchy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/AbstractNamedConfigurationException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ConfigurationNotConsumableException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ConfigurationNotFoundException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ExternalConfigurationNotFoundException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/SelectionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/IvyDependencyDescriptorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/MavenDependencyDescriptorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependencyTest.groovy
Labels: 10 min review, platform:software

#24692 Fix minor incorrectness in StartParameter documentation
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
Labels: from:contributor

#24074 Mention that output directories and output file parent directories are automatically created
  subprojects/core-api/src/main/java/org/gradle/api/tasks/OutputDirectory.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/OutputFile.java
Labels: from:contributor, ⚠️ Lacks Tests

#26824 Remove :wrapper-shared dependency from :build-cache-packaging
  platforms/core-execution/build-cache-packaging/build.gradle.kts
Labels: a:chore, @execution

#26823 Move build-operations to core-runtime platform
  .cm/platform_labels.cm
  .cm/summary_table.cm
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/core-runtime/build-operations/build.gradle.kts
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperation.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationAncestryTracker.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationContext.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationDescriptor.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationIdFactory.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationInvocationException.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationListener.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationListenerManager.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationMetadata.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationProgressEventEmitter.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationRef.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationRunner.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationState.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationType.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationWorker.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/CallableBuildOperation.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/CurrentBuildOperationPreservingRunnable.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/CurrentBuildOperationRef.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationAncestryTracker.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationIdFactory.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationListenerManager.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationRef.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationRunner.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/NoOpBuildOperationProgressEventEmitter.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/OperationFinishEvent.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/OperationIdentifier.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/OperationProgressDetails.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/OperationProgressEvent.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/OperationStartEvent.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/RunnableBuildOperation.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/notify/BuildOperationFinishedNotification.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationListener.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/notify/BuildOperationProgressNotification.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/notify/BuildOperationStartedNotification.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/notify/package-info.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/package-info.java
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/CurrentBuildOperationPreservingRunnableTest.groovy
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/CurrentBuildOperationRefTest.groovy
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationListenerManagerTest.groovy
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationRunnerTest.groovy
  settings.gradle.kts
Labels: cm-changes

#26727 Add resources to the Gradle all distribution
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/dsl/source/ExtractDslMetaDataTask.groovy
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build-logic/packaging/src/main/kotlin/gradlebuild/packaging/GradleDistributionSpecs.kt
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.kotlin-library.gradle.kts
Labels: in:building-gradle, 1 min review

#26471 Deprecate depending on resolved configuration
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ConfigurationBuildDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FileDependencyResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RootComponentResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyReportTaskIntegrationTest.groovy
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: 1 min review, platform:software, platform:documentation

#26836 Skip configuring source links when git commit ID unknown
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleKotlinDslReferencePlugin.java
Labels: in:building-gradle, in:kotlin-dsl

#26807 Consolidate and standardize creation of IncompatibleArtifactVariantsException to the failure handler
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/IncompatibleVariantsSelectionMessageBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ArtifactVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultVariantSelectorFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/AbstractGraphVariantSelectionException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ArtifactVariantSelectionException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/ComponentMetadataDetailsAdapterTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelectorSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactVariantSelectorFactoryTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/AbstractDependencyMetadataRulesTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/AttributeMatchingGraphArtifactVariantSelectorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
Labels: 10 min review, platform:software

#26848 Support subclasses of Configuration in Provider.invoke overload
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/DependencyManagementIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
Labels: 20 min review, platform:kotlin_dsl, platform:core_configuration

#26603 Support DependencyScopeConfiguration Provider.invoke overload in DependencyHandlerScope
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/DependencyManagementIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
Labels: from:contributor

#26831 Refine trusted gradle gpg keys
  gradle/verification-metadata.xml
Labels: 1 min review

#26852 Create empty project directories to avoid deprecation warnings
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeCompositeBuildIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeMultipleProjectIntegrationTest.groovy
Labels: 1 min review, platform:ide

#26817 Upgrade Jackson to 2.15.3
  platforms/software/resources-gcs/build.gradle.kts
  platforms/software/resources-s3/build.gradle.kts
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore

#26818 Add some JavaDocs for file locking mechanism
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/CacheBuilder.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/FileLockManager.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultFileLockManager.java
Labels: a:chore, @execution, p:lazy-migration

#26682 Add docs and release notes for Build Features API
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeature.java
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/developing-plugins/implementing_gradle_plugins.adoc
  subprojects/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
  subprojects/docs/src/snippets/developingPlugins/reactingToBuildFeatures/groovy/build.gradle
  subprojects/docs/src/snippets/developingPlugins/reactingToBuildFeatures/groovy/buildSrc/src/main/java/MyPlugin.java
  subprojects/docs/src/snippets/developingPlugins/reactingToBuildFeatures/groovy/settings.gradle
Labels: 1 min review, platform:documentation

#26847 Do not mark configurations block as incubating
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ConfigurationContainerExtensions.kt
Labels: 1 min review, platform:kotlin_dsl, platform:core_configuration

#26844 expand list of public header file extensions for cpp-library
  subprojects/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
Labels: from:contributor, ⚠️ Lacks Tests

#26846 Recognize contributor and fix typo in generated HTML page
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGXmlResultAndHtmlReportIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/PackagePageRenderer.java
  subprojects/core/src/main/java/org/gradle/internal/html/SimpleHtmlWriter.java
  subprojects/core/src/test/groovy/org/gradle/internal/html/SimpleHtmlWriterTest.groovy
  subprojects/docs/src/docs/release/notes.md
Labels: 1 min review, platform:jvm, platform:software, platform:documentation

#26850 Assume unresolved packaging variables in a POM mean jar
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/BadPomFileResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReader.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleMetadataSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/DefaultMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/DefaultMutableMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MutableMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadata.java
Labels: 1 min review, platform:software

#26849 Implement MavenResolveTestFixture
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/maven/PomProjectInitDescriptor.java
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishExternalVariantIntegrationTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/internal-integ-testing/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RepoScriptBlockUtil.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/maven/ApiMavenResolver.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/maven/MavenResolveTestFixture.groovy
Labels: 30 min review, platform:software, platform:build_infrastructure, platform:release_coordination, build-script-change

#24943 Canonicalize "." and ".." segments in RelativePaths
  subprojects/core-api/src/main/java/org/gradle/api/file/RelativePath.java
  subprojects/core-api/src/test/groovy/org/gradle/api/file/RelativePathTest.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskIntegrationSpec.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/SyncTaskIntegrationTest.groovy
Labels: from:contributor

#26626 Add JDK LTS Gradleception
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: 1 min review, platform:build_infrastructure

#26865 Remove dead Kotlin DSL code for JAR generation
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/JarGenerationProgressMonitorProvider.kt
Labels: in:kotlin-dsl

#26853 Fix tests that disable the instrumentation agent
  platforms/core-runtime/wrapper/build.gradle.kts
  platforms/core-runtime/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: a:chore

#26874 Improve performance of RelativePath canonicalization
  subprojects/core-api/src/main/java/org/gradle/api/file/RelativePath.java
Labels: from:contributor, ⚠️ Lacks Tests

#26873 Avoid unnecessary exists check in DefaultSourceDirectorySet.getSourceTrees
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultSourceDirectorySet.java
Labels: from:contributor, a:performance-improvement, ⚠️ Lacks Tests

#26885 Cleanup Problems API
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/flow/FlowParametersInstantiator.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/DelegatingProblemBuilder.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/Problem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemBuilderDefiningLocation.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemTransformer.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/Problems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultBuildableProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultReportableProblem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/locations/PluginIdLocation.java
  platforms/ide/problems/src/integTest/groovy/org/gradle/api/problems/InjectedProblemTransformerIntegrationTest.groovy
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/services/ProblemServices.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/PluginIdLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/StackLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/TaskPathLocationTransformer.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemServiceModelBuilderCrossVersionTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/LibrariesSourceGenerator.java
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/parser/TomlCatalogFileParser.java
  subprojects/core/src/main/java/org/gradle/execution/DefaultTaskSelector.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/catalog/parser/TomlCatalogFileParserTest.groovy
  subprojects/core/src/test/resources/org/gradle/api/internal/catalog/parser/invalid16.toml
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerialization.java
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
Labels: 20 min review, platform:software, platform:extensibility, platform:ide, platform:core_runtime, platform:core_configuration

#26882 Deprecate ArtifactIdentifier
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultArtifactIdentifier.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/cache/ArtifactResolutionControl.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/dynamicversion/CachePolicy.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/CachingModuleComponentRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DependencyVerifyingModuleComponentRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCachePolicy.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/DefaultModuleComponentArtifactMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ModuleComponentArtifactMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/UrlBackedArtifactMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/DefaultArtifactIdentifierTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCachePolicySpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/AttributeMatchingGraphArtifactVariantSelectorTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ArtifactIdentifier.java
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: 5 min review, platform:software, platform:documentation

#26762 Update installation.adoc
  subprojects/docs/src/docs/userguide/getting-started/installation.adoc
Labels: a:documentation, in:invoking-gradle, from:contributor, :wave: team-triage

#26889 Upgrade embedded Kotlin from 1.9.10 to 1.9.20
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/build-init-samples/src/main/kotlin/gradlebuild/samples/SamplesGenerator.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  build-logic/packaging/src/main/kotlin/gradlebuild.distributions.gradle.kts
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/support/KotlinCompilerTest.kt
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/CompositeProjectInitDescriptor.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyHandlerApiResolveIntegrationTest.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
  subprojects/docs/src/docs/userguide/releases/compatibility.adoc
  subprojects/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  subprojects/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  subprojects/docs/src/samples/readme-templates/application-build.out.template
  subprojects/docs/src/samples/readme-templates/library-build.out.template
  subprojects/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsGenerationIntegrationTest.groovy
Labels: in:kotlin-dsl

#26860 Add default methods to dependency graph visitors
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/InMemoryResolutionResultBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultResolvedArtifactsBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DependencyArtifactsVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ResolvedArtifactsGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/CompositeDependencyArtifactsVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/CompositeDependencyGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/DependencyGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/FailOnVersionConflictGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/oldresult/ResolutionFailureCollector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/oldresult/ResolvedConfigurationDependencyGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/ResolvedLocalComponentsResultGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/FileDependencyCollectingGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/StreamingResolutionResultBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingGraphVisitor.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
Labels: 5 min review, platform:software
