Repository gradle/gradle, pull requests merged in 2023-06, with the labels that each got.

#25247 Update wrapper to 8.2-rc-1
  gradle/wrapper/gradle-wrapper.properties
Labels: 1 min review

#25246 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#25251 Reduce the number of Spec instances created for containers
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/api/internal/collections/AbstractIterationOrderRetainingElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/IterationOrderRetainingSetElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/ListElementSource.java
  subprojects/docs/src/docs/release/notes.md
Labels: in:configuration-model, @configuration-cache

#25254 Fix spurious deprecation warning when trying to access absent extension using Kotlin DSL `the<T>` or `configure<T>`
  subprojects/architecture-test/src/changes/archunit_store/public-api-not-extends-internal-types.txt
  subprojects/kotlin-dsl-integ-tests/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/plugins/ProjectTheExtensionCrossVersionSpec.groovy
  subprojects/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/ProjectExtensionsTest.kt
Labels: in:kotlin-dsl

#25256 Only filter JVM environment variables for java processes
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultProcessForkOptions.java
Labels: a:bug, in:jvm-ecosystem, 1 min review

#24414 Smoke test AGP nightlies
  build-logic/build-update-utils/build.gradle.kts
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateAgpVersions.kt
  gradle/dependency-management/agp-versions.properties
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractPluginValidatingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example-kotlin-dsl/app/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/resources/org/gradle/smoketests/android-kotlin-example/app/build.gradle
Labels: a:chore, in:smoke-test

#25224 Improve locality of pending element realization logic
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
  subprojects/core/src/main/java/org/gradle/api/internal/CompositeDomainObjectSet.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/AbstractIterationOrderRetainingElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/CollectionEventRegister.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/CollectionFilter.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/DefaultCollectionEventRegister.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/DefaultPendingSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/ElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/EventSubscriptionVerifier.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/FilteredElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/IterationOrderRetainingSetElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/ListElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/PendingSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/SortedSetElementSource.java
  subprojects/core/src/main/java/org/gradle/api/internal/collections/package-info.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractDomainObjectCollectionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/DefaultPendingSourceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/IterationOrderRetainingSetElementSourceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/SortedSetElementSourceTest.groovy
  subprojects/platform-base/src/main/java/org/gradle/api/internal/plugins/DefaultArtifactPublicationSet.java
Labels: 30 min review, platform:software

#25276 Reduce heap used by dependency resolution in composite builds
  subprojects/core/src/main/java/org/gradle/internal/hash/DefaultChecksumService.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildSessionScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactCachesProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/FileStoreAndIndexProvider.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleSourcesSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/DesugaredAttributeContainerSerializer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/IvyMutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/MavenMutableModuleMetadataFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/external/model/PreferJavaRuntimeVariant.java
  subprojects/hashing/src/main/java/org/gradle/internal/hash/ChecksumService.java
Labels: @configuration-cache, in:dependency-resolution

#25265 Add support for relative distribution URIs in the `Wrapper` task
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  subprojects/wrapper-shared/build.gradle.kts
  subprojects/wrapper-shared/src/main/java/org/gradle/util/internal/WrapperDistributionUrlConverter.java
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/WrapperExecutor.java
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: in:wrapper

#25244 Discard `cd` output in unix wrapper shell script
  subprojects/plugins/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
Labels: from:contributor

#25283 Enable supportTestRetry for Teamcity builds
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
Labels: @dev-productivity

#25281 Log next gen cache operations only when cache debugging is enabled
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultNextGenBuildCacheAccess.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/NextGenBuildCacheController.java
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/NextGenBuildCacheControllerTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/services/NextGenBuildCacheControllerFactory.java
Labels: @execution, in:build-cache

#25290 Treat project build script as a project configuration input when project isolation is enabled
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/ProjectParallelExecutionController.java
  subprojects/base-services/src/main/java/org/gradle/internal/work/package-info.java
  subprojects/base-services/src/test/groovy/org/gradle/internal/work/AbstractWorkerLeaseServiceTest.groovy
  subprojects/base-services/src/test/groovy/org/gradle/internal/work/DefaultWorkerLeaseServiceProjectLockTest.groovy
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultNestedBuildTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectToolingModelsWithDependencyResolutionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiBuildActionIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiCompositeBuildsIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiCoupledProjectsIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiIModelQueryIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiParallelConfigurationIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiPhasedBuildActionIntegrationTest.groovy
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprint.kt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  subprojects/configuration-cache/src/test/kotlin/org/gradle/configurationcache/ConfigurationCacheKeyTest.kt
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectFactory.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildModelParameters.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeState.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/ProjectScopedScriptResolution.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectStateRegistryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/ProjectFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/buildtree/BuildTreeStateTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/model/StateTransitionControllerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationExecutorParallelExecutionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationQueueTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/MaxWorkersTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/work/DefaultAsyncWorkTrackerTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/work/TestWorkerLeaseService.groovy
  subprojects/launcher/src/main/java/org/gradle/tooling/internal/provider/BuildSessionLifecycleBuildActionExecuter.java
Labels: @configuration-cache, in:project-isolation

#25300 Fix snippets ordering
  subprojects/docs/src/docs/userguide/reference/directory_layout.adoc
Labels: a:documentation

#25303 Bump version of Dokkatoo to 1.4.0
  build-logic/build-platform/build.gradle.kts
  gradle/verification-metadata.xml
Labels: in:kotlin-dsl

#25306 Disable code experts and todos
  .cm/code_experts.cm
  .cm/includes_todos.cm
Labels: cm-changes

#24826 Create initial JVM platform
  .cm/change_categories.cm
  .github/CODEOWNERS
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/src/main/kotlin/model/GradleSubprojectProvider.kt
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
  .teamcity/subprojects.json
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/model/GradleSubproject.kt
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/SubprojectsInfo.kt
  build-logic/packaging/src/main/kotlin/gradlebuild/packaging/GradleDistributionSpecs.kt
  platforms/jvm/ear/build.gradle.kts
  platforms/jvm/ear/src/integTest/groovy/org/gradle/plugins/ear/EarPluginGoodBehaviourTest.groovy
  platforms/jvm/ear/src/integTest/groovy/org/gradle/plugins/ear/EarPluginIntegrationTest.groovy
  platforms/jvm/ear/src/integTest/resources/org/gradle/plugins/ear/application_1_3.dtd
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/Ear.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPluginConvention.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/DeploymentDescriptor.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/EarModule.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/EarSecurityRole.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/EarWebModule.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultEarModule.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultEarSecurityRole.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultEarWebModule.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/package-info.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/internal/DefaultEarPluginConvention.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/package-info.java
  platforms/jvm/ear/src/main/resources/META-INF/gradle-plugins/org.gradle.ear.properties
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/EarPluginTest.groovy
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/EarTest.groovy
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptorTest.groovy
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/descriptor/internal/DefaultEarModuleTest.groovy
  settings.gradle.kts
  subprojects/smoke-test/build.gradle.kts
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildExternalPluginsValidationSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithPluginValidation.groovy
Labels: cm-changes

#25315 Update the Gradle Wrapper for 8.2-rc2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: 1 min review

#25173 Update the home page of the User Manual (userguide.adoc) and fix all doc build errors
  subprojects/docs/src/docs/userguide/authoring-builds/build_lifecycle.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/logging.adoc
  subprojects/docs/src/docs/userguide/authoring-builds/more_about_tasks.adoc
  subprojects/docs/src/docs/userguide/dep-man/01-core-dependency-management/core_dependency_management.adoc
  subprojects/docs/src/docs/userguide/getting_started.adoc
  subprojects/docs/src/docs/userguide/img/ant-task-migration.png
  subprojects/docs/src/docs/userguide/img/build-scan-infrastructure.png
  subprojects/docs/src/docs/userguide/img/dependency-management-dependency-insight-report-build-scan.png
  subprojects/docs/src/docs/userguide/img/deprecations.png
  subprojects/docs/src/docs/userguide/img/exploded-war-child-copy-spec-example.png
  subprojects/docs/src/docs/userguide/img/file-collection-vs-file-tree.png
  subprojects/docs/src/docs/userguide/img/gradle-completion-4.0.gif
  subprojects/docs/src/docs/userguide/img/gradle-core-test-build-scan-dependencies.png
  subprojects/docs/src/docs/userguide/img/gradle-core-test-build-scan-performance.png
  subprojects/docs/src/docs/userguide/img/gradle.png
  subprojects/docs/src/docs/userguide/img/intellij-idea-android-studio.png
  subprojects/docs/src/docs/userguide/img/jacocoHtmlReport.png
  subprojects/docs/src/docs/userguide/img/java-sourcesets-compilation.png
  subprojects/docs/src/docs/userguide/img/kotlin-dsl-intellij-idea-android-studio.png
  subprojects/docs/src/docs/userguide/img/plugin-portal-plugin-page.png
  subprojects/docs/src/docs/userguide/img/profile.png
  subprojects/docs/src/docs/userguide/img/rich-cli.png
  subprojects/docs/src/docs/userguide/img/task-dag-examples.png
  subprojects/docs/src/docs/userguide/img/taskConfigurationAvoidance-navigate-to-performance.png
  subprojects/docs/src/docs/userguide/img/taskConfigurationAvoidance-performance-annotated.png
  subprojects/docs/src/docs/userguide/img/taskInputsOutputs.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-refresh-eclipse.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-refresh-intellij.png
  subprojects/docs/src/docs/userguide/img/troubleshooting-task-execution-build-scan.png
  subprojects/docs/src/docs/userguide/img/userguide-ides.png
  subprojects/docs/src/docs/userguide/img/userguide-languages.png
  subprojects/docs/src/docs/userguide/img/visual-studio-task-graph.png
  subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc
  subprojects/docs/src/docs/userguide/jvm/scala_plugin.adoc
  subprojects/docs/src/docs/userguide/licenses.adoc
  subprojects/docs/src/docs/userguide/migration/feature_lifecycle.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/docs/src/docs/userguide/reference/command_line_interface.adoc
  subprojects/docs/src/docs/userguide/running-builds/gradle_daemon.adoc
  subprojects/docs/src/docs/userguide/troubleshooting.adoc
  subprojects/docs/src/docs/userguide/userguide.adoc
  subprojects/docs/src/docs/userguide/userguide_single.adoc
  subprojects/docs/src/docs/userguide/what_is_gradle.adoc
  subprojects/docs/src/main/resources/header.html
Labels: a:documentation

#25320 Bump wrapper: remove next-gen build cache debug output from console
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: @execution, in:build-cache

#25319 Inherit encoding from parent process in worker daemons on Linux
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/SupportsNonAsciiPaths.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestNameTestDirectoryProvider.java
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonEncodingIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorCompositeBuildIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersIntegrationTest.groovy
  subprojects/workers/src/main/java/org/gradle/workers/internal/DefaultProcessWorkerSpec.java
  subprojects/workers/src/testFixtures/groovy/org/gradle/workers/fixtures/WorkerExecutorFixture.groovy
Labels: in:workers, @execution

#25323 Fix typo
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#25335 Add a compileAll job that runs with build cache NG remote and uses old cache
  .teamcity/src/main/kotlin/configurations/CompileAllBuildCacheNG.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: @execution, in:build-cache

#25336 Always pass JAVA_HOME to daemon process
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CommandLineIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
Labels: a:chore

#25338 Remove @LocalOnly from tests
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/UndeclaredBuildInputsDynamicGroovyBuildSrcIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/UndeclaredBuildInputsJavaBuildSrcIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/UndeclaredBuildInputsJavaLambdaBuildSrcIntegrationTest.groovy
  subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/inputs/undeclared/UndeclaredBuildInputsStaticGroovyBuildSrcIntegrationTest.groovy
Labels: a:chore

#25286 Document configuration cache instrumentation
  subprojects/docs/src/docs/userguide/authoring-builds/tutorial_using_tasks.adoc
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
Labels: @configuration-cache, a:documentation

#25314 Modernizing the ResolveTestFixture
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FilteredConfigurationIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/AbstractGenerateGraphTask.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ConfigurationCacheCompatibleGenerateGraphTask.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/GenerateGraphTask.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
Labels: in:testing, 20 min review, platform:software, platform:build-infrastructure

#25343 Test Kotlin 1.8.22
  gradle/dependency-management/kotlin-versions.properties
Labels: a:chore

#25344 Upgrade embedded Kotlin to 1.8.22
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  subprojects/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  subprojects/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
Labels: in:kotlin-dsl

#25359 Refactor WrapperDistributionUrlResolver
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  subprojects/wrapper-shared/src/main/java/org/gradle/util/internal/WrapperDistributionUrlConverter.java
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/WrapperExecutor.java
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: in:wrapper, 1 min review

#25279 Add smoke test for GE plugin injection script
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: in:build-scan

#25126 Remove beforeLocking
  build-logic/basics/src/main/kotlin/gradlebuild.minify.gradle.kts
  build-logic/basics/src/main/kotlin/gradlebuild/basics/transforms/Minify.kt
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultMutableAttributeContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriberTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithCC.out
  subprojects/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithoutCC.out
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiKotlinIntegrationTest.groovy
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/compile/BasicJavaCompilerIntegrationSpec.groovy
  subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  subprojects/plugins/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServices.java
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/jvm/internal/AbstractJvmPluginServicesTest.groovy
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServicesTest.groovy
Labels: build-script-change, 20 min review, platform:jvm, platform:software, platform:release-coordination, platform:documentation

#25383 Mark Kotlin assignment as enabled for IntelliJ when gradle.properties file doesn't exist
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/template/KotlinBuildScriptTemplateAdditionalCompilerArgumentsProvider.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/template/KotlinBuildScriptTemplateAdditionalCompilerArgumentsProviderTest.kt
Labels: in:kotlin-dsl, @execution

#25366 Demonstrate caching behavior of IvyRepositoryDescriptor and repositor…
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultIvyArtifactRepository.java
  subprojects/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishChangingUrlIntegTest.groovy
  subprojects/ivy/src/main/java/org/gradle/api/publish/ivy/plugins/IvyPublishPlugin.java
Labels: 10 min review, platform:software

#25377 Extract ResolutionStrategy Factory
  subprojects/core/src/test/groovy/org/gradle/util/internal/NameValidatorTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolveIvyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCachePolicy.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultResolutionStrategy.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
Labels: 20 min review, platform:software

#25297 Add execution engine step and a generic build operation for work execution
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskTimeoutIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGradleServices.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AbstractTransformExecution.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/execution/ExecuteWorkBuildOperationType.java
  subprojects/enterprise-operations/src/main/java/org/gradle/operations/execution/package-info.java
  subprojects/execution/build.gradle.kts
  subprojects/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/steps/ExecuteWorkBuildOperationFiringStep.java
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r35/CacheableTaskProgressEventsCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r42/BuildProgressTaskActionsCrossVersionSpec.groovy
  subprojects/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ProgressEvents.groovy
Labels: in:build-scan

#25005 Add Provider overload for DependencyHandlerScope invoke
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
Labels: in:kotlin-dsl, from:contributor

#25261 Test for encoding problems and fix a few on Linux and macOS
  .teamcity/src/main/kotlin/common/extensions.kt
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild/testcleanup/TestFilesCleanupService.kt
  build-logic/buildquality/src/test/kotlin/gradlebuild/testcleanup/TestFilesCleanupServiceTest.kt
  build-logic/cleanup/src/test/groovy/gradlebuild/cleanup/services/LeakingProcessKillPatternTest.groovy
  subprojects/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerTest.groovy
  subprojects/build-cache/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  subprojects/build-scan-performance/src/testFixtures/groovy/org/gradle/performance/AbstractBuildScanPluginPerformanceTest.groovy
  subprojects/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginExternalDTDOptionIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/BasicFileResolverTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/ClasspathBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecActionFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/JavaExecHandleBuilderTest.groovy
  subprojects/dependency-management/build.gradle.kts
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationRepositoriesBuildOperationIntegrationTest.groovy
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/runtimeshaded/RuntimeShadedJarCreatorTest.groovy
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/FileOrUriNotationConverter.java
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionResultTest.groovy
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/logging/GroupedOutputFixtureTest.groovy
  subprojects/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/timeout/JavaProcessStackTracesMonitorSpec.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossBuildPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractGradleVsMavenPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractPerformanceTest.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestDirectoryProvider.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/AbstractTestDirectoryProvider.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/DoesNotSupportNonAsciiPaths.java
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestNameTestDirectoryProvider.java
  subprojects/jvm-services/src/integTest/groovy/org/gradle/jvm/toolchain/MavenToolchainsIntegrationTest.groovy
  subprojects/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetectorTest.groovy
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/TestWithCompiler.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProviderTest.kt
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/BuildEnvironmentIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/SupportedBuildJvmIntegrationTest.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/AbstractDaemonLifecycleSpec.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonLifecycleEncodingSpec.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonLifecycleSpec.groovy
  subprojects/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonSystemPropertiesIntegrationTest.groovy
  subprojects/logging/src/main/java/org/gradle/internal/logging/ConsoleRenderer.java
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/jdk7/Jdk7SymlinkTest.groovy
  subprojects/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/GenericFileSystemTest.groovy
  subprojects/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativePlatformSamplesIntegrationTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  subprojects/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/CommandLineToolVersionLocatorTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  subprojects/resources/src/test/groovy/org/gradle/internal/resource/transfer/UrlExternalResourceTest.groovy
  subprojects/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerSupportedBuildJvmIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/ToolingApiUnsupportedBuildJvmCrossVersionSpec.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/ProjectConfigurationChildrenProgressCrossVersionSpec.groovy
  subprojects/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/DistributionFactoryTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonEncodingIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersIntegrationTest.groovy
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/Install.java
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/PathAssembler.java
  subprojects/wrapper/src/crossVersionTest/groovy/org/gradle/integtests/wrapper/AbstractWrapperCrossVersionIntegrationTest.groovy
  subprojects/wrapper/src/crossVersionTest/groovy/org/gradle/integtests/wrapper/WrapperCrossVersionIntegrationTest.groovy
  subprojects/wrapper/src/crossVersionTest/groovy/org/gradle/integtests/wrapper/WrapperOldJavaCrossVersionIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperSupportedBuildJvmIntegrationTest.groovy
Labels: @execution

#25250 Deprecate client module dependencies
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ClientModule.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyFactoryInternal.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentMetadataRulesMissingMetadataIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultClientModule.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/ModuleFactoryDelegate.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/clientmodule/ClientModuleResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/DynamicVersionResolver.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/ResolvableSelectorState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/ClientModuleNotationParserFactory.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyStringNotationConverter.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/ComponentOverrideMetadata.java
  subprojects/dependency-management/src/main/java/org/gradle/internal/component/model/DefaultComponentOverrideMetadata.java
  subprojects/docs/src/docs/userguide/jvm/groovy_plugin.adoc
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/docs/src/snippets/tutorial/groovyWithFlatDir/groovy/build.gradle
  subprojects/docs/src/snippets/tutorial/groovyWithFlatDir/groovy/settings.gradle
  subprojects/docs/src/snippets/tutorial/groovyWithFlatDir/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/tutorial/groovyWithFlatDir/kotlin/settings.gradle.kts
  subprojects/docs/src/snippets/tutorial/groovyWithFlatDir/tests/groovyFileDependency.sample.conf
  subprojects/docs/src/snippets/webApplication/customized/groovy/build.gradle
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/compile-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/compile-transitive-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/otherLib-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/providedCompile-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/providedCompile-transitive-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/providedRuntime-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/lib/runtime-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/groovy/src/main/java/org/gradle/MyClass.java
  subprojects/docs/src/snippets/webApplication/customized/groovy/src/test/java/org/gradle/MyClassTest.java
  subprojects/docs/src/snippets/webApplication/customized/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/compile-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/compile-transitive-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/otherLib-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/providedCompile-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/providedCompile-transitive-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/providedRuntime-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/lib/runtime-1.0.jar
  subprojects/docs/src/snippets/webApplication/customized/kotlin/src/main/java/org/gradle/MyClass.java
  subprojects/docs/src/snippets/webApplication/customized/kotlin/src/test/java/org/gradle/MyClassTest.java
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/canCreateAndDeleteMetaData/expectedFiles/webservice/webservice.iml.xml
  subprojects/ide/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/canCreateAndDeleteMetaData/webservice/build.gradle
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensions.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ClientModuleDelegate.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyHandlerDelegate.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
  subprojects/samples/src/integTest/groovy/org/gradle/integtests/samples/SamplesWebProjectIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: build-script-change, 30 min review, platform:software, platform:release-coordination, platform:documentation, platform:ide, platform:kotlin-dsl

#25393 Upgrade gradle-profiler to 0.20.0-alpha03
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractBuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleBuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleInvocationSpec.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/MavenBuildExperimentRunner.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/GradleProfilerReporter.java
Labels: a:chore, @execution, in:performance-test

#25268 Update kts snippet: use `coerceAtLeast(1)` util function
  subprojects/docs/src/snippets/performance/parallelTestExecution/kotlin/build.gradle.kts
Labels: in:kotlin-dsl, a:documentation, from:contributor

#25432 Fix Java version in javadoc
  build-logic/jvm/src/main/kotlin/gradlebuild/jvm/extension/UnitTestAndCompileExtension.kt
Labels: in:building-gradle, a:documentation

#25433 Test Kotlin 1.9.0-RC
  gradle/dependency-management/kotlin-versions.properties
  subprojects/docs/src/docs/userguide/compatibility.adoc
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
Labels: in:kotlin-dsl, in:smoke-test

#25041 Replace state machine based plugins block parser by a combinator based parser
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Combinators.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/PluginsBlockInterpreter.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/CombinatorTest.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/PluginsBlockInterpreterTest.kt
Labels: in:kotlin-dsl

#25430 Fix build-cache-http project for configuration cache
  subprojects/build-cache-http/build.gradle.kts
  subprojects/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceErrorHandlingIntegrationTest.groovy
Labels: @execution, in:configuration-cache, in:build-cache

#25447 Incorporate a disabled reproducer for #25424
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
Labels: 1 min review, platform:software

#25446 Make JavaToolchainIntegrationTest tests fully compatible with CC
  subprojects/platform-jvm/build.gradle.kts
  subprojects/platform-jvm/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainIntegrationTest.groovy
Labels: 1 min review, build-script-change, platform:jvm

#25451 Minor wording improvements to upgrade notes
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
Labels: a:documentation, 1 min review, platform:documentation

#25443 docs: Update Gradle documentation for GRADLE_HOME path
  subprojects/docs/src/docs/userguide/installation.adoc
Labels: from:contributor

#25440 Move CI injection script versions to AbstractSmokeTest
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: in:build-scan

#25441 Unify kotlin compiler config for building Gradle and for the binary compatibility checks
  build-logic/basics/src/main/kotlin/gradlebuild/basics/kotlindsl/kotlin-compiler-configuration.kt
  build-logic/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.kotlin-library.gradle.kts
Labels: in:kotlin-dsl

#25395 Add validation of `java.net.URL` type as input
  subprojects/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputPropertyAnnotationHandler.java
  subprojects/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  subprojects/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  subprojects/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  subprojects/testing-jvm/build.gradle.kts
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TestInputAnnotationFailuresIntegrationTest.groovy
Labels: @execution, in:work-validation

#25284 Remove as much internal usage of ResolvedConfiguation as possible
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/ResolvedComponentResult.java
  subprojects/core/src/integTest/groovy/org/gradle/api/ParallelConfigurationFailureIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactDependenciesIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyUnresolvedModuleIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/LazyDownloadsIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvePOMIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvedFileOrderingIntegrationTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/ComponentSelectionRulesDependencyResolveIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/ComponentSelectionRulesProcessingIntegTest.groovy
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentReplacementIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/DefaultResolvedComponentResult.java
  subprojects/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/plugin-use/src/integTest/groovy/org/gradle/plugin/use/NonDeclarativePluginUseIntegrationSpec.groovy
  subprojects/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  subprojects/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  subprojects/scala/src/integTest/groovy/org/gradle/scala/compile/ZincScalaCompilerMultiVersionIntegrationTest.groovy
  subprojects/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r32/ResolutionExceptionSerializableCrossVersionSpec.groovy
Labels: 20 min review, platform:jvm, platform:software, platform:extensibility, platform:ide

#25463 Allow next-gen cache to use all threads concurrently
  subprojects/build-cache-http/src/main/java/org/gradle/caching/http/internal/DefaultHttpBuildCacheServiceFactory.java
  subprojects/build-cache/src/main/java/org/gradle/caching/internal/controller/DefaultNextGenBuildCacheAccess.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/DefaultHttpSettings.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpClientConfigurer.java
  subprojects/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpSettings.java
Labels: @execution

#25472 Allow unstable dependencies in Kotlin DSL buildscripts
  subprojects/docs/src/docs/release/notes.md
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/K2IntegrationTest.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinDslStandaloneScriptCompilationConfiguration.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: in:kotlin-dsl

#25473 Fix GE plugin background job integration test for load-after-store
  subprojects/enterprise/build.gradle.kts
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginBackgroundJobExecutorsIntegrationTest.groovy
Labels: @configuration-cache

#25255 Deprecate application of GE plugin 3.13 or earlier
  subprojects/docs/src/docs/userguide/migration/upgrading_version_8.adoc
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginCheckInIntegrationTest.groovy
  subprojects/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/core/BuildScanAutoApplyIntegrationTest.groovy
  subprojects/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginCheckInService.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessageBuilder.java
  subprojects/logging/src/main/java/org/gradle/internal/deprecation/DeprecationTimeline.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: in:build-scan

#25481 Merge release to master
  build-logic/basics/src/main/kotlin/gradlebuild/basics/kotlindsl/kotlin-dsl-upstream-candidates.kt
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/tasks/DetermineBaselines.kt
  build-logic/performance-testing/src/test/kotlin/gradlebuild/performance/tasks/DetermineBaselinesTest.kt
  build-logic/profiling/src/main/kotlin/gradlebuild.buildscan.gradle.kts
Labels: a:chore

#25476 Enable CC load-after-store testing in `:kotlin-dsl-plugins` and `:kotlin-dsl-integ-tests`
  subprojects/kotlin-dsl-integ-tests/build.gradle.kts
  subprojects/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/kotlin-dsl-plugins/build.gradle.kts
  subprojects/kotlin-dsl-plugins/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinCompilerWarningsTest.kt
Labels: in:kotlin-dsl

#25486 Re-attach property owners upon reading from the configuration cache
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanPropertyReader.kt
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/state/ModelObject.java
Labels: in:configuration-cache, @configuration-cache

#25438 Try fix file-watching project for cc
  subprojects/file-watching/build.gradle.kts
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/ChangesDuringTheBuildFileSystemWatchingIntegrationTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/LoggingFileSystemWatchingIntegrationTest.groovy
  subprojects/file-watching/src/integTest/groovy/org/gradle/internal/watch/WatchedDirectoriesFileSystemWatchingIntegrationTest.groovy
Labels: @execution, in:configuration-cache, in:virtual-file-system

#25489 Merge release to master
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
Labels: a:chore

#25485 Extract the WarPlugin to a new, separate JVM Platform project
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/jvm/ear/build.gradle.kts
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/EarTest.groovy
  platforms/jvm/war/build.gradle.kts
  platforms/jvm/war/src/integTest/groovy/org/gradle/api/plugins/WarPluginIntegrationTest.groovy
  platforms/jvm/war/src/integTest/groovy/org/gradle/api/tasks/bundling/WarTaskIntegrationTest.groovy
  platforms/jvm/war/src/main/java/org/gradle/api/internal/java/WebApplication.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPluginConvention.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/internal/DefaultWarPluginConvention.java
  platforms/jvm/war/src/main/java/org/gradle/api/tasks/bundling/War.java
  platforms/jvm/war/src/main/resources/META-INF/gradle-plugins/org.gradle.war.properties
  platforms/jvm/war/src/test/groovy/org/gradle/api/plugins/WarPluginTest.groovy
  platforms/jvm/war/src/test/groovy/org/gradle/api/tasks/bundling/WarTest.groovy
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-jvm/build.gradle.kts
  subprojects/ide/build.gradle.kts
  subprojects/integ-test/build.gradle.kts
  subprojects/ivy/build.gradle.kts
  subprojects/maven/build.gradle.kts
  subprojects/plugins/src/test/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
Labels: build-script-change, 10 min review, platform:jvm, platform:software, platform:build-infrastructure, platform:ide

#25499 Restore finalized file collections from the configuration cache
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ConfigurableFileCollectionCodec.kt
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
Labels: in:configuration-cache, @configuration-cache

#25496 Re-attach generated property owners upon reading from the cache
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  subprojects/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
Labels: in:configuration-cache, @configuration-cache

#25477 Report engine-level failures correctly
  subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestExecutionListener.java
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformIntegrationTest.groovy
Labels: a:bug, in:testing-junit5

#25502 Polish ConfigurableFileCollectionCodec
  subprojects/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ConfigurableFileCollectionCodec.kt
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
Labels: in:configuration-cache, @configuration-cache

#25500 Update to gradle-guides-plugin 0.22
  build-logic/build-platform/build.gradle.kts
  build-logic/settings.gradle.kts
  gradle/verification-metadata.xml
  settings.gradle.kts
Labels: 1 min review, build-script-change

#25437 Document new file permission API
  subprojects/core-api/src/main/java/org/gradle/api/file/ConfigurableFilePermissions.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FilePermissions.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileTreeElement.java
  subprojects/core-api/src/main/java/org/gradle/api/file/UserClassFilePermissions.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarCopyAction.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipCopyAction.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultFileCopyDetails.java
  subprojects/core/src/main/java/org/gradle/execution/plan/SingleFileTreeElementMatcher.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/PatternSetSnapshottingFilter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/archive/TarCopyActionSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/archive/ZipCopyActionTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/file/FileVisitorUtil.groovy
  subprojects/docs/src/docs/dsl/org.gradle.api.tasks.AbstractCopyTask.xml
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/authoring-builds/working_with_files.adoc
  subprojects/docs/src/snippets/files/copy/groovy/build.gradle
  subprojects/docs/src/snippets/files/copy/kotlin/build.gradle.kts
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileTreeElement.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFileTreeElement.java
  subprojects/file-collections/src/main/java/org/gradle/api/internal/file/UnauthorizedFileVisitDetails.java
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/AbstractFileTreeElementTest.groovy
  subprojects/file-collections/src/test/groovy/org/gradle/api/internal/file/DefaultFileTreeElementTest.groovy
  subprojects/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/DirectorySnapshotterAsDirectoryWalkerTest.groovy
Labels: in:kotlin-dsl, in:file-tasks

#25479 Fix instrumentation for properties that contain 'get' in the name
  subprojects/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  subprojects/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
Labels: in:provider-api, p:lazy-migration

#25522 Refactor zipslip
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/AbstractArchiveFileTreeElement.java
  subprojects/core/src/main/java/org/gradle/internal/resource/local/DefaultPathKeyFileStore.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/CacheResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/UnzipTransform.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/support/ZipTest.kt
  subprojects/wrapper-shared/src/integTest/groovy/org/gradle/integtests/PathTraversalCheckerIntegrationTest.groovy
  subprojects/wrapper-shared/src/integTest/groovy/org/gradle/integtests/TarSlipIntegrationTest.groovy
  subprojects/wrapper-shared/src/main/java/org/gradle/util/internal/PathTraversalChecker.java
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/Install.java
  subprojects/wrapper-shared/src/test/groovy/org/gradle/util/internal/PathTraversalCheckerTest.groovy
  subprojects/wrapper-shared/src/test/groovy/org/gradle/wrapper/InstallTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: a:chore

#25514 Update based on ownership spreadsheet
  .github/CODEOWNERS
Labels: 1 min review, platform:build-infrastructure

#25533 Remove individual build files from dev-prod ownership
  .github/CODEOWNERS
Labels: @dev-productivity

#25478 Enable load-after-store for docs tests
  subprojects/docs/build.gradle
  subprojects/docs/src/samples/build-organization/composite-builds/basic/tests/compositeRootProject.sample.conf
  subprojects/docs/src/samples/build-organization/composite-builds/declared-substitution/tests/withDeclaredSubstitution.sample.conf
  subprojects/docs/src/samples/build-organization/gradle-plugin/tests/check.sample.conf
  subprojects/docs/src/samples/groovy/library-publishing/tests/publishTask.sample.conf
  subprojects/docs/src/samples/java/library-publishing/tests/publishTask.sample.conf
  subprojects/docs/src/samples/spring-boot-web-application/tests/testTask.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/declaringDependencies-projectDependencies/tests/project-dependencies.sample.conf
  subprojects/docs/src/snippets/dependencyManagement/declaringDependencies-typeSafeProjectDependencies/tests/project-dependencies.sample.conf
  subprojects/docs/src/snippets/developingPlugins/customTask/tests/customTask.sample.conf
  subprojects/docs/src/snippets/developingPlugins/namedDomainObjectContainer/tests/namedDomainObjectContainer.sample.conf
  subprojects/docs/src/snippets/developingPlugins/pluginWithVariants/tests/localPublish.sample.conf
  subprojects/docs/src/snippets/ivy-publish/conditional-publishing/tests/publishingIvyConditionally.sample.conf
  subprojects/docs/src/snippets/ivy-publish/quickstart/tests/publishingIvyPublishLifecycle.sample.conf
  subprojects/docs/src/snippets/ivy-publish/quickstart/tests/publishingIvyPublishSingle.sample.conf
  subprojects/docs/src/snippets/java/crossCompilation/tests/java7CrossCompilation.sample.conf
  subprojects/docs/src/snippets/maven-publish/conditional-publishing/tests/publishingMavenConditionally.sample.conf
  subprojects/docs/src/snippets/maven-publish/quickstart/tests/publishingMavenPublishMinimal.sample.conf
  subprojects/docs/src/snippets/providers/listProperty/tests/listProperty.sample.conf
  subprojects/docs/src/snippets/providers/propertyConvention/groovy/build.gradle
  subprojects/docs/src/snippets/providers/propertyConvention/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/providers/propertyConvention/tests/propertyConvention.out
  subprojects/docs/src/snippets/signing/configurations/tests/signingRuntimeElementsOutput.sample.conf
  subprojects/docs/src/snippets/signing/maven-publish/tests/publishingMavenSignAndPublish.sample.conf
  subprojects/docs/src/snippets/signing/maven-publish/tests/signingPluginSignPublication.sample.conf
  subprojects/docs/src/snippets/tasks/addDependencyUsingClosure/tests/addDependencyUsingClosure.sample.conf
  subprojects/docs/src/snippets/tasks/customTaskWithProperty/tests/customTaskWithProperty.sample.conf
  subprojects/docs/src/snippets/tasks/shouldRunAfter/tests/shouldRunAfter.sample.conf
  subprojects/docs/src/snippets/testing/test-suite-plugin/tests/checkTaskOutput.sample.conf
  subprojects/docs/src/snippets/tutorial/defaultTasks/tests/defaultTasks.sample.conf
  subprojects/docs/src/snippets/tutorial/dynamicDepends/tests/dynamicDepends.sample.conf
Labels: in:configuration-cache

#25520 Update gradle-profiler to 0.20.0
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore, in:performance-test

#25518 Group opposite boolean task and build options together
  subprojects/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  subprojects/cli/src/main/java/org/gradle/cli/CommandLineParser.java
  subprojects/cli/src/test/groovy/org/gradle/cli/CommandLineParserTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/TaskOptionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskOptionsGenerator.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/options/BooleanOptionElement.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/options/OptionReaderTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/HelpTaskIntegrationTest.groovy
  subprojects/docs/src/docs/release/notes.md
  subprojects/docs/src/docs/userguide/extending-gradle/custom_tasks.adoc
  subprojects/docs/src/snippets/tasks/commandLineOption-optionValues/groovy/buildSrc/src/main/java/UrlProcess.java
  subprojects/docs/src/snippets/tasks/commandLineOption-optionValues/kotlin/buildSrc/src/main/java/UrlProcess.java
  subprojects/docs/src/snippets/tasks/commandLineOption-optionValues/tests/helpTaskOptions.out
  subprojects/docs/src/snippets/tasks/commandLineOption-optionValues/tests/sanityCheck.sample.conf
  subprojects/testing-jvm/src/integTest/groovy/org/gradle/testing/TaskBooleanOptionIntegrationTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: a:feature, in:console, in:writing-tasks

#25512 Fix configuration cache incompatibility in Java Gradle Plugin Plugin
  subprojects/docs/build.gradle
  subprojects/docs/src/docs/userguide/running-builds/configuration_cache.adoc
  subprojects/docs/src/snippets/configurationCache/sharedObjects/groovy/build.gradle
  subprojects/docs/src/snippets/configurationCache/sharedObjects/groovy/gradle.properties
  subprojects/docs/src/snippets/configurationCache/sharedObjects/kotlin/build.gradle.kts
  subprojects/docs/src/snippets/configurationCache/sharedObjects/kotlin/gradle.properties
  subprojects/docs/src/snippets/configurationCache/sharedObjects/tests/sharingObjectsWithConfigurationCache.out
  subprojects/docs/src/snippets/configurationCache/sharedObjects/tests/sharingObjectsWithConfigurationCache.sample.conf
  subprojects/docs/src/snippets/configurationCache/sharedObjects/tests/sharingObjectsWithoutConfigurationCache.out
  subprojects/docs/src/snippets/configurationCache/sharedObjects/tests/sharingObjectsWithoutConfigurationCache.sample.conf
  subprojects/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  subprojects/plugin-development/src/test/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginTest.groovy
Labels: @configuration-cache

#25528 Ensure that FQ class names aren't duplicated between jar files in the distribution
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
Labels: 1 min review, a:platformization

#25448 Refine comment for getProjectCacheDir() function
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
Labels: from:contributor

#25464 Partially fix workers project for cc
  subprojects/workers/build.gradle.kts
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerDaemonIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorErrorHandlingIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorNestingIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParallelIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersIntegrationTest.groovy
  subprojects/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorServicesIntegrationTest.groovy
  subprojects/workers/src/testFixtures/groovy/org/gradle/workers/fixtures/OptionsVerifier.groovy
Labels: in:workers, @execution, in:configuration-cache

#25564 Final touch on release notes for 8.2
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation

#25563 Final touch on release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:documentation

#25551 Link 'Lazy property assignment is now the default' blog post to release notes
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore, @execution

#25565 Refactor zipslip [7.x backport]
  subprojects/build-cache-packaging/src/main/java/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPacker.java
  subprojects/build-cache-packaging/src/test/groovy/org/gradle/caching/internal/packaging/impl/TarBuildCacheEntryPackerTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipFileTree.java
  subprojects/core/src/main/java/org/gradle/internal/resource/local/DefaultPathKeyFileStore.java
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/CacheResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/UnzipTransform.java
  subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/support/ZipTest.kt
  subprojects/wrapper-shared/src/integTest/groovy/org/gradle/integtests/PathTraversalCheckerIntegrationTest.groovy
  subprojects/wrapper-shared/src/integTest/groovy/org/gradle/integtests/TarSlipIntegrationTest.groovy
  subprojects/wrapper-shared/src/main/java/org/gradle/util/internal/PathTraversalChecker.java
  subprojects/wrapper-shared/src/main/java/org/gradle/wrapper/Install.java
  subprojects/wrapper-shared/src/test/groovy/org/gradle/util/internal/PathTraversalCheckerTest.groovy
  subprojects/wrapper-shared/src/test/groovy/org/gradle/wrapper/InstallTest.groovy
  subprojects/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: a:chore

#25577 Update wrapper to 7.6.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore
