Repository gradle/gradle, pull requests merged in 2024-12, with the labels that each got.

#31454 Fix libs.versions.toml filename typos
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
Labels: in:dependency-version-catalog, a:documentation, from:contributor

#30984 Add annotation processor doc to java library plugin
  platforms/documentation/docs/src/docs/userguide/jvm/java_library_plugin.adoc
Labels: in:java-plugins, a:documentation

#31461 Improve MethodsRemovedInInternalSuperClassRule
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/MethodsRemovedInInternalSuperClassRule.groovy
  build-logic/binary-compatibility/src/test/groovy/gradlebuild/binarycompatibility/rules/MethodsRemovedInInternalSuperClassRuleTest.groovy
Labels: a:chore, in:building-gradle, p:lazy-migration

#31464 document vfs watching limitations
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
Labels: a:documentation, from:contributor

#31472 Cleanup 8.11 documentation
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/getting_started_dev.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/logging.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part1_gradle_init_project.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part2_build_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part3_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part4_settings_file.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part5_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part6_writing_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part7_writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/overview/quick_start.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr2_build_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr3_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr4_settings_file.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr5_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr6_writing_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/partr7_writing_plugins.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/declared-substitution/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/hierarchical-multirepo/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/plugin-dev/README.adoc
  platforms/documentation/docs/src/samples/build-organization/gradle-plugin/README.adoc
  platforms/documentation/docs/src/samples/build-organization/multi-project-with-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/build-organization/publishing-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/build-organization/sharing-convention-plugins-with-build-logic/README.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/README.adoc
  platforms/documentation/docs/src/samples/credentials-handling/publishing-credentials/README.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/README.adoc
  platforms/documentation/docs/src/samples/ide/problems-api-usage/README.adoc
  platforms/documentation/docs/src/samples/incubating/build-organization/publishing-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-additional-test-types/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-standalone/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-standalone/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/modules-multi-project-with-integration-tests/README.adoc
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-additional-test-types/README.adoc
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-toolchains/README.adoc
  platforms/documentation/docs/src/samples/java/library-publishing/README.adoc
  platforms/documentation/docs/src/samples/java/modules-multi-project-with-integration-tests/README.adoc
  platforms/documentation/docs/src/samples/java/modules-multi-project/README.adoc
  platforms/documentation/docs/src/samples/java/modules-with-transform/README.adoc
  platforms/documentation/docs/src/samples/readme-templates/common-body.adoc.template
  platforms/documentation/docs/src/samples/readme-templates/multi-common-body.adoc.template
  platforms/documentation/docs/src/samples/spring-boot-web-application/README.adoc
  platforms/documentation/docs/src/snippets/plugins/simple/groovy/build.gradle
  platforms/documentation/docs/src/snippets/plugins/simple/groovy/sub-project-a/build.gradle
  platforms/documentation/docs/src/snippets/plugins/simple/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/simple/kotlin/sub-project-a/build.gradle.kts
Labels: a:documentation

#30892 upgrade scala/zinc to 1.10.4
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/scala/zincDependency/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/zincDependency/kotlin/build.gradle.kts
  platforms/jvm/scala/src/main/java/org/gradle/api/internal/tasks/scala/DaemonScalaCompiler.java
  platforms/jvm/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
  subprojects/distributions-dependencies/build.gradle.kts
Labels: in:scala-plugin, from:contributor

#30768 Improve ambiguous Artifact Transformation chain scenario handling
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/text/TreeFormatter.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/text/TreeFormatterTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformEdgeCasesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/DisambiguateArtifactTransformIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformChain.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChainSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChainsDisambiguator.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/package-info.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/matching/AttributeMatcher.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/matching/DefaultAttributeMatcher.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/AmbiguousArtifactTransformsFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/SourceVariantData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformationChainData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformedVariantConverter.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelectorSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactVariantSelectorTest.groovy
Labels: a:feature, in:dependency-resolution, in:artifact-transforms, re:comprehensibility

#31495 Reduce overhead of reading CC entry details
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
Labels: a:chore, in:configuration-cache

#31498 Delete evicted Configuration Cache entries from the cache
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheMultiEntriesPerKeyIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheEntryCollector.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheRepository.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/AbstractTimeJournalAwareCacheCleanup.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCleanupProgressMonitor.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/LeastRecentlyUsedCacheCleanup.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/UnconditionalCacheCleanup.java
Labels: a:feature, in:configuration-cache, has:release-notes-decision

#31032 Add hint for Android Studio users to keep Android Gradle Plugin updated
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/caching_android_projects.adoc
Labels: a:documentation, from:contributor

#31386 Deprecate TaskContainer.create: no nagging yet, limited to source level deprecation
  build-logic/performance-testing/src/test/kotlin/gradlebuild/performance/tasks/DetermineBaselinesTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTemplatesTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TaskContainerDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/TaskContainerDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensionsTest.kt
  platforms/documentation/docs/src/snippets/developingPlugins/conventionOverConfiguration/groovy/buildSrc/src/main/java/org/myorg/ServerPlugin.java
  platforms/documentation/docs/src/snippets/developingPlugins/conventionOverConfiguration/kotlin/buildSrc/src/main/java/org/myorg/ServerPlugin.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/xcode/plugins/XcodePlugin.java
  platforms/native/language-native/src/main/java/org/gradle/swiftpm/plugins/SwiftPackageManagerExportPlugin.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/plugins/NativeComponentModelPlugin.java
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/cunit/plugins/CUnitPlugin.java
  platforms/software/platform-base/src/main/java/org/gradle/api/internal/plugins/BuildConfigurationRule.java
  platforms/software/platform-base/src/main/java/org/gradle/language/base/internal/model/BinarySourceTransformations.java
  platforms/software/platform-base/src/main/java/org/gradle/language/base/internal/plugins/CleanRule.java
  platforms/software/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/TaskContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultAntBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainer.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: in:configuration-model, re:footguns-and-best-practices

#31518 Publish 8.12-20241204151502+0000
  released-versions.json
Labels: @dev-productivity

#31516 Prepare master for next version
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/StaleOutputHistoryLossIntegrationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/snippets/java/fixtures/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/java/fixtures/kotlin/lib/build.gradle.kts
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/ProblemThresholdCrossVersionTest.groovy
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  released-versions.json
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  version.txt
Labels: @dev-productivity

#31453 Implicitly cast ints to longs for Property types
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueSanitizers.java
Labels: a:bug, in:provider-api, p:lazy-migration

#31526 Cleanup 8.12 documentation
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/how-to/cross_project_publications.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/project_properties.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/cross_project_publications.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/project_properties.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_ant.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_maven.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-disableForConfiguration/groovy/build.gradle
Labels: a:documentation

#31527 Use task register in sample
  platforms/documentation/docs/src/snippets/java/fixtures/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/java/fixtures/kotlin/lib/build.gradle.kts
Labels: a:chore

#31522 Simplify tracking of `buildSrc` dirs
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheBuildSrcChangesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprint.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
Labels: a:chore

#31481 Problems API documentation improvements
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/samples/ide/problems-api-usage/README.adoc
  platforms/documentation/docs/src/samples/ide/problems-api-usage/groovy/sample-ide/build.gradle
  platforms/documentation/docs/src/samples/ide/problems-api-usage/kotlin/sample-ide/build.gradle.kts
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/standard-plugin/src/main/java/reporters/FailingTask.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/reporters/standard-plugin/src/main/java/reporters/StandardPlugin.java
  platforms/documentation/docs/src/samples/templates/problems-api-usage/sample-ide/src/main/java/org/gradle/sample/SampleIde.java
Labels: a:documentation, in:problems

#31547 Publish 8.12-20241206054019+0000
  released-versions.json
Labels: @dev-productivity

#31534 Move Kotlin DSL script compilation to the scripting host API
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyAssignmentIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/component/DefaultSoftwareComponentContainerIntegrationTest.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, in:kotlin-dsl

#31548 Fix graph cleanup when a module goes back to pending
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultProjectDependencyMetadata.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/gradle/VariantMetadataSpec.groovy
Labels: a:bug, in:dependency-resolution

#31378 Test Kotlin 2.1.0
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  gradle/dependency-management/kotlin-versions.properties
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioPerformanceTest.groovy
  testing/smoke-test/build.gradle.kts
Labels: a:chore, in:building-gradle

#31556 Metadata events are always reported as maps, to support grouping multiple related values in one event
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ClientForwardingTestMetadataOperationListener.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TestEventsFixture.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/test/TestMetadataEvent.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/test/internal/DefaultTestMetadataEvent.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalTestMetadataEvent.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestMetadataEvent.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/tasks/testing/TestMetadataEvent.java
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/TestEventReporterIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/LifecycleTrackingTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestEventReporter.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultTestMetadataEvent.java
Labels: in:testing

#31557 Publish 8.12-20241207012246+0000
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/ResolvedGraphDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultProjectDependencyMetadata.java
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/gradle/VariantMetadataSpec.groovy
Labels: @dev-productivity

#31514 Prevent deep recursion in collection properties implementations
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Collector.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Collectors.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapCollector.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapCollectors.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapSupplier.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CollectionPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjects.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjectsExtension.groovy
Labels: a:bug, in:provider-api

#31636 Do not load file-system watching libraries on macOS 11
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
Labels: a:chore, in:virtual-file-system

#31641 Publish 8.12-20241210012659+0000
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Collector.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Collectors.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapCollector.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapCollectors.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapSupplier.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CollectionPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjects.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjectsExtension.groovy
Labels: @dev-productivity

#31469 Update javadoc for ExternalModuleDependency
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ExternalModuleDependency.java
Labels: a:documentation, from:contributor

#30974 Upgrade BaseExecSpec
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/kotlindsl/kotlin-dsl-upstream-candidates.kt
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentService.kt
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ServeDocs.java
  build-logic/performance-testing/src/main/groovy/gradlebuild/performance/reporter/PerformanceReporter.groovy
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/tasks/BuildCommitDistribution.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheStandardStreamsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/fixtures/ExternalProcessFixture.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingBaseExecSpec.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/ProcessOutputValueSource.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/ProviderCompatibleBaseExecSpec.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/process/ProcessOutputValueSourceTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/process/ProviderCompatibleBaseExecSpecTestBase.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/process/ProviderCompatibleExecSpecTest.groovy
  platforms/documentation/docs/src/snippets/tasks/incrementalBuild-incrementalBuildAdvanced/groovy/buildSrc/src/main/java/org/example/GitClone.java
  platforms/documentation/docs/src/snippets/tasks/incrementalBuild-incrementalBuildAdvanced/kotlin/buildSrc/src/main/java/org/example/GitClone.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/internal/JavadocGenerator.java
  platforms/jvm/plugins-application/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginConfigurationIntegrationTest.groovy
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/DefaultCommandLineToolInvocationWorker.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/metadata/GccMetadataProvider.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/metadata/AbstractMetadataProvider.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/CommandLineToolVersionLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/xcode/AbstractLocator.java
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/DefaultCommandLineToolInvocationWorkerTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/metadata/GccMetadataProviderTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/metadata/CompilerMetaDataProviderFactoryTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/CommandLineToolVersionLocatorTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/swift/metadata/SwiftcMetadataProviderTest.groovy
  platforms/software/signing/src/main/java/org/gradle/security/internal/gnupg/GnupgSignatory.java
  subprojects/core-api/src/main/java/org/gradle/process/BaseExecSpec.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/Exec.java
  subprojects/core/src/main/java/org/gradle/process/internal/AbstractExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleSpec.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, in:api-evolution, p:lazy-migration

#31653 Minor: fix annotation for HttpBuildCache.getUrl
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
Labels: p:lazy-migration

#31651 remove duplicate copyright header, and unnecessary import
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.jvm-library.gradle.kts
Labels: in:building-gradle, from:contributor

#31670 Intercept bound method references when the receiver is a subtype
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/inputs/undeclared/MethodReferenceInstrumentationIntegrationTest.groovy
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/jvmbytecode/BridgeMethodBuilder.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/jvmbytecode/DefaultBridgeMethodBuilder.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGeneratorTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/InstrumentingClassTransform.java
Labels: p:lazy-migration

#31684 Add contributors to Gradle 8.12 release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore, a:documentation

#31688 Publish 8.12-rc-1
  released-versions.json
Labels: @dev-productivity

#31690 Update wrapper to Gradle 8.12 RC1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore

#31401 Add a new test report that supports arbitrary nesting
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/Path.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/util/PathTest.groovy
  platforms/documentation/docs/src/samples/writing-tasks/custom-test-task/common/plugin/src/main/java/com/example/CustomTest.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/LegacyTestReportGenerator.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/TestReport.java
  platforms/software/testing-base/build.gradle.kts
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/TestEventReporterHtmlReportIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultRootTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestEventReporterFactory.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/GenericTestReportGenerator.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestReportGenerator.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestMethodResult.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestResultSerializer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/ClassPageRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/HtmlTestReport.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/TestResult.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestReport.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericPageRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/PerRootTabRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/TestTreeModel.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/package-info.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/AggregateTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/HtmlTestReportGenerator.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableFailure.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableTestResult.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableTestResultStore.java
  platforms/software/testing-base/src/main/resources/org/gradle/api/internal/tasks/testing/report/generic/style.css
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/BuildableTestResultsProvider.groovy
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestExecutionResult.groovy
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/GenericTestExecutionResult.java
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/TestPathExecutionResult.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:testing, a:feature

#31491 Update task to sanity check links in release notes and samples + Cloudflare redirects
  build-logic/documentation/src/main/groovy/gradlebuild/docs/FindBrokenInternalLinks.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  build-logic/documentation/src/test/groovy/gradlebuild/docs/FindBrokenInternalLinksTest.groovy
  platforms/documentation/docs/src/docs/userguide/redirects/artifact_dependencies_tutorial.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/console.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/continuous_build.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/gradle_command_line.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/introduction.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/javaGradle_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/java_software.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/organizing_build_logic.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/resolution_strategy_tuning.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/standard_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/tutorial_gradle_command_line.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/tutorial_java_projects.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/wrapper_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/additional/continuous_builds.adoc
  platforms/documentation/docs/src/samples/android-application/README.adoc
  platforms/documentation/docs/src/samples/ide/problems-api-usage/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-standalone/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-standalone/README.adoc
  platforms/documentation/docs/src/samples/spring-boot-web-application/README.adoc
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildDocumentationConfigurationCacheSmokeTest.groovy
Labels: in:documentation-infrastructure

#31701 Store two CC entries per key in the `gradle/gradle` build
  gradle.properties
Labels: a:chore, in:building-gradle

#31635 Map and collection property unification
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectingSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  subprojects/core-api/src/main/java/org/gradle/api/internal/lambdas/SerializableLambdas.java
Labels: a:chore

#31775 Do not inject ObjectFactory to HttpBuildCache
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
Labels: a:regression, in:build-cache

#31244 Wrap build action model requests in build operations
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/VintageBuildTreeLifecycleControllerFactory.kt
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/BuildControllerFactory.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/BuildModelActionRunner.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/DefaultBuildController.java
  platforms/ide/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/DefaultBuildControllerTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/BuildActionModelFetchProgressEventsCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/FetchBuildAndProjectModels.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/FetchBuildEnvironment.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/FetchGradleBuild.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeModelController.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeModelTarget.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/DefaultBuildTreeModelCreator.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/ToolingModelScope.java
  subprojects/core/src/test/groovy/org/gradle/internal/buildtree/DefaultBuildTreeModelCreatorTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:tooling-api, in:build-operations, in:isolated-projects

#31780 Use a class instead of id for metadata tab of new report
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/PerRootTabRenderer.java
  platforms/software/testing-base/src/main/resources/org/gradle/api/internal/tasks/testing/report/generic/style.css
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestExecutionResult.groovy
Labels: a:bug

#31785 Instantiate SoftwareFeatureApplicator lazily
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObjectTest.groovy
Labels: a:performance-improvement, in:declarative-dsl

#31772 Documentation cleanup for 8.12
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/dependency_versions.adoc
  platforms/documentation/docs/src/docs/userguide/glossary.adoc
Labels: a:documentation

#31794 Fix broken link in documentation for DV docs and release notes
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/dependency_management.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/dynamic_versions.adoc
Labels: a:documentation

#31788 Extract versioned-cache subproject
  .teamcity/subprojects.json
  platforms/core-runtime/versioned-cache/build.gradle.kts
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/CacheVersionMapping.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/UnusedVersionsCacheCleanup.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/UsedGradleVersions.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/UsedGradleVersionsFromGradleUserHomeCaches.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/VersionSpecificCacheDirectory.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/VersionSpecificCacheDirectoryScanner.java
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/package-info.java
  platforms/core-runtime/versioned-cache/src/test/groovy/org/gradle/internal/versionedcache/CacheVersionMappingTest.groovy
  platforms/core-runtime/versioned-cache/src/test/groovy/org/gradle/internal/versionedcache/UnusedVersionsCacheCleanupTest.groovy
  platforms/core-runtime/versioned-cache/src/test/groovy/org/gradle/internal/versionedcache/UsedGradleVersionsFromGradleUserHomeCachesTest.groovy
  platforms/core-runtime/versioned-cache/src/test/groovy/org/gradle/internal/versionedcache/VersionSpecificCacheDirectoryScannerTest.groovy
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGradleUserHomeScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/CacheLayout.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCaches.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/WritableArtifactCacheLockingAccessCoordinator.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCacheLockingAccessCoordinatorTest.groovy
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/WrapperDistributionCleanupActionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/cache/internal/GradleUserHomeCleanupService.java
  subprojects/core/src/main/java/org/gradle/cache/internal/GradleUserHomeCleanupServices.java
  subprojects/core/src/main/java/org/gradle/cache/internal/VersionSpecificCacheCleanupAction.java
  subprojects/core/src/main/java/org/gradle/cache/internal/WrapperDistributionCleanupAction.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultClasspathTransformerCacheFactory.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/GradleUserHomeCleanupServiceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/WrapperDistributionCleanupActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: re:platformization

#31798 Publish 8.12-rc-2
  released-versions.json
Labels: @dev-productivity

#31799 Update wrapper to 8.12 RC2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#31782 Polish test report metadata
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/CustomTestTaskHTMLTestReportMetadataTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/MetadataRendererRegistry.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/PerRootTabRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializedMetadata.java
Labels: in:testing, a:feature

#31817 Fix Open Graph metadata on release notes for Gradle 8.12
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore, a:documentation

#31825 Make link to Gradle in reports HTTPS
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/TabbedPageRenderer.java
Labels: a:chore

#31822 Refactor report tabs to allow multiple levels
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/TabsRenderer.java
  platforms/core-runtime/report-rendering/src/test/groovy/org/gradle/reporting/TabsRendererTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericPageRenderer.java
  subprojects/core/src/main/resources/org/gradle/reporting/base-style.css
  subprojects/core/src/main/resources/org/gradle/reporting/report.js
Labels: a:feature

#31828 Fix compatibility check for Kotlin collections
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/KotlinSourceQueries.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/SinceAndIncubatingRulesKotlinTest.kt
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiTypeProvider.kt
Labels: in:kotlin-dsl

#31829 Update CC support for native
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration_cache.adoc
Labels: a:documentation

#31309 Replace custom ProjectIdentityPath with ProjectIdentity
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/BuildTreeConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheAwareBuildToolingModelController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheAwareProjectEvaluator.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ProjectIdentityPath.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/models/IntermediateModelController.kt
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectIdentity.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/ProjectScopedScriptResolution.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/ProjectFactoryTest.groovy
Labels: a:chore

#31821 Correct suggestion about printing stack traces for deprecation warning
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:bug, in:deprecation-logging

#31827 Support multiple roots sharing a name in new test report
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/TestEventReporterHtmlReportIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/GenericTestReportGenerator.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestReport.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericPageRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/PerRootTabRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/TestTreeModel.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableTestResultStore.java
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestExecutionResult.groovy
Labels: a:chore

#31814 Add upgrade guide entry for TaskContainer.create deprecation
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#31859 Publish 8.12
  released-versions.json
Labels: @dev-productivity
