Repository gradle/gradle, pull requests merged in 2024-04, with the labels that each got.

#28605 Move user input validation from daemon to client
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/InProcessUserInputHandlingExecutor.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientInputForwarder.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/protocol/DaemonMessageSerializer.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/client/DaemonClientInputForwarderTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/protocol/DaemonMessageSerializerTest.groovy
  platforms/core-runtime/logging/build.gradle.kts
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/AbstractUserInputRenderer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/DefaultUserInputReceiver.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/GlobalUserInputReceiver.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/UserInputConsoleRenderer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/UserInputReceiver.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/UserInputStandardOutputRenderer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/BooleanQuestionPromptEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/IntQuestionPromptEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/PromptOutputEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/SelectOptionPromptEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/TextQuestionPromptEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/events/YesNoQuestionPromptEvent.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/BooleanQuestionPromptEventSerializer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/IntQuestionPromptEventSerializer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/SelectOptionPromptEventSerializer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/TextQuestionPromptEventSerializer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/YesNoQuestionPromptEventSerializer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/serializer/package-info.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/services/LoggingServiceRegistry.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/sink/OutputEventRenderer.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/slf4j/OutputEventListenerBackedLoggerContext.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/console/UserInputConsoleRendererTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/console/UserInputStandardOutputRendererTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/events/BooleanQuestionPromptEventTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/events/IntQuestionPromptEventTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/events/SelectOptionPromptEventTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/events/YesNoQuestionPromptEventTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/sink/OutputEventRendererTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r43/CapturingUserInputCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r62/CapturingMultipleUserInputCrossVersionSpec.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/DefaultUserInputHandler.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/userinput/DefaultUserInputHandlerTest.groovy
Labels: in:console

#28582 Move services out of :persistent-cache
  gradle.properties
  platforms/core-execution/build-cache-base/build.gradle.kts
  platforms/core-execution/build-cache-local/build.gradle.kts
  platforms/core-execution/build-cache-packaging/build.gradle.kts
  platforms/core-execution/hashing/build.gradle.kts
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheBuilder.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultUnscopedCacheBuilderFactory.java
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheBuilderTest.groovy
  platforms/core-execution/snapshots/build.gradle.kts
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/jvm/scala/build.gradle.kts
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyHandlerApiResolveIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/DefaultFileOperations.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/AbstractArchiveFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/DecompressionCoordinator.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/DefaultDecompressionCoordinator.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipFileTree.java
  subprojects/core/src/main/java/org/gradle/cache/UnscopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/CacheVersionMapping.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultUnscopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/UnusedVersionsCacheCleanup.java
  subprojects/core/src/main/java/org/gradle/cache/internal/UsedGradleVersions.java
  subprojects/core/src/main/java/org/gradle/cache/internal/scopes/AbstractScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/scopes/DefaultBuildScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/scopes/DefaultBuildTreeScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/internal/scopes/DefaultCacheScopeMapping.java
  subprojects/core/src/main/java/org/gradle/cache/internal/scopes/DefaultGlobalScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/scopes/BuildScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/scopes/BuildTreeScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/scopes/GlobalScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/cache/scopes/ScopedCacheBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/BuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultFileOperationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/archive/AbstractArchiveFileTreeSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/archive/TarFileTreeTest.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/archive/ZipFileTreeTest.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/CacheVersionMappingTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/UnusedVersionsCacheCleanupTest.groovy
  subprojects/core/src/test/groovy/org/gradle/cache/internal/scopes/DefaultCacheScopeMappingTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/TestDecompressionCoordinators.java
Labels: a:chore, in:core-utilities

#28652 Let Kotlin DSL accessors generation skip empty jars
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/support/ClassBytesRepository.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/support/ClassBytesRepositoryTest.kt
Labels: in:kotlin-dsl

#28494 Add missing deprecation information to problem
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/DeprecatedUsageBuildOperationProgressIntegrationTest.groovy
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecatedFeatureUsage.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessage.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessageBuilder.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecatedFeatureUsageTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/extensibility/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/PluginManagementDslSpec.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemDefinition.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblemSpec.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemsProgressEventEmitterHolder.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/services/ProblemsBuildTreeServices.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultRepositoryHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  subprojects/core/src/main/java/org/gradle/api/services/internal/BuildServiceProviderNagger.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: platform:software, platform:ide, platform:build_infrastructure, platform:core_runtime

#28671 Re-introduce removed internal API BuildOperationExecutor.getCurrentOperation()
  platforms/core-runtime/base-services/src/integTest/groovy/org/gradle/internal/operations/BuildOperationExecutorIntegrationTest.groovy
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/operations/BuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationExecutor.java
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
Labels: in:build-operations

#28571 Introduce `CrossBuildSession` scope
  platforms/core-runtime/base-annotations/src/main/java/org/gradle/internal/service/scopes/Scope.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/code/UserCodeApplicationContext.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/operations/BuildOperationExecutor.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/resources/ResourceLockCoordinationService.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/WorkerLeaseService.java
  subprojects/core/src/main/java/org/gradle/api/internal/CollectionCallbackActionDecorator.java
  subprojects/core/src/main/java/org/gradle/configuration/internal/DynamicCallContextTracker.java
  subprojects/core/src/main/java/org/gradle/configuration/internal/ListenerBuildOperationDecorator.java
  subprojects/core/src/main/java/org/gradle/internal/operations/logging/LoggingBuildOperationProgressBroadcaster.java
  subprojects/core/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationBridge.java
  subprojects/core/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationListenerRegistrar.java
  subprojects/core/src/main/java/org/gradle/internal/operations/notify/BuildOperationNotificationValve.java
  subprojects/core/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  subprojects/core/src/main/java/org/gradle/internal/session/CrossBuildSessionState.java
  testing/architecture-test/src/changes/archunit_store/injected-services-should-have-service-scope-applied.txt
Labels: 5 min review, platform:core_runtime

#28580 Make task selection report problems
  subprojects/core/src/main/java/org/gradle/execution/DefaultTaskSelector.java
  subprojects/core/src/main/java/org/gradle/util/NameMatcher.java
  testing/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:feature, in:scheduler, @ide-experience

#28678 Add release notes for error and warning improvements in 8.8
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, 5 min review, platform:documentation

#28676 Remove the requirement that DependencyCollector getters are named after Configurations
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
Labels: platform:core_configuration

#28587 Adjust problems describing property validation
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/AbstractTypeAnnotationHandler.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/DefaultTypeMetadataStore.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/NestedValidationUtil.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/DefaultTypeAwareProblemBuilder.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblemRenderer.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/reflect/validation/DefaultTypeAwareProblemBuilderTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputFilePropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/ServiceReferencePropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/SnapshotTaskInputsOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskInputFilePropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/AbstractValidatingProperty.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/ValidationActions.java
  subprojects/core/src/main/java/org/gradle/execution/plan/MissingTaskDependencyDetector.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: platform:software, platform:core_execution, platform:core_configuration

#27200 Make plugin version optional in version catalogs
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/management/internal/DefaultPluginManagementSpec.java
  platforms/software/plugins-version-catalog/src/integTest/groovy/org/gradle/catalog/VersionCatalogPluginApplicationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginRequestCollector.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/catalog/parser/TomlCatalogFileParserTest.groovy
  subprojects/core/src/test/resources/org/gradle/api/internal/catalog/parser/plugin-notations.toml
Labels: in:dependency-version-catalog, from:contributor

#27906 Fix errorprone warnings
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/ToolingModelServices.java
  platforms/ide/ide/build.gradle.kts
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/SourceFoldersCreator.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/WtpClasspathAttributeSupport.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/idea/model/ModuleDependency.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/idea/model/ModuleLibrary.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleProjectBuilder.java
  platforms/ide/tooling-api-builders/build.gradle.kts
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionResultEvaluator.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingApiBuildEventListenerFactory.java
  platforms/ide/tooling-api/build.gradle.kts
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/test/Destination.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/ProtocolToModelAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/build/VersionOnlyBuildEnvironment.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/ConnectorServices.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultModelBuilder.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/ExceptionTransformer.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/InternalCancellationToken.java
Labels: platform:ide, build-script-change

#28674 Use only type hierarchy as an input to MergeInstrumentationAnalysisTransform
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathInstrumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/ExternalDependencyInstrumentingArtifactTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/InstrumentationAnalysisTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/InstrumentationDependencyAnalysis.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/MergeInstrumentationAnalysisTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/registration/InstrumentationTransformRegisterer.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/services/CacheInstrumentationDataBuildService.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/InstrumentationAnalysisSerializer.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/InstrumentationTransformUtils.java
Labels: in:instrumentation

#28691 Update to ASM 9.7
  build-logic-commons/build-platform/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classanalysis/AsmConstants.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore, 1 min review, platform:documentation, platform:release_coordination, build-script-change, platform:core_runtime

#28608 Deprecate more filtered methods
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ParallelDownloadsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvedArtifactOrderingIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvedConfigurationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolvedFilesApiIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/LenientConfiguration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolvedConfiguration.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleVersionsPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpringBootPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpringDependencyManagementPluginSmokeTest.groovy
Labels: platform:software, platform:documentation

#28708 fix section in release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28719 Restore providing convention for Wrapper.validateDistributionUrl
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  platforms/software/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
Labels: 1 min review, platform:software

#28686 Make change to TestDescriptor backwards compatible
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestOperationMapper.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalJvmTestDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/events/InternalTestDescriptor.java
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/execution/XCTestDescriptor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/AbstractTestDescriptor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DecoratingTestDescriptor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestDescriptor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/TestDescriptorInternal.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/UnknownTestDescriptor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestDescriptor.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultTestDescriptor.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: in:testing

#28650 Allow software types to be registered and declared
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromSoftwareTypes.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUsePluginServiceRegistry.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeImplementation.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistry.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/package-info.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistryTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/internal/plugins/software/SoftwareType.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/plugins/software/package-info.java
  subprojects/core/src/integTest/groovy/org/gradle/api/PluginDetectionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/PluginServiceInjectionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/ImperativeOnlyPluginTarget.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginInstantiator.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeImplementation.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeRegistry.java
Labels: in:plugin-development, 30 min review, platform:kotlin_dsl, build-script-change, platform:core_configuration, in:declarative-dsl

#28552 Add support for running Gradle on Java 22
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/documentation/src/test/groovy/gradlebuild/docs/model/SimpleClassMetaDataRepositoryTest.groovy
  gradle/verification-metadata.xml
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslRegressionsTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/K2IntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginIntegTest.kt
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AbstractSkipEmptyWorkStepTest.groovy
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docsTest/java/org/gradle/docs/samples/BaseSamplesTest.java
  platforms/documentation/docs/src/samples/android-application/groovy/app/build.gradle
  platforms/documentation/docs/src/samples/android-application/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/samples/groovy/library-publishing/groovy/my-library/build.gradle
  platforms/documentation/docs/src/samples/groovy/library-publishing/kotlin/my-library/build.gradle.kts
  platforms/documentation/docs/src/snippets/codeQuality/codeQuality/groovy/build.gradle
  platforms/documentation/docs/src/snippets/codeQuality/codeQuality/kotlin/build.gradle.kts
  platforms/documentation/samples/src/integTest/groovy/org/gradle/integtests/samples/SamplesCodeQualityIntegrationTest.groovy
  platforms/jvm/code-quality/build.gradle.kts
  platforms/jvm/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/PmdCoverage.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseIncrementalCompilationAfterFailureIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/BasicZincScalaCompilerIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/scaladoc/ScalaDocIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/AbstractJUnitTestExecutionIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/testFixtures/groovy/org/gradle/testing/fixture/MultiJvmTestCompatibility.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinGradlePluginInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionDynamicPomIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/util/internal/VersionNumberIntegrationTest.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  testing/internal-testing/src/main/groovy/org/gradle/test/preconditions/PluginTestPreconditions.groovy
  testing/internal-testing/src/main/groovy/org/gradle/test/preconditions/UnitTestPreconditions.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: a:feature, in:groovy-plugin, in:invoking-gradle, platform:jvm, platform:software, platform:documentation, platform:build_infrastructure, platform:kotlin_dsl, platform:core_execution, build-script-change, platform:core_configuration

#28703 Introduce internal service for max worker count lookups
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/concurrent/DefaultParallelismConfiguration.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/concurrent/DefaultWorkerLimits.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/concurrent/WorkerLimits.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueue.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueueFactory.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/AbstractWorkerLeaseServiceTest.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/DefaultConditionalExecutionQueueTest.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/DefaultWorkerLeaseServiceProjectLockTest.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/DefaultWorkerLeaseServiceTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/report/DefaultTestReportTest.groovy
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultPlanExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/session/CrossBuildSessionState.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectStateRegistryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultPlanExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/model/StateTransitionControllerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationExecutorParallelExecutionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationQueueTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/MaxWorkersTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/BuildOperationExecutorSupport.java
Labels: 20 min review, platform:software, platform:core_execution, platform:core_runtime

#28696 Upgrade dependency-analysis plugin to 1.31.0
  build-logic-commons/build-platform/build.gradle.kts
Labels: 1 min review, build-script-change

#28578 Add option to customize definition of upgraded methods
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/UpgradedAccessor.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/UpgradedProperty.java
  platforms/core-runtime/internal-instrumentation-processor/build.gradle.kts
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleLazyType.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleReferencedType.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/SignatureUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/TypeUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGeneratorTest.groovy
Labels: p:lazy-migration

#28688 Update convention plugin to 0.9.1 and remove workarounds
  .teamcity/src/main/kotlin/common/extensions.kt
  gradle/verification-metadata.xml
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Workarounds.kt
  settings.gradle.kts
Labels: a:chore

#28742 Update code owners following testing projects move
  .github/CODEOWNERS
Labels: a:chore

#28628 Add deprecation logging and support for binary compatibility to upgraded methods
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRulePostProcess.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRuleSetup.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperty.java
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/UpgradedPropertiesChangesTest.kt
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/UpgradedDeprecation.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/UpgradedProperty.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleReferencedType.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGeneratorTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
Labels: p:lazy-migration, in:instrumentation

#28740 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/K2IntegrationTest.kt
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
Labels: a:chore, in:building-gradle

#28754 Release note cleanup for Gradle 8.8
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28741 Upgrade embedded Kotlin from 1.9.22 to 1.9.23
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
Labels: in:kotlin-dsl

#28658 Move some classes out of model-core to base-asm and core-api project
  .teamcity/subprojects.json
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.instrumented-project.gradle.kts
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-runtime/base-asm/build.gradle.kts
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/AsmClassGenerator.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/AsmClassGeneratorUtils.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/BytecodeFragment.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/ClassGeneratorSuffixRegistry.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/ClassVisitorScope.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/MethodVisitorScope.java
  platforms/core-runtime/internal-instrumentation-processor/build.gradle.kts
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleReferencedType.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGeneratorTest.groovy
  settings.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/internal/provider/views/ListPropertyListView.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/provider/views/MapPropertyMapView.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/provider/views/SetPropertySetView.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/provider/views/package-info.java
  subprojects/core-api/src/test/groovy/org/gradle/api/internal/provider/views/AbstractHasMultiValuesPropertyCollectionViewTest.groovy
  subprojects/core-api/src/test/groovy/org/gradle/api/internal/provider/views/ListPropertyListViewTest.groovy
  subprojects/core-api/src/test/groovy/org/gradle/api/internal/provider/views/MapPropertyMapViewTest.groovy
  subprojects/core-api/src/test/groovy/org/gradle/api/internal/provider/views/SetPropertySetViewTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: p:lazy-migration, in:instrumentation

#28766 Update `kotlin-dsl` plugins version for Kotlin 1.9.23 embedded
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
Labels: a:chore

#28775 Update wrapper for embedded Kotlin 1.9.23
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#28778 Exclude JDK17+ from Kotlin toolchain test
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
Labels: 1 min review, platform:jvm

#28698 Increase validation problems test coverage
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskParametersIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/ValidationActions.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: platform:software, platform:core_configuration

#28780 fix doc formatting in version range section
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
Labels: a:documentation, from:contributor

#28746 Add CompositeCallInterceptor to compose interceptors for the same scope
  platforms/core-runtime/BYTECODE-INTERCEPTION-README.md
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/jvmbytecode/JvmBytecodeCallInterceptor.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/types/BytecodeInterceptorFilter.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/types/BytecodeInterceptorType.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/types/FilterableBytecodeInterceptor.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/types/FilterableBytecodeInterceptorFactory.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsResourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsResourceGeneratorTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGeneratorTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/CallInterceptingMetaClass.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/GroovyCallInterceptorsProvider.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/Instrumented.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/declarations/GroovyDynamicDispatchInterceptors.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/AbstractCallInterceptor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/CallInterceptor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/ClassBoundCallInterceptor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/CompositeCallInterceptor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/DefaultCallSiteDecorator.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/FilterableCallInterceptor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/InterceptScope.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/CompositeCallInterceptionTest.groovy
  subprojects/core/src/testInterceptors/java/org/gradle/internal/classpath/CompositeCallInterceptionTestInterceptorsDeclaration.java
  subprojects/core/src/testInterceptors/java/org/gradle/internal/classpath/CompositeInterceptorTestReceiver.java
Labels: p:lazy-migration, in:instrumentation

#28786 Merge release
  build-logic-commons/build-platform/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/dependency-management/agp-versions.properties
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/K2IntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScopeTest.kt
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/CommandLineIntegrationSpec.groovy
  platforms/core-runtime/logging/src/main/java/org/gradle/api/internal/DocumentationRegistry.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/Documentation.java
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  released-versions.json
  settings.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/model/ObjectFactoryNamedTypeIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedGradleEnterprisePlugin.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
  testing/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
  testing/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildScanIntegrationTest.kt
Labels: 20 min review, platform:jvm, platform:documentation, platform:kotlin_dsl, platform:core_execution, build-script-change, platform:core_runtime, platform:core_configuration

#28784 Add warning with quick fix for @NotYetImplemented annotation usage
  .idea/inspectionProfiles/Gradle.xml
Labels: 1 min review

#28787 Introduce :concurrent subproject
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CacheAccessSerializer.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/Synchronizer.java
  platforms/core-execution/worker-processes/build.gradle.kts
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/concurrent/build.gradle.kts
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/AbstractDelegatingExecutorService.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/AbstractManagedExecutor.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/AsyncStoppable.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/CompositeStoppable.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/DefaultExecutorFactory.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ExecutorFactory.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ExecutorPolicy.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/InterruptibleRunnable.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedExecutor.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedExecutorImpl.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedScheduledExecutor.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedScheduledExecutorImpl.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedThreadPoolExecutor.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ManagedThreadPoolExecutorImpl.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/Stoppable.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ThreadFactoryImpl.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/ThreadSafe.java
  platforms/core-runtime/concurrent/src/main/java/org/gradle/internal/concurrent/package-info.java
  platforms/core-runtime/concurrent/src/test/groovy/org/gradle/internal/concurrent/CompositeStoppableTest.groovy
  platforms/core-runtime/concurrent/src/test/groovy/org/gradle/internal/concurrent/DefaultExecutorFactoryTest.groovy
  platforms/core-runtime/logging/build.gradle.kts
  platforms/core-runtime/messaging/build.gradle.kts
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesInitializationTest.groovy
  platforms/core-runtime/process-services/build.gradle.kts
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/async/DefaultAsyncConsumerActionExecutor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/async/ServiceLifecycle.java
  platforms/ide/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/async/ServiceLifecycleTest.groovy
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/testing-jvm-infrastructure/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactory.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactoryTest.groovy
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/resources-sftp/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  platforms/software/version-control/build.gradle.kts
  settings.gradle.kts
  subprojects/build-events/build.gradle.kts
  subprojects/composite-builds/build.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/diagnostics/build.gradle.kts
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: in:core-utilities

#28730 Don't instrument TestKit classpath if not requested
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheTestKitIntegrationTest.groovy
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/DefaultInjectedClasspathPluginResolver.java
Labels: in:test-kit, in:instrumentation

#28790 Introduce :time subproject
  .teamcity/subprojects.json
  platforms/core-configuration/kotlin-dsl-tooling-builders/build.gradle.kts
  platforms/core-execution/build-cache-local/build.gradle.kts
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultFileLockManager.java
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/io/IOQuery.java
  platforms/core-runtime/build-profile/build.gradle.kts
  platforms/core-runtime/logging/build.gradle.kts
  platforms/core-runtime/time/build.gradle.kts
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/Clock.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/CountdownTimer.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/DefaultCountdownTimer.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/DefaultTimer.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/ExponentialBackoff.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/MonotonicClock.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/Time.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/TimeFormatting.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/TimeSource.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/Timer.java
  platforms/core-runtime/time/src/main/java/org/gradle/internal/time/package-info.java
  platforms/core-runtime/time/src/test/groovy/org/gradle/internal/time/DefaultTimerTest.groovy
  platforms/core-runtime/time/src/test/groovy/org/gradle/internal/time/MonotonicClockTest.groovy
  platforms/core-runtime/time/src/test/groovy/org/gradle/internal/time/TimeFormattingTest.groovy
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/internal/plugins/DefaultTemplateBasedStartScriptGenerator.java
  platforms/jvm/scala/build.gradle.kts
  platforms/jvm/testing-junit-platform/build.gradle.kts
  platforms/jvm/testing-jvm-infrastructure/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactory.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactoryTest.groovy
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/security/build.gradle.kts
  platforms/software/security/src/main/java/org/gradle/security/internal/PublicKeyDownloadService.java
  platforms/software/testing-base/build.gradle.kts
  settings.gradle.kts
  subprojects/composite-builds/build.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, in:core-utilities

#28769 Use Dependencies.project function for project dependencies
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/Dependencies.java
Labels: platform:core_configuration, in:declarative-dsl

#28793 Fix deprecation id performance issue
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/TextUtil.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationMessageBuilder.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
Labels: 1 min review, platform:core_runtime

#28788 Support typesafe project accessors in declarative DSL
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/DependencyCollectorFunctionExtractorAndRuntimeResolver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypeSafeProjectAccessorsSchemaBuildingComponent.kt
Labels: 10 min review, platform:core_configuration, in:declarative-dsl

#28808 Fix typo in maven local directory path
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part4_gradle_plugins.adoc
Labels: from:contributor

#28762 More renames from Gradle Enterprise -> Develocity
  .teamcity/src/main/kotlin/common/extensions.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheCompositeBuildsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheDevelocityPluginIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScopeTest.kt
  platforms/enterprise/enterprise-plugin-performance/build.gradle.kts
  platforms/enterprise/enterprise-plugin-performance/src/testFixtures/groovy/org/gradle/performance/AbstractBuildScanPluginPerformanceTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/BaseBuildScanPluginCheckInFixture.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginBuildOperationNotificationsIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginBuildStateIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginCheckInFixture.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginCheckInIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginConfigIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginConfigurationCachingIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginEndOfBuildCallbackIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginRequiredServicesIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginCheckInFixture.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/core/BuildScanAutoApplyIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/legacy/GradleEnterprisePluginLegacyContactPointFixture.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterpriseAutoAppliedPluginRegistry.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginAutoApplicationListener.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/AlreadyOnClasspathPluginResolver.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedDevelocityPlugin.java
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/package-info.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/internal/scan/config/fixtures/ApplyDevelocityPluginFixture.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/internal/scan/config/fixtures/ApplyDevelocityPluginFixtureTest.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/AndroidIncrementalExecutionPerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidBuildPerformanceTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: platform:build_infrastructure, platform:kotlin_dsl, platform:gradle_enterprise, build-script-change, platform:core_configuration

#28797 Add test for GitAttributesGenerator; add *.jar entry to generated .gitattributes
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/GitAttributesGenerator.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/GitAttributesGeneratorTest.groovy
Labels: in:build-init-plugin, from:contributor

#28641 More newbie-friendly documentation for the CodeNarc plugin regarding Groovy 3
  platforms/documentation/docs/src/docs/userguide/core-plugins/codenarc_plugin.adoc
  platforms/documentation/docs/src/snippets/codeQuality/codeQuality/groovy/build.gradle
  platforms/documentation/docs/src/snippets/codeQuality/codeQuality/kotlin/build.gradle.kts
Labels: a:documentation, from:contributor, ⚠️ Lacks Tests

#28801 application-plugin: Make the wrapper scripts REUSE compliant
  platforms/jvm/plugins-application/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
  platforms/jvm/plugins-application/src/main/resources/org/gradle/api/internal/plugins/windowsStartScript.txt
Labels: in:application-plugin, from:contributor

#28804 DefaultLocalComponentGraphResolveState.toString()
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentGraphResolveState.java
Labels: in:dependency-resolution, from:contributor, ⚠️ Lacks Tests

#28828 Update docs for Test Suites
  platforms/documentation/docs/src/docs/userguide/jvm/jvm_test_suite_plugin.adoc
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/groovy/build.gradle
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/tests/checkTaskOutput.out
  platforms/documentation/docs/src/snippets/testing/test-suite-version-catalogs/tests/checkTaskOutput.sample.conf
Labels: a:documentation, 5 min review, platform:documentation

#28765 Validate unscoped services without a scoped interface
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/AnnotatedServiceLifecycleHandler.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/ScopedServiceRegistryTest.groovy
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/DefaultListenerManager.java
Labels: platform:core_execution, platform:core_runtime

#28777 Expose listener manager service via an interface
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/DefaultListenerManager.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/ScopedListenerManager.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/PropertyValidationAccess.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BasicGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/BuildSessionScopeServices.java
Labels: 5 min review, platform:core_execution, platform:core_runtime

#28841 Remove PluginDependenciesSpecExtensions.develocity
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScopeTest.kt
  testing/architecture-test/src/changes/accepted-public-api-changes.json
  testing/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/BuildScanIntegrationTest.kt
Labels: 1 min review, platform:kotlin_dsl, platform:core_configuration

#28824 Fix artifact transforms performance tests
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/BaseInstrumentingArtifactTransform.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/mutator/ClearArtifactTransformCacheWithoutInstrumentedJarsMutator.groovy
  testing/internal-performance-testing/src/test/groovy/org/gradle/performance/mutator/ClearArtifactTransformCacheWithoutInstrumentedJarsMutatorTest.groovy
Labels: in:performance-test

#28814 Fix typo in writing_build_scripts doc
  platforms/documentation/docs/src/snippets/tutorial/configureObject/groovy/build.gradle
  platforms/documentation/docs/src/snippets/tutorial/configureObject/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/tutorial/configureObject/tests/configureObject.sample.conf
Labels: a:documentation, from:contributor, ⚠️ Lacks Tests

#28768 Extract CompileServices from Plugins
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/CompileServices.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/package-info.java
  platforms/jvm/language-java/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
Labels: 1 min review, platform:jvm, re:platformization, build-script-change

#28847 Update version used by some Scala tests
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaConcurrencyIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
Labels: a:chore, in:scala-plugin, 1 min review, platform:jvm

#28829 Mark VersionConstraint as not for implementation
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/VersionConstraint.java
Labels: 1 min review

#28738 Isolate `GradleLifecycle` actions via configuration cache serialization
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/extensions/MapExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/isolation/IsolatedActionSerializer.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Codec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Contexts.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/BaseTypes.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/GroovyCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/GroovyMetaClassCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ServicesCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/IsolatedActionCodecsFactory.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/isolation/IsolatedActionSerializerTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/api/IsolatedAction.java
  subprojects/core-api/src/main/java/org/gradle/api/invocation/GradleLifecycle.java
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleSupportedTypesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleUnsupportedTypesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/main/java/org/gradle/invocation/IsolatedProjectEvaluationListenerProvider.java
  subprojects/core/src/testFixtures/java/org/gradle/internal/isolation/IsolatedActionsForTesting.java
Labels: a:feature, in:isolated-projects, 30 min review

#28767 Fix cause for non-closed build operations
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/resources/DefaultResourceLockCoordinationService.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/resources/DefaultResourceLockCoordinationServiceTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/CancellationBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationsFixture.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ErrorsOnStdoutScrapingExecutionFailure.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ExecutionFailure.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/OutputScrapingExecutionFailure.java
Labels: platform:core_runtime

#28822 Use CalculatedValue infrastructure to obtain ValueSource's value
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/CalculatedValueContainerCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueSourceProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/model/CalculatedModelValue.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/model/CalculatedValue.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/model/CalculatedValueFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/model/ModelContainer.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/model/package-info.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/ValueSourceBasedSpec.groovy
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/Try.java
  platforms/core-runtime/functional/src/test/groovy/org/gradle/internal/TryTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolvableArtifact.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/PreResolvedResolvableArtifact.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ExternalModuleComponentResolverFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/RepositoryChainArtifactResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/RepositoryChainComponentMetaDataResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/UserResolverChain.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/catalog/LibrariesSourceGeneratorTest.groovy
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultBuildTreeLocalComponentProvider.java
  subprojects/core/src/main/java/org/gradle/internal/model/CalculatedValueContainer.java
  subprojects/core/src/main/java/org/gradle/internal/model/CalculatedValueContainerFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
Labels: a:bug

#28495 Add ephemeral CI caching performance test
  .teamcity/performance-tests-ci.json
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGeneratorConfiguration.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
Labels: from:contributor, ⚠️ Lacks Tests

#28861 Add minimal documentation for custom dependencies blocks
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleBuildDocumentationPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ServeDocs.java
  platforms/documentation/docs/README.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/custom_gradle_types.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/jvm_test_suite_plugin.adoc
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/common/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/common/buildSrc/src/main/java/com/example/ExampleDependencies.java
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/common/buildSrc/src/main/java/com/example/ExampleExtension.java
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/common/buildSrc/src/main/java/com/example/ExamplePlugin.java
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/common/buildSrc/src/main/resources/META-INF/gradle-plugins/com.example.custom-dependencies.properties
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/groovy/build.gradle
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/dependenciesBlock/tests/dependenciesBlock.sample.conf
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/Dependencies.java
Labels: 20 min review, platform:documentation

#28875 Introduce `GradleLifecycle#afterProject`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  subprojects/core-api/src/main/java/org/gradle/api/invocation/GradleLifecycle.java
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIsolationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/main/java/org/gradle/invocation/IsolatedProjectEvaluationListenerProvider.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:feature, in:isolated-projects, 5 min review

#28876 Move `IsolatedProject` to `org.gradle.api.project` package
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ProblemReportingCrossProjectModelAccess.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/project/IsolatedProject.java
  subprojects/core-api/src/main/java/org/gradle/api/project/package-info.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultIsolatedProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
Labels: a:chore, in:configuration-model, 1 min review

#28878 Fix broken javadoc
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/CleanupAction.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/PersistentCache.java
Labels: platform:documentation, platform:kotlin_dsl, platform:core_execution, build-script-change, platform:core_runtime, platform:core_configuration

#28880 Fix flaky JavaCrossCompilationIntegrationTest
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
Labels: platform:jvm, platform:documentation, platform:kotlin_dsl, build-script-change, platform:core_runtime, platform:core_configuration

#28556 Prefer dependencies without test sources attribute
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java
  platforms/ide/ide-plugins/src/test/groovy/org/gradle/plugins/ide/internal/tooling/eclipse/EclipseModelBuilderDependenciesTest.groovy
  platforms/ide/ide/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseTestConfigurationsWithProjectDependenciesIntegrationTest.groovy
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/Classpath.java
  platforms/ide/ide/src/test/groovy/org/gradle/plugins/ide/eclipse/model/ClasspathTest.groovy
Labels: in:eclipse-plugin, in:ide, from:contributor, :wave: team-triage

#28883 Add required `--add-opens` on perf tests using Develocity
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
Labels: a:chore, 1 min review

#28877 Make the other installation suppliers work for daemon toolchain detection too
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/BuildPropertiesConfigurator.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/UpdateDaemonJvmModifier.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/toolchain/ToolchainBuildOptions.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryServiceTest.groovy
  platforms/documentation/docs/src/docs/dsl/org.gradle.buildconfiguration.tasks.UpdateDaemonJvm.xml
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/build_environment.adoc
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJavaInstallationRegistry.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JavaInstallationRegistry.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationProblemReporter.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/AsdfInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/AutoDetectingInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainConfiguration.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/InstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/IntellijInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/JabbaInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/MavenToolchainsInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/SdkmanInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/ToolchainConfiguration.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/AsdfInstallationSupplierTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultToolchainConfigurationTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/IntellijInstallationSupplierTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/JabbaInstallationSupplierTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/SdkmanInstallationSupplierTest.groovy
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ProviderBackedToolchainConfiguration.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ToolchainsJvmServices.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJavaInstallationRegistryTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: 30 min review, platform:jvm, platform:documentation, platform:core_runtime

#28869 Correct wording in call to action when using init
  platforms/core-runtime/logging/src/main/java/org/gradle/api/internal/DocumentationRegistry.java
Labels: in:build-init-plugin, a:documentation, 1 min review, platform:core_runtime

#28848 Resolve a symlink Groovy JAR location in classpath (#28664)
  platforms/jvm/plugins-groovy/src/main/java/org/gradle/api/internal/plugins/GroovyJarFile.java
  platforms/jvm/plugins-groovy/src/test/groovy/org/gradle/api/internal/plugins/GroovyJarFileTest.groovy
Labels: in:groovy-plugin, from:contributor

#28905 Update wrapper to 8.9-20240417001901+0000
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: a:chore

#28903 Move `Settings.include` (single-arg) to `SettingsInternal`
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/SettingsInternal.java
Labels: in:declarative-dsl

#28919 gitStream: Align environment token var name
  .cm/summary_table_owners.cm
Labels: cm-changes

#28922 Increase heap size to 2700m
  gradle.properties
Labels: a:chore, in:building-gradle, 1 min review

#28624 Upgrade replaced by methods
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/NullabilityBreakingChangesRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRulePostProcess.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRuleSetup.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperty.java
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/UpgradedPropertiesChangesTest.kt
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.instrumented-project.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  platforms/core-runtime/BYTECODE-INTERCEPTION-README.md
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacedAccessor.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacedDeprecation.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacesEagerProperty.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/ConfigurationCacheInstrumentationProcessor.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGeneratorTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/AbstractCompile.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/CompileOptions.java
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/TestReport.java
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathInstrumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/ExternalDependencyInstrumentingArtifactTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/InstrumentationAnalysisTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/MergeInstrumentationAnalysisTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/services/CacheInstrumentationDataBuildService.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/CachedInstrumentationAnalysisSerializer.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/DefaultInstrumentationAnalysisSerializer.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/InstrumentationAnalysisSerializer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/DefaultInstrumentationTypeRegistryFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/DefaultInstrumentingDirectSuperTypesCollector.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/ExternalPluginsInstrumentationTypeRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/InstrumentationTypeRegistryFactory.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/InstrumentingDirectSuperTypesCollector.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/types/ExternalPluginsInstrumentationTypeRegistryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/types/InstrumentationTypeRegistryTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
Labels: in:instrumentation

#28926 Fix scripts sample in 'Sharing Build Logic docs'
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
Labels: a:documentation, from:contributor, 1 min review, in:tutorial

#28925 Correct User Guide to remove statement that Gradle automatically tests code in buildSrc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/organizing_gradle_projects.adoc
Labels: a:documentation, from:contributor, 1 min review

#28935 Make `GradleLifecycle` callbacks consistent between Groovy and Kotlin
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/util/internal/ConfigureUtil.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/util/ConfigureUtilTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIsolationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleSupportedTypesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
Labels: in:groovy-dsl, in:isolated-projects, 5 min review

#28937 gitStream - Remove broken summary action
  .cm/summary_table_owners.cm
Labels: cm-changes

#28834 Rename declarative file extension
  platforms/core-configuration/declarative-dsl-api/src/main/java/org/gradle/declarative/dsl/model/annotations/Restricted.java
  platforms/core-configuration/declarative-dsl-core/src/integTest/groovy/org/gradle/internal/declarativedsl/ErrorHandlingOnReflectiveCallsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDslProjectBuildFileIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/StoringInterpretationSchemaBuilder.kt
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/ScriptingLanguages.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-testing/src/main/groovy/org/gradle/test/fixtures/dsl/GradleDsl.groovy
Labels: in:declarative-dsl

#28651 Rewrite of other section in Gradle User Manual -> Authoring Gradle Builds
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/gradle_directories.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/authoring_maintainable_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/collections.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/custom_gradle_types.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/logging.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/ant.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/custom_gradle_types.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/dataflow_actions.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/logging.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/potential_traps.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/test_kit.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/build_services.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/img/prop-prov-1.png
  platforms/documentation/docs/src/docs/userguide/img/writing-tasks-7.png
  platforms/documentation/docs/src/docs/userguide/jvm/building_java_projects.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/jvm_test_suite_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_6.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_7.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/files/sampleJavaProject/groovy/build.gradle
  platforms/documentation/docs/src/snippets/files/sampleJavaProject/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/mutableManagedProperty/groovy/buildSrc/src/main/java/Download.java
  platforms/documentation/docs/src/snippets/providers/collections/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/collections/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/providers/collections/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/providers/collections/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/providers/collections/tests/collections.conf
  platforms/documentation/docs/src/snippets/providers/property/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/property/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/providers/property/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/providers/property/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/providers/property/tests/property.sample.conf
  platforms/documentation/docs/src/snippets/providers/property/tests/propertyGroovy.out
  platforms/documentation/docs/src/snippets/providers/property/tests/propertyKotlin.out
  platforms/documentation/docs/src/snippets/providers/services/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/services/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/providers/services/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/providers/services/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/providers/services/tests/services.out
  platforms/documentation/docs/src/snippets/providers/services/tests/services.sample.conf
Labels: a:documentation

#28941 Fix cross version tests
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
Labels: 1 min review

#28949 Use Gradle Enterprise in messages about deprecated plugins
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginCheckInIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/core/BuildScanAutoApplyIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/legacy/LegacyGradleEnterpriseCheckInConfigCachingIntegTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginCheckInService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/legacy/LegacyGradleEnterprisePluginCheckInService.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: 1 min review, platform:gradle_enterprise

#28958 Weekly documentation cleanup and Gradle 8.8 readiness
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ReleaseNotesTransformer.java
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#28945 Switch from `plugins { ... }` to software types in Declarative DSL
  platforms/core-configuration/declarative-dsl-core/src/integTest/groovy/org/gradle/internal/declarativedsl/ErrorHandlingOnReflectiveCallsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDslProjectBuildFileIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/InterpretationSequence.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DefaultInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/StoringInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/plugins/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectTopLevelReceiver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypeSafeProjectAccessorsSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServiceRegistry.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
Labels: 20 min review, in:declarative-dsl

#28942 Make sure script files are detected (and tested for) correctly
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/DefaultScriptFileResolver.java
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/ScriptFileUtil.java
  subprojects/core/src/integTest/groovy/org/gradle/api/UndefinedBuildExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/configuration/ScriptPluginFactorySelector.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSrcDetector.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildLayoutValidator.java
  subprojects/core/src/test/groovy/org/gradle/initialization/buildsrc/BuildSrcDetectorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/layout/BuildLayoutFactoryTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: 10 min review, in:declarative-dsl

#28934 Daemon toolchain renames
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesConfigurator.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesDefaults.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/UpdateDaemonJvmModifier.java
  platforms/core-runtime/build-configuration/src/main/resources/META-INF/services/org.gradle.configuration.project.ProjectConfigureAction
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/UpdateDaemonJvmModifierTest.groovy
  platforms/core-runtime/build-configuration/src/testFixtures/groovy/org/gradle/internal/buildconfiguration/fixture/DaemonJvmPropertiesFixture.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainCoexistWithCurrentOptionsIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainInvalidCriteriaIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/SingleUseDaemonIntegrationTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildEnvironmentConfigurationConverter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/converter/LayoutToPropertiesConverter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/configuration/AllProperties.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: in:daemon

#28957 Polish `GradleLifecycle` implementation
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/extensions/ExtraPropertiesExtensionExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/extensions/ProjectExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/extensions/ServiceRegistrationExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/snapshot/impl/SerializedLambdaQueries.java
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
  subprojects/core/src/main/java/org/gradle/invocation/IsolatedProjectEvaluationListenerProvider.java
Labels: a:chore, in:isolated-projects, 1 min review, 10 min review

#28972 Weekly documentation cleanup
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_settings_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/toolchains.adoc
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/groovy/build.gradle
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/groovy/buildSrc/src/main/java/org/myorg/SiteExtension.java
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/groovy/buildSrc/src/main/java/org/myorg/SiteInfo.java
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/kotlin/buildSrc/src/main/java/org/myorg/SiteExtension.java
  platforms/documentation/docs/src/snippets/developingPlugins/pluginExtension/kotlin/buildSrc/src/main/java/org/myorg/SiteInfo.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/Destroys.java
Labels: a:documentation

#28963 Fix type cycles stackoverflow in ExternalPluginsInstrumentationTypeRegistry
  subprojects/core/src/main/java/org/gradle/internal/classpath/types/ExternalPluginsInstrumentationTypeRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/types/ExternalPluginsInstrumentationTypeRegistryTest.groovy
Labels: a:bug, 5 min review, in:instrumentation

#28976 Finalize release notes and highlights
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28950 Update GE -> DV renaming in CODEOWNERS
  .github/CODEOWNERS
Labels: 1 min review

#28737 Update documentation about caching of unit tests
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/caching_android_projects.adoc
Labels: a:documentation, from:contributor, 1 min review, in:tutorial

#28908 cd -P in wrapper to handle being with non-terminal symlinks
  gradlew
  platforms/jvm/plugins-application/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
Labels: in:application-plugin, from:contributor, 1 min review, build-script-change

#28984 Update Gradle Wrapper to 8.8RC1
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#28967 Fix tests not setting up JPMS arguments for Gradle process
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/AbstractCrossVersionPerformanceTest.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AbstractCrossBuildPerformanceTestRunner.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/CrossVersionPerformanceTestRunner.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestJvmOptions.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaConfigurationCachePerformanceTest.groovy
Labels: 1 min review

#28886 clean up more errorprone exclusions
  build-logic/cleanup/build.gradle.kts
  build-logic/cleanup/src/main/java/gradlebuild/cleanup/services/KillLeakingJavaProcesses.java
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/BeanDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/DefaultTypeMetadataStore.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/GradleSerializedValueSnapshot.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/core/TypeCompatibilityModelProjectionSupport.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/manage/schema/extract/StructSchemaExtractionStrategySupport.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/DefaultModelRegistry.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/RuleBindings.java
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidationFinishedContext.java
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheCoordinator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultInMemoryCacheDecoratorFactory.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/FixedExclusiveModeCrossProcessCacheAccess.java
  platforms/core-execution/worker-processes/build.gradle.kts
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/workers/build.gradle.kts
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/TransformReplacer.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/VersionNumber.java
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/Combiners.java
  platforms/core-runtime/internal-instrumentation-processor/build.gradle.kts
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsGenerator.java
  platforms/core-runtime/logging/build.gradle.kts
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/sink/GroupingProgressLogEventGenerator.java
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/RunBuildDependenciesTaskBuilder.java
  platforms/native/testing-native/build.gradle.kts
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/plugins/CppUnitTestPlugin.java
  platforms/software/build-init/build.gradle.kts
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BasicBuildGenerator.java
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/reflect/TypeOf.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/initialization/GradlePropertiesController.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildExceptionReporter.java
  subprojects/core/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  subprojects/core/src/main/java/org/gradle/internal/work/AsyncWorkTracker.java
  subprojects/core/src/main/java/org/gradle/invocation/IsolatedProjectEvaluationListenerProvider.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaDebugOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/core/src/main/java/org/gradle/util/VersionNumber.java
  subprojects/diagnostics/build.gradle.kts
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ProjectReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/AggregateMultiProjectTaskReportModel.java
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/PluginAuthorServices.java
Labels: 10 min review, build-script-change

#28982 Do not depend on fastutil in :serialization
  platforms/core-runtime/serialization/build.gradle.kts
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassAnalysis.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/ClassSetAnalysisData.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/deps/IntSetSerializer.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: 1 min review, build-script-change, in:core-utilities

#28968 Use Failure for CC problems from the diagnosic
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheInjectedClasspathInstrumentationStrategy.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DecoratedPropertyProblem.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DefaultProblemFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/PropertyProblem.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Logging.kt
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/DefaultProblemDiagnosticsFactory.java
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/NoOpProblemDiagnosticsFactory.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/ProblemDiagnostics.java
Labels: 5 min review

#28988 Fix missing bullet list in 8.8 upgrade guide
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation, from:contributor, in:gradle-distribution

#28994 Fixed typo on implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
Labels: in:plugin-development, a:documentation, from:contributor, 1 min review

#28992 Update worker_api.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/worker_api.adoc
Labels: in:workers, a:documentation, from:contributor, 1 min review

#29001 Publish 8.8-20240430012016+0000
  released-versions.json
Labels: 1 min review
