Repository gradle/gradle, pull requests merged in 2024-07, with the labels that each got.

#29765 fix arguments for suiteThreadPoolSize option
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGParallelBySuitesIntegrationTest.groovy
Labels: in:testing, a:bug, in:testing-testng, from:contributor

#29691 General documentation cleanup for June - Part 3
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/img/java-main-configurations.png
  platforms/documentation/docs/src/docs/userguide/img/java-test-configurations.png
  platforms/documentation/docs/src/docs/userguide/jvm/java_plugin.adoc
Labels: a:documentation

#29781 fix arguments for suiteThreadPoolSize option
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGParallelBySuitesIntegrationTest.groovy
Labels: in:testing, a:bug, in:testing-testng

#29748 Improve javadoc on ModuleDependency
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/DependencyArtifact.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependency.java
Labels: a:documentation

#29684 Add java compiler compatibility fix agains module opens
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/JpmsConfiguration.java
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerJavaCompilationIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerConsoleInputEndUserIntegrationTest.groovy
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/DefaultGroovyJavaJointCompileSpecFactory.java
  platforms/jvm/language-groovy/src/test/groovy/org/gradle/api/internal/tasks/compile/DefaultGroovyJavaJointCompileSpecFactoryTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AbstractJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpecFactoryTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/JdkJavaCompilerTest.groovy
Labels: a:bug, in:test-kit

#29802 Documentation Cleanup - July - part 1
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
Labels: a:documentation

#29829 Documentation Cleanup - July - part 2
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
Labels: a:documentation

#29226 Upgrade JavaApplication properties
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/plugins/ApplicationPlugin.java
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/plugins/JavaApplication.java
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/plugins/internal/DefaultJavaApplication.java
  platforms/jvm/plugins-application/src/test/groovy/org/gradle/api/plugins/ApplicationPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:investigation, p:lazy-migration

#29822 Align Scope javadocs with architecture build state model
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/scopes/GradleModuleServices.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/service/scopes/Scope.java
Labels: a:chore, in:internal-services

#29837 Rename teardown method to cleanup
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/TransformBackedProviderTest.groovy
Labels: to-triage, from:contributor

#29680 Support adding empty blocks by mutations. Add property node when absent. Fix some other minor issues
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/data/DocumentDataContainers.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DefaultModelToDocumentMutationPlanner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DocumentMutation.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DocumentTextMutationPlanner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelMutation.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationAsTextRunner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/common/NewDocumentNodes.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/common/NodeRepresentationFlagsContainer.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/writing/CanonicalDocumentTextGenerator.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/writing/MutatedDocumentTextGenerator.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/Parser.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/CanonicalDocumentTextGeneratorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/MutatedDocumentTextGeneratorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DocumentTextMutationPlannerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelMutationSubtypingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelToDocumentMutationPlannerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationApplicabilityCheckerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationAsTextRunnerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ParseTestUtil.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradleCustomizationSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradlePropertyApiAnalysisSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/SupertypeTypeDiscovery.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/TypeDiscoveryFromRestrictedFunctions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypesafeProjectAccessorsComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/GeneralGradleDslSchemaTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/software/SoftwareTypesTest.kt
Labels: in:declarative-dsl

#29790 Add an explicit Settings scope
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileResolver.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/scopes/GradleModuleServices.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/service/scopes/Scope.java
  subprojects/core-api/src/main/java/org/gradle/api/file/BuildLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
Labels: a:chore, in:internal-services

#29842 Script-specific syntax highlighting of snippets in integration tests
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/action/AnnotationGeneratorWorkAction.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingApiParallelConfigurationIntegrationTest.groovy
  platforms/core-configuration/flow-services/src/integTest/groovy/org/gradle/internal/flow/services/FlowScopeIntegrationTest.groovy
  platforms/core-runtime/process-services/src/integTest/groovy/org/gradle/process/internal/health/memory/MemoryStatusUpdateIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/BuildLayoutIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIsolationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:feature, in:building-gradle

#29845 Polish ADR0006
  architecture/standards/0006-use-of-provider-apis-in-gradle.md
Labels: a:documentation

#29591 Move org.gradleinternal package under org.gradle
  platforms/software/build-init/build.gradle.kts
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/services/ProjectLayoutSetupRegistryFactory.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/Dependency.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/ExternalDependency.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/Maven2Gradle.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/Maven2GradleWorkAction.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/MavenConversionException.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/MavenProjectsCreator.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/PomProjectInitDescriptor.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/ProjectDependency.java
  platforms/software/build-init/src/main/java/org/gradle/unexported/buildinit/plugins/internal/maven/package-info.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/maven/MavenProjectsCreatorSpec.groovy
  subprojects/core/src/main/java/org/gradle/initialization/DefaultClassLoaderRegistry.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleApiSpecProvider.java
  subprojects/core/src/main/java/org/gradle/initialization/GradleApiSpecAggregator.java
  subprojects/core/src/main/java/org/gradle/initialization/GradleApiSpecProvider.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:build-init-plugin, a:chore, in:building-gradle

#29746 Avoid recomputing Dependencies Accessors identity on each request
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultDependenciesAccessors.java
Labels: in:project-accessors

#29849 Enable load-after-store in documentation platform
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docsTest/java/org/gradle/docs/samples/IntegrationTestSamplesExecutor.java
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-accessMetadataArtifact/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-accessMetadataArtifact/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-iterateArtifacts/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-iterateArtifacts/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-iterateDependencies/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/workingWithDependencies-iterateDependencies/kotlin/build.gradle.kts
  platforms/documentation/samples/build.gradle.kts
  platforms/documentation/samples/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesWorkingWithDependenciesIntegrationTest.groovy
  platforms/documentation/samples/src/integTest/groovy/org/gradle/integtests/samples/java/SamplesJavaTestingIntegrationTest.groovy
Labels: a:chore

#29874 Update wrapper for Kotlin 1.9.24
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: in:kotlin-dsl

#29858 Make all build-scoped model builders also usable as regular builders
  platforms/core-configuration/declarative-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/declarative/dsl/tooling/builders/r89/DeclarativeDslToolingModelsCrossVersionTest.groovy
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/DeclarativeSchemaModelBuilder.kt
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleBuildBuilder.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r18/GradleBuildModelCrossVersionSpec.groovy
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/BuildScopeModelBuilder.java
Labels: in:declarative-dsl

#29897 Polish `:configuration-cache`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ScopedFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/isolation/IsolatedActionSerializer.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassDecoder.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/CharSequenceExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/stdlib/CharSequenceExtensions.kt
Labels: a:chore, in:configuration-cache

#29898 Enable cc load-after-store coverage for `:scala`
  platforms/jvm/scala/build.gradle.kts
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaBasePluginIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
Labels: a:chore, in:configuration-cache

#29772 Improve test coverage for Declarative DSL parsing
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/AnalysisStatementFilter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/AnalyzedStatementUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/CodeAnalyzer.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/Resolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/data/DocumentDataContainerUtil.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTreeResult.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/FailureCollectorContext.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/LightTreeUtil.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/operations/overlay/DocumentOverlayTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/BasicParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/LiteralConstantParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ParseTestUtil.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/RejectedLanguageFeaturesParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/StringParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/stringParsingTestInput_emptyOrBlank.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/stringParsingTestInput_escapeChars.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/stringParsingTestInput_multiLine.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/stringParsingTestInput_templates.txt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/EvaluationFailureMessageGenerator.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/checks/DocumentCheck.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/runner/AnalysisStepRunner.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsBlocksCheck.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/UnsupportedSyntaxFeatureCheck.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/workarounds.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/settings/SettingsBlockCheckTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/settings/UnsupportedSyntaxFeatureCheckTest.kt
Labels: in:declarative-dsl

#29876 Fix some JavaDoc details
  subprojects/core-api/src/main/java/org/gradle/api/tasks/IgnoreEmptyDirectories.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/SkipWhenEmpty.java
Labels: a:documentation, in:writing-tasks, from:contributor

#29908 Fix some JavaDoc details
  subprojects/core-api/src/main/java/org/gradle/api/tasks/Optional.java
Labels: a:documentation, in:writing-tasks, from:contributor

#29436 Suppress unsupported with CC warnings when CC store doesn't happen
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheIncompatibleTasksIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheTaskExecutionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/InputTrackingState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/TaskExecutionAccessCheckers.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/EvaluationContext.java
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/stdlib/ThreadLocalDelegate.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/test/kotlin/org/gradle/internal/extensions/stdlib/ThreadLocalExtensionsTest.kt
Labels: a:bug

#29922 Write Declarative DSL grammar definition in BNF format
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar_test_input.txt
Labels: in:declarative-dsl

#29707 Add support for declaring software type conventions in non-declarative scripts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeConventionIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/conventions/SoftwareTypeRegistryIntegration.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/conventions/conventions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/conventions/DeclarativeSoftwareTypeConventionHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/software/SoftwareTypesTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorFragments.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/GradleType.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessorsTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/resources/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors-expected-output.txt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/PropertyVisitor.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeConventionApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeImplementation.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistry.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeAnnotationHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Conventions.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core/src/main/java/org/gradle/api/internal/SettingsInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionConvention.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionConventionHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultConventions.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/ConventionApplyingPluginTarget.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginManager.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginTarget.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettings.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/Convention.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeConventionApplicator.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeConventionHandler.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeImplementation.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeRegistry.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/DefaultPluginManagerTest.groovy
Labels: a:feature, in:plugin-development, in:kotlin-dsl, in:declarative-dsl

#29544 Fix javadoc for "resolvable" in JsonProjectDependencyRenderer
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/dependencies/internal/JsonProjectDependencyRenderer.java
Labels: in:reporting-tasks, from:contributor

#29942 Avoid extra empty lines before sections in init-generated sources
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildScriptBuilder.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/VersionCatalogGenerator.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderGroovyTest.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/BuildScriptBuilderKotlinTest.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/plugins/internal/VersionCatalogGeneratorTest.groovy
Labels: in:build-init-plugin

#29970 Update publishing plugin docs: include env vars.
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/publishing_gradle_plugins.adoc
Labels: a:documentation

#29950 Deduplicate strings stored in the configuration cache
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheEncryptionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheStringDeduplicationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheKey.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/PositionAwareEncoder.java
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/kryo/KryoBackedEncoder.java
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/kryo/StringDeduplicatingKryoBackedDecoder.java
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/kryo/StringDeduplicatingKryoBackedEncoder.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:configuration-cache, a:performance-improvement

#29976 Remove `test-disable-load-after-store` flag
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeStructureIntegrationTest.groovy
  subprojects/build-events/src/integTest/groovy/org/gradle/build/event/BuildEventsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ConfigurationCacheGradleExecuter.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/IsolatedProjectsGradleExecuter.groovy
Labels: a:chore, in:configuration-cache

#29981 Revert "Resolve a number of bugs resulting in corrupt dependency graphs"
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesRulesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultCapabilitiesResolution.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DefaultPendingDependenciesVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/IncompatibleDependencyAttributesMessageBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PendingDependencies.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PendingDependenciesVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/RejectedModuleMessageBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolutionConflictTracker.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/ConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultConflictHandler.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandlerTest.groovy
  platforms/software/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/AbstractModuleDependencyResolveTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenFileModule.groovy
Labels: a:chore, in:building-gradle

#29984 Reduce configuration cache boxing overhead
  platforms/core-configuration/core-serialization-codecs/build.gradle.kts
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/WorkNodeCodec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Combinators.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Identities.kt
  platforms/core-runtime/serialization/build.gradle.kts
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/kryo/StringDeduplicatingKryoBackedEncoder.java
Labels: in:configuration-cache, a:performance-improvement

#29980 Upgradlew to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle

#29993 Add gradleception test coverage for `:docs:embeddedCrossVersionTest`
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildDocumentationConfigurationCacheSmokeTest.groovy
Labels: a:chore, in:building-gradle

#29911 Introduce `MutableStateAccessAwareProject`
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ProblemReportingCrossProjectModelAccess.kt
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
Labels: a:bug, in:isolated-projects

#29988 Cleanup DefaultCachedClasspathTransformer of instrumentation logic
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/AbstractInjectedClasspathInstrumentationStrategy.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheInjectedClasspathInstrumentationStrategy.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/VintageInjectedClasspathInstrumentationStrategy.kt
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DefaultWorkerExecutor.java
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorParallelTest.groovy
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorTest.groovy
  platforms/core-runtime/daemon-services/src/main/java/org/gradle/internal/daemon/serialization/DaemonSidePayloadClassLoaderFactory.java
  platforms/core-runtime/daemon-services/src/test/groovy/org/gradle/internal/daemon/serialization/DaemonSidePayloadClassLoaderFactoryTest.groovy
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/DefaultInjectedClasspathPluginResolver.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/InjectedClasspathInstrumentationStrategy.java
  platforms/jvm/scala/src/main/java/org/gradle/language/scala/tasks/AbstractScalaCompile.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/CachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/CustomClasspathFileTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore, in:instrumentation

#30007 Add javadoc for PrivateService annotation effects
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistrationProvider.java
Labels: a:chore, in:building-gradle

#29990 Documentation Cleanup - July - part 3
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/tutorial_using_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/controlling_task_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
Labels: a:documentation

#29731 Deferred root build Gradle services
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/BuildTreeConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/metadata/ProjectMetadataController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/models/BuildTreeModelSideEffectStore.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/models/IntermediateModelController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/DeferredRootBuildGradle.kt
Labels: a:chore, in:configuration-cache

#29915 Introduce `LifecycleAwareProject`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ProblemReportingCrossProjectModelAccess.kt
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/typesafe/TypeSafeProjectAccessorsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/LifecycleAwareProjectIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultCrossProjectModelAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/HasPropertyMissingDynamicObject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/LifecycleAwareProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
Labels: a:chore, in:isolated-projects

#29601 Avoid failure with IP when phased action involves local dependency resolution
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingModelsWithDependencyResolutionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
Labels: in:isolated-projects

#29953 Update Dokka & Dokkatoo versions
  build-logic-commons/build-platform/build.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/build.gradle
Labels: in:documentation-infrastructure, in:kotlin-dsl

#30016 Add keyword to an article
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
Labels: a:documentation

#30011 Update tested Kotlin versions
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateKotlinVersions.kt
  build-logic/build-update-utils/src/test/groovy/gradlebuild/buildutils/tasks/UpdateKotlinVersionsTest.groovy
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: a:chore

#29704 Filter out JREs when looking for compiler/javadoc in toolchains
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryService.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JavaInstallationCapability.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadata.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadataComparator.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataComparatorTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/toolchains-jvm-shared/build.gradle.kts
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataMatcher.java
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectory.java
  platforms/jvm/toolchains-jvm-shared/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataMatcherTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/test/groovy/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectoryTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk-with-symlinks.tar.gz
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk.tar.gz
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk.zip
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJavaToolchainService.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmMetadataWithAddedCapabilities.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ToolchainReportRendererTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ToolchainReportRenderer.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
Labels: a:bug, in:toolchains

#30021 Adjust format Declarative DSL grammar based on discussions
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
Labels: in:declarative-dsl

#29016 Java 23 support
  .teamcity/jdks.yaml
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/core-runtime/stdlib-java-extensions/src/test/groovy/org/gradle/api/JavaVersionSpec.groovy
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/groovy/my-library/build.gradle
  platforms/documentation/docs/src/samples/groovy/library-publishing/kotlin/my-library/build.gradle.kts
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/kotlin/build.gradle.kts
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  platforms/jvm/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/PmdCoverage.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseIncrementalCompilationAfterFailureIntegrationTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/external/javadoc/StandardJavadocDocletOptionsTest.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionDynamicPomIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentedGroovyMetaClassHelper.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/declarations/GroovyDynamicDispatchInterceptors.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/DefaultCallSiteDecorator.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/keystore/TestKeyStore.groovy
  testing/internal-testing/src/main/groovy/org/gradle/util/Matchers.java
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: a:feature, in:java-plugins

#29861 Deprecate extending a configuration in another project
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ExtendingConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
Labels: a:chore, in:configuration-model

#29292 Introduce execution time value for `UnionFileCollection`
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/UnionFileCollection.java
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/EmptyExecutionTimeValueFileCollection.groovy
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/UnionFileCollectionExecutionTimeValueTest.groovy
Labels: a:chore, in:configuration-cache

#29267 Fix some more IP problems in Gradle build
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildEnvironment.kt
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild.build-environment.settings.gradle.kts
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentExtension.kt
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentService.kt
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleReleaseNotesPlugin.java
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  build-logic/publishing/src/main/kotlin/gradlebuild.publish-defaults.gradle.kts
  platforms/documentation/docs/build.gradle
  subprojects/distributions-full/build.gradle.kts
  testing/internal-integ-testing/build.gradle.kts
Labels: a:chore, in:isolated-projects

#30018 Restore original `Proxy` classloader whenever possible
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProxyIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassDecoder.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassEncoder.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
  platforms/core-configuration/stdlib-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/stdlib/ProxyCodec.kt
Labels: a:bug, in:configuration-cache

#28931 Allow to define vendor for the Daemon JVM criteria
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/Jvm.java
  platforms/core-runtime/build-configuration/build.gradle.kts
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/UpdateDaemonJvmModifier.java
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/UpdateDaemonJvmModifierTest.groovy
  platforms/core-runtime/build-configuration/src/testFixtures/groovy/org/gradle/internal/buildconfiguration/fixture/DaemonJvmPropertiesFixture.groovy
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryService.java
  platforms/core-runtime/client-services/src/test/groovy/org/gradle/launcher/daemon/client/DefaultDaemonConnectorTest.groovy
  platforms/core-runtime/client-services/src/test/groovy/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryServiceTest.groovy
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/context/DaemonContext.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/context/DefaultDaemonContext.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJvmCriteria.java
  platforms/core-runtime/daemon-protocol/src/test/groovy/org/gradle/launcher/daemon/registry/DaemonRegistryServicesTest.groovy
  platforms/core-runtime/daemon-protocol/src/test/groovy/org/gradle/launcher/daemon/registry/PersistentDaemonRegistryTest.groovy
  platforms/core-runtime/gradle-cli/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/CommandLineOutputIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainInvalidCriteriaIntegrationTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/protocol/DaemonStatusAndErrorReportingTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonRegistryUnavailableExpirationStrategyTest.groovy
  platforms/documentation/docs/src/docs/dsl/org.gradle.buildconfiguration.tasks.UpdateDaemonJvm.xml
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  platforms/documentation/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithCC.out
  platforms/documentation/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithoutCC.out
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerRetryTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/CrossVersionToolingApiSpecificationRetryTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiKotlinIntegrationTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpec.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-properties-should-not-have-migration-annotation.txt
  testing/architecture-test/src/changes/archunit-store/stored.rules
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ProviderMigrationArchitectureTest.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParser.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/FakeDaemonLog.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParserTest.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/daemon/FakeDaemonLogTest.groovy
Labels: in:daemon, from:contributor

#29995 Gradle doesn't recognise inherited OpenTest4J FileInfo in test assertion exception
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r810/TestFailureProgressEventCrossVersionTest.groovy
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/failure/mappers/OpenTestAssertionFailedMapper.java
  platforms/jvm/testing-jvm-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/failure/mappers/OpenTestAssertionFailedMapperTest.groovy
Labels: from:contributor

#30042 Handle incompatible and failing mutations
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationApplicabilityChecker.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationAsTextRunner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationDefinition.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationApplicabilityCheckerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationAsTextRunnerTest.kt
Labels: in:declarative-dsl

#30058 `.gradle` is not usually checked into source control (`gradle` is)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/gradle_directories.adoc
Labels: a:documentation, from:contributor, in:tutorial

#30063 Merge release to master
  platforms/core-runtime/build-configuration/src/testFixtures/groovy/org/gradle/internal/buildconfiguration/fixture/DaemonJvmPropertiesFixture.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/SupportedBuildJvmVersionIntegrationTest.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:chore

#30057 Move the `libs.version.toml` under `gradle` where it is usually expected to be
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
Labels: a:documentation, from:contributor, in:tutorial

#30068 Clarify the confusing difference between `.gradle` and `gradle`
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/gradle_directories.adoc
Labels: a:documentation, from:contributor, in:build-environment
