Repository gradle/gradle, pull requests merged in 2024-10, with the labels that each got.

#30333 Deprecate `Javadoc.isVerbose`/`setVerbose`
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/tasks/javadoc/JavadocTest.groovy
Labels: a:chore, in:javadoc-task

#30525 Update Working with Dependencies -> Declaring Repositories Section
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/declaring_repositories.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/centralizing_repositories.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/declaring_repositories_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/filtering_repository_content.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/supported_metadata_formats.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/supported_repository_protocols.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/supported_repository_types.adoc
  platforms/documentation/docs/src/docs/userguide/img/dependency-management-shortcut-repositories.png
  platforms/documentation/docs/src/docs/userguide/jvm/dependency_management_for_java_projects.adoc
  platforms/documentation/docs/src/docs/userguide/native/building_swift_projects.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/groovy/buildSrc/src/main/groovy/myproject.java-library-conventions.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/kotlin/buildSrc/src/main/kotlin/myproject.java-library-conventions.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-changingVersion/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-changingVersion/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/multiProjectBuild/groovy/build.gradle
  platforms/documentation/docs/src/snippets/kotlinDsl/multiProjectBuild/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/customPlugin/groovy/java-gradle-plugin/build.gradle
  platforms/documentation/docs/src/snippets/plugins/customPlugin/kotlin/java-gradle-plugin/build.gradle.kts
Labels: a:documentation

#30750 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#30651 Introduce lightweight types for storing artifact transformation chain data in resolution failures
  platforms/core-runtime/build-operations-trace/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/Transform.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/AmbiguousArtifactTransformsFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/SourceVariantData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformationChainData.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformedVariantConverter.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/package-info.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/type/AmbiguousArtifactTransformsFailure.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultArtifactVariantSelectorFactoryTest.groovy
  platforms/software/dependency-management/src/testFixtures/groovy/org/gradle/api/internal/artifacts/DependencyManagementTestUtil.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactoryTest.groovy
Labels: a:chore

#30760 Fix type used in ResolutionFailureData cross-version test
  platforms/software/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/api/problems/internal/ResolutionFailureDataCrossVersionIntegrationTest.groovy
Labels: a:chore

#30218 Update Working with Dependencies -> Enhance new Tutorial
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/core_dependency_management.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/viewing_debugging_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/component_metadata_rules.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_constraints_conflicts.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/variant_aware_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/declaring_repositories_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/supported_repository_types.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/getting_started_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-1.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-2.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-3.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-4.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-5.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-6.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-7.png
  platforms/documentation/docs/src/docs/userguide/img/dep-man-basics-8.png
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_maven.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/groovy/producer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/kotlin/producer/build.gradle.kts
Labels: a:documentation

#30724 Compare EAP branch to latest release
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/BinaryCompatibilityHelper.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/SinceAnnotationMissingRule.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/SinceAnnotationMissingRuleCurrentGradleVersionSetup.java
  build-logic/binary-compatibility/src/test/groovy/gradlebuild/binarycompatibility/PublicAPIRulesTest.groovy
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, p:lazy-migration

#30535 Initial support for DCL element factories in Kotlin DSL
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.publish-defaults.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/ContainersSchemaComponentTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslContainerElementFactoryIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslDclSchemaCache.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslDclSchemaCollector.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslProviderServices.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/test/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultProjectSchemaProviderTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorFragments.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/runtime/Runtime.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompilerOptions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinDslOptions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessorsTest.kt
Labels: in:kotlin-dsl, in:declarative-dsl

#30764 Fix some grammar in docs
  platforms/documentation/docs/src/docs/userguide/native/building_cpp_projects.adoc
Labels: in:native-platform, a:documentation, from:contributor

#30770 Auto accept binary compatibility changes for property upgrades for interfaces
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/UpgradedPropertiesChangesTest.kt
Labels: a:chore, p:lazy-migration

#30756 Support SyncSpec in Action in FileSystemOperations.sync()
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/DefaultFileSystemOperations.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileSystemOperations.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultFileSystemOperationsTest.groovy
Labels: in:file-tasks, from:contributor

#30529 Update Working with Dependencies -> Centralizing Dependencies Section
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/programmatic_dependency_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/platforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_constraints_conflicts.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/centralizing_catalog_platform.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/platforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_7.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/groovy/consumer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/groovy/platform/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/kotlin/platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/tests/sanityCheck.sample.conf
Labels: a:documentation

#30744 Introduce EffectiveJavaForkOptions
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DaemonForkOptions.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DaemonForkOptionsBuilder.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonExpiration.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonStarter.java
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorTest.groovy
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonExpirationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginToolchainsIntegrationTest.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/DaemonGroovyCompilerIntegrationTest.groovy
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/daemon/ClassloaderIsolatedCompilerWorkerExecutor.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/daemon/ProcessIsolatedCompilerWorkerExecutor.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/daemon/DaemonJavaCompilerIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ZincScalaCompilerIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  subprojects/core/src/main/java/org/gradle/api/internal/model/InstantiatorBackedObjectFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultProcessForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/EffectiveJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaForkOptionsInternal.java
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/util/DefaultJavaForkOptionsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/EffectiveJavaForkOptionsTest.groovy
Labels: a:chore

#30762 Identity keys in DCL configuring functions and NDOCs
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultAnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/FunctionCallResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/resolution.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/DocumentResolution.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/ResolutionFailureReasons.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/operations/overlay/DocumentOverlay.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DefaultDocumentResolutionContainer.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/serialization/SchemaSerialization.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/operations/overlay/DocumentOverlayTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DomFunctionResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/testUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/ConfiguringFunctionWithIdentityTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/FunctionExtractorTest.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/EvaluationFailureMessageGenerator.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeModelDefaultsIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/ndoc/ContainersSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/ParameterSemantics.kt
Labels: in:declarative-dsl

#30802 Update to docs for 8.11 release on new console output
  platforms/documentation/docs/src/docs/userguide/jvm/building_java_projects.adoc
Labels: a:documentation

#30789 Improve error messages on DCL interpretation failures
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/UnsupportedSyntaxFeatureCheck.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/defaults/modelDefaultsSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/common/UnsupportedSyntaxFeatureCheckTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/settings/SettingsBlockCheckTest.kt
Labels: in:declarative-dsl

#30807 Mark C++ plugins partially supported with Configuration Cache
  platforms/documentation/docs/src/docs/userguide/core-plugins/visual_studio_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/native/xcode_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: a:documentation

#30772 Release Notes: Allow embedding Youtube videos in the release notes
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ReleaseNotesTransformer.java
  platforms/documentation/docs/src/docs/css/release-notes.css
  platforms/documentation/docs/src/docs/release/notes-template.md
Labels: in:documentation-infrastructure, a:documentation

#30766 Upgrade tested Kotlin and AGP versions
  gradle/dependency-management/agp-versions.properties
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioPerformanceTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: a:chore, in:building-gradle

#30832 Update release notes and features text for 8.11
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#30803 Implement global value objects (release)
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheCompositeBuildsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheRepository.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheStateStore.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/Codecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultGlobalValueCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ParallelStringEncoder.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/ProviderCodecs.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Combinators.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
Labels: a:chore, in:configuration-cache

#30854 Fixes for release notes
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/testing_gradle_plugins.adoc
Labels: a:documentation

#30851 Fix minor grammar/spelling error in configuration cache docs
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: a:documentation, from:contributor

#30632 Make Problems API TAPI classes more consistent
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ContextualLabel.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/Details.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/DocumentationLink.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/FailureContainer.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemContext.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemDefinition.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/SingleProblemEvent.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultDetails.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultDocumentationLink.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultFailureContainer.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultProblemsOperationContext.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultSingleProblemEvent.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DynamicProblemOperationContext.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: has:release-notes-decision

#30795 Fix some tests failing on Windows with CC
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/DefaultFileHasher.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/DefaultStreamHasher.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/StreamHasher.java
  platforms/core-runtime/wrapper-shared/src/integTest/groovy/org/gradle/integtests/PathTraversalCheckerIntegrationTest.groovy
  platforms/core-runtime/wrapper-shared/src/integTest/groovy/org/gradle/integtests/TarSlipIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/classpath/DefaultClassSetAnalyzer.java
Labels: a:chore

#30852 Fix grammar in configuration cache adoption instructions
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: a:documentation, from:contributor

#30845 Let `BeanStateReader` handle generated types transparently
  platforms/core-configuration/bean-serialization-services/build.gradle.kts
  platforms/core-configuration/bean-serialization-services/src/main/kotlin/org/gradle/internal/serialize/beans/services/BeanPropertyReader.kt
  platforms/core-configuration/bean-serialization-services/src/main/kotlin/org/gradle/internal/serialize/beans/services/BeanPropertyWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassDecoder.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassEncoder.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/JavaRecordCodec.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/TaskNodeCodec.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/jos/JavaObjectSerializationCodec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/BeanPropertyExtensions.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/codecs/BeanCodec.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/DeserializationInstantiator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/DefaultInstantiationScheme.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/api/internal/GeneratedSubclasses.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
  subprojects/core/src/testFixtures/groovy/org/gradle/api/tasks/AbstractTaskTest.groovy
Labels: a:chore, in:configuration-cache

#30778 Instantiate credentials via ObjectFactory
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheIvyPublishIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheMavenPublishIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CredentialsProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/credentials/DefaultAwsCredentials.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/credentials/DefaultHttpHeaderCredentials.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/credentials/DefaultPasswordCredentials.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CredentialsProviderFactoryTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/credentials/CredentialsToStringSpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/DefaultIsolatableFactoryTest.groovy
  platforms/core-execution/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/DefaultHttpBuildCacheServiceFactoryTest.groovy
  platforms/core-execution/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceTest.groovy
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/internal/DefaultHttpBuildCacheServiceFactory.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/AbstractAuthenticationSupportedRepositoryTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/catalog/LibrariesSourceGeneratorTest.groovy
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishHttpIntegTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  platforms/software/resources-http/build.gradle.kts
  platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpClientConfigurer.java
  platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpProxySettings.java
  platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/ntlm/NTLMCredentials.java
  platforms/software/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/HttpClientConfigurerTest.groovy
  platforms/software/resources-http/src/test/groovy/org/gradle/internal/resource/transport/http/ntlm/NTLMCredentialsTest.groovy
  platforms/software/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/S3ClientIntegrationTest.groovy
  platforms/software/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/maven/MavenPublishS3IntegrationTest.groovy
  platforms/software/resources-s3/src/main/java/org/gradle/internal/resource/transport/aws/s3/S3Client.java
  platforms/software/resources-s3/src/test/groovy/org/gradle/internal/resource/transport/aws/s3/S3ClientTest.groovy
  platforms/software/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/SftpClientReuseIntegrationTest.groovy
  platforms/software/resources-sftp/src/test/groovy/org/gradle/internal/resource/transport/sftp/SftpClientFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestCredentialUtil.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/HttpServer.groovy
Labels: a:chore, p:lazy-migration

#30842 Leniently finalize upgraded properties
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionLifecycleIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionPropertyIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/CollectionPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/MapPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/HasConfigurableValueInternal.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueState.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/bean/DefaultPropertyWalker.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/instantiation/generator/AsmBackedClassGeneratedManagedStateTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputDirectoryPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputFilePropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputFilesPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/ModifierAnnotationCategory.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacesEagerProperty.java
  subprojects/core/src/integTest/groovy/org/gradle/api/ObjectExtensionInstantiationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/model/ObjectFactoryIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/AbstractOutputPropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/DestroysPropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/LocalStatePropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
Labels: in:provider-api, p:lazy-migration

#30850 Retry cleanup for first-use tests to limit impact of race condition
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/mutator/RetryingClearGradleUserHomeMutator.java
  testing/performance/src/performanceTest/groovy/org/gradle/performance/experiment/declarativedsl/DeclarativeDslFirstUsePerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/TaskOutputCachingJavaPerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaFirstUsePerformanceTest.groovy
Labels: a:bug, in:performance-test

#30883 Report class encoding failures as CC problems
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheCustomClassLoaderErrorIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/isolation/IsolatedActionSerializer.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassEncoder.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
Labels: a:chore, in:configuration-cache

#30906 Update initscrip init.d documentation (gradle#30904)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
Labels: a:documentation, in:init-scripts, from:contributor

#30755 Disallow infix function calls
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTreeResult.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/BasicParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/LiteralConstantParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/RejectedLanguageFeaturesParsingTest.kt
Labels: in:declarative-dsl

#30911 Promotion: add JDK11 and JDK17 to fix missing Java versions for the `forkingIntegTest` and to more explicitly document the required Java versions
  .teamcity/src/main/kotlin/common/Jvm.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  build-logic/jvm/src/main/kotlin/gradlebuild/propagated-env-variables.kt
Labels: in:building-gradle

#30667 Attributes Cleanup
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/DefaultMavenImmutableAttributesFactory.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/attributes/immutable/ImmutableAttributesTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AbstractAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultMutableAttributeContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/ImmutableAttributesFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultImmutableAttributesFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/attributes/immutable/TestsImmutableAttributes.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/AttributeTestUtil.groovy
Labels: a:chore, in:dependency-declarations

#30843 Upgrade embedded Kotlin to 2.0.21
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/dependency-management/kotlin-versions.properties
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/BuildOperationsAssertions.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/BuildScriptCompileAvoidanceIntegrationTest.kt
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: a:chore, in:kotlin-dsl

#30562 Allow ipv6 addresses in repository urls
  platforms/software/resources/src/main/java/org/gradle/internal/resource/ExternalResourceName.java
  platforms/software/resources/src/test/groovy/org/gradle/internal/resource/ExternalResourceNameTest.groovy
Labels: from:contributor, in:dependency-remoting

#30821 Add `DependencyConstraintHandler#addProvider[Convertible]`
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/DependencyConstraintHandlerDelegate.kt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintNotationParser.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyConstraintHandler.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:feature, in:dependency-declarations

#29796 Add happy path example for handling a nested property
  architecture/standards/0006-use-of-provider-apis-in-gradle.md
Labels: stale

#30924 Upgradlew to the latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle

#30507 Update Working with Dependencies -> Declaring Dependencies Section
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_repositories_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_resolution_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/component_metadata_rules.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/dependency_constraints.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/platforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/declaring_configurations.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/declaring_dependencies_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/dependency_constraints.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/dependency_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/viewing_debugging_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/filtering_repository_content.adoc
  platforms/documentation/docs/src/docs/userguide/img/dependency-management-configuration-inheritance.png
  platforms/documentation/docs/src/docs/userguide/img/dependency-management-file-dependencies.png
  platforms/documentation/docs/src/docs/userguide/img/dependency-management-project-dependencies.png
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_6.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/artifacts/dependencyBasics/groovy/build.gradle
  platforms/documentation/docs/src/snippets/artifacts/dependencyBasics/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/attributeMatching/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/attributeMatching/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-typeSafeProjectDependencies/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-typeSafeProjectDependencies/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/java-platform/quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java-platform/quickstart/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/java-platform/recommender/groovy/platform/build.gradle
  platforms/documentation/docs/src/snippets/java-platform/recommender/kotlin/platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/java/basic/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java/basic/kotlin/build.gradle.kts
Labels: a:documentation

#30910 Fix `buildCommitDistribution` if mirroring info is missing
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/tasks/BuildCommitDistribution.kt
  gradle/shared-with-buildSrc/mirrors.settings.gradle.kts
Labels: in:building-gradle

#30919 Reapply "When running performance tests, no daemon should mean "cold daemon"
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleBuildExperimentRunner.java
Labels: a:chore

#30657 Allow authors to disable extension registration for software types
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/main/PrebuiltInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/main/SimpleAnalysisEvaluator.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/schema/InterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/GradleProcessInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/DeclarativeModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServices.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/software/SoftwareTypesTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/DeclarativeSchemaModelBuilder.kt
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUseServices.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultModelDefaultsApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicator.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicatorTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/internal/plugins/software/SoftwareType.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionBasedModelDefaultsHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/DefaultPluginManager.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginTarget.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/SoftwareFeatureApplyingPluginTarget.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsApplicator.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsHandler.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareFeatureApplicator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/DefaultPluginManagerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/SoftwareFeatureApplyingPluginTargetTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ProjectReportTaskIntegrationTest.groovy
Labels: a:feature, in:plugin-development, in:declarative-dsl

#30942 #30941 minor doku things
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_constraints_conflicts.adoc
Labels: a:documentation, from:contributor

#30915 Remove unnecessary @Restricted annotations on Settings APIs
  subprojects/core-api/src/main/java/org/gradle/api/initialization/ProjectDescriptor.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
  subprojects/core-api/src/main/java/org/gradle/plugin/management/PluginManagementSpec.java
Labels: in:declarative-dsl

#30951 Leniently finalize upgraded properties only on implicitFinalizeValue()
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueState.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/bean/DefaultPropertyWalker.java
Labels: a:bug, p:lazy-migration

#30934 Allow using ReplacesEagerProperty with more detected annotations
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueState.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/NoOpPropertyAnnotationHandler.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/bean/DefaultPropertyWalker.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/properties/annotations/DefaultTypeMetadataStoreTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/properties/bean/DefaultPropertyWalkerTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStoreTest.groovy
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/internal/reflect/annotations/TestAnnotationHandlingSupport.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/taskfactory/AnnotationProcessingTaskFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/AbstractTaskInputsAndOutputsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/InspectionSchemeFactoryTest.groovy
Labels: a:bug, p:lazy-migration

#30962 Relax CODEOWNERS architecture council notifications
  .github/CODEOWNERS
Labels: a:chore

#30839 Fix CC compatibility of Resource compilation on Windows
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/DefaultStaticLibraryBinarySpec.java
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/internal/DefaultStaticLibraryBinarySpecTest.groovy
Labels: in:native-platform, a:bug, in:configuration-cache

#30548 Update Working with Dependencies -> Managing Dependency Resolution Section
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dynamic_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_rules.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/component_metadata_rules.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/dependency_locking.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/resolution_rules.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_5.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-classifierSubstitutionRule/tests/build.sample.conf
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-resolutionStrategy/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-resolutionStrategy/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-selectionRule/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-selectionRule/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-forceForConfiguration/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-forceForConfiguration/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/troubleshooting-cache-dynamic/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/troubleshooting-cache-dynamic/kotlin/build.gradle.kts
  platforms/documentation/samples/src/integTest/groovy/org/gradle/integtests/samples/dependencymanagement/SamplesComponentSelectionRulesIntegrationTest.groovy
Labels: a:documentation

#30953 Fix CC input detection deadlock
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheValueSourceIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
Labels: a:bug

#30986 When running gradle init, only use empty settings
  platforms/core-runtime/logging/src/testFixtures/groovy/org/gradle/internal/logging/ToStringLogger.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/action/InitBuiltInCommand.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/configuration/project/BuiltInCommand.java
  subprojects/core/src/main/java/org/gradle/execution/TaskNameResolvingBuildTaskScheduler.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/NewDefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/TaskNameResolvingBuildTaskSchedulerSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/DefaultSettingsLoaderTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/plugins/internal/HelpBuiltInCommand.java
Labels: in:build-init-plugin, in:logging, a:chore, a:documentation, in:settings-script

#30936 Remove ImmutableJavaForkOptions
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DaemonForkOptions.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DaemonForkOptionsBuilder.java
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/DefaultWorkerExecutorParallelTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/EffectiveJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaForkOptionsFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaForkOptionsInternal.java
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/util/DefaultJavaForkOptionsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/EffectiveJavaForkOptionsTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore, p:lazy-migration

#31012 Fix naming typo - BUILTinit become BUILDinit, fix register method
  platforms/software/build-init-specs-api/src/main/java/org/gradle/buildinit/specs/BuildInitGenerator.java
  platforms/software/build-init-specs-api/src/main/java/org/gradle/buildinit/specs/BuildInitSpec.java
  platforms/software/build-init-specs/build.gradle.kts
  platforms/software/build-init-specs/src/main/java/org/gradle/buildinit/specs/internal/BuildInitSpecRegistry.java
  platforms/software/build-init-specs/src/test/groovy/org/gradle/buildinit/specs/internal/BuildInitSpecRegistryTest.groovy
  platforms/software/build-init-specs/src/testFixtures/groovy/org/gradle/builtinit/specs/internal/TestBuildInitGenerator.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/TestsBuildInitSpecsViaPlugin.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/specs/internal/BuildInitSpecsIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/specs/internal/BuildInitSpecsInteractiveIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
Labels: in:build-init-plugin, a:chore

#31020 Update some Build Init specs tests
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
  platforms/software/build-init-specs/src/main/java/org/gradle/buildinit/specs/internal/BuildInitSpecRegistry.java
  platforms/software/build-init-specs/src/test/groovy/org/gradle/buildinit/specs/internal/BuildInitSpecRegistryTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/specs/internal/BuildInitSpecsIntegrationTest.groovy
Labels: a:chore, in:declarative-dsl

#31013 Account for dependency relationship between conflicted nodes
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/RejectRemainingCandidates.java
Labels: in:dependency-resolution

#31046 Add missing 7.6.3 to released versions
  released-versions.json
Labels: a:chore

#30774 Use a non-caching non-reporting JVM metadata detector when provisioning
  platforms/core-runtime/client-services/build.gradle.kts
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectory.java
  platforms/jvm/toolchains-jvm/build.gradle.kts
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ToolchainsJvmServices.java
Labels: a:regression, in:toolchains

#31025 Simplify DiagnosticToProblemListener
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
Labels: a:chore, in:java-plugins, in:problems

#31072 Fix typo on class name
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/CommonPluginValidationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart1IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart2IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsTrait.groovy
Labels: in:testing, a:chore

#30215 Add missing `@ClosureParams` for some closure methods
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModel.java
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/RepositoryHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/file/CopySpec.java
Labels: in:ide, from:contributor

#31060 Fix documentation about ArchiveOperations
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/snippets/providers/services/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/services/kotlin/build.gradle.kts
Labels: a:documentation, in:writing-tasks, from:contributor, in:tutorial

#29903 Propagate ValueSource description for missing values
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/ProviderIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/DefaultValueSourceProviderFactoryTest.groovy
Labels: in:provider-api, from:contributor

#31064 Fix documentation about FileSystemOperations
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/snippets/providers/services/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/services/kotlin/build.gradle.kts
Labels: in:file-tasks, a:documentation, from:contributor

#31063 Fix documentation about ExecOperations
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/snippets/providers/services/groovy/build.gradle
  platforms/documentation/docs/src/snippets/providers/services/kotlin/build.gradle.kts
Labels: a:documentation, in:exec-tasks, from:contributor

#31082 Publish 8.11-20241030103002+0000
  released-versions.json
Labels: @dev-productivity

#31083 Upgrade tested AspectJ plugin version to 8.10.2
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, in:building-gradle, p:lazy-migration

#30730 Docs: Use correct kotlin-dsl plugin accessor
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
Labels: in:plugin-development, a:documentation, from:contributor

#31098 Publish 8.11-rc-2
  released-versions.json
Labels: @dev-productivity

#30928 Update Working with Dependencies -> Dependency Resolution Section
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/declaring_dependencies_adv.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-depedencies/declaring_configurations.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-resolution/artifact_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-resolution/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-resolution/dependency_graph_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-resolution/dependency_resolution_basics.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/performance.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#31073 Update documentation Build File to Kotlin
  platforms/documentation/docs/build.gradle.kts
Labels: a:documentation
