Repository gradle/gradle, pull requests merged in 2024-06, with the labels that each got.

#29386 Update wrapper for Gradle 8.8 release
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#29084 Add SoftwareType information to projects report
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/declarative-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/declarative/dsl/tooling/builders/r89/DeclarativeDslToolingModelsCrossVersionTest.groovy
  platforms/documentation/docs/src/snippets/java/multiproject/tests/listProjects.out
  platforms/documentation/docs/src/snippets/mavenMigration/multiModule/tests/projects.out
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/tests/projects.out
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeImplementation.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistry.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTarget.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeImplementation.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeRegistry.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTargetTest.groovy
  subprojects/diagnostics/build.gradle.kts
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ProjectReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/AbstractProjectBasedReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/AbstractReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ProjectReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ReportGenerator.java
Labels: in:declarative-dsl

#29362 `@ToBeFixedForIsolatedProjects` applicable for a type
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjects.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjectsExtension.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedSpecInterceptor.groovy
Labels: a:chore, in:isolated-projects

#29354 Stop worker daemons when the build is canceled
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClient.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClientCancellationHandler.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClientsManager.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonFactory.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonFactoryTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/daemon/JavaCompileDaemonCancellationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultMultiRequestWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerControl.java
Labels: a:bug, in:workers, in:java-plugins

#29415 Capture lifecycle callback executor order in a test
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIntegrationTest.groovy
Labels: in:isolated-projects

#29420 Add note about Groovy static type checking changes
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: in:groovy-plugin, a:documentation

#29409 Support multiple accepted-public-api.json files
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/AcceptedApiChanges.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/BinaryCompatibilityHelper.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/CleanAcceptedApiChanges.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/AbstractAcceptedApiChangesMaintenanceTask.kt
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/AlphabeticalAcceptedApiChangesTask.kt
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/SortAcceptedApiChangesTask.kt
  build-logic/binary-compatibility/src/test/groovy/gradlebuild/binarycompatibility/AcceptedApiChangesTest.groovy
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractAcceptedApiChangesMaintenanceTaskIntegrationTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AlphabeticalAcceptedApiChangesTaskIntegrationTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/SortAcceptedApiChangesTaskIntegrationTest.kt
  testing/architecture-test/build.gradle.kts
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/configuration-factory-methods.txt
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/architecture-test/src/changes/archunit-store/internal-api-symmetrical-accessors-nullability.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/provider-text-resource.txt
  testing/architecture-test/src/changes/archunit-store/public-api-methods-return-allowed-types.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-text-resource.txt
  testing/architecture-test/src/changes/archunit-store/public-api-not-extends-internal-types.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
  testing/architecture-test/src/changes/archunit-store/stored.rules
Labels: a:chore, in:building-gradle, p:lazy-migration

#29183 Reimplement reporting error and warning count when a compilation error happens
  platforms/documentation/docs/src/snippets/java-library/module-disabled/tests/buildJavaModule.out
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
Labels: a:regression, in:java-plugins

#29408 Swap the columns to emphasise the Kotlin version's importance
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:documentation

#29428 Document better message for cc invalidation due to input files changed
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#29352 Lower the log level of the message informing about failing to get the `DiagnosticFormatter`
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
Labels: in:problems

#29438 Remove reference to the non-existent extension module
  platforms/core-runtime/base-services/src/testFixtures/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
Labels: a:chore

#29421 Improve JDK8 corner-case test
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
Labels: in:problems

#29444 Fix JavadocStyleGuide rendering
  JavadocStyleGuide.md
Labels: a:documentation

#29445 Avoid 'classes' task in documentation for --update-locks (#29407)
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
Labels: a:documentation, from:contributor

#29437 Add 8.9 notes about IP usability improvements
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#29462 correct the daemon configuration file name
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
Labels: a:documentation, from:contributor

#29454 Fix failure during delegated Kotlin property lookup for Isolated Projects
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromKotlinDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/TrackingDynamicLookupRoutine.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PropertyDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/SettingsExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/DelegatedGradlePropertiesExtensionsTest.kt
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultDynamicLookupRoutine.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DynamicLookupRoutine.java
  testing/architecture-test/src/changes/archunit-store/public-api-methods-return-allowed-types.txt
Labels: in:kotlin-dsl, in:isolated-projects

#29475 Reproduce missing task dependencies for transformed incoming elements
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
Labels: a:chore, in:provider-api

#29484 Fix public-api publication
  subprojects/public-api/build.gradle.kts
Labels: a:chore

#29322 Track IntelliJ's misc.xml in Git
  .gitignore
  .idea/misc.xml
Labels: a:chore, in:building-gradle

#29463 Extract instrumentation agent supporting code out of :core and :integ-test
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/AbstractInjectedClasspathInstrumentationStrategy.kt
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/InstrumentingClassLoader.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/TransformErrorHandler.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/TransformReplacer.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/VisitableURLClassLoader.java
  platforms/core-runtime/build-state/build.gradle.kts
  platforms/core-runtime/build-state/src/main/java/org/gradle/internal/buildprocess/BuildProcessState.java
  platforms/core-runtime/daemon-server/build.gradle.kts
  platforms/core-runtime/daemon-server/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/instrumentation-agent-services/build.gradle.kts
  platforms/core-runtime/instrumentation-agent-services/src/integTest/groovy/org/gradle/internal/instrumentation/agent/AgentApplicationTest.groovy
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/AgentControl.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/AgentInitializer.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/AgentStatus.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/AgentUtils.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/DefaultAgentStatus.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/DefaultClassFileTransformer.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/DisabledAgentStatus.java
  platforms/core-runtime/instrumentation-agent-services/src/main/java/org/gradle/internal/instrumentation/agent/package-info.java
  platforms/core-runtime/launcher/build.gradle.kts
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/SystemClassLoaderTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/ForegroundDaemonAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonProcessState.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/tooling-api-provider/build.gradle.kts
  platforms/core-runtime/tooling-api-provider/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/extensibility/unit-test-fixtures/build.gradle.kts
  platforms/extensibility/unit-test-fixtures/src/main/java/org/gradle/testfixtures/internal/TestGlobalScopeServices.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TapiAgentInstrumentationCrossVersionSpec.groovy
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/DefaultGeneratedGradleJarCacheIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/AbstractWorkerProcessIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/registration/InstrumentationTransformRegisterer.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/CurrentProcess.java
  subprojects/core/src/test/groovy/org/gradle/initialization/buildsrc/BuildSrcBuildListenerFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/CurrentProcessTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-integ-testing/build.gradle.kts
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: a:chore, re:platformization

#29491 Clean up StartParameter toString
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/test/groovy/org/gradle/StartParameterTest.groovy
Labels: a:chore

#29514 Disable file-system watching on macOS 11 and before
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore, in:virtual-file-system

#29469 Don't make the git branch name an input to CC in gradle/gradle build
  build-logic/profiling/src/main/kotlin/gradlebuild.buildscan.gradle.kts
Labels: a:chore

#29448 Preserve task dependencies for transformed incoming elements
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/ProviderBackedFileCollection.java
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowParametersInstantiator.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractMinimalProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/BuildableBackedProvider.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/tasks/AbstractTaskDependencyResolveContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
Labels: a:bug, in:provider-api

#29464 Support simpler custom interceptors for upgraded properties
  .idea/misc.xml
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/BinaryCompatibilityHelper.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/filters/BridgeForBytecodeUpgradeAdapterClassFilter.groovy
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/BytecodeUpgrade.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacesEagerProperty.java
  platforms/core-runtime/internal-instrumentation-processor/build.gradle.kts
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/AbstractInstrumentationProcessor.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/InstrumentationCodeGeneratorHost.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/JavadocUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/TypeUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/modelreader/impl/TypeUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/util/NameUtil.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/InstrumentationCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGeneratorTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCustomInterceptorCodeGenTest.groovy
Labels: a:chore, p:lazy-migration

#29532 Update Isolated Projects page in User Manual
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/isolated_projects.adoc
Labels: a:documentation

#29505 Polish service registration after modularization of `:configuration-cache`
  platforms/core-configuration/bean-serialization-services/build.gradle.kts
  platforms/core-configuration/bean-serialization-services/src/main/kotlin/org/gradle/internal/serialize/beans/services/BeanSerializationServices.kt
  platforms/core-configuration/bean-serialization-services/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.GradleModuleServices
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowServices.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowServicesProvider.kt
Labels: a:chore, in:configuration-cache

#29388 Add example and mention of CopySpec and Working with Files
  platforms/documentation/docs/src/docs/userguide/core-plugins/distribution_plugin.adoc
  platforms/documentation/docs/src/snippets/base/distributionPlugin/groovy/build.gradle
  platforms/documentation/docs/src/snippets/base/distributionPlugin/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/base/distributionPlugin/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/base/distributionPlugin/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/base/distributionPlugin/readme.xml
  platforms/documentation/docs/src/snippets/base/distributionPlugin/tests/distribution.sample.conf
Labels: a:documentation, in:distribution-plugin, from:contributor

#29542 Cleanup "Upgrading Version 8" page of User Manual page for Gradle 8.9RC1 release
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#29550 Allow any new return type for simple custom interceptors for bytecode upgrade
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleLazyType.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCustomInterceptorCodeGenTest.groovy
Labels: p:lazy-migration

#29466 Fix property lookup tracking in scripts for Isolated Projects
  platforms/core-configuration/configuration-cache-base/src/main/kotlin/org/gradle/internal/cc/base/Logging.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DynamicCallProblemReporting.kt
Labels: in:isolated-projects

#29252 Add Daemon toolchain TAPI cross version tests
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCoexistWithCurrentOptionsCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainInvalidCriteriaCrossVersionTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/DaemonJvmPropertiesFixture.groovy
Labels: in:tooling-api, from:contributor

#29558 Polish wording for opening samples IDEs
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/declared-substitution/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/hierarchical-multirepo/README.adoc
  platforms/documentation/docs/src/samples/build-organization/composite-builds/plugin-dev/README.adoc
  platforms/documentation/docs/src/samples/build-organization/gradle-plugin/README.adoc
  platforms/documentation/docs/src/samples/build-organization/multi-project-with-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/build-organization/publishing-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/build-organization/sharing-convention-plugins-with-build-logic/README.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/README.adoc
  platforms/documentation/docs/src/samples/credentials-handling/publishing-credentials/README.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/README.adoc
  platforms/documentation/docs/src/samples/ide/problems-api-usage/README.adoc
  platforms/documentation/docs/src/samples/incubating/build-organization/publishing-convention-plugins/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-additional-test-types/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-code-coverage-standalone/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-distribution/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/jvm-multi-project-with-test-aggregation-standalone/README.adoc
  platforms/documentation/docs/src/samples/incubating/java/modules-multi-project-with-integration-tests/README.adoc
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-additional-test-types/README.adoc
  platforms/documentation/docs/src/samples/java/jvm-multi-project-with-toolchains/README.adoc
  platforms/documentation/docs/src/samples/java/library-publishing/README.adoc
  platforms/documentation/docs/src/samples/java/modules-multi-project-with-integration-tests/README.adoc
  platforms/documentation/docs/src/samples/java/modules-multi-project/README.adoc
  platforms/documentation/docs/src/samples/java/modules-with-transform/README.adoc
  platforms/documentation/docs/src/samples/readme-templates/common-body.adoc.template
  platforms/documentation/docs/src/samples/readme-templates/multi-common-body.adoc.template
  platforms/documentation/docs/src/samples/spring-boot-web-application/README.adoc
Labels: a:documentation

#29560 Allow internal service Registration declare multiple types
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/AnnotatedServiceLifecycleHandler.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/DefaultListenerManager.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistration.java
  subprojects/core/src/main/java/org/gradle/execution/WorkValidationWarningReporter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreCrossBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
Labels: a:feature, in:internal-services

#29573 Make Kotlin generators caching behaviour consistent with Gradle 8.8
  platforms/core-configuration/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultDependenciesAccessors.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GroovyScriptClassCompiler.java
  testing/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/ScriptCachingIntegrationTest.kt
Labels: a:bug

#29575 Fix snapshot filtering
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilter.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/VirtualFileSystem.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractVirtualFileSystem.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultFileSystemAccess.java
  platforms/core-execution/snapshots/src/test/groovy/org/gradle/internal/snapshot/impl/FileSystemSnapshotFilterTest.groovy
  platforms/core-execution/snapshots/src/test/groovy/org/gradle/internal/vfs/impl/AbstractVirtualFileSystemTest.groovy
Labels: a:bug, in:virtual-file-system

#29545 Share Configuration Cache action description with CC report
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/CheckedFingerprint.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheReport.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheReportDetails.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/HtmlReportWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/JsonModelWriter.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/problems/JsonModelWriterTest.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/PropertyProblem.kt
Labels: in:configuration-cache

#29578 Handle race condition when storing snapshots in the VFS better
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/impl/AbstractVirtualFileSystem.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultFileSystemAccess.java
Labels: a:chore, in:virtual-file-system

#29572 Polish internal service registration
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistration.java
Labels: a:chore, in:internal-services

#29472 Report JVM information in --version and buildEnvironment
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/CommandLineOutputIntegrationTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildEnvironmentConfigurationConverter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/CommandLineActionCreator.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/DefaultCommandLineActionFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonBuildOptions.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonRequestContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DefaultDaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryService.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJvmCriteria.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/DefaultCommandLineActionFactoryTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/converter/PropertiesToDaemonParametersConverterTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/configuration/DaemonParametersTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/context/DaemonCompatibilitySpecSpec.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainQueryServiceTest.groovy
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/docs/userguide/releases/troubleshooting.adoc
  platforms/documentation/docs/src/snippets/developingPlugins/externalLibraries/tests/buildEnvironment.sample.conf
  platforms/extensibility/test-kit/src/testFixtures/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/CurrentInstallationSupplier.java
  platforms/jvm/toolchains-jvm/build.gradle.kts
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/task/ShowToolchainsTask.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ToolchainReportRendererTest.groovy
  subprojects/diagnostics/build.gradle.kts
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/BuildEnvironmentReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/BuildEnvironmentReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/ToolchainReportRenderer.java
  subprojects/diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/BuildEnvironmentReportTaskTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:feature, in:toolchains, in:invoking-gradle

#29571 Support auto upgrades for getter only properties
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeAnnotatedMethodReader.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeRequestExtra.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleLazyType.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/GradleReferencedType.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/TypeUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/groovy/InterceptGroovyCallsResourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/jvmbytecode/InterceptJvmCallsGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/modelreader/impl/TypeUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/InstrumentedPropertiesResourceGeneratorTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
Labels: p:lazy-migration

#29566 Use service registry builder instead of subclassing
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheHost.kt
  platforms/core-execution/worker-main/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/CloseableServiceRegistry.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceRegistryBuilder.java
  platforms/core-runtime/daemon-server/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientServicesSupport.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/SingleUseDaemonClientServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/DefaultCommandLineActionFactoryTest.groovy
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/services/LoggingServiceRegistry.java
  platforms/core-runtime/tooling-api-provider/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestWorker.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectLifecycleController.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServiceRegistry.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsFactory.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsState.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: a:chore, in:internal-services

#29598 Release notes and IP cleanup
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/isolated_projects.adoc
Labels: a:documentation

#29584 Use service registry builder for native services
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  testing/internal-testing/build.gradle.kts
  testing/internal-testing/src/main/groovy/org/gradle/testfixtures/internal/NativeServicesTestFixture.java
Labels: a:chore, in:internal-services

#29599 Avoid direct instantiation of `DefaultServiceRegistry`
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowScheduler.kt
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultValueSourceProviderFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/DefaultInstantiatorFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/DependencyInjectingInstantiator.java
  platforms/core-execution/worker-main/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceRegistryBuilder.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistrationAction.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/language/jvm/internal/JvmLanguageServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/AbstractArtifactRepository.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/validation/ValidationServicesFixture.java
Labels: a:chore, in:internal-services

#29592 Revert the new `JavaVersion#getMajorVersionNumber` method (#29176)
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/Jvm.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classloader/TransformReplacerTest.groovy
  platforms/core-runtime/java-language-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/groovy/buildSrc/src/main/groovy/com/acme/InstrumentedJarsPlugin.groovy
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/kotlin/buildSrc/src/main/kotlin/com/acme/InstrumentedJarsPlugin.kt
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/groovy/producer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/kotlin/producer/build.gradle.kts
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/test/TestTaskPropertiesServiceIntegrationTest.groovy
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClientJdkCompatibilityTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetectorTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileCompatibilityIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AbstractJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/tasks/compile/JavaCompileTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilities.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompilerIntegrationSpec.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/CrossProjectMultipleVariantSelectionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/JavaToolchainFixture.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/TestJavaClassUtil.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenJavaModule.groovy
Labels: in:test-kit, a:regression

#29574 Use service registry builder for ConnectorServices
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/ConnectorServices.java
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
Labels: a:chore, in:internal-services

#29613 Fix active group rendering in ConfigurationCacheReportIntegrationTest
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheReportIntegrationTest.groovy
Labels: a:bug, in:configuration-cache

#29615 Update wrapper update in release notes
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#29608 Replace `Spec`s with lambdas for CollectionUtils calls
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/inspect/DefaultMethodRuleDefinition.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonConnector.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/registry/DaemonStopEvents.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/converter/LayoutToPropertiesConverter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/CompatibleDaemonExpirationStrategy.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/health/gc/DefaultGarbageCollectionMonitor.java
  platforms/extensibility/test-kit/src/main/java/org/gradle/testkit/runner/internal/DefaultBuildResult.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/xcode/plugins/XcodePlugin.java
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java
  platforms/native/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/sourceparser/DefaultIncludeDirectives.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/NativePlatformResolver.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/modulemap/GenerateModuleMapFile.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/resolve/NativeBinaryResolveResult.java
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AvailableToolChains.java
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/NativeToolChainTestInterceptor.java
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/app/CppSourceElement.java
  platforms/software/platform-base/src/main/java/org/gradle/platform/base/internal/DefaultPlatformResolvers.java
  platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpClientConfigurer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/AggregateTestResultsProvider.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/resolver/VcsDependencyResolver.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/ReleasedVersionDistributions.java
Labels: in:internal-services

#29609 Avoid Java 8 in `CollectionUtils`
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/util/internal/CollectionUtils.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/TestPageGenerator.java
Labels: a:chore, in:internal-services

#29625 Polish release notes for 8.9
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#29623 Polishing before splitting out service provider framework
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceRegistry.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  platforms/core-runtime/gradle-cli/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/reflect/JavaMethod.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/reflect/NoSuchMethodException.java
Labels: a:chore, in:internal-services

#29626 Test Kotlin 2.0.20-Beta1
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore

#29597 Improve presentation of task traces for incompatible tasks
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/AbstractProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/PropertyProblem.kt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheProblemsFixture.groovy
Labels: a:bug, in:configuration-cache

#29634 Grammar enhancements to release notes for 8.9RC1
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#29632 Replace custom `Predicate` type with `Spec`
  platforms/core-configuration/dependency-management-serialization-codecs/build.gradle.kts
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FilteredFileCollection.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classpath/DefaultClassPath.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/GUtil.java
  platforms/core-runtime/logging/src/main/java/org/gradle/util/GUtil.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/specs/Spec.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/function/Predicate.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/function/package-info.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/util/internal/CollectionUtils.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/internal/NativeSpecVisualStudioTargetBinary.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DependencyMetadataRules.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: a:chore, in:internal-services

#29647 Update wrapper to 8.9 RC1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore

#28791 When explaining execution reasons, add 'more...' if any reasons are omitted
  platforms/core-execution/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/MessageCollectingChangeVisitor.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/history/changes/MessageCollectingChangeVisitorTest.groovy
Labels: in:execution-engine, from:contributor

#29649 Add context to `NoClassDefFoundError` failures during bootstrapping
  build-logic/jvm/src/main/kotlin/gradlebuild.launchable-jar.gradle.kts
  platforms/core-runtime/build-process-services/src/main/java/org/gradle/launcher/bootstrap/ProcessBootstrap.java
  platforms/core-runtime/daemon-main/src/main/java/org/gradle/launcher/daemon/bootstrap/GradleDaemon.java
  platforms/core-runtime/gradle-cli-main/build.gradle.kts
  platforms/core-runtime/gradle-cli-main/src/main/java/org/gradle/launcher/GradleMain.java
Labels: a:chore

#29662 General documentation cleanup for June - Part 2
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/reference/gradle_wrapper.adoc
Labels: a:documentation

#29142 Add initializer for in-process Gradle executor
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/ConcurrentClassDecorationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecutorInitialization.java
  testing/internal-integ-testing/src/main/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: p:flaky-fix-it

#29664 Upgrade ErrorProne Gradle plugin to 4.0.1
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/verification-metadata.xml
  settings.gradle.kts
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, p:lazy-migration

#29657 Polish error on duplicate `--release` setting
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.tasks.compile.CompileOptions.xml
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileCompatibilityIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompilerArgumentsBuilder.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/CompileOptions.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompilerIntegrationSpec.groovy
Labels: a:chore, in:java-plugins

#29670 Avoid using extra JVM args
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
Labels: a:chore, in:java-plugins

#29663 Add nullability annotations to all public Transformer usages
  platforms/ide/ide-native/build.gradle.kts
  platforms/ide/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/GenerateProjectFileTask.java
  subprojects/core-api/src/main/java/org/gradle/api/AntBuilder.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractCopyTask.java
Labels: a:bug, re:nullability

#29570 Add note about possible JDK8 compiler output change in 8.9
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#29676 Fix link to custom dependencies blocks in JVM test suites
  platforms/documentation/docs/src/docs/userguide/jvm/jvm_test_suite_plugin.adoc
Labels: a:documentation, in:test-suites

#29677 Fix release/snapshot filtering in pluginManagement
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/BuildscriptRepositoryContentFilteringIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultMavenRepositoryContentDescriptor.java
Labels: a:bug, in:plugin-management, in:repository-declarations

#29648 Do not register DCL software type models as extensions automatically
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/PropertyExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoSimple/demoTypes.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/AddSoftwareTypesAsExtensionsPluginTarget.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/AddSoftwareTypesAsExtensionsPluginTargetTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ProjectReportTaskIntegrationTest.groovy
Labels: in:declarative-dsl

#29659 Polish internal service framework implementation visibility and docs
  .github/CODEOWNERS
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/CloseableServiceRegistry.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistrationProvider.java
  platforms/core-runtime/service-registry-builder/src/main/java/org/gradle/internal/service/ServiceRegistryBuilder.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/RelevantMethods.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ScopedServiceRegistry.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceMethod.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
Labels: a:chore, in:internal-services

#29697 Fix docs link for inotify instance limit
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/FileSystemWatchingDocumentationIndex.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystem.java
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystemTest.groovy
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
Labels: a:bug, in:virtual-file-system

#29658 Refine CC codecs with respect to service registries
  platforms/core-configuration/core-serialization-codecs/build.gradle.kts
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/UnsupportedTypesCodecs.kt
Labels: a:chore, in:configuration-cache, in:internal-services

#29699 Fix global service validation workarounds
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/InjectAnnotationHandler.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUseServices.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/buildtree/ProblemReporter.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/services/NativeBinaryServices.java
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/internal/services/NativeTestingServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGlobalScopeServices.java
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/ScriptFileResolvedListener.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/properties/annotations/AbstractOutputPropertyAnnotationHandler.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionGlobalServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/components/internal/AbstractBinaryRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/reporting/components/internal/TypeAwareBinaryRenderer.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: a:chore, in:internal-services

#29682 Improve checksum fail message
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperChecksumVerificationTest.groovy
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/wrapper/Install.java
Labels: in:wrapper, from:contributor

#29719 Fix NotJava8OnMacOs test precondition
  testing/internal-testing/src/main/groovy/org/gradle/test/preconditions/UnitTestPreconditions.groovy
Labels: a:bug, in:building-gradle

#29722 Detangle base-services from instrumentation-api
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueue.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueueFactory.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLeaseService.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultWorkerLimits.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/WorkerLimits.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/AbstractWorkerLeaseServiceTest.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/work/DefaultConditionalExecutionQueueTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/core-api/src/main/java/org/gradle/concurrent/ParallelismConfiguration.java
  subprojects/core-api/src/main/java/org/gradle/concurrent/package-info.java
  subprojects/core-api/src/main/java/org/gradle/internal/concurrent/DefaultParallelismConfiguration.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultPlanExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreCrossBuildSessionServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectStateRegistryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultPlanExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/model/StateTransitionControllerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationExecutorParallelExecutionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationQueueTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/MaxWorkersTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/BuildOperationExecutorSupport.java
Labels: a:chore

#29706 Enable cc load-after-store for `:language-java`
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileCompatibilityIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileTaskOperationResultIntegTest.groovy
Labels: a:chore, in:configuration-cache, re:reliability

#27338 Let `GenerateKotlinExtensionsForGradleApi` properly handle nested classes
  build-logic/jvm/src/main/kotlin/gradlebuild/kotlin/tasks/ParameterNamesIndex.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/FunctionSinceRepository.kt
Labels: a:feature, in:building-gradle

#29729 Enable load-after-store test coverage for `:plugin-development`
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsCompatibilityIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsConcurrencyIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsGenerationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/impldeps/GradleImplDepsLoggingIntegrationTest.groovy
Labels: a:chore, in:configuration-cache, re:reliability

#29733 Use equality instead of identity for root path detection
  platforms/documentation/docs/src/samples/writing-tasks/tasks-with-dependency-resolution-result-inputs/tests/dependencyReports.sample.conf
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultProjectComponentSelector.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/DefaultProjectComponentIdentifier.java
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
Labels: a:chore

#29763 Consider `configure` methods as entry-points to avoid 'unused' warnings in IDE
  .idea/misc.xml
Labels: a:chore

#29756 Private services visible only within the same service provider
  platforms/core-runtime/messaging/src/test/groovy/org/gradle/internal/event/DefaultListenerManagerInServiceRegistryTest.groovy
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/PrivateService.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/DefaultServiceAccessToken.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceAccess.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceAccessScope.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceAccessToken.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceProvider.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/TypeStringFormatter.java
  platforms/core-runtime/service-registry-impl/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryServiceAccessTest.groovy
  platforms/core-runtime/service-registry-impl/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/scopeids/ScopeIdsServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
Labels: a:feature, in:building-gradle, in:internal-services
