Repository gradle/gradle, pull requests merged in 2024-09, with the labels that each got.

#30383 Upgradlew to latest nightly for parallel CC
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle

#30380 Use Jackson for json serialization for problem reports and CC reports
  platforms/core-configuration/configuration-problems-base/build.gradle.kts
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/cc/impl/problems/JsonModelWriter.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/cc/impl/problems/JsonWriter.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemReportDetails.kt
  platforms/ide/problems/src/main/kotlin/org/gradle/problems/internal/impl/DefaultProblemsReportCreator.kt
  platforms/ide/problems/src/test/kotlin/org/gradle/problems/internal/impl/JsonWriterTest.kt
Labels: a:bug

#30382 DefaultDevelocityBuildLifecycleService shouldn't force IP compatibility for build
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultDevelocityBuildLifecycleService.java
  platforms/enterprise/enterprise/src/test/groovy/org/gradle/internal/enterprise/DevelocityBuildLifecycleServiceTest.groovy
Labels: a:feature, in:isolated-projects

#30319 Fix equals contract for DefaultProject and wrappers
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ProblemReportingCrossProjectModelAccess.kt
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/LifecycleAwareProjectIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/ProjectEqualityContractIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/LifecycleAwareProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
Labels: a:bug

#30390 Load empty immutable collections from CC as singletons
  platforms/core-configuration/guava-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/guava/ImmutableListCodec.kt
  platforms/core-configuration/guava-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/guava/ImmutableMapCodec.kt
  platforms/core-configuration/guava-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/guava/ImmutableSetCodec.kt
Labels: a:chore, in:configuration-cache

#30392 Store each `ImmutableAttributes` instance to CC only once per context
  platforms/core-configuration/dependency-management-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/dm/AttributeContainerCodecs.kt
Labels: a:chore, in:configuration-cache

#30370 Fix typo on user manual
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
Labels: a:documentation, in:precompiled-script-plugin, from:contributor

#30395 use nightly with json generation fix
  gradle/wrapper/gradle-wrapper.properties
Labels: a:bug

#30399 Fix a mistake and improve some phrases in the docs
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
Labels: a:documentation, in:tutorial

#30397 Remove org.gradle.internal.classanalysis.AsmConstants
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinExtensionsForGradleApi.kt
  platforms/core-runtime/base-asm/src/main/java/org/gradle/internal/classanalysis/AsmConstants.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore

#30336 Upgrade JUnitOptions and JUnitPlatformOptions platforms
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/test/impl/DefaultTestTaskPropertiesService.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/JUnitPlatformTestToolchain.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/AbstractTestTaskIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestOptionsIntegrationSpec.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestFramework.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestFramework.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/junit/JUnitOptions.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/junitplatform/JUnitPlatformOptions.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/JUnitTestFrameworkTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/junit/JUnitOptionsTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/junitplatform/JUnitPlatformOptionsTest.groovy
  testing/architecture-test/src/changes/accepted-changes/junitOptions-accepted-public-api-changes.json
  testing/architecture-test/src/changes/accepted-changes/junitPlatformOptions-accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: p:lazy-migration

#30404 Add fixed issues to `notes.md`
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#30387 Upgrade embedded Kotlin to 2.0.20
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiTypeProvider.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/dependency-management/kotlin-versions.properties
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/KotlinParser.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/tests/sanityCheck.out
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/tests/sanityCheck.sample.conf
  platforms/documentation/docs/src/snippets/kotlinDsl/androidBuild/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/androidSingleBuild/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
Labels: in:kotlin-dsl

#30341 Upgrade TestNGOptions
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGUpToDateCheckIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/testng/TestNGOptions.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestFrameworkTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/testng/TestNGOptionsTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-methods-return-allowed-types.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: a:chore, p:lazy-migration

#30376 Upgrade CodeQualityExtension to use lazy properties
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.code-quality.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  platforms/documentation/docs/src/snippets/mavenMigration/basic/kotlin/build.gradle.kts
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CheckstylePlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeQualityExtension.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdPlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/internal/AbstractCodeQualityPlugin.java
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CheckstylePluginTest.groovy
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CodeNarcPluginTest.groovy
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, p:lazy-migration

#30443 Update wrapper to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: in:kotlin-dsl

#30384 Introduce `org.gradle.internal.operations.trace.tree` internal flag
  platforms/core-runtime/build-operations-trace/build.gradle.kts
  platforms/core-runtime/build-operations-trace/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationsFixture.groovy
Labels: a:chore, in:build-operations

#30425 Extract shared "origin" timestamp for zip entries
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  platforms/core-runtime/files/src/main/java/org/gradle/api/internal/file/archive/ZipEntryConstants.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipCopyAction.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InPlaceClasspathBuilder.java
  subprojects/core/src/testFixtures/groovy/org/gradle/util/JarUtils.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/AbstractModule.groovy
Labels: re:platformization

#30456 Use message grouping problem report and performance improvement
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
Labels: a:feature, a:performance-improvement

#30253 Groovy 4.x Gradleception Fixes
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
  gradle/verification-metadata.xml
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskDependencyTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/metaobject/CompositeDynamicObjectTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/converter/StartParameterConverterTest.groovy
  platforms/software/ivy/src/test/groovy/org/gradle/api/publish/ivy/internal/artifact/IvyArtifactNotationParserFactoryTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/CallInterceptingMetaClass.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/intercept/DefaultCallSiteDecorator.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/AbstractCallInterceptionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/CallInterceptingMetaClassTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/catalog/problems/VersionCatalogErrorMessages.groovy
Labels: a:bug, in:groovy-plugin

#30486 Fix pom parser for relocation containing variables
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenPomRelocationIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReader.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradlePomModuleDescriptorParserTest.groovy
Labels: to-triage, in:maven-integration, from:contributor

#30242 Add java compiler error reporting release note
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, in:problems

#30343 Prevent generating accessors if the name is not a valid Kotlin identifier
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessorsTest.kt
Labels: in:kotlin-dsl, from:contributor

#30495 Remove dependency to now unused `org.gradle.kotlin-dsl.ktlint-convention`
  build-logic-commons/build-platform/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/buildquality/build.gradle.kts
  build-logic/buildquality/src/main/kotlin/gradlebuild.configure-ci-artifacts.gradle.kts
  build-logic/kotlin-dsl/build.gradle.kts
  build-logic/uber-plugins/build.gradle.kts
  gradle/verification-metadata.xml
Labels: a:chore, in:building-gradle

#30438 Merge Kotlin DSL source distro transforms for faster first use
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/FindGradleSources.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionProvider.kt
Labels: in:kotlin-dsl, a:performance-improvement

#30483 Initial NDOC support in DCL
  .github/CODEOWNERS
  .teamcity/subprojects.json
  platforms/core-configuration/declarative-dsl-api/src/main/java/org/gradle/declarative/dsl/model/annotations/ElementFactoryName.java
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimeFunctionResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/DataSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/serialization/SchemaSerialization.kt
  platforms/core-configuration/declarative-dsl-internal-utils/build.gradle.kts
  platforms/core-configuration/declarative-dsl-internal-utils/src/main/kotlin/org/gradle/internal/declarativedsl/utils/DclContainerMemberExtractionUtils.kt
  platforms/core-configuration/declarative-dsl-internal-utils/src/test/kotlin/org/gradle/internal/declarativedsl/utils/DclContainerMemberExtractionUtilsTest.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/DependencyCollectorFunctionExtractorAndRuntimeResolver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradleCustomizationSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/ndoc/ContainersSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/ContainersSchemaComponentTest.kt
  settings.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:feature, in:declarative-dsl

#30532 Add Linux arm64 as a build target for the native plugins
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/native/native_software.adoc
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/AbstractGccCompatibleToolChain.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:native-platform

#30531 Fix flakiness in AbstractLineEndingSensitivityIntegrationSpec
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractLineEndingSensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedLineEndingSensitivityIntegrationSpec.groovy
Labels: a:chore, in:building-gradle

#30558 Fix typos in "Sharing Build Logic between Subprojects"
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
Labels: in:build-src, a:documentation, from:contributor

#30321 ResolutionFailureHandler reports AdditionalData for resolution failures
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/Codecs.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/dependency-management-serialization-codecs/build.gradle.kts
  platforms/core-configuration/dependency-management-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/dm/transform/IsolateTransformParametersCodec.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowParametersInstantiator.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/isolated/IsolationScheme.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/DefaultTypeValidationContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/ProblemRecordingTypeValidationContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/DefaultTypeAwareProblemBuilder.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/properties/annotations/DefaultTypeMetadataStoreTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStoreTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  platforms/core-runtime/build-operations-trace/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/AdditionalDataBuilderFactory.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultPluginIdLocation.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblem.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/PluginIdLocation.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/Problem.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/AdditionalDataBuilderFactoryTest.groovy
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemBuilderTest.groovy
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/problems-rendering/src/test/groovy/org/gradle/problems/internal/rendering/ProblemRendererTest.groovy
  platforms/ide/problems/src/main/kotlin/org/gradle/problems/internal/impl/DefaultProblemsReportCreator.kt
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/api/problems/internal/ResolutionFailureDataCrossVersionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransformRegistrationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/problems/internal/DefaultResolutionFailureData.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/problems/internal/ResolutionFailureData.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/problems/internal/ResolutionFailureDataSpec.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/type/AmbiguousArtifactTransformsFailure.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionBasedModelDefaultsHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTarget.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTargetTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/properties/InspectionSchemeFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildExceptionReporterTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/ReceivedProblem.groovy
Labels: a:investigation, in:dependency-resolution, in:problems, re:comprehensibility

#30538 Add an update guide entry for name matcher changes
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#30526 Fix the `xcode` plugin to be configuration cache compatible
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/fixtures/IdeCommandLineUtil.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/AbstractXcodeCppProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/AbstractXcodeNativeProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/AbstractXcodeSwiftProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeMultipleProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/main/java/org/gradle/ide/xcode/tasks/GenerateSchemeFileTask.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/xcode/tasks/GenerateXcodeProjectFileTask.java
  platforms/ide/ide/src/testFixtures/groovy/org/gradle/plugins/ide/fixtures/AbstractMultiBuildIdeIntegrationTest.groovy
Labels: in:native-platform

#30352 Upgrade AntlrTask to use lazy properties
  platforms/documentation/docs/src/snippets/antlr/useAntlrPlugin/groovy/build.gradle
  platforms/documentation/docs/src/snippets/antlr/useAntlrPlugin/kotlin/build.gradle.kts
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr4PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/IncrementalAntlrTaskIntegrationTest.groovy
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrTask.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrSpecFactory.java
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/internal/AntlrSpecFactoryTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: a:chore, p:lazy-migration

#30381 Upgrade Codenarc plugin
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcPluginIntegrationTest.groovy
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeNarc.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeNarcExtension.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CodeNarcPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, in:jvm-ecosystem, p:lazy-migration

#29425 Implement compiler-supplied ids for java compilation
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaMultiCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: a:feature, in:java-plugins, in:problems

#30586 Fix some typos
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/programmatic_dependency_resolution.adoc
Labels: to-triage, from:contributor

#30593 Improve release notes for 8.11 release
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore, a:documentation

#30600 Fix Problem output file override
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/CommonReport.kt
Labels: a:bug

#30607 update sub-project count in multiproject structure
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
Labels: a:documentation, in:multi-projects, from:contributor

#30615 Merge branch 'release' into 'master'
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/software/platform-base/src/main/java/org/gradle/api/internal/resolve/DefaultProjectModelResolver.java
  released-versions.json
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorDslIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/ProjectEqualityContractIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/ProjectIdentityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleBeforeProjectEagerExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultCrossProjectModelAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareDynamicObject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectLifecycleController.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
Labels: a:chore, in:building-gradle

#30459 Upgrade TestLogging to use lazy properties
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerDefaultTestKitDirIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerMiscEndUserIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/AbstractJUnitConsoleLoggingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterConsoleLoggingIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGConsoleLoggingIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/DefaultTestLogging.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/DefaultTestLoggingContainer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/FullExceptionFormatter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/ShortExceptionFormatter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/TestEventLogger.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/logging/TestLogging.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/logging/TestLoggingAdapters.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/logging/TestLoggingContainer.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/DefaultTestLoggingContainerTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/DefaultTestLoggingTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/FullExceptionFormatterTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/ShortExceptionFormatterTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/TestEventLoggerTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, p:lazy-migration

#30612 Add test case to show CC/IP report honors custom build dir
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsProblemReportingIntegrationTest.groovy
Labels: a:chore

#30506 Setup only reporting resolution failures as problems when enabled
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolvedDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultUnlockedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionBackedFileCollection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionHost.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionResultProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSetToFileCollectionFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/resolver/DefaultResolutionOutputs.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ReportableAsProblem.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/exception/AbstractResolutionFailureException.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
Labels: a:chore, in:dependency-resolution, in:problems

#30624 Tighten up Configuration Cache classloader lookup behavior
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheClassLoaderScopeRegistryListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
Labels: a:chore, in:configuration-cache

#30587 Publish libraries using resolved coordinates
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.publish-public-libraries.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  platforms/jvm/normalization-java/build.gradle.kts
Labels: a:chore, in:building-gradle

#30621 Add a flag to disable parallel configuration in IP mode in favor of COD
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsParallelConfigurationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
Labels: a:chore, in:isolated-projects, has:release-notes-decision

#30640 Update wrapper to 8.10.2 milestone
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#30650 Update initscript init.d documentation (#30610)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
Labels: a:documentation, in:init-scripts, from:contributor

#30623 Add glossary to single page user manual
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
Labels: a:documentation, from:contributor

#30673 Update wrapper to 8.10.2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#30608 Don't allow detachedConfigurations to extend
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PalantirConsistentVersionsPluginSmokeTest.groovy
Labels: a:bug, in:dependency-resolution

#30683 Enable strict classloader scope behavior
  gradle.properties
Labels: a:chore, in:building-gradle

#30681 Move generated dependency-accessors to global cache
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DependenciesAccessorsWorkspaceProvider.java
Labels: a:bug, in:execution-engine, in:dependency-version-catalog

#30686 Enable strict classloading (correctly this time)
  gradle.properties
Labels: a:chore, in:building-gradle

#30643 Move process-services public API classes to core-api
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-execution/workers/build.gradle.kts
  platforms/core-runtime/process-services/build.gradle.kts
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/ide/base-ide-plugins/build.gradle.kts
  platforms/jvm/jacoco/build.gradle.kts
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/native/language-native/build.gradle.kts
  platforms/native/platform-native/build.gradle.kts
  platforms/software/security/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/process/BaseExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/CommandLineArgumentProvider.java
  subprojects/core-api/src/main/java/org/gradle/process/ExecResult.java
  subprojects/core-api/src/main/java/org/gradle/process/ExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/ProcessForkOptions.java
  subprojects/core-api/src/main/java/org/gradle/process/internal/ExecException.java
Labels: a:chore, in:provider-api, p:lazy-migration

#30701 Fail on warnings from ascii-doctor
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/declaring_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_maven.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
Labels: a:documentation

#30346 Deprecate certain Nested properties' setters
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/DaemonGroovyCompilerIntegrationTest.groovy
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompileOptions.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/CompileOptions.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/daemon/DaemonJavaCompilerIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/main/java/org/gradle/api/tasks/scala/ScalaDoc.java
  platforms/jvm/scala/src/main/java/org/gradle/language/scala/tasks/AbstractScalaCompile.java
  platforms/jvm/scala/src/main/java/org/gradle/language/scala/tasks/BaseScalaCompileOptions.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore

#30722 Clarify how to replace detached extensions
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#30666 Fail fast if a stored class won't be found during load
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/AbstractConfigurationCacheIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheClassLoaderScopeRegistryListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ClassLoading.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassDecoder.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassEncoder.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/CachingClassLoader.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/DelegatingClassLoader.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/MultiParentClassLoader.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultClassLoaderScope.java
Labels: a:chore, in:configuration-cache

#30733 Add DependencyResolutionManagement.getRepositoriesMode() to DCL
  subprojects/core-api/src/main/java/org/gradle/api/initialization/resolve/DependencyResolutionManagement.java
Labels: in:declarative-dsl

#30719 Fix a broken link in the docs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/testing_gradle_plugins.adoc
Labels: a:documentation, from:contributor

#30728 Fix a DSL link
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
Labels: a:documentation, from:contributor

#30713 Update ArtifactTransform docs with nitpicks after investigation
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/artifact_transforms.adoc
Labels: a:documentation

#30747 Cleanup release notes for 8.11 release
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore
