Repository gradle/gradle, pull requests merged in 2024-08, with the labels that each got.

#30086 Remove a duplicated table row
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
Labels: a:documentation, in:writing-tasks, from:contributor

#30056 Update Working with Dependencies -> Artifact Transform page
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-1.png
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-2.png
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-3.png
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-4.png
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-5.png
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-simple/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-simple/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-simple/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-simple/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-simple/tests/artifactTransformSimple.sample.conf
Labels: a:documentation, in:artifact-transforms

#30107 Publish Release notes for 8.10RC1
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#30093 Update Working with Dependencies -> Version Section Cleanup
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dependency_locking.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/dynamic_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/rich_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
Labels: a:documentation

#30118 Polish release notes for 8.10RC1
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#30124 Delay realization of artifact view attributes
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoAggregationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/ArtifactViewAttributesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/resolver/DefaultResolutionOutputs.java
Labels: a:regression, in:dependency-resolution

#30129 Upgrade tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: in:kotlin-dsl

#30133 Upgradlew to latest nightly
  gradle/wrapper/gradle-wrapper.properties
Labels: in:kotlin-dsl

#29771 Update wrapper and rename SourceFileHeader constants
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/SourceFileHeader.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinDependencyExtensions.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinDslPluginsExtensions.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinExtensionsForGradleApi.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/GeneratePluginSpecBuilderAccessors.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/GenerateVersionCatalogAccessors.kt
Labels: a:chore

#30128 Publish :java-api-extractor
  build-logic-commons/publishing/build.gradle.kts
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle.gradle.kts
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.publish-defaults.gradle.kts
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.publish-public-libraries.gradle.kts
  build-logic-commons/publishing/src/main/kotlin/gradlebuild/pluginpublish/extension/PluginPublishExtension.kt
  build-logic-commons/settings.gradle.kts
  build-logic/integration-testing-kotlin/build.gradle.kts
  build-logic/integration-testing-kotlin/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle-integ-tests.gradle.kts
  build-logic/java-api-extractor/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/uber-plugins/build.gradle.kts
Labels: a:chore, in:building-gradle

#30122 Clean up tests previously disabled for CC
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/CredentialsProviderIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ChangesDuringBuildContinuousIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildEventsErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ConfigurationOnDemandIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossProcessFileLockIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/GroovyClasspathIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/NestedConfigureDslIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/TaskFilePropertiesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/resource/TextResourceIntegrationTest.groovy
  subprojects/core/src/integTest/resources/org/gradle/api/resource/TextResourceIntegrationTest/shared/build.gradle
Labels: a:chore, in:configuration-cache

#30141 Polish release notes for 8.10
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#30137 chore: fix some comments
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelToDocumentMutationPlannerTest.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/DefaultTypeValidationContext.java
  platforms/core-runtime/BYTECODE-INTERCEPTION-README.md
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolutionStrategy.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/maven/ApiMavenResolver.groovy
Labels: to-triage, from:contributor

#30146 Fix issue with theming docs
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/resources/multi-language-samples.css
  platforms/documentation/docs/src/docs/css/javadoc.css
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/stylesheets/userGuideHtmlCommon.xsl
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#30136 Further refine the Declarative DSL grammar
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar_test_input.txt
Labels: in:declarative-dsl

#30163 Fix Declarative DSL tests
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/AccessInCurrentReceiverOnlyTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/AnalysisFilterTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/HiddenInDslTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/LambdaTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/LocalValueTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/OverloadResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/PropertyTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionTracerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/SerializationTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/SubtypingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/transformation/OriginReplacementTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoPlugins/PluginsDemo.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoSimple/AssignmentResolverTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/CanonicalDocumentTextGeneratorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/DomTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/MutatedDocumentTextGeneratorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DocumentTextMutationPlannerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelMutationSubtypingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelToDocumentMutationPlannerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationApplicabilityCheckerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/MutationAsTextRunnerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ScopeLocationTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/operations/overlay/DocumentOverlayTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/AccessorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/CustomLambdasTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/EmptyBlocksTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/FunctionContractTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/LambdaOverloadResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/objectGraph/AssignmentResolverTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/BasicParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ImportTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/LiteralConstantParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/RejectedLanguageFeaturesParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/StringParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/FunctionExtractorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/SchemeExtractionErrorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/TreatInterfaceAsConfigureLambdaTest.kt
Labels: in:declarative-dsl

#30165 Add problem report into the list of TC artifacts
  .teamcity/src/main/kotlin/common/extensions.kt
Labels: in:problems

#30168 Make dependency management sanity check more obvious
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
Labels: a:chore, in:dependency-locking

#30170 List deprecation warnings still expected when failing deprecation warning check in tests
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ResultAssertion.java
Labels: a:chore, in:building-gradle

#30172 Fix documentation link for binary compatibility checks
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
Labels: a:chore, in:building-gradle

#30175 Avoid duplicates in upgraded properties
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperty.java
Labels: a:bug, in:building-gradle

#30194 ProblemsApi assertions now respect `ignoreCleanupAssertions`
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: in:testing, a:chore

#30192 Restore finalizer group ordinal from the configuration cache
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheTaskExecutionIntegrationTest.groovy
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/WorkNodeCodec.kt
  subprojects/core/src/main/java/org/gradle/execution/plan/FinalizerGroup.java
Labels: a:bug, in:configuration-cache

#30204 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#30050 Introduce parallel projects configuration
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromKotlinDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsParallelConfigurationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingApiModelQueryIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/jvm/language-jvm/src/testFixtures/groovy/org/gradle/api/tasks/compile/AbstractCompilerDaemonReuseIntegrationTest.groovy
  platforms/jvm/plugins-java-base/src/testFixtures/groovy/org/gradle/java/compile/AbstractIncrementalCompileIntegrationTest.groovy
  platforms/jvm/plugins-java-base/src/testFixtures/groovy/org/gradle/java/compile/AbstractJavaGroovyCompileAvoidanceIntegrationSpec.groovy
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/JavaCompileOnlyDependencyIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/JavaProjectIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaProjectOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompileAvoidanceIntegrationSpec.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/CachedJavaCompileIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/dependencies/JavaConfigurationSetupIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-fixtures/src/testFixtures/groovy/org/gradle/java/fixtures/AbstractJavaProjectTestFixturesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ConfigurationOnDemandIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossBuildScriptCachingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ExternalScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CommandLineTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskCreationBuildOperationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/configuration/DefaultProjectsPreparer.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectConfigurer.java
  subprojects/core/src/main/java/org/gradle/execution/TaskPathProjectEvaluator.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildInclusionCoordinator.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultProjectsPreparerTest.groovy
Labels: in:isolated-projects, a:performance-improvement, has:release-notes-decision

#30034 Fix autolinks in Logging documentation
  platforms/documentation/docs/src/docs/userguide/authoring-builds/logging.adoc
Labels: a:documentation, from:contributor

#30223 Ignore for IP BuildService test that expects sequential configuration
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#30230 Fix binary compatibility check for upgraded properties
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/AbstractGradleViolationRule.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRulePostProcess.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/UpgradePropertiesRuleSetup.java
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/upgrades/UpgradedProperties.java
Labels: a:bug, in:building-gradle, p:lazy-migration

#30005 Generate random test input for parser testing based on grammars
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTreeResult.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/RandomInputParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/StringParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/random/file1.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/random/file2.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/random/file3.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/random/file4.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/random/file5.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/stringParsingTestInput_multiLine.txt
  platforms/core-configuration/declarative-dsl-core/src/test/resources/org/gradle/internal/declarativedsl/parsing/test_case_generation_grammar_BNFGEN.bnf
Labels: in:declarative-dsl

#30232 Reproduce incremental compilation bug on file typo rename
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractSourceIncrementalCompilationIntegrationTest.groovy
Labels: a:bug, in:java-plugins

#30231 Ensure CC entries are correctly cleaned up
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheCleanupIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheRepository.kt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheBuildOperationsFixture.groovy
Labels: a:bug, in:configuration-cache

#30257 Change test project layout for the stable unconfigurance assertions
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#29770 fixes gradle#23580: Replace property with explicit regex to ensure compatibility below Java 15.
  subprojects/core/src/main/java/org/gradle/util/internal/NameMatcher.java
  subprojects/core/src/test/groovy/org/gradle/util/internal/NameMatcherTest.groovy
Labels: in:scheduler, from:contributor

#30201 Extract reporting classes from core into new rendering subproject in core-runtime
  .teamcity/subprojects.json
  platforms/core-runtime/build-profile/build.gradle.kts
  platforms/core-runtime/report-rendering/build.gradle.kts
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/CodePanelRenderer.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/HtmlPageBuilder.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/HtmlReportBuilder.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/HtmlReportRenderer.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/ReportRenderer.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/TabbedPageRenderer.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/TabsRenderer.java
  platforms/core-runtime/report-rendering/src/test/groovy/org/gradle/reporting/HtmlReportRendererTest.groovy
  platforms/core-runtime/report-rendering/src/test/groovy/org/gradle/reporting/TabsRendererTest.groovy
  platforms/software/reporting/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  settings.gradle.kts
  subprojects/diagnostics/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-performance-testing/build.gradle.kts
Labels: a:chore, re:platformization

#30252 Let `ConcurrentTestUtil.poll` honor `pollIntervalInSeconds`
  testing/internal-testing/src/main/groovy/org/gradle/test/fixtures/ConcurrentTestUtil.groovy
Labels: a:chore, in:building-gradle

#30263 Set --warning-mode=none for Rich console tests
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: a:chore

#30250 Fix the cpp-unit plugin to be configuration cache compatible
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppSystemHeaderDiscoveryIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/tasks/CppUnexportMainSymbolIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/nativeplatform/tasks/AbstractUnexportMainSymbolIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/AbstractSwiftIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftCachingIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftDependenciesCppInteroperabilityIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftIncrementalCompileIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftLibraryDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftLibraryIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftParallelExecutionIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/tasks/SwiftUnexportMainSymbolIntegrationTest.groovy
  platforms/native/language-native/src/main/java/org/gradle/language/nativeplatform/tasks/UnexportMainSymbol.java
  platforms/native/language-native/src/testFixtures/groovy/org/gradle/language/AbstractNativeUnitTestComponentDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/testFixtures/groovy/org/gradle/language/cpp/AbstractCppComponentIntegrationTest.groovy
  platforms/native/language-native/src/testFixtures/groovy/org/gradle/language/swift/AbstractSwiftComponentIntegrationTest.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/NativeBinaryFixture.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/binaryinfo/NMToolFixture.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/AbstractNativeUnitTestIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cpp/plugins/CppUnitTestWithoutComponentIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestComponentIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestErrorHandlingIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestDependenciesIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestInstallation.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestWithApplicationDependenciesIntegrationTest.groovy
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/cpp/plugins/CppUnitTestPlugin.java
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/CppApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/CppLibraryInitIntegrationTest.groovy
Labels: in:native-platform

#30222 Reverse the control flow for `isolatedProjects` executor enablement
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  subprojects/core/build.gradle.kts
Labels: a:chore, in:isolated-projects

#30205 Enable `isolatedProjects` tests in `:plugins-java-library`
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryDocumentationIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryFeatureCompilationIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryOutgoingVariantsIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#30148 Migrate InitBuild to provider API
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  testing/architecture-test/src/changes/accepted-changes/init-build-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: in:build-init-plugin, p:lazy-migration

#30076 Upgrade Pmd task and PmdExtension to use lazy properties
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/Pmd.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdExtension.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdPlugin.java
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/PmdPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, in:provider-api, p:lazy-migration

#30066 Upgrade Groovydoc
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/javadoc/Groovydoc.java
  platforms/jvm/language-groovy/src/test/groovy/org/gradle/api/tasks/javadoc/GroovydocTest.groovy
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/plugins-groovy/src/test/groovy/org/gradle/api/plugins/GroovyBasePluginTest.groovy
  platforms/jvm/plugins-groovy/src/test/groovy/org/gradle/api/plugins/GroovyPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: a:chore, p:lazy-migration

#30065 Upgrade GroovyCompileOptions
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/MinimalGroovyCompileOptions.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompileOptions.java
  platforms/jvm/language-groovy/src/test/groovy/org/gradle/api/tasks/compile/GroovyCompileOptionsTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: a:chore, p:lazy-migration

#30224 Migrate Help task to provider API
  subprojects/diagnostics/src/integTest/groovy/org/gradle/configuration/HelpTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/configuration/Help.java
Labels: p:lazy-migration

#30277 Preserve annotation default values when extracting Java APIs
  build-logic/java-api-extractor/src/main/java/org/gradle/internal/tools/api/impl/AnnotationValue.java
  build-logic/java-api-extractor/src/main/java/org/gradle/internal/tools/api/impl/ApiMemberSelector.java
  build-logic/java-api-extractor/src/main/java/org/gradle/internal/tools/api/impl/JavaApiMemberWriter.java
  build-logic/java-api-extractor/src/main/java/org/gradle/internal/tools/api/impl/MethodMember.java
  build-logic/java-api-extractor/src/test/groovy/org/gradle/internal/tools/api/ApiClassExtractorAnnotationsTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:bug

#30245 Upgrade Javadoc task
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/internal/JavadocExecutableUtils.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/tasks/javadoc/JavadocTest.groovy
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: a:chore, p:lazy-migration

#30288 Migrate kotlin dsl tasks to provider api
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/PrecompiledScriptPlugin.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ExtractPrecompiledScriptPluginPlugins.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateScriptPluginAdapters.kt
Labels: in:kotlin-dsl, p:lazy-migration

#30261 Update kotlinx-metadata library and replace deprecated API usage
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/binary-compatibility/build.gradle.kts
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/metadata/HasKotlinFlagsMetadataQuery.kt
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/metadata/KotlinMetadataQueries.kt
Labels: in:kotlin-dsl

#30296 Fix CC compatibility in some tests
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/BuildSessionServiceReuseContinuousIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/DeploymentContinuousBuildIntegrationTest.groovy
  platforms/software/reporting/src/integTest/groovy/org/gradle/api/reporting/internal/TaskReportContainerIntegTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/GradleBuildTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
Labels: a:chore

#30281 Migrate PluginUnderTestMetadata task to provider API
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/PluginUnderTestMetadata.java
  testing/architecture-test/src/changes/accepted-changes/plugin-under-test-metadata-public-api-changes.json
Labels: p:lazy-migration

#30313 Use fixed API extractor to generate public API JAR
  gradle/wrapper/gradle-wrapper.properties
Labels: a:bug, in:building-gradle

#30311 Prepare for release 8.10.1
  platforms/documentation/docs/src/docs/release/notes.md
  released-versions.json
  version.txt
Labels: a:chore

#30317 Revert detached configuration root ID to a unchanged project ID
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/service/scopes/DetachedDependencyMetadataProvider.java
Labels: a:regression, in:dependency-resolution

#30322 Add release note for dependency res fix
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#29752 Ensure sorting of the native sources prior to discovering the header dependencies
  platforms/native/language-native/src/main/java/org/gradle/language/nativeplatform/internal/incremental/DefaultIncrementalCompilerBuilder.java
Labels: in:native-platform, from:contributor

#30328 Fix kotlin custom configuration documentation example
  platforms/documentation/docs/src/docs/userguide/dep-man/basics/dependency_configurations.adoc
Labels: in:dependency-declarations, a:documentation, from:contributor

#30330 Document potential failure with JREs and `JavaCompile`
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: in:toolchains, in:java-plugins, a:documentation

#30325 Restore some native plugin test coverage on macOS machines
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/NativeIdeSamplesIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/AbstractXcodeCppProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/AbstractXcodeNativeProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeCppApplicationProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/XcodeSingleCppProjectIntegrationTest.groovy
  platforms/ide/ide-native/src/integTest/groovy/org/gradle/ide/xcode/fixtures/AbstractXcodeIntegrationSpec.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/AbstractNativeLanguageIncrementalBuildIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationPublishingIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppToolChainChangesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/nativeplatform/NativeLanguageSamplesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/objectivec/MixedObjectiveCIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftIncrementalBuildIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftIncrementalCppInteroperabilityIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/BinaryFlavorsIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/LibraryApiDependenciesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/LibraryBinariesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/LibraryDependenciesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativePlatformSamplesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/PrebuiltLibrariesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/platform/BinaryNativePlatformIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/sourceset/SourceSetLinkDependenciesIntegrationTest.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/language/swift/AbstractSwiftMixedLanguageIntegrationTest.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/AvailableToolChains.java
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/app/MixedObjectiveCHelloWorldApp.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/app/PlatformDetectingTestApp.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/binaryinfo/OtoolBinaryInfo.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestComponentIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/AbstractSwiftXCTestIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestCppInteroperabilityIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestErrorHandlingIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestDependenciesIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestInstallation.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestTestFrameworkIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/XCTestWithApplicationDependenciesIntegrationTest.groovy
  platforms/native/tooling-native/src/crossVersionTest/groovy/org/gradle/language/cpp/tooling/r410/CppModelCrossVersionSpec.groovy
  platforms/native/tooling-native/src/crossVersionTest/groovy/org/gradle/language/cpp/tooling/r52/CppModelCrossVersionSpec.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/CppLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftLibraryInitIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  testing/internal-testing/src/main/groovy/org/gradle/test/preconditions/UnitTestPreconditions.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: in:native-platform

#30335 Add missing anchors that are used by deprecations
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#30334 Fix invalid syntax that broke deprecation linking to anchor
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#30326 Compile base-asm to Java6 bytecode
  platforms/core-runtime/base-asm/build.gradle.kts
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/BytecodeFragment.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/ClassGeneratorSuffixRegistry.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/ClassVisitorScope.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:bug, in:testing-testng

#30293 Remove discouraged getPlugins() calls from doc snippets
  platforms/documentation/docs/src/snippets/developingPlugins/capabilitiesVsConventions/groovy/buildSrc/src/main/java/MyPlugin.java
  platforms/documentation/docs/src/snippets/developingPlugins/reactingToPlugins/groovy/buildSrc/src/main/java/InhouseConventionJavaPlugin.java
  platforms/documentation/docs/src/snippets/developingPlugins/reactingToPlugins/groovy/buildSrc/src/main/java/InhouseStrongOpinionConventionJavaPlugin.java
  platforms/documentation/docs/src/snippets/java/toolchain-management/groovy/buildSrc/src/main/java/org/myorg/JavaToolchainResolverPlugin.java
  platforms/documentation/docs/src/snippets/java/toolchain-management/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/java/toolchain-management/kotlin/settings.gradle.kts
Labels: a:documentation, from:contributor

#30344 Clarify that [ can only be used as replacement for ) when it's bounded
  platforms/documentation/docs/src/docs/userguide/dep-man/02-declaring-dependency-versions/single_versions.adoc
Labels: in:dependency-declarations, a:documentation, from:contributor
