Repository gradle/gradle, pull requests merged in 2024-05, with the labels that each got.

#29017 Add some more content to architecture documentation
  CONTRIBUTING.md
  architecture/README.md
  architecture/build-state-model.md
  architecture/platforms.md
  architecture/runtimes.md
  settings.gradle.kts
Labels: 5 min review, build-script-change

#29021 doc(runningGradleBuilds.tutorial): fix task declaration
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part2_gradle_tasks.adoc
Labels: a:chore, a:documentation, from:contributor, 1 min review, in:tutorial

#28819 Fix error prone warnings in :core-execution
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DecoratedPropertyProblem.kt
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/DefaultExecutionStateChangeDetector.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/DescriptiveChange.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/changes/ExecutionStateChanges.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepository.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/history/impl/FileCollectionFingerprintSerializer.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/InputNormalizer.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputFilePropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/ServiceReferencePropertyAnnotationHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/CancelExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/CaptureOutputsAfterExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/SkipUpToDateStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/TimeoutStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/history/impl/DefaultOutputFilesRepositoryTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/ResolveChangesStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipUpToDateStepTest.groovy
  platforms/core-execution/hashing/build.gradle.kts
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheCoordinator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultFileLockManager.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultInMemoryCacheDecoratorFactory.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/FixedExclusiveModeCrossProcessCacheAccess.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/Loader.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/LoggingEvictionListener.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/ProducerGuard.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/Stash.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/btree/FreeListBlockStore.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/cacheops/CacheAccessOperationsStack.java
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/LoggingEvictionListenerTest.groovy
  platforms/core-execution/snapshots/build.gradle.kts
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/fingerprint/DirectorySensitivity.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/fingerprint/impl/DefaultFileSystemLocationFingerprint.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/snapshot/SnapshotUtil.java
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/vfs/impl/DefaultFileSystemAccess.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/workers/build.gradle.kts
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/ClassLoaderStructureProvider.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkersServices.java
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore, in:execution-engine, 10 min review, build-script-change

#29025 Report type validation problems from DefaultNodeValidator
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultNodeValidator.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/ReceivedProblem.groovy
Labels: 1 min review

#28887 Fix ErrorProne warnings in :file-collections and :input-tracking
  platforms/core-configuration/file-collections/build.gradle.kts
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileCollection.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionBackedFileTree.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/LazilyInitializedFileCollection.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/UnpackingVisitor.java
  platforms/core-configuration/input-tracking/build.gradle.kts
  platforms/core-configuration/input-tracking/src/main/java/org/gradle/internal/configuration/inputs/AccessTrackingProperties.java
Labels: a:chore, 1 min review, build-script-change

#29031 Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: in:building-gradle, a:documentation, from:contributor, 1 min review

#28281 Implement diagnostic to problem conversion using internal compiler APIs
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorIntegrationTest.groovy
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/JpmsConfiguration.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonJvmSettingsIntegrationTest.groovy
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/internal/logging/console/taskgrouping/AbstractConsoleDeprecationMessageGroupedTaskFunctionalTest.groovy
  platforms/documentation/docs/src/snippets/java-library/module-disabled/tests/buildJavaModule.out
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/enduser/GradleRunnerConsoleInputEndUserIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/GradleCoreProblemGroup.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/IncrementalCompileTask.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/DefaultGroovyJavaJointCompileSpecFactory.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompilerFactory.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyServices.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/daemon/DaemonGroovyCompiler.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AbstractJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/ContextAwareJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DaemonJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompilerFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/ForkingJavaCompileSpec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/IncrementalCompilationAwareJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaHomeBasedJavaCompilerFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkTools.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DefaultJavaCompilerFactoryTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/JdkToolsTest.groovy
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/internal/tasks/compile/daemon/AbstractDaemonCompiler.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/daemon/JavaCompilerDaemonReuseIntegrationTest.groovy
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/ReceivedProblem.groovy
Labels: a:feature, in:java-plugins, in:problems, 20 min review

#29010 Extract PluginAuthorServices from plugins project
  platforms/jvm/language-jvm/src/main/java/org/gradle/language/jvm/internal/JvmPluginServiceRegistry.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/JvmLanguageUtilsServiceRegistry.java
  platforms/jvm/plugins-java-base/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/service/PublishServices.java
  subprojects/plugins/build.gradle.kts
  subprojects/plugins/src/main/java/org/gradle/api/plugins/internal/PluginAuthorServices.java
  subprojects/plugins/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: 1 min review, 5 min review, re:platformization, build-script-change, ⚠️ Lacks Tests

#29019 GitHub actions: move permissions down to the jobs
  .github/workflows/auto-assign-pr-to-author.yml
  .github/workflows/check-bad-merge.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/contributor-pr.yml
  .github/workflows/feedback.yml
  .github/workflows/issue-metadata.yml
  .github/workflows/notify-on-rc-for-manual-test.yml
  .github/workflows/pull-metadata.yml
  .github/workflows/slack-notifier.yml
  .github/workflows/stale-pr.yml
  .github/workflows/submit-github-dependency-graph.yml
  .github/workflows/team-triage-stale.yml
Labels: 5 min review

#29041 Fully remove plugins subproject
  .teamcity/subprojects.json
  .teamcity/test-buckets.json
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/api/plugins/BuildSrcPluginIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/compile/daemon/ParallelCompilerDaemonIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/java/ParallelTestTaskIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/resources/org/gradle/compile/daemon/ParallelCompilerDaemonIntegrationTest/shared/GroovyClass.groovy
  platforms/extensibility/plugin-development/src/integTest/resources/org/gradle/compile/daemon/ParallelCompilerDaemonIntegrationTest/shared/JavaClass.java
  platforms/extensibility/plugin-development/src/integTest/resources/org/gradle/compile/daemon/ParallelCompilerDaemonIntegrationTest/shared/build.gradle
  platforms/extensibility/plugin-development/src/main/java/org/gradle/initialization/buildsrc/GradlePluginApiVersionAttributeConfigurationAction.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/initialization/buildsrc/GroovyBuildSrcProjectConfigurationAction.java
  platforms/extensibility/plugin-development/src/main/resources/META-INF/services/org.gradle.initialization.buildsrc.BuildSrcProjectConfigurationAction
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/ide/ide/build.gradle.kts
  platforms/jvm/ear/build.gradle.kts
  platforms/jvm/java-platform/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/war/build.gradle.kts
  platforms/native/language-native/build.gradle.kts
  platforms/software/antlr/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/plugins/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/integ-test/build.gradle.kts
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithPluginValidation.groovy
Labels: 5 min review, re:platformization, build-script-change, ⚠️ Includes TODOs

#29051 Remove unused internal interface `CredentialListener`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/PropertyProblem.kt
  subprojects/core/src/main/java/org/gradle/api/internal/credentials/CredentialListener.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: a:chore, in:configuration-cache, 1 min review

#29034 Introduce types to manage the state of the build process and daemon
  .teamcity/subprojects.json
  architecture/build-state-model.md
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/core-runtime/build-state/build.gradle.kts
  platforms/core-runtime/build-state/src/main/java/org/gradle/internal/buildprocess/BuildProcessState.java
  platforms/core-runtime/build-state/src/main/java/org/gradle/internal/buildprocess/package-info.java
  platforms/core-runtime/launcher/build.gradle.kts
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/ForegroundDaemonAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonClientFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonGreeter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/JvmVersionValidator.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/registry/DaemonDir.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/registry/DaemonRegistry.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/Daemon.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonLogFile.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonProcessState.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonStateCoordinator.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonStopState.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/MasterExpirationStrategy.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/api/DaemonStateControl.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/health/DaemonHealthCheck.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/health/DaemonHealthStats.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/health/HealthExpirationStrategy.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/health/gc/GarbageCollectorMonitoringStrategy.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/package-info.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/scaninfo/DaemonScanInfo.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/stats/DaemonRunningStats.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ConnectionScopeServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ShutdownCoordinator.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonServicesTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonStateCoordinatorTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/tooling/internal/provider/ConnectionScopeServicesTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/ProtocolToModelAdapter.java
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  testing/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-integ-testing/build.gradle.kts
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: 30 min review, build-script-change

#29055 Publish 8.8-20240508013836+0000
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestOperationMapper.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TestLauncherSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r70/TestDisplayNameJUnit5CrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r75/CustomTestTaskProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/TestDisplayNameSpockCrossVersionSpec.groovy
  released-versions.json
Labels: 5 min review

#28983 Publish 8.8-rc-1
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
Labels: 1 min review

#28985 Fix getClass on enum classes
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/EnumValueSnapshot.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedEnumValueSnapshot.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/Type1.groovy
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/IsolatableSerializerRegistryTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildConfigurationAttributesResolveIntegrationTest.groovy
Labels: a:chore, 1 min review, build-script-change

#29050 Fix task selection problem reports
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryDocumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/DefaultTaskSelector.java
  subprojects/core/src/main/java/org/gradle/execution/selection/DefaultBuildTaskSelector.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/util/internal/NameMatcher.java
  subprojects/core/src/test/groovy/org/gradle/execution/selection/DefaultBuildTaskSelectorTest.groovy
  testing/integ-test/src/integTest/groovy/org/gradle/integtests/TaskErrorExecutionIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: 10 min review

#29007 Improve resolution messages in the gradle/gradle build
  build-logic-commons/module-identity/src/main/kotlin/gradlebuild.module-jar.gradle.kts
Labels: 1 min review

#28748 Add missing deprecation logs.
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
Labels: 1 min review, platform:software

#29060 Test lifecycle callbacks on tooling model incremental cache hits
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiGradleLifecycleIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/build/BuildModelControllerServices.java
Labels: in:isolated-projects, 10 min review

#29073 Publish 8.8-20240509011633+0000
  platforms/extensibility/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/ResolvingSnapshotFromPluginRepositorySpec.groovy
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultMutableVersionConstraint.java
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/DependencyResolutionServices.java
Labels: 5 min review

#28798 fix(kotlin-dsl): unable to use `events = setOf()` in testLogging
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/internal/logging/console/jvm/AbstractConsoleJvmTestLoggingFunctionalTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/DefaultTestLogging.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/TestEventLoggerTest.groovy
Labels: a:bug, from:contributor

#29068 Defend against a missing WindowsRegistry service
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesTest.groovy
  platforms/jvm/jvm-services/build.gradle.kts
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/WindowsInstallationSupplier.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/WindowsInstallationSupplierTest.groovy
Labels: platform:jvm, build-script-change, platform:core_runtime

#29079 Bamboo/maintenance/dispatchers
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/dispatch/MethodInvocation.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/BroadcastDispatch.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/BuildOperationCrossProjectConfigurator.java
  subprojects/core/src/main/java/org/gradle/listener/ClosureBackedMethodInvocationDispatch.java
Labels: a:chore, 1 min review

#29083 Preserve Develocity build lifecycle service behavior when Isolated Projects is not enabled
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityBuildLifecycleServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultDevelocityBuildLifecycleService.java
Labels: in:develocity-plugin, in:isolated-projects, 5 min review

#29056 Disable IP executer tests by default
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
Labels: 1 min review

#28971 If a variant cannot be selected because there are no variants, mentio…
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/AbstractConfigurationAttributesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/IncompatibleGraphVariantsFailureDescriber.java
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildDependencyGraphIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
Labels: a:feature, in:dependency-resolution, from:contributor, 1 min review, 10 min review, re:comprehensibility, ⚠️ Includes TODOs

#29089 Publish 8.8-20240510011853+0000
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityBuildLifecycleServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultDevelocityBuildLifecycleService.java
  platforms/jvm/jvm-services/build.gradle.kts
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/WindowsInstallationSupplier.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/WindowsInstallationSupplierTest.groovy
  released-versions.json
Labels: 5 min review, build-script-change

#29008 Support polymorphism in Tooling API model interfaces
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/BaseModel.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ToolingApiPolymorphismCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/ToolingModelContract.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/ProtocolToModelAdapter.java
Labels: 20 min review

#21959 Init task warns and confirms overwriting if the current directory is non-empty
  platforms/documentation/docs/src/docs/dsl/org.gradle.buildinit.tasks.InitBuild.xml
  platforms/documentation/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/plugins/NativeComponentModelPluginTest.groovy
  platforms/software/build-init/build.gradle.kts
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BasicTypeInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitInteractiveIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginGoodBehaviourIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/BuildInitPluginIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/CppApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/CppLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/GroovyApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/GroovyLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/JavaLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/ScalaLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/SwiftLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/BuildInitPlugin.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/BuildInitException.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  platforms/software/build-init/src/test/groovy/org/gradle/buildinit/tasks/InitBuildSpec.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
Labels: in:build-init-plugin, a:feature, from:contributor, 30 min review, build-script-change

#28653 Decouple version conflict error handling
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r32/ResolutionExceptionSerializableCrossVersionSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RepositoriesDeclaredInSettingsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolveConfigurationDependenciesBuildOperationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ScriptDependencyResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsAndResolutionStrategiesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/versions/VersionConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveExceptionContextualizer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveExceptionMapper.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultUnlockedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionHost.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/TypedResolveException.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSetToFileCollectionFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/FailOnVersionConflictGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/VersionConflictException.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformStepNode.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ResolveException.java
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildExceptionReporterTest.groovy
Labels: 30 min review, platform:software, platform:ide

#28455 Reimplement toolchain provisioning to be less flaky
  .teamcity/subprojects.json
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectory.java
  platforms/jvm/toolchains-jvm-shared/src/test/groovy/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectoryTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk-with-symlinks.tar.gz
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk.tar.gz
  platforms/jvm/toolchains-jvm-shared/src/test/resources/org/gradle/jvm/toolchain/internal/install/jdk.zip
  platforms/jvm/toolchains-jvm/build.gradle.kts
  platforms/jvm/toolchains-jvm/src/crossVersionTest/groovy/org/gradle/jvm/toolchain/internal/install/ProvisionedJdkReuseCrossVersionIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleDistribution.java
  testing/soak/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSoakTest.groovy
Labels: a:bug, in:toolchains, 20 min review, platform:jvm, platform:documentation, platform:build_infrastructure, build-script-change

#29096 Software type plugins can only expose exactly one software type
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTarget.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/plugins/SoftwareTypeRegistrationPluginTargetTest.groovy
Labels: in:plugin-development, 10 min review

#29047 IP executer is being treated as a CC executer
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleContextualExecuter.java
Labels: 1 min review

#29071 Attempt to improve cache hits by removing a CI-only action from Test …
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
Labels: 1 min review

#28656 Avoid parent metadata reference for local components
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationPublications.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultVariant.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/LeafOutgoingVariant.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/OutgoingVariant.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/clientmodule/ClientModuleResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/LocalConfigurationMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/LenientPlatformResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractLazyModuleComponentResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/AbstractRealisedModuleComponentResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ExternalModuleDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/GradleDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/AbstractComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/ComponentGraphResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DefaultComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphSelectionCandidates.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionCandidateAssessor.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationPublicationsTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/CachedCodePathComponentMetadataProcessorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/AbstractMutableModuleComponentResolveMetadataTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/DefaultMavenModuleResolveMetadataTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/VariantFilesMetadataRulesTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/local/model/DefaultLocalComponentMetadataTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
Labels: 20 min review, platform:software

#29094 Disable IP tests more precisely
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
Labels: 1 min review

#29059 Run IP tests in PRF stage
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/test-buckets.json
Labels: 5 min review

#29075 Adapt Declarative DSL performance test to recent changes and re-enable it
  .teamcity/performance-tests-ci.json
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/DeclarativeDslTestProjectGenerator.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/experiment/declarativedsl/DeclarativeDslFirstUsePerformanceTest.groovy
Labels: 20 min review, in:declarative-dsl

#29093 Use guava cache instead of Map for CachingToolingImplementationLoader
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/loader/CachingToolingImplementationLoader.java
  platforms/ide/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/loader/CachingToolingImplementationLoaderTest.groovy
Labels: 1 min review

#29115 Fix project health for extensibility subprojects
  gradle.properties
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/test-kit/build.gradle.kts
Labels: 1 min review, re:platformization, build-script-change

#29104 Fix project health for testing subprojects
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle.properties
  subprojects/distributions-dependencies/build.gradle.kts
  testing/internal-integ-testing/build.gradle.kts
  testing/internal-performance-testing/build.gradle.kts
  testing/internal-testing/build.gradle.kts
  testing/performance/build.gradle.kts
Labels: 10 min review, re:platformization, build-script-change, ⚠️ Lacks Tests

#29125 Publish 8.8-20240514011648+0000
  build-logic-commons/build-platform/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
  released-versions.json
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedDevelocityPlugin.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
Labels: 1 min review, build-script-change

#29129 Fix BuildScanIntegrationTest
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScanIntegrationTest.kt
Labels: 1 min review, platform:kotlin_dsl, platform:core_configuration

#29131 Move ConfigurationCacheGradlePropertiesIntegrationTest out of flaky test quarantine
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheGradlePropertiesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/SystemPropertiesCompositeBuildFixture.groovy
Labels: p:flaky-fix-it, 1 min review, platform:core_configuration

#29136 Add a test for empty blocks behavior in DCL mapping to JVM objects
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/EmptyBlocksTest.kt
Labels: 10 min review, in:declarative-dsl

#29128 Fix flaky documentation test
  platforms/documentation/docs/src/snippets/buildlifecycle/basic/tests/buildlifecycle.sample.conf
  platforms/documentation/docs/src/snippets/developingPlugins/testingPlugins/groovy/url-verifier-plugin/src/main/java/org/myorg/http/DefaultHttpCaller.java
  platforms/documentation/docs/src/snippets/developingPlugins/testingPlugins/kotlin/url-verifier-plugin/src/main/java/org/myorg/http/DefaultHttpCaller.java
Labels: p:flaky-fix-it

#29133 Set Gradle user home outside of test project to fix flakiness in NativeServicesIntegrationTest
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
Labels: p:flaky-fix-it, 1 min review

#29099 Make SoftwareType annotations default the public type to the method return type
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistry.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/SoftwareTypeAnnotationHandler.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareTypeRegistryTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/internal/plugins/software/SoftwareType.java
Labels: a:chore, in:plugin-development, 1 min review

#29102 Upgrade tested AGP versions
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/ide/AndroidStudioProvisioningPlugin.kt
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  gradle/dependency-management/agp-versions.properties
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/SelfResolvingDependencyIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultFileCollectionDependency.java
  subprojects/distributions-dependencies/build.gradle.kts
Labels: 1 min review, build-script-change

#29081 Capture cache cleanup stats in build operation
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheRepository.kt
  platforms/core-execution/build-cache-local/src/integTest/groovy/org/gradle/caching/local/internal/AbstractBuildCacheCleanupIntegrationTest.groovy
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/CacheCleanupStrategy.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/CleanupFrequency.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/BuildOperationCleanupActionDecorator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CacheCleanupBuildOperationType.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CacheFactory.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CleanupActionDecorator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheBuilder.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheCleanupExecutor.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheFactory.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCleanupProgressMonitor.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryCache.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryStore.java
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheBuilderTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultPersistentDirectoryCacheTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultPersistentDirectoryStoreTest.groovy
  platforms/software/version-control/build.gradle.kts
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/services/DefaultVersionControlRepositoryFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/services/VersionControlServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/cache/DefaultCacheConfigurations.java
  subprojects/core/src/main/java/org/gradle/cache/internal/VersionSpecificCacheCleanupAction.java
  subprojects/core/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  subprojects/core/src/main/java/org/gradle/internal/session/BuildSessionScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/cache/DefaultCacheConfigurationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
Labels: in:build-cache, 30 min review, build-script-change

#29148 Publish 8.8-20240515011607+0000
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheGradlePropertiesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/SystemPropertiesCompositeBuildFixture.groovy
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScanIntegrationTest.kt
  released-versions.json
Labels: 1 min review

#29132 Introduce `@ToBeFixedForIsolatedProjects`
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForConfigurationCacheExtension.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForConfigurationCacheRule.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjects.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjectsExtension.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedSpecInterceptor.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithConfigurationCacheExtension.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/UnsupportedWithConfigurationCacheRule.groovy
Labels: 20 min review, 5 min review

#29143 Fix flakiness of MissingTaskDependenciesIntegrationTest with configuration cache
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
Labels: p:flaky-fix-it, in:work-validation, 1 min review

#29082 Fix for <optional> content with leading/trailing whitespace
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReader.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReaderTest.groovy
Labels: in:maven-integration, from:contributor, 1 min review

#29151 Publish tooling models for Declarative DSL
  platforms/core-configuration/declarative-dsl-tooling-models/build.gradle.kts
Labels: 1 min review, build-script-change, in:declarative-dsl

#29095 Update MINA SSHD version
  platforms/software/version-control/src/test/groovy/org/gradle/vcs/git/internal/GitVersionControlSystemSpec.groovy
  subprojects/distributions-dependencies/build.gradle.kts
Labels: in:source-dependencies, from:contributor, 1 min review, build-script-change

#29153 Build the project schema model before the configuration phase
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeSchemaRegistry.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/StoringInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServiceRegistry.kt
  platforms/core-configuration/declarative-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/declarative/dsl/tooling/builders/r89/DeclarativeDslToolingModelsCrossVersionTest.groovy
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/DeclarativeSchemaModelBuilder.kt
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/internal/ToolingModelServices.kt
Labels: 1 min review, build-script-change, in:declarative-dsl

#29137 LightTree source data improvements
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/LanguageTreeBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/LightTreeUtil.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/Parser.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/DomTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/BasicParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ParseTestUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/prettyPrintResults.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
Labels: 10 min review, build-script-change, in:declarative-dsl

#29139 Fix project health for enterprise platform
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  gradle.properties
  platforms/enterprise/enterprise-logging/build.gradle.kts
  platforms/enterprise/enterprise-plugin-performance/build.gradle.kts
  platforms/enterprise/enterprise/build.gradle.kts
Labels: 1 min review, re:platformization, build-script-change, ⚠️ Lacks Tests

#29120 Add `buildTreePath` for isolated project view
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/project/IsolatedProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultIsolatedProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
Labels: in:isolated-projects, 1 min review

#29155 Add extra debug logging to `BuildPhaseOperationEventCrossVersionTest`
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r76/BuildPhaseOperationEventCrossVersionTest.groovy
Labels: a:chore, in:tooling-api, 1 min review

#29171 Fix GitHub code owner list
  .github/CODEOWNERS
Labels: 1 min review, in:declarative-dsl

#29157 Fix ValidatePlugins test performance
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/AbstractPluginValidationIntegrationSpec.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/CommonPluginValidationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/CommonPluginValidationTrait.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimeCommonPluginValidationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/RuntimePluginValidationTrait.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart1IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart2IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValitdatePluginsTrait.groovy
Labels: p:flaky-fix-it, 30 min review

#29063 Fix incorrect problem length when reporting compilation problems
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
Labels: in:java-plugins, in:problems, 1 min review

#29174 increase lowest tested version for cross version tests
  build-logic-commons/module-identity/src/main/kotlin/gradlebuild/identity/extension/ReleasedVersionsDetails.kt
Labels: 1 min review

#29172 Fix publishing Declarative DSL tooling models
  platforms/core-configuration/declarative-dsl-api/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-models/build.gradle.kts
Labels: 1 min review, build-script-change, in:declarative-dsl

#29181 Rebaseline performance tests to fix new DCL test projects not understood by older Gradle
  gradle.properties
Labels: 1 min review

#29028 Introduce more checks for Declarative DSL: reassignment and block order
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionOutput.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/objectGraph/AssignmentResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/objectGraph/AssignmentTrace.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/objectGraph/AssignmentResolverTest.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/checks/DocumentCheck.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/EvaluationSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/EvaluationSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/SchemaBuildingWithComponents.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeDslNotEvaluatedException.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/plugins/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/plugins/schema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslScriptPluginFactory.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsBlocksCheck.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/settings/SettingsBlockCheckTest.kt
Labels: 30 min review, build-script-change, in:declarative-dsl

#29175 Add upgrading guide section for gradle-enterprise extension deprecation
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/BuildScanIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: platform:documentation, platform:kotlin_dsl, platform:core_configuration

#29158 Support empty blocks for configuring functions in DCL
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultAnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/FunctionCallResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/Resolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/context.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/resolution.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/FunctionBinding.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/objectGraph/reflectObject.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/AccessorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/EmptyBlocksTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/FunctionContractTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromGradleExtensions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/FunctionSemantics.kt
Labels: 20 min review, in:declarative-dsl

#29138 Fix project-health for native platform
  gradle.properties
  platforms/native/language-native/build.gradle.kts
  platforms/native/platform-native/build.gradle.kts
  platforms/native/testing-native/build.gradle.kts
  platforms/native/tooling-native/build.gradle.kts
Labels: 5 min review, re:platformization, build-script-change

#29168 Enable type-safe project accessor tests for CC
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/typesafe/TypeSafeProjectAccessorsIntegrationTest.groovy
Labels: @configuration-cache, in:project-accessors, 1 min review

#29197 Add `ToBeFixedForIsolatedProjectsRule`
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationTest.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ExpectingFailureRuleStatement.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForConfigurationCacheRule.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ToBeFixedForIsolatedProjectsRule.groovy
Labels: 5 min review

#29198 Fix misc issue related to Declarative DSL models
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultAnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/DeclarativeSchemaModelBuilder.kt
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/FunctionSemantics.kt
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/BaseModel.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ToolingApiPolymorphismCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/ProtocolToModelAdapter.java
Labels: 5 min review, in:declarative-dsl

#29185 Inroduce `service-provider` module
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-builders/build.gradle.kts
  platforms/core-execution/build-cache-http/build.gradle.kts
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/build-profile/build.gradle.kts
  platforms/core-runtime/build-state/build.gradle.kts
  platforms/core-runtime/daemon-services/build.gradle.kts
  platforms/core-runtime/native/build.gradle.kts
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/services/NativeServicesInitializationTest.groovy
  platforms/core-runtime/service-provider/build.gradle.kts
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistration.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/scopes/AbstractPluginServiceRegistry.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/scopes/PluginServiceRegistry.java
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/unit-test-fixtures/build.gradle.kts
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/platform-jvm/build.gradle.kts
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactory.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/detection/ForkedTestClasspathFactoryTest.groovy
  platforms/jvm/toolchains-jvm/build.gradle.kts
  platforms/native/language-native/build.gradle.kts
  platforms/native/platform-native/build.gradle.kts
  platforms/native/testing-native/build.gradle.kts
  platforms/native/tooling-native/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/ivy/build.gradle.kts
  platforms/software/maven/build.gradle.kts
  platforms/software/platform-base/build.gradle.kts
  platforms/software/publish/build.gradle.kts
  platforms/software/resources-gcs/build.gradle.kts
  platforms/software/resources-http/build.gradle.kts
  platforms/software/resources-s3/build.gradle.kts
  platforms/software/resources-sftp/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  platforms/software/version-control/build.gradle.kts
  settings.gradle.kts
  subprojects/build-events/build.gradle.kts
  subprojects/composite-builds/build.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/diagnostics/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: 5 min review, build-script-change

#28661 `unset()` should restore property to initial state if no convention set
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueState.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CollectionPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
  platforms/core-configuration/model-core/src/testFixtures/groovy/org/gradle/api/internal/provider/PropertySpec.groovy
Labels: 5 min review

#29180 Fix convention mapping compatibility for DirectoryProperty and RegularFileProperty
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/ProviderConventionMappingIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/ConventionAwareHelper.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileSystemLocationProperty.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/file/FileSystemLocationPropertyInternal.java
Labels: 5 min review

#29186 Remove unnecessary classloader optimization
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
Labels: a:chore, 1 min review

#29201 Do not canonicalize path of persistent cache
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheFactory.java
Labels: in:execution-engine, 1 min review

#29145 Enable `isolatedProjectsIntegTest` on `:enterprise` subproject
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityBuildLifecycleServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/core/BuildScanAutoApplyClasspathIntegrationTest.groovy
Labels: a:chore, in:isolated-projects, 1 min review, build-script-change

#29200 Let `GradleLifecycle` callbacks preserve user code application context
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/code/DefaultUserCodeApplicationContext.java
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIsolationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
Labels: a:feature, in:configuration-model, 5 min review

#29165 Enforce order between tasks to avoid flakiness
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/rules/OverlappingOutputsIntegrationTest.groovy
Labels: p:flaky-fix-it, 1 min review

#29219 Fix typo in project_properties.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/project_properties.adoc
Labels: a:documentation, from:contributor

#29164 Add tests for lifecycle callbacks access to surrounding methods
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromKotlinDslIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/invocation/GradleLifecycleIsolationIntegrationTest.groovy
Labels: in:isolated-projects, 10 min review

#29192 Fix failing toolchain tests
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetector.java
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectory.java
  platforms/jvm/toolchains-jvm/src/crossVersionTest/groovy/org/gradle/jvm/toolchain/internal/install/ProvisionedJdkReuseCrossVersionIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleDistribution.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
  testing/soak/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadComplexProjectSoakTest.groovy
  testing/soak/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSoakTest.groovy
Labels: in:toolchains, 5 min review

#29228 Upgrade to IDE starter 0.3
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/AbstractIdeaSyncTest.groovy
Labels: 1 min review

#29202 Enable IP tests for `:core`
  subprojects/core/build.gradle.kts
  subprojects/core/src/integTest/groovy/org/gradle/api/BuildScriptErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ConfigurationOnDemandIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossBuildScriptCachingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/DynamicMethodLookupIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/DynamicObjectIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ExternalScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/FinalizerTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/InitScriptExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ProducerTaskCommandLineOrderIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ProjectConfigurationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/plugins/ApplyPluginBuildOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/userinput/UserInputHandlingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/services/BuildServiceParallelExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractDirectorySensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractLineEndingSensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedCustomTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CommandLineTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskConfigurationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeferredTaskFailureIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DeleteTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/GradleBuildTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskCreationBuildOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskSelectionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/bundling/ConcurrentArchiveIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/MultipleTaskOptionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/TaskOptionFailureIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheCompositeConfigurationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/configuration/ExecuteUserLifecycleListenerBuildOperationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/TaskSelectorsAndOrdinalNodeIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/ParallelTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/RuleTaskBridgingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/RuleTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcIdentityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcVisibilityIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/operations/logging/LoggingBuildOperationProgressIntegTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/operations/configuration/IsolatedProjectsSettingsBuildOperationsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/plugin/ScriptPluginClassLoadingIntegrationTest.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: 10 min review, build-script-change

#29220 Stop using external libraries in version limited tooling-api code
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/adapter/ProtocolToModelAdapter.java
Labels: 1 min review

#29218 Revert org.gradle.native behaviour
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/NativeServicesInitializingAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
Labels: in:internal-native-libraries

#29232 Switch to using the right distribution plugins in Declarative DSL modules
  platforms/core-configuration/declarative-dsl-api/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-models/build.gradle.kts
Labels: 1 min review, build-script-change, in:declarative-dsl

#28929 Fix some IP problems in the build
  build-logic-commons/basics/build.gradle.kts
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildEnvironment.kt
  build-logic-commons/settings.gradle.kts
  build-logic-settings/build-environment/build.gradle.kts
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild.build-environment.settings.gradle.kts
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentExtension.kt
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentService.kt
  build-logic-settings/build.gradle.kts
  build-logic-settings/settings.gradle.kts
  build.gradle.kts
  gradle/shared-with-buildSrc/mirrors.settings.gradle.kts
  settings.gradle.kts
Labels: a:investigation, 20 min review, build-script-change

#28854 Add Problems to GradleEnterprisePluginEndOfBuildListener.BuildResult
  gradle.properties
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/ProblemRecordingTypeValidationContext.java
  platforms/enterprise/enterprise/build.gradle.kts
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/BaseBuildScanPluginCheckInFixture.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginEndOfBuildCallbackIntegrationTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginEndOfBuildListener.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginAdapter.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginAdapterFactory.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/ide/problems-api/build.gradle.kts
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemTest.groovy
  platforms/ide/problems-api/src/testFixtures/groovy/org/gradle/api/problems/ReportingScript.groovy
  subprojects/core/src/main/java/org/gradle/internal/build/DefaultBuildLifecycleController.java
  subprojects/core/src/main/java/org/gradle/internal/build/DefaultBuildLifecycleControllerFactory.java
  subprojects/core/src/test/groovy/org/gradle/internal/build/DefaultBuildLifecycleControllerTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/plugin/PluginBuilder.groovy
Labels: 10 min review, build-script-change

#29234 Mark flaky KotlinSettingsScriptModelCrossVersionSpec
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r88/KotlinSettingsScriptModelCrossVersionSpec.groovy
Labels: 1 min review

#29100 Let `ConfigurationCacheProblemsSummary` use synchronized shared mutable state
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/verification-metadata.xml
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummaryTest.kt
  subprojects/distributions-dependencies/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: 10 min review, 5 min review, build-script-change

#29235 Introduce ToBeReplacedByLazyProperty annotation
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ToBeReplacedByLazyProperty.java
Labels: a:chore, in:provider-api, p:lazy-migration, 1 min review

#29243 Fix CodeNarc IP violations
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcPluginIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcTestFixture.groovy
  platforms/jvm/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  platforms/jvm/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  platforms/jvm/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/AbstractCodeQualityPlugin.java
Labels: in:isolated-projects, 1 min review

#29254 Enable IP tests for build-init subproject
  platforms/software/build-init/build.gradle.kts
Labels: 1 min review, build-script-change

#29251 Allow dependency checker to run on more subprojects
  gradle.properties
  platforms/core-execution/workers/build.gradle.kts
  platforms/core-runtime/launcher/build.gradle.kts
  platforms/core-runtime/worker-services/build.gradle.kts
  platforms/core-runtime/wrapper/build.gradle.kts
Labels: a:chore, 5 min review, build-script-change

#29262 Move Configuration Cache problems base API to internal package
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/CrossProjectConfigurationReportingTaskExecutionGraph.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/CrossProjectModelAccessTrackingParentDynamicObject.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ProblemReportingCrossProjectModelAccess.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ReportingTaskDependencyUsageTracker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/extensions/DocumentRegistryExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ScopedFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheInjectedClasspathInstrumentationStrategy.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/isolation/IsolatedActionSerializer.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/AbstractProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/HtmlReportWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/JsonModelWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/LoggingExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Unsupported.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanPropertyReader.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanPropertyWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/beans/BeanSchema.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/CachedEnvironmentStateCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/JavaRecordCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/SerializedLambdaParametersCheckingCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/StreamCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/TaskNodeCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/TaskReferenceCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/jos/ObjectInputStreamAdapter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/ConfigurationCacheEnvironmentChangeTracker.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummaryTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/problems/JsonModelWriterTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/problems/PropertyTraceTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/serialization/codecs/JavaObjectSerializationCodecTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/serialization/codecs/UserTypesCodecTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/services/ConfigurationCacheEnvironmentChangeTrackerTest.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/DecoratedPropertyProblem.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/DefaultProblemFactory.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemDescription.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemFactory.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemsListener.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/PropertyProblem.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Logging.kt
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
Labels: a:chore, in:configuration-cache, 1 min review, 10 min review

#29265 Publish 8.8-20240523013454+0000
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandlerTest.groovy
  released-versions.json
Labels: 1 min review

#29225 Disable parallelism to avoid flakiness with CC
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/TaskCacheabilityReasonIntegrationTest.groovy
Labels: p:flaky-fix-it, 1 min review

#29277 Move :core Configuration Cache extensions to internal package
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/CrossProjectConfigurationReportingGradle.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/JsonModelWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/jos/ObjectInputStreamAdapter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/services/Environment.kt
  platforms/core-configuration/configuration-problems-base/build.gradle.kts
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/DocumentRegistryExtensions.kt
  platforms/core-configuration/core-extensions-kt/build.gradle.kts
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/ExtraPropertiesExtensionExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/FileSystemExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/ListenerManagerExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/ProjectExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/ScriptSourceExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/ServiceRegistrationExtensions.kt
  platforms/core-configuration/core-extensions-kt/src/main/kotlin/org/gradle/internal/extensions/core/TaskInternalExtensions.kt
  settings.gradle.kts
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: in:configuration-cache, 5 min review, build-script-change

#29287 Publish 8.8-20240524013335+0000
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/kotlinapplication/junitjupiter/AppTest.kt.template
  released-versions.json
Labels: 1 min review

#29283 Be more precise about which Kotlin jars are not part of the Gradle API
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyClassPathNotationConverter.java
Labels: a:chore, in:api-evolution, 1 min review

#29285 Fix toolchain install lock being created in install folder
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJdkCacheDirectory.java
Labels: a:regression, in:toolchains, 1 min review

#29294 Extract `:flow-services` module from `:configuration-cache`
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFlowScopeIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/Codecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ProviderCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
  platforms/core-configuration/flow-services/build.gradle.kts
  platforms/core-configuration/flow-services/src/integTest/groovy/org/gradle/internal/flow/services/FlowScopeIntegrationTest.groovy
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/BuildFlowScope.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/DefaultFlowProviders.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowParametersInstantiator.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowScheduler.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowServices.kt
  platforms/core-configuration/flow-services/src/main/kotlin/org/gradle/internal/flow/services/FlowServicesProvider.kt
  platforms/core-configuration/flow-services/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.GradleModuleServices
  settings.gradle.kts
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: in:configuration-cache, 30 min review, build-script-change

#29298 Rename `:core-extensions-kt` to `:core-kotlin-extensions`
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/core-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/ExtraPropertiesExtensionExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/FileSystemExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/ListenerManagerExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/ProjectExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/ScriptSourceExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/ServiceRegistrationExtensions.kt
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/TaskInternalExtensions.kt
  settings.gradle.kts
Labels: a:chore, in:configuration-cache, build-script-change, 1 min review

#29289 Introduce execution time value for `FixedFileCollection`
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFileCollectionFactory.java
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/FixedFileCollectionExecutionTimeValue.groovy
Labels: in:configuration-cache, 5 min review

#29297 Fix ErrorProne warnings in :model-core
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Collectors.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/DefaultConvention.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/BeanDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/validation/TypeValidationProblemRenderer.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/ImplementationSnapshotSerializer.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/core/TypeCompatibilityModelProjectionSupport.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/core/rule/describe/AbstractModelRuleDescriptor.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/core/rule/describe/ModelRuleDescriptor.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/inspect/ModelRuleExtractor.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/manage/schema/extract/ScalarCollectionNodeInitializerExtractionStrategy.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/DefaultModelRegistry.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/ModelNodeInternal.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/RuleBindings.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/typeregistration/BaseInstanceFactory.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/model/internal/inspect/ModelRuleExtractorTest.groovy
  platforms/core-runtime/serialization/build.gradle.kts
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/HashCodeSerializer.java
Labels: build-script-change, 5 min review

#29290 Introduce execution time value for `FilteredFileCollection`
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FilteredFileCollection.java
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/FilteredFileCollectionExecutionTimeValueTest.groovy
Labels: a:chore, in:configuration-cache

#29284 Rename `:java-language-extensions-kt` to `:stdlib-kotlin-extensions`
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-problems-base/build.gradle.kts
  platforms/core-configuration/core-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/flow-services/build.gradle.kts
  platforms/core-configuration/graph-serialization/build.gradle.kts
  platforms/core-configuration/stdlib-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/AutoCloseableExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/CastExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/CharSequenceExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/ExceptionExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/MapExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/StringExtensions.kt
  platforms/core-configuration/stdlib-kotlin-extensions/src/main/kotlin/org/gradle/configurationcache/extensions/unsafeLazy.kt
  settings.gradle.kts
Labels: build-script-change, 5 min review

#29305 Remove unused Kotlin DSL dependencies
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, in:kotlin-dsl

#29309 Simplify repeated `libs.futureKotlin(...)` usages
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-problems-base/build.gradle.kts
  platforms/core-configuration/core-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/declarative-dsl-core/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/declarative-dsl-tooling-models/build.gradle.kts
  platforms/core-configuration/flow-services/build.gradle.kts
  platforms/core-configuration/graph-serialization/build.gradle.kts
  platforms/core-configuration/guava-serialization-codecs/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/stdlib-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/stdlib-serialization-codecs/build.gradle.kts
  platforms/jvm/toolchains-jvm/build.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core/build.gradle.kts
  testing/architecture-test/build.gradle.kts
Labels: a:chore, in:building-gradle

#29299 Fix dependencies when CC report is used as included build
  platforms/core-configuration/configuration-cache/build.gradle.kts
Labels: a:chore, build-script-change, 1 min review

#29317 Update wrapper to 8.8 RC2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#29141 Add mitigation for cases, where the `Context` object becomes invalid
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AnnotationProcessingCompileTask.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/ContextAwareJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
Labels: in:java-plugins, in:problems

#29291 Use the accessor for the string-y version catalog API in the documentation
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-settings/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-settings/kotlin/build.gradle.kts
Labels: in:dependency-version-catalog, a:documentation, from:contributor

#29176 Make a version of `JavaVersion#getMajorVersion()`, which returns int instead of `String`
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classloader/TransformReplacerTest.groovy
  platforms/core-runtime/java-language-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/groovy/buildSrc/src/main/groovy/com/acme/InstrumentedJarsPlugin.groovy
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/kotlin/buildSrc/src/main/kotlin/com/acme/InstrumentedJarsPlugin.kt
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/groovy/producer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/kotlin/producer/build.gradle.kts
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/test/TestTaskPropertiesServiceIntegrationTest.groovy
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClientJdkCompatibilityTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileCompatibilityIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AbstractJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/tasks/compile/JavaCompileTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/JavaToolchainFixture.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenJavaModule.groovy
Labels: a:feature, in:java-plugins

#29324 Update gradle_daemon.adoc: fix typo in Daemon JVM Usage
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
Labels: to-triage, from:contributor

#29350 Update wrapper to 8.9-20240529002035+0000
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore

#29306 Update search settings for user manual
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ReleaseNotesTransformer.java
  platforms/documentation/docs/src/docs/css/base.css
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#29378 Fix type-safe accessors test to show that included builds are unsupported
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/typesafe/TypeSafeProjectAccessorsCompositeBuildsIntegrationTest.groovy
Labels: in:project-accessors

#29380 Update daemon JVM documentation
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/groovy/build.gradle
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/tests/daemonJvmCustomized.sample.conf
Labels: in:daemon, a:documentation
