Repository gradle/gradle, pull requests merged in 2024-01, with the labels that each got.

#27549 Support GitHub merge queue
  .teamcity/src/main/kotlin/common/extensions.kt
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/GitHubMergeQueueCheckPass.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/projects/CheckProject.kt
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildEnvironment.kt
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildParams.kt
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
Labels: 5 min review, platform:build_infrastructure

#27482 Fix native build failures on Ubuntu 22.04
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/tasks/ExtractSymbolsIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/tasks/StripSymbolsIntegrationTest.groovy
Labels: 1 min review

#27550 Update out-of-date TeamCity links
  platforms/documentation/docs/src/docs/userguide/reference/ci-systems/teamcity.adoc
Labels: a:documentation, 1 min review, platform:documentation

#27563 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#27565 Fix teamcity kotlin dsl tests
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
Labels: 5 min review, platform:build_infrastructure

#27506 expose separate problems for toml errors
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/LibrariesSourceGenerator.java
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/parser/TomlCatalogFileParser.java
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/problems/DefaultCatalogProblemBuilder.java
Labels: 10 min review, platform:software

#27566 Merge release into master
  .teamcity/src/main/kotlin/configurations/GitHubMergeQueueCheckPass.kt
  .teamcity/src/test/kotlin/CIConfigIntegrationTests.kt
  released-versions.json
Labels: 1 min review, platform:build_infrastructure

#27532 Combine ResolveState and ResovlerResults
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
Labels: 5 min review, platform:software

#27304 Rewrite of two project structuring sub-sections in Gradle User Manual -> Authoring Gradle Builds
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/stylesheets/userGuideHtmlCommon.xsl
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/authoring_maintainable_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/fine_tuning_project_layout.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products_details.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/worker_api.adoc
  platforms/documentation/docs/src/docs/userguide/img/multi-project-standards.png
  platforms/documentation/docs/src/docs/userguide/img/multi-project-structure.png
  platforms/documentation/docs/src/docs/userguide/img/software_architecture.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-1.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-2.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-3.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-4.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-5.png
  platforms/documentation/docs/src/docs/userguide/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/performance.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/groovy/project2/child1/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/kotlin/project2/child1/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/kotlin/settings.gradle.kts
Labels: a:documentation, 30 min review

#27457 Consider capabilities when reselecting artifact variants
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactVariantReselectionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/derived/JvmDerivedVariantsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ResolvedArtifactsGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSet.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/ComponentArtifactResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DefaultComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSetTest.groovy
Labels: 30 min review, platform:software

#27570 Make maven-publish compatible with Project Isolation
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
Labels: to-triage, from:contributor, ⚠️ Lacks Tests

#27497 Add new singular method for getting a problem
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorProblemsApiIntegrationTest.groovy
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems/src/integTest/groovy/org/gradle/api/problems/InjectedProblemsTransformerIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:chore, @ide-experience, 1 min review, platform:software, platform:ide, platform:build_infrastructure, platform:core_execution

#27579 Add support for TestNG's threadPoolFactoryClass launch parameter
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGSpec.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessorTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGUpToDateCheckIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestFramework.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/testng/TestNGOptions.java
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/testng/TestNGOptionsTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
Labels: a:feature, in:testing-testng, 1 min review, platform:jvm

#27580 Polish release notes for 8.6 RC1
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore, a:documentation

#27557 Update release-features for 8.6
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
Labels: a:documentation, 1 min review, platform:core_runtime

#27530 Add ClientModule deprecation nagging
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ClientModuleDependenciesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyNotationIntegrationSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencySubstitutionRulesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/LocalExcludeResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/override/ComponentOverrideMetadataResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ClientModule.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core/src/integTest/groovy/org/gradle/api/DynamicObjectIntegrationTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: 5 min review, platform:software, platform:documentation, platform:release_coordination, platform:core_runtime

#27589 Fix signature of decorated subclass of abstract `Named` subclass
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/asm/AsmClassGeneratorUtils.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/model/ObjectFactoryIntegrationTest.groovy
Labels: a:bug, in:configuration-model, 5 min review

#27575 Merge release into master
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/stylesheets/userGuideHtmlCommon.xsl
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/authoring_maintainable_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/fine_tuning_project_layout.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/structuring_software_products_details.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/worker_api.adoc
  platforms/documentation/docs/src/docs/userguide/img/multi-project-standards.png
  platforms/documentation/docs/src/docs/userguide/img/multi-project-structure.png
  platforms/documentation/docs/src/docs/userguide/img/software_architecture.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-1.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-2.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-3.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-4.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-5.png
  platforms/documentation/docs/src/docs/userguide/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/performance.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/groovy/project2/child1/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/kotlin/project2/child1/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/standardLayouts/kotlin/settings.gradle.kts
  released-versions.json
Labels: 1 min review, platform:documentation

#27585 Preserve identities of registered task inputs
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/TaskNodeCodec.kt
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyLifecycleIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/TaskDependencyInferenceIntegrationTest.groovy
Labels: a:bug, in:configuration-cache

#27581 Show project in artifact removal error
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishArtifactCustomizationIntegTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/validation/MavenPublicationErrorChecker.java
Labels: in:publishing-plugins, a:feature, 1 min review, platform:software

#27610 reduce noise of our build
  build-logic/cleanup/src/main/kotlin/gradlebuild/cleanup/Cleanup.kt
  build-logic/cleanup/src/main/kotlin/gradlebuild/cleanup/services/CachesCleaner.kt
  build-logic/cleanup/src/main/kotlin/gradlebuild/cleanup/services/DaemonTracker.kt
  build-logic/documentation/src/main/groovy/gradlebuild/docs/dsl/source/ExtractDslMetaDataTask.groovy
Labels: 1 min review

#27611 Don't run artifact transform in place in integration tests
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformBuildOperationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformIncrementalIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
Labels: a:chore, in:build-scan, @execution, in:artifact-transforms

#27548 Verify variant uniqueness outside of Configuration
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/OutgoingVariantsMutationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/UnsupportedConfigurationMutationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/ExclusiveVariantsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationContainerInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultVariant.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/VariantIdentityUniquenessVerifier.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/FreezableAttributeContainer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentMetadata.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/configurations/model/ConfigurationReportModelFactory.java
Labels: 30 min review, platform:software

#27598 Allow primitive arrays as work parameters
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractValueProcessor.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultIsolatableFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedArrayOfPrimitive.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/JavaSerializedValueSnapshot.java
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersKotlinIntegrationTest.groovy
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/DefaultActionExecutionSpecFactory.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
Labels: a:feature, in:workers, in:configuration-model, 10 min review, re:comprehensibility

#27384 Print clearer error when copying duplicate file from compressed archive with copy task and strategy = fail
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/DefaultCopySpecCodec.kt
  subprojects/core-api/src/main/java/org/gradle/api/file/FileCopyDetails.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ReproducibleArchivesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/TarFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipFileTree.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/CopyActionExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/CopySpecInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultCopySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DelegatingCopySpecInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DestinationRootCopySpec.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DuplicateHandlingCopyActionDecorator.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/copy/DuplicateHandlingCopyActionExecutorTest.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFileHelper.groovy
Labels: in:file-tasks, 30 min review, platform:build_infrastructure, re:comprehensibility, platform:core_configuration

#27614 Clarify accepted notation in capabilities
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/CapabilitiesResolution.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ConfigurationPublications.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ModuleDependencyCapabilitiesHandler.java
Labels: in:dependency-declarations, a:documentation, 1 min review

#27621 Add missing uuid for GitHubMergeQueueCheckPass
  .teamcity/src/main/kotlin/configurations/GitHubMergeQueueCheckPass.kt
Labels: 1 min review, platform:build_infrastructure

#27620 Fix merge queue branch matching
  .teamcity/src/main/kotlin/common/extensions.kt
Labels: 1 min review, platform:build_infrastructure

#27613 Replace `HashMap<Byte, ?>` by native array in `IsolatableSerializerRegistry`
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
Labels: a:chore, 5 min review

#27626 Support primitive boolean arrays as work parameters
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedArrayOfPrimitive.java
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersKotlinIntegrationTest.groovy
Labels: a:feature, in:configuration-model

#27551 Introduce `SmokeIdeTest`
  .cm/platform_labels.cm
  .github/CODEOWNERS
  .teamcity/src/main/kotlin/configurations/SmokeIdeTests.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/subprojects.json
  build-logic/integration-testing/build.gradle.kts
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/ide/AndroidStudioSystemProperties.kt
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/tasks/SmokeIdeTest.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/fixtures/AbstractConfigurationCacheOptInFeatureIntegrationTest.groovy
  settings.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheProblemsFixture.groovy
  subprojects/smoke-ide-test/build.gradle.kts
  subprojects/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/AbstractSyncSmokeIdeTest.groovy
  subprojects/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsJavaProjectSyncTest.groovy
  subprojects/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/fixtures/IsolatedProjectsIdeSyncFixture.groovy
Labels: cm-changes

#27629 Final touches on release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#27628 Make `KotlinDslScriptsModelSpec` a crossVersionTest
  .teamcity/subprojects.json
  gradle.properties
  platforms/core-configuration/kotlin-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r83/KotlinBuildScriptModelCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/integTest/groovy/org/gradle/kotlin/dsl/tooling/builders/KotlinDslScriptsModelSpec.groovy
Labels: a:chore, 1 min review, platform:build_infrastructure, platform:kotlin_dsl, build-script-change, platform:core_configuration

#27496 Remove unused Groovy assumes from `AbstractIntegrationSpec`
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:chore, 1 min review, platform:build_infrastructure

#27630 Port fix for buildscript classpath state being discarded
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultResolutionStrategy.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ResettableConfiguration.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/initialization/DefaultScriptHandlerTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/environment/BuildEnvironmentIntegrationTest.groovy
Labels: a:regression, in:dependency-resolution, 5 min review, platform:software, in:build-environment

#27592 Use consistent version comparison even when comparing preferred versions
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/versions/AbstractRichVersionConstraintsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolver.java
Labels: in:dependency-resolution, 1 min review, platform:software

#27556 Deprecate legacy URI handling & return valid ASCII-safe URIs
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileOrUriNotationConverter.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/groovy/buildSrc/src/main/groovy/myproject.java-library-conventions.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule/kotlin/buildSrc/src/main/kotlin/myproject.java-library-conventions.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-selectionRule/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-selectionRule/kotlin/build.gradle.kts
  platforms/extensibility/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/RepositoryOrderingIntegrationSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FlatDirJvmLibraryArtifactResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/constraints/DependencyConstraintsBugsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/maven/MavenLocalRepoResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/AbstractResourcePattern.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/ArtifactNotFoundException.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/IvyResourcePatternTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/resource/transfer/DefaultCacheAwareExternalResourceAccessorTest.groovy
  platforms/software/resources/src/integTest/groovy/org/gradle/internal/resource/ExternalResourceNameIntegrationTest.groovy
  platforms/software/resources/src/main/java/org/gradle/internal/resource/ExternalResourceName.java
  platforms/software/resources/src/test/groovy/org/gradle/internal/resource/ExternalResourceNameTest.groovy
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningPublicationsIntegrationSpec.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildDependencyGraphIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileResolutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/initialization/buildsrc/BuildSrcIdentityIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/BaseDirFileResolverTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/BasicFileResolverTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyFileRepository.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/file/TestFile.java
Labels: a:feature, in:repository-declarations, in:resource-handler, 20 min review, platform:software, platform:documentation, platform:build_infrastructure, re:comprehensibility, platform:core_configuration

#27655 Revert support for chaining Hasher calls
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hasher.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/InstrumentingClasspathFileTransformer.java
Labels: a:chore, @execution

#27650 Merge release into master
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/NormalizingCopyActionDecorator.java
Labels: 1 min review

#27646 Write primitive `short`, `float` and `double` values more efficiently
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/Combinators.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ArrayCodecs.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/jos/ObjectInputStreamAdapter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/jos/RecordingObjectOutputStream.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintCheckerTest.kt
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/BaseSerializerFactory.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/Decoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/Encoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/InputStreamBackedDecoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/OutputStreamBackedEncoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/kryo/KryoBackedDecoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/kryo/KryoBackedEncoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/kryo/StringDeduplicatingKryoBackedDecoder.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/kryo/StringDeduplicatingKryoBackedEncoder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/StringDeduplicatingDecoder.java
Labels: a:chore, in:configuration-cache, 1 min review

#27529 Move repository selection to Configuration
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/RepositoriesSupplier.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultComponentResolversFactory.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
Labels: 10 min review, platform:software

#27573 Extract attribute categorization from error message formatting
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule/tests/failRuntimeClasspathResolve.out
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/variants/GradlePluginWithVariantsPublicationIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppLibraryPublishingIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/AbstractConfigurationAttributesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/StronglyTypedConfigurationAttributesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveConfigurationResolutionBuildOperationResult.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/AttributeMatchingArtifactVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionCandidateAssessor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/StyledDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DescriberSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/internal/attributes/AttributeDescriber.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributeValue.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributes.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/ImmutableAttributes.java
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryConsumptionIntegrationTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
Labels: in:dependency-resolution, 30 min review, platform:jvm, platform:software, platform:documentation, build-script-change, re:comprehensibility

#27667 Fix wrong links to performance test report
  subprojects/performance/README.md
Labels: a:documentation

#27670 Remove CacheableTransform annotation from InstrumentationMetadataTransform
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/transforms/InstrumentationMetadataTransform.kt
Labels: a:chore, in:building-gradle, @execution

#27632 Implement proper `ValueSnapshot` for arrays of primitives
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/ArrayCodecs.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/AbstractValueProcessor.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/ArrayOfPrimitiveValueSnapshot.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultIsolatableFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedArrayOfPrimitive.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/JavaSerializedValueSnapshot.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/SnapshotSerializer.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/SnapshotSerializerTest.groovy
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/HasherExtensions.java
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorParametersKotlinIntegrationTest.groovy
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/DecoderExtensions.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/serialize/EncoderExtensions.java
Labels: a:chore, in:execution-engine, 10 min review

#27676 Bump wrapper to 8.6-rc-2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#27420 Deprecate SelfResolvingDependency
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyNotationIntegrationSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/SelfResolvingDependencyIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/TasksFromDependentProjects.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/TasksFromProjectDependencies.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DelegatingProjectDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyClassPathNotationConverter.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyFilesNotationConverter.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/TasksFromProjectDependenciesTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/notations/DependencyClassPathNotationConverterTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/FileCollectionDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ProjectDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/SelfResolvingDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/CachingDependencyResolveContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/DependencyResolveContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/ResolvableDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultFileCollectionDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultSelfResolvingDependency.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/ProjectDependencyInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/SelfResolvingDependencyInternal.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/CachingDependencyResolveContextTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultFileCollectionDependencyTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependencyTest.groovy
Labels: 30 min review, platform:software, platform:documentation, platform:kotlin_dsl, platform:core_configuration

#27688 Bypass version check in toolchain metadata if version matches one used by MinGW
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/metadata/GccMetadataProvider.java
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/gcc/metadata/GccMetadataProviderTest.groovy
Labels: in:native-platform, from:contributor

#27625 Add default values to Javadoc of isDownloadSources and isDownloadJavadoc in IdeaModule
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
Labels: in:idea-plugin, a:documentation, from:contributor, ⚠️ Lacks Tests

#27697 Upgrade Dokkatoo to have @since tags in the reference
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleKotlinDslReferencePlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/KotlinDslReference.java
  gradle/verification-metadata.xml
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/release/notes.md
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: in:kotlin-dsl, a:documentation

#27271 Use execution engine to compile Groovy scripts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  platforms/core-execution/build-cache/src/integTest/groovy/org/gradle/caching/BuildCacheLocalCacheIntegrationTest.groovy
  platforms/core-execution/build-cache/src/integTest/groovy/org/gradle/caching/internal/BuildCacheBuildOperationsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/CrossBuildScriptCachingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/changedetection/rules/OverlappingOutputsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/AbstractDirectorySensitivityIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskArchiveErrorIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskOutputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DispatchingBuildCacheIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheCompositeConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/configuration/project/DefaultCompileOperationFactory.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/DefaultScriptCompilerFactory.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/ScriptCompiler.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/BuildScopeInMemoryCachingScriptClassCompiler.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/CrossBuildInMemoryCachingScriptClassCache.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GroovyDslWorkspaceProvider.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GroovyScriptClassCompiler.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/ScriptClassCompiler.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/BuildScriptCompileUnitOfWork.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultScriptPluginFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/groovy/scripts/DefaultScriptCompilerFactoryTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CacheProjectIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildCacheOperationFixtures.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildOperationsFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/TestBuildCache.groovy
Labels: in:groovy-dsl, @execution

#27708 Print more helpful error message when given bad version argument for wrapper upgrade
  platforms/core-runtime/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperUpgradeIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/GradleVersionResolver.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/DefaultWrapperVersionsResources.java
Labels: in:wrapper, 1 min review, platform:software, re:comprehensibility, platform:core_runtime

#27681 Make ProxyAuthenticator static class
  platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/wrapper/Download.java
  platforms/core-runtime/wrapper/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: in:wrapper, in:tooling-api, from:contributor

#27687 Fix cross version output expectation
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerConventionalPluginClasspathInjectionIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerPluginClasspathInjectionIntegrationTest.groovy
Labels: 1 min review

#27664 docs: Remove extra spaces before footnote symbols to fit in viewer on Part 5 of tutorial
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr5_build_scripts.adoc
Labels: a:documentation, from:contributor

#27711 docs: Fix unclear and partly wrong description of task dependencies
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
Labels: to-triage, from:contributor

#27631 Separate DefaultLenientConfiguration from ResolveContext
  platforms/enterprise/enterprise-operations/src/main/java/org/gradle/api/internal/artifacts/ResolveArtifactsBuildOperationType.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/ArtifactDownloadProgressCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/ProjectConfigurationChildrenProgressCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r40/ResolveArtifactsProgressCrossVersionSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyDownloadBuildOperationsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/RemoteDependencyResolveConsoleIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveExceptionContextualizer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionHost.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/result/MinimalResolutionResult.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfigurationTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
Labels: 10 min review, platform:software, platform:ide, platform:gradle_enterprise

#27719 Fix broken javadoc tasks
  platforms/enterprise/enterprise-operations/src/main/java/org/gradle/api/internal/artifacts/ResolveArtifactsBuildOperationType.java
Labels: 1 min review, platform:gradle_enterprise

#27444 Use lightweight alias existence check
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalog.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/VersionCatalogView.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/catalog/parser/TomlCatalogFileParserTest.groovy
Labels: to-triage, from:contributor

#27716 Downgrade DependencyCollector assertion to warning
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyCollector.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultDomainObjectCollectionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/DefaultDomainObjectSetTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: 10 min review, platform:documentation, platform:release_coordination

#27715 Fix dark mode
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/tutorial_using_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_settings_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr2_build_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr3_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr7_writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/03-controlling-transitive-dependencies/resolution_rules.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_file_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/dependency_management_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/gradle_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/gradle_optimizations.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/plugin_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/settings_file_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/task_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part2_gradle_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part4_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part5_gradle_inc_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part6_gradle_caching.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:bug, a:documentation

#27692 Run native related builds on Intel macs only
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/src/main/kotlin/model/FunctionalTestBucketGenerator.kt
  .teamcity/src/main/kotlin/model/FunctionalTestBucketProvider.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  .teamcity/src/main/kotlin/util/UtilPerformanceProject.kt
  .teamcity/test-buckets.json
Labels: 1 min review, platform:build_infrastructure

#27736 Run native builds on Intel macs only
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/src/main/kotlin/model/FunctionalTestBucketGenerator.kt
  .teamcity/src/main/kotlin/model/FunctionalTestBucketProvider.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  .teamcity/src/main/kotlin/util/UtilPerformanceProject.kt
  .teamcity/test-buckets.json
Labels: 1 min review, platform:build_infrastructure

#27746 Introduce `FlowActionSpec#parameters(Action<P>)`
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheFlowScopeIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/flow/BuildFlowScope.kt
  subprojects/core-api/src/main/java/org/gradle/api/flow/FlowActionSpec.java
Labels: a:feature, in:configuration-model, 1 min review

#27702 Fix wrong baseline version
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/AbstractReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/AbstractTablePageGenerator.java
Labels: 1 min review, platform:build_infrastructure

#27754 Remove exception in tapi interface
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemsServiceModelBuilderCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DefaultProblemsOperationDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/internal/DynamicProblemOperationDescriptor.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/parameters/BuildProgressListenerAdapter.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalBasicProblemDetails.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultProblemDetails.java
Labels: 1 min review, platform:ide

#27747 Consolidate local component observation
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/RelevantProjectsRegistry.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementGlobalScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultUnlockedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/MarkConfigurationObservedListener.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ProjectComponentObservationListener.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/DefaultResolvedProjectConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/ResolvedLocalComponentsResult.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/ResolvedLocalComponentsResultGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/ResolvedProjectConfiguration.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/DefaultResolverResultsSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: 20 min review, platform:software, platform:core_configuration

#27768 Include base branch in GitHubMergeQueueCheckPass's trigger rules
  .teamcity/src/main/kotlin/configurations/GitHubMergeQueueCheckPass.kt
Labels: 1 min review, platform:build_infrastructure

#27732 Extract Java Library Plugin from plugins project
  .teamcity/subprojects.json
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/suppressions.xml
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/plugins-java-library/build.gradle.kts
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/api/plugins/JavaLibraryDistributionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCompilationIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryConsumptionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryDocumentationIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryFeatureCompilationIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryFeaturePublishingIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmEnvironmentIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/main/java/org/gradle/api/plugins/JavaLibraryDistributionPlugin.java
  platforms/jvm/plugins-java-library/src/main/java/org/gradle/api/plugins/JavaLibraryPlugin.java
  platforms/jvm/plugins-java-library/src/test/groovy/org/gradle/api/plugins/JavaLibraryDistributionPluginTest.groovy
  platforms/jvm/plugins-java-library/src/test/groovy/org/gradle/api/plugins/JavaLibraryPluginTest.groovy
  platforms/software/antlr/build.gradle.kts
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/plugins/build.gradle.kts
Labels: 10 min review, platform:jvm, platform:software, re:platformization, platform:build_infrastructure, build-script-change

#27539 Adapt Java compilation to use the Problems API
  platforms/core-execution/worker-processes/build.gradle.kts
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemEmitter.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/problem/WorkerProblemProtocol.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/OperationListener.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/BaseLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/PluginIdLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/StackLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/TaskPathLocationTransformer.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompilerFactory.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DefaultJavaCompileSpec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompileSpec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JdkJavaCompiler.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownCategories.groovy
Labels: a:feature, in:java-plugins, in:problems, 20 min review, platform:jvm, platform:ide, platform:build_infrastructure, platform:core_execution, build-script-change

#27782 Avoid ClientModule deprecation smoke test flakiness
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: 1 min review, platform:release_coordination

#27577 Resolve classpath configuration only once
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PluginRequestsHandler.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/provider/PluginRequestsHandlerTest.kt
  platforms/documentation/docs/src/snippets/tutorial/projectReports/tests/propertyListReport.out
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/internal/DefaultPluginRequestApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/AlreadyOnClasspathIgnoringPluginResolver.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolver.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/CompositePluginResolver.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/PluginResolutionResult.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/internal/PluginResolutionVisitor.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/ArtifactRepositoriesPluginResolverTest.groovy
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/use/resolve/internal/CorePluginResolverTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/versions/AbstractRichVersionConstraintsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultMutableVersionConstraint.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/AbstractClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ImmutableClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/MutableClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/RootClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ScriptHandlerInternal.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/PluginRequestApplicator.java
Labels: 20 min review, platform:software, platform:documentation, platform:kotlin_dsl, platform:core_configuration

#27792 Update wrapper to 8.6 RC3
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#27777 Upgrade Apache SSHD and replace jsch
  LICENSE
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/dependency-management/capabilities.json
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/resources-sftp/src/integTest/groovy/org/gradle/integtests/resolve/resource/sftp/ivy/IvySftpRepoErrorsIntegrationTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/sftp/SFTPServer.groovy
Labels: a:chore

#27749 Deprecate String.invoke() in domain object containers
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslContainerIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: 5 min review, platform:documentation, platform:kotlin_dsl, platform:core_configuration

#27806 Merge release into master
  released-versions.json
Labels: 1 min review

#27803 Revert "Disable Android performance tests"
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/regression/android/RealLifeAndroidStudioPerformanceTest.groovy
Labels: 1 min review, platform:build_infrastructure, platform:release_coordination

#27815 Remove exception from DefaultProblemDetails
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemsServiceModelBuilderCrossVersionTest.groovy
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultProblemDetails.java
Labels: 1 min review, platform:ide

#27807 Update dark mode
  platforms/documentation/docs/src/docs/css/manual.css
Labels: a:documentation

#27811 Fix org.gradle.usage attribute values in documentation
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
Labels: a:documentation, from:contributor

#27805 Fix title for Gradle-managed Directories page
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/directory_layout.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, 1 min review, platform:documentation

#27817 Document missing `org.gradle.logging.level` option
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/build_environment.adoc
Labels: to-triage, from:contributor

#27818 Add PR 27811 to release branch
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
Labels: a:documentation

#27540 Use simpler name for the `build-logic` included build created with `init`
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/LanguageSpecificAdaptor.java
Labels: in:build-init-plugin, 1 min review, platform:software

#27721 Use execution engine to instrument build scripts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GroovyScriptClassCompiler.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/CachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/ClassData.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/DefaultCachedClasspathTransformer.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/BaseClasspathElementTransform.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/BuildScriptCompilationAndInstrumentation.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
  subprojects/core/src/testFixtures/java/org/gradle/internal/classpath/TestInstrumentedClassLoader.java
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/CacheProjectIntegrationTest.groovy
Labels: @execution, in:instrumentation

#27766 Add validation to the remaining service scopes
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileResolver.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/InstanceGenerator.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/OutputChangeListener.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/scopes/BuildTreeScopedCacheBuilderFactory.java
  platforms/core-runtime/base-annotations/src/main/java/org/gradle/internal/service/scopes/ServiceScope.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/ScopedServiceRegistryTest.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/ServiceRegistryBuilderTest.groovy
  platforms/core-runtime/file-temp/src/main/java/org/gradle/api/internal/file/temp/TemporaryFileProvider.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginBuildState.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginConfig.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformStepNodeDependencyResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/filestore/DefaultArtifactIdentifierFileStore.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resource/cached/DefaultExternalResourceFileStore.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ArchiveOperations.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileSystemOperations.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core-api/src/main/java/org/gradle/process/ExecOperations.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/BuildSessionState.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: 10 min review, platform:software, platform:build_infrastructure, platform:gradle_enterprise, platform:core_execution, platform:core_runtime, platform:core_configuration

#26787 Update tested AGP versions
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  gradle/dependency-management/agp-versions.properties
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: a:chore

#27804 Fix error message and variable names for build-logic properties check
  build-logic/build.gradle.kts
  build-logic/gradle.properties
Labels: a:chore, in:building-gradle, 1 min review, build-script-change

#27680 Forbid new methods to use Groovy types in Gradle public API
  architecture-standards/0003-avoid-introducing-Groovy-types-to-public-api.md
  subprojects/architecture-test/src/changes/archunit_store/public-api-methods-return-allowed-types.txt
  subprojects/architecture-test/src/changes/archunit_store/stored.rules
  subprojects/architecture-test/src/test/java/org/gradle/architecture/test/PublicApiCorrectnessTest.java
Labels: 1 min review

#27832 Upgrade wrapper to 8.7-20240126001219+0000
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, @execution

#26324 Add option to suppress 'dependencies-without-versions' validation error
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyGradleModuleMetadataPublishIntegrationTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenGradleModuleMetadataPublishIntegrationTest.groovy
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/metadata/InvalidPublicationChecker.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/tasks/GenerateModuleMetadata.java
  platforms/software/publish/src/test/groovy/org/gradle/api/publish/internal/metadata/GradleModuleMetadataWriterTest.groovy
Labels: in:publishing-plugins, in:gradle-module-metadata, from:contributor

#27830 Add array helper methods
  .idea/inspectionProfiles/Gradle.xml
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/InternalTransformer.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/ArrayUtils.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/CollectionUtils.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/util/internal/ArrayUtilsTest.groovy
Labels: 10 min review, platform:core_runtime

#27839 Upgrade to Asciidoctor plugin 4.0.2
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  build-logic/root-build/src/main/kotlin/gradlebuild.internal.cc-experiment.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs-asciidoctor-extensions-base/build.gradle.kts
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/java/org/gradle/docs/asciidoctor/GuidesContributeIncludeProcessor.java
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/java/org/gradle/docs/asciidoctor/SampleIncludeProcessor.java
  platforms/documentation/docs-asciidoctor-extensions/build.gradle.kts
  platforms/documentation/docs/build.gradle
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
Labels: 5 min review, platform:documentation, build-script-change

#27845 docs: Fix erroneous link to Kotlin DSL
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_build_scripts.adoc
Labels: a:documentation, from:contributor

#26843 Slight DebugOptions documentation improvement
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/DebugOptions.java
Labels: a:documentation, from:contributor, ⚠️ Lacks Tests

#27851 Handle files left open with immutable workspace mechanics on Windows
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStepTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
Labels: in:execution-engine

#27781 Properly handle errors in ResolvedConfiguration and LenientConfiguration
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolvedConfigurationApiIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolvedDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionHost.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactCollectingVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/LenientConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ErrorHandlingConfigurationResolverTest.groovy
Labels: 10 min review, platform:software, platform:core_configuration

#27723 Accept ADR 0001, with minor grammar corrections
  architecture-standards/0001-use-architectural-decision-records.md
Labels: a:documentation, 1 min review

#26283 Remove inaccurate composite build requirement from docs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
Labels: a:documentation, 1 min review, platform:documentation

#27885 Validate that we don't get any problems for Exceptions in 8.5
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r87/ProblemProgressEventCrossVersionTest.groovy
Labels: 1 min review, platform:ide

#27888 Fix errorprone warnings
  platforms/ide/problems-api/build.gradle.kts
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblemReporter.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/buildtree/ProblemReporter.java
Labels: a:chore, 1 min review, platform:ide, build-script-change

#27877 Polish `DefaultSetProperty`
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultListProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultSetProperty.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/lambdas/SerializableLambdas.java
Labels: a:chore, in:configuration-model

#27895 Mark ADR 003 accepted
  architecture-standards/0003-avoid-introducing-Groovy-types-to-public-api.md
Labels: a:documentation, 1 min review

#27606 More accurately track cross-project observation
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultBuildModelControllerServices.kt
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ResolverProviderFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/BuildTreeLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultLocalComponentRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectDependencyResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DefaultComponentResolversFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/projectresult/ResolvedLocalComponentsResultGraphVisitor.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/services/VersionControlServices.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/DefaultBuildTreeLocalComponentProvider.java
Labels: 10 min review, platform:software, platform:core_configuration
