Repository gradle/gradle, pull requests merged in 2024-03, with the labels that each got.

#28294 Fix implementation of version catalog (enforced) platform
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/VersionCatalogExtensionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyHandler.java
Labels: a:bug, in:dependency-version-catalog, in:dependency-declarations, 1 min review, platform:software

#28274 Make short group:name notation in version catalog more visible
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml/groovy/gradle/test-libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml/kotlin/gradle/test-libs.versions.toml
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/TomlDependenciesExtensionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/parser/TomlCatalogFileParser.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownCategories.groovy
Labels: in:dependency-version-catalog, a:documentation, 5 min review, platform:software, platform:documentation, platform:build_infrastructure, re:comprehensibility

#28314 Check that libraries from the Gradle distribution don't leak into the plugin classpath
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/PluginClasspathLeakIntegrationTest.groovy
Labels: in:declarative-dsl

#28265 Add GradleEnterprisePluginBackgroundJobExecutors.withConfigurationInputTrackingDisabled
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/AbstractDevelocityInputIgnoringServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginUnsafeConfigurationServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/GradleEnterprisePluginBackgroundJobExecutorsIntegrationTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/DevelocityPluginUnsafeConfigurationService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginRequiredServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultDevelocityPluginUnsafeConfigurationService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginBackgroundJobExecutors.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginRequiredServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/package-info.java
  platforms/enterprise/enterprise/src/test/groovy/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginBackgroundJobExecutorsTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: platform:gradle_enterprise

#28317 add (unlinked) page about Isolated Projects
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/isolated_projects.adoc
Labels: in:documentation, in:project-isolation

#28298 Setup and test DependenciesExtensions and FunctionExtractor using DependencyCollector
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDSLCustomDependenciesExtensionsSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: 20 min review, platform:core_configuration

#28332 Fix failing ToolchainsParallelActionExecutionCrossVersionSpec
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r81/ToolchainsParallelActionExecutionCrossVersionSpec.groovy
Labels: 1 min review, platform:ide

#28321 Fix punctuations
  platforms/documentation/docs/src/docs/release/notes-template.md
Labels: to-triage, from:contributor

#28315 Handle exception with circular causes in Gradle build
  subprojects/core/src/integTest/groovy/org/gradle/internal/buildevents/BuildFailureIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/initialization/exception/DefaultExceptionAnalyser.java
Labels: 1 min review

#28318 Introduce core-execution/execution-e2e-tests project
  .teamcity/subprojects.json
  platforms/core-execution/execution-e2e-tests/build.gradle.kts
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/CachedKotlinTaskExecutionIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/FileSystemRootUpToDateIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/ParallelProjectExecutionIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/StaleOutputHistoryLossIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/StaleOutputIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/TaskUpToDateIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/fixtures/StaleOutputJavaProject.groovy
  settings.gradle.kts
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/DependencyResolutionFromTaskContextIntegrationTest.groovy
Labels: a:chore, in:building-gradle

#28349 Fix a few Github issues in docs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/reference/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
Labels: a:documentation

#28257 Fix user prompting when used with `--no-daemon`
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/InProcessUserInputHandlingExecutor.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/RunBuildAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ForwardStdInToThisProcess.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
Labels: in:console

#28069 Remove unnecessary dependency data from TAPI task events
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TaskOperationMapper.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TransformOperationMapper.java
Labels: in:tooling-api, from:contributor, :wave: team-triage, ⚠️ Lacks Tests

#23059 Fix ElementSource#isEmpty correctly handling empty providers
  subprojects/core/src/main/java/org/gradle/api/internal/collections/AbstractIterationOrderRetainingElementSource.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/collections/IterationOrderRetainingSetElementSourceTest.groovy
Labels: in:dependency-resolution, from:contributor

#28330 Fix punctuations
  architecture/standards/0001-use-architectural-decision-records.md
Labels: from:contributor

#28282 Make `Task` extend `Named`, just like `Configuration`
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/platform-base/src/main/java/org/gradle/platform/base/internal/registry/BinaryTasksModelRuleExtractor.java
  platforms/software/platform-base/src/test/groovy/org/gradle/model/internal/core/DomainObjectCollectionBackedModelMapTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/DefaultTaskContainerFactory.java
Labels: a:feature, from:contributor, in:core-utilities

#28354 Handle missing extension when publishing and consuming GMM
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/gmm/GradleModuleMetadataResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradleModuleMetadataParser.java
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishIssuesIntegTest.groovy
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/metadata/ModuleMetadataSpecBuilder.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/GradleModuleMetadata.groovy
Labels: 20 min review, platform:software, platform:build_infrastructure

#28345 Allow `plugins { }` in `settings.gradle.something`
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/AnalysisStatementFilter.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/DeclarativeDslProjectSettingsIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/InterpretationSequence.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DefaultInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/InterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/plugins/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromGradleExtensions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/settings/SettingsDslSchema.kt
Labels: in:declarative-dsl

#27972 Make location reporting more refined for Java compiler diagnostics
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
Labels: 20 min review, platform:jvm

#28163 Add DevelocityBuildLifecycleService
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityBuildLifecycleServiceIntegrationTest.groovy
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/DevelocityBuildLifecycleService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultDevelocityBuildLifecycleService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServices.java
Labels: platform:gradle_enterprise

#28334 Provide documentation about removing auto-provisioned toolchains
  platforms/documentation/docs/src/docs/userguide/jvm/toolchains.adoc
Labels: in:toolchains, a:documentation, from:contributor

#28286 Update test expectations to reflect current deprecation behavior
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r73/DeprecationsCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/UnsafeConfigurationResolutionDeprecationIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/ParallelStaleOutputIntegrationTest.groovy
Labels: platform:software, platform:ide

#28358 Do not select root node for constraints
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ProjectDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
Labels: 1 min review, platform:software

#28356 Decouple dependency locking from configurations
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/AbstractLockingIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/locking/DependencyLockingStrictModeIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionHost.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyLockingProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultResolutionStrategy.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSetToFileCollectionFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/DefaultDependencyLockingProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/DependencyLockingGraphVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/InvalidLockFileException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/LockFileReaderWriter.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/MissingLockStateException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/locking/NoOpDependencyLockingProvider.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolutionstrategy/DefaultResolutionStrategySpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/locking/DefaultDependencyLockingProviderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/locking/DependencyLockingGraphVisitorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/locking/LockFileReaderWriterTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/locking/NoOpDependencyLockingProviderTest.groovy
Labels: 20 min review, platform:software

#28360 Split AbstractMultiProjectJvmApplicationInitIntegrationTest to 3 smaller classes
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MultiProjectJvmApplicationInitIntegrationTest.groovy
Labels: 20 min review, platform:software

#28376 End fix punctuations
  .teamcity/README.md
Labels: from:contributor

#27918 Add documentation for instrumentation logic
  platforms/core-runtime/BYTECODE-INTERCEPTION-README.md
Labels: p:lazy-migration

#28369 Allow circular reference chains that go through TaskProvider
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/EvaluationContext.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/OrElseValueProducer.java
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/AbstractNamedDomainObjectContainerSpec.groovy
Labels: a:regression

#28218 Improve capability conflict tracking
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/capabilities/CapabilitiesConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandlerTest.groovy
Labels: in:dependency-resolution

#28219 Publish all metadata after artifacts
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishSnapshotIntegTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/AbstractMavenPublisher.java
Labels: in:publishing-plugins

#28364 Use build operations instead of progress logger in persistent caches
  platforms/core-execution/build-cache/build.gradle.kts
  platforms/core-execution/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerPackOperationExecutorTest.groovy
  platforms/core-execution/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerTest.groovy
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/StepSpec.groovy
  platforms/core-execution/file-watching/build.gradle.kts
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchingNotSupportedVirtualFileSystemTest.groovy
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystemTest.groovy
  platforms/core-execution/persistent-cache/build.gradle.kts
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCacheFactory.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultCleanupProgressMonitor.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryCache.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultPersistentDirectoryStore.java
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCacheFactoryTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultCleanupProgressMonitorTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultPersistentDirectoryCacheTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultPersistentDirectoryStoreConcurrencyTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/DefaultPersistentDirectoryStoreTest.groovy
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/operations/BuildOperationExecutor.java
  platforms/core-runtime/build-operations/build.gradle.kts
  platforms/core-runtime/build-operations/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationRunner.java
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGeneratorSpec.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/report/DefaultTestReportTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/composite-builds/build.gradle.kts
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultRootBuildStateTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/cache/internal/GradleUserHomeCleanupService.java
  subprojects/core/src/main/java/org/gradle/cache/internal/GradleUserHomeCleanupServices.java
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/AbstractBuildCacheControllerFactory.java
  subprojects/core/src/main/java/org/gradle/caching/internal/services/DefaultBuildCacheControllerFactory.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/ProjectCacheDir.java
  subprojects/core/src/main/java/org/gradle/internal/operations/BuildOperationProgressEventListenerAdapter.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/BuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/session/CrossBuildSessionState.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/TestGlobalScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/cache/internal/GradleUserHomeCleanupServiceTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/project/LifecycleProjectEvaluatorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/TaskNodeFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/layout/ProjectCacheDirTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationExecutorParallelExecutionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationExecutorTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/operations/MaxWorkersTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/BuildOperationExecutorSupport.java
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
Labels: a:chore, in:execution-engine, platform:execution

#28382 Rename ProblemId.getParent() to ProblemId.getGroup()
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/AbstractInputFilePropertyAnnotationHandler.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerialization.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/ProblemId.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemId.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventConsumer.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: 1 min review, platform:ide, platform:build_infrastructure, platform:core_execution

#27558 Deprecate mutating a configuration after observation
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/BeforeResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationDefaultsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationMutationIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveContext.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/DefaultProjectLocalComponentProvider.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishIssuesIntegTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishIssuesIntegTest.groovy
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/ConfigurationVariantMapping.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PalantirConsistentVersionsPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: platform:software, platform:documentation, platform:release_coordination

#28346 Do not use PathKeyFileStore in the directory build cache implementation
  platforms/core-execution/build-cache-local/build.gradle.kts
  platforms/core-execution/build-cache-local/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCache.java
  platforms/core-execution/build-cache-local/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheFileStoreFactory.java
  platforms/core-execution/build-cache-local/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheService.java
  platforms/core-execution/build-cache-local/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  platforms/core-execution/build-cache-local/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  platforms/core-execution/build-cache-local/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheTest.groovy
  platforms/core-execution/build-cache/src/main/java/org/gradle/caching/local/internal/DefaultBuildCacheTempFileStore.java
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
Labels: a:chore, in:build-cache

#28393 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#28229 Fix punctuations
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, from:contributor

#28410 Fix punctuations
  architecture/standards/0003-avoid-introducing-Groovy-types-to-public-api.md
Labels: from:contributor

#28415 Move Global scope to Scopes
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileResolver.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/InstanceGenerator.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/WorkInputListener.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/WorkInputListeners.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/FileLockManager.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CrossBuildInMemoryCacheFactory.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-runtime/base-annotations/src/main/java/org/gradle/internal/service/scopes/Scope.java
  platforms/core-runtime/base-annotations/src/main/java/org/gradle/internal/service/scopes/Scopes.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/concurrent/ExecutorFactory.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/service/scopes/PluginServiceRegistry.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/service/ScopedServiceRegistryTest.groovy
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationAncestryTracker.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationListener.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationListenerManager.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationProgressEventEmitter.java
  platforms/core-runtime/files/src/main/java/org/gradle/internal/file/Deleter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DaemonStartListener.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/expiry/DaemonExpirationListener.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/scaninfo/DefaultDaemonScanInfoSpec.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/tooling/internal/provider/continuous/ContinuousBuildActionExecutorTest.groovy
  platforms/core-runtime/logging/src/main/java/org/gradle/api/internal/DocumentationRegistry.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/GlobalUserInputReceiver.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/progress/ProgressListener.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/ListenerManager.java
  platforms/core-runtime/messaging/src/test/groovy/org/gradle/internal/event/DefaultListenerManagerTest.groovy
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/JvmMemoryStatusListener.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/OsMemoryStatusListener.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/PropertyValidationAccess.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/SynchronizedLogging.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ImmutableModuleIdentifierFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/PreferJavaRuntimeVariant.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/BuildEventListenerFactory.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/BuildEventListenerRegistryInternal.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/OperationResultPostProcessorFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/util/internal/PatternSpecFactory.java
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/ScriptFileResolvedListener.java
  subprojects/core-api/src/main/java/org/gradle/internal/scripts/ScriptFileResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/UserInputReader.java
  subprojects/core/src/main/java/org/gradle/configuration/project/BuiltInCommand.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayoutFactory.java
  subprojects/core/src/main/java/org/gradle/internal/agents/AgentInitializer.java
  subprojects/core/src/main/java/org/gradle/internal/agents/AgentStatus.java
  subprojects/core/src/main/java/org/gradle/internal/execution/WorkExecutionTracker.java
  subprojects/core/src/main/java/org/gradle/internal/scripts/ScriptFileResolverListeners.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BasicGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/request/WorkerAction.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: 10 min review, platform:software, platform:ide, platform:build_infrastructure, platform:bt_ge_build_cache, platform:core_execution, platform:core_runtime, platform:core_configuration

#27406 Create intermediate models safely in case of cache miss
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/FetchCustomModelForSameProjectInParallel.java
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiCompositeBuildsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiParallelModelQueryIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/metadata/ProjectMetadataController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/models/IntermediateModelController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/models/ProjectStateStore.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/internal/IsolatedProjectsSafeKotlinDslScriptsModelBuilder.kt
  subprojects/core/src/main/java/org/gradle/internal/model/CalculatedValueContainerFactory.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/BlockingHttpServer.java
Labels: platform:build_infrastructure, platform:kotlin_dsl, platform:core_configuration

#28433 Fix testing for name based filtering of tasks
  subprojects/core/src/integTest/groovy/org/gradle/api/TaskContainerIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/DefaultTaskContainerTest.groovy
Labels: in:configuration-model

#27980 Introduce privateApiElements variant
  .teamcity/subprojects.json
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/java_library_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/dependencyManagement/inspectingDependencies-dependencyReason/tests/dependencyReasonReport.out
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReport.out
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReportReplaced.out
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/tests/outgoingVariants.out
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/tests/outgoingVariants.out
  platforms/documentation/docs/src/snippets/java-library/quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java-library/quickstart/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/java-library/quickstart/tests/javaLibraryOutgoingVariants.sample.conf
  platforms/documentation/docs/src/snippets/java-library/quickstart/tests/outgoingVariants.out
  platforms/jvm/core-jvm/build.gradle.kts
  platforms/jvm/core-jvm/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  platforms/jvm/core-jvm/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  platforms/jvm/core-jvm/src/test/groovy/org/gradle/internal/component/model/JavaEcosystemAttributeMatcherTest.groovy
  platforms/jvm/java-platform/build.gradle.kts
  platforms/jvm/java-platform/src/integTest/groovy/org/gradle/integtests/resolve/platforms/NativeAlignmentWithJavaPlatformResolveIntegrationTest.groovy
  platforms/jvm/java-platform/src/test/groovy/org/gradle/api/plugins/JavaPlatformPluginTest.groovy
  platforms/jvm/java-platform/src/test/java/org/gradle/internal/component/model/JavaEcosystemAttributeMatcherTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/plugins/jvm/internal/JvmFeatureInternal.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/internal/tasks/JvmConstants.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmEcosystemAttributesDetails.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServices.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/JvmEcosystemAttributesDetails.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/JvmPluginServices.java
  platforms/jvm/plugins-application/src/integTest/groovy/org/gradle/java/JavaApplicationOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/groovy/GroovyJavaLibraryInteractionIntegrationTest.groovy
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmFeatureTest.groovy
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServicesTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmFeature.java
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaProjectOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/CrossProjectMultipleVariantSelectionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/PlatformResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ExtraAttributeDisambiguationIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/attributes/ApiType.java
  subprojects/core-api/src/main/java/org/gradle/api/attributes/Usage.java
  subprojects/core/src/integTest/groovy/org/gradle/api/NamedDomainObjectCollectionSchemaIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/JavaEcosystemSupportTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/OutgoingVariantsReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ResolvableConfigurationsReportTaskIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenJavaModule.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: 30 min review, platform:jvm, platform:software, platform:documentation, platform:build_infrastructure, platform:release_coordination, build-script-change

#28416 Process created by ForkingTestClassProcessor should have native services disabled
  platforms/core-execution/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/ChmodBenchmark.java
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/core-execution/worker-processes/build.gradle.kts
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/messaging/WorkerConfig.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/messaging/WorkerConfigSerializer.java
  platforms/core-execution/worker-processes/src/test/groovy/org/gradle/process/internal/worker/messaging/WorkerConfigSerializerTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/NativeServicesInitializingAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonBuildOptions.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonServerConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DefaultDaemonServerConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/ForegroundDaemonConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonContextBuilder.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DefaultDaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/client/DefaultDaemonConnectorTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/protocol/DaemonStatusAndErrorReportingTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/DaemonRegistryServicesTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/PersistentDaemonRegistryTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonRegistryUnavailableExpirationStrategyTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonServicesTest.groovy
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParser.java
  subprojects/internal-testing/src/main/groovy/org/gradle/testfixtures/internal/NativeServicesTestFixture.java
Labels: a:bug, in:internal-native-libraries

#28431 Clean up access to private properties
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/DefaultConfigurationCache.kt
Labels: 1 min review, platform:core_configuration

#28450 Fix CC serialization problem in Scala base plugin
  platforms/jvm/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
Labels: in:configuration-cache, 1 min review, platform:jvm

#28451 Rework Kotlin compatibility table
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:documentation

#28311 Fix some issues with toolchain problem reporting
  platforms/jvm/jvm-services/src/integTest/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorIntegrationTest.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/CachingJvmMetadataDetector.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetector.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JavaInstallationRegistry.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationProblemReporter.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/AsdfInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/CurrentInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/EnvironmentVariableListInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/FileBasedInstallationFactory.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/InstallationLocation.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/IntellijInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/JabbaInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/LinuxInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/LocationListInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/MavenToolchainsInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/OsXInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/SdkmanInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/WindowsInstallationSupplier.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/CachingJvmMetadataDetectorTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/InvalidInstallationWarningReporterTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/ReportingJvmMetadataDetectorTest.groovy
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ToolchainsJvmServices.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/AutoInstalledInstallationSupplier.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/install/JdkCacheDirectory.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaInstallationRegistryTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JvmInstallationMetadataMatcherTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/ShowToolchainsTaskTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
Labels: a:bug, in:toolchains, platform:jvm, platform:build_infrastructure

#28266 Document resolution issue reproducers
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesIntegrationTest.groovy
Labels: 30 min review, platform:software

#28446 Do not ignore attributes on project dependency constraints
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/DependenciesAttributesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/ComponentSelectorParsers.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultDependencyMetadataFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintNotationParser.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintProjectNotationConverter.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultProjectComponentSelector.java
Labels: 10 min review, platform:software

#28168 Move many DependencyCollector tests to dedicated class
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/dependencies/TestSuitesGroovyDSLDependenciesIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/dependencies/TestSuitesKotlinDSLDependenciesIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorDslIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
Labels: a:chore, in:dependency-declarations, 30 min review, platform:jvm, platform:build_infrastructure

#28453 Revert "Introduce privateApiElements variant"
  .teamcity/subprojects.json
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/variant_model.adoc
  platforms/documentation/docs/src/docs/userguide/jvm/java_library_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/dependencyManagement/inspectingDependencies-dependencyReason/tests/dependencyReasonReport.out
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReport.out
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-declaringCapabilities/tests/dependencyReportReplaced.out
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced-published/tests/outgoingVariants.out
  platforms/documentation/docs/src/snippets/dependencyManagement/modelingFeatures-crossProjectPublications-advanced/tests/outgoingVariants.out
  platforms/documentation/docs/src/snippets/java-library/quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java-library/quickstart/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/java-library/quickstart/tests/javaLibraryOutgoingVariants.sample.conf
  platforms/documentation/docs/src/snippets/java-library/quickstart/tests/outgoingVariants.out
  platforms/jvm/core-jvm/build.gradle.kts
  platforms/jvm/core-jvm/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  platforms/jvm/core-jvm/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  platforms/jvm/core-jvm/src/test/groovy/org/gradle/internal/component/model/JavaEcosystemAttributeMatcherTest.groovy
  platforms/jvm/java-platform/build.gradle.kts
  platforms/jvm/java-platform/src/integTest/groovy/org/gradle/integtests/resolve/platforms/NativeAlignmentWithJavaPlatformResolveIntegrationTest.groovy
  platforms/jvm/java-platform/src/test/java/org/gradle/api/plugins/JavaPlatformPluginTest.groovy
  platforms/jvm/java-platform/src/test/java/org/gradle/internal/component/model/JavaEcosystemAttributeMatcherTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/plugins/jvm/internal/JvmFeatureInternal.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/internal/tasks/JvmConstants.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmEcosystemAttributesDetails.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServices.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/JvmEcosystemAttributesDetails.java
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/jvm/internal/JvmPluginServices.java
  platforms/jvm/plugins-application/src/integTest/groovy/org/gradle/java/JavaApplicationOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/groovy/GroovyJavaLibraryInteractionIntegrationTest.groovy
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmFeatureTest.groovy
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/jvm/internal/DefaultJvmPluginServicesTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmFeature.java
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaProjectOutgoingVariantsIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/CrossProjectMultipleVariantSelectionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/PlatformResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ExtraAttributeDisambiguationIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/attributes/ApiType.java
  subprojects/core-api/src/main/java/org/gradle/api/attributes/Usage.java
  subprojects/core/src/integTest/groovy/org/gradle/api/NamedDomainObjectCollectionSchemaIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/artifacts/JavaEcosystemSupportTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportVariantDetailsIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/OutgoingVariantsReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ResolvableConfigurationsReportTaskIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/MavenJavaModule.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: 30 min review, platform:jvm, platform:software, platform:documentation, platform:build_infrastructure, platform:release_coordination, build-script-change

#28460 Append .jar extension to instrumented artifact if it doesn't have it
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classpath/TransformedClassPath.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/BaseInstrumentingArtifactTransform.java
Labels: a:bug

#28470 Document visibility for testing of EntryPoint methods
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/bootstrap/EntryPoint.java
Labels: 1 min review, platform:core_runtime

#28471 Merge release into master
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classpath/TransformedClassPath.java
  released-versions.json
Labels: a:chore

#28256 Clean up and break up integ test
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/TapiAgentInstrumentationCrossVersionSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/execution/commandline/CommandLineIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/util/internal/DistributionLocatorIntegrationTest.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/debug/GradleBuildRunner.groovy
  subprojects/integ-test/src/integTest/groovy/org/gradle/debug/GradleRunConfiguration.groovy
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/CommandLineIntegrationTest/shared/build.gradle
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/CommandLineIntegrationTest/shared/settings.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
Labels: platform:ide, platform:build_infrastructure

#28473 Move Kotlin DSL tests from integ-test subproject
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/testFixtures/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractKotlinIntegrationTest.kt
  subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/GradleKotlinDslIntegrationTest.groovy
  subprojects/internal-integ-testing/build.gradle.kts
Labels: a:chore, re:platformization

#28462 Fix build generated by Maven2Gradle converter
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/MavenConversionIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradleinternal/buildinit/plugins/internal/maven/Maven2Gradle.java
Labels: 1 min review, platform:software

#28466 Expose configurations as variants
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependency.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DefaultLocalConfigurationMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/AbstractComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/ComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/ConfigurationGraphResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/DefaultComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphSelectionCandidates.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/VariantGraphResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureDescriberRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/ConfigurationNotConsumableFailureDescriber.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
Labels: platform:software

#28483 Fix doc info
  platforms/documentation/docs/src/docs/design/gradle-module-metadata-latest-specification.md
Labels: in:gradle-module-metadata, a:documentation, from:contributor

#28469 Fix doc info (cont)
  platforms/documentation/docs/src/docs/design/gradle-module-metadata-1.0-specification.md
Labels: a:documentation, from:contributor

#28499 Fix cross version test
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemProgressEventCrossVersionTest.groovy
Labels: 1 min review, platform:ide

#28486 Fix Gradle-Junit4 integration doesn't support junit parametrized tests with dot in the parameter
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/TestSelectionMatcher.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/filter/TestSelectionMatcherTest.groovy
Labels: in:testing-junit4, from:contributor

#28503 Improve handling of inconsistent immutable workspaces
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStepTest.groovy
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/DeprecationHandlingIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ExpectedDeprecationWarning.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
Labels: in:execution-engine

#28489 Fix Creating a Kotlin library with JUnit 5 testing is unsupported with gradle init
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/model/Description.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/kotlinlibrary/junitjupiter/LibraryTest.kt.template
Labels: in:build-init-plugin, from:contributor

#28509 Do not instrument abstract doCall methods of Closures
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/ClosureInstrumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/classpath/CallInterceptionClosureInstrumentingClassVisitor.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/transforms/InstrumentingClassTransform.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/DefaultCachedClasspathTransformerTest.groovy
Labels: a:regression

#28514 Handle duplicated artifacts with different paths in the instrumentation logic
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classpath/TransformedClassPath.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classpath/TransformedClassPathTest.groovy
  platforms/core-runtime/messaging/src/test/groovy/org/gradle/internal/serialize/HierarchicalNameSerializerTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathInstrumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/BaseInstrumentingArtifactTransform.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/services/CacheInstrumentationDataBuildService.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/utils/InstrumentationTransformUtils.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/mutator/ClearArtifactTransformCacheWithoutInstrumentedJarsMutator.groovy
  subprojects/internal-performance-testing/src/test/groovy/org/gradle/performance/mutator/ClearArtifactTransformCacheWithoutInstrumentedJarsMutatorTest.groovy
Labels: in:instrumentation

#28522 docs: Shows earlier hidden snippet needed for compilation
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
Labels: in:plugin-development, a:documentation, from:contributor

#28365 Reuse ScriptClassPathResolver to instrument build logic classpath for GeneratePrecompiledScriptPluginAccessors
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyFactoryInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
Labels: in:instrumentation

#28523 Handle invalid memory values from MBean, test MBeanOsMemoryInfo better
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonClientsManagerTest.groovy
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonExpirationTest.groovy
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/DefaultMBeanAttributeProvider.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/DefaultOsMemoryInfo.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/MBeanAttributeProvider.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/MBeanOsMemoryInfo.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/health/memory/OsMemoryInfo.java
  platforms/core-runtime/process-services/src/test/groovy/org/gradle/process/internal/health/memory/DefaultOsMemoryInfoTest.groovy
  platforms/core-runtime/process-services/src/test/groovy/org/gradle/process/internal/health/memory/MBeanOsMemoryInfoTest.groovy
  platforms/core-runtime/process-services/src/test/groovy/org/gradle/process/internal/health/memory/TestMBeanAttributeProvider.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
Labels: in:daemon, a:regression, 20 min review, platform:core_execution, in:core-utilities, platform:core_runtime

#28011 Introduce `IsolatedProject` view of `Project`
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ProblemReportingCrossProjectModelAccess.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
  subprojects/core-api/src/main/java/org/gradle/api/IsolatedProject.java
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultIsolatedProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
Labels: a:feature, in:configuration-model

#28542 Let `IsolatedProject` delegate `equals` and `hashCode`
  subprojects/core-api/src/main/java/org/gradle/api/IsolatedProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultIsolatedProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultIsolatedProjectSpec.groovy
Labels: a:feature, in:configuration-model, in:isolated-projects, 1 min review

#28543 Mark `IsolatedProject` as _unsupported_ by the Configuration Cache
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheUnsupportedTypesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/UnsupportedTypesCodecs.kt
Labels: a:feature, in:configuration-cache, 1 min review

#28328 Surface errors committing config cache report
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
Labels: in:configuration-cache, from:contributor, ⚠️ Lacks Tests

#28539 Minor plugin doc snippet update
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/controlling_task_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/organizing_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/core-plugins/base_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/img/writing-tasks-1.png
  platforms/documentation/docs/src/docs/userguide/img/writing-tasks-2.png
  platforms/documentation/docs/src/docs/userguide/img/writing-tasks-6.png
  platforms/documentation/docs/src/docs/userguide/jvm/java_testing.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_ant.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_maven.adoc
  platforms/documentation/docs/src/docs/userguide/troubleshooting/validation_problems.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/groovy/buildSrc/src/main/groovy/GreetingPlugin.gradle
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/groovy/buildSrc/src/main/groovy/com/example/ConventionGreetingPlugin.gradle
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/kotlin/buildSrc/src/main/kotlin/GreetingPlugin.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/kotlin/buildSrc/src/main/kotlin/com/example/ConventionGreetingPlugin.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/greetingPlugin/tests/greeting.out
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/src/main/groovy/my-java-library.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/src/main/kotlin/my-java-library.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/settings.gradle.kts
Labels: a:documentation

#28549 Tiny improvements to Gradle 8.7 upgrade guide
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation, from:contributor

#28551 Fix doc info
  platforms/documentation/docs/src/docs/design/gradle-module-metadata-1.0-specification.md
Labels: in:gradle-module-metadata, from:contributor

#28558 Fix doc info
  README.md
Labels: a:documentation, from:contributor

#28476 Correct typo in method name
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildExceptionReporter.java
Labels: a:chore, 1 min review

#28528 Upgrade wrapper to 8.8-20240325001802+0000
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
Labels: a:chore

#28562 Docs: Add obtain method to ValueSource sample
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
Labels: a:documentation, in:provider-api, from:contributor, ⚠️ Lacks Tests

#28564 Fix IP violation in Checkstyle
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/checkstyle/CheckstylePluginMultiProjectTest.groovy
  platforms/jvm/code-quality/src/main/groovy/org/gradle/api/plugins/quality/CheckstylePlugin.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/isolated/IsolatedProjectsExecuterFixture.groovy
Labels: 1 min review, platform:jvm, platform:build_infrastructure

#23412 [Junit] Allow to omit SystemOutLog & SystemErrLog in XML report #23229
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/jvm/java_testing.adoc
  platforms/documentation/docs/src/snippets/testing/junit-xml-results/groovy/build.gradle
  platforms/documentation/docs/src/snippets/testing/junit-xml-results/kotlin/build.gradle.kts
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/junit4/JUnit4LoggingOutputCaptureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterLoggingOutputCaptureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/vintage/JUnitVintageLoggingOutputCaptureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGLoggingOutputCaptureIntegrationTest.groovy
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/TaskGeneratedSingleDirectoryReport.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultJUnitXmlReport.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultOptions.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/JUnitXmlReport.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGeneratorSpec.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriterMergeRerunSpec.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/JUnitXmlResultWriterSpec.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/JUnitXmlTestExecutionResult.groovy
Labels: in:testing, in:java-plugins, from:contributor

#28516 Structural stacktrace classification with `Failure`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DecoratedPropertyProblem.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/JsonModelWriter.kt
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/CompositeStackTraceClassifier.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/DefaultFailure.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/DefaultFailureFactory.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/FailurePrinter.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/FailurePrinterListener.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/InternalStackTraceClassifier.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/problems/failure/package-info.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/failure/FailurePrinterTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/failure/SimulatedJavaException.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/problems/failure/DefaultFailureFactoryTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/failure/Failure.java
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/failure/FailureFactory.java
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/failure/StackTraceClassifier.java
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/failure/StackTraceRelevance.java
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/failure/package-info.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
Labels: 30 min review, platform:ide, platform:core_runtime, platform:core_configuration

#27121 Allow specifying a source encoding for the jacoco report tasks
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginMultiVersionIntegrationTest.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AbstractAntJacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoCheck.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoCoverageVerification.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReport.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/tasks/JacocoReportBase.java
  platforms/jvm/jacoco/src/test/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginSpec.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoReportFixture.groovy
Labels: in:jacoco-plugin, from:contributor

#28560 Add PMD 7.0.0 test coverage
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/PmdPluginIncrementalAnalysisIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/AbstractPmdPluginVersionIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdCustomRulesIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginAuxclasspathIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginSubtypeParamIntegrationTest.groovy
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginToolchainsIntegrationTest.groovy
  platforms/jvm/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/PmdCoverage.groovy
Labels: in:pmd-plugin

#28563 Add some internal docs for config cache
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/BindingsBackedCodec.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/package-info.java
Labels: a:documentation

#28569 Fix Declarative DSL runtime setting properties in Kotlin types
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeRuntimeProperty.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimePropertyResolver.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDslProjectBuildFileIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypeSafeProjectAccessorsSchemaBuildingComponent.kt
Labels: in:declarative-dsl

#28465 Add support for using project dependencies in the declarative DSL with DependencyCollector
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
Labels: 1 min review, platform:core_configuration

#28574 Re-enable CancellationIntegrationTest
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/CancellationIntegrationTest.groovy
Labels: 1 min review

#28585 Weaken recommendation for adding attributes to schemas and explain why
  platforms/documentation/docs/src/docs/userguide/dep-man/04-modeling-features/variant_attributes.adoc
Labels: a:documentation, 1 min review, platform:documentation

#28590 Make it possible to override POM name and description using conventions
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginPublishingIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/MavenPluginPublishPlugin.java
Labels: platform:documentation

#28176 Adjust redundant configuration usage change warning
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ConfigurationUsageChangingFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ResultAssertion.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithKotlinDeprecations.groovy
Labels: 10 min review, platform:software, platform:documentation, platform:build_infrastructure, platform:release_coordination

#28463 Split ConfigurationBoundExternalDependencyMetadata
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ivy/IvyModuleResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/resolver/DirectDependencyMetadataAdapter.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ExternalDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ExternalModuleDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyConfigurationHelper.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/IvyDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/RealisedIvyModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ivy/RealisedIvyModuleResolveMetadataSerializationHelper.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/DefaultMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyDescriptor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/MavenDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadataSerializationHelper.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/ConfigurationMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/ExternalRequestedConfigurationNotFoundFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/type/ExternalRequestedConfigurationNotFoundFailure.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/DependenciesMetadataAdapterOnIvyMetadataTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/repositories/resolver/DependenciesMetadataAdapterOnPomMetadataTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/IvyDependencyDescriptorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/external/model/MavenDependencyDescriptorTest.groovy
Labels: platform:software

#28603 Downgrade JVM target error to warning in kotlin-dsl plugin
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmTargetIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AvailableJavaHomes.java
Labels: a:bug, in:kotlin-dsl, 10 min review, platform:build_infrastructure, platform:kotlin_dsl, build-script-change, platform:core_configuration

#28604 Document support for `Externalizable` in the configuration cache
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/jos/JavaObjectSerializationCodec.kt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/configuration_cache.adoc
Labels: a:documentation

#28262 Improve JVM version too low error message
  .teamcity/subprojects.json
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/internal/DefaultPluginArtifactRepositories.java
  platforms/jvm/core-jvm/build.gradle.kts
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/jvm-services/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemAttributesDescriber.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/api/internal/artifacts/JavaEcosystemSupport.java
  platforms/jvm/platform-jvm/build.gradle.kts
  platforms/jvm/platform-jvm/src/main/java/org/gradle/api/plugins/JvmEcosystemPlugin.java
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryCrossProjectTargetJvmVersionIntegrationTest.groovy
  platforms/jvm/plugins-java-library/src/integTest/groovy/org/gradle/java/JavaLibraryPublishedTargetJvmVersionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PluginVariantResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/plugin/devel/variants/TargetJVMVersionOnLibraryTooNewFailureDescriberIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/plugin/devel/variants/TargetJVMVersionOnPluginTooNewFailureDescriberIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/AbstractJVMVersionTooNewFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/GradlePluginVariantsSupport.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/PlatformSupport.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/TargetJVMVersionOnLibraryTooNewFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/TargetJVMVersionOnPluginTooNewFailureDescriber.java
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/jvm/JavaToolchainFixture.groovy
Labels: 30 min review, platform:jvm, platform:software, platform:build_infrastructure, build-script-change, re:comprehensibility

#28617 Update wrapper to 8.8-20240328140806+0000 for Kotlin DSL update
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle, 1 min review

#28613 Build name and errors without stacktrace in CC report
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/ConfigurationCacheReport.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/DecoratedPropertyProblem.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/HtmlReportWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/problems/JsonModelWriter.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/configurationcache/problems/JsonModelWriterTest.kt
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheProblemsFixture.groovy
Labels: platform:build_infrastructure, platform:core_configuration

#28615 Replace misattributted quote with an appropriate Hawking one
  platforms/documentation/docs/src/snippets/workerApi/md5ClassloaderIsolation/groovy/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5ClassloaderIsolation/kotlin/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5CustomTask/groovy/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5CustomTask/kotlin/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5NoIsolation/groovy/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5NoIsolation/kotlin/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5ProcessIsolation/groovy/src/hawking.txt
  platforms/documentation/docs/src/snippets/workerApi/md5ProcessIsolation/kotlin/src/hawking.txt
Labels: a:documentation, 1 min review, platform:documentation

#25124 Deprecate Configuration filtered File and FileCollection methods
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/tasks/ClasspathManifest.kt
  build-logic-commons/module-identity/src/main/kotlin/gradlebuild.module-jar.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ConfigurationDeprecatedExtensions.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/tests/sanityCheck.out
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/tests/sanityCheck.sample.conf
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ConfigurationBuildDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/FilteredConfigurationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ParallelDownloadsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvedArtifactOrderingIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolvedFileOrderingIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/UnsafeConfigurationResolutionDeprecationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationDefaultsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyHandlerApiResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolvedFilesApiIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementProjectScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyClassPathNotationConverter.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyNotationParser.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/notations/DependencyClassPathNotationConverterTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
  subprojects/core/src/integTest/groovy/org/gradle/api/NestedConfigureDslIntegrationTest.groovy
  subprojects/performance/src/templates/kts-project-with-source/build.gradle.kts
  subprojects/performance/src/templates/project-with-source/build.gradle
  subprojects/performance/src/templates/project-with-source/pom.xml
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: platform:software, platform:documentation, platform:release_coordination, platform:kotlin_dsl, build-script-change, platform:core_configuration

#28579 IP violations focused on offending APIs and deduplicated by access patterns
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromKotlinDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiCoupledProjectsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiIdeaProjectIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiInvocationValidationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsToolingApiModelQueryIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/CrossProjectModelAccessPattern.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ProblemReportingCrossProjectModelAccess.kt
  subprojects/core/src/main/java/org/gradle/api/internal/project/CrossProjectModelAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultCrossProjectModelAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsJavaProjectSyncTest.groovy
Labels: platform:core_configuration

#28422 Improve error reporting when repositories are disabled
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DependencyUnresolvedModuleIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ConnectionFailureRepositoryDisabler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ErrorHandlingModuleComponentRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/RepositoryDisabler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/ArtifactResolveException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/ModuleVersionResolveException.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ConnectionFailureRepositoryDisablerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ErrorHandlingModuleComponentRepositoryTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildExceptionReporter.java
  subprojects/core/src/main/java/org/gradle/internal/exceptions/ContextAwareException.java
  subprojects/core/src/main/java/org/gradle/internal/exceptions/ExceptionContextVisitor.java
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildExceptionReporterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/exceptions/ContextAwareExceptionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/exceptions/LocationAwareExceptionTest.groovy
Labels: platform:software, re:comprehensibility

#28620 Add Groovy to Doc tutorials
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr2_build_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr3_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr4_settings_file.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr5_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr6_writing_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr7_writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/img/tutorial/project-structure.png
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part2_gradle_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part4_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part5_gradle_inc_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part6_gradle_caching.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part7_gradle_refs.adoc
Labels: a:documentation, 1 min review
