Repository gradle/gradle, pull requests merged in 2024-02, with the labels that each got.

#27901 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#27880 Add timeout for `UnitTestPreconditions$Online`
  subprojects/internal-testing/src/main/groovy/org/gradle/test/preconditions/UnitTestPreconditions.groovy
Labels: 1 min review, platform:build_infrastructure

#27879 Revert "Remove flakiness annotation to check to capture data"
  subprojects/plugins/src/integTest/groovy/org/gradle/api/tasks/JavaExecDebugIntegrationTest.groovy
Labels: 1 min review, platform:jvm

#27907 Mark missing override as an error in IntelliJ
  .idea/inspectionProfiles/Gradle.xml
Labels: a:chore

#27463 Update CODEOWNERS for support / DevProd
  .github/CODEOWNERS
Labels: a:chore

#27899 Update ReadelfBinaryInfo test fixtures to correctly parse binaries cr…
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/platform/internal/ReadelfBinaryInfoTest.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/binaryinfo/ReadelfBinaryInfo.groovy
Labels: in:native-platform, 5 min review

#27291 JGit upgrade
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle/dependency-management/capabilities.json
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/version-control/build.gradle.kts
  platforms/software/version-control/src/main/java/org/gradle/vcs/git/internal/GitVersionControlSystem.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/distributions-dependencies/build.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
Labels: a:chore, in:source-dependencies

#27876 Clearly separate legacy artifact resolution path from modern path
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolverResults.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultResolvedConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/LenientConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/BuildDependenciesOnlyVisitedArtifactSet.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/DefaultVisitedArtifactSet.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VisitedArtifactSet.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfigurationTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ShortCircuitEmptyConfigurationResolverSpec.groovy
Labels: 20 min review, platform:software

#27051 Improve deprecation details reported via Problems API
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/TransformBackedProviderTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/DeprecationLogger.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationLoggerTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecationMessagesTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core/src/main/java/org/gradle/internal/buildtree/InitDeprecationLoggingActionExecutor.java
  subprojects/core/src/test/groovy/org/gradle/testfixtures/ProjectBuilderTest.groovy
Labels: a:regression, in:deprecation-logging, in:problems, @ide-experience, 5 min review, platform:core_runtime, platform:core_configuration

#27361 Evict content indirectly referenced via symlinks from VFS
  platforms/core-execution/file-watching/src/integTest/groovy/org/gradle/internal/watch/SymlinkFileSystemWatchingIntegrationTest.groovy
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/FileWatcherRegistry.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/FileWatcherUpdater.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/AbstractFileWatcherUpdater.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/DefaultFileWatcherRegistry.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdater.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/WatchableHierarchies.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/BuildLifecycleAwareVirtualFileSystem.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/FileSystemWatchingInformation.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingNotSupportedVirtualFileSystem.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystem.java
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/AbstractFileWatcherUpdaterTest.groovy
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/HierarchicalFileWatcherUpdaterTest.groovy
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/registry/impl/NonHierarchicalFileWatcherUpdaterTest.groovy
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchingNotSupportedVirtualFileSystemTest.groovy
  platforms/core-execution/file-watching/src/test/groovy/org/gradle/internal/watch/vfs/impl/WatchingVirtualFileSystemTest.groovy
  platforms/core-execution/snapshots/src/main/java/org/gradle/internal/snapshot/FileSystemLocationSnapshot.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/NotifyDaemonAboutChangedPathsClient.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/protocol/InvalidateVirtualFileSystemAfterChange.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/api/HandleInvalidateVirtualFileSystem.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/exec/CleanUpVirtualFileSystemAfterBuild.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/continuous/ContinuousBuildActionExecutor.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/tooling/internal/provider/continuous/ContinuousBuildActionExecutorTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r61/InvalidateVirtualFileSystemAfterChangeCrossVersionSpec.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/JavaSourceIncrementalCompilationIntegrationTest.groovy
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/IncrementalBuildSymlinkHandlingIntegrationTest.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/AbstractDaemonFixture.groovy
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonFixture.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/GradleBuildExperimentRunner.java
Labels: in:virtual-file-system

#27738 Reuse ScriptClassPathResolver for instrumentation of TestKit classpath
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUsePluginServiceRegistry.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/DefaultInjectedClasspathPluginResolver.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/use/resolve/service/internal/package-info.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultBuildLogicBuilder.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSrcBuildListenerFactory.java
Labels: in:test-kit, @execution, in:instrumentation

#27932 Update wrapper to 8.6
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#27930 Merge release into master
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AssignImmutableWorkspaceStepTest.groovy
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
Labels: a:chore, @execution

#27916 Lock-in performance improvements from #27852
  gradle.properties
Labels: 1 min review

#27911 Add `-Werror` test
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
Labels: 10 min review, platform:jvm

#27954 Lazily evaluate git commit id
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildEnvironment.kt
Labels: 1 min review

#27951 Change javadoc to avoid commitment to specific details
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemAggregation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/events/problems/ProblemAggregationDescriptor.java
Labels: 1 min review, platform:ide

#27968 Add API change description
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
Labels: 1 min review

#27931 Polish `DefaultGradle`
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java
Labels: a:chore, 5 min review

#27942 Incremental Compilation - prefer project compiled sources (#21255)
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/AbstractCrossTaskIncrementalCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/recomp/AbstractRecompilationSpecProvider.java
Labels: in:java-plugins, from:contributor

#27961 Consolidate gitstream author checks with custom filter function
  .cm/code_experts.cm
  .cm/complex_changes.cm
  .cm/estimated_time_to_review.cm
  .cm/includes_todos.cm
  .cm/javadoc_on_new_files.cm
  .cm/lacks_tests.cm
  .cm/platform_labels.cm
  .cm/plugins/filters/isEnabledUser/index.js
  .cm/summary_table.cm
Labels: cm-changes

#27919 Fix readelf test fixture to extract all source files from a ELF binary
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppApplicationIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftLibraryIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/tasks/ExtractSymbolsIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/tasks/StripSymbolsIntegrationTest.groovy
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/platform/internal/ReadelfBinaryInfoTest.groovy
  platforms/native/platform-native/src/testFixtures/groovy/org/gradle/nativeplatform/fixtures/binaryinfo/ReadelfBinaryInfo.groovy
Labels: 5 min review

#27971 Remove unused constructor
  build-logic/build-init-samples/src/main/kotlin/gradlebuild/samples/SamplesGenerator.kt
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/InitSettings.java
Labels: a:chore, 1 min review, platform:software

#27915 Document adding dependency verification keys by hand
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/dep-man/01-core-dependency-management/dependency_verification.adoc
Labels: a:documentation, in:dependency-verification

#27936 Do not completely ignore some files when trying to generate @since in…
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiTypeProvider.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/FunctionSinceRepository.kt
Labels: 1 min review, platform:kotlin_dsl

#28003 Add explicit gitStream triggers
  .cm/code_experts.cm
  .cm/complex_changes.cm
  .cm/estimated_time_to_review.cm
  .cm/includes_todos.cm
  .cm/javadoc_on_new_files.cm
  .cm/lacks_tests.cm
  .cm/platform_labels.cm
  .cm/summary_table.cm
Labels: cm-changes

#27791 Improve instantiation of DependencyGraphBuilder
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ComponentResolversFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolversFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ConflictResolverFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/LatestModuleConflictResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ProjectDependencyForcingResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolutionConflictTracker.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/CompositeConflictResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/ConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultCapabilitiesConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/DefaultConflictHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/conflicts/ModuleConflictHandler.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphBuilderTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/selectors/SelectorStateResolverTest.groovy
Labels: 30 min review, platform:software

#27324 Introduce `IsolatedProject` view of `Project`
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/ProblemReportingCrossProjectModelAccess.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  subprojects/core-api/src/main/java/org/gradle/api/IsolatedProject.java
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultIsolatedProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
Labels: in:configuration-model, from:contributor

#18265 Fix native compiler metadata detection on non-english locales
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/metadata/AbstractMetadataProvider.java
Labels: in:native-platform, from:contributor, ⚠️ Lacks Tests

#28007 Fix FileCollectionSymlinkIntegrationTest flakiness
  subprojects/core/src/integTest/groovy/org/gradle/api/file/FileCollectionSymlinkIntegrationTest.groovy
Labels: a:chore, in:virtual-file-system

#27992 Delete left over from jdk-toolchains
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/plugins/src/main/resources/META-INF/gradle-plugins/org.gradle.jdk-toolchains.properties
Labels: a:chore, in:toolchains

#27934 Apply projectHealth recommendations to language-groovy
  gradle.properties
  platforms/jvm/language-groovy/build.gradle.kts
Labels: 1 min review, platform:jvm, build-script-change

#27970 Use ProblemDiagnostics for Plugin Id and remove TaskPathLocationTransformer
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems/src/integTest/groovy/org/gradle/api/problems/InjectedProblemsTransformerIntegrationTest.groovy
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/OperationListener.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/services/ProblemsBuildTreeServices.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/services/ProblemsGlobalServices.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/services/ProblemsServices.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/BaseLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/PluginIdLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/ProblemStreamLocationTransformer.java
  platforms/ide/problems/src/main/java/org/gradle/problems/internal/transformers/TaskPathLocationTransformer.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemProgressEventCrossVersionTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
Labels: 10 min review, platform:jvm, platform:ide

#28004 Dependency upgrades
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/ide-native/src/main/java/org/gradle/api/internal/PropertyListTransformer.java
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiResolveIntegrationTest.groovy
  subprojects/core/build.gradle.kts
  subprojects/core/src/test/resources/org/gradle/api/internal/catalog/parser/unexpected-alias-key-2.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/catalog/parser/unexpected-alias-key-3.toml
  subprojects/core/src/test/resources/org/gradle/api/internal/catalog/parser/unexpected-version-key-3.toml
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore

#28015 Fix UserInputHandler.askYesNoQuestion
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/tasks/userinput/UserInputHandlingIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/userinput/UserInputHandler.java
Labels: 1 min review

#28002 Nag for deprecation of `org.gradle.util.CollectionUtils.stringize(Collection)`
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/developingPlugins/externalLibraries/groovy/build.gradle
  platforms/documentation/docs/src/snippets/developingPlugins/externalLibraries/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/developingPlugins/externalLibraries/tests/buildEnvironment.out
  subprojects/core-api/src/main/java/org/gradle/util/CollectionUtils.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AsciidoctorPluginSmokeTest.groovy
Labels: a:chore

#28018 Fix Javadoc for BuildCacheService
  platforms/core-execution/build-cache-spi/src/main/java/org/gradle/caching/BuildCacheService.java
Labels: 1 min review, platform:bt_ge_build_cache, platform:core_execution

#27939 Apply projectHealth recommendations to reporting
  gradle.properties
  platforms/software/reporting/build.gradle.kts
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SimpleReport.java
Labels: 1 min review, platform:software, build-script-change

#27896 Add "Contributing to Documentation" to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: a:documentation

#27913 Sort IgnoredKey entries in gradle/verification-metadata.xml
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/model/IgnoredKey.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriter.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/verification/serializer/DependencyVerificationsXmlWriterTest.groovy
Labels: a:bug

#27977 Fix typos
  Development.md
Labels: a:documentation, from:contributor

#28024 Fix Teamcity parallel test setup for Smoke tests
  .teamcity/src/main/kotlin/configurations/FunctionalTest.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/SmokeTests.kt
Labels: @dev-productivity, 1 min review, platform:build_infrastructure

#28025 Disable toolchain discovery on CI
  .teamcity/src/main/kotlin/common/extensions.kt
Labels: 1 min review, platform:build_infrastructure

#28026 Fix TC config test failures
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
Labels: 1 min review, platform:build_infrastructure

#28027 Respect TEAMCITY_PARALLEL_TESTS_ENABLED
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildEnvironment.kt
Labels: 1 min review

#28012 Improve error message where the Android studio property can come from
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/ide/AndroidStudioSystemProperties.kt
Labels: a:chore, 1 min review

#28010 Fixing puntuactions
  architecture-standards/0002-avoid-using-java-serialization.md
Labels: a:documentation, to-triage, from:contributor

#28013 DefaultDeleter now deletes read-only files on Windows
  platforms/core-runtime/files/src/main/java/org/gradle/internal/file/impl/DefaultDeleter.java
  platforms/core-runtime/files/src/test/groovy/org/gradle/internal/file/impl/DefaultDeleterTest.groovy
Labels: a:bug

#27950 Add advice to deprecation probems
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/featurelifecycle/LoggingDeprecatedFeatureHandler.java
Labels: 1 min review, platform:core_runtime

#27988 Test and document Java 22 compile/test support
  build-logic-commons/build-platform/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/api/JavaVersion.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/api/JavaVersionSpec.groovy
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classanalysis/JavaClassUtilTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
Labels: a:feature, in:java-plugins

#27800 Strongly Typed Dependency Constraints
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependenciesExtensions.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultSetProperty.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/dependencies/TestSuitesGroovyDSLDependenciesIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/dependencies/TestSuitesKotlinDSLDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyConstraintFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementProjectScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/notations/DependencyConstraintNotationParser.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandlerTest.groovy
  subprojects/architecture-test/src/changes/accepted-public-api-changes.json
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/Dependencies.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyCollector.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyConstraintFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyCollector.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependenciesExtensionModule.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyConstraintFactoryInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyFactoryInternal.java
Labels: a:feature, in:dependency-declarations, platform:jvm, platform:software, platform:kotlin_dsl, platform:core_configuration

#28031 Do not run identity cache tests on no-daemon executor
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformExecutionBuildOperationIntegrationTest.groovy
  subprojects/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: 1 min review, platform:software, platform:build_infrastructure

#28032 Update performance test times
  .teamcity/performance-test-durations.json
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/AbstractWritableResultsStore.groovy
Labels: 5 min review, platform:build_infrastructure

#28036 Take flakiness rate into account for performance test times
  .teamcity/performance-test-durations.json
  platforms/enterprise/enterprise-plugin-performance/src/testFixtures/groovy/org/gradle/performance/results/BuildScanReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/AbstractWritableResultsStore.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/DefaultPerformanceFlakinessDataProvider.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceFlakinessDataProvider.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestRuntimesGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/AbstractReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/AbstractTablePageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/DefaultReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/FlakinessIndexPageGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/FlakinessReportGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/IndexPageGenerator.java
Labels: 5 min review, platform:build_infrastructure, platform:gradle_enterprise

#28039 Respect OS for performance test history and flakiness handling
  .teamcity/performance-test-durations.json
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/DefaultPerformanceFlakinessDataProvider.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestRuntimesGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ResultsStoreHelper.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/DefaultReportGenerator.java
Labels: 10 min review, platform:build_infrastructure

#28049 Cherry-pick "Respect OS for performance test history and flakiness handling"
  .teamcity/performance-test-durations.json
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/DefaultPerformanceFlakinessDataProvider.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestRuntimesGenerator.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ResultsStoreHelper.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/DefaultReportGenerator.java
Labels: 10 min review, platform:build_infrastructure

#27925 Upgrade file-leak-detector to 1.17
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
Labels: a:chore

#27938 Apply projectHealth recommendations to platform-jvm
  gradle.properties
  platforms/jvm/platform-jvm/build.gradle.kts
Labels: 1 min review, platform:jvm, build-script-change

#28055 Remove constraint(String, String, String) and named overloads
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependenciesExtensions.kt
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/Dependencies.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependenciesExtensionModule.java
Labels: in:dependency-declarations, 1 min review, platform:kotlin_dsl, platform:core_configuration

#28035 Fix typo in userguide
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/partr6_writing_tasks.adoc
Labels: a:documentation, from:contributor

#28016 Fix null handling when mapping `AssertionFailedError`
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/failure/TestFailureMapper.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/failure/mappers/OpenTestAssertionFailedMapper.java
  platforms/jvm/testing-jvm-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/failure/mappers/OpenTestAssertionFailedMapperTest.groovy
Labels: platform:jvm

#28038 Removing excludes from DirectoryScanner works in configuration cache #27225
  platforms/core-execution/snapshots/src/integTest/groovy/org/gradle/internal/vfs/DefaultExcludesIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/tasks/util/internal/PatternSpecFactory.java
Labels: in:configuration-cache, from:contributor

#28065 Remove cleanUpReadOnlyDir
  .teamcity/src/main/kotlin/common/performance-test-extensions.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/main/kotlin/configurations/PerformanceTest.kt
  .teamcity/src/main/kotlin/promotion/PublishGradleDistributionFullBuild.kt
  .teamcity/src/main/kotlin/util/AdHocPerformanceScenario.kt
  .teamcity/src/main/kotlin/util/RerunFlakyTest.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  .teamcity/src/test/kotlin/PromotionProjectTests.kt
  gradle/wrapper/gradle-wrapper.properties
Labels: platform:build_infrastructure

#28071 Prune dependencies of ivy according to projectHealth recommendations
  gradle.properties
  platforms/software/ivy/build.gradle.kts
Labels: 1 min review, platform:software, build-script-change

#27937 Apply projectHealth recommendations to diagnostics
  gradle.properties
  subprojects/diagnostics/build.gradle.kts
Labels: 1 min review, build-script-change

#27795 Polish and rename ResolveIvyFactory
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/GlobalDependencyResolutionRules.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ExternalModuleComponentResolverFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/ComponentResolversFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQuery.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQueryFactory.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/ExternalModuleComponentResolverFactoryTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/query/DefaultArtifactResolutionQueryTest.groovy
Labels: platform:software

#27760 Implement build operation trace filtering
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/core/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractGradleBuildConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractGradleceptionSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AnnotationProcessingSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildBinaryDistributionConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildCrossVersionTestConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildDocumentationConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildIntegTestConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildSanityCheckConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildSmokeTestConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildSoakTestConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildUnitTestConfigurationCacheSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPrecompiledScriptPluginsSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/ShadowPluginSmokeTest.groovy
  subprojects/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SmokeTestGradleRunner.groovy
Labels: 30 min review, platform:release_coordination

#28054 Add read-only pattern inspection methods
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/configurationcache/serialization/codecs/PatternSetCodec.kt
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DirectoryFileTree.java
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
  subprojects/core-api/src/main/java/org/gradle/api/tasks/util/PatternSet.java
  subprojects/core-api/src/main/java/org/gradle/api/tasks/util/internal/PatternSpecFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/file/copy/DefaultCopySpec.java
Labels: a:bug, 5 min review, platform:core_configuration

#28056 Lock on project when calculating configuration metadata dependencies
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/DefaultLocalConfigurationMetadataBuilder.java
Labels: platform:software

#28073 Fix punctuations
  .github/PULL_REQUEST_TEMPLATE.md
Labels: in:building-gradle, a:documentation, from:contributor

#28079 Fixing for better understanding
  .teamcity/README.md
Labels: in:building-gradle, from:contributor

#28090 Rework file deleter
  platforms/core-runtime/files/src/main/java/org/gradle/internal/file/impl/DefaultDeleter.java
Labels: a:chore

#28089 Eagerly calculate size for local store
  platforms/core-execution/build-cache/src/main/java/org/gradle/caching/internal/controller/service/OpFiringLocalBuildCacheServiceHandle.java
Labels: in:build-scan, 1 min review, platform:bt_ge_build_cache, platform:core_execution

#28091 Run precondition tester on Intel macs
  .teamcity/src/main/kotlin/model/FunctionalTestBucketGenerator.kt
Labels: 1 min review, platform:build_infrastructure

#28112 fix link to Gradle API - add missing slash
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_build_scripts.adoc
Labels: a:documentation, from:contributor

#27984 Remove non-working printout of the diagnostic
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
Labels: 1 min review, platform:jvm

#28115 Apply the Develocity plugin in BuildScanPluginPerformanceTest
  platforms/enterprise/enterprise-plugin-performance/src/performanceTest/groovy/org/gradle/performance/BuildScanPluginPerformanceTest.groovy
Labels: 1 min review, platform:gradle_enterprise

#28103 Use invariantSeparatorsPathString when constructing subprojects info to be platform-agnostic
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/SubprojectsInfo.kt
Labels: to-triage, from:contributor, ⚠️ Lacks Tests

#28130 Test Kotlin 2.0.0-Beta4
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore

#28131 Release notes for 8.7
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28121 Fix link and name for foojay plugin in docs
  platforms/documentation/docs/src/docs/userguide/jvm/toolchains.adoc
Labels: in:toolchains, from:contributor

#28138 Move DefaultBuildOperationProgressEventEmitter to :build-operations
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/BuildOperationTimeSupplier.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationProgressEventEmitter.java
  platforms/core-runtime/build-operations/src/main/java/org/gradle/internal/operations/DefaultBuildOperationRunner.java
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationRunnerTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
Labels: in:build-cache

#28124 Fix punctuations
  platforms/ide/tooling-api/readme.md
Labels: a:documentation, from:contributor

#28134 Publish declarative-dsl-api artifact
  platforms/core-configuration/declarative-dsl-api/build.gradle.kts
Labels: in:declarative-dsl

#28137 Apply projectHealth recommendations to language-jvm
  gradle.properties
  platforms/jvm/language-jvm/build.gradle.kts
Labels: 1 min review, platform:jvm, build-script-change

#28139 Remove unused properties from cache artifact metadata
  platforms/core-execution/build-cache-base/src/main/java/org/gradle/caching/internal/origin/OriginMetadataFactory.java
  platforms/core-execution/build-cache-base/src/test/groovy/org/gradle/caching/internal/origin/OriginMetadataFactoryTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CacheTaskOutputIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/internal/BuildCacheServices.java
Labels: in:build-cache

#28136 Apply projectHealth recommendations to jacoco
  gradle.properties
  platforms/jvm/jacoco/build.gradle.kts
Labels: 1 min review, platform:jvm, build-script-change

#28152 Set description of the declarative-dsl-api subproject
  platforms/core-configuration/declarative-dsl-api/build.gradle.kts
Labels: in:declarative-dsl

#28098 Write new performance test for Declarative DSL
  .teamcity/performance-test-durations.json
  .teamcity/performance-tests-ci.json
  .teamcity/src/main/kotlin/model/PerformanceTestBucketProvider.kt
  build-logic/performance-testing/src/main/groovy/gradlebuild.performance-templates.gradle
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/polyglot/PolyglotDslTestInterceptor.java
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/TestProjectLocator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/AbstractTestProjectGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/DeclarativeDslTestProjectGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
  subprojects/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGenerator.groovy
  subprojects/internal-testing/src/main/groovy/org/gradle/test/fixtures/dsl/GradleDsl.groovy
  subprojects/performance/src/performanceTest/groovy/org/gradle/performance/experiment/declarativedsl/DeclarativeDslFirstUsePerformanceTest.groovy
Labels: in:declarative-dsl

#28155 Upgrade kotlin-dsl-conventions plugin
  build-logic-commons/build-platform/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginTasksIntegrationTest.kt
Labels: 1 min review, platform:kotlin_dsl, build-script-change, platform:core_configuration

#28154 Keep the original order of artifacts after the instrumentation for build classpath
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classpath/TransformedClassPath.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/classpath/TransformedClassPathTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/variants/GradlePluginWithVariantsPublicationIntegrationTest.groovy
  platforms/extensibility/plugin-use/src/integTest/groovy/org/gradle/plugin/repository/RepositoryOrderingIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathInstrumentationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptClassPathResolver.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/BaseInstrumentingArtifactTransform.java
  subprojects/core/src/main/java/org/gradle/internal/component/local/model/TransformedComponentFileArtifactIdentifier.java
Labels: in:instrumentation

#28182 Polishing of release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28173 Add incubating note to JVM Test Suite Plugin docs
  platforms/documentation/docs/src/docs/userguide/jvm/jvm_test_suite_plugin.adoc
Labels: a:documentation, in:test-suites, 1 min review, platform:documentation

#28165 Migrate core-api-jvm code to jvm-services
  .teamcity/subprojects.json
  platforms/jvm/code-quality/build.gradle.kts
  platforms/jvm/core-api-jvm/build.gradle.kts
  platforms/jvm/core-jvm/build.gradle.kts
  platforms/jvm/distributions-jvm/build.gradle.kts
  platforms/jvm/java-platform/build.gradle.kts
  platforms/jvm/jvm-services/src/main/java/org/gradle/api/attributes/java/TargetJvmEnvironment.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/api/attributes/java/package-info.java
  platforms/jvm/platform-jvm/build.gradle.kts
  platforms/jvm/plugins-java-base/build.gradle.kts
  settings.gradle.kts
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  subprojects/internal-integ-testing/build.gradle.kts
Labels: 1 min review, platform:jvm, platform:build_infrastructure, build-script-change

#27869 Re-enable -Werror for all Java compilation
  build-logic/jvm/src/main/kotlin/gradlebuild/jvm/extension/StrictCompileExtension.kt
  platforms/core-configuration/base-services-groovy/build.gradle.kts
  platforms/core-configuration/base-services-groovy/src/main/java/org/gradle/api/specs/AndSpec.java
  platforms/software/reporting/build.gradle.kts
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/GenerateBuildDashboard.java
  platforms/software/resources-gcs/src/main/java/org/gradle/internal/resource/transport/gcp/gcs/GcsClient.java
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/Task.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/FileCollectionDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ProjectDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/execution/TaskExecutionAdapter.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/HasMultipleValues.java
  subprojects/core-api/src/main/java/org/gradle/util/CollectionUtils.java
Labels: a:chore, in:building-gradle

#28175 Fix the architecture docs diagram in dark mode
  architecture/README.md
  settings.gradle.kts
Labels: a:documentation, 1 min review, build-script-change

#28143 Extract JVM platform integration tests from integ-test
  platforms/jvm/ear/src/integTest/groovy/org/gradle/integtests/MixedWarAndEjbProjectIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/resources/org/gradle/integtests/ExecIntegrationTest/shared/src/main/java/org/gradle/TestMain.java
  platforms/jvm/plugins-groovy/build.gradle.kts
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/integtests/GroovyPluginGoodBehaviourTest.groovy
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/integtests/GroovyProjectIntegrationTest.groovy
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/integtests/GroovyToJavaConversionIntegrationTest.groovy
  platforms/jvm/plugins-groovy/src/integTest/groovy/org/gradle/integtests/IncrementalGroovyProjectBuildIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/DifferentJnaVersionInPluginIntegrationSpec.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/IncrementalJavaProjectBuildIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/JavaCompileOnlyDependencyIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/JavaProjectIntegrationTest.groovy
  platforms/jvm/war/src/integTest/groovy/org/gradle/integtests/MixedJavaAndWebProjectIntegrationTest.groovy
  platforms/jvm/war/src/integTest/groovy/org/gradle/integtests/WarPluginGoodBehaviourTest.groovy
  subprojects/plugins/src/integTest/groovy/org/gradle/integtests/ApplicationIntegrationSpec.groovy
Labels: platform:jvm, 5 min review, build-script-change

#28195 Publish 8.7-rc-1
  released-versions.json
Labels: a:chore

#28199 Update wrapper to 8.7 RC1
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#28201 User Manual February Cleanup
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/userguide/dep-man/06-publishing/publishing_ivy.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/06-publishing/publishing_maven.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/performance.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_file_basics.adoc
  subprojects/performance/README.md
Labels: a:documentation

#28021 Do not load native services with org.gradle.native=false
  platforms/core-execution/build-cache/src/jmh/java/org/gradle/caching/internal/tasks/ChmodBenchmark.java
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/messaging/WorkerConfig.java
  platforms/core-execution/worker-processes/src/main/java/org/gradle/process/internal/worker/messaging/WorkerConfigSerializer.java
  platforms/core-execution/worker-processes/src/test/groovy/org/gradle/process/internal/worker/messaging/WorkerConfigSerializerTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/DefaultCommandLineActionFactory.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/cli/NativeServicesInitializingAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonBuildOptions.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DaemonServerConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/DefaultDaemonServerConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/configuration/ForegroundDaemonConfiguration.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DaemonContextBuilder.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/context/DefaultDaemonContext.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/client/DefaultDaemonConnectorTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/protocol/DaemonStatusAndErrorReportingTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/registry/DaemonRegistryServicesTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonRegistryUnavailableExpirationStrategyTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonServicesTest.groovy
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
  subprojects/core/src/main/java/org/gradle/testfixtures/internal/ProjectBuilderImpl.java
  subprojects/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/daemon/DaemonContextParser.java
  subprojects/internal-testing/src/main/groovy/org/gradle/testfixtures/internal/NativeServicesTestFixture.java
Labels: in:virtual-file-system

#28157 Rework schema customisation setup for the Declarative DSL interpreter
  .teamcity/subprojects.json
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/AnalysisStatementFilter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/DataSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/PropertyExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/schemaFromTypes.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/PropertyTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/AccessorTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/CommonSchemaUtils.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/EvaluationSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/EvaluationSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/MinimalEvaluationSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/SchemaBuildingWithComponents.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DefaultInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/plugins/PluginsInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/FixedTypeDiscovery.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/GradleCustomizationSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypeSafeProjectAccessorsSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyDslSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromConfiguringFunctions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromProjectExtensions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromProperties.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/GeneralGradleDslSchemaTest.kt
Labels: in:declarative-dsl

#28220 Update release notes to link to attribute description
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation, 1 min review, platform:documentation

#28222 Fix punctuations
  platforms/documentation/docs/src/docs/kotlin/Module.md
Labels: a:documentation, from:contributor

#28092 Move more Develocity services to BuildTree scope
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginBackgroundJobExecutors.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginBuildState.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginCheckInService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginConfig.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginRequiredServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/GradleEnterprisePluginServiceRef.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginBackgroundJobExecutors.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginBuildState.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginCheckInService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginConfig.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginRequiredServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/DefaultGradleEnterprisePluginServiceRef.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/legacy/DefaultBuildScanBuildStartedTime.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/legacy/DefaultBuildScanClock.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/legacy/DefaultBuildScanScopeIds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/scan/scopeids/BuildScanScopeIds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/scan/time/BuildScanBuildStartedTime.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/scan/time/BuildScanClock.java
Labels: 5 min review, platform:gradle_enterprise

#28200 Fix typo in javadoc
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ExternalModuleDependency.java
Labels: from:contributor, ⚠️ Lacks Tests

#28187 Fix tests
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r85/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r87/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/ProblemProgressEventCrossVersionTest.groovy
Labels: 1 min review, platform:ide

#28237 Add GRADLE_CACHE_REMOTE_SERVER param
  .teamcity/src/main/kotlin/common/extensions.kt
Labels: 1 min review, platform:build_infrastructure

#28246 Update supported CentOS version for file-system watching
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
Labels: a:documentation

#28247 Apply feedback from PR #28117
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
Labels: 1 min review

#28249 Duplicate 28246 for release
  platforms/documentation/docs/src/docs/userguide/optimizing-performance/file_system_watching.adoc
Labels: a:documentation

#28260 Ignore flaky tests in Gradleception
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
Labels: 1 min review, platform:documentation, platform:build_infrastructure

#28240 Disambiguate overloads with/without lambdas based on call site lambda presence
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/AnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/FunctionCallResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionOutput.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/resolution.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/DocumentToResolvedDocument.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/FunctionBinding.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RestrictedRuntimeFunction.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimeFunctionResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/LambdaTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/OverloadResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/AccessorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/LambdaOverloadResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/Utils.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/dependencyConfigurationSchema.kt
Labels: in:declarative-dsl

#28261 Clarify Kotlin DSL type-safe accessors availability in documentation
  platforms/documentation/docs/src/docs/userguide/api/kotlin_dsl.adoc
Labels: in:kotlin-dsl, a:documentation

#28264 Release notes improvements
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#28267 Map versions of dependencies with artifacts
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishResolvedVersionsJavaIntegTest.groovy
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/MavenComponentParser.java
Labels: 5 min review, platform:software

#28270 Fix typo
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/custom_tasks.adoc
Labels: a:documentation, from:contributor

#27905 Separate variant matching and legacy configuration selection
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftApplicationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/AbstractConfigurationAttributesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/ComponentAttributesRulesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantResolvingArtifactSet.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/ConfigurationBoundExternalDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/GradleDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/DefaultMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/local/model/DslOriginDependencyMetadataWrapper.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/AbstractComponentGraphResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphSelectionCandidates.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/LocalComponentDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/LocalOriginDependencyMetadata.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionCandidateAssessor.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/dependencies/AbstractDependencyDescriptorFactoryInternalSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/GraphVariantSelectorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/internal/component/model/LocalComponentDependencyMetadataTest.groovy
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildDependencyGraphIntegrationTest.groovy
Labels: 20 min review, platform:software

#28158 Apply projectHealth recommendations to maven
  gradle.properties
  platforms/software/maven/build.gradle.kts
Labels: 1 min review, platform:software, build-script-change

#28172 Add DependencyConstraint mutation checks for DependencyCollector
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyConstraintSet.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/MutationValidator.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractDependencyConstraint.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultDependencyConstraint.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultProjectDependencyConstraint.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyConstraintHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilder.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilderTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/DependencyConstraintInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyCollector.java
Labels: a:feature, in:dependency-declarations, 10 min review, platform:software

#28259 Use new macOS file-system event delivery in file-system watching
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:chore

#28233 Fix for better understanding
  architecture/standards/0004-use-a-platform-architecture.md
Labels: from:contributor

#28279 Add some message to checkNotNull check in CacheInstrumentationDataBuildService
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/transform/services/CacheInstrumentationDataBuildService.java
Labels: a:chore, in:instrumentation

#28205 Improve error handling for toolchain resolvers
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiKotlinIntegrationTest.groovy
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/RealizedJavaToolchainRepository.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJavaToolchainProvisioningService.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/DefaultJavaToolchainProvisioningServiceTest.groovy
Labels: in:toolchains

#28213 Apply projectHealth recommendations to various JVM testing deps
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  gradle.properties
  platforms/jvm/plugins-jvm-test-suite/build.gradle.kts
  platforms/jvm/plugins-test-report-aggregation/build.gradle.kts
  platforms/jvm/testing-junit-platform/build.gradle.kts
  platforms/jvm/testing-jvm-infrastructure/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/software/test-suites-base/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  subprojects/distributions-dependencies/build.gradle.kts
Labels: 10 min review, platform:jvm, platform:software, platform:release_coordination, build-script-change

#22363 OOP-ize the simplification of intersecting exclude rules
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/AbstractIntersection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/ExcludeFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Intersection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/factories/Intersections.java
  subprojects/architecture-test/src/changes/archunit_store/internal-api-nullability.txt
  subprojects/architecture-test/src/changes/archunit_store/public-api-mutable-properties.txt
Labels: in:dependency-resolution, platform:software

#28212 Apply projectHealth recommendations to plugins-jvm-test-fixtures
  gradle.properties
  platforms/jvm/plugins-jvm-test-fixtures/build.gradle.kts
Labels: 1 min review, platform:jvm, build-script-change

#28288 Mark toolchains-jvm as healthy
  gradle.properties
Labels: 1 min review

#28287 Fix realised Maven module metadata not adding variants from rules
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/rules/AdditionalVariantsMetadataRulesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/external/model/maven/RealisedMavenModuleResolveMetadata.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/CachedCodePathComponentMetadataProcessorTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/dsl/TestAddVariantComponentMetadataRule.java
  platforms/software/dependency-management/src/testFixtures/groovy/org/gradle/integtests/resolve/AbstractModuleDependencyResolveTest.groovy
Labels: a:bug, in:dependency-resolution, 20 min review, platform:software

#28161 Apply projectHealth recommendations to platform-base
  gradle.properties
  platforms/software/platform-base/build.gradle.kts
Labels: 1 min review, platform:software, build-script-change

#28290 Fix race condition in unit test
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/client/DaemonClientInputForwarderTest.groovy
Labels: in:console

#28302 Update wrapper to 8.7-rc-2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#28299 Declarative DSL team owns `core-configuration/declarative-dsl-*`
  .github/CODEOWNERS
Labels: in:declarative-dsl

#28268 Remove unused test resources
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/groovy/expectedClasspathFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/groovy/expectedProjectFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/java/expectedApiClasspathFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/java/expectedApiProjectFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/java/expectedWebserviceClasspathFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/java/expectedWebserviceProjectFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/java/expectedWebserviceWtpFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/scala/expectedClasspathFile.txt
  subprojects/integ-test/src/integTest/resources/org/gradle/integtests/eclipseproject/scala/expectedProjectFile.txt
Labels: 1 min review
