Repository gradle/gradle, pull requests merged in 2025-01, with the labels that each got.

#31812 Clean up the Kotlin DSL Primer in the User Manual
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/project_properties.adoc
  platforms/documentation/docs/src/docs/userguide/reference/apis/kotlin_dsl.adoc
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/kotlin/my-sub-project/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/kotlin/src/main/java/Source.java
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/kotlin/src/test/java/TestSource.java
  platforms/documentation/docs/src/snippets/kotlinDsl/basics/tests/basics.sample.conf
  platforms/documentation/docs/src/snippets/kotlinDsl/multiProjectBuild/kotlin/domain/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/multiProjectBuild/kotlin/http/build.gradle.kts
  platforms/documentation/docs/src/snippets/kotlinDsl/multiProjectBuild/kotlin/infra/build.gradle.kts
Labels: a:documentation

#31921 Polish attribute handling services
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildSessionScopeServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributeValueIsolator.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultMutableAttributeContainer.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultAttributesFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/HierarchicalMutableAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/IncubatingAttributesCheckerTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/attributes/immutable/TestsImmutableAttributes.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/util/AttributeTestUtil.groovy
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:dependency-declarations, in:internal-services

#31917 Polish service scopes for Configuration Cache services
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheHost.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheIncludedBuildIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/encryption-services/build.gradle.kts
  platforms/core-configuration/encryption-services/src/main/kotlin/org/gradle/internal/encryption/EncryptionService.kt
  platforms/core-configuration/encryption-services/src/main/kotlin/org/gradle/internal/encryption/impl/DefaultEncryptionService.kt
  platforms/core-configuration/encryption-services/src/main/kotlin/org/gradle/internal/encryption/services/EncryptionServices.kt
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FilePropertyFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/PropertyFactory.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/InputFingerprinter.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/ClassLoaderHierarchyHasher.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedGlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedProjectScopeServices.java
Labels: in:configuration-cache, in:internal-services

#31928 Annotate User Home scope services
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslDclSchemaCollector.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslProviderServices.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/cache/KotlinDslWorkspaceProvider.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptBasePluginsApplicator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassloadingCache.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProvider.kt
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/FileCollectionSnapshotter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/timeout/TimeoutHandler.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/WatchableFileSystemDetector.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/vfs/impl/FileWatchingFilter.java
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/FileHasher.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/GlobalCache.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/FileContentCacheFactory.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/ActionExecutionSpecFactory.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/ClassLoaderStructureProvider.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatableSerializerRegistry.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonClientsManager.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/initialization/GradleUserHomeDirProvider.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/ClasspathHasher.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/classloader/HashingClassLoaderFactory.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DaemonClientServicesSupport.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/tooling/internal/provider/serialization/PayloadClassLoaderFactory.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/tooling/internal/provider/serialization/PayloadSerializer.java
  platforms/core-runtime/files/src/main/java/org/gradle/internal/file/FileAccessTimeJournal.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidator.java
  platforms/core-runtime/versioned-cache/build.gradle.kts
  platforms/core-runtime/versioned-cache/src/main/java/org/gradle/internal/versionedcache/UsedGradleVersions.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/CompileServices.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/cache/GeneralCompileCaches.java
  platforms/jvm/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/ResourceSnapshotterCacheService.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultArtifactCaches.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ImmutableTransformWorkspaceServices.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/cache/CacheConfigurationsInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/changedetection/state/CrossBuildFileHashCache.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/ClassLoaderCache.java
  subprojects/core/src/main/java/org/gradle/cache/internal/GeneratedGradleJarCache.java
  subprojects/core/src/main/java/org/gradle/cache/internal/GradleUserHomeCleanupService.java
  subprojects/core/src/main/java/org/gradle/cache/internal/LegacyCacheCleanupEnablement.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ToPlannedNodeConverter.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/CrossBuildInMemoryCachingScriptClassCache.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/ScriptSourceHasher.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistry.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/WorkerSharedUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerProcessFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/WorkerProcessClassPathProvider.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistryTest.groovy
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#31820 Clean up collection properties implementation
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/CollectionPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectingSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AppendOnceList.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionSupplier.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapSupplier.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/AppendOnceListTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/CollectionPropertySpec.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/MapPropertySpec.groovy
Labels: a:chore

#29624 ADR7 regarding embedding Java and version support
  architecture/standards/0001-use-architectural-decision-records.md
  architecture/standards/0005-introduce-core-ui-architecture-module.md
  architecture/standards/0007-java-pre-requisite.md
Labels: a:documentation

#31943 Merge release to master following the 8.12 release
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#31884 Enable `isolatedProjects` test executor for `plugins-application`
  platforms/jvm/plugins-application/build.gradle.kts
  platforms/jvm/plugins-application/src/integTest/groovy/org/gradle/api/plugins/ApplicationPluginIntegrationTest.groovy
  platforms/jvm/plugins-application/src/integTest/groovy/org/gradle/java/JavaApplicationOutgoingVariantsIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#31926 reporting_problems.adoc: fix broken links to javadocs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
Labels: a:documentation, from:contributor, in:problems-report

#31934 Annotate build session services
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/archive/DecompressionCoordinator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/ValueSnapshotterSerializerRegistry.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/FileCollectionFingerprinterRegistry.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/OutputSnapshotter.java
  platforms/core-execution/worker-main/src/main/java/org/gradle/process/internal/worker/child/WorkerDirectoryProvider.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerExecutionQueueFactory.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/ConditionalExecutionQueueFactory.java
  platforms/core-runtime/build-state/src/main/java/org/gradle/internal/session/BuildSessionState.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/extensibility/unit-test-fixtures/build.gradle.kts
  platforms/extensibility/unit-test-fixtures/src/main/java/org/gradle/testfixtures/internal/TestBuildScopeServices.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/gcc/metadata/SystemLibraryDiscovery.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/DefaultUcrtLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/VisualStudioLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/WindowsSdkLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/CommandLineToolVersionLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/SystemPathVersionLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/VisualCppMetadataProvider.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/VisualStudioMetaDataProvider.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/VswhereVersionLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/msvcpp/version/WindowsRegistryVersionLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/xcode/MacOSSdkPathLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/xcode/MacOSSdkPlatformPathLocator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/xcode/SwiftStdlibToolLocator.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/immutable/artifact/ImmutableArtifactTypeRegistryFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DependenciesAccessorsWorkspaceProvider.java
  platforms/software/version-control/build.gradle.kts
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VcsDirectoryLayout.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VersionControlRepositoryConnectionFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/resolver/PersistentVcsMetadataCache.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/services/VersionControlServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/CrossProjectConfigurator.java
  subprojects/core/src/main/java/org/gradle/deployment/internal/DefaultDeploymentRegistry.java
  subprojects/core/src/main/java/org/gradle/deployment/internal/PendingChangesManager.java
  subprojects/core/src/main/java/org/gradle/initialization/BuildClientMetaData.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayout.java
  subprojects/core/src/main/java/org/gradle/internal/buildevents/BuildStartedTime.java
  subprojects/core/src/main/java/org/gradle/internal/file/FileSystemDefaultExcludesProvider.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/FileCollectionFingerprinterRegistrations.java
  subprojects/core/src/main/java/org/gradle/internal/scopeids/PersistentScopeIdLoader.java
  subprojects/core/src/main/java/org/gradle/internal/scopeids/PersistentScopeIdStoreFactory.java
  subprojects/core/src/main/java/org/gradle/internal/scopeids/id/UserScopeId.java
  subprojects/core/src/main/java/org/gradle/internal/scopeids/id/WorkspaceScopeId.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/internal/work/AsyncWorkTracker.java
  subprojects/core/src/main/java/org/gradle/plugin/use/internal/InjectedPluginClasspath.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#31962 Fix broken link to javadoc in isolated_projects.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/isolated_projects.adoc
Labels: a:documentation, in:isolated-projects

#31933 Upgrade AWS Java SDK to support EKS Pod Identity for S3 repos
  subprojects/distributions-dependencies/build.gradle.kts
Labels: from:contributor, in:dependency-remoting

#31957 Make Kotlin DSL extracted precompiled scripts plugins blocks compilation task a regular `KotlinCompile` task
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/ConfigurePrecompiledScriptDependenciesResolver.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GenerateExternalPluginSpecBuilders.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledScriptDependenciesResolver.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/v1/PrecompiledScriptTemplates.kt
Labels: a:chore, in:kotlin-dsl

#31889 Extract and separate roots for report testing
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/CustomTestTaskHTMLTestReportMetadataTest.groovy
  platforms/software/testing-base/src/integTest/groovy/org/gradle/testing/TestEventReporterHtmlReportIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/AggregateTestEventReporter.java
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/GenericHtmlTestExecutionResult.groovy
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/TestPathExecutionResult.java
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/api/internal/tasks/testing/report/generic/TestPathRootExecutionResult.java
Labels: a:chore

#31935 Document native toolchain
  platforms/documentation/docs/src/docs/userguide/platforms/native/building_cpp_projects.adoc
  platforms/documentation/docs/src/snippets/cpp/basic/groovy/build.gradle
  platforms/documentation/docs/src/snippets/cpp/basic/kotlin/build.gradle.kts
Labels: in:toolchains, a:documentation, from:contributor

#31852 Support AndroidStudio sync tests
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/AbstractIdeSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsAndroidProjectSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsJavaProjectSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsParallelSyncTest.groovy
Labels: a:feature, in:isolated-projects, has:release-notes-decision

#31990 Annotate BuildTree-scope services
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/InstrumentedExecutionAccessListenerRegistry.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/ConfigurationCacheBuildTreeModelSideEffectExecutor.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/DeferredRootBuildGradle.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemFactory.kt
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServiceRefInternal.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemReportCreator.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/buildtree/ProblemStream.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/capability/CapabilitySelectorSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleRepositoryCacheProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/BuildTreeLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentCache.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectPublicationRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/AdhocHandlingComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CompleteComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ThisBuildTreeOnlyComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/store/ResolutionResultsStoreFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/composite/CompositeBuildContext.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/AggregateTestEventReporter.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VcsMappingFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VersionControlSpecFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/resolver/VcsVersionSelectionCache.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/core-api/src/main/java/org/gradle/internal/model/BuildTreeObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/BuildType.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/HoldsProjectState.java
  subprojects/core/src/main/java/org/gradle/initialization/exception/ExceptionCollector.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionModelRequirements.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionRunner.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeState.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeWorkGraphPreparer.java
  subprojects/core/src/main/java/org/gradle/internal/problems/DefaultProblemLocationAnalyzer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionServices.java
  subprojects/core/src/main/java/org/gradle/util/internal/SimpleMapInterner.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: a:chore, in:internal-services

#31949 Mention parallel configuration in Isolated Projects doc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/isolated_projects.adoc
Labels: a:documentation, from:contributor, in:isolated-projects

#31267 Add support for `RegularFile` and `Directory` property assignment to DCL
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/InstanceAndPublicType.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTreeResult.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeRuntimeFunction.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeRuntimeProperty.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimeCustomAccessors.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimeFunctionResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimePropertyResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/ConfigureLambdaHandler.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/AccessorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/CustomLambdasTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/Utils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/TreatInterfaceAsConfigureLambdaTest.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/conversion/AnalysisAndConversionStepRunner.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/WorkingWithFilesIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/DependencyCollectorFunctionExtractorAndRuntimeResolver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradlePropertyApiAnalysisSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/DeclarativeModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/ndoc/ContainersSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectTopLevelReceiver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/TypesafeProjectAccessorsComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/schemaFromGradleExtensions.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/ContainersSchemaComponentTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/internal/PluginUseServices.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultModelDefaultsApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicator.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicatorTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/file/Directory.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ProjectLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionBasedModelDefaultsHandler.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsApplicator.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsHandler.java
Labels: a:feature, in:declarative-dsl, has:release-notes-decision

#31883 Enable `isolatedProjects` test executor for `plugins-java-base`
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#32007 fix incorrect statement about default dependencies
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/Configuration.java
Labels: in:dependency-declarations, from:contributor

#31945 Improve existing Upgrade Guide, Release Notes and minor Docs
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/test_kit.adoc
  platforms/documentation/docs/src/docs/userguide/integration/test_reporting_api.adoc
  platforms/documentation/docs/src/docs/userguide/integration/third_party_integration.adoc
  platforms/documentation/docs/src/docs/userguide/integration/tooling_api.adoc
  platforms/documentation/docs/src/docs/userguide/reference/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/build.gradle
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/src/main/java/com/example/CustomTest.java
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/src/main/java/com/example/CustomTestPlugin.java
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/src/main/java/com/example/MyTest1.java
  platforms/documentation/docs/src/snippets/tasks/customTest/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/tasks/customTest/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/tasks/customTest/kotlin/src/main/java/com/example/CustomTest.java
  platforms/documentation/docs/src/snippets/tasks/customTest/kotlin/src/main/java/com/example/CustomTestPlugin.java
  platforms/documentation/docs/src/snippets/tasks/customTest/kotlin/src/main/java/com/example/MyTest1.java
  platforms/documentation/docs/src/snippets/tasks/customTest/tests/application.sample.conf
Labels: a:documentation

#31988 Prepare for Gradle 8.12.1
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/StaleOutputHistoryLossIntegrationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/enterprise/enterprise/src/integTest/groovy/org/gradle/internal/enterprise/DevelocityPluginEndOfBuildCallbackIntegrationTest.groovy
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/testFixtures/groovy/org/gradle/api/problems/fixtures/ReportingScript.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/ProblemThresholdCrossVersionTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiClassLoaderProvider.groovy
  released-versions.json
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  version.txt
Labels: a:chore

#32002 Fix ExecSpec default working dir
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/ClientExecHandleBuilderFactory.java
  platforms/jvm/jvm-services/src/integTest/groovy/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetectorIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultClientExecHandleBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/testFixtures/groovy/org/gradle/process/TestJavaMain.java
Labels: a:regression

#31831 Fix some CC-incompatible tests in core-runtime platform
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ContinuousBuildChangeReportingIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonFeedbackIntegrationSpec.groovy
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/internal/logging/LoggingIntegrationTest.groovy
  platforms/core-runtime/logging/src/integTest/groovy/org/gradle/internal/logging/console/jvm/AbstractConsoleJvmTestLoggingFunctionalTest.groovy
Labels: in:configuration-cache

#32036 Add missing newline when rendering list of problems
  platforms/ide/problems-rendering/src/main/java/org/gradle/problems/internal/rendering/ProblemRenderer.java
  platforms/ide/problems-rendering/src/test/groovy/org/gradle/problems/internal/rendering/ProblemRendererTest.groovy
Labels: has:release-notes-decision

#32025 Fix file-events native library loading on Linux
  subprojects/distributions-dependencies/build.gradle.kts
Labels: a:bug

#32042 Split service build platform from task input
  platforms/core-runtime/native/build.gradle.kts
  platforms/core-runtime/native/src/main/java/org/gradle/platform/internal/DefaultBuildPlatform.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ToolchainsJvmServices.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/CurrentBuildPlatform.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/toolchain/internal/install/DefaultJavaToolchainProvisioningService.java
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/DefaultJavaToolchainProvisioningServiceTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
  testing/internal-integ-testing/build.gradle.kts
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/PlatformInOutputNormalizer.groovy
Labels: a:chore, in:toolchains

#32023 Let Isolated Projects configure project tree via traversal
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/operations/BuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProjectStateRegistry.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectLifecycleController.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectState.java
  subprojects/core/src/main/java/org/gradle/execution/TaskPathProjectEvaluator.java
Labels: a:chore, in:isolated-projects

#32068 Fix typo in introduction to Gradle Daemon
  platforms/documentation/docs/src/docs/userguide/reference/gradle_daemon.adoc
Labels: in:daemon, a:documentation, from:contributor

#31953 Make FileLockCommunicator more robust
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/TestableFileLockCommunicator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/DefaultFileLockCommunicator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/DefaultFileLockContentionHandler.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/FileLockCommunicator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/FileLockContentionHandler.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/FileLockPacketPayload.java
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/locklistener/DefaultFileLockContentionHandlerTest.groovy
  platforms/core-execution/persistent-cache/src/test/groovy/org/gradle/cache/internal/locklistener/FileLockCommunicatorTest.groovy
  platforms/core-runtime/launcher/build.gradle.kts
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonServices.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/FileLockContentionExpirationStrategy.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/MasterExpirationStrategy.java
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/locklistener/NoOpFileLockContentionHandler.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/soak/src/integTest/groovy/org/gradle/cache/LockCommunicationSoakTest.groovy
Labels: in:file-locking

#31204 Migrate AntTarget
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultAntBuilder.java
  subprojects/core/src/main/java/org/gradle/api/tasks/ant/AntTarget.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultAntBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/tasks/ant/AntTargetTest.java
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-methods-return-allowed-types.txt
Labels: p:lazy-migration

#32043 Make DCL and caching overhead during Kotlin DSL evaluation observable
  platforms/core-configuration/core-kotlin-extensions/build.gradle.kts
  platforms/core-configuration/core-kotlin-extensions/src/main/kotlin/org/gradle/internal/extensions/core/BuildOperationRunnerExtensions.kt
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, in:kotlin-dsl

#32041 Apply dependency analysis plugin via jvm-library precompiled plugin
  build-logic/root-build/src/main/kotlin/gradlebuild.dependency-analysis.gradle.kts
  build-logic/root-build/src/main/kotlin/gradlebuild.root-build.gradle.kts
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.jvm-library.gradle.kts
  build.gradle.kts
  gradle.properties
Labels: a:chore, in:building-gradle, in:isolated-projects

#32012 Synchronizer-wait build operation
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/WaitBuildOperationFiringSynchronizer.java
  platforms/core-runtime/build-state/src/main/java/org/gradle/internal/session/CrossBuildSessionState.java
  subprojects/core-api/src/main/java/org/gradle/internal/operations/BuildOperationsParameters.java
  subprojects/core/src/main/java/org/gradle/internal/model/StateTransitionControllerFactory.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationsParameters.java
  subprojects/core/src/testFixtures/groovy/org/gradle/util/TestUtil.groovy
Labels: a:feature, in:build-operations, in:isolated-projects, has:release-notes-decision

#32087 Avoid Groovy space assignment in our binary-compatibility
  build-logic/binary-compatibility/src/main/groovy/gradlebuild.binary-compatibility.gradle
Labels: a:chore, in:building-gradle

#32103 Let IP scheduler only wait for projects that have children to be configured
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsParallelConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/TaskPathProjectEvaluator.java
Labels: a:chore, in:isolated-projects

#32088 Release worker lease when waiting for build logic build to complete
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultBuildLogicBuildQueue.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskStateInternal.java
Labels: a:chore, in:isolated-projects

#32106 Avoid IP violations in 'idea' plugin when Scala plugin not applied
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsIdeaPluginIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingApiIdeaProjectIntegrationTest.groovy
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/IdeaPlugin.java
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaIsolatedProjectsWorkarounds.java
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
Labels: in:idea-plugin, in:isolated-projects

#32107 Simplify display name of parallel project configuration operation
  subprojects/core/src/main/java/org/gradle/execution/TaskPathProjectEvaluator.java
Labels: a:chore, in:isolated-projects

#32093 Fix Groovy task configuration examples in more_about_tasks doc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/more_about_tasks.adoc
Labels: a:documentation, in:writing-tasks, from:contributor

#32086 Enable IP test coverage for :antlr
  platforms/software/antlr/build.gradle.kts
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/AbstractAntlrIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr2PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/Antlr4PluginIntegrationTest.groovy
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/IncrementalAntlrTaskIntegrationTest.groovy
  platforms/software/build-init/build.gradle.kts
Labels: a:chore, in:isolated-projects

#32114 Publish 8.12.1-milestone-1
  released-versions.json
Labels: @dev-productivity

#32119 Upgradle 8.13-milestone-3
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#32113 Mark UrlArtifactRepository and subclasses with ToBeReplacedByLazyProperty annotations
  platforms/core-execution/build-cache-http/build.gradle.kts
  platforms/extensibility/plugin-development/build.gradle.kts
  platforms/jvm/ear/build.gradle.kts
  platforms/jvm/jacoco/build.gradle.kts
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/platform-jvm/build.gradle.kts
  platforms/jvm/plugins-application/build.gradle.kts
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/scala/build.gradle.kts
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/war/build.gradle.kts
  platforms/software/antlr/build.gradle.kts
  platforms/software/build-init/build.gradle.kts
  platforms/software/ivy/build.gradle.kts
  platforms/software/maven/build.gradle.kts
  platforms/software/reporting/build.gradle.kts
  platforms/software/security/build.gradle.kts
  platforms/software/signing/build.gradle.kts
  platforms/software/testing-base/build.gradle.kts
  platforms/software/version-control/build.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/IvyArtifactRepository.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/MavenArtifactRepository.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/repositories/UrlArtifactRepository.java
  subprojects/core/build.gradle.kts
  subprojects/diagnostics/build.gradle.kts
  testing/architecture-test/src/changes/archunit-store/stored.rules
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ProviderMigrationArchitectureTest.java
Labels: a:chore, p:lazy-migration

#31989 Upgrade tested Kotlin & KGP versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:building-gradle

#31702 Upgrade ExecSpec
  build-logic-settings/build-environment/src/main/kotlin/gradlebuild/basics/BuildEnvironmentService.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingBaseExecSpec.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingExecSpec.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/process/ProcessOutputValueSourceTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/sources/process/ProviderCompatibleExecSpecTest.groovy
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/ClientExecHandleBuilder.java
  platforms/documentation/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/groovy/build.gradle
  platforms/documentation/docs/src/samples/credentials-handling/pass-credentials-to-external-tool-via-stdin/kotlin/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaExecWithLongCommandLineIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
  platforms/software/signing/src/main/java/org/gradle/security/internal/gnupg/GnupgSignatory.java
  subprojects/core-api/src/main/java/org/gradle/process/BaseExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/ExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/ExecSpecAdapters.java
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/Exec.java
  subprojects/core/src/main/java/org/gradle/process/internal/AbstractExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultClientExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultProcessForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecHandleCommandLineCombiner.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-properties-should-not-have-migration-annotation.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: p:lazy-migration

#31811 Upgrade JavaExecSpec
  build-logic/performance-testing/src/main/groovy/gradlebuild/performance/reporter/PerformanceReporter.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingJavaExecSpec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/plugins/ApplicationPlugin.java
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/internal/AntlrWorkerManager.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpecAdapters.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecHandleCommandLineCombiner.java
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/JvmOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/JavaExecHandleBuilderTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/worker/DefaultWorkerProcessBuilderSpec.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-file-collection.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/integ-test/src/crossVersionTest/groovy/org/gradle/integtests/TaskTransitiveSubclassingBinaryCompatibilityCrossVersionSpec.groovy
Labels: p:lazy-migration

#32124 [Backport] Resolve bug in dependency resolution
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ResolutionIssuesRegressionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/platforms/PlatformResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/versions/VersionConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/VirtualPlatformState.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/Module.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/gradle/VariantMetadataSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/ivy/IvyFileModule.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/AbstractMavenModule.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/maven/DelegatingMavenModule.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/DelegatingIvyModule.java
Labels: a:bug

#31666 Migrate build cache to provider API
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  platforms/core-execution/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheConfigurationBuildOperationIntegrationTest.groovy
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/HttpBuildCache.java
  platforms/core-execution/build-cache-http/src/main/java/org/gradle/caching/http/internal/DefaultHttpBuildCacheServiceFactory.java
  platforms/core-execution/build-cache/src/integTest/groovy/org/gradle/caching/internal/FinalizeBuildCacheConfigurationBuildOperationIntegrationTest.groovy
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/CachedKotlinTaskExecutionIntegrationTest.groovy
  platforms/documentation/docs/src/snippets/buildCache/http-build-cache/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/testKit/testKitFunctionalTestSpockBuildCache/groovy/src/test/groovy/org/gradle/sample/BuildLogicFunctionalTest.groovy
  platforms/enterprise/enterprise-plugin-performance/src/performanceTest/groovy/org/gradle/performance/ManageLocalCacheState.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/GradleRunnerCacheIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/CacheableTaskOutcomeCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r35/CacheableTaskProgressEventsCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/CacheableTaskProgressEventsCrossVersionSpec.groovy
  subprojects/core-api/src/main/java/org/gradle/caching/local/DirectoryBuildCache.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CachedTaskExecutionIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/DispatchingBuildCacheIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/caching/configuration/internal/BuildCacheConfigurationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactory.java
  subprojects/core/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheServiceFactoryTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/TestBuildCache.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/buildcache/AbstractTaskOutputCachingPerformanceTest.groovy
Labels: in:build-cache, p:lazy-migration

#32144 Disable KMP JS smoke test for 1.8.0
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore

#32125 Revert "Annotate BuildTree-scope services"
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/InstrumentedExecutionAccessListenerRegistry.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/ConfigurationCacheBuildTreeModelSideEffectExecutor.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/DeferredRootBuildGradle.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemFactory.kt
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServiceRefInternal.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemReportCreator.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/buildtree/ProblemStream.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/capability/CapabilitySelectorSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleRepositoryCacheProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/BuildTreeLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentCache.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectPublicationRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/AdhocHandlingComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CompleteComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ThisBuildTreeOnlyComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/store/ResolutionResultsStoreFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/composite/CompositeBuildContext.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/AggregateTestEventReporter.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VcsMappingFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VersionControlSpecFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/resolver/VcsVersionSelectionCache.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/core-api/src/main/java/org/gradle/internal/model/BuildTreeObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/BuildType.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/HoldsProjectState.java
  subprojects/core/src/main/java/org/gradle/initialization/exception/ExceptionCollector.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionModelRequirements.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionRunner.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeState.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeWorkGraphPreparer.java
  subprojects/core/src/main/java/org/gradle/internal/problems/DefaultProblemLocationAnalyzer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionServices.java
  subprojects/core/src/main/java/org/gradle/util/internal/SimpleMapInterner.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#32145 Upgrade AspectJ plugin to 8.12
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, p:lazy-migration, in:smoke-test

#32168 Publish 8.12.1-20250124123609+0000
  released-versions.json
Labels: @dev-productivity

#32170 Publish 8.12.1
  released-versions.json
Labels: @dev-productivity

#32182 Remove duplicated JAVA_OPTS in unixStartScript.txt
  platforms/jvm/plugins-application/src/main/resources/org/gradle/api/internal/plugins/unixStartScript.txt
Labels: to-triage, from:contributor

#31991 Add tests for streaming values with IP partial hit
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingApiStreamingBuildActionIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/StreamCustomModelForEachProject.java
Labels: in:isolated-projects

#32175 Add artifact transforms report, without AT naming
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemReportingIntegrationTest.groovy
  platforms/core-configuration/dependency-management-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/dm/LocalFileDependencyBackedArtifactSetCodec.kt
  platforms/core-configuration/dependency-management-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/dm/transform/IsolateTransformParametersCodec.kt
  platforms/documentation/docs/src/docs/dsl/dsl.xml
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.tasks.diagnostics.ArtifactTransformsReportTask.xml
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/AT_report_example.png
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/customModel/internalViews/tests/softwareModelExtend-iv-model.out
  platforms/documentation/docs/src/snippets/modelRules/basicRuleSourcePlugin/tests/basicRuleSourcePlugin-model-task.out
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/VariantTransformRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistry.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/transform/DefaultVariantTransformRegistryTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/VariantTransformConfigurationException.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/transform/VariantTransformConfigurationException.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/NewDefaultProjectTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/ModelReportIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ArtifactTransformsReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/TaskReportTaskIntegrationTest.groovy
  subprojects/diagnostics/src/main/java/org/gradle/api/plugins/HelpTasksPlugin.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/ArtifactTransformsReportTask.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/model/ArtifactTransformReportModel.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/model/ArtifactTransformReportModelFactory.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/model/ReportArtifactTransform.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/model/package-info.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/renderer/AbstractArtifactTransformReportRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/renderer/ConsoleArtifactTransformReportRenderer.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/renderer/package-info.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/spec/ArtifactTransformReportSpec.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/spec/package-info.java
  subprojects/diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/configurations/ConfigurationReportsImpl.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:feature, in:reporting-tasks, in:artifact-transforms, re:comprehensibility

#31938 Suggest running the ArtifactTransforms report upon hitting an ambiguous artifacts failure
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/AmbiguousArtifactTransformsFailureDescriber.java
Labels: a:chore, in:artifact-transforms

#32207 Cleanup release notes for 8.13-rc1
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/TEST_API_metadata.png
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:chore, a:documentation

#31058 Clean up mock clocks in tests
  platforms/core-runtime/build-operations/build.gradle.kts
  platforms/core-runtime/build-operations/src/test/groovy/org/gradle/internal/operations/DefaultBuildOperationRunnerTest.groovy
  platforms/core-runtime/daemon-services/build.gradle.kts
  platforms/core-runtime/daemon-services/src/test/groovy/org/gradle/api/internal/tasks/userinput/DefaultUserInputHandlerTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonExpirationStrategyTest.groovy
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/health/gc/GarbageCollectionCheckTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/LoggingDeprecatedFeatureHandlerTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/console/ThrottlingOutputEventListenerTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/progress/DefaultProgressLoggerFactoryTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/slf4j/OutputEventListenerBackedLoggerTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/source/PrintStreamLoggingSystemTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/text/LoggingBackedStyledTextOutputTest.groovy
  platforms/core-runtime/logging/src/testFixtures/groovy/org/gradle/internal/logging/ToStringLogger.groovy
  platforms/core-runtime/time/src/testFixtures/java/org/gradle/internal/time/FixedClock.java
  platforms/core-runtime/time/src/testFixtures/java/org/gradle/internal/time/MockClock.java
  platforms/ide/tooling-api/build.gradle.kts
  platforms/ide/tooling-api/src/test/groovy/org/gradle/tooling/internal/consumer/SynchronizedLoggingTest.groovy
  platforms/jvm/testing-jvm-infrastructure/build.gradle.kts
  platforms/jvm/testing-jvm-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/TestClassExecutionEventGeneratorTest.groovy
  platforms/jvm/testing-jvm-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestResultProcessorAdapterTest.groovy
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestFrameworkTest.groovy
  platforms/native/platform-native/build.gradle.kts
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/NativeCompilerTest.groovy
  platforms/software/testing-base-infrastructure/build.gradle.kts
  platforms/software/testing-base-infrastructure/src/test/groovy/org/gradle/api/internal/tasks/testing/SuiteTestClassProcessorTest.groovy
  platforms/software/testing-base/build.gradle.kts
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/TestMainActionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/cache/DefaultCacheConfigurationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheEntryRetentionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/buildevents/BuildResultLoggerTest.groovy
Labels: a:chore

#32204 Let IP imply Parallel CC
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheParallelStoreIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
Labels: a:feature, in:isolated-projects, has:release-notes-decision

#32210 Update Markdown processing for Release Notes
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleReleaseNotesPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/ReleaseNotesTransformer.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/RenderMarkdown.java
  platforms/documentation/docs/src/docs/css/base.css
  platforms/documentation/docs/src/docs/release/content/releaseIssues.js
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/test/groovy/org/gradle/docs/releasenotes/StaticReleaseNotesTest.groovy
Labels: in:documentation-infrastructure, a:documentation

#32181 docs(.editorconfig): Improve readability of comment
  .editorconfig
Labels: to-triage, from:contributor

#32231 Fix failing cross-version tests and adjust package for GeneralData
  platforms/core-configuration/configuration-cache/src/crossVersionTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemsCrossVersionTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerialization.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/tasks/internal/ValidationProblemSerializationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/AdditionalData.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/AdditionalDataBuilderFactory.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultGeneralData.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/GeneralData.java
  platforms/ide/problems-api/src/test/groovy/org/gradle/api/problems/internal/DefaultProblemBuilderTest.groovy
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ProblemsProgressEventUtils.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/ProblemsApiGroovyScriptUtils.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r86/ProblemsServiceModelBuilderCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
  platforms/software/dependency-management/src/crossVersionTest/groovy/org/gradle/integtests/api/problems/internal/ResolutionFailureDataCrossVersionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/problems/internal/ResolutionFailureData.java
Labels: a:chore, in:problems

#31835 Upgrade tested AGP versions
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateAgpVersions.kt
  gradle/dependency-management/agp-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/AndroidGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerCachingSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/RunnerFactory.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SmokeTestGradleRunner.groovy
Labels: a:chore

#32167 Simplify debugging gradle and add a debugging guide
  CONTRIBUTING.md
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/BuildParams.kt
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/idea/src/main/kotlin/gradlebuild.ide.gradle.kts
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  contributing/Debugging.md
  contributing/images/auto-restart-debugger.png
  contributing/images/local-installation-for-sync.jpg
  contributing/images/trigger-sync.jpg
  gradle/verification-metadata.xml
  platforms/core-runtime/wrapper-main/build.gradle.kts
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/AbstractWrapperIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DaemonGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/JavaDebugOptionsInternal.java
  testing/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuterTest.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/executer/JavaDebugOptionsInternalTest.groovy
Labels: in:building-gradle

#32238 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore

#32205 Avoid calling `ClassLoaderScope#onReuse` in the same session
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheClassLoaderCachingIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheKotlinScriptReuseIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassloadingCache.kt
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CrossBuildInMemoryCacheFactory.java
  platforms/core-execution/persistent-cache/src/testFixtures/groovy/org/gradle/cache/internal/TestCrossBuildInMemoryCacheFactory.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/internal/problems/ProblemLocationAnalyzer.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ClassLoaderScope.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
Labels: a:chore, in:kotlin-dsl, in:configuration-cache

#32024 January Documentation Cleanup
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_views.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/dependency_graph_resolution.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/dependency_resolution_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/dependency_versions.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/viewing_debugging_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/declaring_repositories_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/component_metadata_rules.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/getting_started_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/understanding-dependency-resolution/dependency_resolution_model.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/understanding-dependency-resolution/variant_attributes.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/understanding-dependency-resolution/variant_model.adoc
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-4.png
  platforms/documentation/docs/src/docs/userguide/img/artifact-transform-5.png
  platforms/documentation/docs/src/docs/userguide/img/component-model-gradle-example.png
  platforms/documentation/docs/src/docs/userguide/img/component-model-gradle.png
  platforms/documentation/docs/src/docs/userguide/img/dependency-resolution-model.png
  platforms/documentation/docs/src/docs/userguide/img/dependency-resolution-variant-selection-model.png
  platforms/documentation/docs/src/docs/userguide/img/dependency-resolution-variant-selection.png
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/groovy_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/java_library_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/tests/artifactTransformViews.sample.conf
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/groovy/consumer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/groovy/producer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/kotlin/producer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactViews-simple/tests/artifactViewSimple.sample.conf
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-attributeSimple/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-attributeSimple/kotlin/lib/build.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:documentation

#31118 Allow scala version to be explicitly declared
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/scala_plugin.adoc
  platforms/documentation/docs/src/snippets/scala/compilerPlugin/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/compilerPlugin/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/customizedLayout/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/customizedLayout/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/force/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/force/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/ideaTargetVersion/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/ideaTargetVersion/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/mixedJavaAndScala/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/quickstart/groovy/inferred-version/build.gradle
  platforms/documentation/docs/src/snippets/scala/quickstart/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/scala/quickstart/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/quickstart/kotlin/inferred-version/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/quickstart/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/scala/scala3/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/scala3/groovy/inferred-version/build.gradle
  platforms/documentation/docs/src/snippets/scala/scala3/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/scala/scala3/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/scala3/kotlin/inferred-version/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/scala3/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/scala/scalaDependency/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/scalaDependency/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/zinc/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/zinc/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/scala/zincDependency/groovy/build.gradle
  platforms/documentation/docs/src/snippets/scala/zincDependency/kotlin/build.gradle.kts
  platforms/ide/ide-plugins/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/addsScalaSdkAndCompilerLibraries/project1/build.gradle
  platforms/ide/ide-plugins/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/addsScalaSdkAndCompilerLibraries/project2/build.gradle
  platforms/ide/ide-plugins/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/addsScalaSdkAndCompilerLibraries/project3/build.gradle
  platforms/ide/ide-plugins/src/integTest/resources/org/gradle/plugins/ide/idea/IdeaIntegrationTest/addsScalaSdkAndCompilerLibraries/project4/build.gradle
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/internal/IdeaScalaConfigurer.java
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginExplicitVersionIntegrationTest.groovy
  platforms/jvm/scala/src/main/java/org/gradle/api/internal/tasks/scala/DefaultScalaPluginExtension.java
  platforms/jvm/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
  platforms/jvm/scala/src/main/java/org/gradle/api/plugins/scala/ScalaPluginExtension.java
  platforms/jvm/scala/src/main/java/org/gradle/api/tasks/ScalaRuntime.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:feature, in:scala-plugin
