Repository gradle/gradle, pull requests merged in 2025-07, with the labels that each got.

#34063 Merge release into master (20250701)
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  released-versions.json
Labels: @dev-productivity

#34074 IDEA: fix typo in EntryPointsManager config
  .idea/misc.xml
Labels: a:chore, @dev-productivity

#34075 Merge release into master (20250701)
  .github/CODEOWNERS
  .idea/misc.xml
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: @dev-productivity

#34060 Update documentation by adding info about the new artifactTransforms task
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
Labels: a:documentation

#34084 Merge release into master (20250702)
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/dependencies/JavaFeatureRegressionIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/jvm/component/internal/DefaultJvmSoftwareComponent.java
  released-versions.json
Labels: @dev-productivity

#34111 Backport exclude fix
  subprojects/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ModuleDependencyExcludeResolveIntegrationTest.groovy
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PotentialEdge.java
  subprojects/docs/src/docs/release/notes.md
Labels: a:chore

#34087 Add release notes for 28759
  platforms/documentation/docs/src/docs/release/notes.md
Labels: in:publishing-plugins, from:contributor

#34112 Move exclude fix to 9.0.0
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ModuleDependencyExcludeResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/versions/VersionConflictResolutionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/EdgeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/NodeState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/PotentialEdge.java
Labels: a:chore

#34120 Refine upgrade guide around Kotlin language version support
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: in:kotlin-dsl, a:documentation

#34119 Release notes for 8.14.3
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#34121 Support enum entry resolution in DCL function calls
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/NamedReferenceResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/EnumResolutionTest.kt
Labels: in:declarative-dsl

#34130 Merge release into master (20250704)
  released-versions.json
Labels: @dev-productivity

#34103 Update documentation with new major upgrade guide
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  platforms/documentation/docs/src/docs/userguide/img/deprecations.png
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_4.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_5.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_6.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_7.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#34151 Fix KGP-induced flakiness in KDSL+CC tests
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProviderTest.kt
Labels: a:chore

#34157 Update wrapper to 9.0.0-milestone-10 with Kotlin 2.2.0
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/kotlindsl/kotlin-compiler-configuration.kt
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/BinaryCompatibilityHelper.groovy
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/filters/KotlinInvokeDefaultBridgeFilter.groovy
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/KotlinSourceQueries.kt
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheKotlinLambdaIntegrationTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:kotlin-dsl

#33991 Fix documentation for Gradle Properties
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
Labels: a:documentation

#34189 Fix release notes and upgrade guide for RC2 release
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/deprecation/Documentation.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DeprecatedFeatureUsageTest.groovy
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/deprecation/DocumentationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart2IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/ValidatePlugins.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/DefaultAdhocSoftwareComponent.java
Labels: a:documentation

#34196 Use append instead of overwrite for manual keyring update
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/dependency_verification.adoc
Labels: a:documentation

#33766 Fix Kotlin DSL new IDE templates file path pattern
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinGradleScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinProjectScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/KotlinBuildScriptPatternTest.kt
Labels: a:bug, in:kotlin-dsl

#33827 Serializes and restores isDisallowChanges property metadata
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/ProviderCodecs.kt
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FilePropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/CollectionPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/PropertyLifecycleIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/ValueState.java
Labels: a:bug, in:configuration-cache, @configuration-cache

#34205 Replace usages of `Enum.values()` by `entries` following Kotlin upgrade
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/UserTypesCodecTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluatorTest.kt
Labels: a:chore

#34208 Merge release into master (20250711)
  gradle/dependency-management/agp-versions.properties
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/promo/ConfigurationCachePromoIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/CrossProjectConfigurationReportingTaskExecutionGraph.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/promo/ConfigurationCachePromoHandler.kt
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/dependency_verification.adoc
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishHttpIntegTest.groovy
  released-versions.json
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/DefaultTaskExecutionGraph.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskExecutionGraphExecutionListener.java
  subprojects/core/src/main/java/org/gradle/execution/taskgraph/TaskExecutionGraphInternal.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
Labels: @dev-productivity

#34204 Adjust nullability of TAPI builders
  subprojects/core-api/src/main/java/org/gradle/tooling/provider/model/ParameterizedToolingModelBuilder.java
  subprojects/core-api/src/main/java/org/gradle/tooling/provider/model/ToolingModelBuilder.java
  subprojects/core/src/main/java/org/gradle/tooling/provider/model/internal/BuildScopeModelBuilder.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:bug, in:tooling-api

#34223 Merge release into master (20250711)
  released-versions.json
Labels: @dev-productivity

#34231 Merge release into master (20250712)
  gradle/wrapper/gradle-wrapper.properties
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/BuildInvocationsBuilder.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/GradleProjectBuilder.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r900/GradleProjectModelCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/model/Model.java
  released-versions.json
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GradleBuildToolingApiSmokeTest.groovy
Labels: @dev-productivity

#33992 Fix documentation for types of Precompiled scripts
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
Labels: a:documentation

#33983 Add Best Practice: Use Build Cache
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_performance.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/groovy/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/groovy/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/kotlin/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/kotlin/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/tests/useBuildCache-avoid.firstRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/tests/useBuildCache-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-avoid/tests/useBuildCache-avoid.secondRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/groovy/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/groovy/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/kotlin/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/kotlin/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/tests/useBuildCache-do.firstRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/tests/useBuildCache-do.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/useBuildCache-do/tests/useBuildCache-do.secondRun.out
Labels: a:documentation, re:footguns-and-best-practices

#34219 Follow up at CC degradation logic polishing
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheDegradationController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
Labels: a:chore, in:configuration-cache

#34218 Accessors for `compileOnly` plugin dependencies in precompiled Kotlin scripts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/documentation/docs/src/docs/release/notes.md
  testing/architecture-test/src/changes/archunit-store/explicit-properties.txt
Labels: in:kotlin-dsl, in:precompiled-script-plugin

#34124 Add Gradleception IDE sync test
  testing/smoke-ide-test/build.gradle.kts
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/AbstractIdeSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsGradleceptionSyncTest.groovy
Labels: a:chore, in:isolated-projects

#34214 Fix asterisk escape
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
Labels: a:documentation

#34256 Merge release into master (20250715)
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_dashboard_plugin.adoc
  platforms/software/reporting/build.gradle.kts
  platforms/software/reporting/src/integTest/groovy/org/gradle/api/reporting/plugins/BuildDashboardPluginIntegrationTest.groovy
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/GenerateBuildDashboard.java
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/WellBehavedPluginTest.groovy
Labels: @dev-productivity

#34048 Rich console displays the number of lines that don't fit onto the screen
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/BuildProgressArea.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/MultiLineBuildProgressArea.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/console/WorkInProgressRenderer.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/console/ConsoleStub.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/console/WorkInProgressRendererTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/colored-console.gif
  platforms/documentation/docs/src/docs/release/release-notes-assets/off-screen-lines.gif
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:feature, in:console

#34259 Merge release into master (20250715)
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/TestCountLogger.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  released-versions.json
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/DevelocityPluginSmokeTest.groovy
Labels: @dev-productivity

#34150 Remove problematic ClasspathFingerprintingStrategy and ZipHasher fallback strategy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileAvoidanceWithBuildCacheServiceIntegrationTest.groovy
  platforms/jvm/normalization-java/src/main/java/org/gradle/api/internal/changedetection/state/ZipHasher.java
  platforms/jvm/normalization-java/src/main/java/org/gradle/internal/fingerprint/classpath/impl/ClasspathFingerprintingStrategy.java
Labels: a:bug, in:input-normalization

#34275 Register KotlinBuildScriptTemplateModelBuilder as a build scoped model builder
  platforms/core-configuration/kotlin-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r91/KotlinBuildScriptTemplateModelCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptTemplateModelBuilder.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/internal/KotlinScriptingModelBuildersRegistrationAction.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/internal/KotlinScriptingModelBuildersServices.kt
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.GradleModuleServices
Labels: in:tooling-api, in:kotlin-dsl

#34221 Remove direct references to SecurityManager
  platforms/core-execution/worker-main/src/main/java/org/gradle/process/internal/worker/child/BootstrapSecurityManager.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/SecurityManagerRef.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestWorker.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/child/ApplicationClassesInSystemClassLoaderWorkerImplementationFactory.java
Labels: in:testing, in:workers

#34276 Refine how the precompiledScriptPluginAccessorsGenerationClasspath is computed
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  testing/architecture-test/src/changes/archunit-store/platform-coupling.txt
Labels: in:kotlin-dsl, in:precompiled-script-plugin

#34296 Update to Gradle 9.0.0 RC3
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, @dev-productivity

#34299 Merge release into master (20250717)
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34302 Update Release Notes for 9.0.0 GA
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#34313 Add some leniency to `IsolatedProjectsIdeSyncFixture`
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsGradleceptionSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/fixtures/HasConfigurationCacheProblemsInReportSpec.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/fixtures/IsolatedProjectsIdeSyncFixture.groovy
Labels: a:chore, in:isolated-projects

#34300 Move Kotlin DSL classpath caches out of extension properties
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/BuildScopeServices.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/SingletonProperties.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Stage1BlocksAccessorClassPath.kt
Labels: a:chore, in:kotlin-dsl, in:configuration-cache

#32609 Setup failure describer machinery for component failures and add custom summarized message for conflicting constraints
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ModuleRejectedIncompatibleConstraintsFailureDescriberIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/internal/component/resolution/failure/ResolutionFailureHandlerIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/EndorseStrictVersionsIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/strict/StrictVersionsInPlatformCentricDevelopmentIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentRejectedMessageBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ComponentState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/MessageBuilderHelper.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/ModuleResolveState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/SelectorState.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectionReasonInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectionReasonSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ComponentSelectionReasons.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureDescriberRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/SelectionReasonAssessor.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/ModuleRejectedFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/ModuleRejectedIncompatibleConstraintsFailureDescriber.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/exception/AbstractResolutionFailureException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/exception/ComponentSelectionException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/exception/ConflictingConstraintsException.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/type/AbstractComponentSelectionFailure.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/type/ModuleRejectedFailure.java
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/StartParameter.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/result/ComponentSelectionReason.java
  subprojects/core-api/src/main/java/org/gradle/api/invocation/Gradle.java
  subprojects/core/src/main/java/org/gradle/api/internal/catalog/problems/ResolutionFailureProblemId.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: a:feature, in:dependency-resolution, re:comprehensibility

#34078 Add test to reproduce reported issue; expand javadoc on Default JvmTestSuite
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/jvm_test_suite_plugin.adoc
  platforms/jvm/plugins-jvm-test-suite/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesTestFrameworkIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/JvmTestSuite.java
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmTestSuite.java
Labels: in:testing, a:chore, a:documentation

#33497 Add Best Practice: Repository content filtering
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/filtering_repository_content.adoc
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-avoid/tests/contentFiltering-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFiltering-do/tests/contentFiltering-do.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/contentFilteringExclusive-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFilteringExclusive-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/contentFilteringExclusive-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFilteringExclusive-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/contentFilteringExclusive-do/tests/contentFilteringExclusive-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33882 Add Best Practice: Don't resolve Configurations before Task Execution
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/groovy/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/groovy/lib/src/main/java/org/example/Lib.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/kotlin/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/kotlin/lib/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/kotlin/lib/src/main/java/org/example/Lib.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/tests/avoidResolvingConfigurationsManually-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-avoid/tests/avoidResolvingConfigurationsManually-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/groovy/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/groovy/lib/src/main/java/org/example/Lib.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/kotlin/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/kotlin/lib/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/kotlin/lib/src/main/java/org/example/Lib.java
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/tests/avoidResolvingConfigurationsManually-do.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidResolvingConfigurationsManually-do/tests/avoidResolvingConfigurationsManually-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33960 Document minimal guarantees of Providers with Configuration Cache
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/Script.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/Provider.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
Labels: a:documentation

#34341 Finalize documentation of Configuration Cache for Gradle 9.0.0 GA
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_requirements.adoc
Labels: a:documentation

#34347 Merge release into master (20250722)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_requirements.adoc
  released-versions.json
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
  subprojects/core-api/src/main/java/org/gradle/api/Script.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/Provider.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/ProviderFactory.java
Labels: @dev-productivity

#34340 Update documentation with Maven Central Publishing Youtube video
  platforms/documentation/docs/src/docs/userguide/dep-man/publishing/publishing_maven.adoc
Labels: a:documentation

#34353 Updated tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:smoke-test, in:performance-test

#34343 Implement EAR Deployment Descriptor for Jakarta EE 11
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/DeploymentDescriptor.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptorTest.groovy
Labels: in:ear-plugin, from:contributor, :wave: team-triage

#34389 Merge release into master (20250724)
  .teamcity/scripts/update_wrapper_and_create_pr.sh
  .teamcity/src/main/kotlin/promotion/PublishRelease.kt
  .teamcity/src/main/kotlin/util/UpdateWrapper.kt
  .teamcity/src/main/kotlin/util/UtilProject.kt
Labels: @dev-productivity

#34373 Extract build-discovery subproject
  .teamcity/subprojects.json
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheKeyTest.kt
  platforms/core-configuration/core-serialization-codecs/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServices.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-runtime/build-discovery-api/build.gradle.kts
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/initialization/BuildLayoutParameters.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/initialization/BuildLogicFiles.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/initialization/package-info.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/DefaultScriptFileResolver.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/GradleScript.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/ScriptFileResolvedListener.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/ScriptFileResolver.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/ScriptFileUtil.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/ScriptingLanguages.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/internal/scripts/package-info.java
  platforms/core-runtime/build-discovery-api/src/main/java/org/gradle/scripts/ScriptingLanguage.java
  platforms/core-runtime/build-discovery/build.gradle.kts
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/initialization/SettingsLocation.java
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/initialization/layout/BuildLayout.java
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/initialization/layout/BuildLayoutConfiguration.java
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/initialization/layout/BuildLayoutFactory.java
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/initialization/layout/package-info.java
  platforms/core-runtime/build-discovery/src/main/java/org/gradle/internal/initialization/BuildTreeLocations.java
  platforms/core-runtime/client-services/build.gradle.kts
  platforms/core-runtime/gradle-cli/build.gradle.kts
  platforms/core-runtime/launcher/build.gradle.kts
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/LauncherServices.java
  platforms/core-runtime/tooling-api-provider/build.gradle.kts
  platforms/ide/tooling-api/build.gradle.kts
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
  platforms/software/dependency-management/build.gradle.kts
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  settings.gradle.kts
  subprojects/composite-builds/build.gradle.kts
  subprojects/core-api/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/initialization/Settings.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/SettingsInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultProjectDescriptor.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/GradlePropertiesHandlingSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildLayoutValidator.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/ProblemReportingBuildActionRunner.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/test/groovy/org/gradle/initialization/layout/BuildLayoutFactoryTest.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-integ-testing/build.gradle.kts
Labels: a:chore, re:platformization

#34406 Fix public API overloads nullability
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingJavaExecSpec.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/api/DefaultTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/ant/AntTarget.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:bug, in:configuration-model, in:exec-tasks

#34027 Add Best Practice: Use Configuration Cache
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_performance.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/declaring_dependencies_basics.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/filtering_repository_content.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/groovy/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/groovy/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/kotlin/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/kotlin/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/tests/useConfigurationCache-avoid.firstRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/tests/useConfigurationCache-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-avoid/tests/useConfigurationCache-avoid.secondRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/groovy/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/groovy/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/kotlin/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/kotlin/src/main/java/org/example/Sample.java
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/tests/useConfigurationCache-do.firstRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/tests/useConfigurationCache-do.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/useConfigurationCache-do/tests/useConfigurationCache-do.secondRun.out
Labels: a:documentation, re:footguns-and-best-practices

#34419 Correct file labels and extensions in single-project layout example
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
Labels: to-triage, from:contributor

#34422 9.0: Point upgrade guide link to Gradle 9 upgrade guide
  platforms/documentation/docs/src/docs/release/notes.md
Labels: to-triage, from:contributor

#34429 Fix "H owever" typo
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/component_capabilities.adoc
Labels: to-triage, from:contributor

#34431 Minor tweak to upgrade guide link label
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/component_capabilities.adoc
Labels: a:documentation

#34441 Lazily pull on Scala 2 version in fixture
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaCompilationFixture.groovy
Labels: a:chore

#34449 Merge release into master (20250729)
  gradle/wrapper/gradle-wrapper.properties
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingJavaExecSpec.java
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/JavaExec.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  released-versions.json
  subprojects/core-api/src/main/java/org/gradle/process/JavaExecSpec.java
  subprojects/core-api/src/main/java/org/gradle/process/JavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/api/DefaultTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/ant/AntTarget.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
Labels: @dev-productivity

#34321 Minor tweaks and nitpicks to CC docs
  platforms/documentation/docs/src/docs/userguide/img/configuration-cache-2.png
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_enabling.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_requirements.adoc
  platforms/documentation/docs/src/snippets/configurationCache/sharedObjects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/configurationCache/sharedObjects/kotlin/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/provider/ValueSource.java
Labels: in:configuration-cache, a:documentation

#34440 Re-use "different version" logic for daemon toolchain tests
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainDownloadIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/preconditions/IntegTestPreconditions.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: a:chore

#34462 Polish CC property tracking tests
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheGradlePropertiesIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/fixtures/SystemPropertiesCompositeBuildFixture.groovy
Labels: a:chore

#34470 Merge release into master (20250730)
  .teamcity/scripts/update_wrapper_and_create_pr.sh
  .teamcity/src/main/kotlin/configurations/FlakyTestQuarantine.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  .teamcity/src/main/kotlin/projects/StageProject.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
  released-versions.json
Labels: @dev-productivity

#34474 Fix invalid doc link
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r73/DeprecationsCrossVersionSpec.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/UnsafeConfigurationResolutionDeprecationIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  testing/integ-test/src/integTest/groovy/org/gradle/integtests/ParallelStaleOutputIntegrationTest.groovy
Labels: a:documentation

#34480 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:smoke-test, in:performance-test

#34486 Final doc pass for Gradle 9.0.0
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
Labels: a:documentation

#34496 Update Gradle wrapper to version 9.0.0
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34494 Update DPE University links for Build Scan course
  platforms/documentation/docs/src/docs/userguide/running-builds/features/inspect.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
Labels: a:chore

#34495 Merge release into master (20250731)
  released-versions.json
Labels: @dev-productivity

#34499 Polish `DefaultConfigurationCache`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
Labels: a:chore

#34250 Allow class name filters to match on JUnit 5 nested classes
  platforms/jvm/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterFilteringIntegrationTest.groovy
Labels: in:testing, a:bug, in:testing-junit5
