Repository gradle/gradle, pull requests merged in 2025-02, with the labels that each got.

#30594 Deprecate recognizing Boolean isFoo() as a property
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/internal/extensibility/DeprecatedBooleanPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/internal/extensibility/DeprecatedBooleanPropertyMatchesGroovy4IntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AbstractClassGenerator.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/reflect/annotations/impl/DefaultTypeAnnotationMetadataStore.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/manage/schema/extract/ModelPropertyExtractionContext.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/options/AbstractOptionIntegrationSpec.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PaparazziPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: 🌳 help wanted

#32271 Prepare master for next version
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/AT_report_example.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/TEST_API_metadata.png
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  released-versions.json
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  version.txt
Labels: @dev-productivity

#32272 Publish 8.13-20250203113121+0000
  released-versions.json
Labels: @dev-productivity

#32316 Update contributor guide with license/copyright header information
  CONTRIBUTING.md
Labels: a:chore, a:documentation

#32319 Simplify test for Groovy 4 property recognition
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/internal/extensibility/DeprecatedBooleanPropertyMatchesGroovy4IntegrationTest.groovy
Labels: a:chore

#32306 Let backwards compatibility check handle JSpecify nullability annotations
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/binary-compatibility/build.gradle.kts
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/rules/NullabilityBreakingChangesRule.groovy
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractJavaNullabilityChangesTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/JSpecifyNullabilityChangesTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/JavaxAnnotationNullabilityChangesTest.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/KotlinNullabilityChangesTest.kt
  gradle/verification-metadata.xml
Labels: a:chore, in:building-gradle

#32022 Un-ignore test
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/StaleOutputHistoryLossIntegrationTest.groovy
Labels: a:chore

#32333 Fix issue with exec process not being stopped when build is canceled
  platforms/core-execution/workers/build.gradle.kts
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonServer.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/ClientExecHandleBuilderFactory.java
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultClientExecHandleBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecActionFactory.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecFactory.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecActionFactoryTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/api/internal/file/TestFiles.java
  subprojects/core/src/testFixtures/groovy/org/gradle/process/TestExecHttpServer.java
Labels: a:bug, in:exec-tasks, has:release-notes-decision

#32350 Convert Visual Studio files generation from Groovy to Java
  platforms/ide/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/internal/VisualStudioFiltersFile.groovy
  platforms/ide/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/internal/VisualStudioProjectFile.groovy
  platforms/ide/ide-native/src/main/groovy/org/gradle/ide/visualstudio/tasks/internal/VisualStudioSolutionFile.groovy
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/plugins/VisualStudioPlugin.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/plugins/VisualStudioPluginRules.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/plugins/package-info.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/GenerateFiltersFileTask.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/GenerateProjectFileTask.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/GenerateSolutionFileTask.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/internal/RelativeFileNameTransformer.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/internal/VisualStudioFiltersFile.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/internal/VisualStudioProjectFile.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/internal/VisualStudioSolutionFile.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/internal/package-info.java
  platforms/ide/ide-native/src/main/java/org/gradle/ide/visualstudio/tasks/package-info.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:native-platform, a:chore, in:ide

#32066 Replace locked map by `ConcurrentHashMap` in `AbstractCrossBuildInMemoryCache`
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/lazy/FixedLazy.java
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/lazy/Lazy.java
  subprojects/core/src/main/java/org/gradle/cache/internal/DefaultCrossBuildInMemoryCacheFactory.java
Labels: a:chore, in:isolated-projects

#32217 Daemon toolchain add expected patterns for KnownJvmVendors
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmVendor.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/KnownJvmVendorSpec.groovy
Labels: in:daemon, in:toolchains, from:contributor

#32283 Prepare release notes for Gradle 8.13 release
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/AT_report_example.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/DJVMC_auto_provisioning_console.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/DJVMC_auto_provisioning_ide.png
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/scala_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#32337 Rephrase and include type in error message
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/EvaluationFailureMessageGenerator.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/WorkingWithFilesIntegrationTest.groovy
Labels: a:chore, in:declarative-dsl

#32384 Polish release notes for Gradle 8.13RC1
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/DJVMC_auto_provisioning_ide.png
Labels: a:chore

#32351 Document daemon toolchain auto-provisioning
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/reference/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/groovy/build.gradle
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/tests/daemon.out
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
Labels: in:daemon, in:toolchains, a:documentation

#32241 Never load native libraries from system temp dir
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/AbstractFileWatcherRegistryFactory.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/DarwinFileWatcherRegistryFactory.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/LinuxFileWatcherRegistryFactory.java
  platforms/core-execution/file-watching/src/main/java/org/gradle/internal/watch/registry/impl/WindowsFileWatcherRegistryFactory.java
  platforms/core-runtime/native/build.gradle.kts
  platforms/core-runtime/native/src/jmh/java/org/gradle/internal/nativeintegration/filesystem/FileMetadataAccessorBenchmark.java
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/core-runtime/native/src/test/groovy/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessorTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/platform/BinaryNativePlatformIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/NativeServicesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/distributions-dependencies/build.gradle.kts
Labels: in:internal-native-libraries

#32395 Final touches on release notes
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#32402 Publish 8.13-20250211193922+0000
  released-versions.json
Labels: @dev-productivity

#32380 Aligned order of parts in the navigation panel and getting started
  platforms/documentation/docs/src/docs/userguide/running-builds/getting_started_eng.adoc
Labels: a:documentation, from:contributor, in:tutorial

#32408 Move Groovy String to Enum coercion deprecation in upgrading guide to 8.14
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:bug, a:documentation

#32410 Update Gradle to 8.13 RC1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: a:chore, @dev-productivity

#32414 Publish 8.13-20250212151929+0000
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  released-versions.json
Labels: @dev-productivity

#32418 Static OG by default in Release Notes
  platforms/documentation/docs/src/docs/release/notes-template.md
Labels: in:documentation-infrastructure, a:documentation

#32417 Fix release notes rendering "fixed-issues"
  platforms/documentation/docs/src/docs/release/content/releaseIssues.js
Labels: in:documentation-infrastructure, a:documentation

#32406 Publish 8.13-rc-1
  released-versions.json
Labels: @dev-productivity

#32432 cobexer/merge release to master
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  platforms/documentation/docs/src/docs/release/content/releaseIssues.js
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DaemonGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: a:chore, @dev-productivity

#32435 Fix Kotlin metadata missing from publihsed Gradle API
  build-logic/packaging/src/main/kotlin/gradlebuild.public-api-jar.gradle.kts
  testing/public-api-tests/src/integTest/groovy/org/gradle/api/PublicApiIntegrationTest.groovy
Labels: a:chore, in:api-evolution

#32419 Update Javadoc generation
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/css/javadoc-dark-theme.css
  platforms/documentation/docs/src/docs/css/javadoc.css
Labels: in:documentation-infrastructure, a:documentation, has:release-notes-decision

#32401 February Documentation Cleanup
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_init_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/glossary.adoc
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/kotlin/build.gradle.kts
  subprojects/core-api/src/main/java/org/gradle/api/file/CopySpec.java
  subprojects/core-api/src/main/java/org/gradle/api/file/DuplicatesStrategy.java
Labels: a:documentation

#32291 Support compiling and testing on Java 24
  .teamcity/jdks.yaml
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/core-runtime/stdlib-java-extensions/src/test/groovy/org/gradle/api/JavaVersionSpec.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/AbstractToolchainGroovyCompileIntegrationTest.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/HigherToolchainGroovyCompileIntegrationTest.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/LowerToolchainGroovyCompileIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
Labels: a:feature, in:java-plugins

#32442 Publish 8.13-20250214011201+0000
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_init_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/glossary.adoc
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/declaringDependencies-concreteVersion/kotlin/build.gradle.kts
  released-versions.json
  subprojects/core-api/src/main/java/org/gradle/api/file/CopySpec.java
  subprojects/core-api/src/main/java/org/gradle/api/file/DuplicatesStrategy.java
Labels: @dev-productivity

#32447 Publish 8.13-20250214080456+0000
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DependencyDeclarationIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/VersionCatalogExtensionIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dependencies/DefaultExternalModuleDependency.java
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dependencies/AbstractModuleDependency.java
Labels: @dev-productivity

#32403 Improve expression resolution error message
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionTracer.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTree.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/dcl/DclInterpreterIntegrationTest.kt
Labels: a:chore, in:declarative-dsl

#32460 Add Java 24 to JDKs provided to tests
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
Labels: a:chore

#32259 Update test bucket json
  .teamcity/src/main/kotlin/model/FunctionalTestBucketGenerator.kt
  .teamcity/test-buckets.json
Labels: @dev-productivity

#32468 Publish :classloaders module as library
  platforms/core-runtime/classloaders/build.gradle.kts
  platforms/core-runtime/classloaders/src/main/java/org/gradle/internal/classloader/TransformReplacer.java
Labels: a:chore, in:internal-services

#32292 Implement simple generic types, generic function resolution, and varargs in DCL
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultAnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultVarargSignature.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ExpressionResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/FunctionCallResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/NamedReferenceResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionOutput.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionTracer.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/StatementResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/context.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/defaultCodeResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/transformation/OriginReplacement.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/utils.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/fromLanguageTree/LanguageTreeToDom.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DefaultModelToDocumentMutationPlanner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/DataTypeInternal.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeReflectionToObjectConverter.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/objectGraph/AssignmentResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/objectGraph/reflectObject.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/FailureUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/DataSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/schemaBuildingUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/serialization/SchemaSerialization.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/ResolutionTracerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/transformation/OriginReplacementTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/demo/demoUtils.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/GenericFunctionResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/VarargResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/VarargMappingToJvmTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/prettyPrintResults.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/VarargTest.kt
  platforms/core-configuration/declarative-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/declarative/dsl/tooling/builders/DeclarativeDslToolingModelsClasspathProvider.groovy
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/DataParameter.kt
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/DataType.kt
Labels: in:declarative-dsl

#31435 Migrate TestFilter to use lazy properties
  build-logic/cleanup/src/main/kotlin/gradlebuild/testing/services/BuildBucketProvider.kt
  build-logic/performance-testing/src/main/groovy/gradlebuild/performance/tasks/PerformanceTest.groovy
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/PerformanceTestPlugin.kt
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/test/impl/DefaultTestTaskPropertiesService.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionBuildConfigurationAction.java
  platforms/ide/tooling-api-builders/src/test/groovy/org/gradle/tooling/internal/provider/runner/TestExecutionBuildTaskSchedulerTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/AbstractTestFilteringIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/internal/tasks/testing/testng/TestNGTestFrameworkTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/TestTaskSpec.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/tasks/XCTest.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestFilter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestFilterAdapters.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/filter/DefaultTestFilterTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
Labels: a:chore, p:lazy-migration

#32470 Update DSL entry for UpdateDaemonJvm
  build-logic/documentation/src/main/groovy/gradlebuild/docs/dsl/docbook/ClassDocSuperTypeBuilder.java
  platforms/documentation/docs/src/docs/dsl/org.gradle.buildconfiguration.tasks.UpdateDaemonJvm.xml
Labels: a:documentation

#32445 Move and reword Boolean is-property deprecation docs
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#32233 Upgrade Javadoc Options to use lazy properties
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  platforms/documentation/docs/src/snippets/java/basic/kotlin/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/CoreJavadocOptions.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/MinimalJavadocOptions.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/MinimalJavadocOptionsAdapters.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/StandardJavadocDocletOptions.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/ConfigurableFileCollectionJavadocOptionFileOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFile.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFileWriter.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/MapPropertyJavadocOptionFileOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/MultiValuePropertyJavadocOptionFileOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/PropertyJavadocOptionFileOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/ConfigurableFileCollectionKnownOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/HasMultipleValuesKnownOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/KnownOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/MapPropertyKnownOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/PropertyKnownOption.java
  platforms/jvm/language-java/src/main/java/org/gradle/external/javadoc/internal/options/package-info.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/external/javadoc/StandardJavadocDocletOptionsTest.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/external/javadoc/internal/JavadocOptionFileTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/external/javadoc/internal/JavadocOptionFileWriterTest.groovy
  testing/architecture-test/src/changes/accepted-changes/coreJavadocOptions-accepted-public-api-changes.json
  testing/architecture-test/src/changes/accepted-changes/standardJavadocDocletOptions-accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: p:lazy-migration

#32280 Run an integ test in Groovy 4 Gradleception
  .teamcity/src/main/kotlin/configurations/Gradleception.kt
Labels: a:chore

#32471 Track extra properties separately from Gradle properties
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/plugins/ExtraPropertiesExtensionInternal.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/plugins/package-info.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/DefaultExtraPropertiesExtension.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/ExtensibleDynamicObject.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleProperties.java
  subprojects/core/src/main/java/org/gradle/initialization/ProjectPropertySettingBuildLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/SettingsFactory.java
  subprojects/core/src/test/groovy/org/gradle/initialization/ProjectPropertySettingBuildLoaderTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore, in:configuration-model, in:configuration-cache

#32227 Make ProjectLayout usable from the `defaults` block of DCL settings
  platforms/core-configuration/declarative-dsl-evaluator/build.gradle.kts
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/DefaultsConfiguringBlock.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/ModelDefaultsDocumentTransformation.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/ModelDefaultsResolutionProcessor.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/defaults.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/main/PrebuiltInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/main/SimpleAnalysisEvaluator.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/schema/DeclarativeScriptContext.kt
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/schema/InterpretationSchemaBuildingResult.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/WorkingWithFilesIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/defaults/DefaultsTopLevelReceiver.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/defaults/modelDefaultsSchema.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/InterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/DeclarativeDslNotEvaluatedException.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/DeclarativeKotlinScriptEvaluator.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/GradleProcessInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/InterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/MemoizedInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/StoringInterpretationSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/defaults/DeclarativeModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslScriptPluginFactory.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServices.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/declarative-dsl-tooling-builders/src/main/kotlin/org/gradle/declarative/dsl/tooling/builders/DeclarativeSchemaModelBuilder.kt
  platforms/core-configuration/declarative-dsl-tooling-models/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslDclSchemaCollector.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/core-api/src/main/java/org/gradle/api/initialization/SharedModelDefaults.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/internal/SharedModelDefaultsInternal.java
  subprojects/core-api/src/main/java/org/gradle/api/initialization/internal/package-info.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ActionBasedModelDefaultsHandler.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultSharedModelDefaults.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/DeclarativeDslDependencyTest.java
Labels: in:declarative-dsl

#32506 Publish 8.13-rc-2
  released-versions.json
Labels: @dev-productivity

#32458 Check and fix native access warnings in Java 24
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/JpmsConfiguration.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/services/NativeServices.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/daemon/DaemonGroovyCompiler.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcessBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/WorkerProcessBuilder.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/PerformanceTestJvmOptions.groovy
Labels: in:daemon, a:bug, in:workers

#32509 Fix OG in release notes
  platforms/documentation/docs/src/docs/release/notes-template.md
Labels: a:documentation

#32508 Documentation updates for 8.13
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#32510 Upgrade tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/plugins-jvm-test-fixtures/src/integTest/groovy/org/gradle/java/fixtures/KotlinTestFixturesIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore, in:building-gradle

#32516 Publish 8.13-20250221010946+0000
  gradle/wrapper/gradle-wrapper.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/metadata/DefaultMavenAttributesFactory.java
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultAttributesFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
Labels: @dev-productivity

#32515 Upgrade tested AGP versions
  gradle/dependency-management/agp-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:building-gradle

#32512 Fix DCL schema building from type hierarchies with generic supertypes
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/DataSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/GenericOpaqueTypesTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/GenericReceiverTypesTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/agp/DeclarativeAgpSmokeSpec.groovy
Labels: in:declarative-dsl

#32517 Add DSL test for working with ListProperty of file system locations
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/WorkingWithFilesIntegrationTest.groovy
Labels: in:declarative-dsl

#32503 Fix a corner case in named reference representation in the DOM
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DefaultDocumentResolutionContainer.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/TestApi.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/DomResolutionTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeDeclarationIntegrationTest.groovy
Labels: in:declarative-dsl

#32493 Improve DCL performance
  platforms/core-configuration/declarative-dsl-core/src/integTest/groovy/org/gradle/internal/declarativedsl/ErrorHandlingOnReflectiveCallsSpec.groovy
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/Workarounds.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/intrinsics/IntrinsicTopLevelFunctionBridge.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/RuntimeFunctionResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/defaults/DeclarativeModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/project/ProjectInterpretationSequenceStep.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServices.kt
Labels: in:declarative-dsl

#32535 Cleanup Problems API internal classes
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalAdditionalData.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalBasicProblemDetails.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalBasicProblemDetailsVersion2.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalContextualLabel.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalDetails.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalDocumentationLink.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalFileLocation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalLabel.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalLineInFileLocation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalLocation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalOffsetInFileLocation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalPayloadSerializedAdditionalData.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalPluginIdLocation.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalProblemCategory.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalProblemDetailsVersion2.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalProxiedAdditionalData.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalSeverity.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalSolution.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/protocol/problem/InternalTaskPathLocation.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/types/DefaultProblemCategory.java
Labels: a:chore, in:problems

#32539 Fix failing cross-version test
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
Labels: a:chore, in:problems

#32541 Publish 8.13
  released-versions.json
Labels: @dev-productivity

#32544 Enable classloading strict mode for test-kit integration tests
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/jvm/GradleRunnerCliGradlePropertyFileDaemonJvmIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/jvm/GradleRunnerToolchainDaemonJvmIntegrationTest.groovy
  platforms/extensibility/test-kit/src/testFixtures/groovy/org/gradle/testkit/runner/BaseGradleRunnerIntegrationTest.groovy
Labels: a:chore, in:test-kit

#32545 Merge Release 0225
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, @dev-productivity

#32525 Remove 'trim' in BaseForkOptions.setJvmArgs
  platforms/jvm/language-jvm/build.gradle.kts
  platforms/jvm/language-jvm/src/integTest/groovy/org/gradle/api/tasks/compile/ForkOptionsIntegrationTest.groovy
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/BaseForkOptions.java
  platforms/jvm/language-jvm/src/test/groovy/org/gradle/api/tasks/compile/BaseForkOptionsTest.groovy
Labels: in:jvm-ecosystem, from:contributor

#32397 Finish JavaApplication upgrade
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/plugins/JavaApplication.java
Labels: p:lazy-migration

#32234 Ensure the test result writer is closed as much as possible
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/DefaultRootTestEventReporter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/serializable/SerializableTestResultStore.java
Labels: in:testing, a:bug

#32554 Move incubating to the specific methods in `configurations`
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ConfigurationContainerExtensions.kt
Labels: a:bug

#32561 Reproduce StackOverflowError for -= with ConfigurableFileCollection
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/GroovyPropertyAssignmentIntegrationTest.groovy
Labels: in:provider-api, p:lazy-migration

#32563 Deprecate addCandidate in preparation for removal in 9.0
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/internal/plugins/DefaultArtifactPublicationSetTest.groovy
  platforms/software/platform-base/src/main/java/org/gradle/api/internal/plugins/DefaultArtifactPublicationSet.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/DistributionBasePlugin.java
Labels: a:chore, in:dependency-resolution

#32487 Lazy evalutation of git output
  testing/distributions-integ-tests/build.gradle.kts
Labels: a:chore, in:building-gradle
