Repository gradle/gradle, pull requests merged in 2025-09, with the labels that each got.

#34862 Formally deincubate Kotlin*ScriptTemplate to fix Unstable API warnings in the IDE
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinGradleScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinProjectScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScriptTemplate.kt
Labels: in:kotlin-dsl

#34863 Merge release into master (20250902)
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinGradleScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinProjectScriptTemplate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScriptTemplate.kt
  released-versions.json
Labels: @dev-productivity

#34867 Update Gradle wrapper to version 9.1.0-rc-2
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34865 Merge release into master (20250902)
  released-versions.json
Labels: @dev-productivity

#34833 Add JavaDoc for CoreJavadocOptions option methods (#2354)
  platforms/jvm/javadoc/src/main/java/org/gradle/external/javadoc/CoreJavadocOptions.java
Labels: in:javadoc-task, from:contributor

#34837 Internal options to disable Parallel and Caching IP
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/AbstractIsolatedProjectsToolingApiIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsParallelConfigurationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsToolingApiModelQueryIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/buildtree/BuildModelParametersProvider.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/buildtree/DefaultBuildModelParameters.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/buildtree/InvocationScenarioParameter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ConfigurationCacheCodecs.kt
  platforms/core-configuration/configuration-cache/src/test/groovy/org/gradle/internal/buildtree/BuildModelParametersProviderTest.groovy
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheKeyTest.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/buildtree/BuildModelParameters.java
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/isolated_projects.adoc
  subprojects/core/src/main/java/org/gradle/configuration/DefaultProjectsPreparer.java
Labels: a:chore, in:isolated-projects

#34575 Add check to execute daemon expiration check when daemon registry has not changed
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/Daemon.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/server/DaemonRegistryUnavailableExpirationStrategy.java
  platforms/core-runtime/launcher/src/test/groovy/org/gradle/launcher/daemon/server/DaemonRegistryUnavailableExpirationStrategyTest.groovy
Labels: in:daemon, a:feature

#34834 Preserve the order of extra JavaDoc options
  platforms/jvm/javadoc/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFile.java
  platforms/jvm/javadoc/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFileWriter.java
  platforms/jvm/javadoc/src/test/groovy/org/gradle/external/javadoc/StandardJavadocDocletOptionsTest.java
Labels: in:javadoc-task, from:contributor

#34876 Update tested KGP versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:smoke-test, in:performance-test

#34850 Push display name down to roots in generic test report
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/GenericPageRenderer.java
Labels: in:testing, a:chore

#34879 Upgrade embedded Kotlin to 2.2.10
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
Labels: a:chore, in:kotlin-dsl

#34776 Ear Plugin: application descriptors for Jakarta EE 12+
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptor.java
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/descriptor/internal/DefaultDeploymentDescriptorTest.groovy
Labels: in:ear-plugin, from:contributor

#34804 Gradleception Incremental sync test
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.repositories.gradle.kts
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  testing/smoke-ide-test/build.gradle.kts
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/AbstractIdeSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsAndroidProjectSyncTest.groovy
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsGradleceptionSyncTest.groovy
Labels: a:feature, in:isolated-projects, has:release-notes-decision

#34889 Add DCL software feature support to Groovy via dynamic objects
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareFeatureDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObject.java
  platforms/core-configuration/software-features/src/main/kotlin/org/gradle/plugin/software/internal/TargetTypeInformationChecks.kt
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicator.java
  subprojects/core/src/test/groovy/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObjectTest.groovy
Labels: in:declarative-dsl

#34914 Merge release into master (20250908)
  released-versions.json
Labels: @dev-productivity

#34915 Update Gradle wrapper to version 9.1.0-rc-3
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34918 Merge release into master (20250908)
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34894 Start JUnit 4 test runs more properly
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestClassExecutor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestEventAdapter.java
Labels: a:chore, in:testing-junit4

#34928 Merge release into master (20250909)
  released-versions.json
Labels: @dev-productivity

#34468 Add Best Practice: Naming Root Projects
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-avoid/tests/nameYourRootProject-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-do/tests/nameYourRootProject-do.out
  platforms/documentation/docs/src/snippets/bestPractices/nameYourRootProject-do/tests/nameYourRootProject-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#34922 Update plugin section of release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore, a:documentation

#34905 S1144: Unused "private" methods should be removed
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/btree/FreeListBlockStore.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/GradlePomModuleDescriptorParser.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultExcludeEverything.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/excludes/simple/DefaultExcludeNothing.java
  subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java
  subprojects/core/src/main/java/org/gradle/api/internal/cache/DefaultCacheConfigurations.java
  subprojects/core/src/main/java/org/gradle/caching/configuration/internal/DefaultBuildCacheConfiguration.java
Labels: in:building-gradle, from:contributor

#34931 Fixes filtering behavior on JUnit 4.0
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestClassExecutor.java
Labels: in:testing, a:chore, in:testing-junit4

#34937 Merge release into master (20250910)
  released-versions.json
Labels: @dev-productivity

#34946 Update Documentation: update main plugin page
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/unused/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#34965 Update wrapper upgrade instructions
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/gradle_wrapper.adoc
Labels: in:wrapper, a:documentation

#34985 Update Documentation: add convention plugins docs
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_status.adoc
  platforms/documentation/docs/src/docs/userguide/reference/dsl-apis/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/implementing_gradle_plugins_convention.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/implementing_gradle_plugins_precompiled.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-dependencyAlignmentWithPlatform/groovy/platform/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-dependencyAlignmentWithPlatform/kotlin/platform/build.gradle.kts
Labels: a:documentation

#34993 Update Gradle wrapper to version 9.1.0-rc-4
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#34997 Update Documentation: update with example and anatomy of binary plugin
  platforms/documentation/docs/src/docs/userguide/img/plugin_anatomy.png
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/build.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/src/functionalTest/groovy/org/example/GreetingPluginFunctionalTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/src/main/groovy/org/example/GreetTask.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/src/main/groovy/org/example/GreetingExtension.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/src/main/groovy/org/example/GreetingPlugin.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/plugin/src/test/groovy/org/example/GreetingPluginTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/src/functionalTest/kotlin/org/example/GreetingPluginFunctionalTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/src/main/kotlin/org/example/GreetTask.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/src/main/kotlin/org/example/GreetingExtension.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/src/main/kotlin/org/example/GreetingPlugin.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/plugin/src/test/kotlin/org/example/GreetingPluginTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-binary/kotlin/settings.gradle.kts
Labels: a:documentation

#34999 Avoid duplicate exposing of Gradle in settings-scope
  subprojects/core-api/src/main/java/org/gradle/api/invocation/Gradle.java
  subprojects/core/src/main/java/org/gradle/api/internal/GradleInternal.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
Labels: a:chore, in:internal-services

#34902 Upgrade embedded Kotlin and tested KGP versions to 2.2.20
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/util/KotlinSourceParser.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  gradle/dependency-management/kotlin-versions.properties
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/inputs/undeclared/AbstractUndeclaredBuildInputsIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/Parser.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/GenericOpaqueTypesTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/GenericReceiverTypesTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/KotlinParser.kt
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/BinDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegritySpec.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
Labels: a:chore, in:kotlin-dsl

#35038 Update Gradle wrapper to version 9.1.0
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#35035 Rework software feature runtime mechanisms, fix missing support for Declarative features in Kotlin DSL
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/PrimitiveKotlinTypeStrings.kt
  platforms/core-configuration/declarative-dsl-internal-utils/build.gradle.kts
  platforms/core-configuration/declarative-dsl-internal-utils/src/main/kotlin/org/gradle/internal/declarativedsl/software/SoftwareTypeModelInstance.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/LegacySoftwareTypeDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/settings/SoftwareFeatureDeclarationIntegrationTest.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/defaults/ActionBasedModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/interpreter/defaults/DeclarativeModelDefaultsHandler.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/software/schemaFromSoftwareTypes.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareFeatureFixture.groovy
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/groovy/org/gradle/internal/declarativedsl/settings/SoftwareTypeFixture.groovy
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslDclSchemaCollector.kt
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/dcl/DclInterpreterIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorFragments.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStrings.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/runtime/Runtime.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/KotlinMetadata.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStringTest.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/antlr/AntlrSoftwareFeaturePlugin.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/checkstyle/CheckstyleSoftwareFeaturePlugin.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/demo/quality/DemoCodeQualitySoftwareFeaturePlugin.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/instrumentation/InstrumentClassesSoftwareFeaturePlugin.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/java/plugin/GroovySoftwareTypePlugin.kt
  platforms/core-configuration/software-features-demos/src/main/kotlin/org/gradle/api/plugins/java/plugin/JavaSoftwareTypePlugin.kt
  platforms/core-configuration/software-features/src/main/java/org/gradle/api/internal/plugins/SoftwareFeatureApplicationContext.java
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsApplicator.java
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsHandler.java
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/SoftwareFeatureApplicator.java
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/SoftwareFeatureSupportInternal.java
  platforms/core-configuration/software-features/src/main/java/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObject.java
  platforms/extensibility/plugin-use/build.gradle.kts
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultModelDefaultsApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicator.java
  platforms/extensibility/plugin-use/src/main/java/org/gradle/plugin/software/internal/SoftwareFeatureApplicationContextInternal.java
  platforms/extensibility/plugin-use/src/test/groovy/org/gradle/plugin/software/internal/DefaultSoftwareFeatureApplicatorTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/test/groovy/org/gradle/plugin/software/internal/SoftwareFeaturesDynamicObjectTest.groovy
Labels: in:kotlin-dsl, in:declarative-dsl

#35050 Fix broken link
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache.adoc
Labels: a:documentation, from:contributor

#35075 Prepare master for next version
  platforms/documentation/docs/src/docs/release/notes.md
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  version.txt
Labels: @dev-productivity

#35083 Merge release into master (20250922)
  released-versions.json
Labels: @dev-productivity

#35055 Enable the Gretty smoke test
  gradle/dependency-management/smoke-tested-plugins.properties
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
Labels: from:contributor, in:smoke-test

#35080 Revert #34262 (Escape double quotes in Java arguments on windows)
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
Labels: a:bug, in:exec-tasks

#34972 Fix `ModifyCollectionInEnhancedForLoop`
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistry.java
  subprojects/core/src/test/groovy/org/gradle/internal/service/scopes/DefaultGradleUserHomeScopeServiceRegistryTest.groovy
Labels: in:building-gradle, from:contributor

#34706 Project wrapping in vintage is back again
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ProblemReportingCrossProjectModelAccess.kt
  platforms/core-configuration/isolated-action-services/src/main/kotlin/org/gradle/internal/isolate/actions/services/DefaultIsolatedProjectEvaluationListenerProvider.kt
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/UnsafeConfigurationResolutionDeprecationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/LifecycleAwareProjectIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultCrossProjectModelAccess.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/LifecycleAwareProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareDynamicObject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareProject.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/InstantiatingBuildLoaderTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/BuildLogicGcTrigger.groovy
Labels: a:chore, in:configuration-model

#35130 Fix Windows ARM builds
  .github/workflows/contributor-pr.yml
Labels: in:building-gradle, from:contributor

#35168 Prepare Release Notes and Upgrade Guide for 9.2.0
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
Labels: a:documentation
