Repository gradle/gradle, pull requests merged in 2025-04, with the labels that each got.

#32900 Check Scala<->JDK compatibility in more Scala tests
  platforms/jvm/scala/build.gradle.kts
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/ScalaAnnotationProcessingIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/ScalaProjectIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/samples/SamplesMixedJavaAndScalaIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/samples/SamplesScalaCustomizedLayoutIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/samples/SamplesScalaQuickstartIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/integtests/samples/SamplesScalaZincIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaCompilationFixture.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaConcurrencyIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/CachedScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ForceScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/IncrementalScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileMultiProjectTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileWithJavaLibraryIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ZincScalaCompilerMultiVersionIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/daemon/ScalaCompilerDaemonReuseIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/environment/JreJavaHomeScalaIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/scaladoc/ScalaDocRelocationIntegrationTest.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/test/ScalaTestIntegrationTest.groovy
  platforms/jvm/scala/src/testFixtures/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  platforms/jvm/scala/src/testFixtures/groovy/org/gradle/integtests/fixtures/ZincCoverage.groovy
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/AbstractSpecs2IntegrationTest.groovy
  testing/integ-test/build.gradle.kts
  testing/integ-test/src/integTest/groovy/org/gradle/integtests/ProjectLayoutIntegrationTest.groovy
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
Labels: a:chore

#32902 Add public APIs documentation
  platforms/documentation/docs/src/docs/userguide/releases/feature_lifecycle.adoc
Labels: a:documentation

#32745 Support += in Groovy build scripts
  .teamcity/subprojects.json
  platforms/core-configuration/file-collections/build.gradle.kts
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/ConfigurableFileCollectionCompoundAssignmentStandIn.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/FileCollectionCompoundAssignmentResult.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/FileCollectionExtensions.java
  platforms/core-configuration/file-collections/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/FileCollectionExtensionsApiTest.groovy
  platforms/core-configuration/groovy-support/build.gradle.kts
  platforms/core-configuration/groovy-support/src/main/java/org/gradle/api/internal/groovy/support/CompoundAssignmentExtensions.java
  platforms/core-configuration/groovy-support/src/main/java/org/gradle/api/internal/groovy/support/CompoundAssignmentResult.java
  platforms/core-configuration/groovy-support/src/main/java/org/gradle/api/internal/groovy/support/CompoundAssignmentTransformer.java
  platforms/core-configuration/groovy-support/src/main/java/org/gradle/api/internal/groovy/support/ExpressionUtils.java
  platforms/core-configuration/groovy-support/src/main/java/org/gradle/api/internal/groovy/support/package-info.java
  platforms/core-configuration/groovy-support/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  platforms/core-configuration/groovy-support/src/test/groovy/org/gradle/api/internal/groovy/support/CompoundAssignmentPropertySpec.groovy
  platforms/core-configuration/groovy-support/src/test/groovy/org/gradle/api/internal/groovy/support/CompoundAssignmentUnrelatedSpec.groovy
  platforms/core-configuration/groovy-support/src/test/groovy/org/gradle/api/internal/groovy/support/ExtensionsApiStabilityTest.groovy
  platforms/core-configuration/groovy-support/src/testFixtures/groovy/org/gradle/api/internal/groovy/support/CompoundAssignmentBinaryCompatibilityFixture.groovy
  platforms/core-configuration/groovy-support/src/testFixtures/java/org/gradle/api/internal/groovy/support/CompoundAssignmentTransformInTest.java
  platforms/core-configuration/groovy-support/src/testFixtures/java/org/gradle/api/internal/groovy/support/TransformCompoundAssignments.java
  platforms/core-configuration/model-core/build.gradle.kts
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/AbstractProviderOperatorIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/GroovyPropertyAssignmentIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/AbstractCollectionProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionPropertyCompoundAssignmentResult.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionPropertyCompoundAssignmentStandIn.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/CollectionPropertyExtensions.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapPropertyCompoundAssignmentStandIn.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/MapPropertyExtensions.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/support/LazyGroovySupport.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/support/package-info.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/api/internal/provider/PropertyExtensionsApiTest.groovy
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/BuildScriptTransformer.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: p:lazy-migration

#32826 Add deprecation warnings for testSourcesDirs and testResourcesDirs properties
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/ide-plugins/build.gradle.kts
  platforms/ide/ide-plugins/src/main/java/org/gradle/plugins/ide/idea/model/IdeaModule.java
Labels: a:chore

#32898 Add a partial signature to generated classes
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/instantiation/generator/AsmBackedClassGenerator.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/instantiation/generator/AsmBackedClassGeneratorTest.java
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/AsmClassGeneratorUtils.java
Labels: a:chore

#32919 Release Notes and Upgrade Guide readiness for Gradle 8.13
  platforms/documentation/docs/src/docs/release/notes-template.md
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#32576 Support Java 24 for running Gradle
  .teamcity/jdks.yaml
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildScanTagUtilsTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  gradle/verification-metadata.xml
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonJvmSettingsIntegrationTest.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/groovy/my-library/build.gradle
  platforms/documentation/docs/src/samples/groovy/library-publishing/kotlin/my-library/build.gradle.kts
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseIncrementalCompilationAfterFailureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformFilteringIntegrationTest.groovy
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  subprojects/core/src/main/java/org/gradle/util/internal/GroovyDependencyUtil.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/test/fixtures/server/http/BlockingHttpServerTest.groovy
Labels: a:feature, has:release-notes

#32785 Fix coercion for intercepted Groovy property setters
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/CrossProjectModelAccessTrackingParentDynamicObject.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/DefaultConvention.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/ExtensibleDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/ExtraPropertiesDynamicObjectAdapter.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/AbstractDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/BeanDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/CompositeDynamicObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/DynamicObjectUtil.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/metaobject/InterceptedMetaProperty.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/metaobject/BeanWithMixInProperties.groovy
  subprojects/core-api/src/main/java/org/gradle/internal/metaobject/PropertyAccess.java
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/project/MutableStateAccessAwareDynamicObject.java
  subprojects/core/src/main/java/org/gradle/groovy/scripts/BasicScript.java
  subprojects/core/src/main/java/org/gradle/internal/classpath/CallInterceptingMetaClass.java
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/BasicCallInterceptionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/classpath/CallInterceptingMetaClassTest.groovy
  subprojects/core/src/testInterceptors/java/org/gradle/internal/classpath/BasicCallInterceptionTestInterceptorsDeclaration.java
  subprojects/core/src/testInterceptors/java/org/gradle/internal/classpath/InterceptorTestReceiver.java
Labels: p:lazy-migration, in:instrumentation

#32825 Add Best Practice: Use Plugins Block
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/plugin_basics.adoc
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/avoid-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/do-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/avoid-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/do-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-do.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#32776 Fix `contextualLabel` inconsistency in Java compiler problems
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListener.java
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/internal/tasks/compile/DiagnosticToProblemListenerTest.groovy
Labels: a:chore, in:problems

#32955 Update JaCoCo to 0.8.13
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/dsl/org.gradle.testing.jacoco.plugins.JacocoPluginExtension.xml
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/groovy/build.gradle
  platforms/documentation/docs/src/snippets/testing/jacoco-quickstart/kotlin/build.gradle.kts
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/jacoco/src/test/groovy/org/gradle/internal/jacoco/JacocoAgentJarTest.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
Labels: a:chore, in:jacoco-plugin

#32907 Remove jvmTarget related deprecations
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslJvmTargetIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginOptions.kt
  platforms/core-configuration/kotlin-dsl-plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/CompilePrecompiledScriptPluginPlugins.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PrecompiledScriptPluginsSupport.kt
Labels: in:kotlin-dsl

#32959 cobexer/merge release to master
  .teamcity/jdks.yaml
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/common/JvmVersion.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildScanTagUtilsTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  gradle/verification-metadata.xml
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/crossVersionTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemsTapi813PlusCrossVersionTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemsServiceIntegTest.groovy
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorProblemsApiIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonJvmSettingsIntegrationTest.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/plugin_basics.adoc
  platforms/documentation/docs/src/samples/groovy/library-publishing/groovy/my-library/build.gradle
  platforms/documentation/docs/src/samples/groovy/library-publishing/kotlin/my-library/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/avoid-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/do-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/avoid-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/do-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-do.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.sample.conf
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsApiBuildOperationIntegrationTest.groovy
  platforms/ide/problems-api/src/integTest/groovy/org/gradle/api/problems/ProblemsServiceIntegrationTest.groovy
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblemBuilder.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/DefaultProblems.java
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseIncrementalCompilationAfterFailureIntegrationTest.groovy
  platforms/jvm/language-java/src/testFixtures/groovy/org/gradle/api/tasks/compile/fixtures/ProblematicClassGenerator.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformFilteringIntegrationTest.groovy
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  released-versions.json
  subprojects/core/src/main/java/org/gradle/util/internal/GroovyDependencyUtil.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/test/groovy/org/gradle/test/fixtures/server/http/BlockingHttpServerTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BuildScanPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/NebulaPluginsSmokeTest.groovy
Labels: a:chore, @dev-productivity

#32617 Use lazy properties in PluginDeclaration
  build-logic-commons/publishing/src/main/kotlin/gradlebuild.kotlin-dsl-plugin-bundle.gradle.kts
  build-logic-commons/publishing/src/main/kotlin/gradlebuild/pluginpublish/extension/PluginPublishExtension.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/PluginDeclaration.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyScript.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/IvyPluginPublishingPlugin.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/JavaGradlePluginPlugin.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/plugins/MavenPluginPublishPlugin.java
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/GeneratePluginDescriptors.java
  platforms/extensibility/plugin-development/src/test/groovy/org/gradle/plugin/devel/plugins/JavaGradlePluginPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-properties-should-not-have-migration-annotation.txt
Labels: p:lazy-migration

#32920 Remove internal load-after-store flag
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheAwareBuildTreeWorkController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheStartParameter.kt
  subprojects/core/src/main/java/org/gradle/composite/internal/BuildTreeWorkGraphController.java
Labels: a:chore

#32967 update JavaDoc of setDestinationDir in TestReport
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/TestReport.java
Labels: to-triage, from:contributor

#32505 Upgrade AbstractCompile.classpath to a lazy property
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/compile/GroovyCompile.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/CrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/AbstractCompile.java
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageSourceDirectoryBuilder.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-file-collection.txt
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/FreefairAspectJPluginSmokeTest.groovy
Labels: p:lazy-migration

#32909 Add support for `Map`-typed properties in DCL
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/DefaultAnalysisSchema.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/FunctionCallResolver.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/analysis/context.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/DeclarativeDocument.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/DefaultNodeTypes.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/fromLanguageTree/LanguageTreeToDom.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/mutation/DocumentTextMutationPlanner.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/dom/writing/CanonicalDocumentTextGenerator.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/intrinsics/GradleRuntimeFunctionIntrinsics.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/language/LanguageTreeResult.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/parsing/GrammarToTree.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/DataSchemaBuilder.kt
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/schemaBuilder/FunctionExtractor.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/analysis/InfixFunctionCallResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/CanonicalDocumentTextGeneratorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/mutation/ModelToDocumentMutationPlannerTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/dom/resolution/GenericFunctionResolutionTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/BasicParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ErrorParsingTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/parsing/ImportTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/prettyPrintResults.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/FunctionExtractorTest.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/schemaBuidler/GenericOpaqueTypesTest.kt
  platforms/core-configuration/declarative-dsl-core/src/testFixtures/kotlin/org/gradle/internal/declarativedsl/demo/resolve.kt
  platforms/core-configuration/declarative-dsl-core/src/testFixtures/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/runtimeInstanceFromResult.kt
  platforms/core-configuration/declarative-dsl-provider/build.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDslProjectBuildFileIntegrationSpec.groovy
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradleCustomizationSchemaBuildingComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/GradlePropertyApiAnalysisSchemaComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/common/StandardLibraryComponent.kt
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/FixedTypeDiscovery.kt
  platforms/core-configuration/declarative-dsl-provider/src/test/kotlin/org/gradle/internal/declarativedsl/common/StandardLibraryComponentTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/testFixtures/kotlin/org/gradle/internal/declarativedsl/evaluationSchema/interpretWithConversion.kt
  platforms/core-configuration/declarative-dsl-tooling-models/src/main/kotlin/org/gradle/declarative/dsl/schema/AnalysisSchema.kt
Labels: in:declarative-dsl

#32870 Upgrade Jar.getManifestContentCharset() to lazy property
  platforms/jvm/language-jvm/src/integTest/groovy/org/gradle/api/tasks/bundling/JarEncodingIntegrationTest.groovy
  platforms/jvm/platform-jvm/src/main/java/org/gradle/jvm/tasks/Jar.java
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: p:lazy-migration

#32974 Prep release notes and assets for Gradle 8.14RC1
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/HTML-Test-Report.png
Labels: a:chore

#32925 Address deprecations in DefaultPrecompiledScriptPluginsSupport
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginAccessorsTest.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/DefaultPrecompiledScriptPluginsSupport.kt
  platforms/core-configuration/kotlin-dsl-provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/precompiled/tasks/GeneratePrecompiledScriptPluginAccessors.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: in:kotlin-dsl

#32455 Upgrade CompileOptions.getCompilerArgs() to lazy property
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/CrossTaskIncrementalJavaCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/test/groovy/org/gradle/api/tasks/compile/CompileOptionsTest.groovy
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/CompileOptions.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmLanguageUtilities.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompilerIntegrationSpec.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: p:lazy-migration

#32982 Add SPDX licence identifier to Gradle wrapper manifest
  platforms/core-runtime/wrapper-main/build.gradle.kts
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
Labels: in:wrapper, from:contributor

#32674 Update Optimizing Gradle Builds section of docs - Clean up Configuration Cache page
  platforms/documentation/docs/src/docs/userguide/img/configuration-cache-1.png
  platforms/documentation/docs/src/docs/userguide/img/configuration-cache-2.png
  platforms/documentation/docs/src/docs/userguide/img/configuration-cache-3.png
  platforms/documentation/docs/src/docs/userguide/img/configuration-cache/running-help.gif
  platforms/documentation/docs/src/docs/userguide/img/intellij_idea.png
  platforms/documentation/docs/src/docs/userguide/img/taskConfigurationAvoidance-navigate-to-performance.png
  platforms/documentation/docs/src/docs/userguide/img/taskConfigurationAvoidance-performance-annotated.png
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration_cache.adoc
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:documentation

#33001 cobexer/merge release to master
  platforms/core-configuration/configuration-cache/src/crossVersionTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemsCrossVersionTest.groovy
  platforms/core-configuration/configuration-cache/src/crossVersionTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemsTapi812PlusCrossVersionTest.groovy
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkQueueIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
  released-versions.json
Labels: a:chore, @dev-productivity

#33008 Merge release into master (20250408)
  released-versions.json
Labels: @dev-productivity

#32595 Update Optimizing Gradle Builds section of docs - Clean up and update existing docs
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-1.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-2.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-3.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-4.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-5.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-6.png
  platforms/documentation/docs/src/docs/userguide/img/performance/performance-7.png
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/additional/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/performance.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/reference/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/pmd_plugin.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#33013 Fix emphasize typo
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/verification/report/HtmlDependencyVerificationReportRenderer.java
Labels: from:contributor

#32998 Gradle API: content cleanup
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/ClassFileContentsAttribute.kt
  build-logic/packaging/src/main/kotlin/gradlebuild.public-api-jar.gradle.kts
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.distribution-module.gradle.kts
  packaging/public-api/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-runtime/installation-beacon/build.gradle.kts
  platforms/extensibility/test-kit/build.gradle.kts
  platforms/ide/problems/build.gradle.kts
  platforms/jvm/java-compiler-plugin/build.gradle.kts
Labels: a:feature, in:api-evolution

#33002 Remove deprecated getDependencySpec() method
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/DependencyInsightReportTask.java
  platforms/software/software-diagnostics/src/test/groovy/org/gradle/api/tasks/diagnostics/DependencyInsightReportTaskSpec.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: a:chore, in:reporting-tasks

#33010 Enable native access for launcher in wrapper and CLI
  build-logic/jvm/src/main/kotlin/gradlebuild/startscript/tasks/GradleStartScriptGenerator.kt
  gradle/wrapper/gradle-wrapper.properties
  packaging/distributions-full/build.gradle.kts
  platforms/core-runtime/gradle-cli-main/build.gradle.kts
  platforms/core-runtime/wrapper-main/build.gradle.kts
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperGenerationIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/build-init/build.gradle.kts
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/WrapperGenerator.java
Labels: a:chore

#32996 Remove deprecated AbstractCompile.destinationDir property for Gradle 9.0
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.tasks.compile.AbstractCompile.xml
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/AbstractCompile.java
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
Labels: a:chore

#28436 Remove deprecated file permission API
  build-logic-commons/build-platform/build.gradle.kts
  gradle/verification-metadata.xml
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AbstractFileTreeElement.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/UnauthorizedFileVisitDetails.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/CopySpecResolver.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/CopySpecWrapper.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/DefaultCopySpec.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/DefaultFileCopyDetails.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/DelegatingCopySpecInternal.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/copy/NormalizingCopyActionDecorator.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/ArchivesContinuousIntegrationTest.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/core-api/src/main/java/org/gradle/api/file/CopyProcessingSpec.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileCopyDetails.java
  subprojects/core-api/src/main/java/org/gradle/api/file/FileTreeElement.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyPermissionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyTaskChildSpecIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractCopyTask.java
  subprojects/core/src/main/java/org/gradle/execution/plan/SingleFileTreeElementMatcher.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/PatternSetSnapshottingFilter.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/copy/DefaultCopySpecResolutionTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/copy/DefaultCopySpecTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/internal-api-symmetrical-accessors-nullability.txt
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
  testing/smoke-test/src/smokeTest/groovy/org/gradle/play/integtest/external/PlayExternalContinuousBuildIntegrationTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/play/integtest/fixtures/PlayCoverage.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/play/integtest/fixtures/external/AbstractMultiVersionPlayExternalContinuousBuildIntegrationTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/play/integtest/fixtures/external/PlayApp.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractPluginValidatingSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PlayPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/resources/org/gradle/play/integtest/fixtures/external/basicplayapp/build.gradle
Labels: in:file-tasks

#33039 Merge release into master (20250409)
  released-versions.json
Labels: @dev-productivity

#32834 JavaExec fix
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
Labels: in:application-plugin, a:bug

#33003 Replace warning with error when no tests are executed
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/continuous/SimpleJavaContinuousIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/BuildProgressCrossVersionSpec.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/integtests/JavaProjectIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskFailOnNoTestIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGFailOnNoTestIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGTestFrameworkIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/TestTaskSpec.groovy
  platforms/jvm/testing-jvm/src/test/groovy/org/gradle/api/tasks/testing/TestTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/testFixtures/groovy/org/gradle/testing/AbstractTestFrameworkIntegrationTest.groovy
Labels: in:testing, a:chore

#33029 Remove cache cleanup system property
  platforms/core-execution/build-cache-local/src/integTest/groovy/org/gradle/caching/local/internal/AbstractBuildCacheCleanupIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/ArtifactCacheUnusedEntryCleanupIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/caching/ArtifactCacheUnusedVersionCleanupIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCacheUnusedVersionCleanupIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformCachingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/cache/internal/GradleUserHomeCleanupServiceIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/cache/DefaultCacheConfigurations.java
  subprojects/core/src/main/java/org/gradle/cache/internal/LegacyCacheCleanupEnablement.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GradleUserHomeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/SettingsScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/cache/DefaultCacheConfigurationsTest.groovy
  subprojects/core/src/test/groovy/org/gradle/caching/local/internal/DirectoryBuildCacheEntryRetentionTest.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/cache/internal/GradleUserHomeCleanupFixture.groovy
Labels: a:chore, in:build-environment

#33004 Remove deprecated getBaseDir() method on ReportingExtension
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginIntegrationTest.groovy
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/ReportingExtension.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:reporting-tasks

#33031 Fix AttributeDisambiguationRule registration example in docs (#32958)
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/variant_attributes.adoc
Labels: in:dependency-resolution, a:documentation, from:contributor

#33053 Merge release into master (20250410)
  released-versions.json
Labels: @dev-productivity

#33038 Improve release notes link fragments
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#32966 Remove referencing task via `"name"()` in containers (in favor of `named("name")`)
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslContainerIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/TaskContainerDslIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/NamedContainersDslTest.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:kotlin-dsl

#33051 Update Spring Bom Support test
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/resolve/ResolveTestFixture.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/BomSupportPluginsSmokeTest.groovy
Labels: a:chore

#33094 Improve and simplify snippet structure
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/avoid-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/do-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/avoid-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/do-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-do.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33063 Remove internal API `BuildOperationExecutor.getCurrentOperation()`
  platforms/core-runtime/base-services/src/integTest/groovy/org/gradle/internal/operations/BuildOperationExecutorIntegrationTest.groovy
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/operations/BuildOperationExecutor.java
  subprojects/core/src/main/java/org/gradle/internal/operations/DefaultBuildOperationExecutor.java
  subprojects/core/src/testFixtures/groovy/org/gradle/internal/operations/TestBuildOperationExecutor.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore, in:build-operations

#33027 Add Best Practice: Use latest minor Versions of Gradle and Plugins
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
Labels: a:documentation, re:footguns-and-best-practices

#33091 Add keywords, clickable tags, minor formatting tweaks to existing items to make them more navigable
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
Labels: a:documentation, re:footguns-and-best-practices

#33006 Add Best Practice: Prefer Kotlin DSL
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, re:footguns-and-best-practices

#33098 Update `:kotlin-dsl-plugins` for Kotlin 2.1.20 and Kotlin Language Version 2.1
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.cache-miss-monitor.gradle.kts
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.collect-failed-tasks.gradle.kts
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild/BuildScanInfoCollectingServices.kt
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild/testcleanup/TestFilesCleanupService.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/plugins/PrecompiledKotlinPluginCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-integ-tests/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/plugins/ProjectTheExtensionCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslDefaultScriptsModelCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r60/KotlinDslGivenScriptsModelCrossVersionSpec.groovy
  platforms/core-configuration/kotlin-dsl-tooling-builders/src/crossVersionTest/groovy/org/gradle/kotlin/dsl/tooling/builders/r68/KotlinDslDefaultScriptsModelCrossVersionSpec.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/plugins/simple/kotlin/buildSrc/src/main/kotlin/MyCreateFileBinaryPlugin.kt
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/integtests/ExecIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
Labels: a:chore, in:kotlin-dsl

#33101 Merge release into master (20250412)
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/DefaultExtraPropertiesExtension.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/extensibility/ExtraPropertiesExtensionTest.groovy
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/avoid-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/do-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/avoid-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/do-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock-do.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.sample.conf
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/groovy/compile/AbstractGroovyCompilerIntegrationSpec.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileCompatibilityIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileParallelIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-jvm/src/main/java/org/gradle/api/tasks/compile/ForkOptions.java
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/ScalaCompileJavaToolchainIntegrationTest.groovy
  released-versions.json
Labels: @dev-productivity

#33103 Change distribution size check to be less picky and not depend on the version number string size
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: a:chore, in:building-gradle

#33104 Update contributors for 8.14-RC2 release notes
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:chore

#33106 Merge release into master (20250414)
  released-versions.json
Labels: @dev-productivity

#33087 Turn deprecations into errors in version catalog accessor source gene…
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/catalog/CatalogPluginsKotlinDSLIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/LibrariesSourceGenerator.java
Labels: in:kotlin-dsl

#33059 Remove deprecated BuildCacheKey.getDisplayName() method
  platforms/core-execution/build-cache-http/src/integTest/groovy/org/gradle/caching/http/internal/HttpBuildCacheServiceTest.groovy
  platforms/core-execution/build-cache-spi/src/integTest/groovy/org/gradle/caching/BuildCacheServiceExtensibilityIntegrationTest.groovy
  platforms/core-execution/build-cache-spi/src/main/java/org/gradle/caching/BuildCacheKey.java
  platforms/core-execution/build-cache/src/main/java/org/gradle/caching/internal/SimpleBuildCacheKey.java
  platforms/core-execution/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerPackOperationExecutorTest.groovy
  platforms/core-execution/build-cache/src/test/groovy/org/gradle/caching/internal/controller/DefaultBuildCacheControllerTest.groovy
  platforms/core-execution/build-cache/src/testFixtures/groovy/org/gradle/caching/internal/TestBuildCacheKey.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/caching/impl/DefaultBuildCacheKey.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/caching/impl/DefaultCachingStateFactory.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/CaptureOutputsAfterExecutionStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/StoreExecutionStateStepTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: in:build-cache

#33105 Fix `ScriptCachingIntegrationTest` wrongly failing because of debug logged stacktraces
  testing/soak/src/integTest/kotlin/org/gradle/kotlin/dsl/caching/ScriptCachingIntegrationTest.kt
Labels: a:chore, in:kotlin-dsl

#33055 Bump foojay plugin version to 0.10.0
  build-logic-commons/settings.gradle.kts
  build-logic-settings/settings.gradle.kts
  build-logic/settings.gradle.kts
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part3_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part4_settings_file.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/daemon-jvm/customized-task/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-platforms/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/java/toolchain-foojay/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/java/toolchain-foojay/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/java/toolchain-management/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/java/toolchain-management/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/simple/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/simple/kotlin/settings.gradle.kts
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SimpleGlobalFilesBuildSettingsDescriptor.java
  settings.gradle.kts
Labels: a:chore

#33115 Update Use Plugins Block - Split snippet into 2 to make them run reliably
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/tests/usePluginsBlock-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-avoid/tests/usePluginsBlock-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/tests/usePluginsBlock-do.out
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock-do/tests/usePluginsBlock-do.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/avoid-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/do-this/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/avoid-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/do-this/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/usePluginsBlock/tests/usePluginsBlock.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33116 Fix callout, link to API Javadocs
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
Labels: a:documentation, re:footguns-and-best-practices

#33120 Cleanup upgrade guide for 8.14RC2
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore

#33113 Fix broken cross version tests
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r33/BuildProgressCrossVersionSpec.groovy
Labels: in:testing, a:chore

#33125 Tweak avoid `dependsOn` item
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/snippets/bestPractices/avoidDependsOn/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidDependsOn/kotlin/build.gradle.kts
Labels: a:documentation, re:footguns-and-best-practices

#33129 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#33054 Improve content of API jar
  platforms/core-configuration/kotlin-dsl-provider-plugins/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-builders/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-tooling-models/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
Labels: a:chore

#33114 Add Best Practice: Version Catalog Naming Conventions
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/tests/versionCatalogNaming.out
  platforms/documentation/docs/src/snippets/bestPractices/versionCatalogNaming/tests/versionCatalogNaming.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33100 Add Best Practice: Use Version Catalogs
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/avoid-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/do-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/avoid-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/do-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/tests/useVersionCatalogs.out
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/tests/useVersionCatalogs.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33127 Turn maybeWarnOnChangingUsage warnings into errors
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/GradleCoreProblemGroup.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/attributes/AbstractConfigurationAttributesResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
Labels: a:chore, in:dependency-declarations

#33124 Drop Factory support from service registries
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheHost.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheHost.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-runtime/service-lookup/build.gradle.kts
  platforms/core-runtime/service-lookup/src/main/java/org/gradle/internal/service/ServiceRegistry.java
  platforms/core-runtime/service-provider/src/main/java/org/gradle/internal/service/ServiceRegistrationProvider.java
  platforms/core-runtime/service-registry-impl/build.gradle.kts
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/DefaultServiceRegistry.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceProvider.java
  platforms/core-runtime/service-registry-impl/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryConcurrencyTest.groovy
  platforms/core-runtime/service-registry-impl/src/test/groovy/org/gradle/internal/service/DefaultServiceRegistryTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApi.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/caching/ImplicitInputsCapturingInstantiator.java
Labels: in:internal-services

#33123 Remove configuration usage deprecation
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultArtifactHandler.java
Labels: a:chore, in:dependency-declarations

#33150 Merge release into master (20250416)
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/avoid-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/do-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/avoid-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/do-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/tests/useVersionCatalogs.out
  platforms/documentation/docs/src/snippets/bestPractices/useVersionCatalogs/tests/useVersionCatalogs.sample.conf
  released-versions.json
Labels: @dev-productivity

#33058 Remove ConfigurationDeprecatedExtensions
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/ConfigurationDeprecatedExtensions.kt
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/KotlinPropertyAssignmentIntegTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: in:kotlin-dsl

#33155 Cleanup upgrade guide and release notes for Gradle 9.0RC1
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
Labels: a:chore

#33137 Replace unlocked configuration creation methods with locked versions
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdPlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/internal/AbstractCodeQualityPlugin.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/java-platform/src/main/java/org/gradle/api/plugins/JavaPlatformPlugin.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmFeature.java
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  platforms/jvm/scala/src/main/java/org/gradle/api/plugins/scala/ScalaBasePlugin.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/native/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppBinary.java
  platforms/native/language-native/src/main/java/org/gradle/language/cpp/internal/DefaultCppLibrary.java
  platforms/native/language-native/src/main/java/org/gradle/language/internal/DefaultComponentDependencies.java
  platforms/native/language-native/src/main/java/org/gradle/language/internal/DefaultLibraryDependencies.java
  platforms/native/language-native/src/main/java/org/gradle/language/plugins/NativeBasePlugin.java
  platforms/native/language-native/src/main/java/org/gradle/language/swift/internal/DefaultSwiftBinary.java
  platforms/native/language-native/src/main/java/org/gradle/language/swift/plugins/SwiftLibraryPlugin.java
  platforms/native/language-native/src/test/groovy/org/gradle/language/internal/DefaultComponentDependenciesTest.groovy
  platforms/native/language-native/src/test/groovy/org/gradle/language/internal/DefaultLibraryDependenciesTest.groovy
  platforms/native/language-native/src/test/groovy/org/gradle/language/swift/internal/DefaultSwiftBinaryTest.groovy
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRolesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/platform-base/src/main/java/org/gradle/api/plugins/BasePlugin.java
  platforms/software/plugins-version-catalog/src/main/java/org/gradle/api/plugins/catalog/VersionCatalogPlugin.java
  platforms/software/signing/src/main/java/org/gradle/plugins/signing/SigningExtension.java
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/dependencies/HtmlDependencyReportTaskIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/DependencyReportTaskIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/DefaultNamedDomainObjectCollection.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/RoleBasedConfigurationContainerInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/DefaultScriptHandler.java
  subprojects/core/src/main/java/org/gradle/initialization/buildsrc/BuildSrcBuildListenerFactory.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/initialization/DefaultScriptHandlerTest.groovy
  testing/architecture-test/src/changes/archunit-store/configuration-factory-methods.txt
  testing/architecture-test/src/changes/archunit-store/stored.rules
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ConfigurationCreationTest.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/ConfigurationUsageChangingFixture.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PalantirConsistentVersionsPluginSmokeTest.groovy
Labels: a:chore, in:dependency-declarations

#33163 Merge release into master (20250417)
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterAssumptionFailureIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/DefaultArtifactHandler.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/TestMethodResult.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/ClassPageRenderer.java
  released-versions.json
  testing/internal-testing/src/main/groovy/org/gradle/integtests/fixtures/HtmlTestExecutionResult.groovy
Labels: @dev-productivity

#33162 Fix typo in Authoring Gradle Builds
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tutorial/part5_build_scripts.adoc
Labels: a:documentation, in:writing-tasks, from:contributor

#33122 Introduce public org.gradle.process.ProcessExecutionException
  platforms/core-execution/workers/src/test/groovy/org/gradle/workers/internal/WorkerDaemonClientsManagerTest.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmMetadataDetector.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetector.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/DefaultOsXJavaHomeCommand.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/internal/jvm/inspection/DefaultJvmVersionDetectorTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultOsXJavaHomeCommandTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/internal/JavadocGenerator.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/toolchain/internal/DefaultCommandLineToolInvocationWorker.java
  platforms/native/platform-native/src/test/groovy/org/gradle/nativeplatform/toolchain/internal/DefaultCommandLineToolInvocationWorkerTest.groovy
  platforms/native/testing-native/src/main/java/org/gradle/nativeplatform/test/xctest/internal/execution/XCTestExecuter.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessorTest.groovy
  subprojects/core-api/src/main/java/org/gradle/process/ExecResult.java
  subprojects/core-api/src/main/java/org/gradle/process/ProcessExecutionException.java
  subprojects/core-api/src/main/java/org/gradle/process/internal/ExecException.java
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/MultiRequestWorkerProcessIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/PathLimitationIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/WorkerProcessIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandle.java
  subprojects/core/src/main/java/org/gradle/process/internal/ExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/worker/DefaultWorkerProcess.java
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecActionFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/DefaultExecHandleSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/process/internal/worker/DefaultWorkerProcessSpec.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-not-extends-internal-types.txt
Labels: a:bug, in:exec-tasks

#33174 Update wrapper to 8.14 RC2
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore

#33149 Avoid exposing Lazy as service type
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DaemonClientServicesSupport.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
Labels: in:internal-services

#33178 Merge release into master (20250418)
  gradle/wrapper/gradle-wrapper.properties
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docsTest/java/org/gradle/docs/samples/BaseSamplesTest.java
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/tests/settingsRepositoriesDo.out
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDo/tests/settingsRepositoriesDo.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/tests/settingsRepositoriesDont.out
  platforms/documentation/docs/src/snippets/bestPractices/settingsRepositoriesDont/tests/settingsRepositoriesDont.sample.conf
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/RepositoryMirrorOutputNormalizer.groovy
Labels: @dev-productivity

#33165 Remove deprecated StartParameterInternal.isConfigurationCache
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
Labels: a:chore

#33188 Update warnAboutNeedToMutateUsage from deprecation to failure
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/building_java_projects.adoc
  platforms/documentation/docs/src/snippets/java/sourceSets-badConfNames/tests/badConfNames.out
  platforms/documentation/docs/src/snippets/java/sourceSets-badConfNames/tests/badConfNames.sample.conf
  platforms/documentation/docs/src/snippets/java/sourceSets-badConfNames/tests/sanityCheck.sample.conf
  platforms/jvm/plugins-java-base/build.gradle.kts
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/artifacts/configurations/AbstractRoleBasedConfigurationCreationRequest.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/artifacts/configurations/NoContextRoleBasedConfigurationCreationRequest.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/RoleBasedConfigurationCreationRequest.java
  subprojects/core/src/test/groovy/org/gradle/util/internal/NameValidatorTest.groovy
Labels: a:chore, in:dependency-declarations

#33112 Update wrapper to 9.0-milestone-2 for Kotlin 2.1
  build-logic-commons/basics/build.gradle.kts
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic/binary-compatibility/build.gradle.kts
  build-logic/binary-compatibility/src/main/groovy/gradlebuild/binarycompatibility/JapicmpTask.java
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/metadata/HasKotlinFlagsMetadataQuery.kt
  build-logic/binary-compatibility/src/main/kotlin/gradlebuild/binarycompatibility/sources/SourcesRepository.kt
  build-logic/buildquality/build.gradle.kts
  build-logic/buildquality/src/main/kotlin/gradlebuild/incubation/tasks/IncubatingApiReportTask.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build-logic/packaging/src/main/kotlin/gradlebuild.distributions.gradle.kts
  build-logic/packaging/src/main/kotlin/gradlebuild/instrumentation/transforms/InstrumentationMetadataTransform.kt
  gradle/wrapper/gradle-wrapper.properties
  platforms/documentation/docs/build.gradle.kts
Labels: a:chore, in:kotlin-dsl

#33183 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithPluginValidation.groovy
  testing/smoke-test/src/smokeTest/resources/org/gradle/smoketests/validate-external-gradle-plugin.gradle.kts
Labels: a:chore, in:smoke-test

#33096 Add Best Practice: Don't Explicitly Depend on Kotlin StdLib
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/tests/kotlinStdLib-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/tests/kotlinStdLib-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33196 Update warnAboutNeedToMutateUsage from deprecation to failure
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
Labels: a:chore, in:dependency-declarations

#33181 Add indy and condy support to class dependencies analyzer
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseJavaClassChangeIncrementalCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/GroovyClassChangeIncrementalCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/asm/BootstrapMethod.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/asm/ClassDependenciesVisitor.java
Labels: a:bug, in:java-plugins

#33191 Turn deprecated add methods on configurations container into failures
  platforms/jvm/plugins-jvm-test-suite/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
Labels: a:chore, in:dependency-declarations

#33217 Merge release into master (20250422)
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/groovy/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/kotlin/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-avoid/tests/kotlinStdLib-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/groovy/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/kotlin/src/main/kotlin/org/example/Sample.kt
  platforms/documentation/docs/src/snippets/bestPractices/kotlinStdLib-do/tests/kotlinStdLib-do.sample.conf
  released-versions.json
Labels: @dev-productivity

#33207 Turn validateNameIsAllowed to failure from warning
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/DetachedConfigurationsIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: a:chore, in:dependency-declarations

#33097 Fix CC serialization issues caused by AccessTracking classes
  .teamcity/subprojects.json
  platforms/core-configuration/input-tracking/build.gradle.kts
  platforms/core-configuration/input-tracking/src/integTest/groovy/org/gradle/internal/configuration/inputs/InputTrackingIntegrationTest.groovy
  platforms/core-configuration/input-tracking/src/main/java/org/gradle/internal/configuration/inputs/AccessTrackingEnvMap.java
  platforms/core-configuration/input-tracking/src/main/java/org/gradle/internal/configuration/inputs/AccessTrackingProperties.java
  platforms/core-configuration/input-tracking/src/main/java/org/gradle/internal/configuration/inputs/AccessTrackingSet.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/jvm/JpmsConfiguration.java
Labels: a:bug, in:configuration-cache

#33230 Retain exception until Gradle 10 and note why
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/AmbiguousVariantSelectionException.java
Labels: a:chore, in:dependency-resolution

#33229 Revert "Properly wire task dependencies to Antlr sourceset (#32625)"
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/AntlrPluginIntegrationTest.groovy
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/AntlrPluginTest.groovy
Labels: a:bug, in:antlr-plugin

#33189 Upgrade embedded Kotlin to 2.1.21-RC
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
Labels: a:chore, in:kotlin-dsl

#33233 Delete deprecated class for Gradle 9.0
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/transform/VariantTransformConfigurationException.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/transform/VariantTransformConfigurationException.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:dependency-resolution

#33210 Change deprecation on transformation chain ambiguity to failure
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformEdgeCasesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ArtifactTransformWithDependenciesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/DisambiguateArtifactTransformIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformationChainsDisambiguator.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/describer/AmbiguousArtifactTransformsFailureDescriber.java
Labels: a:chore, in:artifact-transforms

#33232 Remove SimpleReport.setDestination() property for Gradle 9.0
  platforms/software/reporting/build.gradle.kts
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/ConfigurableReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SimpleReport.java
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/DefaultSingleFileReportTest.groovy
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/SingleDirectoryReportTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:reporting-tasks

#33219 Fix type set used for indy and condy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/java/compile/incremental/BaseJavaClassChangeIncrementalCompilationIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/incremental/asm/ClassDependenciesVisitor.java
Labels: a:bug, in:java-plugins

#33223 April Documentation Cleanup
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/variant_attributes.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/resolution_rules.adoc
  platforms/documentation/docs/src/docs/userguide/img/prop-prov-1.png
  platforms/documentation/docs/src/docs/userguide/redirects/dependency_management.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/continuous_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/file_system_watching.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_file_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/dependency_management_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part2_gradle_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part4_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part7_gradle_refs.adoc
  platforms/documentation/docs/src/snippets/bestPractices/avoidInternal/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/consumer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/src/v1/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/src/v2/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/src/v1/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/src/v2/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/tests/build.sample.conf
  platforms/documentation/docs/src/snippets/providers/property/kotlin/build.gradle.kts
Labels: a:documentation

#33244 Merge release into master (20250423)
  released-versions.json
Labels: @dev-productivity

#33245 Remove deprecated JavaExecHandleBuilder.setIgnoreExitValue()
  subprojects/core/src/main/java/org/gradle/process/internal/JavaExecHandleBuilder.java
Labels: a:chore, in:exec-tasks

#33241 Fix JDK warnings check in deprecation assertion
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ResultAssertion.java
Labels: a:bug, in:building-gradle

#33239 Postpone removal of deprecated TestKit features to Gradle 10
  platforms/extensibility/test-kit/src/main/java/org/gradle/testkit/runner/internal/ToolingApiGradleExecutor.java
  platforms/extensibility/test-kit/src/main/java/org/gradle/testkit/runner/internal/feature/BuildResultOutputFeatureCheck.java
Labels: in:test-kit

#33266 Remove unnecessary calls to inhibit deprecations
  platforms/jvm/language-java/build.gradle.kts
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AbstractJavaCompileSpecFactory.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/JavaCompileExecutableUtils.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/MinimalJavaCompilerDaemonForkOptions.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/compile/JavaCompile.java
Labels: a:chore, in:java-plugins

#32953 Use SLF4J v2
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/slf4j/StaticLoggerProvider.java
  platforms/core-runtime/logging/src/main/java/org/slf4j/impl/StaticLoggerBinder.java
  platforms/core-runtime/logging/src/main/java/org/slf4j/impl/StaticMDCBinder.java
  platforms/core-runtime/logging/src/main/resources/META-INF/services/org.slf4j.spi.SLF4JServiceProvider
  platforms/ide/tooling-api/buildship.gradle
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiResolveIntegrationTest.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/TestProjectGeneratorConfiguration.groovy
  testing/performance/src/templates/config-inject/build.gradle
  testing/performance/src/templates/kts-project-with-source/build.gradle.kts
  testing/performance/src/templates/project-with-source/build.gradle
Labels: in:logging, from:contributor

#33272 Merge release into master (20250425)
  released-versions.json
Labels: @dev-productivity

#33276 cobexer/merge release to master
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/variant_attributes.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/dependency-management/resolution_rules.adoc
  platforms/documentation/docs/src/docs/userguide/img/prop-prov-1.png
  platforms/documentation/docs/src/docs/userguide/redirects/dependency_management.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/continuous_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/file_system_watching.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_file_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/dependency_management_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part2_gradle_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part3_gradle_dep_man.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part4_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part7_gradle_refs.adoc
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/groovy/avoid-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/groovy/do-this/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/kotlin/avoid-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/kotlin/do-this/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/tests/avoidDuplicateDependencies.avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/tests/avoidDuplicateDependencies.do.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidDuplicateDependencies/tests/avoidDuplicateDependencies.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/avoidInternal/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/consumer/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/src/v1/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/lib/src/v2/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/src/v1/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/lib/src/v2/test.file
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-disambiguationRule/tests/build.sample.conf
  platforms/documentation/docs/src/snippets/providers/property/kotlin/build.gradle.kts
Labels: a:chore, @dev-productivity

#33246 Remove deprecated `ConfigureUtil` and `ClosureBackedAction`
  platforms/core-configuration/model-core/src/main/java/org/gradle/util/ClosureBackedAction.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/util/ConfigureUtil.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_7.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-methods-return-allowed-types.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
Labels: in:core-utilities

#33283 Link to each best practice category directly
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, re:footguns-and-best-practices

#33284 Update compatibility.adoc for Java 24
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: in:jvm-ecosystem, in:toolchains, a:documentation, from:contributor

#33292 Update compatibility.adoc for Java 24
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: in:jvm-ecosystem, a:documentation, from:contributor
