Repository gradle/gradle, pull requests merged in 2025-03, with the labels that each got.

#32585 Annotate BuildTree-scope services (re-revert)
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/InstrumentedExecutionAccessListenerRegistry.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/ConfigurationCacheBuildTreeModelSideEffectExecutor.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/DeferredRootBuildGradle.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemFactory.kt
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/impl/GradleEnterprisePluginServiceRefInternal.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/InternalProblems.java
  platforms/ide/problems-api/src/main/java/org/gradle/api/problems/internal/ProblemReportCreator.java
  platforms/ide/problems-api/src/main/java/org/gradle/problems/buildtree/ProblemStream.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/ToolingBuilderServices.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildTreeScopeServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/capability/CapabilitySelectorSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/modulecache/ModuleRepositoryCacheProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/BuildTreeLocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentCache.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/ProjectPublicationRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/AdhocHandlingComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/CompleteComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ThisBuildTreeOnlyComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/store/ResolutionResultsStoreFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/composite/CompositeBuildContext.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/AggregateTestEventReporter.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VcsMappingFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/VersionControlSpecFactory.java
  platforms/software/version-control/src/main/java/org/gradle/vcs/internal/resolver/VcsVersionSelectionCache.java
  subprojects/composite-builds/src/main/java/org/gradle/composite/internal/CompositeBuildServices.java
  subprojects/core-api/src/main/java/org/gradle/internal/model/BuildTreeObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/BuildType.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/HoldsProjectState.java
  subprojects/core/src/main/java/org/gradle/initialization/exception/ExceptionCollector.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionModelRequirements.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildActionRunner.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeState.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeWorkGraphPreparer.java
  subprojects/core/src/main/java/org/gradle/internal/problems/DefaultProblemLocationAnalyzer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionServices.java
  subprojects/core/src/main/java/org/gradle/util/internal/SimpleMapInterner.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#32587 Allow publishing with empty classifier
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publication/DefaultIvyPublication.java
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/internal/publisher/NormalizedIvyArtifact.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/internal/publisher/NormalizedMavenArtifact.java
Labels: p:lazy-migration

#32571 Fixed mixed up JavaDoc
  subprojects/core-api/src/main/java/org/gradle/api/attributes/VerificationType.java
Labels: in:jacoco-plugin, a:documentation, from:contributor

#32593 Fix documentation link in Artifact Transform report
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ArtifactTransformsReportTaskIntegrationTest.groovy
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/tasks/diagnostics/internal/artifact/transforms/renderer/ConsoleArtifactTransformReportRenderer.java
Labels: a:chore, in:artifact-transforms, re:comprehensibility

#32604 Revert "Migrate Reports to provider API"
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/codenarc/CodeNarcPluginIntegrationTest.groovy
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CheckstylePlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/CodeNarcPlugin.java
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdPlugin.java
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CheckstyleTest.groovy
  platforms/jvm/code-quality/src/test/groovy/org/gradle/api/plugins/quality/CodeNarcPluginTest.groovy
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoPlugin.java
  platforms/jvm/plugins-groovy/src/main/java/org/gradle/api/plugins/GroovyBasePlugin.java
  platforms/software/reporting/src/integTest/groovy/org/gradle/api/reporting/internal/ReportContainerIntegTest.groovy
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/DirectoryReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/GenerateBuildDashboard.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/Report.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/ReportAdapters.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/SingleFileReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/BuildDashboardGenerator.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/DefaultReportContainer.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SimpleReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SingleDirectoryReport.java
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/BuildDashboardGeneratorSpec.groovy
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/DefaultReportContainerTest.groovy
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/DefaultSingleFileReportTest.groovy
  platforms/software/reporting/src/test/groovy/org/gradle/api/reporting/internal/SingleDirectoryReportTest.groovy
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/reporting/dependencies/HtmlDependencyReportTask.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SpotBugsPluginSmokeTest.groovy
Labels: p:lazy-migration

#32600 Do not emit deprecation warning when tests are discovered but not executed
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskFailOnNoTestIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGTestFrameworkIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/TestCountLogger.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/TestCountLoggerTest.groovy
Labels: in:testing, a:bug, in:testing-junit5, in:testing-junit4, in:testing-testng

#32574 Fix documentation of Nested
  subprojects/core-api/src/main/java/org/gradle/api/tasks/Nested.java
Labels: a:documentation, from:contributor

#32277 Always coerce non-String attributes upon get() to handle classloader problems with included builds
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedArray.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/IsolatedList.java
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/IsolatedArrayTest.groovy
  platforms/core-configuration/model-core/src/test/groovy/org/gradle/internal/snapshot/impl/IsolatedListTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolveConfigurationResolutionBuildOperationResult.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/FreezableAttributeContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/attributes/AttributeContainer.java
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/attributes/AttributeCoercionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AbstractAttributeContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributeMergingException.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributeValue.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/AttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultAttributesFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributesContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultMutableAttributeContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/HierarchicalMutableAttributeContainer.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/ImmutableAttributes.java
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/UsageCompatibilityHandler.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/BaseAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultAttributesFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultImmutableAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/DefaultMutableAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/FreezableAttributeContainerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/attributes/HierarchicalMutableAttributeContainerTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidSantaTrackerSmokeTest.groovy
Labels: a:bug, in:dependency-declarations, re:comprehensibility

#32625 Properly wire task dependencies to Antlr sourceset
  platforms/software/antlr/src/integTest/groovy/org/gradle/api/plugins/antlr/AntlrPluginIntegrationTest.groovy
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/AntlrPluginTest.groovy
Labels: a:feature, in:antlr-plugin

#32575 Provide task-output dependency info in AntlrPlugin
  platforms/software/antlr/src/main/java/org/gradle/api/plugins/antlr/AntlrPlugin.java
  platforms/software/antlr/src/test/groovy/org/gradle/api/plugins/antlr/AntlrPluginTest.groovy
Labels: in:antlr-plugin, from:contributor

#32628 Upgrade tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/jvm/plugins-jvm-test-fixtures/src/integTest/groovy/org/gradle/java/fixtures/KotlinTestFixturesIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
Labels: a:chore, in:building-gradle

#32633 Annotate Project-scope dependency management services
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ArtifactPublicationServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/BaseRepositoryFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ComponentMetadataProcessorFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ComponentModuleMetadataHandlerInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ComponentSelectorConverter.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ConfigurationResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/GlobalDependencyResolutionRules.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/RepositoriesSupplier.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ResolveExceptionMapper.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/VariantTransformRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationContainerInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ResolutionStrategyFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/ComponentMetadataHandlerInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/PublishArtifactNotationParserFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DependencyLockingProvider.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ResolutionExecutor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/moduleconverter/DefaultRootComponentMetadataBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/projectmodule/LocalComponentRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/DependencyGraphResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/graph/builder/DependencyGraphBuilder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/query/ArtifactResolutionQueryFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultUrlArtifactRepository.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ConsumerProvidedVariantFinder.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/MutableTransformWorkspaceServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformInvocationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformRegistrationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformedVariantFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/type/ArtifactTypeRegistry.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/attributes/AttributesSchemaInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/model/GraphVariantSelector.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/ResolutionFailureHandler.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/component/resolution/failure/transform/TransformedVariantConverter.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/ComponentMetadataHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyConstraintHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/DependencyLockingHandler.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/RepositoryHandler.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#32638 Fix task definitions in implementing_custom_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/implementing_custom_tasks.adoc
Labels: a:documentation

#32627 Move projects into packaging
  .github/CODEOWNERS
  .teamcity/src/main/kotlin/configurations/BuildDistributions.kt
  .teamcity/subprojects.json
  CONTRIBUTING.md
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/SubprojectsInfo.kt
  build-logic/packaging/src/main/kotlin/gradlebuild/packaging/GradleDistributionSpecs.kt
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/tasks/BuildCommitDistribution.kt
  packaging/core-platform/build.gradle.kts
  packaging/distributions-dependencies/build.gradle.kts
  packaging/distributions-full/build.gradle.kts
  packaging/distributions-full/src/toplevel/NOTICE
  packaging/distributions-full/src/toplevel/README
  packaging/distributions-full/src/toplevel/init.d/readme.txt
  packaging/internal-build-reports/build.gradle.kts
  packaging/public-api/build.gradle.kts
  settings.gradle.kts
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/SrcDistributionIntegrationSpec.groovy
Labels: a:chore, re:platformization

#32644 Prepare master for next version
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  released-versions.json
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  version.txt
Labels: @dev-productivity

#32648 Publish 8.14-20250310135852+0000
  released-versions.json
Labels: @dev-productivity

#32646 Annotate remaining Project-scoped services
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/TaskFileVarFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/registry/ModelRegistry.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/IsolatedClassloaderWorkerFactory.java
  platforms/core-execution/workers/src/main/java/org/gradle/workers/internal/WorkerDaemonFactory.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/typeconversion/TypeConverter.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/progress/ProgressLoggingInputStreamListener.java
  platforms/core-runtime/service-registry-impl/src/main/java/org/gradle/internal/service/ServiceScopeValidatorWorkarounds.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/test/impl/TestTaskPropertiesServices.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/snapshot/SnapshottingService.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/snapshot/impl/SnapshottingServices.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/IdeArtifactRegistry.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/IdeServices.java
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/GroovyCompilerFactory.java
  platforms/native/platform-native/src/main/java/org/gradle/nativeplatform/internal/CompilerOutputFileNamingSchemeFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/component/SoftwareComponentContainer.java
  subprojects/core-api/src/main/java/org/gradle/api/internal/attributes/AttributeDescriberRegistry.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/DependencyResolutionServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/ProjectFinder.java
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/ScriptHandlerInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/plugins/PluginManagerInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DeferredProjectConfiguration.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectInternal.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/taskfactory/TaskInstantiator.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskContainerInternal.java
  subprojects/core/src/main/java/org/gradle/configuration/ConfigurationTargetIdentifier.java
  subprojects/core/src/main/java/org/gradle/configuration/project/ProjectConfigurationActionContainer.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/main/java/org/gradle/normalization/internal/InputNormalizationHandlerInternal.java
  subprojects/core/src/main/java/org/gradle/normalization/internal/RuntimeClasspathNormalizationInternal.java
  subprojects/core/src/main/java/org/gradle/plugin/software/internal/ModelDefaultsApplicator.java
  testing/architecture-test/src/changes/archunit-store/injected-services-should-have-service-scope-applied.txt
Labels: in:internal-services

#32382 Update workers and clients to java 8
  build-logic/jvm/build.gradle.kts
  build-logic/jvm/src/main/kotlin/gradlebuild.api-parameter-names-index.gradle.kts
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  build-logic/jvm/src/main/kotlin/gradlebuild/jvm/extension/UnitTestAndCompileExtension.kt
  build-logic/jvm/src/main/kotlin/gradlebuild/kotlin/tasks/ParameterNamesIndex.kt
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiExtensionGeneratorFacade.kt
  build-logic/kotlin-dsl-shared-runtime/src/main/kotlin/org/gradle/kotlin/dsl/internal/sharedruntime/codegen/ApiTypeProvider.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/GradleApiMetadata.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/codegen/KotlinExtensionsForGradleApiFacade.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild/kotlindsl/generator/tasks/GenerateKotlinExtensionsForGradleApi.kt
  platforms/core-configuration/file-operations/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  platforms/core-execution/build-cache-packaging/build.gradle.kts
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorJdkVersionsIntegrationTest.groovy
  platforms/core-runtime/base-services/build.gradle.kts
  platforms/core-runtime/base-services/src/main/java/org/gradle/api/specs/CompositeSpec.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/api/specs/OrSpec.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/Actions.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/BiActions.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/ImmutableActionSet.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/graph/CachingDirectedGraphWalker.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/GUtil.java
  platforms/core-runtime/build-option/src/main/java/org/gradle/internal/buildoption/AbstractBuildOption.java
  platforms/core-runtime/classloaders/build.gradle.kts
  platforms/core-runtime/cli/build.gradle.kts
  platforms/core-runtime/gradle-cli-main/build.gradle.kts
  platforms/core-runtime/instrumentation-agent/build.gradle.kts
  platforms/core-runtime/logging/src/main/java/org/gradle/util/GUtil.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/event/BroadcastDispatch.java
  platforms/core-runtime/process-memory-services/src/main/java/org/gradle/process/internal/health/memory/MemoryManager.java
  platforms/core-runtime/serialization/build.gradle.kts
  platforms/core-runtime/serialization/src/test/groovy/org/gradle/internal/serialize/JavaClassUtilTest.groovy
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/util/internal/CollectionUtils.java
  platforms/core-runtime/wrapper-main/build.gradle.kts
  platforms/core-runtime/wrapper-shared/build.gradle.kts
  platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/internal/file/PathTraversalChecker.java
  platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/internal/file/locking/ExclusiveFileAccessManager.java
  platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/util/internal/WrapperDistributionUrlConverter.java
  platforms/core-runtime/wrapper-shared/src/test/groovy/org/gradle/internal/file/PathTraversalCheckerTest.groovy
  platforms/core-runtime/wrapper-shared/src/test/groovy/org/gradle/internal/file/locking/ExclusiveFileAccessManagerTest.groovy
  platforms/documentation/docs/src/snippets/java/crossCompilation/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java/crossCompilation/groovy/src/test/java/org/gradle/PersonTest.java
  platforms/documentation/docs/src/snippets/java/crossCompilation/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/java/crossCompilation/kotlin/src/test/java/org/gradle/PersonTest.java
  platforms/documentation/docs/src/snippets/java/crossCompilation/tests/java6CrossCompilation.sample.conf
  platforms/documentation/docs/src/snippets/java/crossCompilation/tests/java7CrossCompilation.out
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClientJdkCompatibilityTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/CrossCompilationIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/JavaCrossCompilationIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformOnJdk7IntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  platforms/software/dependency-management/build.gradle.kts
  subprojects/core/build.gradle.kts
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
  testing/internal-integ-testing/build.gradle.kts
Labels: a:feature, in:tooling-api, in:workers, has:release-notes-decision

#32655 Use only ProjectLayout interface for injection
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultProjectLayoutTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
Labels: in:internal-services

#32635 March Documentation Cleanup
  contributing/JavadocStyleGuide.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/how-to/how_to_convert_single_build_to_multi_build.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/img/intellij_idea.png
  platforms/documentation/docs/src/docs/userguide/integration/test_reporting_api.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/src/main/groovy/java-commons-convention.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/src/main/kotlin/java-commons-convention.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/tests/resolve.sample.conf
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-simple/kotlin/gradle/test-libs.versions.toml
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/library/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/library/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/library/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/library/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/src/main/java/com/example/CustomTest.java
Labels: a:documentation

#23621 Mark return value of RelativePath#getParent() as nullable
  subprojects/core-api/src/main/java/org/gradle/api/file/RelativePath.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: in:file-tasks, from:contributor

#32673 Publish 8.14-20250312012312+0000
  contributing/JavadocStyleGuide.md
  platforms/core-configuration/file-operations/src/main/java/org/gradle/api/internal/file/DefaultProjectLayout.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/TextUtil.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/util/internal/TextUtilTest.groovy
  platforms/documentation/docs/src/docs/userguide/authoring-builds/how-to/how_to_convert_single_build_to_multi_build.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/img/intellij_idea.png
  platforms/documentation/docs/src/docs/userguide/integration/test_reporting_api.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/buildSrc/src/main/groovy/java-commons-convention.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/buildSrc/src/main/kotlin/java-commons-convention.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-buildSrc/tests/resolve.sample.conf
  platforms/documentation/docs/src/snippets/dependencyManagement/catalogs-toml-simple/kotlin/gradle/test-libs.versions.toml
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/library/build.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/library/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/app/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/library/build.gradle.kts
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/library/src/main/java/org/example/App.java
  platforms/documentation/docs/src/snippets/how-to/single-multi-build/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/tasks/customTest/groovy/src/main/java/com/example/CustomTest.java
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/DistributionBasePlugin.java
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/file/DefaultProjectLayoutTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
Labels: @dev-productivity

#32676 Ignore `null` as an argument in `ConfigurableFileCollection` mutation…
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ConfigurableFileCollection.java
Labels: a:bug, in:provider-api

#32568 Add support for MapProperty indexed access/assignment in Kotlin
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/PropertyExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/CollectionPropertyExtensionsTest.kt
  testing/architecture-test/src/changes/accepted-changes/propertyExtension-accepted-public-api-changes.json
Labels: a:feature, in:provider-api, p:lazy-migration

#32698 Enhance Checkstyle Plugin Documentation with Java Toolchains Guidance
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/checkstyle_plugin.adoc
Labels: in:checkstyle-plugin, a:documentation, from:contributor

#32704 Publish 8.14-20250314014003+0000
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/FileCollectionIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/DefaultConfigurableFileCollection.java
  released-versions.json
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeature.java
  subprojects/core-api/src/main/java/org/gradle/api/configuration/BuildFeatures.java
  subprojects/core-api/src/main/java/org/gradle/api/file/ConfigurableFileCollection.java
Labels: @dev-productivity

#32686 Handle a corner case when processing defaults block in settings
  platforms/core-configuration/declarative-dsl-evaluator/src/main/kotlin/org/gradle/internal/declarativedsl/evaluator/defaults/ModelDefaultsResolutionProcessor.kt
Labels: in:declarative-dsl

#32719 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:chore, in:building-gradle

#32714 Nag about HasConvention.getConvention() deprecation
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/isolated/IsolatedProjectsAccessFromGroovyDslIntegrationTest.groovy
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginCrossVersionSmokeTest.kt
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/plugins/DslObject.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/extensibility/ExtensibleDynamicObject.java
  subprojects/core/src/integTest/groovy/org/gradle/api/DynamicObjectIntegrationTest.groovy
Labels: a:chore, in:configuration-model

#32720 Set lowest supported KGP and AGP versions to ones not using conventions for Gradle 9.0
  build-logic/build-update-utils/src/main/kotlin/gradlebuild.update-versions.gradle.kts
  gradle/dependency-management/agp-versions.properties
  gradle/dependency-management/kotlin-versions.properties
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaToolchainBuildOperationsIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/RunnerFactory.groovy
  testing/smoke-test/src/smokeTest/resources/org/gradle/smoketests/kotlin-js-sample/build.gradle.kts
  testing/smoke-test/src/smokeTest/resources/org/gradle/smoketests/kotlin-js-sample/settings.gradle.kts
  testing/smoke-test/src/smokeTest/resources/org/gradle/smoketests/kotlin-js-sample/src/main/kotlin/samples/HelloWorld.kt
Labels: a:chore, in:building-gradle, in:smoke-test

#32687 [Documentation] Aligned "BOMs" deep-link to point directly to the Maven BOM section
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/platforms.adoc
Labels: a:documentation, from:contributor

#32707 Remove `WarPluginConvention`
  platforms/documentation/docs/src/docs/dsl/plugins.xml
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/war_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_4.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/ide-plugins/src/test/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpPluginTest.groovy
  platforms/jvm/war/src/integTest/groovy/org/gradle/api/tasks/bundling/WarTaskIntegrationTest.groovy
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPluginConvention.java
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/internal/DefaultWarPluginConvention.java
  platforms/jvm/war/src/test/groovy/org/gradle/api/plugins/WarPluginTest.groovy
  subprojects/core/src/main/resources/org/gradle/initialization/converted-types.txt
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/architecture-test/src/changes/archunit-store/public-api-mutable-properties.txt
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/GrettySmokeTest.groovy
Labels: a:chore, in:war-plugin

#32736 Use plain `ObjectFactory` instead of `BuildTreeObjectFactory`
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core-api/src/main/java/org/gradle/internal/model/BuildTreeObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/model/DefaultObjectFactory.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
Labels: in:internal-services

#32742 Remove implicit aseembly of all artifacts
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/ide-plugins/src/integTest/groovy/org/gradle/plugins/ide/eclipse/EclipseWtpEarAndWebAndEjbProjectIntegrationTest.groovy
  platforms/jvm/ear/src/integTest/groovy/org/gradle/integtests/MixedWarAndEjbProjectIntegrationTest.groovy
  platforms/jvm/ear/src/integTest/groovy/org/gradle/plugins/ear/EarPluginIntegrationTest.groovy
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/jvm/ear/src/test/groovy/org/gradle/plugins/ear/EarPluginTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/api/plugins/JavaPluginIntegrationTest.groovy
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/jvm/war/src/integTest/groovy/org/gradle/api/plugins/WarPluginIntegrationTest.groovy
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/jvm/war/src/test/groovy/org/gradle/api/plugins/WarPluginTest.groovy
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/internal/plugins/DefaultArtifactPublicationSetTest.groovy
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
  platforms/software/platform-base/src/main/java/org/gradle/api/internal/plugins/DefaultArtifactPublicationSet.java
  platforms/software/platform-base/src/main/java/org/gradle/api/plugins/BasePlugin.java
  platforms/software/platform-base/src/test/groovy/org/gradle/api/plugins/BasePluginTest.groovy
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/DistributionBasePlugin.java
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningConfigurationsIntegrationSpec.groovy
Labels: a:chore, in:war-plugin, in:ear-plugin, in:java-plugins

#32755 Update Java 24 to 24+36 as that will become the GA build soon
  .teamcity/jdks.yaml
Labels: a:chore, in:building-gradle

#32760 Publish 8.14-20250319013746+0000
  .teamcity/jdks.yaml
  platforms/core-execution/daemon-server-worker/src/main/java/org/gradle/workers/internal/WorkerProcessIsolationProblemsServiceProvider.java
  platforms/core-execution/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultExecutionEngine.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultWorkValidationContext.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  platforms/core-execution/execution/src/testFixtures/groovy/org/gradle/internal/execution/TestExecutionEngineFactory.java
  platforms/extensibility/unit-test-fixtures/src/test/groovy/org/gradle/testfixtures/ProjectBuilderTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskDoesntFailWith21DueToValidationProblems.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DependencyManagementBuildScopeServices.java
  released-versions.json
  subprojects/composite-builds/src/test/groovy/org/gradle/composite/internal/DefaultIncludedBuildTaskGraphParallelTest.groovy
  subprojects/core-api/src/main/java/org/gradle/api/model/ObjectFactory.java
  subprojects/core-api/src/main/java/org/gradle/internal/model/BuildTreeObjectFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/model/DefaultObjectFactory.java
  subprojects/core/src/main/java/org/gradle/execution/plan/TaskNodeFactory.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionBuildServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanParallelTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/DefaultExecutionPlanTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/TaskNodeFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/taskgraph/DefaultTaskExecutionGraphSpec.groovy
  subprojects/core/src/testFixtures/groovy/org/gradle/test/fixtures/AbstractProjectBuilderSpec.groovy
Labels: @dev-productivity

#32734 Separate out origin and contextual location matchers
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileProblemsIntegrationTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/ReceivedProblem.groovy
Labels: a:chore, in:problems

#32765 Testing GH notifications outside of the Gradle Organization
  .github/CODEOWNERS
Labels: a:chore

#32766 Testing notifications - sample change
  platforms/documentation/docs/src/snippets/bestPractices/avoidDependsOn/groovy/build.gradle
Labels: a:chore

#32771 Improve test naming
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/ArtifactTransformsReportTaskIntegrationTest.groovy
Labels: a:chore

#32288 Always desugar all attributes for local variants
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/Codecs.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/dependency-management-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/dm/ArtifactCollectionCodec.kt
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ArtifactSelectionIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolutionResultApiIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ResolvedArtifactsApiIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultArtifactCollection.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ArtifactCollectingVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/DefaultLenientConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ResolvedArtifactCollectingVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ResolvedFilesCollectingVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactBackedResolvedVariant.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactSetToFileCollectionFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactVisitor.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/ArtifactVisitorToResolvedFileVisitorAdapter.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/resolver/DefaultResolutionOutputs.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/ComponentVariantIdentifier.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/TransformingAsyncArtifactListener.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/resolver/DefaultVariantArtifactResolver.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/resolver/FilteringResolvedArtifactSet.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/TestArtifactSet.java
  subprojects/composite-builds/src/integTest/groovy/org/gradle/integtests/composite/CompositeBuildConfigurationAttributesResolveIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/attributes/DefaultImmutableAttributesContainer.java
Labels: a:bug, in:dependency-declarations, re:comprehensibility

#32733 Support task dependencies for `MapProperty.getting()`
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/MapPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/MapProperty.java
Labels: a:chore, in:provider-api

#32772 Revert testing changes
  .github/CODEOWNERS
  platforms/documentation/docs/src/snippets/bestPractices/avoidDependsOn/groovy/build.gradle
Labels: a:chore

#32669 Add "Use Cacheability Annotations" Best Practice
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/build-cache/build_cache_concepts.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/groovy/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/kotlin/gradle.properties
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.bad.out
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.bad.secondRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.good.out
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.good.secondRun.out
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#32615 Use lazy properties for OptionValues in InitBuild
  platforms/software/build-init/src/main/java/org/gradle/buildinit/tasks/InitBuild.java
  testing/architecture-test/src/changes/archunit-store/public-api-properties-should-not-have-migration-annotation.txt
Labels: p:lazy-migration

#32763 Implement multiple display name handling
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: a:chore, in:problems

#32782 Merge release into master (20250320)
  .teamcity/pom.xml
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/promotion/BasePromotionBuildType.kt
  .teamcity/src/main/kotlin/promotion/BasePublishGradleDistribution.kt
  .teamcity/src/main/kotlin/promotion/MergeReleaseIntoMaster.kt
  .teamcity/src/main/kotlin/promotion/PromotionProject.kt
  .teamcity/src/main/kotlin/promotion/PublishBranchSnapshotFromQuickFeedback.kt
  .teamcity/src/main/kotlin/promotion/PublishGradleDistributionFullBuild.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlyDocumentation.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshot.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshotFromQuickFeedback.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshotFromQuickFeedbackStepCheckReady.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshotFromQuickFeedbackStepPromote.kt
  .teamcity/src/main/kotlin/promotion/PublishNightlySnapshotFromQuickFeedbackStepUpload.kt
  .teamcity/src/main/kotlin/promotion/SanityCheck.kt
  .teamcity/src/main/kotlin/promotion/StartReleaseCycle.kt
  .teamcity/src/main/kotlin/promotion/StartReleaseCycleTest.kt
  .teamcity/src/main/kotlin/vcsroots/VcsRoots.kt
  .teamcity/src/test/kotlin/PromotionProjectTests.kt
  platforms/ide/problems/src/main/kotlin/org/gradle/problems/internal/impl/DefaultProblemsReportCreator.kt
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/problems/KnownProblemIds.groovy
Labels: @dev-productivity

#32790 Merge release into master (20250321)
  released-versions.json
Labels: @dev-productivity

#32777 `MapProperty.keySet()` carries task dependencies
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/api/provider/MapPropertyIntegrationTest.groovy
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/DefaultMapProperty.java
  subprojects/core-api/src/main/java/org/gradle/api/provider/MapProperty.java
Labels: a:bug, in:provider-api

#32801 Introduce execution time value for `SubtractingFileCollection`
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/SubtractingFileCollection.java
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/SubtractingFileCollectionExecutionTimeValueTest.groovy
Labels: a:chore, in:configuration-cache

#32803 Enable IP tests for `java-platform`
  platforms/jvm/java-platform/build.gradle.kts
  platforms/jvm/java-platform/src/integTest/groovy/org/gradle/integtests/resolve/platforms/JavaPlatformResolveIntegrationTest.groovy
  platforms/jvm/java-platform/src/integTest/groovy/org/gradle/integtests/resolve/platforms/NativeAlignmentWithJavaPlatformResolveIntegrationTest.groovy
Labels: a:chore, in:isolated-projects

#32806 Replace generic Factory with dedicated interfaces for internal services
  platforms/core-execution/worker-main/src/main/java/org/gradle/process/internal/worker/child/SystemApplicationClassLoaderWorker.java
  platforms/core-runtime/daemon-server/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java
  platforms/core-runtime/gradle-cli/src/main/java/org/gradle/launcher/cli/DefaultCommandLineActionFactory.java
  platforms/core-runtime/gradle-cli/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
  platforms/core-runtime/gradle-cli/src/test/groovy/org/gradle/launcher/cli/DefaultCommandLineActionFactoryTest.groovy
  platforms/core-runtime/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/ForegroundDaemonAction.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/LoggingManagerFactory.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/services/DefaultLoggingManagerFactory.java
  platforms/core-runtime/logging/src/main/java/org/gradle/internal/logging/services/LoggingServiceRegistry.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/internal/logging/services/LoggingServiceRegistryTest.groovy
  platforms/extensibility/unit-test-fixtures/src/main/java/org/gradle/testfixtures/internal/TestGlobalScopeServices.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilderTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/AbstractWorkerProcessIntegrationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/AntBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultAntBuilderFactory.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/DefaultProject.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectLifecycleController.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultScriptPluginFactory.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/GlobalScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ProjectScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultAntBuilderFactoryTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectSpec.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/DefaultProjectTest.groovy
  subprojects/core/src/test/groovy/org/gradle/configuration/DefaultScriptPluginFactoryTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/InProcessGradleExecuter.java
Labels: in:internal-services

#32787 Update to Guava 33.4.5
  build-logic-commons/basics/src/main/kotlin/gradlebuild/basics/classanalysis/AnalyzeAndShade.kt
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/java-api-extractor/build.gradle.kts
  gradle/verification-metadata.xml
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-configuration/input-tracking/src/test/groovy/org/gradle/internal/configuration/inputs/AccessTrackingPropertiesNonStringTest.groovy
  platforms/core-execution/hashing/src/main/java/org/gradle/internal/hash/Hashing.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/CacheVersion.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/btree/BlockPointer.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/util/PropertiesUtils.java
  platforms/core-runtime/classloaders/src/main/java/org/gradle/internal/classloader/ConfigurableClassLoaderHierarchyHasher.java
  platforms/core-runtime/classloaders/src/main/java/org/gradle/internal/classloader/TransformErrorHandler.java
  platforms/core-runtime/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/GenericFileSystem.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  platforms/ide/ide/src/main/java/org/gradle/plugins/ide/internal/configurer/HierarchicalElementDeduplicator.java
  platforms/jvm/language-java/src/main/java/org/gradle/api/internal/tasks/compile/processing/AnnotationProcessorDetector.java
  platforms/jvm/plugins-application/src/main/java/org/gradle/api/internal/plugins/DefaultTemplateBasedStartScriptGenerator.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/SimpleTemplateOperation.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/runtimeshaded/RuntimeShadedJarCreator.java
  platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/ApacheDirectoryListingParser.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/ProjectOrderingUtil.java
  subprojects/core/src/main/java/org/gradle/configuration/DefaultImportsReader.java
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/ChainingHttpHandler.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/test/fixtures/server/http/ExpectMethod.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/HtmlPageGenerator.java
Labels: a:chore

#32821 Tweak cacheability text, fix formatting in conf file
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
  platforms/documentation/docs/src/snippets/bestPractices/useCacheabilityAnnotations/tests/useCacheabilityAnnotations.sample.conf
Labels: a:chore

#32614 Add capability and spec config for native image
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainDownloadIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainInvalidCriteriaIntegrationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/snippets/java/toolchain-filters/groovy/build.gradle
  platforms/documentation/docs/src/snippets/java/toolchain-filters/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithCC.out
  platforms/documentation/docs/src/snippets/java/toolchain-filters/tests/matchingVendorWithoutCC.out
  platforms/documentation/docs/src/snippets/java/toolchain-filters/tests/sanityCheck.sample.conf
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r81/ToolchainsParallelActionExecutionCrossVersionSpec.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JavaInstallationCapability.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmInstallationMetadata.java
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocToolchainIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiAuthenticationIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainDownloadSpiKotlinIntegrationTest.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/jvm/toolchain/JavaToolchainIntegrationTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/JavaToolchainSpec.java
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainSpec.java
  platforms/jvm/toolchains-jvm-shared/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java
  platforms/jvm/toolchains-jvm-shared/src/test/groovy/org/gradle/jvm/toolchain/internal/DefaultToolchainSpecTest.groovy
  platforms/jvm/toolchains-jvm-shared/src/test/groovy/org/gradle/jvm/toolchain/internal/JavaToolchainQueryServiceTest.groovy
Labels: in:toolchains

#32816 Merge release into master (20250324)
  released-versions.json
Labels: @dev-productivity

#32798 Box primitive varargs when passed to generic type parameter in DCL
  platforms/core-configuration/declarative-dsl-core/src/main/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/DeclarativeRuntimeFunction.kt
  platforms/core-configuration/declarative-dsl-core/src/test/kotlin/org/gradle/internal/declarativedsl/mappingToJvm/VarargMappingToJvmTest.kt
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/project/DeclarativeDslProjectBuildFileIntegrationSpec.groovy
Labels: in:declarative-dsl

#32863 Update to Guava 33.4.6, revert size change for dist
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/java-api-extractor/build.gradle.kts
  packaging/distributions-dependencies/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/AllDistributionIntegrationSpec.groovy
Labels: a:chore

#32799 Fixup `PLUSEQ='='` → `PLUSEQ='+='`
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
Labels: in:declarative-dsl

#32875 Merge release into master (20250328)
  .teamcity/jdks.yaml
  platforms/core-configuration/declarative-dsl-core/src/main/resources/org/gradle/internal/declarativedsl/parsing/grammar.bnf
  released-versions.json
Labels: @dev-productivity

#32868 Add native-image toolchain criteria to daemon JVM
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesConfigurator.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/DaemonJvmPropertiesAccessor.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/DaemonJvmPropertiesModifier.java
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesAccessorTest.groovy
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesModifierTest.groovy
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/client-services/src/test/groovy/org/gradle/launcher/daemon/configuration/DaemonParametersTest.groovy
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesDefaults.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJvmCriteria.java
  platforms/core-runtime/daemon-protocol/src/test/groovy/org/gradle/launcher/daemon/context/DaemonCompatibilitySpecSpec.groovy
  platforms/core-runtime/gradle-cli/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/CommandLineOutputIntegrationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/reference/gradle_daemon.adoc
Labels: in:daemon, a:feature, in:toolchains

#32869 #31659 Add support for relative java installation paths for Daemon toolchain
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
Labels: to-triage, from:contributor

#32862 March Documentation Cleanup
  contributing/JavadocStyleGuide.md
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/component_capabilities.adoc
Labels: a:documentation

#32884 Merge release into master (20250329)
  contributing/JavadocStyleGuide.md
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesConfigurator.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/DaemonJvmPropertiesAccessor.java
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/internal/buildconfiguration/tasks/DaemonJvmPropertiesModifier.java
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesAccessorTest.groovy
  platforms/core-runtime/build-configuration/src/test/groovy/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesModifierTest.groovy
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/core-runtime/client-services/src/test/groovy/org/gradle/launcher/daemon/configuration/DaemonParametersTest.groovy
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/internal/buildconfiguration/DaemonJvmPropertiesDefaults.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/context/DaemonCompatibilitySpec.java
  platforms/core-runtime/daemon-protocol/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonJvmCriteria.java
  platforms/core-runtime/daemon-protocol/src/test/groovy/org/gradle/launcher/daemon/context/DaemonCompatibilitySpecSpec.groovy
  platforms/core-runtime/gradle-cli/src/test/groovy/org/gradle/launcher/cli/BuildActionsFactoryTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/CommandLineOutputIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/component_capabilities.adoc
  platforms/documentation/docs/src/docs/userguide/reference/gradle_daemon.adoc
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  released-versions.json
Labels: @dev-productivity

#32891 Revert "#31659 Add support for relative java installation paths for D…
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/toolchain/DaemonClientToolchainServices.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
Labels: a:chore

#32899 Check Jacoco compatibility in more Jacoco tests
  platforms/core-configuration/kotlin-dsl-integ-tests/build.gradle.kts
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/JacocoIntegrationTest.kt
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoAggregationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoCachingIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoKotlinJvmPluginAggregationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoPluginIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoReportRelocationIntegrationTest.groovy
  platforms/jvm/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoTestRelocationIntegrationTest.groovy
  platforms/jvm/jacoco/src/testFixtures/groovy/org/gradle/testing/jacoco/plugins/fixtures/JacocoCoverage.groovy
  platforms/software/reporting/build.gradle.kts
  platforms/software/reporting/src/integTest/groovy/org/gradle/api/reporting/plugins/BuildDashboardPluginIntegrationTest.groovy
Labels: a:chore

#32897 Make ErrorHandlingOnReflectiveCallsSpec use Kotlin DSL
  platforms/core-configuration/declarative-dsl-core/build.gradle.kts
  platforms/core-configuration/declarative-dsl-core/src/integTest/groovy/org/gradle/internal/declarativedsl/ErrorHandlingOnReflectiveCallsSpec.groovy
Labels: a:chore
