Repository gradle/gradle, pull requests merged in 2025-08, with the labels that each got.

#34502 Merge release into master (20250801)
  gradle/wrapper/gradle-wrapper.properties
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/inspect.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_scans.adoc
Labels: @dev-productivity

#33624 Add Environment.Properties.get(String)
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/services/Environment.kt
  subprojects/core/src/main/java/org/gradle/initialization/Environment.java
Labels: a:feature, in:configuration-cache, has:release-notes-decision

#34071 Remove "JetBrains Kotlin plugin" in "Writing Build Scripts" section
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_build_scripts.adoc
Labels: a:documentation, from:contributor

#34269 Add Deprecation tags and messaging for setAllJvmArgs
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/sources/process/DelegatingJavaExecSpec.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeClassSourceGenerator.java
  platforms/core-runtime/internal-instrumentation-processor/src/main/java/org/gradle/internal/instrumentation/processor/codegen/CodeGenUtils.java
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCodeGenTest.groovy
  platforms/core-runtime/internal-instrumentation-processor/src/test/groovy/org/gradle/internal/instrumentation/extensions/property/PropertyUpgradeCustomInterceptorCodeGenTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/JavaExecIntegrationTest.groovy
  subprojects/core-api/src/main/java/org/gradle/process/JavaForkOptions.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecSpec.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaForkOptions.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/util/DefaultJavaForkOptionsTest.groovy
Labels: in:application-plugin, a:chore, in:java-plugins, in:exec-tasks

#34281 Removed kotlin-test-junit and junit5 specific testImplementation
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinApplicationInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinGradlePluginInitIntegrationTest.groovy
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/KotlinLibraryInitIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/JvmProjectInitDescriptor.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/internal/KotlinGradlePluginProjectInitDescriptor.java
Labels: in:build-init-plugin, a:chore

#34527 Fix typo in version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
Labels: in:dependency-version-catalog, a:documentation, from:contributor

#34410 Make read-only CC compatible with graceful degradation
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheGracefulDegradationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheAction.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
Labels: in:configuration-cache

#34541 CC codecs as service in build scope
  platforms/core-configuration/configuration-cache/build.gradle.kts
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheOperationIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ConfigurationCacheCodecs.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/serialization/codecs/AbstractUserTypeCodecTest.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/OrdinalNodeCodec.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/ProviderCodecs.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/TaskNodeCodec.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/WorkNodeCodec.kt
  testing/architecture-test/src/changes/archunit-store/platform-coupling.txt
Labels: a:chore, in:configuration-cache, in:internal-services

#34516 Move GroovySystemLoader infrastructure into a separate module
  .teamcity/subprojects.json
  platforms/core-execution/daemon-server-worker/build.gradle.kts
  platforms/core-execution/daemon-server-worker/src/main/java/org/gradle/workers/internal/IsolatedClassloaderWorker.java
  platforms/core-runtime/groovy-loader/build.gradle.kts
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/ClassInfoCleaningGroovySystemLoader.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/CompositeGroovySystemLoader.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/GroovySystemLoader.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/GroovySystemLoaderFactory.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/NoOpGroovySystemLoader.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/PreferenceCleaningGroovySystemLoader.java
  platforms/core-runtime/groovy-loader/src/main/java/org/gradle/internal/groovyloader/package-info.java
  platforms/jvm/language-groovy/build.gradle.kts
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/compile/ApiGroovyCompiler.java
  settings.gradle.kts
  subprojects/core/build.gradle.kts
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/ClassPathToClassLoaderCache.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/Cleanup.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/DefaultIsolatedAntBuilder.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
  testing/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Labels: re:platformization

#34390 Fix unicode filename handling for JUnit XML reports
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/FileUtils.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/internal/FileUtilsTest.groovy
  platforms/core-runtime/client-services/src/test/groovy/org/gradle/launcher/daemon/toolchain/DaemonJavaToolchainProvisioningServiceTest.groovy
  platforms/jvm/toolchains-jvm/src/test/groovy/org/gradle/jvm/toolchain/install/internal/DefaultJavaToolchainProvisioningServiceTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGenerator.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/ClassTestResults.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/junit/result/Binary2JUnitXmlReportGeneratorSpec.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/report/ClassTestResultsTest.groovy
Labels: in:testing, from:contributor

#34522 Add since-Gradle and incubating labels macros for userguide
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/java/org/gradle/docs/asciidoctor/GradleDocsAsciidoctorExtensionRegistry.java
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/java/org/gradle/docs/asciidoctor/IncubatingLabelProcessor.java
  platforms/documentation/docs-asciidoctor-extensions-base/src/main/java/org/gradle/docs/asciidoctor/SinceGradleLabelProcessor.java
  platforms/documentation/docs-asciidoctor-extensions-base/src/test/groovy/org/gradle/docs/asciidoctor/IncubatingLabelProcessorTest.groovy
  platforms/documentation/docs-asciidoctor-extensions-base/src/test/groovy/org/gradle/docs/asciidoctor/SinceGradleLabelProcessorTest.groovy
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/command_line_interface.adoc
Labels: a:documentation

#34228 Fix some CC-incompatible tests
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  platforms/core-execution/workers/src/integTest/groovy/org/gradle/workers/internal/WorkerExecutorErrorHandlingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/taskfactory/TaskPropertyNamingIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/CopyPermissionsIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/process/internal/worker/DefaultWorkerProcessBuilderIntegrationTest.groovy
Labels: a:chore

#33022 Stabilize Daemon JVM criteria using toolchain feature
  platforms/core-runtime/build-configuration/src/integTest/groovy/org/gradle/interal/buildconfiguration/tasks/UpdateDaemonJvmIntegrationTest.groovy
  platforms/core-runtime/build-configuration/src/main/java/org/gradle/buildconfiguration/tasks/UpdateDaemonJvm.java
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/client/DefaultDaemonStarter.java
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/gradle_daemon.adoc
Labels: in:daemon, in:toolchains, from:contributor

#34591 Update tested Kotlin version
  gradle/dependency-management/kotlin-versions.properties
Labels: a:chore, in:smoke-test, in:performance-test

#34602 Polish `ProxyDispatcher` and family
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/dispatch/MethodInvocation.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/dispatch/ProxyDispatchAdapter.java
  platforms/core-runtime/messaging/src/main/java/org/gradle/internal/dispatch/ReflectionDispatch.java
Labels: a:chore

#34590 Do not invalidate CC entry when the set of source files changes
  settings.gradle.kts
Labels: a:chore, in:building-gradle

#34619 Polish internal `Providers.memoizing`
  platforms/core-configuration/model-core/src/main/java/org/gradle/api/internal/provider/Providers.java
Labels: a:chore

#34613 Raise tested Groovy version for gradle3235
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/groovy/compile/AbstractGroovyCompilerIntegrationSpec.groovy
Labels: a:chore

#34601 Add more documentation to Project.getPath()
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
Labels: a:documentation, from:contributor

#34617 Fix table rendering in Asciidocs
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache.adoc
Labels: a:bug, a:documentation

#34626 Move `GradlePropertiesController` and family to internal package
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/GradlePropertiesCodec.kt
  platforms/extensibility/unit-test-fixtures/src/main/java/org/gradle/testfixtures/internal/TestBuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/api/internal/properties/DefaultGradlePropertiesController.java
  subprojects/core/src/main/java/org/gradle/api/internal/properties/GradlePropertiesController.java
  subprojects/core/src/main/java/org/gradle/api/internal/properties/GradlePropertyScope.java
  subprojects/core/src/main/java/org/gradle/api/internal/properties/package-info.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoaderFactory.java
  subprojects/core/src/main/java/org/gradle/initialization/GradlePropertiesHandlingSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/ProjectPropertySettingBuildLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/properties/GradlePropertiesLoader.java
  subprojects/core/src/main/java/org/gradle/internal/buildtree/BuildTreeScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/properties/DefaultGradlePropertiesControllerTest.groovy
  subprojects/core/src/test/groovy/org/gradle/initialization/ProjectPropertySettingBuildLoaderTest.groovy
Labels: a:chore

#34648 Update Gradle wrapper to version 9.1.0-rc-1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: @dev-productivity

#34651 Fix supported Java version in `Compatibility Matrix`
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: to-triage, from:contributor

#34662 Merge release into master (20250814)
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  released-versions.json
Labels: @dev-productivity

#34714 Merge release into master (20250819)
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_enabling.adoc
  platforms/documentation/docs/src/docs/userguide/reference/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/configuration_on_demand.adoc
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/isolated_projects.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
  released-versions.json
Labels: @dev-productivity

#34711 Let CC ignore Kotlin DSL model builder correlation id
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheAllowedStartParametersIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
Labels: a:chore

#34615 Bundle additional services
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/ConfigurationServicesBundle.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyManagementServices.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationServicesBundle.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConsumableConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultDependencyScopeConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultLegacyConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultResolvableConfiguration.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerSpec.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainerTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
Labels: a:chore, in:dependency-declarations, a:performance-improvement

#32935 Enable NullAway in some projects
  architecture/standards/0008-use-nullaway.md
  build-logic-commons/gradle-plugin/build.gradle.kts
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.code-quality.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/core-runtime/base-asm/build.gradle.kts
  platforms/core-runtime/base-asm/src/main/java/org/gradle/model/internal/asm/ClassVisitorScope.java
  platforms/core-runtime/stdlib-java-extensions/build.gradle.kts
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/JavaVersion.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/api/UncheckedIOException.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/InternalTransformer.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/InternalTransformers.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/UncheckedException.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/exceptions/DefaultMultiCauseException.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/internal/reflect/JavaMethod.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/util/internal/CollectionUtils.java
  testing/architecture-test/src/changes/archunit-store/internal-api-symmetrical-accessors-nullability.txt
  testing/architecture-test/src/test/java/org/gradle/architecture/test/KotlinCompatibilityTest.java
Labels: a:chore, in:building-gradle

#34727 Merge release into master (20250820)
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheAllowedStartParametersIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
Labels: @dev-productivity

#34734 Update Release Notes: get ready for 9.1.0RC2
  platforms/documentation/docs/src/docs/release/notes.md
Labels: a:documentation

#34729 Fix issue with daemon toolchains properties integration test
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainPropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
Labels: a:bug, in:toolchains

#34753 Merge release into master (20250821)
  build-logic/documentation/build.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/FindMissingDocumentationFiles.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/Javadocs.java
  build-logic/documentation/src/test/groovy/gradlebuild/docs/FindBrokenInternalLinksTest.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/javaPackageList/17/element-list
  platforms/documentation/docs/src/docs/userguide/authoring-builds/introduction/gradle_directories_intermediate.adoc
  platforms/documentation/docs/src/docs/userguide/dependency-management/declaring-dependencies/dependency_verification.adoc
  platforms/documentation/docs/src/docs/userguide/dependency-management/dependency-management/dependency_locking.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_enabling.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/performance.adoc
  platforms/documentation/docs/src/docs/userguide/overview/licenses.adoc
  platforms/documentation/docs/src/docs/userguide/overview/userguide.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/core_dependency_management.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/dynamic_versions.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/single_versions.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/what_is_gradle.adoc
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/best_practices_security.adoc
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/build_init_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/other-topics/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/reference/task-development/more_about_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_major_version_9.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/command_line_interface_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/tutorial/part1_gradle_init.adoc
  platforms/documentation/docs/src/docs/userguide/unused/troubleshooting.adoc
  platforms/documentation/docs/src/main/resources/links_gradle_7.json
  platforms/documentation/docs/src/main/resources/links_gradle_8.json
Labels: @dev-productivity

#34612 Add Documentation: Create new Advanced Plugin Development Tutorial
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part1_gradle_init_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part2_add_extension.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part3_create_custom_task.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part4_unit_test.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part5_add_dataflow_action.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part6_functional_test.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part7_use_consumer_project.adoc
  platforms/documentation/docs/src/docs/userguide/developing-plugins/tutorial/part8_publish_locally.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/consumer/build.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/consumer/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/build.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/functionalTest/groovy/org/example/PluginTutorialPluginFunctionalTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/functionalTest/groovy/org/example/SlackPluginFunctionalTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/main/groovy/org/example/PluginTutorialPlugin.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/main/groovy/org/example/SlackBuildFlowAction.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/main/groovy/org/example/SlackExtension.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/main/groovy/org/example/SlackPlugin.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/main/groovy/org/example/SlackTask.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/test/groovy/org/example/PluginTutorialPluginTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/plugin/src/test/groovy/org/example/SlackPluginTest.groovy
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/consumer/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/consumer/settings.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/gradle/libs.versions.toml
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/functionalTest/kotlin/org/example/PluginTutorialPluginFunctionalTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/functionalTest/kotlin/org/example/SlackPluginFunctionalTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/main/kotlin/org/example/PluginTutorialPlugin.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/main/kotlin/org/example/SlackBuildFlowAction.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/main/kotlin/org/example/SlackExtension.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/main/kotlin/org/example/SlackPlugin.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/main/kotlin/org/example/SlackTask.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/test/kotlin/org/example/PluginTutorialPluginTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/plugin/src/test/kotlin/org/example/SlackPluginTest.kt
  platforms/documentation/docs/src/snippets/plugins/plugin-tutorial/kotlin/settings.gradle.kts
Labels: a:documentation

#34765 Update `gradle-idea-ext` plugin
  build-logic-commons/build-platform/build.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  testing/smoke-ide-test/src/smokeIdeTest/groovy/org/gradle/ide/sync/IsolatedProjectsGradleceptionSyncTest.groovy
Labels: a:chore, in:isolated-projects

#34782 Merge release into master (20250825)
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantArtifactSetCache.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ThisBuildTreeOnlyComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/resolver/ResolvedVariantCache.java
  released-versions.json
Labels: @dev-productivity

#34784 Avoid memory leak in `DefaultConfigurationCacheDegradationController`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheDegradationController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
Labels: a:bug, in:configuration-cache

#34763 Remove BuildLayoutConfiguration dependency on StartParameter
  platforms/core-configuration/declarative-dsl-provider/src/main/kotlin/org/gradle/internal/declarativedsl/provider/DeclarativeDslServices.kt
  platforms/ide/tooling-api/src/integTest/groovy/org/gradle/integtests/tooling/ToolingApiClasspathIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/GradlePropertiesHandlingSettingsLoader.java
  subprojects/core/src/main/java/org/gradle/initialization/layout/BuildLayoutConfiguration.java
  subprojects/core/src/main/java/org/gradle/internal/build/BuildLayoutValidator.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/BuildScopeServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/CoreBuildSessionServices.java
  subprojects/core/src/test/groovy/org/gradle/initialization/layout/BuildLayoutFactoryTest.groovy
Labels: a:chore, re:platformization

#34766 Switch toolchain properties in Gradle build to also use -D
  .teamcity/src/main/kotlin/common/CommonExtensions.kt
  .teamcity/src/main/kotlin/common/Os.kt
  .teamcity/src/main/kotlin/common/PerformanceTestExtensions.kt
  .teamcity/src/main/kotlin/configurations/BuildDistributions.kt
  .teamcity/src/main/kotlin/configurations/BuildLogicTest.kt
  .teamcity/src/main/kotlin/configurations/CheckLinks.kt
  .teamcity/src/main/kotlin/configurations/CompileAll.kt
  .teamcity/src/main/kotlin/configurations/SanityCheck.kt
  .teamcity/src/main/kotlin/configurations/TestPerformanceTest.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  build-logic/performance-testing/src/main/kotlin/gradlebuild/performance/tasks/BuildCommitDistribution.kt
Labels: a:chore, in:toolchains

#34812 Correct the directory where ADRs are stored in ADR-0001
  architecture/standards/0001-use-architectural-decision-records.md
Labels: a:chore

#34789 Cherry-pick: offline javadoc generation (#34747)
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/Javadocs.java
  build-logic/documentation/src/test/groovy/gradlebuild/docs/FindBrokenInternalLinksTest.groovy
  platforms/documentation/docs/build.gradle.kts
  platforms/documentation/docs/src/docs/javaPackageList/8/package-list
Labels: a:chore, in:building-gradle, @dev-productivity

#34839 Use teamcityus develocity user for EC2 agents at US - cherry-pick of #34817 to release8x
  .teamcity/scripts/configure_build_env_on_ec2.sh
Labels: a:chore, in:building-gradle, @dev-productivity

#34821 Add Documentation Infrastructure: new task checkMultiLangSnippets
  build-logic/documentation/src/main/groovy/gradlebuild/docs/FindBadMultiLangSnippets.java
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  platforms/documentation/docs/src/docs/userguide/integration/third_party_integration.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/groovy_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/reference/dsl-apis/kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/reference/dsl-apis/migrating_from_groovy_to_kotlin_dsl.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/custom_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/reference/plugin-development/plugins.adoc
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/isolated_projects.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_4.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/unused/rule_source.adoc
  platforms/documentation/docs/src/docs/userguide/unused/troubleshooting.adoc
  platforms/documentation/docs/src/docs/userguide/unused/writing_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/userguide_single.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: in:documentation-infrastructure, a:documentation

#34847 Revert "Release dependency management caches when releasing project state"
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/artifact/VariantArtifactSetCache.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/resolveengine/result/ThisBuildTreeOnlyComponentResultSerializer.java
  platforms/software/dependency-management/src/main/java/org/gradle/internal/resolve/resolver/ResolvedVariantCache.java
Labels: a:chore, in:dependency-resolution

#34831 TestSuite: Remove unnecessary DefaultTestingExtension
  platforms/software/test-suites-base/build.gradle.kts
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/internal/DefaultTestingExtension.java
  platforms/software/test-suites-base/src/main/java/org/gradle/testing/base/plugins/TestSuiteBasePlugin.java
Labels: in:testing, from:contributor
