Repository gradle/gradle, pull requests merged in 2025-10, with the labels that each got.

#35182 Merge release into master (20251001)
  platforms/core-runtime/messaging/build.gradle.kts
  platforms/core-runtime/messaging/src/integTest/groovy/org/gradle/internal/serialize/ExceptionPlaceholderIntegrationTest.groovy
  platforms/core-runtime/serialization/src/main/java/org/gradle/internal/serialize/ExceptionPlaceholder.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  released-versions.json
Labels: @dev-productivity

#35161 Get rid of eager reading of generated source directories
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheBuildOperationsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/internal/precompiled/PrecompiledGroovyPluginsPlugin.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheFixture.groovy
Labels: a:bug

#35162 Add 'architecture' and 'operatingSystem' to JVM-specific attributes
  platforms/documentation/docs/src/docs/userguide/dependency-management/controlling-dependency-resolution/variant_attributes.adoc
Labels: in:gradle-module-metadata, a:documentation, from:contributor, :wave: team-triage

#35193 Merge release into master (20251002)
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/PropertyProblem.kt
  released-versions.json
Labels: @dev-productivity

#35185 Update NullAway and ErrorProne
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.code-quality.gradle.kts
  gradle/verification-metadata.xml
  packaging/distributions-dependencies/build.gradle.kts
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AntFileCollectionBuilder.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AntFileCollectionMatchingTaskBuilder.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AntFileSetBuilder.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/AntFileTreeBuilder.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultIsolatableFactory.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/snapshot/impl/DefaultValueSnapshotter.java
  platforms/core-configuration/model-core/src/main/java/org/gradle/model/internal/core/rule/describe/SimpleModelRuleDescriptor.java
  platforms/core-execution/build-cache-example-client/src/main/java/org/gradle/caching/example/BuildCacheClientModule.java
  platforms/core-runtime/build-operations-trace/src/main/java/org/gradle/internal/operations/trace/BuildOperationTrace.java
  platforms/core-runtime/build-profile/src/main/java/org/gradle/profile/BuildProfileServices.java
  platforms/core-runtime/functional/src/main/java/org/gradle/internal/serialization/Cached.java
  platforms/core-runtime/internal-instrumentation-api/src/main/java/org/gradle/internal/instrumentation/api/annotations/ReplacesEagerProperty.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/exceptions/ExceptionMetadataHelper.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/exceptions/PlaceholderExceptions.java
  platforms/enterprise/enterprise/src/main/java/org/gradle/internal/enterprise/test/impl/DefaultTestTaskPropertiesService.java
  platforms/ide/tooling-api-builders/src/main/java/org/gradle/tooling/internal/provider/runner/TestExecutionResultEvaluator.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoCheck.java
  platforms/jvm/jacoco/src/main/java/org/gradle/internal/jacoco/AntJacocoReport.java
  platforms/jvm/java-compiler-plugin/src/main/java/org/gradle/internal/compiler/java/listeners/constants/ConstantsTreeVisitor.java
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/internal/tasks/GroovydocAntAction.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/parser/PomReader.java
  subprojects/core/src/main/java/org/gradle/api/internal/project/antbuilder/AntBuilderDelegate.java
  subprojects/core/src/main/java/org/gradle/initialization/DefaultSettingsLoader.java
Labels: a:chore

#33433 added ArchUnit test to prevent naming internal classes with the wrong…
  testing/architecture-test/src/changes/archunit-store/internal-classes-internal-suffix.txt
  testing/architecture-test/src/changes/archunit-store/stored.rules
  testing/architecture-test/src/test/java/org/gradle/architecture/test/InternalClassesNamingValidationTest.java
Labels: in:problems, from:contributor

#35178 Add changelog entry for task container ip violations
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/isolated_projects.adoc
Labels: a:documentation

#35209 Merge release into master (20251003)
  .teamcity/src/main/kotlin/common/CommonExtensions.kt
  build-logic-commons/build-platform/build.gradle.kts
  build-logic-settings/settings.gradle.kts
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleJavadocsPlugin.java
  gradle/dependency-management/smoke-tested-plugins.properties
  platforms/documentation/docs/src/docs/userguide/overview/getting_started.adoc
  platforms/documentation/docs/src/docs/userguide/reference/structuring-builds/isolated_projects.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/internal/JvmPluginsHelper.java
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/jvm/internal/DefaultJvmFeature.java
  released-versions.json
  settings.gradle.kts
  subprojects/core/src/main/java/org/gradle/plugin/management/internal/autoapply/AutoAppliedDevelocityPlugin.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/DevelocityPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PublishingSmokeTest.groovy
Labels: @dev-productivity

#35183 Correct "Added in Gradle Version" for best practice: Do not use gradle.properties in subprojects
  platforms/documentation/docs/src/docs/userguide/reference/best-practices/best_practices_index.adoc
Labels: a:documentation, from:contributor, re:footguns-and-best-practices

#35217 Update Gradle wrapper to version 9.2.0-rc-1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: @dev-productivity

#35216 Merge release into master (20251003)
  released-versions.json
Labels: @dev-productivity

#32839 Deprecate Wrapper.getAvailableDistributionTypes() method
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/software/build-init/src/integTest/groovy/org/gradle/buildinit/plugins/internal/WrapperOptionsIntegrationTest.groovy
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  platforms/software/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  testing/architecture-test/src/changes/archunit-store/provider-task-properties.txt
  testing/architecture-test/src/changes/archunit-store/public-api-properties-should-not-have-migration-annotation.txt
Labels: p:lazy-migration

#35195 Improve documentation related to extending built-in tasks
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/reference/task-development/implementing_custom_tasks.adoc
Labels: in:documentation-infrastructure, a:documentation

#35239 Update Documentation: add disclaimer about Gradle -bin distro
  platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/gradle_wrapper.adoc
Labels: a:documentation

#35237 Update Documentation: update compatibility matrix
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
Labels: a:documentation
