Repository gradle/gradle, pull requests merged in 2025-05, with the labels that each got.

#33111 Make sure that abstract property getters will be used in built-in tasks and extensions
  testing/architecture-test/src/changes/archunit-store/explicit-properties.txt
  testing/architecture-test/src/changes/archunit-store/stored.rules
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixtureTest.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/PropertyUsageArchitectureTest.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ProviderMigrationArchitectureTest.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/PublicApiCorrectnessTest.java
Labels: in:provider-api

#33309 Remove convention mapping usage of already removed `ConfigurableReport.destination`
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/DefaultSingleFileReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SingleDirectoryReport.java
Labels: a:chore, in:reporting-tasks

#33339 Remove tests that use removed method
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/inputs/process/ProcessInBuildScriptIntegrationTest.groovy
Labels: a:chore

#33341 Fix build_file_basics.adoc example code and text conflicting
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/build_file_basics.adoc
Labels: a:documentation, from:contributor

#33312 Don't say "Gradle process" around file locks
  platforms/core-execution/persistent-cache/src/integTest/groovy/org/gradle/cache/internal/DefaultFileLockManagerContentionIntegrationTest.groovy
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/DefaultFileLockManager.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/DefaultFileLockCommunicator.java
  platforms/core-execution/persistent-cache/src/main/java/org/gradle/cache/internal/locklistener/DefaultFileLockContentionHandler.java
Labels: a:chore, in:build-cache

#33353 Fix typo in bp_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/bp_tasks.adoc
Labels: a:documentation, from:contributor

#33263 Fix snippets for reproducible archives to mention also permissions
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/snippets/buildCache/reproducible-archives/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/reproducible-archives/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/files/archives/groovy/build.gradle
  platforms/documentation/docs/src/snippets/files/archives/kotlin/build.gradle.kts
Labels: in:file-tasks, a:documentation

#33371 Remove deprecated auto-apply flag for Dependency Analysis plugin
  gradle.properties
Labels: a:chore

#33261 Optimize ReproducibleDirectoryWalker and add performance tests for reproducible archives
  .teamcity/performance-tests-ci.json
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/collections/ReproducibleDirectoryWalker.java
  platforms/core-configuration/file-collections/src/test/groovy/org/gradle/api/internal/file/collections/DirectoryFileTreeTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/corefeature/AbstractIncrementalExecutionPerformanceTest.groovy
  testing/performance/src/performanceTest/groovy/org/gradle/performance/regression/java/JavaIncrementalExecutionPerformanceTest.groovy
Labels: a:performance-improvement

#33228 Enforce minimum Java version to be 17
  .teamcity/src/main/kotlin/common/JvmCategory.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/shared-configuration.kt
  build-logic/jvm/src/main/kotlin/gradlebuild.unittest-and-compile.gradle.kts
  platforms/core-configuration/declarative-dsl-provider/src/integTest/groovy/org/gradle/internal/declarativedsl/agp/DeclarativeAgpSmokeSpec.groovy
  platforms/core-runtime/build-process-startup/src/main/java/org/gradle/internal/jvm/SupportedJavaVersions.java
  platforms/core-runtime/build-process-startup/src/testFixtures/groovy/org/gradle/internal/jvm/SupportedJavaVersionsExpectations.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/SupportedBuildJvmVersionIntegrationTest.groovy
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainInvalidCriteriaIntegrationTest.groovy
  platforms/core-runtime/wrapper-main/build.gradle.kts
  platforms/core-runtime/wrapper-main/src/crossVersionTest/groovy/org/gradle/integtests/wrapper/WrapperOldJavaCrossVersionIntegrationTest.groovy
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperSupportedBuildJvmIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/jvm/GradleRunnerExplicitDaemonJvmIntegrationTest.groovy
  platforms/extensibility/test-kit/src/integTest/groovy/org/gradle/testkit/runner/jvm/GradleRunnerImplicitDaemonJvmIntegrationTest.groovy
  platforms/extensibility/unit-test-fixtures/src/integTest/groovy/org/gradle/testfixtures/ProjectBuilderEndUserIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/jvm/ExplicitDaemonJvmCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/jvm/ImplicitDaemonJvmCrossVersionSpec.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r72/JavaVersionCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r812/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r87/ProblemsServiceModelBuilderCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/ProblemsServiceModelBuilderCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r89/ProblemProgressEventCrossVersionTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiClassLoaderProvider.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/compile/JavaCompileToolchainIntegrationTest.groovy
  platforms/jvm/plugins-java/src/integTest/groovy/org/gradle/java/compile/AbstractJavaCompileAvoidanceIntegrationSpec.groovy
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/compile/UpToDateScalaCompileIntegrationTest.groovy
  platforms/jvm/scala/src/testFixtures/groovy/org/gradle/integtests/fixtures/ScalaCoverage.groovy
  subprojects/core/src/integTest/groovy/org/gradle/internal/classpath/BuildScriptClasspathIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/AbstractIntegrationSpec.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/RetryConditions.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/DefaultGradleDistribution.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/ExecutionResult.java
  testing/internal-testing/src/main/resources/valid-precondition-combinations.csv
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/SmokeTestGradleRunner.groovy
Labels: a:chore, in:building-gradle

#33375 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore, in:building-gradle

#33381 Upgrade embedded Kotlin to 2.1.21-RC2
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
Labels: a:chore, in:kotlin-dsl

#33390 Deduplicate PlatformBoundariesTest violations
  testing/architecture-test/src/changes/archunit-store/platform-coupling.txt
  testing/architecture-test/src/test/java/org/gradle/architecture/test/PlatformBoundariesTest.java
Labels: a:chore, in:building-gradle

#33028 Remove warnOnDeprecatedUsage changing warnings to exceptions
  platforms/jvm/java-platform/src/integTest/groovy/org/gradle/integtests/resolve/platforms/JavaPlatformEcosystemIntegrationTest.groovy
  platforms/jvm/plugins-jvm-test-suite/src/integTest/groovy/org/gradle/testing/testsuites/TestSuitesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRolesIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/DeprecatedConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/InvalidConfigurationUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationContainerInternal.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationRole.java
Labels: a:chore, in:dependency-declarations

#33350 Remove unnecessary `attributes` call in LwjglRule example
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule/kotlin/build.gradle.kts
Labels: a:documentation, from:contributor

#33275 Add opt out for no tests discovered error
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/fixture/Snippets.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestTaskFailOnNoTestIntegrationTest.groovy
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: in:testing, a:feature

#33413 Add new property to the Groovy dsl reference
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.tasks.testing.AbstractTestTask.xml
Labels: in:testing, a:chore

#33264 Make JavaExec default to the java toolchain
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/jvm/plugins-java-base/src/integTest/groovy/org/gradle/api/plugins/JavaBasePluginJavaExecIntegrationTest.groovy
  platforms/jvm/plugins-java-base/src/main/java/org/gradle/api/plugins/JavaBasePlugin.java
Labels: a:feature, in:java-plugins

#33236 Move software model reporting tasks out of default help tasks
  platforms/core-configuration/base-diagnostics/src/integTest/groovy/org/gradle/api/plugins/HelpTasksPluginIntegrationTest.groovy
  platforms/core-configuration/base-diagnostics/src/integTest/groovy/org/gradle/api/tasks/diagnostics/TaskReportTaskIntegrationTest.groovy
  platforms/core-configuration/base-diagnostics/src/main/java/org/gradle/api/plugins/HelpTasksPlugin.java
  platforms/core-configuration/base-diagnostics/src/main/java/org/gradle/api/plugins/internal/ModelReportingTasksPlugin.java
  platforms/core-configuration/base-diagnostics/src/main/resources/META-INF/gradle-plugins/org.gradle.model-reporting-tasks.properties
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemReportingIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/ModelMapIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/RuleSourceAppliedByRuleMethodIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/managed/InvalidManagedModelRuleIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/managed/ManagedModelGroovyScalarConfigurationIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/managed/ManagedScalarCollectionsIntegrationTest.groovy
  platforms/core-configuration/model-core/src/integTest/groovy/org/gradle/model/managed/ScalarTypesInManagedModelIntegrationTest.groovy
  platforms/core-configuration/model-groovy/src/integTest/groovy/org/gradle/model/dsl/ManagedTypeDslIntegrationTest.groovy
  platforms/core-configuration/model-groovy/src/integTest/groovy/org/gradle/model/dsl/ModelMapDslIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/snippets/modelRules/basicRuleSourcePlugin/groovy/build.gradle
  platforms/documentation/docs/src/snippets/modelRules/basicRuleSourcePlugin/tests/basicRuleSourcePlugin-model-task.out
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/ToolingApiSpecification.groovy
  platforms/software/platform-base/src/main/java/org/gradle/platform/base/plugins/ComponentBasePlugin.java
  platforms/software/platform-base/src/test/groovy/org/gradle/language/base/plugins/ComponentModelBasePluginTest.groovy
  platforms/software/platform-base/src/test/groovy/org/gradle/language/base/plugins/LanguageBasePluginTest.groovy
  platforms/software/platform-base/src/test/groovy/org/gradle/platform/base/plugins/BinaryBasePluginTest.groovy
  platforms/software/platform-base/src/test/groovy/org/gradle/platform/base/plugins/ComponentBasePluginTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/components/DiagnosticsComponentReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/dependents/DependentComponentsReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/DetailedModelReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/ModelReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/ModelReportTaskIntegrationTest.groovy
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/plugins/SoftwareReportingTasksPlugin.java
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/plugins/internal/ComponentReportingTasksPlugin.java
  platforms/software/software-diagnostics/src/main/resources/META-INF/gradle-plugins/org.gradle.component-reporting-tasks.properties
  subprojects/core/src/integTest/groovy/org/gradle/execution/taskgraph/RuleTaskCreationIntegrationTest.groovy
  subprojects/core/src/test/groovy/org/gradle/api/internal/project/NewDefaultProjectTest.groovy
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: in:native-platform, a:chore

#33416 fix grammar error in gradle_wrapper_basics.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/introduction/gradle_wrapper_basics.adoc
Labels: a:documentation, from:contributor

#32717 Update com.autonomousapps:dependency-analysis-gradle-plugin to the latest version
  build-logic-commons/build-platform/build.gradle.kts
  build-logic/root-build/src/main/kotlin/gradlebuild.root-build.gradle.kts
  build-logic/uber-plugins/src/main/kotlin/gradlebuild.jvm-library.gradle.kts
  gradle/verification-metadata.xml
  packaging/distributions-dependencies/build.gradle.kts
  platforms/software/resources-gcs/build.gradle.kts
  platforms/software/resources-gcs/src/integTest/groovy/org/gradle/integtests/resource/gcs/fixtures/GcsServer.groovy
  platforms/software/resources-s3/src/integTest/groovy/org/gradle/integtests/resource/s3/fixtures/S3Server.groovy
  testing/internal-performance-testing/build.gradle.kts
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/AndroidTestProject.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/BuildExperimentSpec.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/JavaTestProject.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/fixture/TestScenarioSelector.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/measure/Amount.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/AbstractWritableResultsStore.groovy
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/BaseCrossBuildResultsStore.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossBuildPerformanceTestHistory.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionPerformanceTestHistory.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/CrossVersionResultsStore.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestExecution.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/PerformanceTestRuntimesGenerator.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/ScenarioDefinition.java
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/results/report/TestPageGenerator.java
Labels: a:chore, in:building-gradle

#33443 Add implicit groovy and kotlin imports to the documentation
  build-logic/documentation/src/main/groovy/gradlebuild/docs/dsl/source/TypeNameResolver.java
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/ImplicitImports.kt
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/writing_build_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/reference/apis/kotlin_dsl.adoc
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/GradleResolveVisitor.java
Labels: from:contributor

#33428 Remove links to archived gradle-credentials-plugin from documentation
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/publishing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/supported_repository_protocols.adoc
Labels: from:contributor

#33445 Remove deprecated ScalaDoc.getAntBuilder()
  platforms/jvm/scala/src/main/java/org/gradle/api/tasks/scala/ScalaDoc.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:jvm-ecosystem

#33454 Explain why deprecation in `DependencyHandlerScope` can't be removed
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
Labels: in:kotlin-dsl

#33439 Remove deprecated IsolationMode
  platforms/core-execution/workers/src/main/java/org/gradle/workers/IsolationMode.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:workers

#33438 Remove WarPlugin @Deprecated constant
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore, in:war-plugin

#33460 Defer making mutating dependencies an error to 10.0
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/core/src/integTest/groovy/org/gradle/api/artifacts/dsl/DependencyCollectorIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/dsl/dependencies/DefaultDependencyCollector.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinPluginSmokeTest.groovy
Labels: a:chore

#33447 May Documentation Cleanup
  platforms/documentation/docs/src/docs/css/base.css
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/stylesheets/userGuideHtmlCommon.xsl
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/centralizing_repositories.adoc
  platforms/documentation/docs/src/docs/userguide/licenses.adoc
  platforms/documentation/docs/src/docs/userguide/overview/userguide.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_tasks.adoc
  platforms/documentation/docs/src/main/resources/footer.html
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#33464 Merge release into master (20250514)
  platforms/documentation/docs/src/docs/css/base.css
  platforms/documentation/docs/src/docs/css/manual.css
  platforms/documentation/docs/src/docs/stylesheets/userGuideHtmlCommon.xsl
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/artifact_transforms.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-repositories/centralizing_repositories.adoc
  platforms/documentation/docs/src/docs/userguide/licenses.adoc
  platforms/documentation/docs/src/docs/userguide/overview/userguide.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_general.adoc
  platforms/documentation/docs/src/docs/userguide/redirects/bp_tasks.adoc
  platforms/documentation/docs/src/main/resources/footer.html
  platforms/documentation/docs/src/main/resources/header.html
Labels: @dev-productivity

#33457 Upgrade tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
Labels: a:chore, in:kotlin-dsl

#33458 Upgrade embedded Kotlin to 2.1.21
  build-logic/dependency-modules/src/main/kotlin/gradlebuild/modules/extension/ExternalModulesExtension.kt
  build-logic/kotlin-dsl/src/main/kotlin/gradlebuild.kotlin-dsl-dependencies-embedded.gradle.kts
  platforms/core-configuration/kotlin-dsl-plugins/build.gradle.kts
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/groovy/platforms/plugins-platform/build.gradle
  platforms/documentation/docs/src/samples/build-organization/structuring-software-projects/kotlin/platforms/plugins-platform/build.gradle.kts
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/groovy/build.gradle
  platforms/documentation/docs/src/snippets/buildCache/caching-android-projects/kotlin/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/groovy/database-logic/build.gradle
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/plugins/pluginProject/kotlin/database-logic/build.gradle.kts
  platforms/jvm/plugins-jvm-test-suite/src/main/java/org/gradle/api/testing/toolchains/internal/KotlinTestTestToolchain.java
  platforms/software/build-init/src/main/resources/org/gradle/buildinit/tasks/templates/library-versions.properties
  testing/internal-performance-testing/src/main/groovy/org/gradle/performance/generator/JavaTestProjectGenerator.groovy
Labels: a:chore, in:kotlin-dsl

#33478 Add ArchUnit rule to prevent any unwanted usage of JSR-305 or JetBrains nullability annotations
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ArchUnitFixture.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/ForbiddenNullabilityAnnotationsTest.java
  testing/architecture-test/src/test/java/org/gradle/architecture/test/PlatformBoundariesTest.java
Labels: a:chore, in:building-gradle

#33342 Clean up safe varargs
  platforms/core-configuration/base-services-groovy/src/main/java/org/gradle/api/specs/AndSpec.java
  platforms/core-runtime/stdlib-java-extensions/src/main/java/org/gradle/util/internal/CollectionUtils.java
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/GenerateBuildDashboard.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
Labels: a:chore

#33469 Prepare for SemVer instead of custom versioning
  build-logic-commons/module-identity/src/main/kotlin/gradlebuild/identity/extension/ReleasedVersionsDetails.kt
  build-logic/binary-compatibility/src/test/kotlin/gradlebuild/binarycompatibility/AbstractBinaryCompatibilityTest.kt
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/DefaultGradleVersion.java
  platforms/core-runtime/logging/src/test/groovy/org/gradle/util/GradleVersionTest.groovy
  platforms/documentation/docs/src/docs/release/notes.md
  version.txt
Labels: in:gradle-distribution

#33450 Component modification after observation becomes an error
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishIssuesIntegTest.groovy
  platforms/software/maven/src/integTest/groovy/org/gradle/api/publish/maven/MavenPublishIssuesIntegTest.groovy
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/DefaultAdhocSoftwareComponent.java
  platforms/software/publish/src/main/java/org/gradle/api/publish/internal/component/DefaultSoftwareComponentFactory.java
Labels: in:publishing-plugins, a:chore

#33135 Creating detached configurations now uses non-migrating role
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/ProjectDependencyResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationContainer.java
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
Labels: a:chore, in:dependency-declarations

#33494 Merge release into master (20250515)
  released-versions.json
Labels: @dev-productivity

#33499 Reorganize upgrading guide around Kotlin 2.1 and JSpecify for clarity
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:chore, in:kotlin-dsl

#33480 Remove deprecated precompiled Kotlin script templates and postpone removal of IDE script templates
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/KotlinDslTemplatesDeprecationsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/InitScriptApi.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/SettingsScriptApi.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledInitScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledProjectScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledSettingsScript.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/GradleDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ProjectDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/ScriptHandlerDelegate.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/SettingsDelegate.kt
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-not-extends-internal-types.txt
Labels: a:chore, in:kotlin-dsl

#33514 Update wrapper to 9.0.0-milestone-8
  build-logic-commons/gradle-plugin/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, in:building-gradle

#33501 Remove some more deprecations for core-runtime
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/GUtil.java
  platforms/core-runtime/base-services/src/main/java/org/gradle/util/internal/LimitedDescription.java
  platforms/core-runtime/base-services/src/test/groovy/org/gradle/util/internal/LimitedDescriptionTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore

#33507 Remove suppression of standard output messages
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/GroovyDocIntegrationTest.groovy
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/javadoc/Groovydoc.java
Labels: a:bug, in:groovy-plugin

#33531 Merge release into master (20250517)
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/GroovyDocIntegrationTest.groovy
  platforms/jvm/language-groovy/src/main/java/org/gradle/api/tasks/javadoc/Groovydoc.java
Labels: @dev-productivity

#33486 Update Structuring Builds section for DPEU
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-1.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-2.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-3.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-4.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-6.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-7.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-8.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-9.png
  platforms/documentation/docs/src/docs/userguide/redirects/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_ant.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/groovy/settings.gradle
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/tests/projects.out
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/api/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/buildSrc/src/main/groovy/java-common-conventions.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/services/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/shared/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/api/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/buildSrc/src/main/kotlin/java-common-conventions.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/services/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/shared/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/multiple-subprojects/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/multiple-subprojects/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/api/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/services/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/shared/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/api/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/services/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/shared/build.gradle.kts
Labels: a:documentation

#33534 Merge release into master (20250519)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/basics/intro_multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/best-practices/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/composite_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-1.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-2.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-3.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-4.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-6.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-7.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-8.png
  platforms/documentation/docs/src/docs/userguide/img/structuring-builds-9.png
  platforms/documentation/docs/src/docs/userguide/redirects/declaring_dependencies_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/releases/migrating/migrating_from_ant.adoc
  platforms/documentation/docs/src/main/resources/header.html
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/groovy/settings.gradle
  platforms/documentation/docs/src/samples/build-organization/composite-builds/basic/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/basic-multiproject/tests/projects.out
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/api/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/buildSrc/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/buildSrc/src/main/groovy/java-common-conventions.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/services/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/groovy/shared/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/api/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/buildSrc/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/buildSrc/src/main/kotlin/java-common-conventions.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/services/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/buildSrc/kotlin/shared/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/multiple-subprojects/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/multiple-subprojects/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/api/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/services/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/groovy/shared/build.gradle
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/api/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/services/build.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/multiproject/no-buildSrc/kotlin/shared/build.gradle.kts
Labels: @dev-productivity

#33535 Fix links for DV docs in User Manual
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/additional/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/performance.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/pmd_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/command_line_interface.adoc
Labels: a:documentation

#33521 Fix symmetrical nullability of Javadoc and TestNGOptions properties
  platforms/jvm/language-java/src/integTest/groovy/org/gradle/api/tasks/javadoc/JavadocIntegrationTest.groovy
  platforms/jvm/language-java/src/main/java/org/gradle/api/tasks/javadoc/Javadoc.java
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testsuites/TestNGOptionsIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/testng/TestNGOptions.java
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: a:chore, in:javadoc-task, in:testing-testng

#33505 Cleanup example to be CC compatible and not resolve during configuration phase
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/groovy/build.gradle
  platforms/documentation/docs/src/snippets/dependencyManagement/artifactTransforms-view/kotlin/build.gradle.kts
Labels: a:chore, a:documentation, re:footguns-and-best-practices

#33510 Clarify some aspects of managed properties
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/snippets/providers/property/groovy/build.gradle
Labels: a:documentation

#33529 Fix using inner classes in precompiled buildscripts
  platforms/core-configuration/base-services-groovy/src/main/java/org/gradle/groovy/scripts/internal/AstUtils.java
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/plugins/PrecompiledGroovyPluginsIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/SubsetScriptTransformer.java
Labels: a:regression

#33546 Update keywords for User Manual search
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/collections.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/dataflow_actions.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/publishing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/declaring_configurations.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/publishing/publishing_gradle_module_metadata.adoc
  platforms/documentation/docs/src/docs/userguide/integration/tooling_api.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/additional/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration_cache.adoc
  platforms/documentation/docs/src/docs/userguide/overview/unused/quick_start.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/reference/isolated_projects.adoc
  platforms/documentation/docs/src/docs/userguide/releases/feature_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/continuous_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/file_system_watching.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/logging.adoc
  platforms/documentation/docs/src/docs/userguide/unused/config_gradle.adoc
  platforms/documentation/docs/src/docs/userguide/unused/gradle_ides.adoc
Labels: a:documentation

#33547 Merge release into master (20250520)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/collections.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/properties_providers.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/dataflow_actions.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/init_scripts.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_binary.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/implementing_gradle_plugins_precompiled.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/publishing_gradle_plugins.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/plugins/reporting_problems.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_configuration_and_execution.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/sharing_build_logic_between_subprojects.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/declaring-dependencies/declaring_configurations.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/publishing/publishing_gradle_module_metadata.adoc
  platforms/documentation/docs/src/docs/userguide/integration/tooling_api.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/additional/incremental_build.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/performance.adoc
  platforms/documentation/docs/src/docs/userguide/overview/unused/quick_start.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/toolchains.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/pmd_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/isolated_projects.adoc
  platforms/documentation/docs/src/docs/userguide/releases/feature_lifecycle.adoc
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/directory_layout.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/command_line_interface.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/continuous_builds.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/file_system_watching.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_daemon.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/logging.adoc
  platforms/documentation/docs/src/docs/userguide/unused/config_gradle.adoc
  platforms/documentation/docs/src/docs/userguide/unused/gradle_ides.adoc
  platforms/jvm/jacoco/src/main/java/org/gradle/testing/jacoco/plugins/JacocoTaskExtension.java
Labels: @dev-productivity

#33538 Revert convention mapping removals
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/Ear.java
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/DefaultSingleFileReport.java
  platforms/software/reporting/src/main/java/org/gradle/api/reporting/internal/SingleDirectoryReport.java
  testing/architecture-test/src/changes/archunit-store/public-api-nullability.txt
Labels: a:chore

#33281 Change some Work execution validations from WARNING to ERROR
  platforms/core-configuration/model-core/src/main/java/org/gradle/internal/properties/annotations/NestedValidationUtil.java
  platforms/core-configuration/model-reflect/src/testFixtures/groovy/org/gradle/internal/reflect/validation/ValidationMessageChecker.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/model/annotations/InputPropertyAnnotationHandler.java
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart1IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/tasks/ValidatePluginsPart2IntegrationTest.groovy
  platforms/extensibility/plugin-development/src/main/java/org/gradle/plugin/devel/tasks/internal/ValidateAction.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/NestedInputIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/execution/DefaultWorkValidationWarningRecorder.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultNodeValidator.java
Labels: a:chore, in:work-validation

#33492 Add Best Practice: Modularize your build
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/app/src/main/java/org/example/CommonsUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/app/src/main/java/org/example/GuavaUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/app/src/main/java/org/example/Main.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/app/src/main/java/org/example/Util.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/app/src/main/java/org/example/CommonsUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/app/src/main/java/org/example/GuavaUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/app/src/main/java/org/example/Main.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/app/src/main/java/org/example/Util.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/tests/modularizeYourBuild-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-avoid/tests/modularizeYourBuild-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/app/src/main/java/org/example/Main.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util-commons/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util-commons/src/main/java/org/example/CommonsUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util-guava/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util-guava/src/main/java/org/example/GuavaUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/groovy/util/src/main/java/org/example/Util.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/app/src/main/java/org/example/Main.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util-commons/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util-commons/src/main/java/org/example/CommonsUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util-guava/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util-guava/src/main/java/org/example/GuavaUtil.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/kotlin/util/src/main/java/org/example/Util.java
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/tests/modularizeYourBuild-do.out
  platforms/documentation/docs/src/snippets/bestPractices/modularizeYourBuild-do/tests/modularizeYourBuild-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33560 Add more sections to Upgrade Guide in User Manual
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#33561 Merge release into master (20250520)
  released-versions.json
Labels: @dev-productivity

#33557 Update tested Kotlin versions
  gradle/dependency-management/kotlin-versions.properties
  platforms/core-execution/execution-e2e-tests/src/integTest/groovy/org/gradle/integtests/NestedInputKotlinImplementationTrackingIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/versions/KotlinGradlePluginVersions.groovy
Labels: a:chore, in:smoke-test, in:performance-test

#33564 Recommend setting no fail on AbstractTestTask
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation, from:contributor

#33572 Update Best Practices: Add other recommendations to the front page
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
Labels: a:documentation

#33575 Merge release into master (20250522)
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  released-versions.json
Labels: @dev-productivity

#33583 Merge release into master (20250522)
  released-versions.json
Labels: @dev-productivity

#33573 Add Best Practice: Use UTF-8 Encoding
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_performance.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/tags_reference.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/build-cache/common_caching_problems.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, re:footguns-and-best-practices

#33576 Prove that Kotlin DSL build scripts are recompiled on `internal` visibility change to `public`
  gradle/detekt.yml
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/AbstractCompileAvoidanceIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/BuildScriptCompileAvoidanceIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/PrecompiledPluginsCompileAvoidanceIntegrationTest.kt
Labels: a:chore, in:kotlin-dsl

#32948 Add environment variable JAVA_HOME toolchain installation supplier
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/DaemonToolchainIntegrationTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  platforms/jvm/jvm-services/src/integTest/groovy/org/gradle/jvm/toolchain/JavaInstallationRegistryIntegrationTest.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJavaInstallationRegistry.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/EnvironmentVariableJavaHomeInstallationSupplier.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/EnvironmentVariableJavaHomeInstallationSupplierTest.groovy
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/AbstractGradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/GradleExecuter.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/executer/NoDaemonGradleExecuter.java
Labels: in:toolchains, from:contributor

#33597 Clarify how the wrapper provisions Gradle versions
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
Labels: in:wrapper, a:documentation, from:contributor

#33601 Prepare for Gradle 7.6.5
  released-versions.json
  version.txt
Labels: a:chore

#31293 Make missing task dependency detection reproducible
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DelegatingFileCollectionStructureVisitor.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionStructureVisitor.java
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/normalization/KotlinCompileClasspathFingerprinter.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  platforms/core-execution/execution/build.gradle.kts
  platforms/core-execution/execution/src/integTest/groovy/org/gradle/internal/execution/IncrementalExecutionIntegrationTest.groovy
  platforms/core-execution/execution/src/integTest/groovy/org/gradle/internal/execution/MutableUnitOfWorkBuilder.groovy
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/ExecutionProblemHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/FileCollectionFingerprinter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/FileCollectionSnapshotter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/InputFingerprinter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/UnitOfWork.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultExecutionProblemHandler.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultInputFingerprinter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/impl/DefaultOutputSnapshotter.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AbstractCaptureStateBeforeExecutionStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/AbstractSkipEmptyWorkStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/IdentifyStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/SkipEmptyIncrementalWorkStep.java
  platforms/core-execution/execution/src/main/java/org/gradle/internal/execution/steps/ValidateStep.java
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/impl/DefaultExecutionProblemHandlerTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/impl/DefaultInputFingerprinterTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/impl/DefaultOutputSnapshotterTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AbstractCaptureStateBeforeExecutionStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/AbstractSkipEmptyWorkStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/IdentifyStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/SkipEmptyIncrementalWorkStepTest.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/SnapshotterFixture.groovy
  platforms/core-execution/execution/src/test/groovy/org/gradle/internal/execution/steps/ValidateStepTest.groovy
  platforms/core-execution/execution/src/testFixtures/groovy/org/gradle/internal/execution/TestExecutionEngineFactory.java
  platforms/software/dependency-management/src/main/java/org/gradle/api/internal/artifacts/transform/DefaultTransform.java
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/MissingTaskDependenciesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/initialization/loadercache/DefaultClasspathHasher.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/TaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/DefaultTaskExecutionContext.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuter.java
  subprojects/core/src/main/java/org/gradle/api/internal/tasks/execution/TaskExecution.java
  subprojects/core/src/main/java/org/gradle/execution/DefaultWorkValidationWarningRecorder.java
  subprojects/core/src/main/java/org/gradle/execution/ProjectExecutionServices.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ExecutionNodeAccessHierarchy.java
  subprojects/core/src/main/java/org/gradle/execution/plan/LocalTaskNodeExecutor.java
  subprojects/core/src/main/java/org/gradle/execution/plan/MissingTaskDependencyDetector.java
  subprojects/core/src/main/java/org/gradle/execution/plan/ResolveMutationsNode.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/classpath/impl/DefaultCompileClasspathFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/AbstractFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/FileCollectionFingerprinterRegistrations.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/IgnoredPathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/NameOnlyFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/fingerprint/impl/RelativePathFileCollectionFingerprinter.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/ExecutionBuildServices.java
  subprojects/core/src/main/java/org/gradle/internal/service/scopes/VirtualFileSystemServices.java
  subprojects/core/src/test/groovy/org/gradle/api/internal/tasks/execution/ExecuteActionsTaskExecuterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/execution/plan/ExecutionNodeAccessHierarchyTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/classpath/impl/DefaultClasspathFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/AbsolutePathFileCollectionFingerprinterTest.groovy
  subprojects/core/src/test/groovy/org/gradle/internal/fingerprint/impl/DefaultFileCollectionSnapshotterTest.groovy
Labels: a:bug, is:must-fix

#33631 Fix broken PMD multiversion tests
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/pmd/PmdPluginToolchainsIntegrationTest.groovy
  platforms/jvm/code-quality/src/testFixtures/groovy/org/gradle/quality/integtest/fixtures/PmdCoverage.groovy
Labels: in:pmd-plugin

#33636 Merge release into master (20250528)
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/scaladoc/ScalaDocIntegrationTest.groovy
Labels: @dev-productivity

#33618 Replace broken links in sample_cross_project_output_sharing.html documentation
  platforms/documentation/docs/src/samples/build-organization/cross-project-output-sharing/README.adoc
Labels: a:documentation, in:multi-projects, from:contributor

#33582 Adjust ConcurrentBuildsArtifactTransformIntegrationTest to test current behaviour of concurrent artifact transforms
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/transform/ConcurrentBuildsArtifactTransformIntegrationTest.groovy
Labels: a:bug, in:artifact-transforms

#33647 doc: Clarify guidelines around getters/setters that wrap Property and/or Provider
  platforms/documentation/docs/src/docs/userguide/authoring-builds/tasks/lazy_configuration.adoc
Labels: a:documentation, from:contributor

#33639 Update XmlTransformerTest to not be sensitive to locales
  subprojects/core/src/test/groovy/org/gradle/internal/xml/XmlTransformerTest.groovy
Labels: in:building-gradle, from:contributor

#33662 Delete unused `BuildExecutionContext.java`
  subprojects/core/src/main/java/org/gradle/execution/BuildExecutionContext.java
Labels: in:scheduler, from:contributor
