Repository gradle/gradle, pull requests merged in 2025-06, with the labels that each got.

#33680 Update test bucket json
  .teamcity/test-buckets.json
Labels: @dev-productivity

#33719 Merge release into master (20250604)
  released-versions.json
Labels: @dev-productivity

#33633 First draft of Groovy 4 release notes / upgrade guide
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation

#33735 Merge release into master (20250605)
  released-versions.json
Labels: @dev-productivity

#33744 Polish `WorkExecutionTracker`
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheProblemsListener.kt
  subprojects/core/src/main/java/org/gradle/internal/execution/DefaultWorkExecutionTracker.java
  subprojects/core/src/main/java/org/gradle/internal/execution/WorkExecutionTracker.java
Labels: in:configuration-cache

#33728 Fix javadoc inconsistencies in PmdExtension
  platforms/jvm/code-quality/src/main/java/org/gradle/api/plugins/quality/PmdExtension.java
Labels: in:pmd-plugin, a:documentation, from:contributor

#33758 Merge release into master (20250606)
  platforms/documentation/docs/src/docs/userguide/dep-man/publishing/publishing_maven.adoc
Labels: @dev-productivity

#33767 Merge release into master (20250606)
  released-versions.json
  testing/integ-test/src/crossVersionTest/groovy/org/gradle/integtests/TaskTransitiveSubclassingBinaryCompatibilityCrossVersionSpec.groovy
Labels: @dev-productivity

#33725 Suppress CC promo if build starts processes at configuration time
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/promo/ConfigurationCachePromoIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheInputsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/InstrumentedInputAccessListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/VintageBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/barrier/BarrierAwareBuildTreeLifecycleControllerFactory.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/barrier/BarrierAwareBuildTreeModelCreator.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/barrier/BarrierAwareBuildTreeWorkPreparer.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/barrier/VintageConfigurationTimeActionRunner.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/barrier/package-info.md
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/promo/PromoInputsListener.kt
Labels: in:configuration-cache

#33763 Upgrade checkstyle used in build to 10.25
  build-logic-commons/code-quality-rules/src/main/resources/checkstyle/checkstyle.xml
  build-logic-commons/gradle-plugin/src/main/kotlin/gradlebuild.code-quality.gradle.kts
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  platforms/core-runtime/base-services/src/main/java/org/gradle/internal/work/DefaultConditionalExecutionQueue.java
  subprojects/core-api/src/main/java/org/gradle/process/ProcessExecutionException.java
Labels: in:building-gradle

#33746 Propagate opt-in requirements to Kotlin DSL accessors
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/compile/OptInAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/dcl/OptInDclAccessorsIntegrationTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorFragments.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/OptInAnnotationsCollector.kt
Labels: a:bug, in:kotlin-dsl

#33709 Test Groovy 5 betas for compiling and testing
  platforms/jvm/code-quality/src/integTest/groovy/org/gradle/api/plugins/quality/AntWorkerMemoryLeakIntegrationTest.groovy
  platforms/jvm/language-groovy/src/integTest/groovy/org/gradle/groovy/compile/GroovyCompileToolchainIntegrationTest.groovy
  platforms/jvm/language-groovy/src/testFixtures/groovy/org/gradle/testing/fixture/GroovyCoverage.groovy
  subprojects/core/src/main/java/org/gradle/util/internal/GroovyDependencyUtil.java
Labels: in:groovy-plugin

#33768 fix typo in organizing_gradle_projects.adoc
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/organizing_gradle_projects.adoc
Labels: a:documentation, from:contributor

#33759 Bump gradle-fileevents to 0.2.8
  packaging/distributions-dependencies/build.gradle.kts
Labels: in:virtual-file-system

#33737 Report configuration cache problems for mustRunAfter, finalizedBy, shouldRunAfter
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheTaskExecutionIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
Labels: a:bug, in:configuration-cache

#33616 Implement removal of `Wrapper.setWrapperVersionsResources` from public API
  platforms/core-runtime/wrapper-main/src/integTest/groovy/org/gradle/integtests/WrapperUpgradeIntegrationTest.groovy
  platforms/software/build-init/build.gradle.kts
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/GradleVersionResolver.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/WrapperVersionsResources.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/DefaultWrapperVersionsResources.java
  platforms/software/build-init/src/main/java/org/gradle/api/tasks/wrapper/internal/GradleVersionResolver.java
  platforms/software/build-init/src/main/java/org/gradle/buildinit/plugins/WrapperPlugin.java
  platforms/software/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/GradleVersionResolverTest.groovy
  platforms/software/build-init/src/test/groovy/org/gradle/api/tasks/wrapper/WrapperTest.groovy
  testing/architecture-test/src/changes/archunit-store/public-api-nullability.txt
Labels: in:wrapper

#33775 Update tested AGP versions
  build-logic/build-update-utils/src/main/kotlin/gradlebuild/buildutils/tasks/UpdateAgpVersions.kt
  build-logic/build-update-utils/src/test/groovy/gradlebuild/buildutils/tasks/UpdateAgpVersionsTest.groovy
  build-logic/integration-testing/src/main/kotlin/gradlebuild/integrationtests/ide/AndroidStudioProvisioningPlugin.kt
  gradle/dependency-management/agp-versions.properties
  gradle/verification-metadata.xml
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractAndroidSantaTrackerSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AbstractKotlinPluginAndroidSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidGradleRecipesKotlinSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/AndroidPluginsSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/PaparazziPluginSmokeTest.groovy
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/WithAndroidDeprecations.groovy
Labels: a:chore, in:smoke-test, in:performance-test

#33020 Fix Daemon toolchain ignoring specified Environment variables via TAPI
  platforms/core-runtime/client-services/src/main/java/org/gradle/launcher/daemon/configuration/DaemonParameters.java
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/ProviderConnection.java
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r88/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r90/DaemonToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r90/JavaCompileToolchainCrossVersionTest.groovy
  platforms/ide/tooling-api/src/testFixtures/groovy/org/gradle/integtests/tooling/fixture/JavaToolchainFixture.groovy
  platforms/jvm/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/DefaultJavaInstallationRegistry.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/DefaultToolchainConfiguration.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/EnvironmentVariableJavaHomeInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/EnvironmentVariableListInstallationSupplier.java
  platforms/jvm/jvm-services/src/main/java/org/gradle/jvm/toolchain/internal/ToolchainConfiguration.java
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/EnvironmentVariableJavaHomeInstallationSupplierTest.groovy
  platforms/jvm/jvm-services/src/test/groovy/org/gradle/jvm/toolchain/internal/EnvironmentVariableListInstallationSupplierTest.groovy
  platforms/jvm/toolchains-jvm/build.gradle.kts
  platforms/jvm/toolchains-jvm/src/main/java/org/gradle/jvm/internal/services/ProviderBackedToolchainConfiguration.java
Labels: in:daemon, in:toolchains, from:contributor

#33814 Add branch prefix for update-jdks
  .github/workflows/update-jdks.yml
Labels: in:building-gradle

#33833 Merge release into master (20250611)
  .teamcity/src/main/kotlin/common/CommonExtensions.kt
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/configurations/GradleBuildConfigurationDefaults.kt
  .teamcity/src/test/kotlin/ApplyDefaultConfigurationTest.kt
  .teamcity/src/test/kotlin/BuildTypeTest.kt
  .teamcity/src/test/kotlin/PerformanceTestBuildTypeTest.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheBuildEventsListenerIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/promo/ConfigurationCacheToolingApiPromoIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/PropertyProblem.kt
  platforms/core-runtime/launcher/src/main/java/org/gradle/tooling/internal/provider/action/BuildActionSerializer.java
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_enabling.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_requirements.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_status.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  subprojects/build-events/build.gradle.kts
  subprojects/build-events/src/main/java/org/gradle/build/event/BuildEventsListenerRegistry.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/BuildEventListenerRegistryInternal.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/BuildEventServices.java
  subprojects/build-events/src/main/java/org/gradle/internal/build/event/DefaultBuildEventsListenerRegistry.java
  subprojects/build-events/src/test/groovy/org/gradle/internal/build/event/DefaultBuildEventsListenerRegistryTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/StartParameterInternal.java
  subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java
Labels: @dev-productivity

#33787 Fix serialization of provider backed relative files/directories with configuration cache
  platforms/core-configuration/core-serialization-codecs/src/main/kotlin/org/gradle/internal/serialize/codecs/core/ProviderCodecs.kt
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/RelativePathFilesIntegrationTest.groovy
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFileCollectionFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/DefaultFilePropertyFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FileCollectionFactory.java
  platforms/core-configuration/file-collections/src/main/java/org/gradle/api/internal/file/FilePropertyFactory.java
Labels: a:bug, in:configuration-cache

#33770 Fix Incorrect link for 'Convention Plugin' reference
  platforms/documentation/docs/src/docs/userguide/reference/glossary.adoc
Labels: a:documentation, from:contributor

#33852 Fix broken link and remove unnecessary test config
  platforms/core-configuration/file-collections/src/integTest/groovy/org/gradle/api/file/RelativePathFilesIntegrationTest.groovy
Labels: a:chore, in:configuration-cache

#33856 Update deprecation timeline in some javadocs
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/delegates/GradleDelegate.kt
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/ExecHandleBuilder.java
  platforms/core-runtime/process-services/src/main/java/org/gradle/process/internal/ExecHandleFactory.java
  subprojects/core-api/src/main/java/org/gradle/api/invocation/Gradle.java
  subprojects/core/src/main/java/org/gradle/api/internal/AbstractTask.java
  subprojects/core/src/main/java/org/gradle/process/internal/AbstractExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecAction.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultExecHandleBuilder.java
  subprojects/core/src/main/java/org/gradle/process/internal/DefaultJavaExecAction.java
Labels: a:documentation

#33795 Split `ClassLoaderScopeSpec` encoding from `Class` encoding
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheClassLoaderScopeRegistryListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheRepository.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintStartParameters.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintWriter.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ClassLoaderScopes.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ClassPathEncodingExtensions.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassDecoder.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/DefaultClassEncoder.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Codec.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Combinators.kt
  platforms/core-configuration/graph-serialization/src/main/kotlin/org/gradle/internal/serialize/graph/Contexts.kt
  platforms/core-runtime/classloaders/src/main/java/org/gradle/internal/classpath/DefaultClassPath.java
Labels: a:chore, in:configuration-cache

#33870 Remove unused TestFrameworkDistributionModule
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkDistributionModule.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: a:chore

#33867 Remove unused artifact/publish classes
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/software/ivy/src/main/java/org/gradle/api/publish/ivy/IvyDependency.java
  platforms/software/maven/src/main/java/org/gradle/api/publish/maven/MavenDependency.java
  subprojects/core-api/src/main/java/org/gradle/api/artifacts/ArtifactIdentifier.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-nullability.txt
Labels: a:chore

#33740 CC Graceful Degradation
  platforms/core-configuration/configuration-cache-base/src/main/kotlin/org/gradle/internal/cc/base/problems/AbstractProblemsListener.kt
  platforms/core-configuration/configuration-cache-base/src/main/kotlin/org/gradle/internal/cc/base/problems/IgnoringProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheGracefulDegradationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheDegradationController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/initialization/ConfigurationCacheProblemsListener.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/promo/ConfigurationCachePromoHandler.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsSummaryTest.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/cc/impl/problems/ProblemSeverity.kt
  platforms/core-configuration/configuration-problems-base/src/main/kotlin/org/gradle/internal/configuration/problems/ProblemsListener.kt
  subprojects/core/src/main/java/org/gradle/api/internal/ConfigurationCacheDegradationController.java
  subprojects/core/src/main/java/org/gradle/execution/plan/DefaultExecutionPlan.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/configurationcache/ConfigurationCacheProblemsFixture.groovy
Labels: a:feature, has:release-notes-decision, pending:release-notes

#33817 Gracefully degradate AntTarget task
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheAntIntegrationTest.groovy
  platforms/documentation/docs/src/docs/userguide/authoring-builds/other/ant.adoc
  platforms/documentation/samples/src/integTest/groovy/org/gradle/integtests/samples/antmigration/SamplesAntImportIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/internal/project/ant/AntImportBuildIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/tasks/ant/AntTarget.java
  testing/integ-test/src/integTest/groovy/org/gradle/integtests/AntProjectIntegrationTest.groovy
Labels: a:chore, in:configuration-cache

#33868 Fix synthetic property access for Exec.args
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/ExecKotlinDSLIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/tasks/AbstractExecTask.java
  subprojects/core/src/main/java/org/gradle/api/tasks/Exec.java
  testing/architecture-test/src/changes/accepted-changes/accepted-public-api-changes.json
  testing/architecture-test/src/changes/archunit-store/public-api-symmetrical-accessors-nullability.txt
Labels: a:bug, in:kotlin-dsl, in:exec-tasks

#33893 Merge release into master (20250615)
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheBuildOperationsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheClassLoaderValidationIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheCompositeBuildsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheBuildTreeIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/ConfigurationCacheState.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCache.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheIO.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ClassLoaderScopesFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheFingerprintStartParameters.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/fingerprint/ConfigurationCacheInputFileChecker.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ClassLoaderScopes.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/serialize/ClassPathEncodingExtensions.kt
  released-versions.json
Labels: @dev-productivity

#33894 Avoid visiting all work graph nodes to collect graceful degradation reasons
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheDegradationController.kt
  platforms/ide/ide/src/testFixtures/groovy/org/gradle/plugins/ide/fixtures/AbstractMultiBuildIdeIntegrationTest.groovy
Labels: a:chore, in:configuration-cache

#33896 Merge release into master (20250616)
  platforms/core-configuration/base-diagnostics/build.gradle.kts
  platforms/core-configuration/base-diagnostics/src/main/java/org/gradle/api/reporting/model/ModelReport.java
  platforms/core-configuration/base-diagnostics/src/test/groovy/org/gradle/api/reporting/model/ModelReportParserTest.groovy
  platforms/core-configuration/base-diagnostics/src/testFixtures/groovy/org/gradle/api/reporting/model/ModelReportParser.groovy
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheCompositeBuildsIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultBuildTreeModelControllerServices.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/DefaultConfigurationCacheDegradationController.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblems.kt
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsSummary.kt
  platforms/core-configuration/configuration-cache/src/test/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsDegradationSummaryTest.kt
  platforms/core-configuration/kotlin-dsl-integ-tests/src/integTest/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  platforms/ide/ide/src/testFixtures/groovy/org/gradle/plugins/ide/fixtures/AbstractMultiBuildIdeIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/cpp/CppDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftDependenciesCppInteroperabilityIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/language/swift/SwiftDependenciesIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/swiftpm/SwiftPackageManagerDependencyMappingIntegrationTest.groovy
  platforms/native/language-native/src/integTest/groovy/org/gradle/swiftpm/SwiftPackageManagerIncrementalExportIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/NativeBinariesIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/PlatformNativeComponentReportIntegrationTest.groovy
  platforms/native/platform-native/src/integTest/groovy/org/gradle/nativeplatform/platform/BinaryNativePlatformIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitComponentReportIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/cunit/CUnitSamplesIntegrationTest.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/googletest/TestingNativeComponentReportIntegrationTest.groovy
  platforms/software/software-diagnostics/build.gradle.kts
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/components/DiagnosticsComponentReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/DetailedModelReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/ModelReportIntegrationTest.groovy
  platforms/software/software-diagnostics/src/integTest/groovy/org/gradle/api/reporting/model/ModelReportTaskIntegrationTest.groovy
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/reporting/components/ComponentReport.java
  platforms/software/software-diagnostics/src/main/java/org/gradle/api/reporting/dependents/DependentComponentsReport.java
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/git/internal/SourceDependencyCleanupIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/AbstractSourceDependencyIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/AbstractSourceDependencyMultiprojectIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/GitVcsIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/GitVersionSelectionIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/MappingSourceDependencyMultiprojectIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/NestedSourceDependencyIdentityIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/NestedSourceDependencyIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/OfflineSourceDependencyIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/RemoteSourceDependencyIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/SourceDependencyBuildLookupIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/SourceDependencyBuildOperationIntegrationTest.groovy
  platforms/software/version-control/src/integTest/groovy/org/gradle/vcs/internal/SourceDependencyIdentityIntegrationTest.groovy
  released-versions.json
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/GroupedOutputFixture.java
  testing/internal-integ-testing/src/test/groovy/org/gradle/integtests/fixtures/logging/GroupedOutputFixtureTest.groovy
Labels: @dev-productivity

#33895 Fix incorrect stacktrace option documentation
  platforms/documentation/docs/src/docs/userguide/running-builds/features/logging.adoc
Labels: a:documentation, from:contributor

#33878 Polish configuration of default permissions in AbstractArchiveTask
  subprojects/core/src/main/java/org/gradle/api/tasks/bundling/AbstractArchiveTask.java
Labels: a:chore, in:file-tasks

#33902 TeamCity: increase timeout for NoDaemon tests as dependency-management can't finish in time on Windows any more
  .teamcity/settings.kts
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: a:chore, @dev-productivity

#33423 Don't hide test framework startup failures in reports
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r900/TestFailureProgressEventCrossVersionTest.groovy
  platforms/jvm/testing-junit-platform/build.gradle.kts
  platforms/jvm/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/AbstractJUnitTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestFrameworkMissingDependenciesIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestProcessingStartupFailureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformEnvironmentIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/testFixtures/groovy/org/gradle/testing/fixture/TestFrameworkStartupTestFixture.groovy
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestFailure.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/RequiresTestFrameworkTestClassProcessor.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/SuiteTestClassProcessor.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkFailureDetails.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkStartupFailureException.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestSuiteExecutionException.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestEventSerializer.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/tasks/testing/TestFailureDetails.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/processors/TestMainAction.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/StateTrackingTestResultProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestListener.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/TestMainActionTest.groovy
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: in:testing, a:feature, in:testing-junit5, in:testing-junit4, in:testing-testng, re:comprehensibility

#33790 Add Best Practice: Avoid creating empty projects
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/groovy/app/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/groovy/subs/web/my-web-module/build.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/kotlin/subs/web/my-web-module/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/tests/avoidEmptyProjects-avoid.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-avoid/tests/avoidEmptyProjects-avoid.sample.conf
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/groovy/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/groovy/settings.gradle
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/groovy/subs/web/my-web-module/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/kotlin/app/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/kotlin/settings.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/kotlin/subs/web/my-web-module/build.gradle.kts
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/tests/avoidEmptyProjects-do.out
  platforms/documentation/docs/src/snippets/bestPractices/avoidEmptyProjects-do/tests/avoidEmptyProjects-do.sample.conf
Labels: a:documentation, re:footguns-and-best-practices

#33791 Update Best Practices: Add structuring builds page
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_structuring_builds.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, re:footguns-and-best-practices

#33909 Merge release into master (20250617)
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r900/TestFailureProgressEventCrossVersionTest.groovy
  platforms/jvm/testing-junit-platform/build.gradle.kts
  platforms/jvm/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/AbstractJUnitTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/junit/JUnitTestClassProcessor.java
  platforms/jvm/testing-jvm-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/testng/TestNGTestClassProcessor.java
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestFrameworkMissingDependenciesIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestProcessingStartupFailureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformEnvironmentIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/testFixtures/groovy/org/gradle/testing/fixture/TestFrameworkStartupTestFixture.groovy
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestFailure.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/RequiresTestFrameworkTestClassProcessor.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/SuiteTestClassProcessor.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkFailureDetails.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkStartupFailureException.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestSuiteExecutionException.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestEventSerializer.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/tasks/testing/TestFailureDetails.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/processors/TestMainAction.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/StateTrackingTestResultProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/TestListener.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/TestMainActionTest.groovy
  released-versions.json
  subprojects/core/src/main/java/org/gradle/api/tasks/bundling/AbstractArchiveTask.java
  testing/architecture-test/src/changes/archunit-store/internal-api-nullability.txt
Labels: @dev-productivity

#33838 Prep Upgrade Guide and Release Notes for Gradle 9 RC1
  platforms/core-runtime/launcher/src/main/resources/release-features.txt
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/release/release-notes-assets/config_cache_enable_prompt.png
  platforms/documentation/docs/src/docs/release/release-notes-assets/help_after_nonABI_change_in_buildSrc.png
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
Labels: a:chore

#33910 Merge release into master (20250617)
  platforms/core-runtime/launcher/src/integTest/groovy/org/gradle/launcher/daemon/server/scaninfo/DaemonScanInfoIntegrationSpec.groovy
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/documentation/docs/src/docsTest/java/org/gradle/docs/samples/bucket/Buckets.java
  testing/internal-integ-testing/src/main/groovy/org/gradle/integtests/fixtures/logging/DiscardingConnectionMessageRemovalOutputNormalizer.groovy
Labels: @dev-productivity

#33914 release8x
  .teamcity/pom.xml
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: a:chore, @dev-productivity

#33906 Fix Groovy code snippets in How to Align Dependency Versions in Gradle page
  platforms/documentation/docs/src/docs/userguide/dep-man/how-to/how_to_align_dependency_versions.adoc
  platforms/documentation/docs/src/snippets/how-to/aligning-versions/groovy/build.gradle
  platforms/documentation/docs/src/snippets/how-to/aligning-versions/kotlin/build.gradle.kts
Labels: in:dependency-declarations, a:documentation, from:contributor

#33917 Merge release into master (20250617)
  .teamcity/pom.xml
  .teamcity/src/main/kotlin/common/VersionedSettingsBranch.kt
  .teamcity/src/main/kotlin/configurations/CheckLinks.kt
  .teamcity/src/main/kotlin/configurations/DocsTest.kt
  .teamcity/src/main/kotlin/model/CIBuildModel.kt
Labels: @dev-productivity

#33908 Update documentation links to point to Kotlin DSL reference docs
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_structuring_builds.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_tasks.adoc
Labels: a:documentation, re:footguns-and-best-practices

#33889 Update Best Practices: Add status page
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_general.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_index.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation, re:footguns-and-best-practices

#33921 Update CC compatibility matrix after graceful degradation adopted
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_status.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/eclipse_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/idea_plugin.adoc
Labels: a:documentation

#33926 Merge release into master (20250618)
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache_status.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/eclipse_plugin.adoc
  platforms/documentation/docs/src/docs/userguide/reference/core-plugins/idea_plugin.adoc
  released-versions.json
Labels: @dev-productivity

#33932 Fix upgrade guide for Gradle 9
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
Labels: a:documentation, from:contributor

#33922 Update Best Practices: Revise Version Catalog BP
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_dependencies.adoc
Labels: a:documentation, re:footguns-and-best-practices

#33955 Merge release into master (20250620)
  platforms/documentation/docs/src/docs/userguide/releases/compatibility.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  released-versions.json
Labels: @dev-productivity

#32786 Implement 'Copy' button for "code" areas in HTML test reports
  platforms/core-runtime/report-rendering/build.gradle.kts
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/CodePanelRenderer.java
  platforms/core-runtime/report-rendering/src/main/java/org/gradle/reporting/HtmlWriterTools.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/ClassPageRenderer.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/report/generic/PerRootTabRenderer.java
  platforms/software/testing-base/src/main/resources/org/gradle/api/internal/tasks/testing/report/generic/style.css
  platforms/software/testing-base/src/main/resources/org/gradle/api/internal/tasks/testing/report/style.css
  subprojects/core/src/main/java/org/gradle/internal/html/SimpleHtmlWriter.java
  subprojects/core/src/main/resources/org/gradle/reporting/report.js
Labels: in:testing, from:contributor

#33935 Correct 'can not' to 'cannot' in Kotlin DSL error message
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/execution/Lexer.kt
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/execution/TopLevelBlockExtractionTest.kt
Labels: in:kotlin-dsl, from:contributor

#33978 Merge release into master (20250624)
  build-logic/documentation/src/main/groovy/gradlebuild/docs/GradleUserManualPlugin.java
  platforms/documentation/docs/src/docs/dsl/org.gradle.api.tasks.testing.Test.xml
  platforms/documentation/docs/src/docs/userguide/releases/installation.adoc
  platforms/documentation/docs/src/docs/userguide/releases/troubleshooting.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_daemon.adoc
  released-versions.json
Labels: @dev-productivity

#33980 docs(userguide): Remove a superfluous "Step" prefix
  platforms/documentation/docs/src/docs/userguide/dep-man/how-to/how_to_upgrade_transitive_dependencies.adoc
Labels: a:documentation, from:contributor

#33986 Avoid duplicating exceptions in CC build failures
  platforms/core-configuration/configuration-cache/src/integTest/groovy/org/gradle/internal/cc/impl/ConfigurationCacheProblemReportingIntegrationTest.groovy
  platforms/core-configuration/configuration-cache/src/main/kotlin/org/gradle/internal/cc/impl/problems/ConfigurationCacheProblemsSummary.kt
Labels: a:chore, in:configuration-cache

#34010 Merge release into master (20250626)
  released-versions.json
Labels: @dev-productivity

#33973 Add overview of CC problem handling
  platforms/core-configuration/configuration-cache/readme.md
Labels: in:configuration-cache, a:documentation

#34022 Update Wrapper validation GH action link
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
Labels: a:documentation

#33994 Fix documentation on resolving specific artifacts
  platforms/documentation/docs/src/docs/userguide/dep-man/controlling-dependency-resolution/resolving_specific_artifacts.adoc
  platforms/documentation/docs/src/docs/userguide/dep-man/how-to/how_to_resolve_specific_artifacts.adoc
  platforms/documentation/docs/src/main/resources/header.html
Labels: a:documentation

#34033 Merge release into master (20250627)
  platforms/core-runtime/tooling-api-provider/src/main/java/org/gradle/tooling/internal/provider/DefaultConnection.java
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/working_with_files.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/documentation/docs/src/docs/userguide/running-builds/features/gradle_wrapper.adoc
  platforms/documentation/docs/src/snippets/files/copy/groovy/build.gradle
  platforms/documentation/docs/src/snippets/files/copy/kotlin/build.gradle.kts
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/GradleConnector.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java
  platforms/ide/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DefaultGradleConnector.java
  released-versions.json
Labels: @dev-productivity

#33952 De-incubate Project.getDependencyFactory()
  platforms/documentation/docs/src/docs/release/notes.md
  platforms/documentation/docs/src/docs/userguide/authoring-builds/gradle-properties/service_injection.adoc
  subprojects/core-api/src/main/java/org/gradle/api/Project.java
Labels: a:feature, in:dependency-declarations

#34044 Merge release into master (20250628)
  platforms/documentation/docs/src/docs/userguide/platforms/jvm/java_testing.adoc
  platforms/documentation/docs/src/docs/userguide/platforms/native/native_software.adoc
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_8.adoc
  platforms/ide/tooling-api/src/crossVersionTest/groovy/org/gradle/integtests/tooling/r900/TestFailureProgressEventCrossVersionTest.groovy
  platforms/jvm/testing-jvm/build.gradle.kts
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestFrameworkMissingDependenciesIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/TestProcessingStartupFailureIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/AbstractJUnitTestExecutionIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/junit4/JUnit4TestExecutionIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/jupiter/JUnitJupiterTestExecutionIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/platform/JUnitPlatformIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/junit/vintage/JUnitVintageTestExecutionIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/integTest/groovy/org/gradle/testing/testng/TestNGIntegrationTest.groovy
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/internal/tasks/testing/detection/DefaultTestExecuter.java
  platforms/jvm/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java
  platforms/jvm/testing-jvm/src/testFixtures/groovy/org/gradle/testing/fixture/TestFrameworkStartupTestFixture.groovy
  platforms/native/testing-native/src/integTest/groovy/org/gradle/nativeplatform/test/xctest/SwiftXCTestErrorHandlingIntegrationTest.groovy
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/DefaultTestFailure.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestFrameworkFailureDetails.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/TestWorkerFailureException.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/internal/tasks/testing/worker/TestEventSerializer.java
  platforms/software/testing-base-infrastructure/src/main/java/org/gradle/api/tasks/testing/TestFailureDetails.java
  platforms/software/testing-base/build.gradle.kts
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/TestCountLogger.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/processors/TestMainAction.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/results/StateTrackingTestResultProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessor.java
  platforms/software/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/logging/TestCountLoggerTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/processors/TestMainActionTest.groovy
  platforms/software/testing-base/src/test/groovy/org/gradle/api/internal/tasks/testing/worker/ForkingTestClassProcessorTest.groovy
  released-versions.json
  subprojects/core-api/src/main/java/org/gradle/api/initialization/ProjectDescriptor.java
Labels: @dev-productivity

#33995 Fix documentation for Project Properties priority
  platforms/documentation/docs/src/docs/userguide/running-builds/build_environment.adoc
Labels: a:documentation

#34006 Test documentation to embed YouTube Gradle videos
  platforms/documentation/docs/src/docs/userguide/dep-man/centralizing-dependencies/version_catalogs.adoc
Labels: a:documentation

#34008 Update documentation by removing and adding search keywords
  platforms/documentation/docs/src/docs/userguide/authoring-builds/structuring/multi_project_builds.adoc
  platforms/documentation/docs/src/docs/userguide/best-practices/best_practices_structuring_builds.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/build-cache/build_cache.adoc
  platforms/documentation/docs/src/docs/userguide/optimizing-builds/configuration-cache/configuration_cache.adoc
Labels: a:documentation

#34001 Deprecate the archives configuration
  platforms/documentation/docs/src/docs/userguide/releases/upgrading/upgrading_version_9.adoc
  platforms/extensibility/plugin-development/src/integTest/groovy/org/gradle/plugin/devel/variants/GradlePluginWithVariantsPublicationIntegrationTest.groovy
  platforms/jvm/ear/build.gradle.kts
  platforms/jvm/ear/src/main/java/org/gradle/plugins/ear/EarPlugin.java
  platforms/jvm/plugins-java/build.gradle.kts
  platforms/jvm/plugins-java/src/main/java/org/gradle/api/plugins/JavaPlugin.java
  platforms/jvm/scala/src/integTest/groovy/org/gradle/scala/ScalaPluginIntegrationTest.groovy
  platforms/jvm/war/build.gradle.kts
  platforms/jvm/war/src/main/java/org/gradle/api/plugins/WarPlugin.java
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/PluginVariantResolveIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/integtests/resolve/api/ConfigurationRoleUsageIntegrationTest.groovy
  platforms/software/dependency-management/src/integTest/groovy/org/gradle/plugin/devel/variants/TargetJVMVersionOnPluginTooNewFailureDescriberIntegrationTest.groovy
  platforms/software/dependency-management/src/test/groovy/org/gradle/api/internal/artifacts/configurations/DefaultConfigurationSpec.groovy
  platforms/software/ivy/src/integTest/groovy/org/gradle/api/publish/ivy/IvyPublishJavaIntegTest.groovy
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/plugins/ArchivesConfigurationDeprecationIntegrationTest.groovy
  platforms/software/platform-base/src/integTest/groovy/org/gradle/api/plugins/BasePluginIntegrationTest.groovy
  platforms/software/platform-base/src/main/java/org/gradle/api/plugins/BasePlugin.java
  platforms/software/plugins-distribution/build.gradle.kts
  platforms/software/plugins-distribution/src/main/java/org/gradle/api/distribution/plugins/DistributionBasePlugin.java
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningConfigurationsIntegrationSpec.groovy
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningDistributionsIntegrationSpec.groovy
  platforms/software/signing/src/integTest/groovy/org/gradle/plugins/signing/SigningIntegrationSpec.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/ConfigurationOnDemandIntegrationTest.groovy
  subprojects/core/src/integTest/groovy/org/gradle/api/file/TaskFilePropertiesIntegrationTest.groovy
  subprojects/core/src/main/java/org/gradle/api/internal/artifacts/configurations/ConfigurationRolesForMigration.java
  testing/smoke-test/src/smokeTest/groovy/org/gradle/smoketests/KotlinMultiplatformPluginSmokeTest.groovy
Labels: a:chore, in:lifecycle-tasks
